Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

feat(wework): add task reminders and tray status (#1795)
  pnpm-lock.yaml
  wework/package.json
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/lib.rs
  wework/src/api/local/codexUsage.test.ts
  wework/src/api/local/codexUsage.ts
  wework/src/components/layout/DesktopSettingsMenu.test.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskNotificationContent.test.ts
  wework/src/features/workbench/runtimeTaskNotificationContent.ts
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/features/workbench/runtimeTaskSystemNotifications.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/WorkbenchPage.tsx
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
  wework/src/tauri/trayMenuState.test.ts
  wework/src/tauri/trayMenuState.ts
  wework/src/tauri/trayNavigation.test.ts
Due: none

fix(wework): clean archived conversations in background
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/store.rs
  executor/tests/app_runtime_work_contract.rs
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/settings/ArchivedConversationsSettingsPage.test.tsx
  wework/src/components/settings/ArchivedConversationsSettingsPage.tsx
  wework/src/components/settings/archivedConversationsSettingsState.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): clean archived conversations in background (#1796)
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/store.rs
  executor/tests/app_runtime_work_contract.rs
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/settings/ArchivedConversationsSettingsPage.test.tsx
  wework/src/components/settings/ArchivedConversationsSettingsPage.tsx
  wework/src/components/settings/archivedConversationsSettingsState.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor

fix: address review feedback — 当前仓库里没有app/api/deps 这个路径吧，是不是写错了
  backend/app/api/endpoints/internal/tables.py
Due: wegent-backend

feat(wework): unify cloud runtime IPC
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/wework_runtime_namespace.py
  backend/app/main.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/local/backend.rs
  wework/src/api/backend/runtimeIpc.ts
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
Due: wegent-executor, wegent-backend

feat: 迁移tasks subtasks数据
  backend/scripts/migrate_legacy_task_shards.py
  backend/wecode/task_sharding/legacy_migration.py
  backend/wecode/task_sharding/subtask_store.py
  backend/wecode/task_sharding/task_store.py
  backend/wecode/tests/task_sharding/test_legacy_migration.py
  backend/wecode/tests/task_sharding/test_subtask_store.py
  backend/wecode/tests/task_sharding/test_task_store.py
Due: wegent-backend

feat(wework): add about settings page
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/vite-env.d.ts
  wework/vite.config.ts
Due: none

feat(wework): add about settings page (#1798)
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/vite-env.d.ts
  wework/vite.config.ts
Due: none

feat(projects): support remote device workspace paths
  backend/app/schemas/project.py
  backend/app/services/chat/task_device_resolution.py
  backend/app/services/device/command_service.py
  backend/app/services/execution/request_builder.py
  backend/tests/schemas/test_project_config_schema.py
  backend/tests/services/chat/test_task_device_resolution.py
  backend/tests/services/execution/test_request_builder_standalone_workspace.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/developer-guide/local-device-command-rpc.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/local-device-command-rpc.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  frontend/src/__tests__/features/projects/components/ProjectCreateDialog.test.tsx
  frontend/src/apis/devices.ts
  frontend/src/features/devices/utils/execution-target.ts
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/features/feed/components/subscription-form/SendAreaSection.tsx
  frontend/src/features/projects/components/ProjectCreateDialog.tsx
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

feat(wework): 修复云端同步功能
  AGENTS.md
  wework/src/api/executorAccess.test.ts
  wework/src/api/executorAccess.ts
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: none

fix(wework): honor custom model context window
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/src/server/mod.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/model-settings/localModelConnectionTest.test.ts
  wework/src/features/model-settings/localModelConnectionTest.ts
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeContextUsage.test.ts
  wework/src/features/workbench/runtimeContextUsage.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): honor custom model context window (#1799)
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/src/server/mod.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/model-settings/localModelConnectionTest.test.ts
  wework/src/features/model-settings/localModelConnectionTest.ts
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeContextUsage.test.ts
  wework/src/features/workbench/runtimeContextUsage.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor

feat(wework): add local proxy settings
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/src/server/mod.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/components/settings/ProxySettingsPage.tsx
  wework/src/features/model-settings/localProxySettings.test.ts
  wework/src/features/model-settings/localProxySettings.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

feat(wework): add local proxy settings (#1801)
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/src/server/mod.rs
  wework/src/api/local/codexUsage.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/components/settings/ProxySettingsPage.tsx
  wework/src/features/model-settings/localProxySettings.test.ts
  wework/src/features/model-settings/localProxySettings.ts
  wework/src/features/workbench/runtimeTaskNotificationContent.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/WorkbenchPage.tsx
  wework/src/tauri/trayMenuState.ts
Due: wegent-executor

feat(wework): 修复云端同步功能
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/types/api.ts
Due: none

ci(wework): build test artifacts before release
  .github/workflows/wework-app.yml
Due: none

ci(wework): build test artifacts before release (#1802)
  .github/workflows/wework-app.yml
Due: none

fix(archive): raise workspace archive size limit and drop redundant clone
  backend/app/core/config.py
  backend/tests/core/test_config.py
  executor/src/server/mod.rs
  executor_manager/routers/routers.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(wework): expose app update reminder
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/styles/globals.css
Due: none

fix(executor): mark successful mcp tool calls done
  executor/src/runtime_work/runtime_handle_messages.rs
  executor/src/runtime_work/transcript.rs
Due: wegent-executor

feat(wework): add local workspace cli launcher
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  wework/src-tauri/src/lib.rs
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/tauri/localWorkspaceOpen.test.ts
  wework/src/tauri/localWorkspaceOpen.ts
Due: none

feat(wework): add local workspace cli launcher (#1807)
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  wework/src-tauri/src/lib.rs
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/tauri/localWorkspaceOpen.test.ts
  wework/src/tauri/localWorkspaceOpen.ts
Due: none

fix(executor): mark successful mcp tool calls done (#1806)
  executor/src/runtime_work/runtime_handle_messages.rs
  executor/src/runtime_work/transcript.rs
Due: wegent-executor

fix(wework): expose app update reminder (#1805)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/styles/globals.css
Due: none

fix(wework): stream codex tool output deltas
  executor/src/runtime_work/events.rs
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/stream/responseApiStream.test.ts
  wework/src/stream/responseApiStream.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): stream codex tool output deltas (#1808)
  executor/src/runtime_work/events.rs
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/stream/responseApiStream.test.ts
  wework/src/stream/responseApiStream.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): keep task completion reminders unread
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): keep task completion reminders unread (#1809)
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix: clean missing rollout archive records
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/store.rs
  executor/tests/app_runtime_work_contract.rs
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
Due: wegent-executor

docs(wework): fix e2e mock url formatting
  docs/en/developer-guide/wework-e2e-automation.md
  docs/zh/developer-guide/wework-e2e-automation.md
Due: none

docs(wework): fix e2e mock url formatting (#1810)
  docs/en/developer-guide/wework-e2e-automation.md
  docs/zh/developer-guide/wework-e2e-automation.md
Due: none

fix: clean missing rollout archive records (#1811)
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/store.rs
  executor/tests/app_runtime_work_contract.rs
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
Due: wegent-executor

fix(wework): mark focused runtime task read
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
Due: none

fix(executor): stop codex env-driven restarts
  docs/en/developer-guide/local-device-architecture.md
  docs/zh/developer-guide/local-device-architecture.md
  executor/src/agents/codex.rs
Due: wegent-executor

fix(executor): stop codex env-driven restarts (#1812)
  docs/en/developer-guide/local-device-architecture.md
  docs/zh/developer-guide/local-device-architecture.md
  executor/src/agents/codex.rs
Due: wegent-executor

fix(wework): mark focused runtime task read (#1813)
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
Due: none

fix(wework): forward cli workspace paths to running app
  wework/src-tauri/src/lib.rs
Due: none

fix(wework): forward cli workspace paths to running app (#1814)
  wework/src-tauri/src/lib.rs
Due: none

feat(wework): 修复云端同步功能
  wework/src-tauri/src/local_executor.rs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/projects/StandaloneProjectDialogs.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
  wework/src/lib/device-capabilities.ts
  wework/src/tauri/localExecutor.ts
  wework/src/types/devices.ts
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
