Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(backend): keep embedded celery from rebinding the socketio singleton
  backend/app/tasks/robot_queue_tasks.py
Due: wegent-backend

ci: prewarm macOS Rust and fix sidecar discovery (#2501)
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

feat(converter): add staging upload + gemini call success/failure metrics
  knowledge_doc_converter/knowledge_doc_converter/core/multimodal_metrics.py
  knowledge_doc_converter/knowledge_doc_converter/tasks/multimodal_task.py
Due: none

fix(wework): change toolbar clear cache to clear cache and storage
  wework/src-tauri/src/embedded_browser/data_clearing.rs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/embedded-browser.ts
Due: none

fix(ci): resolve merge fallout blocking pre-push checks
  executor/src/local/capabilities.rs
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/plugins/builtinPlugins.ts
Due: wegent-executor

fix(knowledge): write the wiki tables the way production declares them
  backend/app/models/wiki.py
  backend/app/services/knowledge/code_wiki/registry.py
  backend/app/services/wiki_service.py
  backend/tests/api/test_knowledge_code_wiki.py
Due: wegent-backend

fix(knowledge): say what actually went wrong when creating a code wiki fails
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/services/knowledge/knowledge_service.py
Due: wegent-backend

fix(wework): restore legacy executor home migration after main merge
  wework/src-tauri/src/local_executor.rs
Due: none

fix(executor): keep skill store under the manifest home
  executor/src/local/capabilities.rs
  executor/tests/local_capability_sync_contract.rs
Due: wegent-executor

fix(knowledge): the update branch was writing the same NULL as the insert
  backend/app/services/wiki_service.py
  backend/tests/services/knowledge/code_wiki/test_content_write.py
Due: wegent-backend

fix(wework): invalidate plugin readState cache after local mutations
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
Due: none

style(executor): rustfmt capability sync contract test
  executor/tests/local_capability_sync_contract.rs
Due: wegent-executor

refactor(plugins): drop out-of-scope runtime changes from marketplace branch
  docs/en/wework/developer-guide/wework-local-data-directory.md
  docs/zh/wework/developer-guide/wework-local-data-directory.md
  executor/src/local/capabilities.rs
  executor/tests/local_capability_sync_contract.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/features/plugins/builtinPlugins.test.ts
  wework/src/features/plugins/builtinPlugins.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: wegent-executor

fix(executor): load Codex apps on demand
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/server/codex_model_catalog.rs
  executor/src/server/codex_responses_proxy_transform.rs
  executor/src/server/local_model_proxy/anthropic.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  shared/assets/codex-models/openai.json
  wework/src/api/local/localServices.test.ts
  wework/src/features/model-settings/localModelCatalog.test.ts
  wework/src/features/model-settings/localModelCatalog.ts
Due: wegent-executor-manager, wegent-executor

Fix/wiki tables not null (#2502)
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/models/wiki.py
  backend/app/services/knowledge/code_wiki/registry.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/wiki_service.py
  backend/tests/api/test_knowledge_code_wiki.py
  backend/tests/services/knowledge/code_wiki/test_content_write.py
Due: wegent-backend

docs: explain deferred Codex app tools
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
Due: none

fix(executor): preserve structured app tool results
  executor/src/runtime_work/transcript.rs
  executor/src/server/local_model_proxy/anthropic.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
Due: wegent-executor

fix(executor): harden app tool bridging
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
Due: wegent-executor

fix(wework): hide Sites connector from composer plugin picker
  wework/src/features/plugins/builtinPlugins.test.ts
  wework/src/features/plugins/builtinPlugins.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

test(wework): discover MCP tools on demand
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(plugins): address CodeRabbit findings on marketplace sync
  backend/app/api/endpoints/installed_plugins.py
  backend/app/services/plugin_device_installation_service.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  executor/src/local/capabilities.rs
  wework/src/api/local/codexPlugins.ts
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/pluginOwnerActions.test.ts
  wework/src/components/plugins/pluginOwnerActions.ts
  wework/src/features/plugins/pluginMarketplaceCache.test.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
Due: wegent-executor, wegent-backend

test(wework): accept function tool search encoding
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

test(wework): parse bridged tool search output
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

test(wework): count plugin discovery turn
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(executor): load Codex apps on demand (#2503)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/transcript.rs
  executor/src/server/codex_model_catalog.rs
  executor/src/server/codex_responses_proxy_transform.rs
  executor/src/server/local_model_proxy/anthropic.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  shared/assets/codex-models/openai.json
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/features/model-settings/localModelCatalog.test.ts
  wework/src/features/model-settings/localModelCatalog.ts
Due: wegent-executor-manager, wegent-executor

chore(wework): upgrade bundled codex to 0.147.0
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/codex-binaries.lock.json
Due: none

fix(wework): persist retry turn replacement
  .github/workflows/wework-e2e.yml
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): isolate memory e2e setup
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

chore(wework): upgrade bundled Codex to 0.147.0 (#2498)
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  wework/codex-binaries.lock.json
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/types/api.ts
Due: wegent-executor

feat(wework): collapse composer plugin picker to an icon after a conversation starts
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/AddContextMenu.tsx
  wework/src/components/chat/composer/ComposerToolbar.test.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/PluginPickerMenu.test.tsx
  wework/src/components/chat/composer/PluginPickerMenu.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/components/ui/tooltip.test.tsx
  wework/src/components/ui/tooltip.tsx
Due: none

feat(wework): collapse composer plugin picker to an icon after a conversation starts (#2506)
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/AddContextMenu.tsx
  wework/src/components/chat/composer/ComposerToolbar.test.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/PluginPickerMenu.test.tsx
  wework/src/components/chat/composer/PluginPickerMenu.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/components/ui/tooltip.test.tsx
  wework/src/components/ui/tooltip.tsx
Due: none

fix(wework): keep viewed images out of message artifacts
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: none

fix(wework): keep viewed images out of message artifacts (#2507)
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: none

fix(wework): stabilize on-demand app tools
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/browser_mcp/tests.rs
  executor/src/browser_mcp/tools.rs
  executor/src/server/local_model_proxy/anthropic.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
Due: wegent-executor

docs(wework): document on-demand app tools
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
Due: none

fix(wework): keep right panel at stable width
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): close browser routing edge cases
  executor/src/browser_mcp/tests.rs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
