Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(frontend): count DingTalk selections in mobile picker
  frontend/src/__tests__/features/knowledge/external-knowledge-source-registry.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/tasks/components/chat/ContextSelector.tsx
Due: wegent-web

refactor(frontend): centralize knowledge picker navigation
  frontend/e2e/pages/tasks/provider-native-knowledge.page.ts
  frontend/e2e/tests/tasks/provider-native-dingtalk.spec.ts
  frontend/src/__tests__/features/knowledge/external-knowledge-source-registry.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/tasks/components/chat/AddContextButton.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePickerResponsive.tsx
  frontend/src/features/tasks/components/chat/useKnowledgePickerNavigation.ts
Due: wegent-web

test(frontend): separate external pagination and picker rendering
  frontend/src/__tests__/features/knowledge/external-knowledge-source-registry.test.tsx
Due: wegent-web

test(frontend): propagate knowledge picker visibility errors
  frontend/e2e/pages/tasks/provider-native-knowledge.page.ts
Due: wegent-web

test(frontend): select knowledge picker entry by viewport
  frontend/e2e/pages/tasks/provider-native-knowledge.page.ts
Due: wegent-web

Revert "fix(wework): resolve runtime transcript page size lazily"
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/e2e/runtime-config.test.ts
  wework/src/e2e/runtime-config.ts
Due: none

fix(wework): stabilize macOS source dev startup (#3053)
  docs/en/wework/developer-guide/wework-debug-instance-context.md
  docs/zh/wework/developer-guide/wework-debug-instance-context.md
  wework/electron/src/main.ts
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-mac-app.test.mjs
  wework/src/App.tsx
  wework/src/components/layout/useWorkbenchPaneSession.test.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleProvider.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/automation.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/automation.ts
  wework/src/features/workbench/runtimeTaskLifecycle/index.ts
Due: none

revert(wework): restore conversation navigation flow
  wework/e2e/desktop/modules/conversation-navigation.mjs
Due: none

fix(executor): keep git warm pool disabled
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor_manager/tests/wecode/executors/test_k8s_executor.py
  executor_manager/wecode/config/config.py
Due: wegent-executor-manager

docs(wework): clarify panel resize shield lifecycle
  wework/src/lib/panel-resize-shield.ts
Due: none

fix(wework): align packaged core plugin verification
  wework/e2e/desktop/modules/core-dsh-ui-plugin-flows.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/electron/scripts/build-identity.cjs
  wework/electron/src/build-identity.test.ts
  wework/plans/WEWORKC2FA61-351-electron-dsh-codex.md
Due: none

test(wework): update packaged resource assertions
  wework/scripts/desktop-resource-migration.test.mjs
Due: none

fix(smart-apps): proxy marketplace downloads through backend
  backend/app/api/endpoints/smart_apps.py
  backend/app/services/plugin_package_storage.py
  backend/app/services/smart_app_download_link.py
  backend/app/services/smart_app_marketplace_service.py
  backend/tests/api/endpoints/test_smart_apps.py
  backend/tests/services/test_plugin_package_storage.py
  backend/tests/services/test_smart_app_marketplace.py
  wework/dsh/ui-applications/src/SitesPage.tsx
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src/api/smartApps.test.ts
  wework/src/api/smartApps.ts
Due: wegent-backend

fix(wework): streamline branded desktop packaging (#3058)
  wework/dsh/app-wework/index.js
  wework/dsh/app-wework/index.test.mjs
  wework/e2e/desktop/modules/core-dsh-ui-plugin-flows.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/electron/.gitignore
  wework/electron/electron-builder.config.cjs
  wework/electron/scripts/build-identity.cjs
  wework/electron/scripts/installer.nsh
  wework/electron/scripts/package-app.mjs
  wework/electron/scripts/prepare-package-assets.mjs
  wework/electron/scripts/verify-core-dsh-host.mjs
  wework/electron/src/build-identity.test.ts
  wework/electron/src/main.ts
  wework/electron/src/runtime/brand-runtime-environment.test.ts
  wework/electron/src/runtime/brand-runtime-environment.ts
  wework/electron/src/runtime/bundled-runtime-materializer.test.ts
  wework/electron/src/runtime/core-dsh-runtime.test.ts
  wework/electron/src/runtime/core-dsh-runtime.ts
  wework/harness-runtime/plugins/wework-model-context/package.json
  wework/harness-runtime/plugins/wework-user-context/package.json
  wework/harness-runtime/runtimes/0.1.0-rc.7/package.json
  wework/harness-runtime/runtimes/0.1.0-rc.7/pnpm-lock.yaml
  wework/package.json
  wework/plans/WEWORKC2FA61-351-electron-dsh-codex.md
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/lib/harness-runtime-pruning.mjs
  wework/scripts/lib/harness-runtime-pruning.test.mjs
  wework/scripts/prepare-desktop-release-assets.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix: cancel silent SSE streams immediately (#3055)
  .github/claude-code-cli/package-lock.json
  .github/claude-code-cli/package.json
  .github/scripts/verify-local-harness-clis.sh
  backend/app/api/ws/chat_namespace.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/subscription/execution.py
  backend/tests/api/ws/test_chat_namespace_task_join.py
  backend/tests/services/execution/test_dispatcher_cancel.py
  docker/base/Dockerfile
  docker/device/Dockerfile
  docker/executor/Dockerfile
  docker/standalone/Dockerfile
  executor/src/runner/mod.rs
  executor/tests/process_environment_contract.rs
  executor_manager/routers/routers.py
  executor_manager/tests/routers/test_cancel_routes.py
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(wegent): image reference attachments
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/execution/agents/image/image_agent.py
  backend/app/services/execution/agents/video/prompt.py
  backend/tests/services/chat/test_model_resolver_think_config.py
  backend/tests/services/chat/test_quick_launch_preset_attachment_override.py
  backend/tests/services/chat/test_quick_launch_preset_attachments.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/chat/test_vision_structure.py
  backend/tests/services/execution/agents/image/test_image_agent.py
  shared/prompts/constants.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

test(smart-apps): use reserved API domain
  wework/src/api/smartApps.test.ts
Due: none

test(wework): stabilize automation focus refresh
  wework/src/features/todo/ProjectAutomationView.test.tsx
Due: none

fix(backend): recover missing executor pods during dispatch
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/schedule_helper.py
  backend/tests/services/execution/test_dispatcher_recovery.py
  backend/tests/services/execution/test_schedule_helper.py
  backend/tests/services/execution/test_schedule_helper_recovery.py
Due: wegent-backend

fix(knowledge): 为钉钉文档类型图标添加颜色
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
Due: wegent-web

fix(knowledge): 使用表格图标区分钉钉 AI 表格
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
Due: wegent-web

fix(smart-apps): proxy marketplace downloads through backend (#3059)
  backend/app/api/endpoints/smart_apps.py
  backend/app/services/plugin_package_storage.py
  backend/app/services/smart_app_download_link.py
  backend/app/services/smart_app_marketplace_service.py
  backend/tests/api/endpoints/test_smart_apps.py
  backend/tests/services/test_plugin_package_storage.py
  backend/tests/services/test_smart_app_marketplace.py
  wework/dsh/ui-applications/src/SitesPage.tsx
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src/api/smartApps.test.ts
  wework/src/api/smartApps.ts
  wework/src/features/todo/ProjectAutomationView.test.tsx
Due: wegent-backend

fix(knowledge): 明确钉钉知识库图标与可导入状态
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(executor): avoid git probes in plain workspaces
  executor/src/local/app_ipc.rs
  executor/tests/local_app_ipc_contract.rs
Due: wegent-executor

test(executor): create repository for git command fixture
  executor/tests/local_app_ipc_contract.rs
Due: wegent-executor

fix(knowledge): 隐藏钉钉空文件夹展开箭头
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
Due: wegent-web

feat: 修复前端上传附件时会移除快捷对话里面的附件
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
Due: wegent-web

fix(executor): avoid Git probes in plain workspaces (#3061)
  executor/src/local/app_ipc.rs
  executor/tests/local_app_ipc_contract.rs
Due: wegent-executor

fix: fix ci
  wework/scripts/test_minio_update_channels.py
  wework/scripts/upload-mac-release-to-s3.py
  wework/scripts/upload-windows-release-to-s3.py
Due: none

fix(wework): keep macOS desktop e2e in background
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/electron/src/host/e2e-window-policy.test.ts
  wework/electron/src/host/e2e-window-policy.ts
  wework/electron/src/main.ts
  wework/src/e2e/automation.ts
Due: none

feat: 修复预置参考视频无法使用的问题
  backend/app/services/context/context_service.py
  backend/tests/services/test_context_service.py
Due: wegent-backend

fix(wework): keep macOS desktop e2e in background (#3062)
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/electron/src/host/e2e-window-policy.test.ts
  wework/electron/src/host/e2e-window-policy.ts
  wework/electron/src/main.ts
  wework/src/e2e/automation.ts
Due: none

fix(wework): unify task status synchronization
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/app/api/endpoints/deliveries.py
  backend/app/api/endpoints/runtime_work.py
  backend/app/schemas/delivery.py
  backend/app/schemas/runtime_work.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/test_deliveries_api.py
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/App.tsx
  wework/src/api/deliveries.test.ts
  wework/src/api/deliveries.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/taskStatusRecovery.test.ts
  wework/src/features/todo/taskStatusRecovery.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/projectTaskTracking.test.ts
  wework/src/features/workbench/projectTaskTracking.ts
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

chore: remove generated hidden directories
  .codex-commit-scope-sidebar-clean/wework/src/features/todo/AiChatModal.test.tsx
  .codex-commit-scope-sidebar-clean/wework/src/features/todo/AiChatModal.tsx
  .codex-commit-scope-sidebar-d2d257402/wework/src/features/todo/AiChatModal.test.tsx
  .codex-commit-scope-sidebar-d2d257402/wework/src/features/todo/AiChatModal.tsx
  .gitignore
  .live-architecture/transactions/tx-17fc48803012.json
  .live-architecture/transactions/tx-21d95691e94a.json
  .live-architecture/transactions/tx-2998897cbb97.json
  .live-architecture/transactions/tx-2f7137b1f36c.json
  .live-architecture/transactions/tx-30a0ec92b461.json
  .live-architecture/transactions/tx-4309365bdf23.json
  .live-architecture/transactions/tx-7a2efd5fe125.json
  .live-architecture/transactions/tx-8ceb351b7563.json
  .live-architecture/transactions/tx-968fd56e34e3.json
  .live-architecture/transactions/tx-bd71f0b31a42.json
  .live-architecture/transactions/tx-c1d89d64a06d.json
  .live-architecture/transactions/tx-c6c151fde8be.json
  .live-architecture/transactions/tx-dc07c12fcfa6.json
  .live-architecture/transactions/tx-dingtalk-provider-read-fallback.json
  .live-architecture/transactions/tx-e079440ace5b.json
  .pnpm-store/v11/.pnpm-needs-build-marker
  wework/.vite/deps/_metadata.json
  wework/.vite/deps/package.json
Due: none

chore: remove generated hidden directories (#3063)
  .codex-commit-scope-sidebar-clean/wework/src/features/todo/AiChatModal.test.tsx
  .codex-commit-scope-sidebar-clean/wework/src/features/todo/AiChatModal.tsx
  .codex-commit-scope-sidebar-d2d257402/wework/src/features/todo/AiChatModal.test.tsx
  .codex-commit-scope-sidebar-d2d257402/wework/src/features/todo/AiChatModal.tsx
  .gitignore
  .live-architecture/transactions/tx-17fc48803012.json
  .live-architecture/transactions/tx-21d95691e94a.json
  .live-architecture/transactions/tx-2998897cbb97.json
  .live-architecture/transactions/tx-2f7137b1f36c.json
  .live-architecture/transactions/tx-30a0ec92b461.json
  .live-architecture/transactions/tx-4309365bdf23.json
  .live-architecture/transactions/tx-7a2efd5fe125.json
  .live-architecture/transactions/tx-8ceb351b7563.json
  .live-architecture/transactions/tx-968fd56e34e3.json
  .live-architecture/transactions/tx-bd71f0b31a42.json
  .live-architecture/transactions/tx-c1d89d64a06d.json
  .live-architecture/transactions/tx-c6c151fde8be.json
  .live-architecture/transactions/tx-dc07c12fcfa6.json
  .live-architecture/transactions/tx-dingtalk-provider-read-fallback.json
  .live-architecture/transactions/tx-e079440ace5b.json
  .pnpm-store/v11/.pnpm-needs-build-marker
  wework/.vite/deps/_metadata.json
  wework/.vite/deps/package.json
Due: none

docs(wework): document task status sync ownership
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
Due: none

fix(knowledge): 修复外部文档导入并发状态保护
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/index_state_machine.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/knowledge_tasks.py
  backend/tests/api/endpoints/test_knowledge_external_import.py
  backend/tests/services/knowledge/test_external_document_import.py
  backend/tests/services/knowledge/test_external_document_import_execution.py
  backend/tests/services/knowledge/test_index_state_machine.py
  backend/tests/tasks/test_external_import_task.py
  frontend/e2e/README.md
  frontend/e2e/fixtures/dingtalk-import/README.md
  frontend/e2e/fixtures/dingtalk-import/测试对象与权限.md
  frontend/e2e/tests/knowledge/dingtalk-import.spec.ts
  frontend/e2e/utils/external-import-test-support.ts
  frontend/e2e/utils/mock-provider-mcp.ts
Due: wegent-backend, wegent-web

refactor(wework): keep task tracking in lifecycle projection
  wework/src/features/workbench/projectTaskTracking.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
Due: none

fix(executor): isolate worktree deletion locks
  executor/src/runtime_work/worktrees.rs
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
