Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): update issue owner from edited mention draft
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/features/todo/WeworkIssueHomeComposer.test.tsx
  wework/src/features/todo/WeworkIssueHomeComposer.tsx
Due: none

feat(project): add project AI manager for cloud and local spaces
  backend/app/api/endpoints/project_automations.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/schemas/project_manager.py
  backend/app/services/project_automation_execution.py
  backend/app/services/project_automations.py
  backend/app/services/project_manager.py
  backend/tests/api/test_project_manager_api.py
  backend/tests/services/test_project_manager.py
  docs/en/wework/project-ai-manager.md
  docs/zh/wework/project-ai-manager.md
  executor/src/local/app_ipc.rs
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/model.rs
  executor/src/task_runtime/router.rs
  executor/src/task_runtime/store.rs
  packages/collaboration/package.json
  packages/collaboration/src/CollaborationApp.tsx
  packages/collaboration/src/ports/SharedWorkspaceApi.ts
  packages/collaboration/src/project-manage/ProjectAiManager.tsx
  packages/collaboration/src/project-manage/index.ts
  packages/collaboration/src/types.ts
  pnpm-lock.yaml
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/project-space-ai-manager.scenario.mjs
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.ts
  wework/src/api/local/localProjectAutomations.ts
  wework/src/api/projectAutomations.ts
  wework/src/features/collaboration/weworkSharedWorkspaceApi.ts
  wework/src/features/todo/localWorkspaceApi.ts
Due: wegent-executor, wegent-backend

test(wework): wait for issue owner selection in desktop flow
  wework/e2e/desktop/modules/collaboration-issue-home.mjs
Due: none

fix(wework): restore local issue board rendering and reply E2E
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
Due: none

docs(collaboration): describe issue activity and manager review
  docs/en/wegent/user-guide/coding/issue-comment-interaction.md
  docs/zh/wegent/user-guide/coding/issue-comment-interaction.md
Due: none

test(wework): verify execution opens right conversation drawer
  wework/e2e/desktop/modules/board-reply-model.mjs
  wework/e2e/desktop/modules/issue-conversation-drawers.mjs
Due: none

fix(collaboration): preserve newer issue state during detail loads (#3730)
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  executor/src/local/harnesses.rs
  packages/collaboration/src/workspace-controller/useCollaborationWorkspaceController.test.ts
  packages/collaboration/src/workspace-controller/useCollaborationWorkspaceController.ts
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/features/todo/WeworkIssueHomeComposer.test.tsx
  wework/src/features/todo/WeworkIssueHomeComposer.tsx
Due: wegent-executor

fix(project): cover manager in CI and align runtime checks
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/app/api/endpoints/project_automations.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/services/project_manager.py
  backend/tests/services/test_project_automation_runtime.py
  executor/src/task_runtime/local_automation.rs
  wework/src/features/collaboration/weworkSharedWorkspaceApi.test.ts
Due: wegent-executor, wegent-backend

fix(permissions): retain maintainer access to issue attachments
  backend/app/services/loop_items/service.py
  backend/tests/services/test_loop_item_project_attachments.py
Due: wegent-backend

fix(collaboration): dispatch manager stages and preserve task previews
  backend/app/api/endpoints/deliveries.py
  backend/app/mcp_server/tools/wework_space.py
  backend/tests/mcp_server/test_lifecycle.py
  backend/tests/mcp_server/test_wework_space.py
  backend/tests/services/test_ai_workflow_agent_sequence.py
  backend/tests/services/test_project_automation_runtime.py
  executor/tests/local_execution_schema_contract.rs
  frontend/src/__tests__/features/collaboration/IssueDetail.shared.test.tsx
  wework/e2e/desktop/scenarios/collaboration-agent-automation-chain.scenario.mjs
  wework/e2e/desktop/scenarios/collaboration-local-agent-capabilities.scenario.mjs
  wework/e2e/desktop/scenarios/collaboration-local-executor-issue-tools.scenario.mjs
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: wegent-executor, wegent-backend, wegent-web

fix(project): preserve manager boundaries and route cloud tools through scoped API
  backend/app/api/endpoints/project_automations.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/services/project_automation_execution.py
  backend/app/services/project_automations.py
  backend/app/services/project_manager.py
  backend/tests/api/test_project_manager_api.py
  backend/tests/mcp_server/test_wework_space.py
  backend/tests/services/test_project_manager.py
  docs/en/wework/project-ai-manager.md
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/store.rs
  packages/collaboration/src/project-manage/ProjectAiManager.tsx
  wework/e2e/desktop/scenarios/project-space-ai-manager.scenario.mjs
Due: wegent-executor, wegent-backend

fix(project): make manager issue actions atomic and prevent event recursion
  backend/app/api/endpoints/project_automations.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/services/loop_items/provider_router.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_manager.py
  backend/tests/api/test_project_manager_api.py
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/router.rs
  executor/src/task_runtime/store.rs
Due: wegent-executor, wegent-backend

fix(project): match manager event tags and wake approved agents
  backend/app/mcp_server/tools/wework_space.py
  backend/app/services/project_manager.py
  backend/tests/services/test_project_manager.py
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/store.rs
Due: wegent-executor, wegent-backend

refactor(session): drop backend resolver injection in favor of deployment env
  backend/app/services/chat/config/model_resolver.py
  backend/tests/services/chat/test_model_resolver_wegent_headers.py
  backend/tests/services/execution/test_request_builder_codex_member_models.py
Due: wegent-backend

test(collaboration): measure the inbox click from the board home
  wework/e2e/desktop/scenarios/collaboration-issue-comment-notification.scenario.mjs
Due: none

fix(wegent): implement SkillMcpNames for managing MCP name collisions and add related tests
  backend/app/services/execution/skill_mcp.py
  backend/tests/services/execution/test_skill_mcp.py
  chat_shell/chat_shell/tools/skill_factory.py
  shared/tests/utils/test_mcp_names.py
  shared/utils/mcp_names.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(project): add default AI board conversation
  backend/app/schemas/project_manager.py
  backend/app/services/project_manager.py
  backend/tests/services/test_project_manager.py
  docs/en/wework/project-ai-manager.md
  docs/zh/wework/project-ai-manager.md
  executor/src/task_runtime/local_automation.rs
  packages/collaboration/src/CollaborationApp.tsx
  packages/collaboration/src/ports/SharedWorkspaceApi.ts
  packages/collaboration/src/project-manage/ProjectAiBoardAssistant.tsx
  packages/collaboration/src/project-manage/ProjectAiManager.tsx
  packages/collaboration/src/project-manage/index.ts
  packages/collaboration/src/project-manage/projectManagerDefaults.ts
  wework/e2e/desktop/scenarios/project-space-ai-manager.scenario.mjs
  wework/src/features/todo/WeworkCollaborationPlatform.test.ts
  wework/src/features/todo/localWorkspaceApi.ts
Due: wegent-executor, wegent-backend

fix(wegent): implement SkillMcpNames for managing MCP name collisions and add related tests
  backend/tests/services/chat/test_selected_knowledge.py
  backend/tests/services/execution/test_request_builder_mcp.py
  backend/tests/services/execution/test_skill_mcp.py
  shared/tests/utils/test_mcp_names.py
  shared/utils/mcp_names.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(collaboration): route every group through AI manager
  backend/app/services/issue_workflow_planning.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/project_automation_execution.py
  backend/tests/mcp_server/test_wework_space.py
  backend/tests/services/test_ai_workflow_agent_sequence.py
  backend/tests/services/test_issue_workflow_planning.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_automation_runtime.py
  backend/tests/services/test_project_automations.py
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/store.rs
  wework/e2e/desktop/scenarios/collaboration-agent-automation-chain.scenario.mjs
  wework/e2e/desktop/scenarios/collaboration-local-agent-capabilities.scenario.mjs
Due: wegent-executor, wegent-backend

docs(collaboration): explain manager planned issue execution
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
Due: none

fix(wework): keep the model catalog usable when local state is damaged
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/electron/src/host/preferences-store.test.ts
  wework/electron/src/host/preferences-store.ts
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
Due: none

fix(wework): preserve unfinished context compaction results
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  packages/chat-core/src/index.ts
  packages/chat-core/src/runtime-turn-updates.ts
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  packages/collaboration/src/conversation/assistantMessagePresentation.ts
  packages/collaboration/src/conversation/blocks/ProcessingActivity.tsx
  packages/collaboration/src/conversation/messages.ts
  wework/e2e/desktop/scenarios/context-compaction.scenario.mjs
  wework/e2e/desktop/scenarios/interrupted-context-compaction.mjs
  wework/src/components/chat/ContextCompactionCancellation.test.tsx
  wework/src/features/workbench/runtimeConversationTurns.test.ts
Due: none

feat(wework): add embedded browser file upload and data clearing tools
  executor/src/browser_mcp.rs
  executor/src/browser_mcp/payload.rs
  executor/src/browser_mcp/tests.rs
  executor/src/browser_mcp/tools.rs
  wework/electron/src/host/embedded-browser-bridge.test.ts
  wework/electron/src/host/embedded-browser-bridge.ts
  wework/electron/src/host/embedded-browser-manager.ts
Due: wegent-executor

fix(wework): preserve pending sends during runtime task creation
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/worktrees.rs
  executor/src/runtime_work/worktrees/diagnostics.rs
  wework/e2e/desktop/modules/pending-task-tab-flow.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/electron/src/host/runtime-diagnostics-log.test.ts
  wework/electron/src/host/runtime-diagnostics-log.ts
  wework/electron/src/main.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/lib/runtime-create-diagnostics.test.ts
  wework/src/lib/runtime-create-diagnostics.ts
Due: wegent-executor

test(wework): await compaction scenario send readiness
  wework/e2e/desktop/scenarios/context-compaction.scenario.mjs
  wework/e2e/desktop/scenarios/interrupted-context-compaction.mjs
Due: none

fix(wework): keep transcript diagnostics inside lifecycle boundary
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: none

refactor(device): let the backend compose device session URLs
  backend/app/api/endpoints/admin/device_ip.py
  backend/app/api/endpoints/remote_devices.py
  backend/app/services/device/device_gateway_address.py
  backend/app/services/device/remote_device_startup.py
  backend/app/services/device/session_service.py
  backend/tests/api/endpoints/test_remote_devices_api.py
  backend/tests/docker/test_device_executor_home_contract.py
  backend/tests/services/test_project_device_session_service.py
  backend/tests/services/test_remote_device_startup.py
  docker/device/Dockerfile
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/en/wegent/reference/yaml-specification.md
  docs/en/wegent/user-guide/ai-devices/local-device-support.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/reference/yaml-specification.md
  docs/zh/wegent/user-guide/ai-devices/local-device-support.md
  executor/src/local/backend/session_events.rs
  executor/src/local/backend/tests.rs
  executor/src/local/session.rs
  executor/src/local/session_gateway.rs
  executor/tests/cli_contract.rs
  executor/tests/local_backend_contract.rs
  executor/tests/local_session_handler_contract.rs
  wework/e2e/desktop/remote-device-extension.mjs
  wework/src/types/devices.ts
Due: wegent-executor, wegent-backend

test(wework): assert waiting state before cold model startup
  wework/e2e/desktop/modules/conversation-layout.mjs
  wework/e2e/desktop/modules/pending-task-tab-flow.mjs
Due: none

fix(wework): only quarantine unparseable preferences content
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/electron/src/host/preferences-store.test.ts
  wework/electron/src/host/preferences-store.ts
Due: none

feat(dingtalk): render structured notification cards
  backend/app/services/channels/dingtalk/notification_card.py
  backend/app/services/im/notification_dispatcher.py
  backend/app/services/notification_copy.py
  backend/tests/services/channels/dingtalk/test_notification_card.py
  backend/tests/services/im/test_notification_dispatcher.py
Due: wegent-backend

fix(dingtalk): use valid tag colors for notification cards
  backend/app/services/channels/dingtalk/notification_card.py
  backend/tests/services/channels/dingtalk/test_notification_card.py
Due: wegent-backend

fix(executor): retain compaction lifecycle in transcript cache
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/transcript.rs
  executor/src/runtime_work/transcript/tests_core.rs
  wework/e2e/desktop/scenarios/interrupted-context-compaction.mjs
Due: wegent-executor

fix(dingtalk): clarify notification action labels
  backend/app/services/notification_copy.py
  backend/tests/services/channels/dingtalk/test_notification_card.py
  backend/tests/services/im/test_notification_dispatcher.py
  backend/tests/services/test_wework_notification_flow.py
  backend/tests/services/test_wework_notifications.py
Due: wegent-backend

fix(wework): hot reload development executor
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-mac-app.test.mjs
  wework/scripts/dev-windows-app.ps1
  wework/scripts/dev-windows-app.test.mjs
Due: none

test(wework): expand recovered compaction processing details
  wework/e2e/desktop/scenarios/interrupted-context-compaction.mjs
Due: none

docs(dingtalk): document reusable notification card template
  docs/en/wegent/user-guide/integrations/dingtalk-chat-cards.md
  docs/examples/dingtalk-wework-notification-card.json
  docs/zh/wegent/user-guide/integrations/dingtalk-chat-cards.md
Due: none

fix(project): stabilize manager conversation runtime
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/store.rs
  packages/collaboration/src/project-manage/ProjectAiBoardAssistant.tsx
  wework/scripts/dev-executor-reload.mjs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/ProjectAiDesktopConversation.tsx
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
