Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): rebuild conversation switching
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/lib.rs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
  wework/src/components/layout/DesktopEmptyTaskLauncher.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/useWorkbenchProjectWorkControls.ts
  wework/src/components/layout/workbenchPaneIdentity.test.ts
  wework/src/components/layout/workbenchPaneIdentity.ts
  wework/src/components/layout/workbenchPaneStack.test.tsx
  wework/src/components/layout/workbenchPaneStack.tsx
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
  wework/src/lib/workbenchComposerFocus.ts
  wework/src/tauri/trayMenuState.ts
  wework/src/tauri/trayNavigation.test.ts
Due: none

fix(wework): track background tasks by identity
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/system_sleep.rs
  wework/src/tauri/trayMenuState.test.ts
  wework/src/tauri/trayMenuState.ts
  wework/src/tauri/trayNavigation.test.ts
Due: none

docs(wework): document conversation switching
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix(wework): window oversized markdown responses
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/AssistantMarkdown.windowing.test.ts
  wework/src/components/chat/assistantMarkdownWindowing.ts
Due: none

fix(wework): gate macOS process diagnostics
  wework/src/e2e/automation.ts
Due: none

fix(wework): window streaming markdown
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
Due: none

test(wework): observe WebKit memory settlement
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/assistantMarkdownWindowing.ts
Due: none

test(wework): bound long response DOM
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

test(wework): identify concurrent task reconnects
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

test(wework): refresh cloud devices before selection
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): publish cloud devices during sync
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

fix(wework): stabilize conversation runtime state
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchPaneSession.test.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

test(wework): avoid cloud device refresh race
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/e2e/automation.ts
Due: none

test(wework): allow stable webview cache variance
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(models): 优化模型详情布局与成本指数配置 (#2156)
  backend/app/schemas/kind.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/test_model_aggregation_service.py
  frontend/src/__tests__/components/model-select/model-cascade-content.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/apis/models.ts
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/admin/components/SetupModelStep.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/tasks/components/selector/ModelInformationContent.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
Due: wegent-backend, wegent-web

ci: pin GitHub Actions to commit SHAs (84 pin(s))
  .github/workflows/lint.yml
  .github/workflows/publish-image.yml
  .github/workflows/snapshot-image.yml
  .github/workflows/sync-docs.yml
  .github/workflows/test.yml
  .github/workflows/update-contributors.yml
  .github/workflows/wework-app.yml
Due: none

fix: fix anchor
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix: fix anchor (#2168)
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(chat_shell): only 413 is unconditional overflow; 400 needs a length marker
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/tests/test_summary_compactor.py
Due: none

fix(chat_shell): recognize reloaded summaries by content so they aren't re-retained
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/tests/test_summary_compactor.py
Due: none

fix(chat_shell): budget trim on sanitized view without per-message priming inflation
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/tests/test_summary_compactor.py
Due: none

docs(chat_shell): document Phase 1 checkpoint reload and hang hardening
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: none

chore(chat_shell): address PR review — docstrings, type hint, cancel re-raise, endpoint tracing
  backend/app/api/endpoints/internal/chat_storage.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/history/loader.py
Due: wegent-backend

fix(backend): fall back to plain limit when no compaction checkpoint exists
  backend/app/services/chat/compaction_checkpoint.py
  backend/tests/services/chat/test_compaction_checkpoint.py
Due: wegent-backend

fix(chat_shell): use asyncio.wait_for for summary timeout (keep py3.10 floor)
  chat_shell/chat_shell/compression/summary_compactor.py
Due: none

test(wework): cover virtualized turn navigation
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

docs(wework): clarify desktop e2e coverage
  wework/AGENTS.md
Due: none

docs(wework): clarify desktop e2e coverage (#2171)
  wework/AGENTS.md
Due: none

test(wework): cover virtualized turn navigation (#2170)
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): top-align short conversations
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/e2e/automation.ts
Due: none

refactor(wework,executor): apply CodeRabbit review fixes for Windows workbench
  docs/en/wework/developer-guide/wework-windows.md
  docs/zh/wework/developer-guide/wework-windows.md
  executor/src/server/mod.rs
  wework/.gitignore
  wework/scripts/dev-windows-app.mjs
  wework/src-tauri/tauri.dev.windows.1784624749067.json
  wework/src/App.apps.test.tsx
  wework/src/components/layout/WindowFrameControls.test.tsx
  wework/src/components/layout/WindowFrameControls.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/topnav/TitlebarTooltip.tsx
  wework/src/features/todo/TodoWorkspace.test.tsx
  wework/src/features/todo/TodoWorkspace.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

refactor(executor): extract Codex JSON-RPC transport (#2160)
  executor/src/agents/codex.rs
  executor/src/agents/codex/json_rpc.rs
Due: wegent-executor

fix(wework): top-align short conversations (#2173)
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/e2e/automation.ts
Due: none

test(wework): stabilize memory e2e thresholds
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

feat(catalog): add catalog model mapping for GPT 5.6 profiles
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/chat/trigger/unified.py
  executor/src/server/codex_model_catalog.rs
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/model-ui.test.ts
  wework/src/lib/model-ui.ts
Due: wegent-executor, wegent-backend

feat(wework,backend): support non-Responses cloud models via protocol conversion
  backend/app/services/chat/trigger/unified.py
  backend/app/services/llm_proxy_service.py
  backend/tests/services/test_llm_proxy_service.py
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/cloud-connection/modelExecution.test.ts
  wework/src/features/cloud-connection/modelExecution.ts
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
Due: wegent-backend

feat(catalog): wire GPT 5.6 catalog override end-to-end
  backend/app/services/chat/trigger/unified.py
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/server/codex_model_catalog.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/src/api/local/localServices.test.ts
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/lib/model-ui.ts
Due: wegent-executor, wegent-backend

refactor(backend): route LLM proxy by Model CRD protocol and apiFormat
  backend/app/services/llm_proxy_service.py
  backend/tests/services/test_llm_proxy_service.py
Due: wegent-backend

fix(backend): infer model protocol/apiFormat from env.model when missing
  backend/app/services/chat/config/model_resolver.py
  backend/tests/services/chat/test_model_resolver_protocol_inference.py
Due: wegent-backend
