Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: fix review comments
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/kind_impl.py
  backend/app/services/model_aggregation_service.py
  frontend/public/settings/solo.png
  frontend/src/features/settings/components/TeamEdit.module.css
  frontend/src/features/settings/components/TeamEdit.tsx
Due: wegent-backend, wegent-web

fix: fix null error
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
  executor_manager/executors/docker/utils.py
  executor_manager/main.py
Due: wegent-executor-manager, wegent-backend

refactor: rename PM Battle to Spec Clarification across the project (#192)
  backend/init_data/01-default-resources.yaml
  docs/en/README.md
  docs/en/guides/user/spec-clarification-guide.md
  docs/zh/README.md
  docs/zh/guides/user/spec-clarification-guide.md
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

feat(frontend): add model settings button to model selector dropdown
  frontend/src/config/paths.ts
  frontend/src/features/tasks/components/ModelSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

docs: update documentation for model management module
  AGENTS.md
  docs/en/guides/user/configuring-models.md
  docs/en/guides/user/creating-bots.md
  docs/en/guides/user/managing-tasks.md
  docs/zh/guides/user/configuring-models.md
  docs/zh/guides/user/creating-bots.md
  docs/zh/guides/user/managing-tasks.md
Due: none

feat(wectl): add kubectl-style CLI tool for managing Wegent resources
  wectl/README.md
  wectl/pytest.ini
  wectl/requirements.txt
  wectl/setup.py
  wectl/tests/__init__.py
  wectl/tests/test_cli.py
  wectl/tests/test_client.py
  wectl/tests/test_output.py
  wectl/wectl/__init__.py
  wectl/wectl/cli.py
  wectl/wectl/client.py
  wectl/wectl/commands/__init__.py
  wectl/wectl/commands/apply.py
  wectl/wectl/commands/config.py
  wectl/wectl/commands/create.py
  wectl/wectl/commands/delete.py
  wectl/wectl/commands/describe.py
  wectl/wectl/commands/get.py
  wectl/wectl/config.py
  wectl/wectl/output.py
Due: none

docs: update documentation for model management module (#201)
  AGENTS.md
  docs/en/guides/user/configuring-models.md
  docs/en/guides/user/creating-bots.md
  docs/en/guides/user/managing-tasks.md
  docs/zh/guides/user/configuring-models.md
  docs/zh/guides/user/creating-bots.md
  docs/zh/guides/user/managing-tasks.md
Due: none

docs: update documentation to reflect Dify agent support
  AGENTS.md
  README.md
  README_zh.md
  docs/en/concepts/architecture.md
  docs/en/guides/user/creating-bots.md
  docs/zh/concepts/architecture.md
  docs/zh/guides/user/creating-bots.md
Due: none

chore: update docker-compose.yml to version 1.0.12
  docker-compose.yml
Due: none

fix(test): correct DifyAgent test fixture data structure
  executor/tests/agents/test_dify_agent.py
Due: wegent-executor

feat(frontend): add E2E testing infrastructure with Playwright
  .github/workflows/e2e-tests.yml
  frontend/.gitignore
  frontend/e2e/fixtures/test-fixtures.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/chat-task.spec.ts
  frontend/e2e/tests/code-task.spec.ts
  frontend/e2e/tests/global-setup.ts
  frontend/e2e/tests/global-teardown.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
  frontend/e2e/utils/api-mock.ts
  frontend/e2e/utils/auth.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: wegent-web

fix(e2e): use pymysql driver and leverage auto-migration
  .github/workflows/e2e-tests.yml
  frontend/e2e/tests/chat-task.spec.ts
  frontend/e2e/tests/code-task.spec.ts
  frontend/e2e/tests/global-setup.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

fix(test): mock requests.get to prevent HTTP calls in DifyAgent tests
  executor/tests/agents/test_dify_agent.py
Due: wegent-executor

chore(deps): update package-lock.json with Playwright
  frontend/package-lock.json
  frontend/package.json
Due: wegent-web

fix(e2e): improve login selector to match user_name field and increase timeout
  frontend/e2e/utils/auth.ts
  frontend/public/mockServiceWorker.js
Due: wegent-web

test(wectl): add integration tests and CI workflow
  .github/workflows/test.yml
  wectl/docker-compose.test.yml
  wectl/pytest.ini
  wectl/tests/conftest.py
  wectl/tests/test_integration.py
Due: none

fix(e2e): set INIT_DATA_DIR in CI and improve login error handling
  .github/workflows/e2e-tests.yml
  frontend/e2e/utils/auth.ts
Due: wegent-web

fix(test): add mock for requests.get in test_factory.py
  executor/tests/agents/test_factory.py
Due: wegent-executor

fix(wectl): fix unit tests and CI integration test setup
  .github/workflows/test.yml
  wectl/tests/test_cli.py
Due: none

fix(wectl): make integration tests more robust
  wectl/tests/test_integration.py
Due: none

fix(ci): add PYTHONPATH to include shared module for E2E tests
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): correct NEXT_PUBLIC_API_URL to base URL only
  .github/workflows/e2e-tests.yml
Due: none

ci: add timeout to Test Executor job
  .github/workflows/test.yml
Due: none

fix(e2e): improve test robustness for UI variations
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

fix(test): mock callback HTTP requests to prevent test timeouts
  executor/tests/agents/test_dify_agent.py
  executor/tests/agents/test_factory.py
Due: wegent-executor

fix(e2e): make settings tests more resilient to UI variations
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
Due: wegent-web

fix(test): correct DifyAgent test fixture data structure (#206)
  .github/workflows/test.yml
  executor/tests/agents/test_dify_agent.py
  executor/tests/agents/test_factory.py
Due: wegent-executor

fix(e2e): handle missing UI elements gracefully
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
Due: wegent-web

docs: update documentation to reflect Dify agent support (#203)
  AGENTS.md
  README.md
  README_zh.md
  docs/en/concepts/architecture.md
  docs/en/guides/user/creating-bots.md
  docs/zh/concepts/architecture.md
  docs/zh/guides/user/creating-bots.md
Due: none

chore(e2e): remove non-existent GitHub integration tests
  frontend/e2e/tests/settings-github.spec.ts
Due: wegent-web

fix(e2e): update settings tests with correct button selectors and tab URLs
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

refactor: rename wectl CLI to wegent
  wectl/tests/__init__.py
  wectl/wectl/commands/__init__.py
  wegent/README.md
  wegent/docker-compose.test.yml
  wegent/pytest.ini
  wegent/requirements.txt
  wegent/setup.py
  wegent/tests/__init__.py
  wegent/tests/conftest.py
  wegent/tests/test_cli.py
  wegent/tests/test_client.py
  wegent/tests/test_integration.py
  wegent/tests/test_output.py
  wegent/wegent/__init__.py
  wegent/wegent/cli.py
  wegent/wegent/client.py
  wegent/wegent/commands/__init__.py
  wegent/wegent/commands/apply.py
  wegent/wegent/commands/config.py
  wegent/wegent/commands/create.py
  wegent/wegent/commands/delete.py
  wegent/wegent/commands/describe.py
  wegent/wegent/commands/get.py
  wegent/wegent/config.py
  wegent/wegent/output.py
Due: none

refactor(e2e): remove unnecessary test.skip() and fix assertions
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

feat: add AI code quality check mechanism with pre-commit hooks
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/hooks/ai-commit-gate.sh
  scripts/hooks/check-docs-update.sh
  scripts/hooks/run-module-tests.sh
Due: none

refactor: change quality checks from pre-commit to pre-push
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/hooks/ai-commit-gate.sh
  scripts/hooks/ai-push-gate.sh
  scripts/hooks/check-docs-update.sh
  scripts/hooks/run-module-tests.sh
Due: none

fix(e2e): update test selectors to match actual UI components
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

fix(e2e): improve test selectors with correct placeholders
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

fix(e2e): fix headlessui component visibility detection
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
Due: wegent-web

fix(e2e): skip flaky logout test due to headlessui Menu behavior
  frontend/e2e/tests/auth.spec.ts
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
