Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: 单测不过
  executor/tests/agents/test_multimodal_prompt.py
Due: wegent-executor

fix: 修复executor因为数据上报导致卡死的问题 (#738)
  executor/agents/base.py
  executor/tests/agents/test_base.py
  executor/tests/agents/test_multimodal_prompt.py
Due: wegent-executor

feat: v1/responses 支持background参数
  backend/app/api/endpoints/openapi_responses.py
  backend/tests/api/test_openapi_responses.py
Due: wegent-backend

fix: improve Windows/WSL local dev compatibility
  frontend/next.config.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  start.sh
Due: wegent-web

feat: add multi-stage Dockerfile for executor with source/binary targets
  build_image.sh
  build_image_mac.sh
  docker/executor/Dockerfile
Due: none

feat: add http to https fallback for git clone with token
  shared/utils/git_util.py
Due: wegent-executor-manager, wegent-executor

feat: v1/responses 支持background参数
  backend/app/schemas/openapi_response.py
Due: wegent-backend

fix(backend): fix langchain embeddings error (#696)
  backend/app/api/endpoints/adapter/models.py
  frontend/src/features/settings/components/BotEdit.tsx
Due: wegent-backend, wegent-web

fix: fix pipeline stage task prompt error
  backend/app/api/ws/chat_namespace.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/pipeline_stage.py
  backend/app/services/adapters/task_kinds/helpers.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/request_builder.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
  executor/agents/claude_code/session_manager.py
  executor/services/agent_service.py
  executor/tasks/task_processor.py
  frontend/src/features/tasks/components/clarification/ClarificationForm.tsx
  frontend/src/features/tasks/components/message/FinalPromptMessage.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix: push
  executor/agents/claude_code/config_manager.py
  executor_manager/routers/routers.py
  frontend/src/__tests__/features/tasks/components/remote-workspace/RemoteWorkspaceDialog.test.tsx
  frontend/src/__tests__/features/tasks/components/remote-workspace/i18n.test.ts
  frontend/src/features/tasks/components/remote-workspace/RemoteWorkspaceDialog.tsx
  frontend/src/features/tasks/components/remote-workspace/RemoteWorkspaceDialogDesktop.tsx
  frontend/src/features/tasks/components/remote-workspace/RemoteWorkspaceDirectoryTree.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-executor-manager, wegent-executor, wegent-web

chore: remove stop_port.sh from repo
  stop_port.sh
Due: none

fix(e2e): fix model management and chat image browser tests
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

fix(e2e): fix model management and chat image browser tests
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  stop_port.sh
Due: wegent-web

refactor(backend): Optimize the creation of group chats from the group knowledge base.
  backend/alembic/versions/a8b9c0d1e2f3_add_linked_group_id_to_tasks.py
  backend/app/models/task.py
  backend/app/models/task_kb_binding.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/adapters/task_kinds/query_utils.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/group_member_helper.py
  backend/app/services/group_member_sync_service.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/app/services/share/knowledge_share_service.py
  backend/app/services/task_member_service.py
  backend/tests/services/test_task_group_lite_db_pagination.py
  backend/tests/services/test_task_member_service_group_chat.py
Due: wegent-backend

fix(e2e): Fix settings-model E2E test failures
  frontend/e2e/tests/settings-model.spec.ts
Due: wegent-web

Fix e2e test failures in settings-model and chat-image-browser
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

feat: 更新首页文案
  frontend/src/features/tasks/components/NewConversationNotification.tsx
  frontend/src/features/tasks/components/NotificationBanner.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

fix: try fix e2e tests
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

Fix e2e test failures - improved test stability
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

fix(e2e): fix settings-model e2e test failures
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/visual/settings-visual.spec.ts
Due: wegent-web

fix: 回滚无用改动
  executor/agents/claude_code/config_manager.py
  executor/envd/server.py
  executor/envd/service/filesystem_service.py
  executor/tests/agents/test_skill_mcp_extraction.py
  executor/tests/envd/test_filesystem_service.py
  executor_manager/routers/routers.py
Due: wegent-executor-manager, wegent-executor

fix(backend): address code review findings for group chat and task KB bindings
  backend/alembic/versions/a8b9c0d1e2f3_add_linked_group_id_to_tasks.py
  backend/app/api/ws/chat_namespace.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/adapters/task_kinds/query_utils.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/group_member_sync_service.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/app/services/share/knowledge_share_service.py
  backend/app/services/task_member_service.py
Due: wegent-backend

feat: update font
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/app/(tasks)/chat/ChatPageMobile.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/tasks/tasks.css
  frontend/src/components/common/SmartUrlRenderer.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/sidebar/TaskInlineEdit.tsx
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/tailwind.config.js
Due: wegent-web

fix(e2e): improve settings-model test reliability with data-testid
  frontend/e2e/tests/settings-model.spec.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
Due: wegent-web

fix(frontend): add tab mapping in useEffect to fix settings routing
  frontend/src/app/(tasks)/settings/page.tsx
Due: wegent-web

feat: fix cr
  frontend/src/app/globals.css
  frontend/src/app/tasks/tasks.css
  frontend/src/features/tasks/components/sidebar/TaskInlineEdit.tsx
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/tailwind.config.js
Due: wegent-web

fix: 添加错误原因
  executor/agents/agno/agno_agent.py
  executor/agents/base.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/dify/dify_agent.py
  executor/tasks/task_processor.py
  executor/tests/agents/test_base.py
  executor/tests/test_task_processor.py
Due: wegent-executor

Feature/integration tests enhancement (#733)
  frontend/e2e/tests/settings-model.spec.ts
  frontend/package-lock.json
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/components/ui/action-button.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/features/tasks/components/clarification/ClarificationForm.tsx
  frontend/src/features/tasks/components/clarification/ClarificationQuestion.tsx
  frontend/src/features/tasks/components/clarification/ClarificationToggle.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  tests/specs/chat-flow.spec.ts
Due: wegent-web

feat: remove chat-typography wrapper class
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/app/(tasks)/chat/ChatPageMobile.tsx
  frontend/src/app/tasks/tasks.css
Due: wegent-web

fix: 添加错误原因 (#744)
  executor/agents/agno/agno_agent.py
  executor/agents/base.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/dify/dify_agent.py
  executor/tasks/task_processor.py
  executor/tests/agents/test_base.py
  executor/tests/test_task_processor.py
Due: wegent-executor

feat: remove PingFang
  frontend/src/app/globals.css
  frontend/src/app/tasks/tasks.css
  frontend/tailwind.config.js
Due: wegent-web

perf(backend): optimize list_unified_skills API with batch queries
  backend/app/api/endpoints/kind/skills.py
  backend/app/services/adapters/skill_kinds.py
Due: wegent-backend

fix: executor 无法获取到stdio类型的mcp
  backend/app/services/execution/request_builder.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix: resolve code review findings
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/group_member_sync_service.py
  backend/app/services/model_aggregation_service.py
  backend/app/services/task_member_service.py
  frontend/e2e/tests/settings-model.spec.ts
Due: wegent-backend, wegent-web

feat: v1/responses 支持background参数 (#739)
  backend/app/api/endpoints/openapi_responses.py
  backend/app/schemas/openapi_response.py
  backend/tests/api/test_openapi_responses.py
Due: wegent-backend

fix: executor 无法获取到stdio类型的mcp (#745)
  backend/app/services/execution/request_builder.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(e2e): sync settings-model.spec.ts from upstream to fix flaky test
  frontend/e2e/tests/settings-model.spec.ts
Due: wegent-web

fix: address code review findings across backend and frontend
  backend/app/services/adapters/public_model.py
  backend/app/services/adapters/skill_kinds.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/execution/request_builder.py
  backend/app/services/group_member_sync_service.py
  backend/app/services/group_service.py
  backend/app/services/model_aggregation_service.py
  backend/app/services/task_member_service.py
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/i18n/locales/en/groups.json
Due: wegent-backend, wegent-web

fix(backend): fix pagination total mismatch and spec type safety
  backend/alembic/versions/a8b9c0d1e2f3_add_linked_group_id_to_tasks.py
  backend/app/services/adapters/task_kinds/queries.py
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
