Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): restore tray quota text rendering
  wework/electron/src/host/tray-icon.test.ts
  wework/electron/src/host/tray-icon.ts
Due: none

docs(wework): document tray bitmap rendering
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
Due: none

fix(wework): render Windows drive-letter markdown links as file links
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/AssistantMarkdown.links.test.tsx
  wework/src/components/chat/assistantMarkdownLinks.test.ts
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.tsx
  wework/src/lib/workspace-paths.test.ts
  wework/src/lib/workspace-paths.ts
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
Due: none

test(wework): align stale transcript lifecycle assertion
  wework/e2e/desktop/modules/task-state-flows.mjs
Due: none

fix(wework): recover new turns after completion
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: none

fix(wework): self-contained Windows dev startup and usable worktrees (#3015)
  .gitattributes
  docs/en/wework/developer-guide/wework-windows.md
  docs/zh/wework/developer-guide/wework-windows.md
  executor/src/runtime_work/local_connector_auth.rs
  executor/src/runtime_work/worktrees.rs
  wework/dsh/terminal-runtime/terminal-runtime.js
  wework/electron/src/host/local-workspace-openers.ts
  wework/electron/src/runtime/runtime-supervisor.ts
  wework/electron/src/runtime/spawn-command.test.ts
  wework/electron/src/runtime/spawn-command.ts
  wework/package.json
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/dev-executor-sidecar.cmd
  wework/scripts/dev-windows-app.ps1
  wework/scripts/prepare-execution-runtime.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/scripts/run-vitest.mjs
Due: wegent-executor

test(wework): assert persisted storage through public API
  wework/src/desktop/localStoragePersistence.test.ts
Due: none

fix(wework): restore tray quota text rendering (#3024)
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/electron/src/host/tray-icon.test.ts
  wework/electron/src/host/tray-icon.ts
Due: none

fix(wework): prevent duplicate streaming message updates (#3019)
  executor/src/runtime_work/events.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/desktop/localExecutor.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationStreamCoordinator.test.ts
  wework/src/features/workbench/runtimeConversationStreamCoordinator.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: wegent-executor

fix(backend): isolate project automation event loops
  backend/app/tasks/project_automation_tasks.py
  backend/tests/tasks/test_project_automation_tasks.py
Due: wegent-backend

fix(backend): retry plugin device install races
  backend/app/services/plugin_device_installation_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
Due: wegent-backend

docs(wework): correct application capture count
  design-qa.md
Due: none

fix(wework): omit SSH port from merge request URL
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
Due: none

fix(wework): handle missing update channels
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/electron/src/host/app-update-service.test.ts
  wework/electron/src/host/app-update-service.ts
  wework/scripts/update-channel-manifests.mjs
  wework/scripts/update-channel-manifests.test.mjs
Due: none

fix(wework): align MinIO Electron release flow
  wework/electron/electron-builder.config.cjs
  wework/electron/src/main.ts
  wework/scripts/build-minio-mac-release.sh
  wework/scripts/build-minio-windows-release.sh
  wework/scripts/generate-desktop-update-manifests.mjs
  wework/scripts/generate-desktop-update-manifests.test.mjs
  wework/scripts/test_minio_update_channels.py
  wework/scripts/upload-mac-release-to-s3.py
  wework/scripts/upload-windows-release-to-s3.py
Due: none

Update 2 files
  wecode/docker/backend/Dockerfile
  wecode/docker/chat_shell/Dockerfile
Due: wegent-backend

test(executor): make Claude fixture consume stdin
  executor/tests/agent_process_engine_contract.rs
Due: wegent-executor

test(wework): align desktop lifecycle assertions
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
Due: none

fix(wework): keep completed tasks settled
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: none

test(wework): remove obsolete Tauri packaging check
  wework/src/test/bundled-plugin-packaging.test.ts
Due: none

feat(knowledge): 外部导入失败重试与删除安全
  backend/app/api/endpoints/knowledge.py
  backend/app/models/knowledge.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/services/knowledge/index_state_machine.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/knowledge_tasks.py
  backend/tests/api/endpoints/test_knowledge_external_import.py
  backend/tests/services/knowledge/test_external_document_import.py
  backend/tests/services/knowledge/test_index_state_machine.py
  backend/tests/services/knowledge/test_orchestrator.py
  backend/tests/tasks/test_external_import_task.py
  frontend/src/__tests__/features/knowledge/document/knowledge-document-tree-grid.test.tsx
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/knowledge-document-tree-grid.tsx
  frontend/src/features/knowledge/document/utils/processing-error.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(wework): omit SSH port from merge request URL (#3030)
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: none

fix(wework): separate cached task projections
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/remoteRuntimeWorkCache.test.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
  wework/src/types/api.ts
Due: none

fix(wework): preserve hover card focus handoff
  wework/src/components/ui/hover-card.test.tsx
  wework/src/components/ui/hover-card.tsx
Due: none

fix(wework): dismiss stale sidebar hover cards
  wework/DESIGN.md
  wework/src/components/ui/hover-card.test.tsx
  wework/src/components/ui/hover-card.tsx
Due: none

test(wework): model stale running transcript
  wework/e2e/desktop/modules/task-state-flows.mjs
Due: none

fix(wework): track turn starts in global lifecycle
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.tsx
Due: none

fix(wework): handle missing update channels (#3031)
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  executor/tests/agent_process_engine_contract.rs
  wework/electron/src/host/app-update-service.test.ts
  wework/electron/src/host/app-update-service.ts
  wework/scripts/update-channel-manifests.mjs
  wework/scripts/update-channel-manifests.test.mjs
Due: wegent-executor

fix(wework): dismiss stale sidebar hover cards (#3025)
  wework/DESIGN.md
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/src/components/ui/hover-card.test.tsx
  wework/src/components/ui/hover-card.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/remoteRuntimeWorkCache.test.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
  wework/src/types/api.ts
Due: none

fix(wework): track turn starts in global lifecycle (#3032)
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.tsx
Due: none

feat: 修复需求澄清无法正常工作的问题
  backend/tests/services/execution/test_request_builder_skill_identity.py
  frontend/src/__tests__/features/tasks/components/message/MessageBubble.test.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  packages/chat-core/src/task-state/TaskStateMachine.chatEvents.ts
  packages/chat-core/src/task-state/TaskStateMachine.test.ts
Due: wegent-backend, wegent-web

feat: 修复i18n确是key的问题
  frontend/src/features/tasks/components/selector/RepoListView.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

feat(knowledge): 外部文档重复导入更新与来源治理
  backend/app/api/endpoints/knowledge.py
  backend/app/models/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/attachment_cleanup.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/services/knowledge/index_state_machine.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/knowledge_tasks.py
  backend/tests/api/endpoints/test_knowledge_external_import.py
  backend/tests/services/knowledge/test_external_document_import.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
  backend/tests/services/knowledge/test_index_state_machine.py
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/utils/documentUtils.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

feat: 修复合并之后单测失败的问题
  executor/src/agents/git_workspace.rs
Due: wegent-executor

feat(knowledge): 收口钉钉导入唯一入口与完整 E2E 验收
  backend/tests/models/test_knowledge_document_external_identity_migration.py
  frontend/e2e/fixtures/dingtalk-import/README.md
  frontend/e2e/fixtures/dingtalk-import/测试对象与权限.md
  frontend/e2e/fixtures/dingtalk-import/钉钉_产品说明_v1.md
  frontend/e2e/fixtures/dingtalk-import/钉钉_产品说明_v2.md
  frontend/e2e/fixtures/dingtalk-import/钉钉_归档说明.md
  frontend/e2e/fixtures/dingtalk-import/钉钉_接口规范.md
  frontend/e2e/tests/knowledge/dingtalk-import.spec.ts
  frontend/e2e/utils/external-import-test-support.ts
  frontend/e2e/utils/mock-provider-mcp.ts
  frontend/playwright.config.ts
  frontend/src/__tests__/features/knowledge/document/dingtalk-docs-page.test.tsx
  frontend/src/features/knowledge/document/components/CommandPalette.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocs/DingtalkDocList.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocs/DingtalkDocTree.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocs/DingtalkDocTreeView.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocs/DingtalkDocsPage.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocs/dingtalk-not-configured.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocs/index.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageDesktop.tsx
  frontend/src/features/knowledge/document/components/KnowledgeSidebar/GroupItem.tsx
  frontend/src/features/knowledge/document/components/KnowledgeSidebar/NavigationSection.tsx
  frontend/src/features/knowledge/document/components/KnowledgeSidebar/index.tsx
  frontend/src/features/knowledge/document/components/knowledge-document-tree-grid.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeSidebar.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeUrlSync.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(wework): keep project header controls clickable
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

feat(wework): package desktop runtime components
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/workflows/wework-app.yml
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/release-package-startup.scenario.mjs
  wework/electron/electron-builder.config.cjs
  wework/electron/scripts/prepare-package-assets.mjs
  wework/electron/src/main.ts
  wework/electron/src/runtime/core-dsh-runtime.test.ts
  wework/electron/src/runtime/core-dsh-runtime.ts
  wework/plans/WEWORKC2FA61-351-electron-dsh-review.md
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/workspace-panels/rightWorkspaceDshSidebar.test.ts
  wework/src/components/topnav/useChromeTabs.test.ts
  wework/src/components/topnav/useChromeTabs.ts
  wework/src/features/dsh-runtime/DshAppSurface.tsx
  wework/src/features/dsh-runtime/DshRouteSurface.tsx
  wework/src/features/dsh-runtime/DshSettingsSurface.tsx
  wework/src/features/dsh-runtime/DshSidebarNavigationSurface.tsx
  wework/src/features/dsh-runtime/dshUiModules.ts
  wework/src/test/setup.ts
Due: none

refactor(knowledge): 落实外部导入代码审查修复
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
