Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: master
stages:
  - package

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/runtime
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

feat: 添加批量创建模型功能
  backend/app/api/endpoints/models.py
  backend/app/schemas/model.py
  backend/app/services/model.py
Due: wegent-backend

refactor: 修改bulk_create_models以支持upsert功能并更新文档
  backend/app/api/endpoints/models.py
  backend/app/services/model.py
  backend/init.sql
  backend/wecode/OPEN_SOURCE_TODO.md
Due: wegent-backend

team新建、编辑页面增加bot编辑列表
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamEditDrawer.tsx
Due: wegent-web

refactor(frontend): 使用国际化更新占位符文本并改进MCP配置提取
  executor/agents/agno/mcp_manager.py
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-web

修改模式示例图
  frontend/public/settings/autonomous.png
  frontend/public/settings/generator.png
  frontend/public/settings/network.png
  frontend/public/settings/parallel.png
  frontend/public/settings/pic-source.key
  frontend/public/settings/router.png
  frontend/public/settings/sequential.png
Due: wegent-web

修复bot leader 编辑按钮样式
  frontend/src/features/settings/components/TeamEdit.tsx
Due: wegent-web

feat(i18n): 添加国际化配置并动态设置默认语言
  frontend/.env.local
  frontend/src/i18n/setup.ts
  wecode/docker/frontend/.env.local
Due: wegent-web

fix home page redirect
  frontend/src/app/page.tsx
Due: wegent-web

team列表增加聊天入口icon
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix teamedit new team prompt
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamEditDrawer.tsx
Due: wegent-web

team下拉框支持搜索及team设置页面跳转
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

refactor: 优化代码结构并添加未知域名日志记录
  backend/app/repository/gitlab_provider.py
  backend/wecode/service/save_git_token.py
Due: wegent-backend

fix: 修改重复bot名称错误信息
  backend/app/services/bot.py
  backend/app/services/team.py
Due: wegent-backend

feat: 添加子任务执行器清理配置和后台清理线程
  backend/.env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/subtask.py
  backend/app/schemas/subtask.py
  backend/app/services/executor.py
  backend/app/services/subtask.py
  backend/app/services/task.py
  backend/init.sql
  backend/update.sql
Due: wegent-backend

fix: 添加 gitlab 域名验证逻辑
  backend/wecode/api/user_service_patch.py
Due: wegent-backend

修改bot新增按钮布局
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/GitHubEdit.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

修改team新增按钮布局
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/TeamList.tsx
Due: wegent-web

删除bot失败时,弹窗提示原因
  frontend/src/features/settings/components/BotList.tsx
Due: wegent-web

优化team追加提示词页面
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamEditDrawer.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

优化team列表展示
  frontend/src/features/settings/components/TeamList.tsx
Due: wegent-web

feat: 添加oidc_endpoint_patch以处理wecode特定git_info回调
  backend/wecode/api/__init__.py
  backend/wecode/api/oidc_endpoint_patch.py
Due: wegent-backend

fix: 修复 metadata 中缺少图标配置
  frontend/src/app/layout.tsx
Due: wegent-web

feat: 添加保存gitlab令牌的同步方法
  backend/app/services/user.py
  backend/wecode/api/gitlab_provider_patch.py
  backend/wecode/api/user_service_patch.py
  backend/wecode/service/save_git_token.py
Due: wegent-backend

refactor: 更新token处理逻辑并修正路由配置
  backend/wecode/api/__init__.py
  backend/wecode/service/get_user_gitinfo.py
Due: wegent-backend

fix: 修复用户服务中git_info处理逻辑
  backend/app/services/user.py
Due: wegent-backend

feat: 添加根据标题搜索任务的分页功能
  backend/app/api/endpoints/tasks.py
  backend/app/services/task.py
Due: wegent-backend

复制团队时包含团队专属提示词
  frontend/src/apis/team.ts
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/services/teams.ts
  frontend/src/types/api.ts
Due: wegent-web

team list 列表支持搜索
  frontend/src/features/settings/components/TeamEdit.tsx
Due: wegent-web

分支支持搜索
  frontend/src/features/tasks/components/BranchSelector.tsx
Due: wegent-web

fix(frontend): 修正按钮文本和国际化配置
  executor/agents/agno/mcp_manager.py
  frontend/src/features/tasks/components/BeginnerGuideModal.tsx
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-web

仓库、分支支持删除及调整对比色
  frontend/src/app/globals.css
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

添加resuse
  .gitlab-ci.yml
  .wecodeGitCommitPrompt
  backend/.env.example
  backend/update.sql
  backend/wecode/OPEN_SOURCE_TODO.md
  backend/wecode/api/auth.py
  docs/backend/example.yaml
  executor_manager/utils/executor_name.py
  executor_manager/wecode/config/config.py
  executor_manager/wecode/executors/k8s/build_pod.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
  executor_manager/wecode/executors/k8s/pod_template.yaml
  frontend/.env.local
  frontend/next-env.d.ts
  frontend/src/app/AntdProvider.tsx
  frontend/src/app/login/oidc/page.tsx
  frontend/src/components/I18nProvider.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/features/login/components/OidcTokenHandler.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/GitHubEdit.tsx
  frontend/src/features/theme/ThemeProvider.tsx
  frontend/src/features/theme/ThemeScript.tsx
  frontend/src/features/theme/ThemeToggle.tsx
  frontend/src/hooks/useTranslation.ts
  frontend/src/i18n/setup.ts
  wecode/docker/backend/.env.example
  wecode/docker/backend/prepare_build.sh
  wecode/docker/executor/prepare_build.sh
  wecode/docker/executor_manager/prepare_build.sh
  wecode/docker/frontend/.env.local
  wecode/docker/frontend/prepare_build.sh
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

英文
  backend/app/api/endpoints/tasks.py
  backend/app/core/config.py
  backend/app/models/agent.py
  backend/app/services/executor.py
  backend/app/services/model.py
  backend/app/services/task.py
  backend/init.sql
  backend/migrations/version/v1.0/update.sql
  backend/wecode/OPEN_SOURCE_TODO.md
  backend/wecode/api/auth.py
  backend/wecode/api/oidc_endpoint_patch.py
  backend/wecode/init_data.sql
  backend/wecode/service/get_user_gitinfo.py
  backend/wecode/service/token_resolver.py
Due: wegent-backend

front support task search
  frontend/src/apis/tasks.ts
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

merge wecode_develop
  backend/migrations/version/v1.0/update.sql
Due: wegent-backend

中文翻译为英文
  executor_manager/executors/docker/constants.py
  executor_manager/executors/docker/executor.py
Due: wegent-executor-manager

frontent commit tranlate
  frontend/src/apis/tasks.ts
  frontend/src/apis/user.ts
  frontend/src/app/page.tsx
  frontend/src/components/I18nProvider.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/config/paths.ts
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/GitHubEdit.tsx
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamEditDrawer.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TaskParamSync.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/features/tasks/service/messageService.ts
  frontend/src/hooks/useTranslation.ts
  frontend/src/types/api.ts
Due: wegent-web

refactor(frontend): 优化删除逻辑和响应式布局
  frontend/next-env.d.ts
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/layout/MobileSidebar.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/components/TabParamSync.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ResponsiveTaskSidebar.tsx
  frontend/src/features/theme/ThemeToggle.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix 1000 > 100
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

front combine tasksidebar
  frontend/src/app/tasks/page.tsx
  frontend/src/features/tasks/components/ResponsiveTaskSidebar.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web
