Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): launch pnpm through cmd on Windows
  wework/scripts/child-process-command.mjs
  wework/scripts/child-process-command.test.mjs
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-deepseek-harness-runtime.mjs
Due: none

fix(wework): launch pnpm through cmd on Windows (#2835)
  wework/scripts/child-process-command.mjs
  wework/scripts/child-process-command.test.mjs
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-deepseek-harness-runtime.mjs
Due: none

fix(executor): preserve attachment-only messages
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tests.rs
  executor/tests/cli_contract.rs
  executor/tests/local_task_mcp_contract.rs
Due: wegent-executor

fix(project-automation): make AI issue workflows observable
  backend/app/api/endpoints/deliveries.py
  backend/app/schemas/issue_workflow.py
  backend/app/services/issue_workflow_planning.py
  backend/tests/api/test_deliveries_api.py
  backend/tests/services/test_issue_workflow_planning.py
  docs/en/architecture/issue-task-workflow.md
  docs/zh/architecture/issue-task-workflow.md
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/deliveries.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(wework): add project quick phrases
  docs/en/wegent/developer-guide/architecture.md
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/developer-guide/architecture.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.test.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.tsx
  wework/src/components/projects/LocalProjectEditDialog.test.tsx
  wework/src/components/projects/LocalProjectEditDialog.tsx
  wework/src/components/settings/QuickPhrasesEditor.tsx
  wework/src/components/settings/QuickPhrasesSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: none

fix(wework): sign bundled harness binaries
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/scripts/deepseek-harness-signing.test.mjs
  wework/scripts/lib/deepseek-harness-signing.mjs
  wework/scripts/prepare-deepseek-harness-runtime.mjs
Due: none

fix(ci): stabilize Wework merge queue checks
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/run-checkpoints.mjs
Due: none

fix(wework): preserve project plugins in new chats
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
Due: none

fix(wework): detect local harnesses concurrently
  wework/src-tauri/src/local_terminal.rs
Due: none

fix(wework): sign bundled harness binaries (#2837)
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/scripts/deepseek-harness-signing.test.mjs
  wework/scripts/lib/deepseek-harness-signing.mjs
  wework/scripts/prepare-deepseek-harness-runtime.mjs
Due: none

fix(ci): stabilize Wework merge queue checks (#2838)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/run-checkpoints.mjs
Due: none

feat(wework): add embedded browser browsing history
  docs/en/wework/developer-guide/codex-browser-history-analysis.md
  docs/en/wework/developer-guide/wework-browser-history.md
  docs/zh/wework/developer-guide/codex-browser-history-analysis.md
  docs/zh/wework/developer-guide/wework-browser-history.md
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/data_clearing.rs
  wework/src-tauri/src/embedded_browser/history.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/settings/BrowserHistoryPage.test.tsx
  wework/src/components/settings/BrowserHistoryPage.tsx
  wework/src/components/settings/BrowserSettingsPage.test.tsx
  wework/src/components/settings/BrowserSettingsPage.tsx
  wework/src/components/settings/ClearBrowserDataDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/embedded-browser-history.test.ts
  wework/src/lib/embedded-browser-history.ts
  wework/src/lib/embedded-browser.ts
  wework/src/plugin-runtime/core-settings-data.tsx
Due: none

feat(executor): register external references through the backend API
  executor/src/task_runtime/mcp.rs
Due: wegent-executor

test(wework): add external event subscription desktop E2E
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/external-event-subscription.scenario.mjs
Due: none

chore(ci): register external event subscription desktop shard
  .github/scripts/classify-wework-desktop-e2e.sh
Due: none

fix(wework): mirror wait activation semantics in workflow projection
  wework/src/api/issueWorkflow.ts
  wework/src/features/todo/issueWorkflow.test.ts
Due: none

test(wework): harden external event E2E registration assertions
  wework/e2e/desktop/scenarios/external-event-subscription.scenario.mjs
Due: none

feat(wework): workflow start/end/wait nodes with event rule editor and waiting runtime
  backend/app/schemas/issue_workflow.py
  backend/tests/schemas/test_issue_workflow.py
  wework/src/api/deliveries.ts
  wework/src/api/issueWorkflow.ts
  wework/src/features/todo/IssueWorkflowDag.test.tsx
  wework/src/features/todo/IssueWorkflowDag.tsx
  wework/src/features/todo/ProjectWorkflowEditor.test.tsx
  wework/src/features/todo/ProjectWorkflowEditor.tsx
  wework/src/features/todo/issueWorkflow.test.ts
  wework/src/features/todo/workflowGraph.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

fix(backend): activate wait node while upstream stage runs
  backend/app/schemas/issue_workflow.py
  backend/app/services/project_workflow_projection.py
  backend/tests/mcp_server/test_lifecycle.py
  backend/tests/schemas/test_issue_workflow.py
  backend/tests/services/test_project_workflow_projection.py
Due: wegent-backend

style(backend): format external event modules with black and isort
  backend/app/schemas/issue_workflow.py
  backend/app/services/external_events/adapters.py
  backend/app/services/external_events/buffer.py
  backend/app/services/external_events/evaluate.py
  backend/app/services/external_events/service.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/project_incoming_hooks.py
  backend/app/services/project_workflow_projection.py
Due: wegent-backend

feat(backend): external event subscription with wait nodes, bindings, and GitLab adapter
  backend/alembic/versions/20260820_a4b5c6d7e8f9_add_external_event_binding_columns.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/models/delivery.py
  backend/app/schemas/issue_workflow.py
  backend/app/schemas/project_incoming_hook.py
  backend/app/services/external_events/__init__.py
  backend/app/services/external_events/adapters.py
  backend/app/services/external_events/binding.py
  backend/app/services/external_events/buffer.py
  backend/app/services/external_events/evaluate.py
  backend/app/services/external_events/service.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/project_incoming_hooks.py
  backend/app/services/project_workflow_projection.py
  backend/tests/api/test_project_incoming_hooks_api.py
  backend/tests/mcp_server/test_register_external_reference.py
  backend/tests/schemas/test_issue_workflow.py
  backend/tests/services/test_external_events.py
  backend/tests/services/test_project_incoming_hooks.py
  backend/tests/services/test_project_workflow_projection.py
Due: wegent-backend

feat(backend): unify external reference registration behind one service
  backend/app/api/endpoints/cloud_projects.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/schemas/external_event.py
  backend/app/services/external_events/registration.py
  backend/tests/api/test_external_references_api.py
  backend/tests/services/external_events/__init__.py
  backend/tests/services/external_events/test_registration.py
Due: wegent-backend

fix(wework): keep dependency context in sync when rewiring the end node
  wework/src/features/todo/ProjectWorkflowEditor.test.tsx
  wework/src/features/todo/ProjectWorkflowEditor.tsx
Due: none

fix(executor): scope vision cache to conversations
  docs/en/architecture/model-vision-delegation.md
  docs/zh/architecture/model-vision-delegation.md
  executor/src/server/local_model_proxy/mod.rs
  executor/src/server/local_model_proxy/vision.rs
  wework/e2e/desktop/modules/conversation-navigation.mjs
Due: wegent-executor

docs: catalog external event subscription architecture
  docs/en/architecture/README.md
  docs/en/architecture/external-event-subscription.md
  docs/zh/architecture/README.md
  docs/zh/architecture/external-event-subscription.md
Due: none

fix(wework): skip unchanged history search to avoid loading flash
  wework/src/components/settings/BrowserHistoryPage.test.tsx
  wework/src/components/settings/BrowserHistoryPage.tsx
Due: none

fix(wework): stabilize harness and attachment previews
  wework/src-tauri/src/local_terminal.rs
  wework/src/api/attachments.ts
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/AttachmentImagePreview.tsx
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/lib/attachments.ts
Due: none

fix(knowledge): preserve Excel worksheet content (#2655)
  backend/app/services/attachment/parser.py
  backend/app/services/attachment/smart_truncation.py
  backend/app/services/attachment/truncation_strategies/base.py
  backend/app/services/attachment/truncation_strategies/excel.py
  backend/app/services/attachment/truncation_strategies/manager.py
  backend/tests/services/attachment/test_parser.py
  backend/tests/services/attachment/test_smart_truncation.py
  docs/en/wegent/user-guide/knowledge/chunking-strategies.md
  docs/zh/wegent/user-guide/knowledge/chunking-strategies.md
  knowledge_engine/knowledge_engine/excel.py
  knowledge_engine/knowledge_engine/index/indexer.py
  knowledge_engine/knowledge_engine/ingestion/pipeline.py
  knowledge_engine/knowledge_engine/readers/__init__.py
  knowledge_engine/knowledge_engine/readers/excel.py
  knowledge_engine/knowledge_engine/splitter/excel_rows.py
  knowledge_engine/knowledge_engine/storage/base.py
  knowledge_engine/tests/test_excel_chunk_invariants.py
  knowledge_engine/tests/test_excel_row_splitter.py
  knowledge_engine/tests/test_excel_source_indexing.py
  knowledge_engine/tests/test_ingestion_pipeline.py
Due: wegent-backend

fix(project-automation): expose AI manager execution details
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tsx
Due: none

fix: fix harness error
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/scripts/deepseek-harness-node.entitlements.plist
  wework/scripts/prepare-deepseek-harness-runtime.mjs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/harness_apps/tests.rs
Due: none

fix(executor): persist runtime project context
  executor/src/runtime_work/store.rs
Due: wegent-executor

fix(executor): preserve goal completion turn routing
  docs/en/architecture/codex-notification-routing.md
  docs/zh/architecture/codex-notification-routing.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(wework): allow quitting after closing to tray
  docs/en/wegent/user-guide/settings/desktop-app-preferences.md
  docs/zh/wegent/user-guide/settings/desktop-app-preferences.md
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/lib/workbenchComposerFocus.ts
Due: none

test(wework): stabilize vision sidecar wait
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/shared.mjs
Due: none

fix(executor): preserve goal completion turn routing (#2841)
  docs/en/architecture/codex-notification-routing.md
  docs/zh/architecture/codex-notification-routing.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(wework): show browser tab loading state (#2788)
  docs/en/architecture/embedded-browser.md
  docs/zh/architecture/embedded-browser.md
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/e2e/desktop/scenarios/embedded-browser-toolbar-actions.scenario.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/linux_host.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/embedded_browser_tls.rs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/features/browser-tabs/browserPopupRouting.test.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/browser-device-toolbar.test.ts
  wework/src/lib/browser-device-toolbar.ts
  wework/src/lib/embedded-browser.ts
Due: none

fix(wework): allow quitting after closing to tray (#2842)
  docs/en/wegent/user-guide/settings/desktop-app-preferences.md
  docs/zh/wegent/user-guide/settings/desktop-app-preferences.md
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/lib/workbenchComposerFocus.ts
Due: none

fix(wework): use active backend for attachment previews
  wework/src/api/attachments.test.ts
  wework/src/api/attachments.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/AttachmentDownloadContext.ts
  wework/src/components/chat/AttachmentDownloadProvider.tsx
  wework/src/components/chat/AttachmentImagePreview.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchServices.ts
Due: none

fix: fix harness error (#2840)
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/scripts/deepseek-harness-node.entitlements.plist
  wework/scripts/prepare-deepseek-harness-runtime.mjs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/harness_apps/tests.rs
  wework/src-tauri/tauri.conf.json
Due: none
