Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): export all conversation-owned assets (#3695)
  wework/dsh/app-wework/client.d.ts
  wework/dsh/app-wework/client.js
  wework/dsh/app-wework/client.test.mjs
  wework/dsh/conversation-export/index.js
  wework/dsh/conversation-export/index.test.mjs
  wework/dsh/conversation-export/src/dialog.test.tsx
  wework/dsh/conversation-export/src/dialog.tsx
  wework/dsh/conversation-export/src/prepareConversationExport.test.ts
  wework/dsh/conversation-export/src/prepareConversationExport.ts
  wework/e2e/desktop/modules/core-dsh-ui-plugin-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/electron/src/host/electron-capabilities.test.ts
  wework/electron/src/host/electron-capabilities.ts
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/e2e/automation.ts
  wework/src/features/dsh-runtime/dshConversationTranscript.test.ts
  wework/src/features/dsh-runtime/dshConversationTranscript.ts
  wework/src/features/dsh-runtime/dshExtensions.ts
Due: none

fix(wework): route main-process cloud requests through Chromium (#3571)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/cloud-login-proxy-fixtures.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/cloud-login-proxy.scenario.mjs
  wework/e2e/desktop/scenarios/transcript-sync.scenario.mjs
  wework/electron/src/host/cloud-credential-service.test.ts
  wework/electron/src/host/cloud-credential-service.ts
  wework/electron/src/host/cloud-http.test.ts
  wework/electron/src/host/cloud-http.ts
  wework/electron/src/host/smart-app-manager.test.ts
  wework/electron/src/host/smart-app-manager.ts
  wework/electron/src/host/wework-sync-request.test.ts
  wework/electron/src/host/wework-sync-request.ts
  wework/electron/src/main.ts
  wework/electron/src/runtime/component-update-manager.test.ts
  wework/electron/src/runtime/component-update-manager.ts
  wework/scripts/electron-e2e-launch-arguments.test.mjs
  wework/scripts/lib/command-log.mjs
Due: none

feat(models): add full spec JSON editing
  backend/app/api/endpoints/admin/public_models.py
  backend/app/core/exceptions.py
  backend/app/schemas/admin.py
  backend/app/schemas/generation.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/tests/api/test_admin_public_models.py
  backend/tests/core/test_exceptions.py
  backend/tests/schemas/test_generation.py
  backend/tests/schemas/test_model_spec_extensions.py
  docs/en/wegent/user-guide/settings/configuring-models.md
  docs/zh/wegent/user-guide/settings/configuring-models.md
  frontend/src/__tests__/features/admin/components/SetupModelStep.test.ts
  frontend/src/__tests__/features/settings/components/ModelEditDialog.advanced-env-config.test.tsx
  frontend/src/__tests__/features/settings/components/ModelEditDialog.model-spec.test.tsx
  frontend/src/__tests__/features/settings/components/advancedModelEnvConfig.test.ts
  frontend/src/__tests__/features/settings/components/modelSpecConfig.test.ts
  frontend/src/apis/models.ts
  frontend/src/components/common/CodeMirrorEditor.tsx
  frontend/src/features/admin/components/SetupModelStep.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/model-config/AdvancedModelEnvConfigSection.tsx
  frontend/src/features/settings/components/model-config/advancedModelEnvConfig.ts
  frontend/src/features/settings/components/model-config/index.ts
  frontend/src/features/settings/components/model-config/modelSpecConfig.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat: add advanced knowledge mode (#3674)
  frontend/src/__tests__/features/knowledge/document/advanced-knowledge-mode.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-group-list-page.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-tree.test.tsx
  frontend/src/__tests__/features/knowledge/document/use-knowledge-sidebar.test.tsx
  frontend/src/__tests__/utils/userPreferences.knowledge.test.ts
  frontend/src/features/knowledge/document/components/AdvancedKnowledgeToggle.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageDesktop.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/components/KnowledgeGroupListPage.tsx
  frontend/src/features/knowledge/document/components/KnowledgeTree.tsx
  frontend/src/features/knowledge/document/hooks/useAdvancedKnowledgeMode.ts
  frontend/src/features/knowledge/document/hooks/useGroupKbs.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeSidebar.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/utils/userPreferences.ts
Due: wegent-web

fix(notifications): report the state the record actually holds
  backend/app/services/im/notification_dispatcher.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/loop_items/service.py
  backend/app/services/notification_target.py
  backend/tests/services/im/test_notification_dispatcher.py
  backend/tests/services/test_loop_item_assignment.py
  backend/tests/services/test_loop_item_executions.py
Due: wegent-backend

fix(frontend): show cancelled status on shared task page (#3692)
  frontend/src/app/shared/task/page.tsx
  frontend/src/i18n/locales/en/shared-task.json
  frontend/src/i18n/locales/zh-CN/shared-task.json
Due: wegent-web

fix: exclude task share recipients from group chat detection and notifications (#3693)
  backend/app/services/adapters/task_kinds/task_detail_helpers.py
  backend/app/services/chat/trigger/group_chat.py
  backend/tests/services/adapters/test_task_detail_group_chat_members.py
  backend/tests/services/chat/test_group_chat_member_notifications.py
Due: wegent-backend

fix(collaboration): keep a tool detail open while the reader scrolls
  packages/collaboration/package.json
  packages/collaboration/src/conversation/AssistantMessage.tsx
  packages/collaboration/src/conversation/CodexTurnArtifacts.tsx
  packages/collaboration/src/conversation/FileChangesCard.tsx
  packages/collaboration/src/conversation/MessageList.tsx
  packages/collaboration/src/conversation/ReaderDisclosure.tsx
  packages/collaboration/src/conversation/ScrollableMessageArea.tsx
  packages/collaboration/src/conversation/UserMessage.tsx
  packages/collaboration/src/conversation/blocks/ProcessingPreview.tsx
  packages/collaboration/src/conversation/blocks/ToolBlockItem.tsx
  packages/collaboration/src/conversation/blocks/ToolBlocksDisplay.tsx
  packages/collaboration/src/conversation/blocks/ToolFileChanges.tsx
  packages/collaboration/src/conversation/blocks/disclosureKeys.ts
  packages/collaboration/src/conversation/blocks/disclosureState.ts
  packages/collaboration/src/conversation/blocks/processingExpansionState.ts
  packages/collaboration/src/conversation/index.ts
  packages/collaboration/src/conversation/useConversationScrollController.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/ScrollableMessageArea.expansion.test.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/SubagentConversationPanel.tsx
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/processingExpansionState.ts
Due: none

test(wework): cover tool detail disclosures in the desktop checkpoint
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

fix(collaboration): keep the reader's place when a disclosure opens
  packages/collaboration/src/conversation/AssistantErrorCard.tsx
  packages/collaboration/src/conversation/AssistantMessage.tsx
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

feat(wework): enhance WorkspaceFileTree with file reveal functionality and improved tests
  packages/collaboration/src/controls/ActionMenu.tsx
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
  wework/electron/src/host/capability-router.ts
  wework/electron/src/host/electron-capabilities.ts
  wework/electron/src/host/workspace-file-actions.test.ts
  wework/electron/src/host/workspace-file-actions.ts
  wework/src/components/common/ActionMenu.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceDirectoryPicker.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileBreadcrumbs.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileIcon.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileIcon.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileToolbar.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileToolbar.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileTree.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileTree.tsx
  wework/src/components/layout/workspace-panels/useWorkspaceFileReveal.test.ts
  wework/src/components/layout/workspace-panels/useWorkspaceFileReveal.ts
  wework/src/components/layout/workspace-panels/workspaceFileBreadcrumbModel.ts
  wework/src/components/layout/workspace-panels/workspaceFileTabs.test.ts
  wework/src/components/layout/workspace-panels/workspaceFileTabs.ts
  wework/src/components/layout/workspace-panels/workspaceFileTreeModel.ts
  wework/src/components/layout/workspace-panels/workspaceFileTreeStyles.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
Due: none

fix(wework): retain file preview during tab loads
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
Due: none

fix(wework): address file preview review feedback
  packages/collaboration/src/controls/ActionMenu.tsx
  wework/src/components/common/ActionMenu.test.tsx
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
Due: none

test(wework): stabilize file preview parity checks
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

test(wework): scope file preview directory e2e
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

fix(knowledge): repair the legacy milvus dimension contract
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/knowledge/processing_errors.py
  backend/app/services/model_embedding_dimension.py
  backend/app/services/rag/embedding/factory.py
  backend/tests/services/knowledge/test_processing_errors.py
  knowledge_engine/knowledge_engine/embedding/contract.py
  knowledge_engine/knowledge_engine/embedding/errors.py
  knowledge_engine/knowledge_engine/storage/milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_dimension_contract.py
  knowledge_engine/tests/test_embedding_factory.py
  knowledge_runtime/tests/test_main_errors.py
Due: wegent-backend

fix(wegent): 限制mcp tool 名字长度最长为64
  backend/app/services/execution/request_builder.py
  backend/app/services/execution/skill_mcp.py
  backend/tests/services/chat/test_selected_knowledge.py
  backend/tests/services/execution/test_request_builder_mcp.py
  backend/tests/services/execution/test_skill_mcp.py
  chat_shell/chat_shell/tools/skill_factory.py
  chat_shell/tests/test_skill_mcp_loader.py
  shared/tests/utils/test_mcp_names.py
  shared/utils/mcp_names.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(backend): add user whitelist for public models
  backend/app/schemas/kind.py
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/adapters/public_model.py
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/adapters/test_public_model_whitelist.py
  frontend/src/__tests__/features/admin/PublicModelList.whitelist.test.ts
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

test(wework): avoid file preview tree collision
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

docs: document spec.allowedUsers model whitelist field
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
Due: none

test(wework): simplify file dropdown e2e flow
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

fix(knowledge): close the remaining dimension contract gaps
  backend/app/schemas/kind.py
  backend/app/services/model_embedding_dimension.py
  backend/tests/services/test_model_embedding_dimension.py
  knowledge_engine/knowledge_engine/storage/milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_backend.py
Due: wegent-backend

test(wework): avoid file picker tree collisions
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

fix(frontend): keep public model dialog footer reachable on short viewports
  frontend/src/features/admin/components/PublicModelList.tsx
Due: wegent-web

refactor(wework): centralize plugin inventory state
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/components/chat/composer/composerAppsSnapshot.test.ts
  wework/src/components/chat/composer/composerAppsSnapshot.ts
  wework/src/components/plugins/PluginManagementWorkspace.test.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/features/plugins/pluginMarketplaceCache.test.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
Due: none

fix(wework): unify personal plugin marketplace state
  backend/app/services/device/capability_sync_service.py
  backend/app/services/device/plugin_reconciliation.py
  backend/tests/services/device/test_capability_sync_service.py
  backend/tests/services/test_plugin_reconciliation.py
  executor/src/local/bundled_plugins.rs
  executor/src/local/capabilities.rs
  executor/src/local/capabilities/support.rs
  executor/src/local/mod.rs
  executor/src/local/personal_marketplace_lock.rs
  executor/src/local/plugin_catalog.rs
  executor/src/local/plugin_import.rs
  executor/tests/local_capability_sync_contract.rs
  packages/chat-core/src/codex-installed-plugins.ts
  packages/chat-core/src/codex-plugin-types.ts
  wework/src/api/local/listWegentStoreFromDisk.test.ts
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/installedPluginMerge.test.ts
  wework/src/components/plugins/pluginOperationNoticePolicy.test.ts
  wework/src/components/plugins/pluginOperationNoticePolicy.ts
Due: wegent-executor, wegent-backend

fix(wework): align marketplace plugin uninstall
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/pluginOperationNoticePolicy.test.ts
  wework/src/components/plugins/pluginOperationNoticePolicy.ts
  wework/src/components/plugins/workspace/marketplaceWorkspaceHelpers.test.ts
  wework/src/components/plugins/workspace/marketplaceWorkspaceHelpers.ts
Due: none

test(wework): align file tab e2e expectations
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

test(wework): scope file picker e2e selectors
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
  wework/src/e2e/automation.ts
Due: none

fix(wework): read composer apps from shared inventory
  wework/src/components/chat/composer/desktopComposerCatalog.ts
Due: none

feat: add explicit whitelist-only switch for public models
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/adapters/test_public_model_whitelist.py
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
  frontend/src/__tests__/features/admin/PublicModelList.whitelist.test.ts
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

fix(knowledge): keep the shared milvus alias alive
  knowledge_engine/knowledge_engine/storage/milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_shared_alias.py
Due: none

test(wework): reveal file tree after tab switches
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

fix: address review nits on model whitelist
  backend/app/services/adapters/bot_kinds.py
  frontend/src/features/admin/components/PublicModelList.tsx
Due: wegent-backend, wegent-web

test(wework): detect visible file tree in preview e2e
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

test(wework): keep drag wait outside target scope
  wework/src/e2e/automation.ts
Due: none

fix(knowledge): resolve every raw model spec through the shared helper
  backend/app/api/endpoints/admin/public_bots.py
  backend/app/api/endpoints/openapi_responses.py
  backend/app/services/knowledge/retrieval_profile.py
  backend/tests/api/test_admin_public_bots.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/services/knowledge/test_code_wiki_retrieval_profile.py
Due: wegent-backend

fix: address plugin reconciliation CI regressions
  backend/app/services/device/capability_sync_service.py
  backend/app/services/device/plugin_reconciliation.py
  backend/tests/services/device/test_capability_sync_service.py
  backend/tests/services/test_plugin_reconciliation.py
  executor/src/local/personal_marketplace_lock.rs
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/retainMarketplaceInstallHints.test.ts
  wework/src/components/plugins/retainMarketplaceInstallHints.ts
  wework/src/features/plugins/pluginMarketplaceCache.test.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
Due: wegent-executor, wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
