Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

chore(wework): configure Tailwind CSS with design tokens
  wework/package-lock.json
  wework/package.json
  wework/postcss.config.js
  wework/src/main.tsx
  wework/src/styles/globals.css
  wework/tailwind.config.js
Due: none

chore(wework): add shadcn/ui baseline and path aliases
  wework/components.json
  wework/package-lock.json
  wework/package.json
  wework/src/components/ui/button.tsx
  wework/src/lib/utils.ts
  wework/tsconfig.app.json
  wework/vite.config.ts
Due: none

chore(wework): add responsive breakpoint hooks
  wework/src/hooks/useIsDesktop.ts
  wework/src/hooks/useIsMobile.ts
Due: none

chore(wework): add i18next with zh-CN and en locales
  wework/package-lock.json
  wework/package.json
  wework/src/i18n/index.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/main.tsx
Due: none

feat(knowledge): add batch move to folder and transfer documents between KBs
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_service.py
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/MoveDocumentDialog.tsx
  frontend/src/features/knowledge/document/components/TransferToKbDialog.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/features/knowledge/document/hooks/useFolders.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(frontend): remove unused useMemo import and totalCount variable in TransferToKbDialog
  frontend/src/features/knowledge/document/components/TransferToKbDialog.tsx
Due: wegent-web

style(backend): apply black and isort formatting
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_service.py
Due: wegent-backend

fix: address CodeRabbit review feedback for KB transfer and batch move
  backend/app/api/endpoints/knowledge.py
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_service.py
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/TransferToKbDialog.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
Due: wegent-backend, wegent-web

fix: localize transfer fallback error and update batch-move docstring
  backend/app/api/endpoints/knowledge.py
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
Due: wegent-backend, wegent-web

feat(knowledge): enable cross-knowledge-base document transfer with indexing
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/knowledge/test_document_transfer.py
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/TransferToKbDialog.tsx
Due: wegent-backend, wegent-web

fix(knowledge): add KB ownership filter to document transfer queries
  backend/app/api/endpoints/knowledge.py
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_service.py
Due: wegent-backend

feat(backend): auto-delete empty folders in source KB after document transfer
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/knowledge/test_document_transfer.py
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/FolderTree.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

feat(knowledge): add namespace transfer validation, duplicate name check, and batch delete optimization
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_service.py
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/transfer-to-kb-dialog.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(knowledge): improve document transfer reliability and error handling
  backend/app/api/endpoints/knowledge.py
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/knowledge/test_document_transfer.py
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/transfer-to-kb-dialog.tsx
Due: wegent-backend, wegent-web

refactor(knowledge): extract transfer logic into KnowledgeTransferService and add StructuredValidationException
  backend/app/api/api.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/knowledge_transfer.py
  backend/app/core/exceptions.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/knowledge_transfer.py
  backend/tests/services/knowledge/test_document_transfer.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
  frontend/src/features/knowledge/document/components/transfer-to-kb-dialog.tsx
Due: wegent-backend, wegent-web

test(backend): add missing test coverage for document transfer
  backend/tests/services/knowledge/test_document_transfer.py
Due: wegent-backend

feat(knowledge): add document transfer API and knowledge base migration dialog
  backend/app/api/endpoints/knowledge_transfer.py
  backend/app/services/knowledge/knowledge_transfer.py
  backend/tests/services/knowledge/test_document_transfer.py
  frontend/src/__tests__/apis/client.test.ts
  frontend/src/apis/client.ts
  frontend/src/features/knowledge/document/components/MigrateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

perf(backend): optimize batch_move_documents to eliminate N+1 queries
  backend/app/services/knowledge/folder_service.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

refactor(knowledge): move batch-move endpoint to transfer module and fix folder selection logic
  backend/app/api/api.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/knowledge_transfer.py
  frontend/src/features/knowledge/document/components/DocumentList.tsx
Due: wegent-backend, wegent-web

feat(group): support entity department extension authorization (#1140)
  backend/alembic/versions/20260519_9d4be4601172_add_resource_members_entity_lookup_index.py
  backend/app/api/endpoints/groups.py
  backend/app/core/config.py
  backend/app/models/resource_member.py
  backend/app/schemas/group_entity_member.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/group_member_helper.py
  backend/app/services/group_permission.py
  backend/app/services/group_service.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/share/base_service.py
  backend/app/services/share/external_entity_resolver.py
  backend/app/services/share/namespace_entity_resolver.py
  backend/app/services/share/team_share_service.py
  backend/tests/api/endpoints/test_group_entity_scenarios.py
  backend/tests/api/endpoints/test_group_namespace_permissions.py
  backend/tests/api/endpoints/test_groups_api.py
  backend/tests/services/knowledge/test_external_entity_permissions.py
  backend/tests/services/share/test_namespace_entity_resolver.py
  backend/tests/services/share/test_team_share_service.py
  backend/tests/services/test_group_entity_members.py
  backend/tests/services/test_kb_tool_access_mode.py
  backend/tests/utils/mock_resolver.py
  docs/en/developer-guide/entity-permission-extension.md
  docs/zh/developer-guide/entity-permission-extension.md
  frontend/src/apis/groups.ts
  frontend/src/features/groups/extension-loader.ts
  frontend/src/features/settings/components/groups/AddMemberPanel.tsx
  frontend/src/features/settings/components/groups/GroupMembersDialog.tsx
  frontend/src/i18n/locales/en/groups.json
  frontend/src/i18n/locales/zh-CN/groups.json
  frontend/src/types/group.ts
Due: wegent-backend, wegent-web

feat(wework): add AppLayout, Header, Sidebar components
  wework/src/components/layout/AppLayout.tsx
  wework/src/components/layout/Header.tsx
  wework/src/components/layout/Sidebar.tsx
Due: none

fix(wework): use type-only import for ReactNode, add paths to root tsconfig
  wework/src/components/layout/AppLayout.tsx
  wework/tsconfig.json
Due: none

feat(wework): add home page and wire AppLayout
  wework/src/App.tsx
  wework/src/pages/HomePage.tsx
Due: none

feat(frontend): add wework path and i18n keys
  frontend/src/config/paths.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/lib/runtime-config.ts
Due: wegent-web

feat(frontend): add WeWork navigation entry in desktop and mobile nav
  frontend/src/features/layout/components/DesktopNavLinks.tsx
  frontend/src/features/layout/components/MobileNavTabs.tsx
Due: wegent-web

feat(wework): integrate wework service into start.sh
  start.sh
Due: none

fix(knowledge): clear selectedFolderIds after batch delete and batch move to prevent stale state
  frontend/src/features/knowledge/document/components/DocumentList.tsx
Due: wegent-web

fix(start.sh): add WeWork port to init wizard and save_config update branch
  start.sh
Due: none

fix(start.sh): auto-backfill missing ports in .env and skip own-PID port conflicts
  start.sh
Due: none

feat(wework): activate Tauri desktop mode
  wework/package.json
  wework/src-tauri/Cargo.toml
  wework/src-tauri/tauri.conf.json
Due: none

feat: 添加cargo
  wework/src-tauri/Cargo.lock
Due: none

fix(knowledge): clear folder selection on select-all and prevent selecting empty folders
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/FolderTree.tsx
Due: wegent-web

feat(knowledge): add batch move to folder and transfer documents between KBs (#1131)
  backend/app/api/api.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/knowledge_transfer.py
  backend/app/core/exceptions.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/knowledge_transfer.py
  backend/tests/services/knowledge/test_document_transfer.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
  frontend/src/__tests__/apis/client.test.ts
  frontend/src/apis/client.ts
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/FolderTree.tsx
  frontend/src/features/knowledge/document/components/MigrateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/MoveDocumentDialog.tsx
  frontend/src/features/knowledge/document/components/transfer-to-kb-dialog.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/features/knowledge/document/hooks/useFolders.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(group): resolve duplicate argument in get_entity_resolver calls
  backend/app/api/endpoints/groups.py
Due: wegent-backend

fix(group): resolve duplicate argument in get_entity_resolver calls (#1154)
  backend/app/api/endpoints/groups.py
Due: wegent-backend

fix device download skill fail after updater (#1153)
  executor/services/updater/process_manager.py
Due: wegent-executor

feat(executor): add local device command rpc
  AGENTS.md
  README.md
  README_zh.md
  backend/app/api/endpoints/devices.py
  backend/app/core/config.py
  backend/app/schemas/device.py
  backend/app/services/device/command_post_processor.py
  backend/app/services/device/command_registry.py
  backend/app/services/device/command_service.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/developer-guide/local-device-command-rpc.md
  docs/zh/developer-guide/local-device-command-rpc.md
  executor/modes/local/command_handler.py
  executor/modes/local/events.py
  executor/modes/local/runner.py
  executor/tests/test_local_command_handler.py
Due: wegent-executor, wegent-backend

feat(executor): add local device command rpc (#1155)
  AGENTS.md
  README.md
  README_zh.md
  backend/app/api/endpoints/devices.py
  backend/app/core/config.py
  backend/app/schemas/device.py
  backend/app/services/device/command_post_processor.py
  backend/app/services/device/command_registry.py
  backend/app/services/device/command_service.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/developer-guide/local-device-command-rpc.md
  docs/zh/developer-guide/local-device-command-rpc.md
  executor/modes/local/command_handler.py
  executor/modes/local/events.py
  executor/modes/local/runner.py
  executor/tests/test_local_command_handler.py
Due: wegent-executor, wegent-backend

feat(knowledge): 支持知识库手动摘要编辑
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/summary.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/knowledge/summary_service.py
  backend/tests/services/test_summary_service.py
  frontend/src/apis/knowledge-base.ts
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseSummaryDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseCard.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseSummaryCard.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDetailPanel.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageDesktop.tsx
  frontend/src/features/knowledge/document/components/index.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeSidebar.ts
  frontend/src/features/knowledge/document/pages/KnowledgeBaseChatPageDesktop.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseChatPageMobile.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseClassicPageDesktop.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseClassicPageMobile.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

docs(knowledge): 补充手动摘要说明
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/knowledge/knowledge-base-guide.md
Due: none
