Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): import linux webkit data traits
  wework/src-tauri/src/embedded_browser/data_clearing.rs
Due: none

feat: enhance recent teams functionality to distinguish between code and non-code tasks (#2449)
  backend/app/api/endpoints/users.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/group_permission.py
  backend/tests/api/endpoints/test_user_quick_access.py
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileTeamSelector.tsx
  frontend/src/features/tasks/components/selector/TeamSelector.tsx
  frontend/src/features/tasks/components/selector/TeamSelectorButton.tsx
  frontend/src/features/tasks/components/selector/useRecentTeams.ts
Due: wegent-backend, wegent-web

refactor(admin): remove mysql task metric reconciliation
  backend/alembic/versions/20260805_c0d1e2f3a4b5_add_subtask_run_stats_index.py
  backend/alembic/versions/20260806_e1f2a3b4c5d6_add_subtask_status_changed_at.py
  backend/alembic/versions/20260806_f1a2b3c4d5e6_merge_task_metrics_and_marketplace_heads.py
  backend/app/core/config.py
  backend/app/services/admin_task_run_stats.py
  backend/app/services/jobs.py
  backend/app/services/task_run_metric_hooks.py
  backend/app/services/task_run_metrics.py
  backend/app/services/task_run_metrics_reconciler.py
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/services/test_task_run_metrics.py
  shared/models/db/subtask.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(wework): align desktop sidebar surface
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

fix(wework): show expanded project folders
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/projects/ProjectFolderIcon.test.tsx
  wework/src/components/projects/ProjectFolderIcon.tsx
Due: none

docs(wework): document shared desktop surface
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix(wework): fit settings page to container below titlebar
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
Due: none

test(wework): cover final streaming promotion
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: wegent-executor

fix(wework): stabilize final content streaming
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/agents/codex/run_state.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/notification_mapping.rs
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
Due: wegent-executor

feat(wework): track ttft and response body size in ai generation telemetry
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/useAiGenerationTelemetry.test.ts
  wework/src/features/workbench/useAiGenerationTelemetry.ts
  wework/src/telemetry/events.ts
Due: none

fix(wework): show expanded project folders (#2452)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/projects/ProjectFolderIcon.test.tsx
  wework/src/components/projects/ProjectFolderIcon.tsx
Due: none

fix(wework): fit settings page to container below titlebar (#2454)
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
Due: none

perf(wework): size browser data type buffer
  wework/src-tauri/src/embedded_browser/data_clearing.rs
Due: none

fix(wework): stabilize final content streaming (#2451)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/agents/codex/run_state.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/notification_mapping.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
Due: wegent-executor

fix(wework): align desktop sidebar surface (#2453)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

fix(executor): persist actionable task errors
  backend/app/services/admin_task_run_stats.py
  backend/app/services/task_run_metric_hooks.py
  backend/app/services/task_run_metrics.py
  backend/tests/services/test_admin_task_run_stats.py
  backend/tests/services/test_task_run_metrics.py
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
Due: wegent-executor, wegent-backend

fix(wework): resolve CodeRabbit review findings on telemetry
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/lib.rs
  wework/src/App.tsx
  wework/src/features/feedback/TaskFeedbackDialog.tsx
  wework/src/telemetry/TelemetryConsentDialog.tsx
  wework/src/telemetry/client.ts
  wework/src/telemetry/config.ts
Due: none

fix(wework): preserve configured desktop e2e ports
  wework/e2e/desktop/run-checkpoints.mjs
Due: none

fix(wework): log feedback submission failures
  wework/src-tauri/src/feedback.rs
Due: none

docs(wework): document feedback submission logs
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
Due: none

fix(wework): show quick phrases trigger as icon only by default
  wework/src/components/chat/composer/ComposerToolbar.test.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.test.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.tsx
Due: none

refactor(wework): migrate local runtime home to ~/.wework
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/App.apps.test.tsx
  wework/src/App.plugins.test.tsx
  wework/src/api/local/localAttachments.test.ts
  wework/src/api/local/localServices.test.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/WorktreesSettingsPage.test.tsx
  wework/src/features/local-runtime/CodexHomeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/lib/device-workspace-path.test.ts
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
  wework/src/tauri/localExecutor.test.ts
Due: none

docs(wework): document local data directory and migration
  docs/en/wework/developer-guide/wework-local-data-directory.md
  docs/zh/wework/developer-guide/wework-local-data-directory.md
Due: none

fix(wework): normalize personal marketplace path before migration
  wework/src/api/local/codexPlugins.ts
  wework/src/features/plugins/personalPluginMigration.test.ts
Due: none

fix(wework): attach local terminal before streaming output
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src/components/layout/workspace-panels/EmbeddedLocalTerminal.tsx
  wework/src/lib/local-terminal.test.ts
  wework/src/lib/local-terminal.ts
Due: none

docs(wework): document terminal attach handshake
  wework/DESIGN.md
Due: none

feat(wework): support local file browser URLs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
Due: none

fix(wework): log feedback submission failures (#2455)
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
  wework/src-tauri/src/feedback.rs
Due: none

fix(wework): add feature to E2E telemetry property allowlist
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(admin): use task store for run failure details
  backend/app/services/admin_task_run_stats.py
  backend/app/stores/tasks/__init__.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/stores/tasks/test_sqlalchemy_subtask_store.py
Due: wegent-backend

fix(wework): pass marketplace manifest path when installing plugin
  wework/src/api/local/codexPlugins.ts
  wework/src/features/plugins/personalPluginMigration.test.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

fix(wework): open tasks before model preparation completes
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

fix(wework): skip connector auth preflight for plain messages
  wework/src/features/plugins/localConnectorAuthGate.test.ts
  wework/src/features/plugins/localConnectorAuthGate.ts
  wework/src/features/plugins/useLocalConnectorAuthGate.ts
Due: none

fix(wework): attach local terminal before streaming output (#2458)
  wework/DESIGN.md
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src/components/layout/workspace-panels/EmbeddedLocalTerminal.tsx
  wework/src/lib/local-terminal.test.ts
  wework/src/lib/local-terminal.ts
Due: none

docs(wework): document connector auth preflight scope
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
Due: none

fix(wework): stop blocking task send and new-task launch on plugin/model prep (#2459)
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  wework/src/api/local/codexPlugins.ts
  wework/src/features/plugins/localConnectorAuthGate.test.ts
  wework/src/features/plugins/localConnectorAuthGate.ts
  wework/src/features/plugins/personalPluginMigration.test.ts
  wework/src/features/plugins/useLocalConnectorAuthGate.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

refactor(wework): migrate local runtime home to ~/.wework (#2457)
  docs/en/wework/developer-guide/wework-local-data-directory.md
  docs/zh/wework/developer-guide/wework-local-data-directory.md
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/App.apps.test.tsx
  wework/src/App.plugins.test.tsx
  wework/src/api/local/localAttachments.test.ts
  wework/src/api/local/localServices.test.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/WorktreesSettingsPage.test.tsx
  wework/src/features/local-runtime/CodexHomeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/lib/device-workspace-path.test.ts
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
  wework/src/tauri/localExecutor.test.ts
Due: none

feat(admin): add task run monitoring (#2440)
  backend/app/api/endpoints/admin/router.py
  backend/app/api/endpoints/admin/task_run_monitor.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/schemas/admin_task_runs.py
  backend/app/services/admin_task_run_stats.py
  backend/app/services/task_run_metric_hooks.py
  backend/app/services/task_run_metrics.py
  backend/app/stores/tasks/__init__.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/services/test_admin_task_run_stats.py
  backend/tests/services/test_task_run_metrics.py
  backend/tests/stores/tasks/test_sqlalchemy_subtask_store.py
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  frontend/src/__tests__/features/admin/TaskRunMonitorPanel.test.tsx
  frontend/src/apis/admin.ts
  frontend/src/app/admin/page.tsx
  frontend/src/features/admin/components/AdminTabNav.tsx
  frontend/src/features/admin/components/TaskRunMonitorPanel.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-executor, wegent-backend, wegent-web
