Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(knowledge): 支持创建时配置直接访问要求
  frontend/src/__tests__/features/knowledge/document/create-knowledge-base-direct-access.test.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDialogs.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
Due: wegent-web

fix(wework): restore historical tool records
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
Due: none

docs(wework): document transcript identity normalization
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
Due: none

fix(knowledge): 按智能体所有者重验默认知识库权限
  backend/app/mcp_server/tools/knowledge.py
  backend/app/services/chat/task_default_knowledge_bases.py
  backend/tests/services/adapters/test_team_child_namespace_authorization.py
  backend/tests/services/chat/test_task_default_knowledge_bases.py
Due: wegent-backend

fix(knowledge): 优化知识库可见范围文案
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

chore(wework): remove superpowers docs from branch
  docs/superpowers/plans/2026-07-17-wework-cloud-device-vnc-browser.md
  docs/superpowers/specs/2026-07-17-wework-cloud-device-vnc-browser-design.md
Due: none

feat(wework): add Codex-compatible hooks host
  executor/Cargo.lock
  executor/Cargo.toml
  executor/examples/hooks/file-change-logger/README.md
  executor/examples/hooks/file-change-logger/bin/log-file-change
  executor/examples/hooks/file-change-logger/hooks.json
  executor/examples/hooks/file-change-logger/plugin.json
  executor/src/hooks/codex.rs
  executor/src/hooks/command.rs
  executor/src/hooks/host.rs
  executor/src/hooks/matcher.rs
  executor/src/hooks/mod.rs
  executor/src/hooks/model.rs
  executor/src/hooks/registry.rs
  executor/src/runtime_work/handler.rs
  wework/src-tauri/bundled-hooks/.gitkeep
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/tauri.conf.json
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/features/hooks/HookEditorDialog.tsx
  wework/src/features/hooks/HookListItem.tsx
  wework/src/features/hooks/HookTestResult.tsx
  wework/src/features/hooks/HooksSettingsPage.test.tsx
  wework/src/features/hooks/HooksSettingsPage.tsx
  wework/src/features/hooks/hooksApi.ts
  wework/src/features/hooks/hooksTypes.ts
  wework/src/features/hooks/useHooksSettings.ts
  wework/src/i18n/index.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/en/hooks.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/i18n/locales/zh-CN/hooks.json
Due: wegent-executor

fix(knowledge): 修复默认知识库授权与分页过滤
  backend/app/services/adapters/task_kinds/task_skills_resolver.py
  backend/app/services/chat/task_default_knowledge_bases.py
  backend/app/services/kind_ref_resolver.py
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/chat/test_task_default_knowledge_bases.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

refactor(wework): isolate cloud desktop extension (#2076)
  docs/en/developer-guide/wework-embedded-browser.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/wework-embedded-browser.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  wework/public/novnc/rfb.min.js
  wework/public/vnc.html
  wework/src-tauri/src/embedded_browser.rs
  wework/src/api/backend/backendServices.ts
  wework/src/api/devices.ts
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/DeviceActionButton.tsx
  wework/src/extensions/cloud-desktop-contract.ts
  wework/src/extensions/cloud-desktop.test.tsx
  wework/src/extensions/cloud-desktop.tsx
  wework/src/features/workbench/workbenchServices.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/browser-url.test.ts
  wework/src/lib/browser-url.ts
  wework/src/lib/embedded-browser-download-store.test.ts
  wework/src/lib/embedded-browser-download-store.ts
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
  wework/src/lib/vnc.test.ts
  wework/src/lib/vnc.ts
  wework/src/types/devices.ts
Due: none

fix(knowledge): 修复智能体默认知识库授权
  backend/app/mcp_server/tools/knowledge.py
  backend/app/services/chat/task_default_knowledge_bases.py
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/chat/test_task_default_knowledge_bases.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

fix(knowledge): 保留智能体知识库显式拒绝规则
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

feat: fix bug
  executor/src/hooks/registry.rs
  wework/src/components/chat/composer/ComposerTextarea.tsx
Due: wegent-executor

fix(knowledge): 补充知识库弹窗无障碍描述
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(wework): normalize transcript subtask ids
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
Due: none

fix(knowledge): 兼容历史知识库权限数据
  backend/app/models/resource_member.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/share/base_service.py
  backend/app/services/share/knowledge_share_service.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

fix: fix ci
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): restore historical tool records (#2075)
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
Due: none

fix(wework): cap model selector width and collapse quick phrases in narrow toolbar
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ComposerToolbar.test.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.test.tsx
  wework/src/components/chat/composer/QuickPhraseMenu.tsx
  wework/src/components/chat/composer/model-selector-types.ts
Due: none

fix(wework): swallow arrow keys at native input boundaries on macOS
  wework/src/App.tsx
  wework/src/lib/macosInputArrowKeyGuard.test.ts
  wework/src/lib/macosInputArrowKeyGuard.ts
Due: none

fix(wework): revert model selector to left-opening and narrow browser occlusion to cloud dialog
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/features/cloud-connection/CloudConnectionDialog.tsx
  wework/src/hooks/useEmbeddedBrowserOcclusion.ts
Due: none

fix(wework): remove forced dark mode from add-device and cloud-work dialogs
  wework/src/components/projects/DeviceFolderPicker.tsx
  wework/src/components/projects/StandaloneProjectDialogs.tsx
  wework/src/components/settings/AddCloudDeviceDialog.tsx
Due: none

fix(wework): render cloud-work error popover via portal and close on outside click
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/features/cloud-connection/CloudConnectionSidebarButton.tsx
Due: none

fix(wework): pause goals before stopping responses
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

refactor(knowledge): 拆分知识库权限策略与可见性查询
  backend/app/api/endpoints/groups.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/task_default_knowledge_bases.py
  backend/app/services/external_entity_resolver.py
  backend/app/services/group_member_helper.py
  backend/app/services/group_permission.py
  backend/app/services/knowledge/folder_service.py
  backend/app/services/knowledge/knowledge_access_policy.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/knowledge_visibility_query.py
  backend/app/services/share/__init__.py
  backend/app/services/share/base_service.py
  backend/app/services/share/knowledge_share_service.py
  backend/app/services/share/namespace_entity_resolver.py
  backend/tests/api/endpoints/test_group_entity_scenarios.py
  backend/tests/api/endpoints/test_group_namespace_permissions.py
  backend/tests/services/adapters/test_team_child_namespace_authorization.py
  backend/tests/services/chat/test_task_default_knowledge_bases.py
  backend/tests/services/knowledge/test_external_entity_permissions.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
  backend/tests/services/share/test_check_entity_permission.py
  backend/tests/services/share/test_namespace_entity_resolver.py
  backend/tests/services/share/test_team_share_service.py
  backend/tests/services/test_group_entity_members.py
  backend/tests/services/test_kb_tool_access_mode.py
  backend/tests/utils/mock_resolver.py
Due: wegent-backend

docs(wework): document goal stop ordering
  docs/en/developer-guide/wework-chat-state-sources.md
  docs/zh/developer-guide/wework-chat-state-sources.md
Due: none

fix(knowledge): 统一任务绑定知识库权限判断
  backend/app/services/knowledge/knowledge_access_policy.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/knowledge_visibility_query.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

docs(wework): define VNC code ownership boundary
  docs/en/developer-guide/wework-embedded-browser.md
  docs/zh/developer-guide/wework-embedded-browser.md
Due: none

fix(executor): stop dev supervisor with Wework
  docs/en/developer-guide/local-device-architecture.md
  docs/zh/developer-guide/local-device-architecture.md
  executor/src/bin/wegent-executor-dev.rs
Due: wegent-executor

fix(executor): check ownership before dev restart
  executor/src/bin/wegent-executor-dev.rs
Due: wegent-executor

fix(wework): preserve chat scroll position on panel resize
  wework/DESIGN.md
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(knowledge): 收紧任务绑定知识库权限边界
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/knowledge/knowledge_access_policy.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/knowledge_visibility_query.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_task_store.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
  backend/tests/stores/tasks/test_sqlalchemy_task_store.py
Due: wegent-backend

fix(wework): pause goals while details load
  docs/en/developer-guide/wework-chat-state-sources.md
  docs/zh/developer-guide/wework-chat-state-sources.md
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/types/api.ts
Due: none

refactor(wework): colocate VNC desktop code under wecode
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/e2e/automation.ts
  wework/vite.config.ts
  wework/wecode/e2e/desktop/index.mjs
  wework/wecode/e2e/desktop/vnc.mjs
  wework/wecode/e2e/desktop/vnc.test.ts
  wework/wecode/features/vnc/ownership.test.ts
  wework/wecode/features/vnc/viteAssets.test.ts
  wework/wecode/vitePlugins.mjs
  wework/wecode/vitePlugins.test.ts
Due: none

docs(wework): design VNC test ownership boundary
  docs/superpowers/specs/2026-07-20-wework-vnc-test-e2e-ownership-design.md
Due: none

fix(wework): preserve chat scroll position on panel resize (#2080)
  wework/DESIGN.md
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(wework): make stop and executor shutdown reliable (#2079)
  docs/en/developer-guide/local-device-architecture.md
  docs/en/developer-guide/wework-chat-state-sources.md
  docs/zh/developer-guide/local-device-architecture.md
  docs/zh/developer-guide/wework-chat-state-sources.md
  executor/src/bin/wegent-executor-dev.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/types/api.ts
Due: wegent-executor

refactor(wework): move desktop launch behavior into wecode
  wework/src/extensions/cloud-desktop-contract.ts
  wework/src/extensions/cloud-desktop.tsx
  wework/wecode/extensions/cloud-desktop.tsx
  wework/wecode/features/vnc/VncDesktopButton.tsx
  wework/wecode/features/vnc/WorkspaceDesktopAction.test.tsx
  wework/wecode/features/vnc/WorkspaceDesktopAction.tsx
  wework/wecode/features/vnc/useCloudDesktopLaunch.ts
Due: none

refactor(wework): keep desktop hosts protocol neutral
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
Due: none

refactor(wework): move browser control commands into wecode
  wework/src/e2e/automation.ts
  wework/src/extensions/desktop-control-contract.ts
  wework/src/extensions/desktop-control.ts
  wework/wecode/e2e/desktop-control.test.ts
  wework/wecode/extensions/desktop-control.ts
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
