Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: pipeline失败，gptDefaultInstructions.md缺失导致构建失败
  wecode/docker/wework/Dockerfile
  wecode/docker/wework/prepare_build.sh
Due: none

fix(models): 对齐模型行操作并更新能力图标
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCapabilityIcons.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
Due: wegent-web

fix(wework): delegate cloud desktop launch to extension
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/extensions/cloud-desktop-contract.ts
  wework/src/extensions/cloud-desktop.test.tsx
  wework/src/extensions/cloud-desktop.tsx
  wework/src/extensions/i18n.ts
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/i18n/index.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/vite.config.ts
Due: none

fix(models): 恢复视频能力图标
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCapabilityIcons.tsx
Due: wegent-web

chore(chat_shell): add summary-compaction diagnostics logging
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/services/streaming/core.py
Due: none

fix(wework): preserve custom catalog readiness snapshots (#2123)
  .github/workflows/e2e-tests.yml
  executor/src/runtime_work/handler.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
Due: wegent-executor

chore(chat_shell): address review on compaction diagnostics
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/services/streaming/core.py
Due: none

fix(wework): hide git controls for non-git workspaces
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/types/environment.ts
Due: none

fix(models): 收窄模型选中状态槽
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
Due: wegent-web

fix(wework): detect localized non-git workspaces
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
Due: none

fix(models): 收紧模型属性与操作布局
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
Due: wegent-web

fix(models): 简化模型选中与属性布局
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
Due: wegent-web

fix(wework): open local HTML links in browser
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/lib/browser-url.test.ts
  wework/src/lib/browser-url.ts
  wework/src/lib/embedded-browser.test.ts
Due: none

fix(models): 恢复移动端模型选中反馈
  frontend/src/__tests__/components/model-select/model-cascade-content.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
Due: wegent-web

refactor(executor): split runtime work handler
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/codex_config.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/fork_transfer.rs
  executor/src/runtime_work/handler/helpers.rs
  executor/src/runtime_work/handler/helpers/cleanup.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/helpers/runtime.rs
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/hooks.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/runtime_rpc.rs
  executor/src/runtime_work/handler/sidebar.rs
  executor/src/runtime_work/handler/system.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/handler/workspaces.rs
Due: wegent-executor

fix(wework): sanitize shell tool output
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/lib/terminal-text.test.ts
  wework/src/lib/terminal-text.ts
Due: none

fix(tasks): prevent code tasks routing to devices (#2124)
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/task_device_resolution.py
  backend/tests/services/chat/test_task_device_resolution.py
  frontend/src/__tests__/features/tasks/components/params/DeviceParamSync.test.tsx
  frontend/src/__tests__/features/tasks/components/params/DeviceTaskSync.test.tsx
  frontend/src/__tests__/utils/taskRouting.test.ts
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/app/(tasks)/chat/ChatPageMobile.tsx
  frontend/src/features/tasks/components/params/DeviceParamSync.tsx
  frontend/src/features/tasks/components/params/DeviceTaskSync.tsx
  frontend/src/utils/taskRouting.ts
Due: wegent-backend, wegent-web

fix(wework): delegate cloud desktop launch to extension (#2125)
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/extensions/cloud-desktop-contract.ts
  wework/src/extensions/cloud-desktop.test.tsx
  wework/src/extensions/cloud-desktop.tsx
  wework/src/extensions/i18n.ts
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/i18n/index.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/vite.config.ts
Due: none

fix(wework): hide git controls for non-git workspaces (#2127)
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/types/environment.ts
Due: none

fix(executor): address runtime handler review findings
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/fork_transfer.rs
  executor/src/runtime_work/handler/tests.rs
  executor/tests/app_runtime_work_fork_rpc_contract.rs
Due: wegent-executor

fix(wework): open local HTML links in browser (#2128)
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/lib/browser-url.test.ts
  wework/src/lib/browser-url.ts
  wework/src/lib/embedded-browser.test.ts
Due: none

fix(wework): bound shell output scrollback
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/lib/terminal-text.test.ts
  wework/src/lib/terminal-text.ts
Due: none

refactor(executor): split runtime work handler (#2129)
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/codex_config.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/fork_transfer.rs
  executor/src/runtime_work/handler/helpers.rs
  executor/src/runtime_work/handler/helpers/cleanup.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/helpers/runtime.rs
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/hooks.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/runtime_rpc.rs
  executor/src/runtime_work/handler/sidebar.rs
  executor/src/runtime_work/handler/system.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/handler/workspaces.rs
  executor/tests/app_runtime_work_fork_rpc_contract.rs
Due: wegent-executor

fix(models): 统一桌面选中状态与详情文案
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCapabilityIcons.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/tasks/components/selector/ModelDetailsDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(wework): bound pane memory usage
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/processingExpansionState.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workbenchPaneStack.test.tsx
Due: none

fix(models): 统一从 modelConfig 读取模型限制
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/test_model_aggregation_service.py
  frontend/src/apis/models.ts
  frontend/src/features/admin/components/SetupModelStep.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
Due: wegent-backend, wegent-web

docs(wework): document pane memory lifecycle
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
Due: none

test(wework): calibrate settled memory budget
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(models): 完善模型选择可访问性与类型复用
  frontend/src/__tests__/components/model-select/model-cascade-content.test.tsx
  frontend/src/components/model-select/ModelCapabilityIcons.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/components/model-select/model-grouping.ts
  frontend/src/features/tasks/components/selector/MobileModelSelector.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
  frontend/src/lib/model-capabilities.ts
Due: wegent-web

fix(models): 收紧模型信息入口间距
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
Due: wegent-web

fix(wework): preserve completed runtime task state
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/helpers/runtime.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/worktrees.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/lib/developerCommandMenu.test.ts
  wework/src/types/api.ts
Due: wegent-executor

docs: clarify runtime task lifecycle states
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
Due: none

test(executor): align idle terminal state contract
  executor/tests/app_runtime_work_native_update_contract.rs
Due: wegent-executor

fix(wework): bound pane memory usage (#2132)
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/processingExpansionState.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workbenchPaneStack.test.tsx
Due: none

fix(wework): sanitize shell tool output (#2130)
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/lib/terminal-text.test.ts
  wework/src/lib/terminal-text.ts
Due: none

chore(chat_shell): add summary-compaction diagnostics logging (#2126)
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/services/streaming/core.py
Due: none

fix(wework): preserve completed runtime task state (#2131)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/helpers/runtime.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/lib/developerCommandMenu.test.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): render Codex inline visualizations
  docs/en/wegent/user-guide/coding/managing-code-tasks.md
  docs/zh/wegent/user-guide/coding/managing-code-tasks.md
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/lib/codex-directives.test.ts
  wework/src/lib/codex-directives.ts
Due: none

refactor(executor): modularize Codex runtime
  executor/src/agents/codex.rs
  executor/src/agents/codex/diagnostics.rs
  executor/src/agents/codex/home.rs
  executor/src/agents/codex/interaction.rs
  executor/src/agents/codex/run_state.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

docs(executor): document Codex runtime modules
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
