Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): reconcile live message navigation turns
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(wework): restore Codex failed turns (#2206)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/transcript.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(executor): reject fork while source is starting
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(wework): refresh project selector after reopen
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): refresh project selector after reopen (#2207)
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): preserve remote runtime target on task creation
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

feat(chat_shell): harden summary-compaction context governance (Phase 1)
  backend/app/api/endpoints/internal/chat_storage.py
  backend/app/services/chat/compaction_checkpoint.py
  backend/tests/api/test_internal_chat_storage_fork_history.py
  backend/tests/services/chat/test_compaction_checkpoint.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/history/loader.py
  chat_shell/chat_shell/models/factory.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/storage/remote.py
  chat_shell/tests/test_context_guard.py
  chat_shell/tests/test_history_loader.py
  chat_shell/tests/test_new_messages_from_state.py
  chat_shell/tests/test_serialize_messages_chain.py
  chat_shell/tests/test_summary_compactor.py
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: wegent-backend

test(chat_shell): confirm exit-durability authoritative state after recursion
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

refactor(chat_shell): extract shared sanitize_tool_pairs
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/compression/tool_sanitizer.py
  chat_shell/tests/test_tool_sanitizer.py
Due: none

fix(wework): correct model protocol routing
  backend/app/services/llm_proxy_service.py
  backend/tests/services/test_llm_proxy_service.py
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
  wework/src/lib/debugPanel.ts
Due: wegent-executor, wegent-backend

fix(wework): correct model protocol routing (#2208)
  backend/app/services/llm_proxy_service.py
  backend/tests/services/test_llm_proxy_service.py
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
  wework/src/lib/debugPanel.ts
Due: wegent-executor, wegent-backend

fix(ci): free disk before executor e2e
  .github/workflows/e2e-tests.yml
Due: none

fix(wework): address fork flow review feedback
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: wegent-executor

fix(wework): update cloud e2e project creation
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

docs(wework): document desktop e2e prerequisites
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

feat(chat_shell): add TurnExecutionContext (frozen, per-level thread ownership)
  chat_shell/chat_shell/agents/turn_context.py
  chat_shell/tests/test_turn_context.py
Due: none

test(chat_shell): assert pre-compaction content is replaced in exit-durability gate
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

feat(chat_shell): unconditional request-local exit-durability checkpointer
  chat_shell/chat_shell/agent.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

fix(wework): route remote project task creation
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

test(executor): complete fake Codex RPC responses
  executor/src/hooks/command.rs
  executor/tests/app_runtime_work_contract.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

feat(chat_shell): add _finalize_turn_history atomic choke point
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

fix(wework): stabilize cloud desktop e2e task selection
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): unify message virtualization
  pnpm-lock.yaml
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/AssistantMarkdown.windowing.test.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/assistantMarkdownWindowing.ts
  wework/src/components/chat/messageVirtualization.test.ts
  wework/src/components/chat/messageVirtualization.ts
  wework/src/components/chat/useMessageVirtualizer.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
Due: none

docs(wework): document message virtualization
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/en/wework/workbench.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/workbench.md
Due: none

refactor(chat_shell): persist normal/silent turns from authoritative aget_state
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

fix(chat_shell): tool-limit recovery uses current authoritative state
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

fix(wework): simplify runtime task status
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/types/workbench.ts
Due: none

docs(wework): define runtime task status semantics
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
Due: none

test(wework): align memory stability sampling
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): preserve multi-root project sessions
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/protocol/execution.rs
  executor/src/protocol/openai.rs
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/util.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/scripts/ai-verify-environment.mjs
  wework/scripts/ai-verify-environment.test.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/dev-mac-app.sh
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/desktop_capture.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
  wework/src/types/api.ts
  wework/src/types/environment.ts
Due: wegent-executor

docs(wework): document multi-root runtime flow
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
Due: none

fix(executor): support configured rust msrv
  executor/src/runtime_work/codex_global_state.rs
Due: wegent-executor

fix(wework): remove multi-root projects reliably
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
Due: none

fix(wework): preserve active task status during refresh
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

fix(wework): stabilize remote task execution
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

fix(wework): route remote projects through connected executors
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

test(wework): tolerate macOS memory variance
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

ci(executor): allow rust contracts to complete
  .github/workflows/test.yml
Due: none

fix(wework): track newly created runtime tasks
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

ci(executor): allow full rust suite to finish
  .github/workflows/test.yml
Due: none
