Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

bump image version to 1.0.2
  docker-compose.yml
Due: none

update readme
  README.md
  README_zh.md
Due: none

update readme (#17)
  README.md
  README_zh.md
Due: none

support resizable task sidebar
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/ResizableSidebar.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

auto scroll to latest message
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

support resizable task sidebar (#18)
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/ResizableSidebar.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

auto scroll to latest message (#19)
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

add tooltip for task
  frontend/src/features/tasks/components/TaskListSection.tsx
Due: wegent-web

add tooltip for task (#20)
  frontend/src/features/tasks/components/TaskListSection.tsx
Due: wegent-web

style(DiffViewer): Independent diff page, supporting the acquisition of diff data from github and gitlab
  backend/app/api/endpoints/repository.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/repository/interfaces/repository_provider.py
  backend/app/services/repository.py
  backend/wecode/api/gitlab_provider_patch.py
  frontend/src/apis/tasks.ts
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/DiffViewer.tsx
  frontend/src/features/tasks/components/Workbench.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-backend, wegent-web

refactor: 将 weagent 重命名为 wegent
  backend/init.sql
  docs/backend/example.yaml
  wecode/docker/backend/resource.json
Due: wegent-backend

feat: add script to sync GitHub main branch
  sync_github_main.sh
Due: none

feat: add user token generation endpoint with custom expiration
  backend/wecode/api/auth.py
Due: wegent-backend

refactor: Extract CLI authentication and token acquisition logic
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

fix: fix sync script
  sync_github_main.sh
Due: none

fix: 修正HTTP状态码错误
  backend/wecode/api/auth.py
Due: wegent-backend

feat: 升级sync脚本
  sync_github_main.sh
Due: none

build: update sync script
  sync_github_main.sh
Due: none

Add wegent as co-author in Claude Code commits
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

打executor镜像
  wecode/docker/executor/Dockerfile
Due: wegent-executor

fix: correct typo from weagent to wegent in branch naming convention
  backend/init.sql
  docs/backend/example.yaml
Due: wegent-backend

refactor: Extract CLI authentication and token acquisition logic (#31)
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

Fix repository selection cache synchronization issue
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

feat: implement task notification webhook functionality
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/webhook_notification.py
Due: wegent-backend

Make task_id optional in create_task method
  backend/app/api/endpoints/adapter/tasks.py
Due: wegent-backend

Add new /create endpoint for tasks with optional task_id parameter
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/schemas/task.py
Due: wegent-backend

fix: fix restore repo
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

style(DiffViewer): Independent diff page, supporting the acquisition of diff data from github and gitlab
  backend/app/api/endpoints/repository.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/repository/interfaces/repository_provider.py
  backend/app/services/repository.py
  executor/agents/claude_code/progress_state_manager.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/tasks.ts
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/DiffViewer.tsx
  frontend/src/features/tasks/components/Workbench.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-executor, wegent-backend, wegent-web

style(DiffViewer): Independent diff page, supporting the acquisition of diff data from github and gitlab (#27)
  backend/app/api/endpoints/repository.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/repository/interfaces/repository_provider.py
  backend/app/services/repository.py
  executor/agents/claude_code/progress_state_manager.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/tasks.ts
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/DiffViewer.tsx
  frontend/src/features/tasks/components/Workbench.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-executor, wegent-backend, wegent-web

fix: fix restore repo (#36)
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

refactor: 移除冗余的TaskCreateWithOptionalId类并简化任务创建逻辑
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/endpoints/admin.py
  backend/app/schemas/task.py
Due: wegent-backend

修复内网patch
  backend/wecode/api/gitlab_provider_patch.py
Due: wegent-backend

Weagent/add task create endpoint (#37)
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/endpoints/admin.py
Due: wegent-backend

refactor: 添加分页逻辑到获取团队列表
  backend/app/services/adapters/team_kinds.py
Due: wegent-backend

refactor: 添加分页逻辑到获取团队列表 (#38)
  backend/app/services/adapters/team_kinds.py
Due: wegent-backend

fix: handle negative time difference in task list time display
  frontend/src/features/tasks/components/TaskListSection.tsx
Due: wegent-web

feat: add browser notification for task completion and failure
  frontend/src/app/settings/page.tsx
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/utils/notification.ts
Due: wegent-web
