Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): scope browser migration to pane
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): stabilize on-demand app tools (#2508)
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/browser_mcp/tests.rs
  executor/src/browser_mcp/tools.rs
  executor/src/server/local_model_proxy/anthropic.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
Due: wegent-executor

refactor(executor): unify Codex thread startup planning
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

test(executor): cover Codex thread plan branches
  executor/src/agents/codex/tests.rs
Due: wegent-executor

feat(wework): add MiniMax model provider
  docs/en/wegent/developer-guide/wework-telemetry.md
  docs/en/wework/settings.md
  docs/zh/wegent/developer-guide/wework-telemetry.md
  docs/zh/wework/settings.md
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/features/model-settings/localModelProviders.test.ts
  wework/src/features/model-settings/localModelProviders.ts
  wework/src/telemetry/modelCatalog.test.ts
  wework/src/telemetry/modelCatalog.ts
Due: none

refactor(wework): extract cloud project context
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: none

refactor(executor): unify Codex thread startup planning (#2509)
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(wework): keep inactive task browsers available
  docs/en/wework/browser.md
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
Due: none

test(backend): reduce password hashing cost
  backend/tests/conftest.py
  backend/tests/services/test_plugin_marketplace_v2.py
Due: wegent-backend

fix(wework): harden cloud project context
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: none

feat(wework): add MiniMax model provider (#2511)
  docs/en/wegent/developer-guide/wework-telemetry.md
  docs/en/wework/settings.md
  docs/zh/wegent/developer-guide/wework-telemetry.md
  docs/zh/wework/settings.md
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/features/model-settings/localModelProviders.test.ts
  wework/src/features/model-settings/localModelProviders.ts
  wework/src/telemetry/modelCatalog.test.ts
  wework/src/telemetry/modelCatalog.ts
Due: none

test(wework): cover cloud project runtime binding
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
Due: none

refactor(wework): extract cloud project context (#2510)
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: none

feat(wework): add local harness runtimes
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/layout/CentralHarnessTerminal.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/WorkbenchHarnessSelector.tsx
  wework/src/components/layout/localHarnessWorkbench.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/HarnessSettingsPage.test.tsx
  wework/src/components/settings/HarnessSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/local-harness.test.ts
  wework/src/lib/local-harness.ts
  wework/src/lib/local-terminal.test.ts
  wework/src/lib/local-terminal.ts
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: none

fix(wework): track visible user message markers
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

test(wework): cover visible user turn markers
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

docs(wework): define turn marker visibility
  wework/DESIGN.md
Due: none

docs(wework): document local harnesses
  docs/en/wework/settings.md
  docs/zh/wework/settings.md
Due: none

test(backend): reduce password hashing cost (#2514)
  backend/tests/conftest.py
  backend/tests/services/test_plugin_marketplace_v2.py
Due: wegent-backend

fix(wework): track visible user message markers (#2512)
  wework/DESIGN.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

refactor(wework): adopt Codex paginated transcripts
  executor/src/agents/codex.rs
  executor/src/runtime_work/codex_transcript_page.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/supervisor.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/mod.rs
  executor/tests/app_runtime_work_contract.rs
  executor/tests/app_runtime_work_file_changes_contract.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: wegent-executor

fix(wework): make browser data clearing reliable
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src-tauri/src/embedded_browser/data_clearing.rs
Due: none

fix(wework): correct cloud work refresh status
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: none

test(backend): reduce CI test runtime
  backend/pytest.ini
  backend/tests/conftest.py
Due: wegent-backend

fix(wework): preserve provider active turn state
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
  wework/src/features/workbench/runtimeTaskLifecycle/types.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: wegent-executor

docs(wework): document active turn lifecycle
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
Due: none

test(backend): reduce CI test runtime (#2517)
  backend/pytest.ini
  backend/tests/conftest.py
Due: wegent-backend

test(executor): align running state contract
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

docs(wework): document Codex transcript pagination
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
Due: none

test(executor): expect paginated Codex history
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(wework): show runtime send errors
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
Due: none

test(wework): stabilize embedded browser isolation coverage
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
Due: none

test(wework): wait for task tab visibility
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
Due: none

fix(wework): preserve active paginated turns
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-executor

test(wework): scroll model options before selection
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): layer persistent workspace surfaces
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
Due: none

fix(wework): scope async send recovery
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/components/layout/useWorkbenchPaneSession.test.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
Due: none

fix(wework): recover active turn send state
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: wegent-executor

fix(wework): stabilize persistent surface layout
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
Due: none

fix(wework): correct cloud work refresh status (#2516)
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
