Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(ci): run all checks on main
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/wework-e2e.yml
Due: none

Fix/repository policy fork checkout regression (#2247)
  .github/workflows/repository-policy.yml
Due: none

fix(ci): run all checks on main (#2248)
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/wework-e2e.yml
Due: none

fix(backend): encrypt project provider credentials without git iv
  backend/app/core/provider_credentials.py
  backend/app/services/cloud_projects/service.py
  backend/tests/api/test_cloud_projects_api.py
Due: wegent-backend

fix(wework): preserve pasted file attachments
  wework/src/lib/workspace-path-transfer.test.ts
  wework/src/lib/workspace-path-transfer.ts
Due: none

fix(wework): preserve pasted file attachments (#2249)
  wework/src/lib/workspace-path-transfer.test.ts
  wework/src/lib/workspace-path-transfer.ts
Due: none

chore(wework): log cloud project restore stages
  backend/app/services/cloud_projects/service.py
  wework/src/api/hybrid/cloudProjectSpaceApi.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: wegent-backend

fix(wework): restore streaming task scroll position
  AGENTS.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/e2e/automation.ts
Due: none

fix(wework): restore streaming task scroll position (#2250)
  AGENTS.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/e2e/automation.ts
Due: none

fix(backend): pass encryption config to backend
  .env.example
  docker-compose.yml
Due: none

fix(wework): restore project spaces independently
  backend/app/schemas/cloud_project.py
  backend/app/services/cloud_projects/service.py
  backend/tests/api/test_cloud_projects_api.py
  executor/src/task_runtime/issue_provider.rs
  wework/src/api/hybrid/cloudProjectSpaceApi.test.ts
  wework/src/api/hybrid/cloudProjectSpaceApi.ts
  wework/src/api/local/localDelivery.test.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/projectProviderConfig.test.ts
  wework/src/features/todo/projectProviderConfig.ts
Due: wegent-executor, wegent-backend

style(wework): refine project management actions
  wework/src/features/todo/CloudProjectManageView.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
Due: none

style(wework): keep project actions black when disabled
  wework/src/features/todo/CloudProjectManageView.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
Due: none

chore(wework): remove cloud project debug logs
  backend/app/services/cloud_projects/service.py
  wework/src/api/hybrid/cloudProjectSpaceApi.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: wegent-backend

fix(wework): keep app tabs available offline
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
Due: none

fix(wework): open board without cloud connection
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

feat: 修复bug
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

test: use neutral GitLab fixture domains
  backend/tests/api/test_cloud_projects_api.py
  wework/src/features/todo/projectProviderConfig.test.ts
Due: wegent-backend

fix(wework): deduplicate message navigation
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(wework): deduplicate message navigation (#2252)
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(wework): route desktop scenario captures through the platform-aware helper
  wework/e2e/desktop/scenarios/cloud-space-mention.scenario.mjs
  wework/e2e/desktop/scenarios/conversation-mention.scenario.mjs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): avoid false transcript gap markers
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
Due: none

fix(executor): restore original image attachment paths
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/transcript.rs
Due: wegent-executor

fix(executor): restore original image attachment paths (#2255)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/transcript.rs
Due: wegent-executor

fix(wework): avoid false transcript gap markers (#2254)
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
Due: none

fix(wework): block Codex and third-party model switching
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/model-selector-utils.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/features/workbench/workbenchProviderHelpers.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: none

fix(wework): skip model switch warning for new conversations
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

docs(wework): explain model provider boundaries
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/en/wegent/user-guide/chat/README.md
  docs/en/wework/tasks.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/user-guide/chat/README.md
  docs/zh/wework/tasks.md
Due: none

fix(wework): skip model switch warning for new conversations (#2256)
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(wework): disable cross-provider model switching (#2257)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/en/wegent/user-guide/chat/README.md
  docs/en/wework/tasks.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/user-guide/chat/README.md
  docs/zh/wework/tasks.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/model-selector-utils.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/features/workbench/workbenchProviderHelpers.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: none

fix(wework): route desktop scenario captures through the platform-aware helper (#2253)
  wework/e2e/desktop/scenarios/cloud-space-mention.scenario.mjs
  wework/e2e/desktop/scenarios/conversation-mention.scenario.mjs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(executor): preserve loopback proxy bypasses
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(executor): preserve loopback proxy bypasses (#2258)
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(wework): correct kimi response rendering
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/agents/codex/run_state.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/notification_mapping.rs
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: wegent-executor

fix(wework): correct kimi response rendering (#2259)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/agents/codex/run_state.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/notification_mapping.rs
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: wegent-executor

fix: declare prettier at workspace root
  docs/en/wegent/getting-started/installation.md
  docs/zh/wegent/getting-started/installation.md
  package.json
  pnpm-lock.yaml
Due: none

fix(wework): settle background guidance state
  wework/DESIGN.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ConversationQueuePanel.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/types/workbench.ts
Due: none

fix(wework): keep model restrictions in tooltip
  docs/en/wework/tasks.md
  docs/zh/wework/tasks.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
Due: none

test(wework): strengthen model switch assertions
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none
