Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): persist pinned runtime tasks (#1575)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): improve sidebar notification UX (#1581)
  wework/src/App.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useDesktopSidebarCollapsed.ts
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/components/topnav/ChromeTitlebar.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
Due: none

fix(wework): preserve local worktree terminal state
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/util.rs
  executor/src/services/turn_file_changes.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/EmbeddedLocalTerminal.tsx
  wework/src/components/layout/workspace-panels/RemoteTerminal.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceAddMenu.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.test.ts
  wework/src/lib/device-capabilities.ts
  wework/src/lib/navigation.ts
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
  wework/src/types/workspace-files.ts
Due: wegent-executor

fix(wework): preserve local worktree terminal state (#1582)
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/util.rs
  executor/src/services/turn_file_changes.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/EmbeddedLocalTerminal.tsx
  wework/src/components/layout/workspace-panels/RemoteTerminal.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceAddMenu.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.test.ts
  wework/src/lib/device-capabilities.ts
  wework/src/lib/navigation.ts
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
  wework/src/types/workspace-files.ts
Due: wegent-executor

fix(ci): share e2e build artifacts
  .github/scripts/archive-executor-e2e-runtime.sh
  .github/scripts/archive-frontend-e2e-build.sh
  .github/scripts/restore-executor-e2e-runtime.sh
  .github/scripts/restore-frontend-e2e-build.sh
  .github/workflows/e2e-tests.yml
  docs/superpowers/plans/2026-06-28-ci-e2e-shared-builds.md
  docs/superpowers/specs/2026-06-28-ci-e2e-shared-builds-design.md
  frontend/e2e/README.md
Due: wegent-web

fix(wework): speed up Codex runtime transcripts
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/runtime_work/codex_notifications.rs
  executor/src/runtime_work/codex_rollout.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/mod.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/runtime_handle_messages.rs
  executor/src/runtime_work/transcript.rs
  executor/src/runtime_work/transcript_cache.rs
  executor/src/runtime_work/transcript_page.rs
  executor/src/runtime_work/util.rs
  executor/tests/app_runtime_work_contract.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  executor/tests/manual_runtime_perf.rs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(executor): read Codex runtime list from state db
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/Cargo.lock
  executor/Cargo.toml
  executor/src/runtime_work/codex_state_db.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/mod.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_contract.rs
  executor/tests/app_runtime_work_fork_rpc_contract.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  executor/tests/app_runtime_work_send_contract.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  executor/tests/manual_runtime_perf.rs
Due: wegent-executor

fix(executor): bundle sqlite for state db reads
  executor/Cargo.lock
  executor/Cargo.toml
Due: wegent-executor

fix(runtime): harden live transcript snapshots
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/runtime_handle_messages.rs
  executor/src/runtime_work/transcript.rs
  executor/src/runtime_work/transcript_cache.rs
  executor/tests/app_runtime_work_contract.rs
  executor/tests/manual_runtime_perf.rs
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: wegent-executor

test(wework): guard runtime poll regression test
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

fix(ci): reduce e2e frontend dependency setup
  .github/scripts/archive-frontend-e2e-build.sh
  .github/scripts/restore-frontend-e2e-build.sh
  .github/scripts/start-frontend-e2e-server.sh
  .github/workflows/e2e-tests.yml
  docs/superpowers/plans/2026-06-28-ci-e2e-shared-builds.md
  frontend/e2e/README.md
Due: wegent-web

fix(ci): bind standalone e2e frontend to localhost
  .github/scripts/start-frontend-e2e-server.sh
  docs/superpowers/plans/2026-06-28-ci-e2e-shared-builds.md
Due: none

[codex] Share E2E build artifacts (#1584)
  .github/scripts/archive-executor-e2e-runtime.sh
  .github/scripts/archive-frontend-e2e-build.sh
  .github/scripts/restore-executor-e2e-runtime.sh
  .github/scripts/restore-frontend-e2e-build.sh
  .github/scripts/start-frontend-e2e-server.sh
  .github/workflows/e2e-tests.yml
  docs/superpowers/plans/2026-06-28-ci-e2e-shared-builds.md
  docs/superpowers/specs/2026-06-28-ci-e2e-shared-builds-design.md
  frontend/e2e/README.md
Due: wegent-web

fix(wework): adjust message turn navigation spacing
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
Due: none

fix(wework): adjust message turn navigation spacing (#1589)
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
Due: none

style: update scroll bar
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/styles/globals.css
  wework/src/test/theme-token-guard.test.ts
Due: none

style: update scroll bar (#1590)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/styles/globals.css
  wework/src/test/theme-token-guard.test.ts
Due: none

feat: show debug info on startup screen
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.tsx
  wework/src/i18n/locales/en/localRuntime.json
  wework/src/i18n/locales/zh-CN/localRuntime.json
  wework/src/tauri/localExecutor.ts
Due: none

feat: show debug info on startup screen (#1591)
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.tsx
  wework/src/i18n/locales/en/localRuntime.json
  wework/src/i18n/locales/zh-CN/localRuntime.json
  wework/src/tauri/localExecutor.ts
Due: none

fix(wework): raise message navigation z-index
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

refactor(cleanup): 将孤儿 pod 清理功能迁移到 wecode 私有扩展目录
  backend/app/core/config.py
  backend/app/services/adapters/executor_job.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/jobs.py
  backend/wecode/api/__init__.py
  backend/wecode/config/orphan_pod_config.py
  backend/wecode/service/executor_job_patch.py
  backend/wecode/service/executor_kinds_patch.py
  backend/wecode/service/jobs.py
  backend/wecode/tests/test_runtime_cleanup.py
  executor_manager/routers/routers.py
  executor_manager/tests/routers/test_delete_executor_routes.py
  executor_manager/wecode/routers/__init__.py
  executor_manager/wecode/tests/routers/__init__.py
  executor_manager/wecode/tests/routers/test_delete_executor_routes.py
Due: wegent-executor-manager, wegent-backend

refactor(cleanup): 回退 executor_manager/routers/routers.py 到 develop 状态
  executor_manager/routers/routers.py
Due: wegent-executor-manager

fix(wework): prevent runtime task hover title over-truncation
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

feat: 新增EXECUTOR_STARTUP_MODE环境变量，EXECUTOR_STARTUP_MODE 用来决定 executor 进程启动时对外提供服务的方式：默认 http 监听端口，设为 socket 时走本地 sidecar 的 Unix socket。
  backend/app/api/endpoints/remote_devices.py
  backend/tests/api/endpoints/test_remote_devices_api.py
  backend/tests/docker/test_executor_docker_contract.py
  backend/tests/docker/test_standalone_wework_contract.py
  docker/device/Dockerfile
  docker/executor/Dockerfile
  docker/standalone/start.sh
  docs/en/developer-guide/local-device-architecture.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/local-device-architecture.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/scripts/local_executor_install.ps1
  executor/scripts/local_executor_install.sh
  executor/src/app/mod.rs
  executor/tests/app_startup_contract.rs
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/src/features/devices/components/LocalExecutorGuide.tsx
  start.sh
  wework/src-tauri/src/local_executor.rs
Due: wegent-executor, wegent-backend, wegent-web

feat: 新增EXECUTOR_STARTUP_MODE环境变量，EXECUTOR_STARTUP_MODE 用来决定 executor 进程启动时对外提供服务的方式：默认 http 监听端口，设为 socket 时走本地 sidecar 的 Unix socket。 (#1594)
  backend/app/api/endpoints/remote_devices.py
  backend/tests/api/endpoints/test_remote_devices_api.py
  backend/tests/docker/test_executor_docker_contract.py
  backend/tests/docker/test_standalone_wework_contract.py
  docker/device/Dockerfile
  docker/executor/Dockerfile
  docker/standalone/start.sh
  docs/en/developer-guide/local-device-architecture.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/local-device-architecture.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/scripts/local_executor_install.ps1
  executor/scripts/local_executor_install.sh
  executor/src/app/mod.rs
  executor/tests/app_startup_contract.rs
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/src/features/devices/components/LocalExecutorGuide.tsx
  start.sh
  wework/src-tauri/src/local_executor.rs
Due: wegent-executor, wegent-backend, wegent-web

feat(cleanup): 在 executor_manager/routers/routers.py 中添加 wecode 路由加载钩子
  executor_manager/routers/routers.py
Due: wegent-executor-manager

fix(cleanup): 修正孤儿 pod 清理流程，对齐 pod_delete 脚本逻辑
  backend/wecode/config/orphan_pod_config.py
  backend/wecode/service/executor_job_patch.py
  backend/wecode/service/executor_kinds_patch.py
  backend/wecode/service/jobs.py
  backend/wecode/tests/test_runtime_cleanup.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
  executor_manager/wecode/routers/__init__.py
  executor_manager/wecode/tests/routers/test_delete_executor_routes.py
Due: wegent-executor-manager, wegent-backend

fix(kb): preserve default kb search-only markers
  backend/app/services/chat/preprocessing/contexts.py
  backend/tests/services/test_context_service.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  chat_shell/tests/test_kb_prompt_deduplication.py
Due: wegent-backend

fix(ci): check repository policy on fork PRs
  .github/workflows/lint.yml
  .github/workflows/repository-policy.yml
  scripts/hooks/check-repository-policy.sh
  scripts/hooks/test-check-repository-policy.sh
  scripts/test-repository-policy-workflow.sh
Due: none

fix(wework): prevent runtime task hover title over-truncation (#1593)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): raise message navigation z-index (#1592)
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(cleanup): 修复孤儿 pod 清理的 bug 及配置差异
  backend/wecode/config/orphan_pod_config.py
  backend/wecode/service/executor_job_patch.py
  backend/wecode/service/jobs.py
  backend/wecode/tests/test_runtime_cleanup.py
Due: wegent-backend

fix(cleanup): 对齐原脚本，跳过无 task_id 和 task_id ≤ 1000 的 pod
  backend/wecode/config/orphan_pod_config.py
  backend/wecode/service/executor_job_patch.py
  backend/wecode/tests/test_runtime_cleanup.py
Due: wegent-backend

feat: improve local task execution flow
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/task_device_resolution.py
  backend/app/services/chat/trigger/lifecycle.py
  backend/app/services/execution/dispatcher.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/services/chat/storage/test_task_manager.py
  backend/tests/services/chat/test_task_device_resolution.py
  backend/tests/services/execution/test_responses_api_event_parser.py
  docs/en/developer-guide/local-device-architecture.md
  docs/zh/developer-guide/local-device-architecture.md
  executor/src/agents/codex.rs
  executor/src/agents/mod.rs
  executor/src/claude_session.rs
  executor/src/emitter/mod.rs
  executor/src/local/backend/tasks.rs
  executor/src/local/capabilities.rs
  executor/src/local/capabilities/support.rs
  executor/src/process/mod.rs
  executor/src/runner/mod.rs
  executor/src/services/skill_deployer.rs
  executor/src/stream/mod.rs
  executor/tests/agent_command_contract.rs
  executor/tests/agent_process_engine_contract.rs
  executor/tests/codex_app_server_contract.rs
  executor/tests/docker_runtime_contract.rs
  executor/tests/local_backend_contract.rs
  executor/tests/local_capability_sync_contract.rs
  frontend/src/__tests__/app/(tasks)/chat/ChatPageDesktop.remote-workspace.test.tsx
  frontend/src/__tests__/app/(tasks)/chat/ChatPageMobile.remote-workspace.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/app/(tasks)/chat/ChatPageMobile.tsx
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/lib/search-params.ts
Due: wegent-executor, wegent-backend, wegent-web

Add subtaskId to unified messages
  packages/chat-core/src/task-state/TaskStateMachine.types.ts
Due: none

fix: fix ci fail
  .github/workflows/e2e-tests.yml
  executor/tests/build_entrypoint_contract.rs
Due: wegent-executor

[codex] check repository policy on fork PRs (#1595)
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/repository-policy.yml
  executor/tests/build_entrypoint_contract.rs
  scripts/hooks/check-repository-policy.sh
  scripts/hooks/test-check-repository-policy.sh
  scripts/test-repository-policy-workflow.sh
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
