Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

docs(wework): document plugin desktop e2e
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

test(wework): cover plugin lifecycle in desktop e2e (#2108)
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
Due: none

fix(wework): avoid environment panel animation on task switch (#2107)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

feat(wework): show task execution device
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/components/layout/useWorkbenchProjectWorkControls.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): deduplicate runtime transcript messages
  wework/src/components/layout/runtimeTranscriptMessages.test.ts
  wework/src/components/layout/runtimeTranscriptMessages.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
Due: none

fix(wework): prevent horizontal conversation drift
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

docs(wework): design explicit terminal launch
  docs/superpowers/specs/2026-07-22-wework-explicit-terminal-launch-design.md
Due: none

fix(wework): open cloud desktop in system browser
  docs/en/wegent/user-guide/ai-devices/local-device-support.md
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wegent/user-guide/ai-devices/local-device-support.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/wecode/vnc_session.rs
  wework/src/extensions/cloud-desktop-contract.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/external-links.test.ts
  wework/src/lib/external-links.ts
  wework/wecode/e2e/desktop/vnc.mjs
  wework/wecode/e2e/desktop/vnc.test.ts
  wework/wecode/features/vnc/VncDesktopButton.test.tsx
  wework/wecode/features/vnc/VncDesktopButton.tsx
  wework/wecode/features/vnc/api.ts
  wework/wecode/features/vnc/assets/vnc.html
  wework/wecode/features/vnc/openCloudDesktop.test.ts
  wework/wecode/features/vnc/openCloudDesktop.ts
  wework/wecode/features/vnc/session.test.ts
  wework/wecode/features/vnc/session.ts
  wework/wecode/features/vnc/useCloudDesktopLaunch.ts
Due: none

test(wework): stabilize composer action menu test
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
Due: none

test: add mock of sites&connector
  docs/en/developer-guide/wework-e2e-automation.md
  docs/zh/developer-guide/wework-e2e-automation.md
  wework/e2e/tests/upstream-mocks.spec.ts
  wework/e2e/utils/mock-connector-upstream-server.mjs
  wework/e2e/utils/mock-sites-upstream-server.mjs
  wework/playwright.config.ts
Due: none

docs: ai verified update
  docs/en/developer-guide/wework-e2e-automation.md
  docs/zh/developer-guide/wework-e2e-automation.md
  wework/playwright.config.ts
Due: none

docs(wework): plan explicit terminal launch
  docs/superpowers/plans/2026-07-22-wework-explicit-terminal-launch.md
Due: none

fix(wework): reconcile live messages by turn
  wework/src/components/layout/runtimeTranscriptMessages.test.ts
  wework/src/components/layout/runtimeTranscriptMessages.ts
Due: none

test: add mock of sites&connector
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
Due: none

fix(wework): require explicit terminal launch
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
Due: none

fix(wework): make live stream own active transcript
  wework/src/components/layout/runtimeTranscriptMessages.test.ts
  wework/src/components/layout/runtimeTranscriptMessages.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

feat(wework): add bottom workspace tool menu
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/layout/workspace-panels/WorkspaceTerminalWindow.tsx
  wework/src/components/layout/workspace-panels/workspace-panel-tools.ts
Due: none

test(wework): cover explicit bottom terminal launch
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): inherit cloud model catalog capabilities
  executor/src/agents/codex.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
Due: wegent-executor

docs: describe cloud model catalog mapping
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
Due: none

fix(wework): inherit cloud model catalog capabilities (#2111)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/agents/codex.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
Due: wegent-executor

feat: windows development updates
  docs/en/developer-guide/wework-windows.md
  docs/zh/developer-guide/wework-windows.md
  executor/Cargo.lock
  executor/Cargo.toml
  executor/src/bin/wegent-executor-dev.rs
  executor/src/runtime_work/handler.rs
  executor/src/server/mod.rs
  executor/src/services/updater/process_manager.rs
  executor/src/services/updater/updater_service.rs
  pnpm-lock.yaml
  wework/package.json
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-codex-binary.mjs
  wework/src-tauri/build.rs
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/tauri.conf.json
  wework/src-tauri/tauri.dev.windows.1784624749067.json
  wework/src-tauri/tauri.windows.conf.json
  wework/src/App.apps.test.tsx
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopAppBrandSwitcher.test.tsx
  wework/src/components/layout/DesktopAppBrandSwitcher.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/WindowFrameControls.test.tsx
  wework/src/components/layout/WindowFrameControls.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/components/topnav/ChromeTitlebar.tsx
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/features/todo/TodoWorkspace.test.tsx
  wework/src/features/todo/TodoWorkspace.tsx
  wework/src/hooks/useWindowFocus.ts
  wework/src/lib/platform.ts
Due: wegent-executor

fix: fix buffer size
  executor/src/server/local_model_proxy/mod.rs
  executor/src/server/mod.rs
  executor/tests/http_contract.rs
Due: wegent-executor

fix: fix buffer size (#2113)
  executor/src/server/local_model_proxy/mod.rs
  executor/src/server/mod.rs
  executor/tests/http_contract.rs
Due: wegent-executor

fix(wework): sync project conversation state (#2102)
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

fix(executor): preserve task activity time when reading threads
  executor/src/runtime_work/handler.rs
Due: wegent-executor

fix(wework): add runtime sidebar diagnostics
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/runtimeSidebarDiagnostics.ts
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

docs(wework): document sidebar diagnostics
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
Due: none

fix(executor): repair polluted task activity times
  executor/src/runtime_work/handler.rs
Due: wegent-executor

fix: pre-push issue
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

feat: merge github main
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
Due: none

fix(wework): add runtime sidebar diagnostics (#2114)
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/runtimeSidebarDiagnostics.ts
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

feat(wework): windows shortcuts, tooltips, and unified titlebar colors
  wework/src-tauri/tauri.conf.json
  wework/src-tauri/tauri.windows.conf.json
  wework/src/components/common/KeyboardShortcut.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/settings/KeyboardShortcutsSettingsPage.tsx
  wework/src/components/topnav/TitlebarTooltip.tsx
  wework/src/lib/keybindings.test.ts
  wework/src/lib/keybindings.ts
Due: none

feat: 修改e2e
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix: pr ci comment
  backend/alembic/versions/20260716_e7f8a9b0c1d2_add_connector_apps.py
  backend/alembic/versions/20260720_f8a9b0c1d2e3_add_connector_http_tools.py
  backend/app/api/endpoints/connector_app_projection.py
  backend/app/services/sites.py
  backend/tests/api/test_connector_apps_api.py
  backend/tests/api/test_sites_api.py
  docs/en/wegent/developer-guide/connector-apps.md
  docs/zh/wegent/developer-guide/connector-apps.md
  executor/src/connector_gateway.rs
  executor/src/connector_mcp.rs
  wework/scripts/ai-verify-environment.test.mjs
Due: wegent-executor, wegent-backend

feat: windows development updates
  docs/en/wework/developer-guide/wework-windows.md
  docs/zh/wework/developer-guide/wework-windows.md
  executor/Cargo.lock
  executor/Cargo.toml
  executor/src/bin/wegent-executor-dev.rs
  executor/src/runtime_work/handler.rs
  executor/src/server/mod.rs
  executor/src/services/updater/process_manager.rs
  executor/src/services/updater/updater_service.rs
  pnpm-lock.yaml
  wework/package.json
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-codex-binary.mjs
  wework/src-tauri/build.rs
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/tauri.conf.json
  wework/src-tauri/tauri.dev.windows.1784624749067.json
  wework/src-tauri/tauri.windows.conf.json
  wework/src/App.apps.test.tsx
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopAppBrandSwitcher.test.tsx
  wework/src/components/layout/DesktopAppBrandSwitcher.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/WindowFrameControls.test.tsx
  wework/src/components/layout/WindowFrameControls.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/components/topnav/ChromeTitlebar.tsx
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/features/todo/TodoWorkspace.test.tsx
  wework/src/features/todo/TodoWorkspace.tsx
  wework/src/hooks/useWindowFocus.ts
  wework/src/lib/platform.ts
Due: wegent-executor

feat(executor): add Unix read access check for has_read_access
  executor/src/server/mod.rs
Due: wegent-executor

feat(wework): add task feedback diagnostics export
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/src/desktop_capture.rs
  wework/src-tauri/src/feedback.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/feedback/TaskFeedbackDialog.test.tsx
  wework/src/features/feedback/TaskFeedbackDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

style(executor): apply cargo fmt
  executor/src/server/mod.rs
  executor/src/services/updater/process_manager.rs
Due: wegent-executor
