Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

refactor(knowledge): 自动同步复用统一导入路径并收窄来源契约
  backend/app/api/endpoints/knowledge.py
  backend/app/services/knowledge/dingtalk_auto_sync.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/tests/services/knowledge/test_dingtalk_auto_sync.py
  backend/tests/services/knowledge/test_external_document_import.py
  backend/tests/services/knowledge/test_external_document_import_execution.py
  backend/tests/services/knowledge/test_external_document_import_governance.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
  backend/tests/tasks/test_external_import_task.py
Due: wegent-backend

fix: fix
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(backend): allow group guests to use agents (#3562)
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/chat/task_default_knowledge_bases.py
  backend/app/services/readers/kinds.py
  backend/app/services/share/team_share_service.py
  backend/app/services/team_access_policy.py
  backend/app/services/team_list_filters.py
  backend/tests/services/adapters/test_team_child_namespace_authorization.py
  backend/tests/services/chat/test_task_default_knowledge_bases.py
  frontend/src/i18n/locales/en/groups.json
  frontend/src/i18n/locales/zh-CN/groups.json
Due: wegent-backend, wegent-web

feat(knowledge): 补齐钉钉同步决策日志便于定位
  backend/app/api/endpoints/knowledge.py
  backend/app/services/knowledge/dingtalk_auto_sync.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/tasks/dingtalk_auto_sync_tasks.py
  backend/app/tasks/knowledge_tasks.py
  backend/tests/api/test_dingtalk_copy_sync.py
  backend/tests/services/knowledge/test_dingtalk_auto_sync.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
Due: wegent-backend

fix: ci error
  docs/en/engineering/collaboration-execution-e2e-test-plan.md
  docs/zh/engineering/collaboration-execution-e2e-test-plan.md
  executor/tests/agent_process_engine_contract.rs
  wework/e2e/desktop/scenarios/collaboration-agent-automation-chain.scenario.mjs
Due: wegent-executor

fix: ci error
  wework/e2e/desktop/scenarios/collaboration-agent-automation-chain.scenario.mjs
Due: none

Test processing duration persistence across turn states
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.duration.test.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/ProcessingDurationLabel.test.tsx
  wework/src/components/chat/ProcessingDurationLabel.tsx
  wework/src/components/chat/blocks/processingDuration.ts
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
  wework/src/types/workbench.ts
Due: none

fix(plugins): stabilize shared plugin installation
  backend/app/api/endpoints/installed_plugins.py
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/app/services/device/capability_sync_service.py
  backend/app/services/device/plugin_reconciliation.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/services/test_device_capability_sync_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  executor/src/local/bundled_plugins.rs
  executor/src/local/plugin_import.rs
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/cloud-connection/CloudConnectionProvider.test.tsx
  wework/src/features/cloud-connection/CloudConnectionProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

fix: ci error
  executor/tests/config_contract.rs
Due: wegent-executor

refactor(knowledge): 刷新决策日志区分判变前后状态
  backend/app/services/knowledge/dingtalk_auto_sync.py
  backend/tests/services/knowledge/test_dingtalk_auto_sync.py
Due: wegent-backend

test(knowledge): cover the milvus per-rpc deadline after handshake
  knowledge_engine/tests/contract/conftest.py
  knowledge_engine/tests/contract/milvus_fault_injection.py
  knowledge_engine/tests/contract/test_milvus_network_timeout.py
Due: none

test(knowledge): 断言无关字段更新成功后再校验同步开关保持
  backend/tests/api/test_dingtalk_copy_sync.py
Due: wegent-backend

fix(knowledge): 无更新时间时保留已有基线的可用副本
  backend/app/services/knowledge/dingtalk_auto_sync.py
  backend/tests/services/knowledge/test_dingtalk_auto_sync.py
  docs/en/wegent/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/wegent/user-guide/knowledge/knowledge-base-guide.md
Due: wegent-backend

feat(knowledge): 钉钉自动同步改为每日固定时刻
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/tests/core/test_celery_robot_queue_schedule.py
  backend/tests/core/test_config.py
  docs/en/wegent/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/wegent/user-guide/knowledge/knowledge-base-guide.md
Due: wegent-backend

test(backend): isolate capability sync database session
  backend/tests/services/test_device_capability_sync_service.py
Due: wegent-backend

fix(knowledge): right-align the allow-download switch
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
Due: wegent-web

refactor(knowledge): 精简钉钉自动同步实现
  backend/app/api/endpoints/knowledge.py
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/services/knowledge/dingtalk_auto_sync.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/tasks/dingtalk_auto_sync_tasks.py
  backend/tests/api/test_dingtalk_copy_sync.py
  backend/tests/core/test_celery_robot_queue_schedule.py
  backend/tests/core/test_config.py
  backend/tests/services/knowledge/test_dingtalk_auto_sync.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
  docs/en/wegent/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/wegent/user-guide/knowledge/knowledge-base-guide.md
  frontend/src/features/knowledge/document/components/DingtalkAutoSyncSetting.tsx
Due: wegent-backend, wegent-web

fix(plugins): stabilize shared plugin installation (#3565)
  backend/app/api/endpoints/installed_plugins.py
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/app/services/device/capability_sync_service.py
  backend/app/services/device/plugin_reconciliation.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/services/test_device_capability_sync_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  executor/src/local/bundled_plugins.rs
  executor/src/local/plugin_import.rs
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/cloud-connection/CloudConnectionProvider.test.tsx
  wework/src/features/cloud-connection/CloudConnectionProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

fix(knowledge): 修复钉钉开关触摸目标并补齐响应类型
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  docs/en/wegent/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/wegent/user-guide/knowledge/knowledge-base-guide.md
  frontend/src/features/knowledge/document/components/DingtalkAutoSyncSetting.tsx
Due: wegent-backend, wegent-web

feat(knowledge): 钉钉每日同步加环境变量开关，默认关闭
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/tasks/dingtalk_auto_sync_tasks.py
  backend/tests/core/test_celery_robot_queue_schedule.py
Due: wegent-backend

fix(wework): skip missing transcript turns
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
  wework/dsh/transcript-sync/outbox.js
  wework/dsh/transcript-sync/outbox.test.mjs
Due: none

fix(wework): avoid blocking plugin and app tabs without proxy
  wework/src/App.plugins.test.tsx
  wework/src/App.tsx
  wework/src/WorkspaceTabSurface.test.tsx
  wework/src/api/local/codexPlugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/desktop/localExecutor.test.ts
  wework/src/desktop/localExecutor.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): avoid blocking plugin and app tabs without proxy (#3566)
  wework/src/App.plugins.test.tsx
  wework/src/App.tsx
  wework/src/WorkspaceTabSurface.test.tsx
  wework/src/api/local/codexPlugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/desktop/localExecutor.test.ts
  wework/src/desktop/localExecutor.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): skip permanently missing transcript turns (#3567)
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
  wework/dsh/transcript-sync/outbox.js
  wework/dsh/transcript-sync/outbox.test.mjs
Due: none

perf(knowledge): Milvus 读路径改用 Bounded 并复用单个客户端
  knowledge_engine/knowledge_engine/storage/milvus_backend.py
  knowledge_engine/knowledge_engine/storage/milvus_native.py
  knowledge_engine/tests/storage/test_milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_native.py
  knowledge_engine/tests/storage/test_milvus_read_consistency.py
Due: none

fix(knowledge): re-read the milvus contract once when a read misses it
  knowledge_engine/knowledge_engine/storage/milvus_backend.py
  knowledge_engine/knowledge_engine/storage/milvus_native.py
  knowledge_engine/tests/storage/test_milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_read_consistency.py
Due: none

feat(knowledge): 支持钉钉副本自动同步 (#3557)
  backend/app/api/endpoints/knowledge.py
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/dingtalk_auto_sync.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/dingtalk_auto_sync_tasks.py
  backend/app/tasks/knowledge_tasks.py
  backend/tests/api/test_dingtalk_copy_sync.py
  backend/tests/core/test_celery_robot_queue_schedule.py
  backend/tests/services/knowledge/test_dingtalk_auto_sync.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
  backend/tests/tasks/test_external_import_task.py
  docs/en/wegent/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/wegent/user-guide/knowledge/knowledge-base-guide.md
  frontend/src/__tests__/features/knowledge/document/create-knowledge-base-direct-access.test.tsx
  frontend/src/__tests__/features/knowledge/document/edit-knowledge-base-direct-access.test.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/DingtalkAutoSyncSetting.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

fix(shared): drop NO_PROXY CIDR entries httpx cannot parse
  shared/tests/utils/test_http_client.py
  shared/utils/http_client.py
Due: wegent-executor-manager, wegent-executor

fix(shared): warn when NO_PROXY CIDR entries are dropped
  shared/utils/http_client.py
Due: wegent-executor-manager, wegent-executor

fix(shared): only strip IP networks from NO_PROXY
  shared/tests/utils/test_http_client.py
  shared/utils/http_client.py
Due: wegent-executor-manager, wegent-executor

fix(wework): ignore hidden mention links when collapsing messages
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: none

fix(wework): route main-process cloud requests through Chromium
  wework/electron/src/host/cloud-credential-service.test.ts
  wework/electron/src/host/cloud-credential-service.ts
  wework/electron/src/host/cloud-http.test.ts
  wework/electron/src/host/cloud-http.ts
  wework/electron/src/host/smart-app-manager.test.ts
  wework/electron/src/host/smart-app-manager.ts
  wework/electron/src/host/wework-sync-request.test.ts
  wework/electron/src/host/wework-sync-request.ts
  wework/electron/src/main.ts
  wework/electron/src/runtime/component-update-manager.ts
Due: none

test(wework): add a desktop checkpoint for proxied cloud sign-in
  .github/scripts/classify-wework-desktop-e2e.sh
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/cloud-login-proxy-fixtures.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/cloud-login-proxy.scenario.mjs
  wework/scripts/electron-e2e-launch-arguments.test.mjs
Due: none

fix(wework): run desktop E2E commands on Windows
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/scripts/lib/command-log.mjs
Due: none

test(wework): cover the cloud sign-in checkpoint in the CI classifier
  .github/scripts/test-classify-ci-changes.sh
Due: none

feat(wegent): 修改默认生成图片默认模型
  wecode/docker/backend/.env.example
Due: wegent-backend

fix(wiki): improve external wiki synchronization
  backend/app/api/endpoints/external_wiki.py
  backend/app/schemas/external_wiki.py
  backend/app/services/external_wiki_retirement.py
  backend/app/services/knowledge/external_sync_providers.py
  backend/app/services/wiki/connectors/wikijs.py
  backend/tests/api/test_external_wiki_cache.py
  backend/tests/api/test_external_wiki_connections.py
  backend/tests/services/knowledge/test_external_sync_providers.py
  backend/tests/services/test_external_wiki_retirement.py
  backend/tests/services/wiki/test_wikijs_connector.py
  docs/en/wegent/user-guide/knowledge/document-management.md
  docs/en/wegent/user-guide/knowledge/external-wiki.md
  docs/zh/wegent/user-guide/knowledge/external-wiki.md
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-item-wiki.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-utils-wiki.test.ts
  frontend/src/__tests__/features/knowledge/document/knowledge-document-tree-grid.test.tsx
  frontend/src/__tests__/features/knowledge/document/use-documents-query.test.tsx
  frontend/src/__tests__/features/knowledge/document/wiki-document-import.test.tsx
  frontend/src/__tests__/features/settings/external-wiki-connection-card.test.tsx
  frontend/src/apis/wiki.ts
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/WikiDocumentImport.tsx
  frontend/src/features/knowledge/document/components/WikiPageTree.tsx
  frontend/src/features/knowledge/document/components/knowledge-document-tree-grid.tsx
  frontend/src/features/knowledge/document/utils/documentUtils.ts
  frontend/src/features/settings/components/ExternalWikiConnectionCard.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web
