Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(wework): support stable and beta update channels (#2371)
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/scripts/resolve-release-version.mjs
  wework/scripts/resolve-release-version.test.mjs
  wework/scripts/update-channel-manifests.mjs
  wework/scripts/update-channel-manifests.test.mjs
  wework/src/components/settings/AboutSettingsPage.test.tsx
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/features/app-update/AppUpdateProvider.test.tsx
  wework/src/features/app-update/AppUpdateProvider.tsx
  wework/src/features/app-update/app-update-context.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/app-updater.test.ts
  wework/src/lib/app-updater.ts
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(wework): prevent duplicate titlebar actions across tabs
  wework/src/App.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/topnav/TitlebarActionsPortal.test.tsx
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/components/topnav/workspaceTabPortalOwnership.ts
  wework/src/pages/WorkbenchPage.tsx
Due: none

fix(wework): reduce accidental sidebar sorting (#2374)
  wework/DESIGN.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/components/layout/sidebarDragActivator.ts
Due: none

fix(wework): preserve runtime transcript order
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: wegent-executor

docs(wework): document transcript ordering
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
Due: none

docs(wework): document titlebar portal ownership
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
Due: none

fix(wework): hide Codex models without auth (#2372)
  docs/en/wework/settings.md
  docs/zh/wework/settings.md
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
Due: none

fix(wework): match ChatGPT priority view behavior
  design-qa.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopSidebarPrioritySection.tsx
  wework/src/components/layout/desktopSidebarPriorityView.test.ts
  wework/src/components/layout/desktopSidebarPriorityView.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): make feedback problem-first
  wework/src/features/feedback/TaskFeedbackDialog.test.tsx
  wework/src/features/feedback/TaskFeedbackDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): prevent duplicate titlebar actions across tabs (#2379)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/src/App.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/topnav/TitlebarActionsPortal.test.tsx
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/components/topnav/workspaceTabPortalOwnership.ts
  wework/src/pages/WorkbenchPage.tsx
Due: none

fix(wework): avoid overlapping goal turns
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): expose runtime reasoning progress (#2375)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/en/wegent/user-guide/coding/managing-code-tasks.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/user-guide/coding/managing-code-tasks.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/notification_mapping.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/processingDuration.ts
Due: wegent-executor

docs(wework): document feedback attachments
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
Due: none

chore(wework): upgrade Tauri to 2.11.5 (#2373)
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  pnpm-lock.yaml
  wework/package.json
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
Due: none

fix(executor): accept snake case message indexes
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(wework): show tool call details
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/components/chat/blocks/toolBlockKinds.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: none

docs(wework): explain tool activity details
  docs/en/wework/tasks.md
  docs/zh/wework/tasks.md
Due: none

fix(wework): harden priority view actions
  design-qa.md
  wework/DESIGN.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopSidebarPrioritySection.tsx
  wework/src/components/layout/desktopSidebarPriorityView.test.ts
  wework/src/i18n/locales/en/common.json
Due: none

fix(knowledge): 统一知识范围复选框三态
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

fix(wework): make feedback problem-first (#2381)
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
  wework/src/features/feedback/TaskFeedbackDialog.test.tsx
  wework/src/features/feedback/TaskFeedbackDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): render GitHub link chips in sent and edit-mode messages
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/composerTextareaTypes.ts
Due: none

feat(wework): add Codex-style inline GitHub link chips with persistent markdown format
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerLinkNodeView.ts
  wework/src/components/chat/composer/ComposerLinkRegression.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/LinkEditPopover.tsx
  wework/src/components/chat/composer/LinkPreviewCard.test.tsx
  wework/src/components/chat/composer/LinkPreviewCard.tsx
  wework/src/components/chat/composer/ProjectChatComposer.test.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/composerLinks.ts
  wework/src/components/chat/composer/composerProseMirrorModel.ts
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/link-preview.test.ts
  wework/src/lib/link-preview.ts
Due: none

feat(wework): render composer links as chips in sent messages and assistant markdown
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/ComposerLinkChip.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: none

fix(wework): address CodeRabbit review feedback on GitHub link chips
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/ComposerLinkChip.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/ComposerLinkNodeView.ts
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/LinkEditPopover.tsx
  wework/src/components/chat/composer/composerLinks.ts
  wework/src/components/chat/composer/composerProseMirrorModel.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/link-preview.test.ts
  wework/src/lib/link-preview.ts
  wework/src/styles/globals.css
Due: none

feat(wework): add Codex-style link preview card in chat composer
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerLinkNodeView.ts
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/LinkEditPopover.tsx
  wework/src/components/chat/composer/LinkPreviewCard.test.tsx
  wework/src/components/chat/composer/LinkPreviewCard.tsx
  wework/src/components/chat/composer/ProjectChatComposer.test.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/composerLinks.ts
  wework/src/components/chat/composer/composerProseMirrorModel.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/link-preview.test.ts
  wework/src/lib/link-preview.ts
  wework/src/styles/globals.css
Due: none

fix(wework): match ChatGPT priority view behavior (#2380)
  design-qa.md
  wework/DESIGN.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopSidebarPrioritySection.tsx
  wework/src/components/layout/desktopSidebarPriorityView.test.ts
  wework/src/components/layout/desktopSidebarPriorityView.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(knowledge): 回显整库继承选择状态
  frontend/src/__tests__/features/knowledge/external-knowledge-source-registry.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

fix(executor): keep initial goal turn conditions aligned
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
  executor/src/agents/codex.rs
Due: wegent-executor

test(wework): exercise real tool detail flow
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/e2e/utils/tool-details-mcp-server.mjs
Due: none

feat(wework): unify plugin task guidance
  wework/design-qa.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(executor): address review feedback on native git runner
  executor/src/local/app_ipc.rs
  executor/src/local/git.rs
Due: wegent-executor

fix(wework): address review feedback on shell command labels
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
Due: none

test(wework): stabilize tool detail evidence
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

style(executor): apply cargo fmt to native git runner
  executor/src/local/app_ipc.rs
  executor/src/local/git.rs
Due: wegent-executor

fix(wework): keep reopened runtime messages in chronological order (#2378)
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: wegent-executor

fix(executor): preserve task update time on selection
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(knowledge): 优化知识范围自定义选择交互
  frontend/src/__tests__/features/knowledge/external-knowledge-source-registry.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/tasks/components/chat/DingTalkKnowledgePicker.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

test(executor): cover goal status activity updates
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor
