Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(executor): safely access stop_reason attribute
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

fix: 修复backend提供的mcp-server必须结尾加后缀使用的问题 (#481)
  backend/app/main.py
  backend/app/mcp_server/__init__.py
  backend/app/mcp_server/server.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/mcp_server/test_server_routes.py
  shared/tests/utils/test_mcp_utils.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

Fix/handle error subtypes in result message (#482)
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

feat(executor): add browser plugin installation step
  executor/scripts/local_executor_install.sh
Due: wegent-executor

feat(executor): add browser plugin installation step (#483)
  executor/scripts/local_executor_install.sh
Due: wegent-executor

feat(frontend): add device task sync provider
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

feat: improve discover feed preview and add trusted host middleware
  backend/app/main.py
  backend/init_data/skills/wegent-knowledge.zip
  frontend/src/features/feed/components/DiscoverFeedCard.tsx
  frontend/src/features/feed/components/DiscoverPageInline.tsx
  frontend/src/features/feed/components/discover-feed.css
  frontend/src/utils/browserDetection.ts
Due: wegent-backend, wegent-web

feat: 添加MCP传输安全配置及解析函数
  backend/app/core/config.py
  backend/app/mcp_server/server.py
Due: wegent-backend

feat(executor): add retry mechanism for error_during_execution
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

fix(executor): remove error_max_turns from retryable errors
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

feat(frontend): add device task sync provider (#484)
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

feat: 添加MCP传输安全配置及解析函数 (#487)
  backend/app/core/config.py
  backend/app/mcp_server/server.py
Due: wegent-backend

feat: backend日志添加行号和文件路径
  backend/app/core/celery_app.py
  backend/app/core/logging.py
Due: wegent-backend

feat: update claude version 2.1.33
  docker/executor/Dockerfile
  executor/pyproject.toml
  executor/uv.lock
Due: wegent-executor

feat: backend日志添加行号和文件路径 (#489)
  backend/app/core/celery_app.py
  backend/app/core/logging.py
Due: wegent-backend

feat: update claude version 2.1.33 (#488)
  docker/executor/Dockerfile
  executor/pyproject.toml
  executor/uv.lock
Due: wegent-executor

feat(chat_shell): add max_token truncation detection and handling (#461)
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/services/streaming/core.py
  chat_shell/tests/test_tool_call_truncation_recovery.py
  chat_shell/tests/test_truncation_detection.py
Due: none

feat(frontend): add i18n translations for error retry mechanism
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

fix(executor): improve error retry mechanism
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

refactor: split git_skill_service.py
  backend/app/api/endpoints/kind/skills.py
  backend/app/services/git_skill/__init__.py
  backend/app/services/git_skill/models.py
  backend/app/services/git_skill/providers/__init__.py
  backend/app/services/git_skill/providers/base.py
  backend/app/services/git_skill/providers/gitea.py
  backend/app/services/git_skill/providers/gitee.py
  backend/app/services/git_skill/providers/github.py
  backend/app/services/git_skill/providers/gitlab.py
  backend/app/services/git_skill/service.py
  backend/app/services/git_skill/utils.py
  backend/app/services/git_skill_service.py
  frontend/src/features/admin/components/SetupSkillStep.tsx
  frontend/src/features/settings/components/skills/SkillUploadModal.tsx
Due: wegent-backend, wegent-web

feat(workspace): add file listing and download for no-repository mode
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/core/config.py
  backend/app/services/workspace_files.py
  executor/envd/api/models.py
  executor/envd/api/routes.py
  executor_manager/routers/routers.py
  frontend/src/apis/tasks.ts
  frontend/src/app/(tasks)/code/CodePageDesktop.tsx
  frontend/src/features/tasks/components/workbench/Workbench.tsx
  frontend/src/features/tasks/components/workbench/WorkspaceFileViewer.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

refactor: remove unused code
  backend/app/api/endpoints/kind/skills.py
  backend/app/schemas/kind.py
  backend/app/services/git_skill/__init__.py
  backend/app/services/git_skill/service.py
Due: wegent-backend

Feature/executor error retry (#486)
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-executor, wegent-web

feat(backend): add authentication support for Git Skill import (#477)
  backend/app/api/endpoints/kind/skills.py
  backend/app/services/git_skill/__init__.py
  backend/app/services/git_skill/models.py
  backend/app/services/git_skill/providers/__init__.py
  backend/app/services/git_skill/providers/base.py
  backend/app/services/git_skill/providers/gitea.py
  backend/app/services/git_skill/providers/gitee.py
  backend/app/services/git_skill/providers/github.py
  backend/app/services/git_skill/providers/gitlab.py
  backend/app/services/git_skill/service.py
  backend/app/services/git_skill/utils.py
  backend/app/services/git_skill_service.py
  frontend/src/features/admin/components/SetupSkillStep.tsx
  frontend/src/features/settings/components/skills/SkillUploadModal.tsx
Due: wegent-backend, wegent-web

fix: 修复状态更新时大小写敏感问题
  backend/app/api/ws/device_namespace.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor, wegent-backend

feat(backend): add skill-manager skill for exporting and publishing skills
  backend/init_data/skills/skill-manager/SKILL.md
  backend/init_data/skills/skill-manager/common.sh
  backend/init_data/skills/skill-manager/export-skill.sh
  backend/init_data/skills/skill-manager/publish-skill.sh
Due: wegent-backend

fix: 修改残留中断消息处理方式以重新发送查询
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

refactor: 更新残留中断消息的注释以提高可读性
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

Fix claude cancel (#492)
  backend/app/api/ws/device_namespace.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor, wegent-backend

fix(backend): address CodeRabbit review feedback for skill-manager
  backend/init_data/skills/skill-manager/common.sh
  backend/init_data/skills/skill-manager/export-skill.sh
  backend/init_data/skills/skill-manager/publish-skill.sh
Due: wegent-backend

fix(executor): use Claude SDK session_id (UUID) for RETRY_WITH_RESUME
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

Feature/executor error retry (#493)
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

feat(executor): add is_session_alive method for Claude session status check
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/session_manager.py
Due: wegent-executor

fix(executor): handle asyncio.subprocess.Process in session alive check
  executor/agents/claude_code/session_manager.py
Due: wegent-executor

feat(workspace): add workspace files display and download for no-repository mode
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/schemas/task.py
  backend/app/services/workspace_files.py
  executor/envd/api/models.py
  executor/envd/api/routes.py
  frontend/src/apis/tasks.ts
  frontend/src/app/(tasks)/code/CodePageDesktop.tsx
  frontend/src/features/tasks/components/workbench/Workbench.tsx
  frontend/src/features/tasks/components/workbench/WorkspaceFilesTree.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-executor, wegent-backend, wegent-web

fix: address CodeRabbit review comments
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/services/workspace_files.py
  executor/envd/api/routes.py
Due: wegent-executor, wegent-backend

fix(executor): fix Claude client process check path
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

feat: update skill-creator skill
  backend/app/services/attachment/parser.py
  backend/init_data/skills/skill-creator/LICENSE.txt
  backend/init_data/skills/skill-creator/SKILL.md
  backend/init_data/skills/skill-creator/references/output-patterns.md
  backend/init_data/skills/skill-creator/references/workflows.md
  backend/init_data/skills/skill-creator/scripts/common.sh
  backend/init_data/skills/skill-creator/scripts/export_skill.sh
  backend/init_data/skills/skill-creator/scripts/init_skill.py
  backend/init_data/skills/skill-creator/scripts/package_skill.py
  backend/init_data/skills/skill-creator/scripts/publish_skill.sh
  backend/init_data/skills/skill-creator/scripts/quick_validate.py
  backend/init_data/skills/skill-manager/SKILL.md
  docker/executor/Dockerfile
  executor/pyproject.toml
  executor/uv.lock
  start.sh
Due: wegent-executor, wegent-backend

feat(backend): add Telegram as new IM channel integration
  backend/app/schemas/im_channel.py
  backend/app/services/channels/manager.py
  backend/app/services/channels/telegram/__init__.py
  backend/app/services/channels/telegram/callback.py
  backend/app/services/channels/telegram/emitter.py
  backend/app/services/channels/telegram/handler.py
  backend/app/services/channels/telegram/keyboard.py
  backend/app/services/channels/telegram/service.py
  backend/app/services/channels/telegram/user_resolver.py
  backend/pyproject.toml
  backend/tests/services/channels/telegram/__init__.py
  backend/tests/services/channels/telegram/test_callback.py
  backend/tests/services/channels/telegram/test_emitter.py
  backend/tests/services/channels/telegram/test_handler.py
  backend/tests/services/channels/telegram/test_keyboard.py
  backend/tests/services/channels/telegram/test_user_resolver.py
Due: wegent-backend
