Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(test): add missing project_id to task fixture in skill identity test
  backend/tests/services/execution/test_request_builder_skill_identity.py
Due: wegent-backend

chore: update workspace whitelist to admin user
  frontend/.env.local
Due: wegent-web

feat(wecode): add ERP department visibility filter for HR
  backend/wecode/api/__init__.py
  backend/wecode/api/department_search.py
  backend/wecode/api/dept_visibility_admin.py
  backend/wecode/service/dept_visibility.py
  backend/wecode/tests/test_dept_visibility.py
Due: wegent-backend

chore: linearize alembic migration history
  backend/alembic/versions/20260513_d4e5f6a7b809_add_project_config.py
  backend/alembic/versions/20260514_5c0b248fc152_merge_heads.py
Due: wegent-backend

fix(issuer): opt signing key checking
  backend/app/core/security.py
  backend/app/services/auth/outbound_token_service.py
  backend/tests/api/endpoints/test_token_issuers_api.py
  frontend/package-lock.json
  frontend/src/features/admin/components/ApiKeyManagement.tsx
  frontend/src/features/admin/components/OutboundTokenAdminTypes.ts
  frontend/src/features/admin/components/OutboundTokenDeleteDialog.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerCard.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerDialog.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerList.tsx
  frontend/src/features/admin/components/OutboundTokenPemDialog.tsx
  frontend/src/features/admin/components/OutboundTokenSigningKeysPanel.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

feat: 优化前端对于工具调用的展示,更实时 (#1121)
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/status_updating.py
  backend/app/services/execution/emitters/websocket.py
  backend/tests/services/execution/test_responses_api_event_parser.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/tools/argument_stream.py
  chat_shell/chat_shell/tools/events.py
  chat_shell/tests/test_tool_argument_streaming.py
  frontend/src/features/tasks/components/message/thinking/MixedContentView.tsx
  frontend/src/features/tasks/components/message/thinking/components/ToolBlock.tsx
  frontend/src/features/tasks/components/message/thinking/components/tools/WriteToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/types.ts
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/types/socket.ts
  shared/models/execution.py
  shared/models/responses_api.py
  shared/models/responses_api_emitter.py
  shared/tests/test_tool_argument_streaming.py
  shared/utils/tool_arguments.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(frontend): add project provider to admin page
  frontend/src/app/admin/page.tsx
Due: wegent-web

feat: 添加项目工作区配置
  wecode/docker/frontend/.env.local
Due: wegent-web

fix(frontend): close unavailable admin vnc panel
  frontend/src/features/admin/components/DeviceMonitorPanel.tsx
  frontend/wecode/hooks/useAdminDeviceMonitorVncExtension.tsx
  wecode/docker/frontend/.env.local
Due: wegent-web

docs: document project workspace runtime config
  docs/en/developer-guide/setup.md
  docs/zh/developer-guide/setup.md
Due: none

revert(frontend): remove admin vnc hook changes
  frontend/src/features/admin/components/DeviceMonitorPanel.tsx
  frontend/wecode/hooks/useAdminDeviceMonitorVncExtension.tsx
Due: wegent-web

feat: 添加项目工作区配置
  wecode/docker/frontend_ops/.env.local
  wecode/docker/frontend_outer/.env.local
Due: none

revert(frontend): restore admin vnc files
  frontend/src/features/admin/components/DeviceMonitorPanel.tsx
  frontend/wecode/hooks/useAdminDeviceMonitorVncExtension.tsx
Due: wegent-web

feat: 添加项目工作区配置和上下文提供者
  docs/en/developer-guide/setup.md
  docs/zh/developer-guide/setup.md
  frontend/src/app/admin/page.tsx
Due: wegent-web

Fix admin (#1123)
  docs/en/developer-guide/setup.md
  docs/zh/developer-guide/setup.md
  frontend/src/app/admin/page.tsx
Due: wegent-web

revert(docs): remove project workspace config from setup docs
  docs/en/developer-guide/setup.md
  docs/zh/developer-guide/setup.md
Due: none

fix(share): restore short-circuit logic in get_user_kb_permission for performance
  backend/app/services/share/knowledge_share_service.py
Due: wegent-backend

fix(share): restore short-circuit logic in get_user_kb_permission for performance (#1122)
  backend/app/services/share/knowledge_share_service.py
Due: wegent-backend

fix(frontend): remove duplicate taskId query param in knowledge task navigation
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
Due: wegent-web

feat(executor): add DuckDB file download and query integration for KB
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/preprocessing/kb_meta.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/knowledge/knowledge_service.py
  docker/executor/Dockerfile
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/prompt_enrichment.py
  executor/pyproject.toml
  executor_manager/executors/docker/executor.py
  knowledge_runtime/knowledge_runtime/api/endpoints/embed.py
  knowledge_runtime/knowledge_runtime/api/router.py
  shared/models/execution.py
  shared/models/knowledge.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

refactor(executor): DuckDB 语义搜索改用本地 fastembed 替代远程 embedding API
  docs/plans/2026-05-17-duckdb-kb-download-integration.md
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/prompt_enrichment.py
  executor_manager/executors/docker/executor.py
  knowledge_runtime/knowledge_runtime/api/endpoints/embed.py
  knowledge_runtime/knowledge_runtime/api/router.py
Due: wegent-executor-manager, wegent-executor

fix: fix text block
  frontend/src/features/tasks/components/message/thinking/components/ToolBlock.tsx
Due: wegent-web

fix: fix text block (#1127)
  frontend/src/features/tasks/components/message/thinking/components/ToolBlock.tsx
Due: wegent-web

refactor(backend): DuckDB 下载改用 source_config 预配置 URL 替代运行时生成预签名 URL
  backend/app/services/knowledge/knowledge_service.py
  docs/plans/2026-05-17-duckdb-kb-download-integration.md
  shared/models/execution.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix: fix step object
  frontend/src/features/tasks/components/message/thinking/utils/toolExtractor.ts
Due: wegent-web

fix: fix thiking error
  frontend/src/features/tasks/components/message/thinking/MixedContentView.tsx
  frontend/src/features/tasks/components/message/thinking/hooks/useThinkingState.ts
  frontend/src/features/tasks/components/message/thinking/hooks/useToolExtraction.ts
  frontend/src/features/tasks/components/message/thinking/utils/toolExtractor.ts
Due: wegent-web

fix: 修复订阅任务没办法分享的问题
  backend/app/services/shared_task.py
Due: wegent-backend

fix(frontend): remove duplicate taskId query param in knowledge task navigation (#1126)
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
Due: wegent-web

fix(issuer): fix ci reviews
  backend/app/services/auth/outbound_token_service.py
  backend/tests/services/auth/test_outbound_token_service.py
  frontend/package-lock.json
  frontend/src/apis/admin.ts
  frontend/src/apis/outboundTokens.ts
  frontend/src/features/admin/components/OutboundTokenIssuerDialog.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerList.tsx
  frontend/src/features/admin/components/OutboundTokenSigningKeysPanel.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

refactor(wecode): use batch API for adding department permissions
  backend/wecode/api/dept_visibility_admin.py
  frontend/wecode/apis/knowledge-permission-extension.ts
  frontend/wecode/features/knowledge/components/AddDepartmentDialog.tsx
  frontend/wecode/features/knowledge/components/DepartmentAuthSearch.tsx
  frontend/wecode/i18n/locales/en/knowledge.json
  frontend/wecode/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix: 修复订阅任务没办法分享的问题 (#1129)
  backend/app/services/shared_task.py
Due: wegent-backend

feat(openapi): v1/response支持输出交互式图标内容&增加日志
  backend/app/api/endpoints/openapi_responses.py
  backend/app/mcp_server/tools/interactive_form_question.py
  backend/app/schemas/openapi_response.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/openapi/output_builder.py
  backend/app/services/openapi/streaming.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/mcp_server/test_interactive_form_question.py
  backend/tests/services/openapi/test_output_builder.py
  backend/tests/services/openapi/test_streaming_reasoning.py
Due: wegent-backend

feat(auth): add outbound token issuers (#1095)
  backend/app/api/api.py
  backend/app/api/endpoints/admin/router.py
  backend/app/api/endpoints/admin/token_issuers.py
  backend/app/api/endpoints/token_issuers.py
  backend/app/core/security.py
  backend/app/schemas/token_issuer.py
  backend/app/services/auth/outbound_token_service.py
  backend/tests/api/endpoints/test_token_issuers_api.py
  backend/tests/services/auth/test_outbound_token_service.py
  frontend/src/apis/admin.ts
  frontend/src/apis/outboundTokens.ts
  frontend/src/features/admin/components/ApiKeyManagement.tsx
  frontend/src/features/admin/components/OutboundTokenAdminTypes.ts
  frontend/src/features/admin/components/OutboundTokenDeleteDialog.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerCard.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerDialog.tsx
  frontend/src/features/admin/components/OutboundTokenIssuerList.tsx
  frontend/src/features/admin/components/OutboundTokenPemDialog.tsx
  frontend/src/features/admin/components/OutboundTokenSigningKeysPanel.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

style: fix import order in openapi_responses.py
  backend/app/api/endpoints/openapi_responses.py
Due: wegent-backend

style: apply black and isort formatting
  backend/app/api/endpoints/openapi_responses.py
  backend/app/services/execution/dispatcher.py
Due: wegent-backend

修复v1/responses交互式图表内容无法输出问题&增加相关日志 (#1130)
  backend/app/api/endpoints/openapi_responses.py
  backend/app/mcp_server/tools/interactive_form_question.py
  backend/app/schemas/openapi_response.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/openapi/output_builder.py
  backend/app/services/openapi/streaming.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/mcp_server/test_interactive_form_question.py
  backend/tests/services/openapi/test_output_builder.py
  backend/tests/services/openapi/test_streaming_reasoning.py
Due: wegent-backend

fix(wecode): apply ERP entity permission review fixes
  backend/wecode/api/auth.py
  backend/wecode/api/department_search.py
  backend/wecode/api/dept_visibility_admin.py
  backend/wecode/api/oidc_endpoint_patch.py
  backend/wecode/config/erp_config.py
  backend/wecode/models/erp_user.py
  backend/wecode/service/dept_visibility.py
  backend/wecode/service/erp_client.py
  backend/wecode/service/erp_entity_resolver.py
  backend/wecode/service/erp_user_service.py
  backend/wecode/tests/test_auth_erp_sync.py
  backend/wecode/tests/test_department_search.py
  backend/wecode/tests/test_erp_client.py
  backend/wecode/tests/test_erp_entity_resolver.py
  frontend/wecode/features/knowledge/components/AddDepartmentDialog.tsx
  frontend/wecode/features/knowledge/components/DepartmentAuthSearch.tsx
  frontend/wecode/hooks/useDepartmentSearch.ts
  frontend/wecode/i18n/locales/en/knowledge.json
  frontend/wecode/i18n/locales/zh-CN/knowledge.json
  frontend/wecode/types/department.ts
Due: wegent-backend, wegent-web

fix: 添加trace
  chat_shell/chat_shell/models/factory.py
Due: none

fix: 添加trace (#1132)
  chat_shell/chat_shell/models/factory.py
Due: none

feat(backend): add dingtalk workspace MCP service and knowledge base sync
  backend/app/models/__init__.py
  backend/app/models/share_link.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/adapters/task_kinds/query_utils.py
  backend/tests/api/test_skills_api.py
  backend/tests/services/execution/test_request_builder_user_mcp.py
  backend/tests/services/test_skill_kinds_service.py
  backend/tests/services/test_skill_service.py
Due: wegent-backend
