Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

feat(resource-library): add my resources endpoints
  backend/app/api/endpoints/adapter/resource_library.py
  backend/app/schemas/resource_library.py
  backend/app/services/resource_library/service.py
  backend/tests/api/endpoints/test_resource_library.py
  frontend/.husky/pre-commit
Due: wegent-backend, wegent-web

feat(frontend): add resource discovery UI
  frontend/src/__tests__/features/resource-library/DiscoverResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/DiscoverResources.tsx
  frontend/src/features/resource-library/components/ResourceDetailDrawer.tsx
  frontend/src/features/resource-library/components/ResourceListingCard.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
Due: wegent-web

feat(settings): integrate simple agent editor
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/index.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(frontend): harden settings page runtime guards
  frontend/src/features/settings/components/TeamApiCallButton.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/lib/runtime-config.ts
Due: wegent-web

feat(frontend): add resource library my resources
  frontend/src/__tests__/apis/resourceLibrary.test.ts
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/apis/resourceLibrary.ts
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/resource-library/components/PublishResourceDialog.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
Due: wegent-web

fix(resource-library): align my resources behavior
  backend/app/services/resource_library/service.py
  backend/tests/api/endpoints/test_resource_library.py
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/resource-library/components/PublishResourceDialog.tsx
  frontend/src/features/resource-library/components/ResourceDetailDrawer.tsx
Due: wegent-backend, wegent-web

feat(wework): add connection settings page
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): simplify connection tab label
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): add connection settings page (#1174)
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat: 更新智能体设置界面
  frontend/jest.config.ts
  frontend/src/__mocks__/jspdf-stub.ts
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/__tests__/features/settings/components/TeamEditDialog.display-name.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/ExecutorModeSelector.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/SimpleBotCoreConfigForm.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/TeamBindModeCards.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-save.test.ts
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/settings/components/McpConfigSection.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/knowledge/KnowledgeBaseMultiSelector.tsx
  frontend/src/features/settings/components/team-edit/ExecutorModeSelector.tsx
  frontend/src/features/settings/components/team-edit/SimpleBotCoreConfigForm.tsx
  frontend/src/features/settings/components/team-edit/SimpleConfigLayout.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/TeamBindModeCards.tsx
  frontend/src/features/settings/components/team-edit/simple-team-edit-save.ts
  frontend/src/features/settings/components/team-edit/simple-team-edit-utils.ts
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/en/wizard.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/i18n/locales/zh-CN/settings.json
  frontend/src/i18n/locales/zh-CN/wizard.json
Due: wegent-web

fix: fix ut
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
Due: wegent-web

feat(device): sync global capabilities to local executor (#1172)
  backend/app/api/api.py
  backend/app/api/endpoints/local_executor.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/cache.py
  backend/app/schemas/device.py
  backend/app/services/device/capability_sync_service.py
  backend/app/services/device/local_provider.py
  backend/app/services/device_service.py
  backend/tests/services/device/test_capability_sync_service.py
  docker/device/Dockerfile
  docs/en/developer-guide/global-skill-sync.md
  docs/zh/developer-guide/global-skill-sync.md
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/config_manager.py
  executor/agents/claude_code/local_mode_strategy.py
  executor/agents/claude_code/session_manager.py
  executor/modes/local/capabilities.py
  executor/modes/local/events.py
  executor/modes/local/runner.py
  executor/modes/local/websocket_client.py
  executor/tests/agents/test_project_workspace_paths.py
  executor/tests/modes/local/test_global_capabilities.py
  frontend/next.config.js
  scripts/install-device-tools-ubuntu.sh
Due: wegent-executor, wegent-backend, wegent-web

perf(tasks): reduce task history queries
  backend/app/services/adapters/task_kinds/helpers.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/adapters/task_kinds/query_utils.py
  backend/tests/services/test_task_group_lite_db_pagination.py
  backend/tests/services/test_task_lite_batch_loading.py
  frontend/src/__tests__/features/tasks/contexts/taskContext.group-loading.test.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-backend, wegent-web

feat: 更新资源列表页面
  backend/app/api/endpoints/adapter/tasks.py
  frontend/src/__tests__/features/settings/components/SettingsTabNav.navigation.test.tsx
  frontend/src/__tests__/features/settings/components/TeamEditDialog.display-name.test.tsx
  frontend/src/__tests__/features/settings/components/TeamList.mode-filter.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-save.test.ts
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/TeamSelectorButton.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/team-selector-utils.test.ts
  frontend/src/__tests__/features/tasks/components/sidebar/TaskListSection.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskContext.group-loading.test.tsx
  frontend/src/apis/shells.ts
  frontend/src/features/settings/components/SettingsTabNav.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/team-edit/SimpleBotCoreConfigForm.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/model-select-utils.ts
  frontend/src/features/settings/components/team-edit/simple-team-edit-save.ts
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/features/tasks/components/input/InputMoreActionsMenu.tsx
  frontend/src/features/tasks/components/selector/TeamSelectorButton.tsx
  frontend/src/features/tasks/components/selector/team-selector-utils.ts
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/zh-CN/settings.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix: 修复review问题
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/ExecutorModeSelector.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/TeamBindModeCards.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-utils.test.ts
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskContext.group-loading.test.tsx
  frontend/src/features/settings/components/team-edit/ExecutorModeSelector.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/TeamBindModeCards.tsx
  frontend/src/features/settings/components/team-edit/simple-choice-card-styles.ts
  frontend/src/features/settings/components/team-edit/simple-team-edit-utils.ts
  frontend/src/features/tasks/components/selector/team-selector-utils.ts
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/zh-CN/settings.json
Due: wegent-web

feat(parser): add image MIME type handling and support for vision API formats
  backend/app/services/attachment/parser.py
  backend/app/services/context/context_service.py
  backend/tests/services/attachment/test_parser.py
Due: wegent-backend

feat(parser): add image MIME type handling and support for vision API formats (#1176)
  backend/app/services/attachment/parser.py
  backend/app/services/context/context_service.py
  backend/tests/services/attachment/test_parser.py
Due: wegent-backend

feat(wework): implement connection page with real device APIs
  backend/app/api/endpoints/devices.py
  backend/wecode/api/cloud_devices.py
  backend/wecode/schemas/cloud_device.py
  backend/wecode/service/nevis_client.py
  wework/src/api/devices.ts
  wework/src/components/settings/AddCloudDeviceDialog.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/types/devices.ts
  wework/tsconfig.app.json
  wework/tsconfig.json
  wework/vite.config.ts
  wework/wecode/api/devices.ts
  wework/wecode/components/DeviceMetrics.tsx
  wework/wecode/components/VncDesktopButton.tsx
  wework/wecode/types/devices.ts
Due: wegent-backend

test(frontend): stabilize chat image browser e2e
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

fix: fix bugs
  frontend/src/__tests__/features/tasks/components/sidebar/TaskListSection.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskContext.group-loading.test.tsx
  frontend/src/apis/tasks.ts
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/types/api.ts
  knowledge_runtime/pyproject.toml
  knowledge_runtime/uv.lock
Due: wegent-web

feat(settings): expand agent icon catalog
  frontend/src/__tests__/features/settings/constants/team-icons.test.ts
  frontend/src/features/settings/components/teams/TeamIconPicker.tsx
  frontend/src/features/settings/constants/team-icons.ts
Due: wegent-web

fix(settings): make simple team sections collapsible
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
Due: wegent-web

Add Chat Shell to E2E workflow
  .github/workflows/e2e-tests.yml
Due: none

Refactor task sidebar into separate sections
  frontend/src/features/tasks/components/sidebar/FixedGroupChatsSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskHistorySection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

Support HEAD on chat shell health endpoint
  chat_shell/chat_shell/api/health.py
  chat_shell/tests/test_api.py
Due: none

fix(chat): dedupe replayed streaming chunks
  backend/app/services/chat/storage/session.py
  backend/app/services/execution/emitters/status_updating.py
  backend/tests/services/chat/storage/test_session_blocks.py
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/components/message/thinking/types.ts
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-backend, wegent-web

feat: 更新首页文案
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

feat: 更新mcp配置页面
  frontend/src/__tests__/features/settings/components/McpConfigSection.test.tsx
  frontend/src/features/settings/components/McpConfigAddDialog.tsx
  frontend/src/features/settings/components/McpConfigSection.tsx
  frontend/src/features/settings/components/McpProviderModal.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat: 更新mcp配置页面 (#1179)
  frontend/src/__tests__/features/settings/components/McpConfigSection.test.tsx
  frontend/src/features/settings/components/McpConfigAddDialog.tsx
  frontend/src/features/settings/components/McpConfigSection.tsx
  frontend/src/features/settings/components/McpProviderModal.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(wework): improve device metrics charts
  backend/wecode/api/cloud_devices.py
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/tailwind.config.js
  wework/wecode/api/devices.ts
  wework/wecode/components/DeviceMetrics.test.tsx
  wework/wecode/components/DeviceMetrics.tsx
  wework/wecode/types/devices.ts
Due: wegent-backend

feat: update resource lib
  frontend/src/__tests__/apis/resourceLibrary.test.ts
  frontend/src/__tests__/app/settings/resource-guide.test.tsx
  frontend/src/__tests__/features/resource-library/DiscoverResources.test.tsx
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/__tests__/features/settings/components/SettingsTabNav.navigation.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/DiscoverResources.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/resource-library/components/PublishResourceDialog.tsx
  frontend/src/features/resource-library/components/ResourceTypeFilter.tsx
  frontend/src/features/resource-library/types.ts
  frontend/src/features/settings/components/SettingsResourceGuide.tsx
  frontend/src/features/settings/components/SettingsTabNav.tsx
  frontend/src/features/settings/components/groups/GroupManager.tsx
  frontend/src/features/tasks/components/selector/SkillSelectorPopover.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
  frontend/src/i18n/locales/zh-CN/settings.json
Due: wegent-web

fix: 增加cli
  .gitlab-ci.yml
  wecode/docker/wework/Dockerfile
  wecode/docker/wework/prepare_build.sh
Due: none

feat: remove unused files
  backend/alembic/versions/20260527_e1f2a3b4c5d6_add_resource_library_tables.py
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/resource_library.py
  backend/app/models/__init__.py
  backend/app/models/resource_library.py
  backend/app/schemas/resource_library.py
  backend/app/services/resource_library/__init__.py
  backend/app/services/resource_library/installers.py
  backend/app/services/resource_library/manifest_builders.py
  backend/app/services/resource_library/service.py
  backend/app/services/user_mcp_service.py
  backend/tests/api/endpoints/test_resource_library.py
  backend/tests/api/endpoints/test_resource_library_install.py
  backend/tests/models/test_resource_library_models.py
  backend/tests/schemas/test_resource_library_schema.py
  backend/tests/services/resource_library/test_agent_installer.py
  backend/tests/services/resource_library/test_manifest_builders.py
  backend/tests/services/resource_library/test_resource_installers.py
  backend/tests/services/resource_library/test_resource_library_service.py
Due: wegent-backend

Codex/resource library (#1180)
  backend/app/api/endpoints/users.py
  backend/app/services/user_mcp_service.py
  docs/superpowers/plans/2026-05-27-resource-library-implementation.md
  docs/superpowers/specs/2026-05-27-resource-library-design.md
  frontend/.husky/pre-commit
  frontend/src/__tests__/apis/resourceLibrary.test.ts
  frontend/src/__tests__/app/settings/resource-guide.test.tsx
  frontend/src/__tests__/features/resource-library/DiscoverResources.test.tsx
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/__tests__/features/settings/components/SettingsTabNav.navigation.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/i18n/resource-library-namespace.test.ts
  frontend/src/apis/resourceLibrary.ts
  frontend/src/app/(tasks)/resource-library/page.tsx
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/DiscoverResources.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/resource-library/components/PublishResourceDialog.tsx
  frontend/src/features/resource-library/components/ResourceDetailDrawer.tsx
  frontend/src/features/resource-library/components/ResourceLibraryTabs.tsx
  frontend/src/features/resource-library/components/ResourceListingCard.tsx
  frontend/src/features/resource-library/components/ResourceTypeFilter.tsx
  frontend/src/features/resource-library/types.ts
  frontend/src/features/settings/components/SettingsResourceGuide.tsx
  frontend/src/features/settings/components/SettingsTabNav.tsx
  frontend/src/features/settings/components/groups/GroupManager.tsx
  frontend/src/features/tasks/components/selector/SkillSelectorPopover.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
  frontend/src/i18n/locales/zh-CN/settings.json
  frontend/src/i18n/setup.ts
Due: wegent-backend, wegent-web

style: update group resouce dropdown
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
Due: wegent-web

fix: 修改镜像
  wecode/docker/wework/Dockerfile
Due: none

feat(wework): add project chat archive controls
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/endpoints/projects.py
  backend/app/models/task.py
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/project_service.py
  backend/tests/services/adapters/test_task_archive_operations.py
  wework/src/api/adapters.test.ts
  wework/src/api/devices.ts
  wework/src/api/projects.ts
  wework/src/api/tasks.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/common/TextInputDialog.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/hooks/useTranslation.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/WorkbenchPage.tsx
  wework/src/stream/chatStream.test.ts
  wework/src/types/api.ts
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
