Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(wework): add existing tasks to project boards
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/api/deliveries.test.ts
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.test.ts
  wework/src/api/local/localDelivery.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/TaskBoardAssociationDialog.test.tsx
  wework/src/features/todo/TaskBoardAssociationDialog.tsx
  wework/src/features/todo/WorkItemComposerGuide.test.tsx
  wework/src/features/todo/WorkItemComposerGuide.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

docs(wework): explain task board association
  docs/en/wework/tasks.md
  docs/zh/wework/tasks.md
Due: none

fix(ci): register task board association checkpoint
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): keep scroll-to-bottom pinned
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(wework): keep scroll-to-bottom pinned (#3150)
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(wework): return settings back to the previous page
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

feat(wework): 创建自动化的时候不需要任何必填信息
  backend/app/api/ws/wework_runtime_namespace.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/scenarios/app-update-differential.scenario.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/electron/scripts/package-app.mjs
  wework/scripts/desktop-resource-migration.test.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopSettingsMenu.test.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebarAccount.tsx
  wework/src/components/settings/AboutSettingsPage.test.tsx
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/desktop/localExecutor.test.ts
  wework/src/desktop/localExecutor.ts
  wework/src/features/app-update/AppUpdateErrorDetailsDialog.tsx
  wework/src/features/app-update/AppUpdateProvider.test.tsx
  wework/src/features/app-update/AppUpdateProvider.tsx
  wework/src/features/app-update/app-update-context.ts
  wework/src/features/app-update/app-update-error-copy.ts
  wework/src/features/app-update/app-update-error.test.ts
  wework/src/features/app-update/app-update-error.ts
  wework/src/features/todo/AutomationRulesView.jsx
  wework/src/features/todo/ProjectAutomationView.test.tsx
  wework/src/features/todo/automationRuleBackend.ts
  wework/src/features/workbench/workbenchServices.test.ts
  wework/src/features/workbench/workbenchServices.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

docs(wework): document desktop checkpoint registration
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

fix(auth): rebase oauth migration onto latest main
  backend/alembic/versions/20260831_8d3d51c83c99_add_oauth_refresh_tokens.py
Due: wegent-backend

fix(wework): show actions for selected process text
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
Due: none

fix(wework): show browser annotation cursor
  wework/e2e/desktop/scenarios/embedded-browser-annotation.scenario.mjs
  wework/electron/src/browser-annotation-preload.cts
  wework/electron/src/main.ts
Due: none

fix(wework): avoid refresh when switching models
  wework/src/features/dsh-models/CoreDshModelSyncBridge.tsx
  wework/src/features/dsh-models/coreDshModelSync.test.ts
  wework/src/features/dsh-models/coreDshModelSync.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

docs(wework): document Core DSH model sync
  docs/en/wework/developer-guide/wework-dsh-ui-plugins.md
  docs/zh/wework/developer-guide/wework-dsh-ui-plugins.md
Due: none

fix(wework): show actions for selected process text (#3152)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
Due: none

feat(wework): 创建自动化的时候不需要任何必填信息 (#3151)
  backend/app/api/ws/wework_runtime_namespace.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/scenarios/app-update-differential.scenario.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/DesktopSettingsMenu.test.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebarAccount.tsx
  wework/src/components/settings/AboutSettingsPage.test.tsx
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/desktop/localExecutor.test.ts
  wework/src/desktop/localExecutor.ts
  wework/src/features/app-update/AppUpdateErrorDetailsDialog.tsx
  wework/src/features/app-update/AppUpdateProvider.test.tsx
  wework/src/features/app-update/AppUpdateProvider.tsx
  wework/src/features/app-update/app-update-context.ts
  wework/src/features/app-update/app-update-error-copy.ts
  wework/src/features/app-update/app-update-error.test.ts
  wework/src/features/app-update/app-update-error.ts
  wework/src/features/todo/AutomationRulesView.jsx
  wework/src/features/todo/ProjectAutomationView.test.tsx
  wework/src/features/todo/automationRuleBackend.ts
  wework/src/features/workbench/workbenchServices.test.ts
  wework/src/features/workbench/workbenchServices.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(code-wiki): coordinate generation quality
  backend/app/api/endpoints/wiki.py
  backend/app/api/ws/chat_namespace.py
  backend/app/schemas/wiki.py
  backend/app/services/knowledge/code_wiki/prompts.py
  backend/app/services/knowledge/code_wiki/publisher.py
  backend/app/services/knowledge/code_wiki/quality_gate.py
  backend/app/services/knowledge/code_wiki/runner.py
  backend/app/services/wiki_service.py
  backend/init_data/02-public-resources.yaml
  backend/init_data/skills/wiki_submit/REVIEW_CONTRACT.md
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/init_data/skills/wiki_submit/wiki_submit.js
  backend/tests/api/test_wiki_generation_contents.py
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_ghost.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
  backend/tests/services/knowledge/code_wiki/test_prompts.py
  backend/tests/services/knowledge/code_wiki/test_publisher.py
  backend/tests/services/knowledge/code_wiki/test_quality_gate.py
  backend/tests/services/knowledge/code_wiki/test_runner.py
  docs/specs/knowledge/2026-08-26-code-wiki-coordinate-quality-design.md
  executor/src/process/mod.rs
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor, wegent-backend

feat(code-wiki): show live generation progress
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/code_wiki/generation.py
  backend/tests/api/test_knowledge_code_wiki.py
  backend/tests/services/knowledge/code_wiki/test_generation.py
  docs/specs/knowledge/2026-08-26-code-wiki-coordinate-quality-design.md
  frontend/src/__tests__/features/knowledge/code-wiki/generation-progress.test.tsx
  frontend/src/__tests__/features/knowledge/code-wiki/mobile-navigation.test.tsx
  frontend/src/__tests__/features/knowledge/code-wiki/run-status-polling.test.tsx
  frontend/src/features/knowledge/code-wiki/CodeWikiReader.tsx
  frontend/src/features/knowledge/code-wiki/GenerationProgress.tsx
  frontend/src/features/knowledge/code-wiki/useCodeWikiRunStatus.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/code-wiki.ts
Due: wegent-backend, wegent-web

feat(code-wiki): delegate scoped wiki writing
  backend/app/schemas/wiki.py
  backend/app/services/knowledge/code_wiki/generation.py
  backend/app/services/knowledge/code_wiki/prompts.py
  backend/app/services/knowledge/code_wiki/quality_gate.py
  backend/app/services/knowledge/code_wiki/runner.py
  backend/app/services/wiki_service.py
  backend/init_data/02-public-resources.yaml
  backend/init_data/skills/wiki_submit/REVIEW_CONTRACT.md
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/init_data/skills/wiki_submit/wiki_submit.js
  backend/tests/api/test_wiki_generation_contents.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_ghost.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
  backend/tests/services/knowledge/code_wiki/test_generation.py
  backend/tests/services/knowledge/code_wiki/test_prompts.py
  backend/tests/services/knowledge/code_wiki/test_publisher.py
  backend/tests/services/knowledge/code_wiki/test_quality_gate.py
  backend/tests/services/knowledge/code_wiki/test_runner.py
  frontend/src/__tests__/features/knowledge/code-wiki/generation-progress.test.tsx
  frontend/src/features/knowledge/code-wiki/GenerationProgress.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(wework): return settings back to the active workspace tab
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

fix(wework): align embedded browser context menu with observed Codex menus
  wework/electron/src/host/image-context-actions.ts
  wework/electron/src/host/image-context-menu.test.ts
  wework/electron/src/host/image-context-menu.ts
Due: none

docs(code-wiki): update coordinate quality design
  docs/specs/knowledge/2026-08-26-code-wiki-coordinate-quality-design.md
Due: none

fix(backend): reuse executor after response regeneration
  backend/app/services/subtask.py
  backend/app/stores/tasks/__init__.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/services/test_subtask_store_integration.py
Due: wegent-backend

fix(backend): normalize remote runtime device identity
  backend/app/api/ws/device_namespace.py
  backend/app/services/device/runtime_route.py
  backend/app/services/device/runtime_rpc_service.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  backend/tests/services/test_runtime_route.py
  backend/tests/services/test_runtime_rpc_service.py
Due: wegent-backend

fix(wework): prevent reminder actions from collapsing
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

docs(wework): clarify away reminder actions
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix(wework): prevent away reminder actions from collapsing (#3158)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): polish browser context menu groups and make downloads panel closable
  wework/electron/src/host/image-context-menu.test.ts
  wework/electron/src/host/image-context-menu.ts
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(code-wiki): address quality review findings
  backend/app/api/ws/chat_namespace.py
  backend/app/services/knowledge/code_wiki/generation.py
  backend/app/services/knowledge/code_wiki/quality_gate.py
  backend/init_data/02-public-resources.yaml
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_ghost.py
  backend/tests/services/knowledge/code_wiki/test_generation.py
  backend/tests/services/knowledge/code_wiki/test_prompts.py
  backend/tests/services/knowledge/code_wiki/test_quality_gate.py
  backend/tests/services/knowledge/code_wiki/test_runner.py
Due: wegent-backend

fix(wework): avoid refresh when switching models (#3153)
  docs/en/wework/developer-guide/wework-dsh-ui-plugins.md
  docs/zh/wework/developer-guide/wework-dsh-ui-plugins.md
  wework/src/features/dsh-models/CoreDshModelSyncBridge.tsx
  wework/src/features/dsh-models/coreDshModelSync.test.ts
  wework/src/features/dsh-models/coreDshModelSync.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(code-wiki): reserve space for chat input
  frontend/src/__tests__/features/tasks/components/hooks/useFloatingInput.test.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/hooks/useFloatingInput.ts
Due: wegent-web

fix(wework): bound desktop log retention
  wework/electron/src/main.ts
  wework/electron/src/runtime/log-retention.test.ts
  wework/electron/src/runtime/log-retention.ts
  wework/electron/src/runtime/rotating-log.test.ts
  wework/electron/src/runtime/rotating-log.ts
Due: none

test(wework): stabilize process tree startup waits
  wework/electron/src/runtime/runtime-supervisor.test.ts
Due: none

fix(code-wiki): preserve declared page order
  backend/app/services/knowledge/code_wiki/publisher.py
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/init_data/skills/wiki_submit/wiki_submit.js
  backend/tests/services/knowledge/code_wiki/test_publisher.py
Due: wegent-backend

test(wework): wait for board association completion
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

feat(wework): replace auto-opening downloads bar with a transient peek card
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(code-wiki): validate order for reviewed rebuilds
  backend/app/services/knowledge/code_wiki/publisher.py
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/tests/services/knowledge/code_wiki/test_publisher.py
Due: wegent-backend

fix(wework): stabilize repeated browser annotations
  wework/e2e/desktop/scenarios/embedded-browser-annotation.scenario.mjs
  wework/electron/src/browser-annotation-preload.cts
  wework/electron/src/main.ts
  wework/plans/WEWORKC2FA61-470-browser-annotation-rewrite.md
Due: none
