Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: retry invalid deferred form output (#1317)
  backend/app/mcp_server/tools/interactive_form_question.py
  backend/tests/mcp_server/test_interactive_form_question.py
  executor/agents/claude_code/deferred_mcp_proxy.py
  executor/agents/claude_code/response_processor.py
  executor/tests/agents/claude_code/test_deferred_mcp_proxy_response.py
Due: wegent-executor, wegent-backend

docs(readme): polish project positioning
  README.md
  README_zh.md
Due: none

feat(wework): guide device version upgrades
  wework/src/api/devices.test.ts
  wework/src/api/devices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/DeviceStatusPrompt.test.tsx
  wework/src/components/layout/DeviceStatusPrompt.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.test.ts
  wework/src/lib/device-capabilities.ts
  wework/src/lib/device-selection.test.ts
  wework/src/lib/device-selection.ts
  wework/src/pages/WorkbenchPage.tsx
  wework/src/stream/chatStream.test.ts
  wework/src/stream/chatStream.ts
  wework/src/types/api.ts
  wework/src/types/device-events.ts
  wework/src/types/devices.ts
Due: none

fix(frontend): enforce serverConfirmedNoStream lifecycle invariant in state machine
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/__tests__/features/tasks/components/message/MessagesArea.memo.test.tsx
  frontend/src/__tests__/features/tasks/components/message/TaskRuntimeGlyph.test.tsx
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.recovery.test.ts
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

feat(wework): guide device version upgrades (#1319)
  wework/src/api/devices.test.ts
  wework/src/api/devices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/DeviceStatusPrompt.test.tsx
  wework/src/components/layout/DeviceStatusPrompt.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.test.ts
  wework/src/lib/device-capabilities.ts
  wework/src/lib/device-selection.test.ts
  wework/src/lib/device-selection.ts
  wework/src/pages/WorkbenchPage.tsx
  wework/src/stream/chatStream.test.ts
  wework/src/stream/chatStream.ts
  wework/src/types/api.ts
  wework/src/types/device-events.ts
  wework/src/types/devices.ts
Due: none

docs(readme): polish project positioning (#1318)
  README.md
  README_zh.md
Due: none

feat(wework): refine mobile drawer interactions
  wework/src/components/common/SearchableSelect.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
Due: none

feat(backend): refactor web scraper extraction
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/web_scraper/classifier.py
  backend/app/services/web_scraper/constants.py
  backend/app/services/web_scraper/markdown/__init__.py
  backend/app/services/web_scraper/markdown/cleaner.py
  backend/app/services/web_scraper/markdown/html_to_markdown.py
  backend/app/services/web_scraper/markdown/quality.py
  backend/app/services/web_scraper/models.py
  backend/app/services/web_scraper/pdf_extractor.py
  backend/app/services/web_scraper/policy.py
  backend/app/services/web_scraper/profiles.py
  backend/app/services/web_scraper/proxy.py
  backend/app/services/web_scraper/quality.py
  backend/app/services/web_scraper/scraper_service.py
  backend/app/services/web_scraper/security.py
  backend/app/services/web_scraper/strategies/__init__.py
  backend/app/services/web_scraper/strategies/crawl4ai_strategy.py
  backend/app/services/web_scraper/strategies/playwright_frame_strategy.py
  backend/tests/services/web_scraper/test_classifier.py
  backend/tests/services/web_scraper/test_markdown_cleaner.py
  backend/tests/services/web_scraper/test_markdown_converter.py
  backend/tests/services/web_scraper/test_playwright_frame_strategy.py
  backend/tests/services/web_scraper/test_policy.py
  backend/tests/services/web_scraper/test_profiles.py
  backend/tests/services/web_scraper/test_proxy.py
  backend/tests/services/web_scraper/test_quality.py
  backend/tests/services/web_scraper/test_scraper_service.py
  backend/tests/services/web_scraper/test_security.py
  docs/en/developer-guide/web-scraper-service.md
  docs/zh/developer-guide/web-scraper-service.md
Due: wegent-backend

feat(wework): ui调整
  wework/src/hooks/useVisualViewport.ts
Due: none

test(frontend): stabilize task runtime e2e checks
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/e2e/tests/tasks/task-runtime-consistency.spec.ts
Due: wegent-web

feat(chat_shell): add TruncationPolicy and GuardSource Protocol (T1)
  chat_shell/chat_shell/guard/__init__.py
  chat_shell/chat_shell/guard/types.py
  chat_shell/tests/test_guard_types.py
Due: none

feat(chat_shell): add ToolOutputGuardAdapter and compact tool string format (T2)
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/guard/__init__.py
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/tests/test_tool_output_adapter.py
Due: none

fix(chat_shell): tighten compact footer detection and dedupe encoding (T2 review)
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/tests/test_tool_output_adapter.py
Due: none

feat(chat): finalize Phase 1 chat status toolbar and reconnect recovery
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.pipeline-next-step.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputCard.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatToolbarStatus.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-context-visibility.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-send-state.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useChatStatusIndicator.test.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatAreaState.ts
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/ChatToolbarStatus.tsx
  frontend/src/features/tasks/components/params/QuotaUsage.tsx
  frontend/src/features/tasks/components/params/index.ts
  frontend/src/features/tasks/hooks/useChatStatusIndicator.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

feat(chat): add context status metrics and toolbar indicator
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/schemas/user.py
  backend/app/services/chat/storage/session.py
  backend/app/services/chat/webpage_ws_chat_emitter.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/execution/inprocess_executor.py
  backend/tests/api/ws/test_chat_namespace_task_join.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/execution/test_responses_api_event_parser.py
  chat_shell/chat_shell/compression/__init__.py
  chat_shell/chat_shell/compression/context_metrics.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/services/streaming/core.py
  chat_shell/chat_shell/tools/events.py
  chat_shell/tests/test_context_metrics.py
  frontend/src/__tests__/features/tasks/components/params/QuotaUsage.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useChatStatusIndicator.test.tsx
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/components/params/QuotaUsage.tsx
  frontend/src/features/tasks/hooks/useChatStatusIndicator.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
  frontend/src/types/socket.ts
  shared/models/execution.py
  shared/models/responses_api.py
  shared/models/responses_api_emitter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

feat(chat_shell): add UnifiedContextGuard with source + compression pipeline (T3)
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/tests/test_context_guard.py
Due: none

feat(chat-shell): finalize phase2 context guard
  backend/app/services/rag/retrieval_service.py
  backend/tests/services/rag/test_retrieval_service.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/compression/strategies.py
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/guard/__init__.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/chat_shell/models/openai_reasoning.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  chat_shell/chat_shell/tools/knowledge_injection_strategy.py
  chat_shell/tests/test_chat_service_context_metrics.py
  chat_shell/tests/test_compression.py
  chat_shell/tests/test_context_guard.py
  chat_shell/tests/test_cross_model_switch.py
  chat_shell/tests/test_knowledge_injection_strategy.py
  chat_shell/tests/test_knowledge_injection_strategy_clean.py
  chat_shell/tests/test_openai_reasoning.py
  chat_shell/tests/test_serialize_messages_chain.py
  chat_shell/tests/test_tool_output_adapter.py
Due: wegent-backend

feat(chat_shell): finalize Phase 2 context governance (T7+T8+T9 + review)
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/compression/context_metrics.py
  chat_shell/chat_shell/compression/strategies.py
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/chat_shell/guard/types.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/tools/events.py
  chat_shell/tests/test_compression.py
  chat_shell/tests/test_context_guard.py
  chat_shell/tests/test_context_metrics.py
  chat_shell/tests/test_serialize_messages_chain.py
  chat_shell/tests/test_tool_output_adapter.py
Due: none

feat(chat_shell): wire UnifiedContextGuard as pre_model_hook (T4)
  chat_shell/chat_shell/agent.py
  chat_shell/chat_shell/guard/__init__.py
  chat_shell/chat_shell/guard/composition.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/tests/test_guard_composition.py
Due: none

feat: db session lifetime fixes
  backend/app/services/jobs.py
  backend/app/services/knowledge/indexing.py
  backend/app/services/knowledge/summary_service.py
  backend/app/services/repository_job.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/services/knowledge/test_indexing.py
  backend/tests/services/test_repository_job.py
  backend/tests/services/test_summary_service.py
  backend/tests/tasks/test_knowledge_tasks.py
  backend/tests/tasks/test_subscription_tasks_legacy_trigger.py
Due: wegent-backend

feat(wework): 支持weibo skill
  backend/app/services/system_skill_providers/__init__.py
  backend/app/services/system_skill_providers/providers/weibo.py
  backend/tests/services/test_system_skill_provider_registry.py
  backend/tests/services/test_weibo_system_skill_provider.py
  wework/src/components/plugins/PluginsWorkspace.test.tsx
Due: wegent-backend

feat(wework): 设置token
  wecode/docker/backend/Dockerfile
Due: wegent-backend

fix(backend): address web scraper review findings
  backend/app/services/web_scraper/pdf_extractor.py
  backend/app/services/web_scraper/scraper_service.py
  backend/app/services/web_scraper/security.py
  backend/app/services/web_scraper/strategies/crawl4ai_strategy.py
  backend/app/services/web_scraper/strategies/playwright_frame_strategy.py
  backend/tests/services/web_scraper/test_markdown_cleaner.py
  backend/tests/services/web_scraper/test_playwright_frame_strategy.py
  backend/tests/services/web_scraper/test_scraper_service.py
  backend/tests/services/web_scraper/test_security.py
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-backend, wegent-web

fix: subscription retry db session lifecycle
  backend/app/api/ws/chat_namespace.py
  backend/app/services/inbox/direct_agent_handler.py
  backend/app/services/subscription/unified_executor.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/subscription/test_unified_executor.py
  backend/tests/services/work_queue/test_direct_agent_handler.py
Due: wegent-backend

fix: subscription retry db session lifecycle
  backend/app/api/ws/chat_namespace.py
  backend/app/services/inbox/direct_agent_handler.py
  backend/app/services/subscription/unified_executor.py
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/conftest.py
  backend/tests/services/subscription/test_unified_executor.py
  backend/tests/services/work_queue/test_direct_agent_handler.py
Due: wegent-backend

fix: e2e test
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

feat(codex): add user runtime auth config
  AGENTS.md
  backend/app/api/endpoints/users.py
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/app/schemas/user.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/device/command_registry.py
  backend/app/services/user.py
  backend/app/services/user_runtime_config.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/test_local_device_command_service.py
  backend/tests/services/test_user_runtime_config_service.py
  docs/en/developer-guide/user-runtime-config.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/user-runtime-config.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/agents/codex/config_builder.py
  executor/config/local_cli_config.py
  executor/modes/local/websocket_client.py
  executor/tests/agents/test_codex_config_builder.py
  executor/tests/config/test_local_cli_config.py
  executor/tests/test_local_websocket_client.py
  wework/src/api/users.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/components/settings/RuntimeConfigSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

fix(knowledge): preserve source document when conversion is enabled
  backend/app/api/endpoints/internal/conversion_callback.py
  backend/app/models/knowledge.py
  backend/app/services/knowledge/document_read_service.py
  backend/app/services/knowledge/index_state_machine.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
Due: wegent-backend

feat(knowledge_doc_converter): add configurable MinerU request timeout, retry count, and retry interval
  knowledge_doc_converter/knowledge_doc_converter/config.py
  knowledge_doc_converter/knowledge_doc_converter/tasks/conversion_task.py
  knowledge_engine/knowledge_engine/conversion/mineru_client.py
Due: none

Fix/subscription retry db session lifecycle (#1326)
  backend/app/api/ws/chat_namespace.py
  backend/app/services/inbox/direct_agent_handler.py
  backend/app/services/subscription/unified_executor.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/conftest.py
  backend/tests/services/subscription/test_unified_executor.py
  backend/tests/services/work_queue/test_direct_agent_handler.py
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-backend, wegent-web

feat(codex): add user runtime auth config (#1325)
  AGENTS.md
  backend/app/api/endpoints/users.py
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/app/schemas/user.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/device/command_registry.py
  backend/app/services/user.py
  backend/app/services/user_runtime_config.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/test_local_device_command_service.py
  backend/tests/services/test_user_runtime_config_service.py
  docs/en/developer-guide/user-runtime-config.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/user-runtime-config.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/agents/codex/config_builder.py
  executor/config/local_cli_config.py
  executor/modes/local/websocket_client.py
  executor/tests/agents/test_codex_config_builder.py
  executor/tests/config/test_local_cli_config.py
  executor/tests/test_local_websocket_client.py
  wework/src/api/users.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/components/settings/RuntimeConfigSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

fix(knowledge_engine): log MinerU task failure details instead of bare task ID
  knowledge_engine/knowledge_engine/conversion/mineru_client.py
Due: none

fix(frontend): normalize TeamEditDrawer bot key before display (#1316)
  frontend/src/features/settings/components/TeamEditDrawer.tsx
Due: wegent-web

fix(frontend): translate empty tool output detail
  frontend/src/__tests__/features/tasks/components/message/thinking/ToolBlock.test.tsx
  frontend/src/__tests__/i18n/missing-console-keys.test.ts
  frontend/src/features/tasks/components/message/thinking/components/ToolBlock.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

fix(chat-shell): tune tool guard controls and diagnostics
  backend/app/api/ws/chat_namespace.py
  backend/app/schemas/user.py
  backend/app/services/chat/storage/session.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/execution/request_builder.py
  backend/app/services/user.py
  backend/tests/api/ws/test_chat_namespace_task_join.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/execution/test_request_builder_user_mcp.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/compression/strategies.py
  chat_shell/chat_shell/guard/__init__.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/chat_shell/guard_flags.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/tests/test_compression.py
  chat_shell/tests/test_tool_output_adapter.py
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/components/input/ChatToolbarStatus.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
  frontend/src/types/socket.ts
  shared/models/execution.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

feat(wework): 调整ui（使用过程中发现的问题）
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

feat(wework): 手机端ui调整 (#1323)
  wework/src/components/common/SearchableSelect.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/hooks/useVisualViewport.ts
Due: none

feat: db session lifetime fixes
  backend/app/services/background_chat_executor.py
  backend/app/services/knowledge/indexing.py
  backend/app/services/knowledge/summary_service.py
  backend/app/services/rag/gateway.py
  backend/app/services/rag/local_data_plane/indexing.py
  backend/app/services/rag/local_gateway.py
  backend/app/services/rag/remote_gateway.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/services/knowledge/test_indexing.py
  backend/tests/services/rag/test_local_data_plane_indexing.py
  backend/tests/services/rag/test_local_gateway.py
  backend/tests/services/rag/test_remote_gateway.py
  backend/tests/services/test_background_chat_executor.py
  backend/tests/services/test_summary_service.py
  backend/tests/tasks/test_subscription_tasks_legacy_trigger.py
Due: wegent-backend

fix(wework): correct processing duration timer and header interactivity
  backend/app/services/chat/storage/session.py
  backend/tests/services/chat/storage/test_session_blocks.py
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
