Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(backend): 调整trace上报过滤 (#819)
  shared/telemetry/config.py
Due: wegent-executor-manager, wegent-executor

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat(backend): 方便触发打包
  backend/README.md
Due: wegent-backend

fix(frontend): add auto-reconnect with task room rejoin after backend restart
  frontend/src/contexts/SocketContext.tsx
Due: wegent-web

fix: skip git cache mount for validation tasks in DockerExecutor
  executor_manager/executors/docker/executor.py
Due: wegent-executor-manager

fix(frontend\backend): add auto-reconnect with task room rejoin after backend restart
  backend/app/api/endpoints/health.py
  backend/app/core/shutdown.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/chat/streaming/ws_handler.py
  backend/app/services/streaming/core.py
  backend/start.sh
Due: wegent-backend

fix(test): 修复测试用例
  backend/tests/core/test_shutdown.py
Due: wegent-backend

fix(backend): custom shells inherit model compatibility from base shell (#758)
  backend/app/api/endpoints/adapter/shells.py
  backend/app/services/adapters/public_model.py
  backend/app/services/adapters/shell_utils.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/test_model_aggregation_service.py
Due: wegent-backend

feat: auto merge simulation app change
  .gitlab-ci.yml
Due: none

fix(knowledge): change score threshold default from 0.7 to 0.5
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
Due: wegent-web

refactor: 移除取消子任务逻辑并更新任务状态检查
  backend/app/services/chat/storage/task_manager.py
Due: wegent-backend

fix: 修复优雅关闭时新连接注册逻辑
  backend/app/api/ws/chat_namespace.py
  backend/app/core/shutdown.py
  backend/app/services/chat/streaming/ws_handler.py
  backend/tests/core/test_shutdown.py
Due: wegent-backend

chore: restore mockServiceWorker.js to original format
  frontend/public/mockServiceWorker.js
Due: wegent-web

chore: sync docker-compose.yml from main
  docker-compose.yml
Due: none

feat(streaming): add DeepSeek R1 reasoning content display and executor streaming
  backend/app/chat_shell/agents/graph_builder.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/streaming/core.py
  docker-compose.yml
  executor/agents/agno/agno_agent.py
  executor_manager/routers/routers.py
  frontend/public/mockServiceWorker.js
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/message/thinking/ReasoningDisplay.tsx
  frontend/src/features/tasks/components/message/thinking/index.ts
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/types/socket.ts
  shared/models/task.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(streaming): enable real-time reasoning content streaming for DeepSeek R1
  executor/agents/agno/agno_agent.py
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
Due: wegent-executor, wegent-web

fix(frontend): prevent wrong team display when switching between chat/code pages
  frontend/src/features/tasks/components/hooks/useTeamPreferences.ts
Due: wegent-web

fix(frontend): resolve infinite streaming spinner for new group chat members
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
Due: wegent-web

fix: 修复取消逻辑以支持用户取消和优雅关闭
  backend/app/services/streaming/core.py
Due: wegent-backend

fix(frontend): add timeout fallback for task detail loading
  frontend/src/features/tasks/components/hooks/useTeamPreferences.ts
Due: wegent-web

fix(test): 优化 SocketContext 中的响应类型定义
  frontend/src/contexts/SocketContext.tsx
Due: wegent-web

feat(chat_response): add support for extended tool settings and message enhancements
  .gitignore
  backend/app/api/endpoints/openapi_responses.py
  backend/app/schemas/openapi_response.py
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/helpers.py
  backend/app/services/openapi/mcp.py
Due: wegent-backend

fix: dingtalk-jsapi 版本更新到 3.2.2 并添加 promise-polyfill 依赖
  frontend/package-lock.json
  frontend/package.json
Due: wegent-web

fix: auto-reconnect with task room rejoin after backend restart (#820)
  backend/app/api/endpoints/health.py
  backend/app/api/ws/chat_namespace.py
  backend/app/core/shutdown.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/chat/streaming/ws_handler.py
  backend/app/services/streaming/core.py
  backend/start.sh
  backend/tests/core/test_shutdown.py
  frontend/src/contexts/SocketContext.tsx
Due: wegent-backend, wegent-web

fix(frontend): prevent wrong team display when switching between chat/code pages (#823)
  frontend/src/features/tasks/components/hooks/useTeamPreferences.ts
Due: wegent-web

feat(chat_response): enhance MCP tool loading with separate bot and server configurations
  backend/app/services/openapi/chat_response.py
Due: wegent-backend

fix: 新建的智能体绑定模式默认code,chat都没选中
  frontend/src/features/settings/components/TeamEditDialog.tsx
Due: wegent-web

feat(chat_response): refactor tool settings to enable all server-side capabilities with wegent_chat_bot
  backend/app/api/endpoints/openapi_responses.py
  backend/app/schemas/openapi_response.py
  backend/app/services/openapi/__init__.py
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/helpers.py
  backend/app/services/openapi/mcp.py
Due: wegent-backend

feat(ui): auto-collapse reasoning panel when streaming ends
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/thinking/ReasoningDisplay.tsx
Due: wegent-web

feat(meeting): add intelligent meeting booking skill and interactive form
  backend/init_data/skills/meeting-booking/SKILL.md
  backend/init_data/skills/meeting-booking/get_meeting_resources.py
  backend/init_data/skills/meeting-booking/provider.py
  frontend/src/apis/meeting.ts
  frontend/src/features/tasks/components/meeting/MeetingBookingForm.tsx
  frontend/src/features/tasks/components/meeting/index.ts
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix(streaming): enable real-time reasoning content streaming for DeepSeek R1 (#821)
  backend/app/chat_shell/agents/graph_builder.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/streaming/core.py
  executor/agents/agno/agno_agent.py
  executor_manager/routers/routers.py
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/message/thinking/ReasoningDisplay.tsx
  frontend/src/features/tasks/components/message/thinking/index.ts
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/types/socket.ts
  shared/models/task.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(frontend): allow empty bind_mode selection and add validation (#734)
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/TeamBasicInfoForm.tsx
  frontend/src/features/settings/components/wizard/TeamCreationWizard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(frontend): use ES2017 compatible regex for meeting booking form parsing
  frontend/src/features/tasks/components/message/MessageBubble.tsx
Due: wegent-web

feat(test): update tests for Wegent tool parsing to reflect chat bot functionality
  backend/tests/api/test_openapi_responses.py
Due: wegent-backend

fix: address CodeRabbit review feedback
  backend/init_data/skills/meeting-booking/get_meeting_resources.py
  frontend/src/apis/meeting.ts
Due: wegent-backend, wegent-web

feat: 添加国内镜像仓库
  wecode/docker/wgent_shell/Dockerfile
Due: none

fix(frontend): fix group chat invite loading and initial message issues
  frontend/src/features/tasks/components/group-chat/CreateGroupChatDialog.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
Due: wegent-web

refactor(frontend): extract system message markers to shared constants
  frontend/src/features/tasks/components/group-chat/CreateGroupChatDialog.tsx
  frontend/src/features/tasks/constants/systemMessages.ts
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
Due: wegent-web

feat: update radar example and RenderMermaidTool description
  backend/init_data/skills/mermaid-diagram/read_reference.py
  backend/init_data/skills/mermaid-diagram/render_mermaid.py
Due: wegent-backend

feat: update mermaid diagram skill with complete examples (#773)
  backend/init_data/skills/mermaid-diagram/SKILL.md
  backend/init_data/skills/mermaid-diagram/provider.py
  backend/init_data/skills/mermaid-diagram/read_reference.py
  backend/init_data/skills/mermaid-diagram/render_mermaid.py
Due: wegent-backend
