Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

feat: 修复单测
  backend/alembic/versions/9e5d981fde27_add_flow_tables_and_projects_tables.py
  backend/app/core/celery_app.py
  backend/app/core/embedded_celery.py
Due: wegent-backend

refactor: 将 subagent 技能重命名为 sandbox
  backend/init_data/01-default-resources.yaml
  backend/init_data/skills/sandbox/SKILL.md
  backend/init_data/skills/sandbox/__init__.py
  backend/init_data/skills/sandbox/_base.py
  backend/init_data/skills/sandbox/claude_tool.py
  backend/init_data/skills/sandbox/command_tool.py
  backend/init_data/skills/sandbox/list_files_tool.py
  backend/init_data/skills/sandbox/provider.py
  backend/init_data/skills/sandbox/read_file_tool.py
  backend/init_data/skills/sandbox/write_file_tool.py
  backend/init_data/skills/subagent/SKILL.md
  backend/init_data/skills/subagent/create_subagent_task.py
  docker/backend/Dockerfile
  executor_manager/common/config.py
  executor_manager/config/config.py
  executor_manager/executors/docker/executor.py
  executor_manager/routers/routers.py
  executor_manager/routers/wegent_e2b_proxy.py
  executor_manager/services/sandbox/manager.py
  executor_manager/tests/conftest.py
Due: wegent-executor-manager, wegent-backend

refactor: 更新 ChatEventType 枚举并处理新事件类型
  backend/app/schemas/openapi_response.py
  backend/app/services/chat/adapters/http.py
  backend/app/services/chat/adapters/interface.py
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/helpers.py
  backend/app/services/openapi/streaming.py
  backend/tests/api/test_openapi_responses.py
Due: wegent-backend

fix: 单吃
  backend/alembic/versions/9e5d981fde27_add_flow_tables_and_projects_tables.py
  backend/alembic/versions/q7r8s9t0u1v2_add_projects_tables.py
  backend/alembic/versions/r8s9t0u1v2w3_add_summary_to_knowledge_documents.py
  backend/alembic/versions/s9t0u1v2w3x4_merge_projects_and_summary.py
  backend/alembic/versions/t0u1v2w3x4y5_add_flows_and_flow_executions_tables.py
Due: wegent-backend

fix: fix wegent initial team
  backend/.env.example
  backend/app/core/config.py
  backend/init_data/02-public-resources.yaml
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/features/tasks/components/selector/MobileModelSelector.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
Due: wegent-backend, wegent-web

refactor: 修改沙盒工具的显示名称以支持中文
  backend/init_data/skills/sandbox/SKILL.md
  backend/init_data/skills/sandbox/claude_tool.py
  backend/init_data/skills/sandbox/command_tool.py
  backend/init_data/skills/sandbox/list_files_tool.py
  backend/init_data/skills/sandbox/read_file_tool.py
  backend/init_data/skills/sandbox/write_file_tool.py
Due: wegent-backend

feat: 修复单测
  backend/tests/api/endpoints/test_flows.py
Due: wegent-backend

fix: Implement heartbeat-based OOM detection for all task types using a new RunningTaskTracker service and Redis.
  backend/app/services/adapters/executor_kinds.py
  executor_manager/executors/docker/executor.py
  executor_manager/routers/routers.py
  executor_manager/services/sandbox/scheduler.py
  executor_manager/services/task_heartbeat_manager.py
Due: wegent-executor-manager, wegent-backend

feat: init public resources (#180)
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/yaml_init.py
  backend/init_data/02-public-resources.yaml
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/features/tasks/components/selector/MobileModelSelector.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
Due: wegent-backend, wegent-web

refactor(backend): implement six-phase document splitting pipeline for RAG
  backend/app/schemas/knowledge.py
  backend/app/schemas/rag.py
  backend/app/services/rag/splitter/__init__.py
  backend/app/services/rag/splitter/chunkers/__init__.py
  backend/app/services/rag/splitter/chunkers/structural_chunker.py
  backend/app/services/rag/splitter/chunkers/token_splitter.py
  backend/app/services/rag/splitter/cleaners/__init__.py
  backend/app/services/rag/splitter/cleaners/content_cleaner.py
  backend/app/services/rag/splitter/extractors/__init__.py
  backend/app/services/rag/splitter/extractors/base.py
  backend/app/services/rag/splitter/extractors/docx_extractor.py
  backend/app/services/rag/splitter/extractors/markdown_extractor.py
  backend/app/services/rag/splitter/extractors/pdf_extractor.py
  backend/app/services/rag/splitter/extractors/txt_extractor.py
  backend/app/services/rag/splitter/factory.py
  backend/app/services/rag/splitter/filters/__init__.py
  backend/app/services/rag/splitter/filters/noise_filter.py
  backend/app/services/rag/splitter/models/__init__.py
  backend/app/services/rag/splitter/models/ir.py
  backend/app/services/rag/splitter/recognizers/__init__.py
  backend/app/services/rag/splitter/recognizers/patterns.py
  backend/app/services/rag/splitter/recognizers/structure_recognizer.py
  backend/app/services/rag/splitter/structural_semantic.py
  backend/tests/unit/services/rag/splitter/test_structural_semantic_pipeline.py
Due: wegent-backend

fix: 等待发送按钮启用后再点击
  frontend/e2e/tests/tasks/chat-image-upload.spec.ts
Due: wegent-web

fix: 修复获取公共shell时的过滤条件
  backend/app/models/flow.py
  backend/app/services/adapters/shell_utils.py
  backend/app/services/flow.py
Due: wegent-backend

fix: 测试用例中添加执行时间字段
  backend/tests/api/endpoints/test_flows.py
Due: wegent-backend

refactor: 简化发送按钮点击逻辑
  frontend/e2e/tests/tasks/chat-image-upload.spec.ts
Due: wegent-web

fix: 修复workspace不能为null的问题 (#186)
  backend/app/models/flow.py
  backend/app/services/adapters/shell_utils.py
  backend/app/services/flow.py
  backend/tests/api/endpoints/test_flows.py
Due: wegent-backend

fix: fix intstall.sh
  install.sh
Due: none

fix: 更新SKILLmd中的API配置信息
  backend/init_data/skills/sandbox/SKILL.md
Due: wegent-backend

feat: update i18n
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/flow.json
Due: wegent-web

refactor: 移除时区转换函数并更新注释
  backend/tests/api/endpoints/test_flows.py
  frontend/src/features/flows/components/CronSchedulePicker.tsx
Due: wegent-backend, wegent-web

refactor: 移除时区转换函数并更新注释 (#187)
  backend/tests/api/endpoints/test_flows.py
  frontend/src/features/flows/components/CronSchedulePicker.tsx
Due: wegent-backend, wegent-web

refactor: rename flow to feed
  frontend/src/app/(tasks)/feed/page.tsx
  frontend/src/app/(tasks)/feed/subscriptions/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/feed/components/CronSchedulePicker.tsx
  frontend/src/features/feed/components/FlowConversationDialog.tsx
  frontend/src/features/feed/components/FlowForm.tsx
  frontend/src/features/feed/components/FlowList.tsx
  frontend/src/features/feed/components/FlowPage.tsx
  frontend/src/features/feed/components/FlowTimeline.tsx
  frontend/src/features/feed/components/index.ts
  frontend/src/features/feed/contexts/flowContext.tsx
  frontend/src/features/layout/components/DesktopNavLinks.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/feed.json
  frontend/src/i18n/setup.ts
Due: wegent-web

feat(executor-manager): add host network mode support for executor containers
  .env.example
  executor_manager/clients/task_api_client.py
  executor_manager/config/config.py
  executor_manager/executors/base.py
  executor_manager/executors/dispatcher.py
  executor_manager/executors/docker/__init__.py
  executor_manager/executors/docker/binary_extractor.py
  executor_manager/executors/docker/constants.py
  executor_manager/executors/docker/executor.py
  executor_manager/executors/docker/utils.py
  executor_manager/github/github_app.py
  executor_manager/routers/sandbox.py
  executor_manager/scheduler/scheduler.py
  executor_manager/tasks/task_processor.py
  executor_manager/tests/executors/test_base.py
  executor_manager/tests/executors/test_docker_constants.py
  executor_manager/tests/executors/test_docker_executor.py
  executor_manager/tests/executors/test_docker_utils.py
  executor_manager/utils/executor_name.py
  executor_manager/uv.lock
Due: wegent-executor-manager

refactor: rename flow to feed (#189)
  frontend/src/app/(tasks)/feed/page.tsx
  frontend/src/app/(tasks)/feed/subscriptions/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/feed/components/CronSchedulePicker.tsx
  frontend/src/features/feed/components/FlowConversationDialog.tsx
  frontend/src/features/feed/components/FlowForm.tsx
  frontend/src/features/feed/components/FlowList.tsx
  frontend/src/features/feed/components/FlowPage.tsx
  frontend/src/features/feed/components/FlowTimeline.tsx
  frontend/src/features/feed/components/index.ts
  frontend/src/features/feed/contexts/flowContext.tsx
  frontend/src/features/layout/components/DesktopNavLinks.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/feed.json
  frontend/src/i18n/setup.ts
Due: wegent-web

fix: 修复uv.lock文件发生变化
  wecode/docker/wgent_shell/Dockerfile
Due: none

fix: rollback uv.lock
  executor_manager/uv.lock
Due: wegent-executor-manager

test: fix Docker executor tests by adding proper mocking
  executor_manager/tests/executors/test_docker_executor.py
Due: wegent-executor-manager

test: improve Docker executor test mocking strategy
  executor_manager/tests/executors/test_docker_executor.py
Due: wegent-executor-manager

refactor: 使用 PersistentScheduler 替换 RedBeat 调度器
  backend/app/core/celery_app.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/features/feed/components/CronSchedulePicker.tsx
Due: wegent-backend, wegent-web

refactor: 使用 PersistentScheduler 替换 RedBeat 调度器 (#190)
  backend/app/core/celery_app.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/features/feed/components/CronSchedulePicker.tsx
Due: wegent-backend, wegent-web

fix: sandbox skill add AlmaLinux 9.4
  backend/init_data/skills/sandbox/SKILL.md
  backend/init_data/skills/sandbox/claude_tool.py
Due: wegent-backend

feat(settings): add user-level long-term memory toggle
  backend/app/schemas/user.py
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

refactor(backend): remove unused health_check method from mem0 client
  backend/app/services/memory/client.py
  backend/tests/services/memory/test_client.py
Due: wegent-backend

refactor(backend): remove unused health_check method from mem0 client (#192)
  backend/app/services/memory/client.py
  backend/tests/services/memory/test_client.py
Due: wegent-backend

fix(backend): isolate group chat memory to prevent user message confusion
  backend/app/services/memory/utils.py
  backend/tests/services/memory/test_utils.py
Due: wegent-backend

fix(settings): add user preference check for memory feature and change default to false
  backend/app/schemas/user.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/chat/trigger/core.py
  backend/app/services/memory/__init__.py
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/chat_session.py
  frontend/src/features/settings/components/NotificationSettings.tsx
Due: wegent-backend, wegent-web

fix(backend): isolate group chat memory to prevent user message confusion (#193)
  backend/app/services/memory/utils.py
  backend/tests/services/memory/test_utils.py
Due: wegent-backend

fix(memory): revert OpenAPI memory checks - only WebSocket chat should use user preference
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/chat_session.py
Due: wegent-backend

refactor: 使用稳定对象引用避免无限循环并优化依赖数组
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/team-modes/SoloModeEditor.tsx
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
