Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): scope invalid TLS handling to browser
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser_tls.rs
Due: none

docs(wework): explain browser connection warnings
  docs/en/wework/browser.md
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
Due: none

fix(wework): stabilize browser load state
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/src/embedded_browser.rs
Due: none

refactor(wework): isolate native browser capture
  wework/src-tauri/src/desktop_capture.rs
  wework/src-tauri/src/embedded_browser.rs
Due: none

fix(wework): preserve same-origin TLS warning
  wework/src-tauri/src/embedded_browser.rs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

test: align resource library e2e selectors
  frontend/e2e/pages/settings/shells.page.ts
  frontend/e2e/tests/capability-center.spec.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
  frontend/e2e/tests/settings/settings-shell.spec.ts
Due: wegent-web

fix(wework): roll back cloud automations (#2327)
  backend/alembic/versions/20260729_d9e4f5a6b7c8_add_runtime_automation_execution_fields.py
  backend/app/api/api.py
  backend/app/api/endpoints/runtime_automations.py
  backend/app/api/ws/device_namespace.py
  backend/app/models/subscription.py
  backend/app/schemas/runtime_automation.py
  backend/app/schemas/subscription.py
  backend/app/services/subscription/service.py
  backend/app/services/subscription/state_machine.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/api/endpoints/test_runtime_automations.py
  docs/en/user-guide/wework-automations.md
  docs/zh/user-guide/wework-automations.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/automations.test.ts
  wework/src/api/automations.ts
  wework/src/api/backend/backendServices.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/workbench/workbenchServices.ts
  wework/src/pages/AutomationsPage.tsx
Due: wegent-backend

fix(executor): sanitize exported bash functions
  executor/src/process/mod.rs
  executor/src/process_environment.rs
  executor/tests/process_engine_contract.rs
  executor/tests/process_environment_contract.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/process_environment.rs
Due: wegent-executor

fix(wework): sync popout conversations to main window (#2324)
  docs/en/wegent/user-guide/settings/desktop-app-preferences.md
  docs/zh/wegent/user-guide/settings/desktop-app-preferences.md
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useRuntimeTaskRouteRestoration.test.tsx
  wework/src/features/workbench/useRuntimeTaskRouteRestoration.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/tauri/runtimeWorkSync.test.ts
  wework/src/tauri/runtimeWorkSync.ts
Due: none

fix(executor): preserve blank Codex home during startup
  executor/src/agents/codex/home.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

chore(docs): remove superpowers process files
  docs/superpowers/plans/2026-07-22-wework-explicit-terminal-launch.md
  docs/superpowers/specs/2026-07-22-wework-explicit-terminal-launch-design.md
Due: none

fix(wework): allow invalid browser TLS with warning (#2321)
  docs/en/wework/browser.md
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/Info.plist
  wework/src-tauri/src/desktop_capture.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser_tls.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/embedded-browser.ts
Due: none

fix: e2e test
  backend/alembic/versions/20260729_e6f7a8b9c013_add_marketplace_resources.py
  backend/app/models/__init__.py
  backend/app/models/marketplace_resource.py
  backend/app/services/resource_library_service.py
  backend/tests/services/test_resource_library_service.py
  frontend/e2e/pages/settings/shells.page.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
  frontend/e2e/tests/settings/settings-shell.spec.ts
  pnpm-lock.yaml
Due: wegent-backend, wegent-web

fix(wework): keep cloud authorization window visible
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/cloud_authorization_window.rs
  wework/src-tauri/src/lib.rs
  wework/src/lib/cloud-authorization-window.test.ts
  wework/src/lib/cloud-authorization-window.ts
Due: none

docs(wework): document authorization window placement
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
Due: none

refactor(wework): centralize authorization window positioning
  wework/src/lib/cloud-authorization-window.test.ts
  wework/src/lib/cloud-authorization-window.ts
Due: none

fix: e2e test
  frontend/jest.config.ts
  frontend/src/__mocks__/codemirror-vim.ts
Due: wegent-web

fix(windows): hide PowerShell/console windows for spawned processes and shell detection
  executor/src/agents/codex.rs
  executor/src/hooks/command.rs
  executor/src/local/command.rs
  executor/src/process/mod.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src/lib/local-terminal.ts
Due: wegent-executor

Fix/sanitize bash function environment (#2330)
  executor/src/process/mod.rs
  executor/src/process_environment.rs
  executor/tests/process_engine_contract.rs
  executor/tests/process_environment_contract.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/process_environment.rs
Due: wegent-executor

fix: Alembic merge revision
  backend/alembic/versions/20260730_f7a8b9c0d1e2_merge_runtime_automation_and_resource_library_heads.py
Due: wegent-backend

Revert "fix(executor): preserve blank Codex home during startup"
  executor/src/agents/codex/home.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(backend): configure Wework socket URL
  wecode/docker/backend/.env.example
Due: wegent-backend

fix(wework): keep cloud authorization window visible (#2332)
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/cloud_authorization_window.rs
  wework/src-tauri/src/lib.rs
  wework/src/lib/cloud-authorization-window.test.ts
  wework/src/lib/cloud-authorization-window.ts
Due: none

fix: e2e failed
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
Due: wegent-web

fix(wework): restore main window close flow (#2326)
  wework/AGENTS.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/scripts/ai-verify.mjs
  wework/src/components/layout/WindowFrameControls.test.tsx
  wework/src/components/layout/WindowFrameControls.tsx
  wework/src/e2e/automation.ts
  wework/src/features/workbench/RuntimeTaskCloseGuard.test.tsx
  wework/src/features/workbench/RuntimeTaskCloseGuard.tsx
Due: none

fix: rollback wework format
  pnpm-lock.yaml
Due: none

fix(wework): reconcile main merge regressions
  wework/src/App.tsx
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/pages/SitesPage.tsx
  wework/src/tauri/localExecutor.ts
Due: none

test(wework): stabilize desktop e2e lifecycle assertions
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): make guidance splitting idempotent
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeGuidanceMessages.ts
Due: none

fix(wework): keep background guidance in turn order
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeGuidanceMessages.ts
Due: none

test(wework): report zero tokens for empty Anthropic fixtures
  executor/src/server/local_model_proxy/anthropic.rs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-executor

fix(executor): retry empty Anthropic responses
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  executor/src/server/local_model_proxy/anthropic.rs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-executor

fix(wework): keep background guidance in turn order (#2331)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeGuidanceMessages.ts
Due: none

fix(executor): raise macOS open file limit
  executor/src/bin/wegent-executor.rs
Due: wegent-executor

chore(ci): run executor tests on larger runner
  .github/workflows/test.yml
Due: none

fix(executor): report macOS sysctl failures
  executor/src/bin/wegent-executor.rs
Due: wegent-executor

fix(wework): replace powershell sleep inhibitor with SetThreadExecutionState API
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/src/system_sleep.rs
Due: none

fix(executor): restore Claude stdout debug logging (#2323)
  executor/src/process/mod.rs
Due: wegent-executor

fix(executor): retry empty Anthropic responses (#2335)
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  executor/src/server/local_model_proxy/anthropic.rs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-executor
