Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(backend): add SCHEDULED_TASKS_ENABLED master switch for periodic tasks
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/main.py
Due: wegent-backend

fix(wework): refine conversation typography (#3236)
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
Due: none

fix(wework): address plugin development review
  docs/en/wework/developer-guide/wework-core-dsh-plugin-development.md
  docs/zh/wework/developer-guide/wework-core-dsh-plugin-development.md
  wework/dsh/plugin-developer/client.js
  wework/electron/src/runtime/core-dsh-plugin-manager.test.ts
  wework/electron/src/runtime/core-dsh-plugin-manager.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): run git and CLI status device commands natively on Windows (#3219)
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/local/app_ipc.rs
  executor/src/local/git_commands.rs
  executor/src/local/git_commit_message.rs
  executor/src/local/mod.rs
  executor/src/local/native_git.rs
  executor/src/local/turn_file_changes_commands.rs
  executor/src/process_environment.rs
  executor/src/services/turn_file_changes.rs
  executor/tests/local_app_ipc_contract.rs
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
Due: wegent-executor, wegent-backend

feat(board): paginate Git issues by status column (#3234)
  backend/app/api/endpoints/deliveries.py
  backend/app/main.py
  backend/app/schemas/delivery.py
  backend/app/services/loop_items/external_provider.py
  backend/tests/api/test_cloud_projects_api.py
  backend/tests/services/test_external_loop_item_execution.py
  wework/src/api/deliveries.test.ts
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFilePreview.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(backend): add scheduled task master switch
  backend/.env.example
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/core/test_celery_robot_queue_schedule.py
  backend/tests/core/test_config.py
Due: wegent-backend

fix(wework): prevent hover card layout update loop
  wework/src/components/ui/hover-card.test.tsx
  wework/src/components/ui/hover-card.tsx
Due: none

fix(wework): stabilize turn navigation during streaming
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(wework): reuse default project space tab
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
  wework/src/features/todo/projectSpaceRoute.test.ts
  wework/src/features/todo/projectSpaceRoute.ts
  wework/src/features/workspace-tabs/workspaceTabs.ts
Due: none

chore(ci): make wegent-device job manual
  .gitlab-ci.yml
Due: none

fix(wework): stabilize turn navigation during streaming (#3239)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(backend): authenticate cloud runtime board tools
  backend/app/api/endpoints/cloud_projects.py
  backend/app/api/endpoints/deliveries.py
  backend/app/api/endpoints/project_automations.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/test_cloud_board_api.py
  backend/tests/api/test_cloud_projects_api.py
  backend/tests/services/test_runtime_work_service.py
Due: wegent-backend

feat(models): support hiding public models
  backend/app/api/endpoints/admin/public_models.py
  backend/app/schemas/admin.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  backend/tests/api/test_admin_public_models.py
  backend/tests/services/adapters/test_public_model_visibility.py
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
  frontend/e2e/tests/api/admin-public-models-api.spec.ts
  frontend/src/__tests__/apis/publicResources.test.ts
  frontend/src/__tests__/features/admin/PublicModelList.visibility.test.ts
  frontend/src/__tests__/features/settings/components/BotEdit.default-knowledge-bases.test.tsx
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/apis/admin.ts
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/model-select-utils.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

fix(wework): prevent hover card layout update loop (#3240)
  wework/src/components/ui/hover-card.test.tsx
  wework/src/components/ui/hover-card.tsx
Due: none

test(wework): align board tab reuse assertions
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

fix(wework): show friendly model names in automations
  wework/src/features/todo/ProjectAutomationView.test.tsx
  wework/src/features/todo/ProjectAutomationView.tsx
Due: none

feat(backend): add scheduled task master switch (#3238)
  backend/.env.example
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/core/test_celery_robot_queue_schedule.py
  backend/tests/core/test_config.py
Due: wegent-backend

fix(wework): preserve embedded browser during task creation (#3223)
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/electron/src/host/embedded-browser-manager.test.ts
  wework/electron/src/host/embedded-browser-manager.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/ElectronEmbeddedBrowserView.test.tsx
  wework/src/components/layout/workspace-panels/ElectronEmbeddedBrowserView.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/electronEmbeddedBrowserHost.ts
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/e2e/automation.ts
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
Due: none

feat(smart-apps): complete marketplace management workflow
  backend/alembic/versions/20260903_e4a7b9c2d1f0_add_smart_app_listing_status.py
  backend/app/api/endpoints/admin/marketplace.py
  backend/app/models/smart_app_marketplace.py
  backend/app/schemas/admin_marketplace.py
  backend/app/schemas/smart_app.py
  backend/app/services/official_smart_app_publisher.py
  backend/app/services/smart_app_marketplace_service.py
  backend/tests/api/endpoints/test_admin_marketplace.py
  backend/tests/services/test_official_smart_app_publisher.py
  backend/tests/services/test_smart_app_marketplace.py
  frontend/src/__tests__/features/admin/MarketplaceManagement.test.tsx
  frontend/src/__tests__/features/admin/PluginPublicationReviewQueue.test.tsx
  frontend/src/__tests__/features/admin/WeworkMarketplaceManagement.test.tsx
  frontend/src/__tests__/features/admin/plugin-publication-i18n.test.ts
  frontend/src/apis/admin.ts
  frontend/src/apis/client.ts
  frontend/src/app/admin/page.tsx
  frontend/src/features/admin/components/AdminTabNav.tsx
  frontend/src/features/admin/components/MarketplaceManagement.tsx
  frontend/src/features/admin/components/PluginPublicationReviewQueue.tsx
  frontend/src/features/admin/components/WeworkMarketplaceManagement.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src/api/smartApps.ts
  wework/src/features/harness-apps/HarnessAppInstallDialog.test.tsx
  wework/src/features/harness-apps/HarnessAppInstallDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(wework): initialize plugin development workspace
  wework/dsh/ui-plugin-center/src/PluginManagementPage.tsx
  wework/e2e/desktop/scenarios/plugin-development.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/features/workbench/workspaceLaunchRequest.test.ts
  wework/src/features/workbench/workspaceLaunchRequest.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(models): address visibility review feedback
  backend/app/schemas/admin.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  backend/tests/api/test_admin_public_models.py
  backend/tests/services/adapters/test_public_model_visibility.py
  frontend/src/__tests__/features/admin/PublicModelList.visibility.test.ts
  frontend/src/__tests__/features/settings/components/BotEdit.default-knowledge-bases.test.tsx
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/settings/components/BotEdit.tsx
Due: wegent-backend, wegent-web

fix(wework): show friendly model names in automations (#3244)
  wework/src/features/todo/ProjectAutomationView.test.tsx
  wework/src/features/todo/ProjectAutomationView.tsx
Due: none

fix(wework): reuse default project space tab (#3241)
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
  wework/src/features/todo/projectSpaceRoute.test.ts
  wework/src/features/todo/projectSpaceRoute.ts
  wework/src/features/workspace-tabs/workspaceTabs.ts
Due: none

fix(wework): harden plugin development lifecycle
  wework/electron/src/main.ts
  wework/electron/src/runtime/plugin-development-child-runtime.test.ts
  wework/electron/src/runtime/plugin-development-child-runtime.ts
  wework/electron/src/runtime/plugin-development-manager.test.ts
  wework/electron/src/runtime/plugin-development-manager.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(models): support hiding public models (#3242)
  backend/app/api/endpoints/admin/public_models.py
  backend/app/schemas/admin.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  backend/tests/api/test_admin_public_models.py
  backend/tests/services/adapters/test_public_model_visibility.py
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
  frontend/e2e/tests/api/admin-public-models-api.spec.ts
  frontend/src/__tests__/apis/publicResources.test.ts
  frontend/src/__tests__/features/admin/PublicModelList.visibility.test.ts
  frontend/src/__tests__/features/settings/components/BotEdit.default-knowledge-bases.test.tsx
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/apis/admin.ts
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/model-select-utils.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

fix(wework): preserve board task model selection
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useRuntimeTaskModelSelection.ts
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
Due: none

fix(wework): return settings back to the active workspace tab (#3157)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

chore(wecode): add Wework plugin publication env
  wecode/docker/backend/.env.example
Due: wegent-backend

feat: 增加wework插件发布所需要的配置
  wecode/docker/backend/.env.example
Due: wegent-backend

feat(sites): add environment and collaborator management
  backend/app/api/endpoints/sites.py
  backend/app/main.py
  backend/app/schemas/site.py
  backend/app/services/site_application_types.py
  backend/app/services/sites.py
  backend/tests/api/test_sites_api.py
  backend/tests/test_request_logging.py
  shared/telemetry/instrumentation.py
  wework/dsh/ui-applications/src/SitesPage.tsx
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/src/App.plugins.test.tsx
  wework/src/api/http.ts
  wework/src/api/sites.test.ts
  wework/src/api/sites.ts
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/assistantMarkdownLinks.test.ts
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/components/sites/ApplicationRows.tsx
  wework/src/components/sites/EnvironmentVariablesDialog.tsx
  wework/src/components/sites/SiteActionsMenu.tsx
  wework/src/components/sites/SiteCollaboratorsDialog.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
  wework/src/components/sites/applicationTypeDefinitions.tsx
  wework/src/components/sites/environmentVariableDraft.test.ts
  wework/src/components/sites/environmentVariableDraft.ts
  wework/src/i18n/locales/en/sites.json
  wework/src/i18n/locales/zh-CN/sites.json
Due: wegent-executor-manager, wegent-executor, wegent-backend

docs(sites): document environment and collaborators
  docs/en/wework/developer-guide/wework-applications-mcp-elicitation-e2e.md
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/developer-guide/wework-applications-mcp-elicitation-e2e.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/plugins-and-skills.md
Due: none

fix(chat): source-aware model override with continuation fallback
  backend/app/api/ws/chat_namespace.py
  backend/app/services/channels/handler.py
  backend/app/services/chat/model_override.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/chat/trigger/lifecycle.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/shared_task.py
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/channels/telegram_channel/test_handler.py
  backend/tests/services/chat/test_model_override.py
Due: wegent-backend

fix(executor): support Windows PowerShell for local auth
  executor/src/runtime_work/local_connector_auth.rs
Due: wegent-executor

test(sites): align default environment capability
  wework/src/components/sites/applicationTypeDefinitions.test.tsx
Due: none

fix(executor): canonicalize PowerShell executable path
  executor/src/runtime_work/local_connector_auth.rs
Due: wegent-executor

test(frontend): wait for chat input readiness
  frontend/e2e/pages/tasks/provider-native-knowledge.page.ts
Due: wegent-web

test(executor): exercise Windows PowerShell local auth
  executor/src/runtime_work/local_connector_auth.rs
Due: wegent-executor

feat(device): add interactive session capability switches
  backend/app/schemas/device.py
  backend/app/services/device/session_service.py
  backend/tests/api/ws/test_device_runtime_features_flow.py
  backend/tests/schemas/test_device_runtime_features.py
  backend/tests/services/test_project_device_session_service.py
  docker/device/Dockerfile
  docs/en/wegent/user-guide/ai-devices/local-device-support.md
  docs/zh/wegent/user-guide/ai-devices/local-device-support.md
  executor/src/local/backend/session_events.rs
  executor/src/local/session.rs
  executor/src/runtime_work/mod.rs
  executor/tests/build_entrypoint_contract.rs
  executor/tests/local_backend_contract.rs
  executor/tests/local_session_handler_contract.rs
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceAddMenu.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/layout/workspace-panels/workspace-panel-tools.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/DeviceActionButton.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.test.ts
  wework/src/lib/device-capabilities.ts
  wework/src/types/api.ts
  wework/src/types/devices.ts
Due: wegent-executor, wegent-backend

docs(chat): document IM channel model selection and fallback
  docs/en/wegent/user-guide/integrations/im-channel-integration.md
  docs/zh/wegent/user-guide/integrations/im-channel-integration.md
Due: none
