Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

docs: ai verified update
  docs/en/wegent/developer-guide/setup.md
  docs/en/wegent/getting-started/installation.md
  docs/zh/wegent/developer-guide/setup.md
  docs/zh/wegent/getting-started/installation.md
  wecode/docker/backend/.env.example
Due: wegent-backend

feat(knowledge): 按贡献权限控制共享成果写入
  backend/app/services/knowledge/artifact_service.py
  backend/tests/services/knowledge/test_artifact_service.py
  frontend/src/__tests__/features/knowledge/artifact/artifact-panel.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-viewer.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactPanel.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactViewer.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(executor): support namespaced tools for chat APIs (#2230)
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  executor/src/server/local_model_proxy/anthropic.rs
  executor/src/server/local_model_proxy/chat.rs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-executor

fix(wework): align Windows dev launcher with mac script and fix backend proxy
  wework/scripts/dev-windows-app.mjs
Due: none

fix(wework): make workspace tool launches explicit (#2184)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
Due: none

fix(kb-stat): improve metric correctness and collection pipeline
  backend/app/api/endpoints/admin/knowledge_stats.py
  backend/app/services/kb_stat/gateway.py
  docs/plans/kb-stat-design.md
  docs/plans/kb-stat-schema.sql
  docs/plans/sql/kb-stat-019-fact-pipeline-down.sql
  docs/plans/sql/kb-stat-019-fact-pipeline-up.sql
  frontend/src/features/knowledge-stat/api.ts
  frontend/src/features/knowledge/document/components/KbStatView.tsx
  frontend/src/i18n/locales/en/knowledge-stat.json
  frontend/src/i18n/locales/zh-CN/knowledge-stat.json
  knowledge_engine/knowledge_engine/stat/collectors/content_quality.py
  knowledge_engine/knowledge_engine/stat/collectors/dashboard.py
  knowledge_engine/knowledge_engine/stat/collectors/deep_analysis.py
  knowledge_engine/knowledge_engine/stat/collectors/doc_management.py
  knowledge_engine/knowledge_engine/stat/collectors/lifecycle.py
  knowledge_engine/knowledge_engine/stat/collectors/retrieval.py
  knowledge_engine/knowledge_engine/stat/collectors/user_behavior.py
  knowledge_engine/knowledge_engine/stat/extractors/__init__.py
  knowledge_engine/knowledge_engine/stat/extractors/query_event.py
  knowledge_engine/knowledge_engine/stat/filters.py
  knowledge_engine/knowledge_engine/stat/models/__init__.py
  knowledge_engine/knowledge_engine/stat/models/metrics/dashboard.py
  knowledge_engine/knowledge_engine/stat/models/pipeline.py
  knowledge_engine/knowledge_engine/stat/models/runs.py
  knowledge_engine/knowledge_engine/stat/query.py
  knowledge_engine/knowledge_engine/stat/registry.py
  knowledge_engine/knowledge_engine/stat/runner.py
  knowledge_engine/tests/stat/test_stat_correctness.py
  knowledge_runtime/.env.example
  knowledge_runtime/knowledge_runtime/api/endpoints/kb_stat.py
  knowledge_runtime/knowledge_runtime/config.py
  knowledge_runtime/knowledge_runtime/main.py
  knowledge_runtime/knowledge_runtime/tasks/stat_tasks.py
  knowledge_runtime/uv.lock
  scripts/kb_stat_seed_kb.py
  scripts/kb_stat_test_data.py
  scripts/kb_stat_verify.py
  shared/models/kb_stat.py
  tmp/kb-statistics-audit-2026-07-27.md
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

ci: optimize path-aware test pipeline
  .github/scripts/classify-ci-changes.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/repository-policy.yml
  .github/workflows/test-windows-executor.yml
  .github/workflows/test.yml
  .github/workflows/wework-e2e.yml
Due: none

docs: document path-aware CI behavior
  docs/en/wegent/developer-guide/testing.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wegent/developer-guide/testing.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

fix(kb-stat): harden dashboard alerts and task execution
  backend/app/api/endpoints/admin/knowledge_stats.py
  backend/app/services/kb_stat/gateway.py
  docs/plans/kb-stat-design.md
  frontend/src/features/knowledge-stat/api.ts
  frontend/src/features/knowledge-stat/components/MetricCard.tsx
  frontend/src/features/knowledge-stat/components/admin/CollectorRunDetail.tsx
  frontend/src/features/knowledge-stat/components/admin/KnowledgeStatsAdminPanel.tsx
  frontend/src/features/knowledge-stat/components/admin/QualityAlertPanel.tsx
  frontend/src/features/knowledge-stat/components/admin/TriggerRunForm.tsx
  frontend/src/features/knowledge-stat/metric-groups.ts
  frontend/src/features/knowledge/document/components/KbStatView.tsx
  frontend/src/i18n/locales/en/knowledge-stat.json
  frontend/src/i18n/locales/zh-CN/knowledge-stat.json
  knowledge_engine/knowledge_engine/stat/query.py
  knowledge_engine/knowledge_engine/stat/runner.py
  knowledge_engine/tests/stat/test_stat_correctness.py
  knowledge_runtime/knowledge_runtime/api/endpoints/kb_stat.py
  knowledge_runtime/knowledge_runtime/tasks/stat_tasks.py
  shared/models/kb_stat.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(ci): run e2e when drafts become ready
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/e2e-tests.yml
  .github/workflows/wework-e2e.yml
Due: none

test(executor): remove deleted workflow fixture
  executor/tests/build_entrypoint_contract.rs
Due: wegent-executor

fix(backend): remote workspace file auth
  backend/app/core/security.py
  backend/tests/core/test_security.py
Due: wegent-backend

refactor(kb-stat): simplify quality metrics and harden collection
  backend/app/api/endpoints/admin/knowledge_stats.py
  backend/app/services/kb_stat/gateway.py
  docs/plans/kb-stat-design.md
  docs/plans/kb-stat-schema.sql
  docs/plans/sql/kb-stat-020-quality-metric-cleanup-down.sql
  docs/plans/sql/kb-stat-020-quality-metric-cleanup-up.sql
  frontend/src/__tests__/features/knowledge-stat/date-utils.test.ts
  frontend/src/features/knowledge-stat/action-hints.ts
  frontend/src/features/knowledge-stat/api.ts
  frontend/src/features/knowledge-stat/components/admin/KnowledgeStatsAdminPanel.tsx
  frontend/src/features/knowledge-stat/components/admin/QualityAlertPanel.tsx
  frontend/src/features/knowledge-stat/components/admin/TriggerRunForm.tsx
  frontend/src/features/knowledge-stat/components/charts/HealthScoreTable.tsx
  frontend/src/features/knowledge-stat/components/charts/HealthScoreTrendTable.tsx
  frontend/src/features/knowledge-stat/date-utils.ts
  frontend/src/features/knowledge-stat/hooks/useStatFilter.ts
  frontend/src/features/knowledge-stat/metric-groups.ts
  frontend/src/features/knowledge-stat/thresholds.ts
  frontend/src/i18n/locales/en/knowledge-stat.json
  frontend/src/i18n/locales/zh-CN/knowledge-stat.json
  knowledge_engine/knowledge_engine/stat/__init__.py
  knowledge_engine/knowledge_engine/stat/collectors/__init__.py
  knowledge_engine/knowledge_engine/stat/collectors/content_quality.py
  knowledge_engine/knowledge_engine/stat/collectors/deep_analysis.py
  knowledge_engine/knowledge_engine/stat/metric_spec.py
  knowledge_engine/knowledge_engine/stat/models/metrics/__init__.py
  knowledge_engine/knowledge_engine/stat/models/metrics/content_quality.py
  knowledge_engine/knowledge_engine/stat/models/metrics/deep_analysis.py
  knowledge_engine/knowledge_engine/stat/query.py
  knowledge_engine/knowledge_engine/stat/registry.py
  knowledge_engine/knowledge_engine/stat/runner.py
  knowledge_engine/tests/stat/test_stat_correctness.py
  knowledge_runtime/knowledge_runtime/api/endpoints/kb_stat.py
  knowledge_runtime/knowledge_runtime/tasks/stat_tasks.py
  scripts/kb_stat_test_data.py
  shared/models/kb_stat.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(ci): trigger memory e2e from PR label
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

refactor(chat_shell): tighten compaction summary prompt to drop preamble
  chat_shell/chat_shell/compression/summary_compactor.py
Due: none

feat(knowledge): 统一 AI 工坊来源浏览与选择
  frontend/src/__tests__/features/knowledge/artifact/artifact-panel.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-source-selector.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactPanel.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceDialog.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceSelector.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): 修复 AI 工坊来源浏览边界
  frontend/src/__tests__/features/knowledge/artifact/artifact-source-selector.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-panel.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceSelector.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDetailPanel.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

test(wework): align cloud gateway header expectation
  wework/src/api/local/localServices.test.ts
Due: none

feat(knowledge): 完善知识来源浏览与分页
  frontend/src/__tests__/features/knowledge/artifact/artifact-panel.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-source-selector.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-panel.test.tsx
  frontend/src/__tests__/features/knowledge/document/use-documents-query.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactPanel.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceDialog.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceSelector.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): 统一 AI 工坊生成内容文案
  frontend/src/features/knowledge/artifact/components/ArtifactPanel.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(executor): apply proxy to custom Codex providers
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

ci: optimize path-aware test pipeline (#2231)
  .github/scripts/classify-ci-changes.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/repository-policy.yml
  .github/workflows/test-windows-executor.yml
  .github/workflows/test.yml
  .github/workflows/wework-e2e.yml
  docs/en/wegent/developer-guide/testing.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wegent/developer-guide/testing.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  executor/tests/build_entrypoint_contract.rs
Due: wegent-executor

feat(wework): support conversation mentions
  wework/e2e/desktop/scenarios/conversation-mention.scenario.mjs
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerMentionMenu.tsx
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/composerMentionCandidates.ts
  wework/src/components/chat/composer/composerMentions.ts
  wework/src/components/chat/composer/composerTextareaTypes.ts
  wework/src/components/chat/composer/useComposerMentionCandidates.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/useWorkbenchProjectWorkControls.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/conversation-mentions.test.ts
  wework/src/lib/conversation-mentions.ts
Due: none

docs(wework): document conversation mentions
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
Due: none

test(knowledge): 对齐成果删除权限测试
  backend/tests/services/knowledge/test_artifact_delete_permissions.py
Due: wegent-backend

Fix/chat shell compaction phase1 (#2169)
  backend/app/api/endpoints/internal/chat_storage.py
  backend/app/services/chat/compaction_checkpoint.py
  backend/app/services/correction_service.py
  backend/tests/api/test_internal_chat_storage_fork_history.py
  backend/tests/services/chat/test_compaction_checkpoint.py
  chat_shell/.env.example
  chat_shell/chat_shell/agent.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/agents/turn_context.py
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/compression/tool_sanitizer.py
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/guard/composition.py
  chat_shell/chat_shell/guard/context_guard.py
  chat_shell/chat_shell/history/loader.py
  chat_shell/chat_shell/models/factory.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/storage/remote.py
  chat_shell/tests/services/test_guidance.py
  chat_shell/tests/test_context_guard.py
  chat_shell/tests/test_graph_builder_persistence.py
  chat_shell/tests/test_guard_composition.py
  chat_shell/tests/test_history_loader.py
  chat_shell/tests/test_new_messages_from_state.py
  chat_shell/tests/test_serialize_messages_chain.py
  chat_shell/tests/test_summary_compactor.py
  chat_shell/tests/test_tool_sanitizer.py
  chat_shell/tests/test_turn_context.py
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: wegent-backend

feat(wework): support conversation mentions (#2234)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/scenarios/conversation-mention.scenario.mjs
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerMentionMenu.tsx
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/composerMentionCandidates.ts
  wework/src/components/chat/composer/composerMentions.ts
  wework/src/components/chat/composer/composerTextareaTypes.ts
  wework/src/components/chat/composer/useComposerMentionCandidates.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/useWorkbenchProjectWorkControls.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/conversation-mentions.test.ts
  wework/src/lib/conversation-mentions.ts
Due: none

fix(executor): apply proxy to custom Codex providers (#2232)
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

feat(knowledge): 优化知识来源选择与分页
  frontend/src/__tests__/features/knowledge/artifact/artifact-source-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-source-selector.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-panel.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceSelector.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): 完善 AI 工坊可靠性与交互
  backend/app/api/endpoints/knowledge_artifacts.py
  backend/app/api/endpoints/openapi_responses.py
  backend/app/models/knowledge_artifact.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/knowledge/artifact_repository.py
  backend/app/services/knowledge/artifact_service.py
  backend/app/services/knowledge/artifact_task_launcher.py
  backend/tests/services/chat/test_selected_document_context_scope.py
  backend/tests/services/knowledge/test_artifact_service.py
  backend/tests/services/knowledge/test_artifact_task_launcher.py
  docs/discussions/260726_1115_Wegent知识库成果工作台MVP产品设计.md
  frontend/src/__tests__/features/knowledge/artifact/artifact-save-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-panel.test.tsx
  frontend/src/__tests__/features/tasks/components/message/MessageBubble.test.tsx
  frontend/src/__tests__/features/tasks/components/message/SaveToKnowledgeDialog.component.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactPanel.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSaveDialog.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDetailPanel.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

chore(git): 停止跟踪本地讨论文档
  docs/discussions/260726_1032_保存到知识库产品设计.md
  docs/discussions/260726_1104_保存到知识库MVP轻量技术设计.md
  docs/discussions/260726_1115_Wegent知识库成果工作台MVP产品设计.md
Due: none

test(chat): 对齐上下文处理参数测试
  backend/tests/services/chat/test_trigger_unified.py
Due: wegent-backend

fix(knowledge): 完善文档保存权限与测试
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_orchestrator.py
  frontend/src/__tests__/features/tasks/components/message/SaveToKnowledgeDialog.component.test.tsx
  frontend/src/__tests__/features/tasks/components/message/SaveToKnowledgeDialog.test.ts
  frontend/src/__tests__/features/tasks/components/message/knowledgeFixtures.ts
  frontend/src/features/tasks/components/message/SaveToKnowledgeDialog.tsx
Due: wegent-backend, wegent-web

chore(docs): 将讨论文档改为本地文件
  .gitignore
  docs/discussions/260726_1032_保存到知识库产品设计.md
  docs/discussions/260726_1104_保存到知识库MVP轻量技术设计.md
Due: none

fix(knowledge): 同步保存操作登录状态
  backend/tests/services/knowledge/test_orchestrator.py
  frontend/src/__tests__/features/tasks/components/message/MessageBubble.test.tsx
  frontend/src/__tests__/features/tasks/components/message/MessagesArea.memo.test.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
Due: wegent-backend, wegent-web

fix(wework): resolve cloud socket URL priority
  backend/.env.example
  backend/app/api/endpoints/wework_auth.py
  backend/app/core/config.py
  backend/app/schemas/user.py
  backend/tests/api/test_wework_auth_api.py
  docker-compose.yml
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  start.sh
  wework/src/config/runtime.ts
  wework/src/features/cloud-connection/CloudConnectionProvider.test.tsx
  wework/src/features/cloud-connection/CloudConnectionProvider.tsx
Due: wegent-backend

fix(wework): resolve cloud socket URL priority (#2236)
  backend/.env.example
  backend/app/api/endpoints/wework_auth.py
  backend/app/core/config.py
  backend/app/schemas/user.py
  backend/tests/api/test_wework_auth_api.py
  docker-compose.yml
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  start.sh
  wework/src/config/runtime.ts
  wework/src/features/cloud-connection/CloudConnectionProvider.test.tsx
  wework/src/features/cloud-connection/CloudConnectionProvider.tsx
Due: wegent-backend

fix(knowledge): 修复 AI 工坊审查问题
  .gitignore
  backend/app/api/endpoints/knowledge_artifacts.py
  backend/app/core/constants.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/knowledge/artifact_repository.py
  backend/app/services/knowledge/artifact_service.py
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/api/endpoints/test_knowledge_artifacts.py
  backend/tests/schemas/test_task_model_override.py
  backend/tests/services/chat/test_selected_document_context_scope.py
  backend/tests/services/knowledge/test_artifact_repository.py
  backend/tests/services/knowledge/test_artifact_service.py
  frontend/src/__tests__/features/knowledge/artifact/artifact-card.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-create-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-panel.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-save-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-source-selector.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/artifact-viewer.test.tsx
  frontend/src/__tests__/features/knowledge/artifact/interactive-mind-map.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-panel.test.tsx
  frontend/src/__tests__/features/tasks/components/message/MessageBubble.test.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactCard.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactPanel.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSaveDialog.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactSourceSelector.tsx
  frontend/src/features/knowledge/artifact/components/ArtifactViewer.tsx
  frontend/src/features/knowledge/artifact/components/InteractiveMindMap.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/hooks/useSaveKnowledgeDocument.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/SaveToKnowledgeDialog.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

fix(knowledge): 同步保存操作登录状态
  .gitignore
Due: none

feat(ci): add ci:all PR label to force all module tests
  .github/scripts/classify-ci-changes.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/test.yml
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
