Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(sandbox): 文件读取和命令输出新增大小限制 (#299)
  backend/init_data/skills/sandbox/command_tool.py
  backend/init_data/skills/sandbox/read_file_tool.py
Due: wegent-backend

feat(knowledge): implement knowledge base sharing and permission management
  backend/alembic/versions/w3x4y5z6a7b8_add_permissions_table.py
  backend/app/api/api.py
  backend/app/api/endpoints/knowledge.py
  backend/app/models/__init__.py
  backend/app/models/permission.py
  backend/app/schemas/knowledge.py
  backend/app/schemas/knowledge_notification.py
  backend/app/services/knowledge/notification_service.py
  backend/app/services/knowledge/permission_service.py
  backend/tests/services/knowledge/__init__.py
  backend/tests/services/knowledge/test_permission_service.py
  frontend/src/apis/knowledge.ts
  frontend/src/app/(tasks)/knowledge/share/[id]/page.tsx
  frontend/src/features/knowledge/document/components/PermissionManagementDialog.tsx
  frontend/src/features/knowledge/document/components/ShareKnowledgeBaseButton.tsx
  frontend/src/features/knowledge/document/components/index.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

fix(backend): move permission schema imports to module level
  backend/app/api/endpoints/knowledge.py
Due: wegent-backend

feat: update pet annomation
  backend/app/schemas/pet.py
  backend/app/services/pet/manager.py
  frontend/src/app/globals.css
  frontend/src/features/pet/components/ThinkingBubble.tsx
Due: wegent-backend, wegent-web

feat: add pet nurturing feature for user engagement (#295)
  backend/app/api/api.py
  backend/app/api/endpoints/pet.py
  backend/app/api/ws/events.py
  backend/app/core/events.py
  backend/app/main.py
  backend/app/schemas/pet.py
  backend/app/services/chat/trigger/core.py
  backend/app/services/memory/manager.py
  backend/app/services/pet/__init__.py
  backend/app/services/pet/event_handlers.py
  backend/app/services/pet/manager.py
  backend/app/services/pet/ws_emitter.py
  frontend/src/apis/pet.ts
  frontend/src/app/(tasks)/layout.tsx
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/app/globals.css
  frontend/src/features/pet/components/EvolutionAnimation.tsx
  frontend/src/features/pet/components/ExpGainAnimation.tsx
  frontend/src/features/pet/components/PetAvatar.tsx
  frontend/src/features/pet/components/PetNotificationPanel.tsx
  frontend/src/features/pet/components/PetSettings.tsx
  frontend/src/features/pet/components/PetStatusBar.tsx
  frontend/src/features/pet/components/PetStreamingBridge.tsx
  frontend/src/features/pet/components/PetWidget.tsx
  frontend/src/features/pet/components/ThinkingBubble.tsx
  frontend/src/features/pet/components/index.ts
  frontend/src/features/pet/contexts/PetContext.tsx
  frontend/src/features/pet/index.ts
  frontend/src/features/pet/types/pet.ts
  frontend/src/features/pet/utils/svgGenerator.ts
  frontend/src/features/settings/components/SettingsTabNav.tsx
  frontend/src/i18n/locales/en/pet.json
  frontend/src/i18n/locales/zh-CN/pet.json
  frontend/src/i18n/setup.ts
Due: wegent-backend, wegent-web

feat(backend): add rag query logs
  backend/app/api/endpoints/internal/rag.py
  backend/app/services/rag/retrieval_service.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
Due: wegent-backend

fix(frontend): use router.back() for code knowledge base navigation
  frontend/src/app/(tasks)/knowledge/[projectId]/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
Due: wegent-web

feat: support scaned pdf
  backend/app/services/attachment/parser.py
  backend/pyproject.toml
  backend/uv.lock
  docker/base/Dockerfile
Due: wegent-backend

feat: support scaned pdf (#302)
  backend/app/services/attachment/parser.py
  backend/pyproject.toml
  backend/uv.lock
  docker/base/Dockerfile
Due: wegent-backend

refactor: 使用环境变量配置沙箱容器就绪等待参数
  executor_manager/services/sandbox/manager.py
Due: wegent-executor-manager

refactor: 重命名容器就绪配置变量名为沙盒就绪
  executor_manager/services/sandbox/manager.py
Due: wegent-executor-manager

feat: update dockerfile
  wecode/docker/backend/Dockerfile
Due: wegent-backend

fix(sandbox): make container ready wait configurable via env vars
  executor_manager/services/sandbox/manager.py
Due: wegent-executor-manager

feat: hide pet on mobile device
  frontend/src/features/pet/components/PetWidget.tsx
Due: wegent-web

feat: Introduce Skeleton component and enhance UnifiedRepositorySelector with animated drill-down views and skeleton loading.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/skeleton.tsx
  frontend/src/features/tasks/components/selector/BranchListView.tsx
  frontend/src/features/tasks/components/selector/RepoListView.tsx
  frontend/src/features/tasks/components/selector/UnifiedRepositorySelector.tsx
Due: wegent-web

fix: 修复前端编辑订阅时无法正确设置及回填仓库/分支的问题
  backend/app/services/subscription/follow_service.py
  backend/app/services/subscription/helpers.py
  backend/app/services/subscription/service.py
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/features/tasks/components/selector/BranchSelector.tsx
  frontend/src/types/subscription.ts
Due: wegent-backend, wegent-web

feat(knowledge): add company knowledge base tab with admin management
  backend/app/api/endpoints/knowledge.py
  backend/app/core/yaml_init.py
  backend/app/services/knowledge/permission_service.py
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseChatPageDesktop.tsx
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseChatPageMobile.tsx
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseClassicPageDesktop.tsx
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseClassicPageMobile.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPage.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(shared-task): enable attachment preview and download for shared tasks
  backend/app/api/endpoints/adapter/attachments.py
  backend/app/core/security.py
  frontend/src/apis/attachments.ts
  frontend/src/app/shared/task/page.tsx
  frontend/src/features/tasks/components/input/AttachmentPreview.tsx
  frontend/src/features/tasks/components/message/ContextBadgeList.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
Due: wegent-backend, wegent-web

fix: 修复订阅页面选择claude的问题
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
  frontend/src/utils/modelCompatibility.ts
Due: wegent-web

fix: 订阅器页面模型选择无法滑动的问题
  frontend/src/features/feed/components/SubscriptionForm.tsx
Due: wegent-web

feat: 订阅器编辑页面的变量支持可点击
  frontend/src/features/feed/components/SubscriptionForm.tsx
Due: wegent-web

fix: 修复前端打包
  frontend/src/features/tasks/components/selector/BranchSelector.tsx
Due: wegent-web

feat(knowledge): add permission request and approval workflow
  backend/alembic/versions/x4y5z6a7b8c9_add_permission_requests_table.py
  backend/app/api/api.py
  backend/app/api/endpoints/knowledge.py
  backend/app/core/yaml_init.py
  backend/app/models/permission_request.py
  backend/app/schemas/knowledge.py
  backend/app/schemas/knowledge_notification.py
  backend/app/schemas/permission_request.py
  backend/app/services/knowledge/__init__.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/notification_service.py
  backend/app/services/knowledge/permission_request_service.py
  backend/app/services/knowledge/permission_service.py
  frontend/package.json
  frontend/src/apis/knowledge.ts
  frontend/src/app/(tasks)/knowledge/share/[id]/page.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPage.tsx
  frontend/src/features/knowledge/document/components/PermissionRequestApprovalDialog.tsx
  frontend/src/features/knowledge/document/components/PermissionRequestDialog.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/features/knowledge/document/components/index.ts
  frontend/src/features/knowledge/document/hooks/useEmbeddingModels.ts
  frontend/src/features/knowledge/document/hooks/useRetrievers.ts
  frontend/src/features/tasks/components/chat/ContextSelector.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

fix(backend): change teams API default scope from 'personal' to 'all'
  backend/app/api/endpoints/adapter/teams.py
Due: wegent-backend

feat(knowledge): add copy link button to knowledge base card
  frontend/src/features/knowledge/document/components/KnowledgeBaseCard.tsx
Due: wegent-web

fix(backend): change teams API default scope from 'personal' to 'all' (#307)
  backend/app/api/endpoints/adapter/teams.py
Due: wegent-backend

feat: Introduce Skeleton component and enhance UnifiedRepositorySelector with animated drill-down views and skeleton loading. (#304)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/skeleton.tsx
  frontend/src/features/tasks/components/selector/BranchListView.tsx
  frontend/src/features/tasks/components/selector/RepoListView.tsx
  frontend/src/features/tasks/components/selector/UnifiedRepositorySelector.tsx
Due: wegent-web

fix(frontend): use router.back() for code knowledge base navigation (#301)
  frontend/src/app/(tasks)/knowledge/[projectId]/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
Due: wegent-web

feat(chat): add KB summary injection to chat context (#298)
  backend/app/api/endpoints/internal/rag.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/rag/retrieval_service.py
  chat_shell/chat_shell/history/loader.py
  chat_shell/chat_shell/prompts/knowledge_base.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/tests/test_history_loader_summary.py
  shared/prompts/__init__.py
  shared/prompts/knowledge_base.py
  shared/tests/test_prompts.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat: add device connection feature
  backend/alembic/versions/37e11ce9d370_add_devices_table.py
  backend/app/api/api.py
  backend/app/api/endpoints/devices.py
  backend/app/api/ws/__init__.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/events.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/device.py
  backend/app/models/user.py
  backend/app/schemas/device.py
  frontend/src/app/(tasks)/device/DevicePageDesktop.tsx
  frontend/src/app/(tasks)/device/DevicePageMobile.tsx
  frontend/src/app/(tasks)/device/chat/page.tsx
  frontend/src/app/(tasks)/device/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/device/components/DeviceChatPage.tsx
  frontend/src/features/device/hooks/useDeviceChat.ts
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/tasks/components/sidebar/SearchDialog.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/device.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/i18n/locales/zh-CN/device.json
  frontend/src/i18n/setup.ts
Due: wegent-backend, wegent-web

feat(executor): add local deployment mode via WebSocket
  executor/config/config.py
  executor/main.py
  executor/modes/__init__.py
  executor/modes/local/__init__.py
  executor/modes/local/events.py
  executor/modes/local/handlers.py
  executor/modes/local/heartbeat.py
  executor/modes/local/progress_reporter.py
  executor/modes/local/runner.py
  executor/modes/local/websocket_client.py
  executor/pyproject.toml
  executor/scripts/build_local.py
  executor/scripts/wegent-executor.spec
Due: wegent-executor

feat(backend): add local executor WebSocket namespace for debugging
  backend/app/api/ws/__init__.py
  backend/app/api/ws/local_executor_namespace.py
  backend/app/main.py
  executor/modes/local/websocket_client.py
Due: wegent-executor, wegent-backend

feat(frontend): refactor tool display system with tool registry pattern
  frontend/src/features/tasks/components/message/thinking/DetailedThinkingView.tsx
  frontend/src/features/tasks/components/message/thinking/components/EnhancedToolCallItem.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/components/SkeletonValue.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/components/ToolHeader.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/components/TruncatedIndicator.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/components/index.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/constants.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/index.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/registry.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/BashToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/EditToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/GenericToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/GlobToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/GrepToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/ReadToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/TaskToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/TodoWriteToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/WebFetchToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/WebSearchToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/WriteToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/index.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/types.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/utils/formatters.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/utils/index.ts
  frontend/src/features/tasks/components/message/thinking/tool-renderers/utils/truncateOutput.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  shared/models/task.py
  shared/pyproject.toml
  shared/uv.lock
Due: wegent-executor-manager, wegent-executor, wegent-web

fix(executor): improve local mode connection error messages
  executor/modes/local/runner.py
Due: wegent-executor

fix(executor): register WebSocket event handlers on correct namespace
  executor/modes/local/websocket_client.py
Due: wegent-executor

fix(frontend): address CodeRabbit review comments
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/GlobToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/GrepToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/ReadToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/renderers/WriteToolRenderer.tsx
  frontend/src/features/tasks/components/message/thinking/tool-renderers/utils/formatters.ts
Due: wegent-web

fix(executor): address CodeRabbit review feedback
  executor/config/config.py
  executor/modes/local/handlers.py
  executor/modes/local/heartbeat.py
  executor/modes/local/progress_reporter.py
Due: wegent-executor
