Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

Speedup homepage loading (#759)
  frontend/src/features/tasks/components/input/ConnectionStatusBanner.tsx
Due: wegent-web

feat: 优化standalone模式，去掉docker-compose依赖
  README.md
  README_zh.md
  backend/app/services/adapters/task_kinds/operations.py
  docker-compose.standalone.yml
  docker/standalone/Dockerfile
  docker/standalone/start.sh
  docs/en/deployment/standalone-mode.md
  docs/zh/deployment/standalone-mode.md
  install.sh
  scripts/build-standalone.sh
Due: wegent-backend

feat: 优化standalone模式，去掉docker-compose依赖 (#762)
  README.md
  README_zh.md
  backend/app/services/adapters/task_kinds/operations.py
  docker-compose.standalone.yml
  docker/standalone/Dockerfile
  docker/standalone/start.sh
  docs/en/deployment/standalone-mode.md
  docs/zh/deployment/standalone-mode.md
  install.sh
  scripts/build-standalone.sh
Due: wegent-backend

feat: 支持助手界面增加skill推荐
  backend/app/api/endpoints/wizard.py
  backend/app/schemas/wizard.py
  backend/app/services/simple_chat/providers/base.py
  frontend/src/apis/wizard.ts
  frontend/src/features/settings/components/wizard/TeamCreationWizard.tsx
  frontend/src/features/settings/components/wizard/steps/PreviewAdjustStep.tsx
  frontend/src/features/settings/components/wizard/steps/SkillSelector.tsx
  frontend/src/features/settings/components/wizard/types.ts
  frontend/src/i18n/locales/en/wizard.json
  frontend/src/i18n/locales/zh-CN/wizard.json
Due: wegent-backend, wegent-web

Support skill in wizard (#763)
  backend/app/api/endpoints/wizard.py
  backend/app/schemas/wizard.py
  backend/app/services/simple_chat/providers/base.py
  frontend/src/apis/wizard.ts
  frontend/src/features/settings/components/wizard/TeamCreationWizard.tsx
  frontend/src/features/settings/components/wizard/steps/PreviewAdjustStep.tsx
  frontend/src/features/settings/components/wizard/steps/SkillSelector.tsx
  frontend/src/features/settings/components/wizard/types.ts
  frontend/src/i18n/locales/en/wizard.json
  frontend/src/i18n/locales/zh-CN/wizard.json
Due: wegent-backend, wegent-web

feat: select default model in wizard
  frontend/src/features/settings/components/wizard/steps/PreviewAdjustStep.tsx
Due: wegent-web

feat: support custom history count
  backend/app/tasks/subscription_tasks.py
  chat_shell/chat_shell/services/context.py
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/features/feed/components/subscription-form/SendAreaSection.tsx
  frontend/src/features/feed/components/subscription-form/types.ts
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/feed.json
  frontend/src/types/subscription.ts
Due: wegent-backend, wegent-web

feat: support custom history count (#764)
  backend/app/tasks/subscription_tasks.py
  chat_shell/chat_shell/services/context.py
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/features/feed/components/subscription-form/SendAreaSection.tsx
  frontend/src/features/feed/components/subscription-form/types.ts
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/feed.json
  frontend/src/types/subscription.ts
Due: wegent-backend, wegent-web

refactor: 环境变量覆盖逻辑优化
  executor/config/device_config.py
Due: wegent-executor

feat: 添加版本参数到构建函数并更新命令行参数
  .github/workflows/publish-image.yml
  executor/scripts/build_local.py
Due: wegent-executor

fix: 更新后端环境变量白名单添加新用户jiaqi32
  wecode/docker/backend/.env.example
Due: wegent-backend

fix: 更新后端环境变量白名单添加新用户changwei5
  wecode/docker/backend/.env.example
Due: wegent-backend

fix: improve Windows/WSL local dev compatibility
  frontend/next.config.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  start.sh
Due: wegent-web

feat: add multi-stage Dockerfile for executor with source/binary targets
  build_image.sh
  build_image_mac.sh
  docker/executor/Dockerfile
Due: none

feat: add http to https fallback for git clone with token
  shared/utils/git_util.py
Due: wegent-executor-manager, wegent-executor

fix(config): resolve Windows/WSL path compatibility in Next.js config
  frontend/next.config.js
Due: wegent-web

feat(backend): add OpenClaw script execution to cloud device bootstrap
  backend/wecode/config/nevis_config.py
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
Due: wegent-backend

feat(backend): update Node.js via nvm before OpenClaw script execution
  backend/wecode/service/cloud_device_script.py
Due: wegent-backend

feat: /download/shared/page.tsx 支持钉钉免登录
  frontend/src/app/auth/dingtalk/page.tsx
  frontend/src/app/download/shared/page.tsx
  frontend/src/dingtalk/hooks/useDingTalkAuth.ts
Due: wegent-web

feat: /download/shared/page.tsx 支持钉钉免登录
  frontend/src/app/jump/page.tsx
  shared/utils/url_util.py
Due: wegent-executor-manager, wegent-executor, wegent-web

feat: 调整通知逻辑
  backend/app/services/subscription/notification_dispatcher.py
Due: wegent-backend

feat: 调整通知逻辑
  frontend/src/app/jump/page.tsx
Due: wegent-web

feat(cloud-device): group executor and OpenClaw as one machine
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
  frontend/src/app/(tasks)/devices/page.tsx
  frontend/wecode/components/devices/CloudDeviceSection.tsx
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

Revert "feat(cloud-device): group executor and OpenClaw as one machine"
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
  frontend/src/app/(tasks)/devices/page.tsx
  frontend/wecode/components/devices/CloudDeviceSection.tsx
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

feat(cloud-device): show device name and bindShell in capability row
  frontend/wecode/components/devices/CloudDeviceSection.tsx
Due: wegent-web

feat(cloud-device): add lobster emoji to OpenClaw badge in capability row
  frontend/wecode/components/devices/CloudDeviceSection.tsx
Due: wegent-web

feat(cloud-device): use last segment of UUID for device display name
  backend/wecode/service/cloud_device_provider.py
Due: wegent-backend

feat(cloud-device): rename cloud device prefix from 'cloud' to 'executor'
  backend/wecode/service/cloud_device_provider.py
Due: wegent-backend

feat(mail-token): add company mail token integration module
  backend/app/schemas/user.py
  backend/wecode/api/__init__.py
  backend/wecode/api/mail_token.py
  backend/wecode/service/mail_token_service.py
  backend/wecode/tests/test_mail_token.py
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/wecode/apis/index.ts
  frontend/wecode/apis/mail-token.ts
  frontend/wecode/components/settings/EmailTokenSection.tsx
  frontend/wecode/components/settings/IntegrationsPage.tsx
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

refactor(mail-token): rename preferences key from mail_token to sina_mail_token
  backend/app/schemas/user.py
  backend/wecode/service/mail_token_service.py
  backend/wecode/tests/test_mail_token.py
Due: wegent-backend

feat(mail-token): inject decrypted sina_mail_token into MCP placeholder resolution
  backend/wecode/service/request_builder_patch.py
  backend/wecode/tests/test_mail_token.py
  shared/tests/utils/test_mcp_utils.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(mail-token): correct get_db import path in mail_token API
  backend/wecode/api/mail_token.py
Due: wegent-backend

fix(mail-token): use @wecode alias instead of @/wecode for wecode module imports
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/wecode/components/settings/EmailTokenSection.tsx
  frontend/wecode/components/settings/IntegrationsPage.tsx
Due: wegent-web

refactor(mail-token): rename preferences key from sina_mail_token to sina_mail.token
  backend/app/schemas/user.py
  backend/wecode/service/mail_token_service.py
  backend/wecode/service/request_builder_patch.py
  backend/wecode/tests/test_mail_token.py
  shared/tests/utils/test_mcp_utils.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

refactor(mail-token): store token as nested preferences {"sina_mail": {"token": ...}}
  backend/app/schemas/user.py
  backend/wecode/service/mail_token_service.py
  backend/wecode/service/request_builder_patch.py
  backend/wecode/tests/test_mail_token.py
Due: wegent-backend

refactor(mail-token): simplify mail token section title in i18n
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-web

refactor(mail-token): use standard IntegrationsPage import and add EmailTokenSection
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/features/settings/components/IntegrationsPage.tsx
Due: wegent-web

refactor(mail-token): restore comments and remove unused wecode IntegrationsPage
  frontend/src/features/settings/components/IntegrationsPage.tsx
  frontend/wecode/components/settings/IntegrationsPage.tsx
Due: wegent-web
