Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(backend): remove duplicate indexes in share_links and resource_members tables
  backend/alembic/versions/y5z6a7b8c9d0_add_unified_share_tables.py
Due: wegent-backend

feat(backend): sync attachments to running sandbox when uploading
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/sandbox_file_syncer.py
  backend/tests/services/test_sandbox_file_syncer.py
Due: wegent-backend

fix: fix task skill save
  backend/app/services/chat/storage/task_manager.py
Due: wegent-backend

fix: address CodeRabbit review feedback for sandbox sync
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/sandbox_file_syncer.py
  backend/tests/services/test_sandbox_file_syncer.py
Due: wegent-backend

feat: show processing if task status is running
  frontend/src/features/tasks/components/message/thinking/MixedContentView.tsx
Due: wegent-web

feat(core): enhance deep research process with real-time thinking progress and improved status updates
  backend/app/services/chat/trigger/core.py
  chat_shell/chat_shell/clients/gemini_interaction.py
  frontend/src/features/tasks/components/message/thinking/DetailedThinkingView.tsx
  frontend/src/features/tasks/components/message/thinking/ThinkingDisplay.tsx
  frontend/src/features/tasks/components/message/thinking/utils/stepTypeConfig.ts
Due: wegent-backend, wegent-web

fix: skip WebSocket operations in Celery worker context
  backend/app/core/events.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/task_dispatcher.py
  backend/app/tasks/subscription_tasks.py
Due: wegent-backend

feat: 订阅支持知识库
  backend/app/schemas/subscription.py
  backend/app/services/channels/dingtalk/sender.py
  backend/app/services/chat/trigger/emitter.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/pet/ws_emitter.py
  backend/app/services/subscription/execution.py
  backend/app/services/subscription/follow_service.py
  backend/app/services/subscription/helpers.py
  backend/app/services/subscription/notification_dispatcher.py
  backend/app/services/subscription/service.py
  backend/app/tasks/subscription_tasks.py
  frontend/src/features/feed/components/KnowledgeBaseSelector.tsx
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/feed.json
  frontend/src/types/subscription.ts
Due: wegent-backend, wegent-web

ci: add workflow to sync docs to wegent-docs repository
  .github/workflows/sync-docs.yml
Due: none

ci: add workflow to sync docs to wegent-docs repository (#426)
  .github/workflows/sync-docs.yml
Due: none

docs: update docs
  docs/en/README.md
  docs/en/concepts/collaboration-models.md
  docs/en/concepts/core-concepts.md
  docs/en/getting-started/installation.md
  docs/en/getting-started/quick-start.md
  docs/en/guides/user/agent-settings.md
  docs/en/guides/user/configuring-models.md
  docs/en/guides/user/configuring-retrievers.md
  docs/en/guides/user/configuring-shells.md
  docs/en/guides/user/creating-bots.md
  docs/en/guides/user/creating-ghosts.md
  docs/en/guides/user/creating-teams.md
  docs/en/guides/user/im-channel-integration.md
  docs/en/guides/user/knowledge-base-guide.md
  docs/en/guides/user/managing-knowledge-bases.md
  docs/en/guides/user/managing-skills.md
  docs/en/guides/user/managing-tasks.md
  docs/zh/README.md
  docs/zh/concepts/collaboration-models.md
  docs/zh/concepts/core-concepts.md
  docs/zh/getting-started/installation.md
  docs/zh/getting-started/quick-start.md
  docs/zh/guides/user/agent-settings.md
  docs/zh/guides/user/configuring-models.md
  docs/zh/guides/user/configuring-retrievers.md
  docs/zh/guides/user/configuring-shells.md
  docs/zh/guides/user/creating-bots.md
  docs/zh/guides/user/creating-ghosts.md
  docs/zh/guides/user/creating-teams.md
  docs/zh/guides/user/im-channel-integration.md
  docs/zh/guides/user/knowledge-base-guide.md
  docs/zh/guides/user/managing-knowledge-bases.md
  docs/zh/guides/user/managing-skills.md
  docs/zh/guides/user/managing-tasks.md
Due: none

fix: skip WebSocket operations in Celery worker context (#425)
  backend/app/core/events.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/task_dispatcher.py
  backend/app/tasks/subscription_tasks.py
Due: wegent-backend

feat: add workspace archive field and update task recovery logic
  backend/alembic/versions/x5y6z7a8b9c0_add_workspace_archive_fields_to_tasks.py
  backend/app/models/task.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/task_restore.py
  backend/app/services/adapters/workspace_archive.py
Due: wegent-backend

refactor(executor): separate ClaudeCodeAgent mode logic using Strategy Pattern (#420)
  executor/agents/claude_code/__init__.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/docker_mode_strategy.py
  executor/agents/claude_code/local_mode_strategy.py
  executor/agents/claude_code/mode_strategy.py
  executor/tests/agents/test_mode_strategy.py
Due: wegent-executor

fix: 修复智能追问不渲染的逻辑
  frontend/src/features/tasks/components/message/MessageBubble.tsx
Due: wegent-web

fix: 将url渲染成超链接
  frontend/src/components/common/EnhancedMarkdown.tsx
  frontend/src/lib/autolink-urls.ts
Due: wegent-web

ix: 修复智能追问不渲染的逻辑 (#428)
  frontend/src/components/common/EnhancedMarkdown.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/lib/autolink-urls.ts
Due: wegent-web

refactor(executor): refactor attachment download to use AttachmentDownloader and unify sandbox path
  backend/app/services/sandbox_file_syncer.py
  backend/tests/services/test_sandbox_file_syncer.py
  executor/app.py
  executor/services/attachment_downloader.py
Due: wegent-executor, wegent-backend

feat(executor): add ANTHROPIC_CUSTOM_HEADERS for local mode tracking
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/docker_mode_strategy.py
  executor/agents/claude_code/local_mode_strategy.py
  executor/agents/claude_code/mode_strategy.py
  executor/tests/agents/test_mode_strategy.py
Due: wegent-executor

refactor(executor): simplify local mode logging
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/local_mode_strategy.py
Due: wegent-executor

refactor: 添加任务流分布式锁以支持多实例部署
  backend/app/services/channels/callback.py
Due: wegent-backend

feat(core): implement deep research protocol check to restrict follow-up questions
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/config/__init__.py
  backend/app/services/chat/config/shell_checker.py
Due: wegent-backend

feat(knowledge): add index status tooltip for documents
  backend/alembic/versions/x4y5z6a7b8c9_add_index_status_to_knowledge_documents.py
  backend/app/api/endpoints/knowledge.py
  backend/app/models/knowledge.py
  backend/app/schemas/knowledge.py
  frontend/src/components/ui/badge.tsx
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat(frontend): restrict knowledge base file upload to exclude images
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(frontend): improve knowledge base document index status tooltip
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): address CodeRabbit review feedback
  backend/alembic/versions/x4y5z6a7b8c9_add_index_status_to_knowledge_documents.py
  backend/app/api/endpoints/knowledge.py
  backend/app/models/knowledge.py
Due: wegent-backend

fix(dispatcher): fix async task execution in Celery context and enhance logging
  backend/app/services/task_dispatcher.py
Due: wegent-backend

fix: 加入分享任务支持组和公共team
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/services/shared_task.py
Due: wegent-backend

feat(core): add Gemini Deep Research annotations support and citation processing
  backend/app/services/chat/trigger/core.py
  frontend/src/features/tasks/components/chat/GeminiAnnotations.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/utils/processCitePatterns.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

feat(core): update citation formatting in processCitePatterns for improved readability
  frontend/src/features/tasks/utils/processCitePatterns.ts
Due: wegent-web

feat(knowledge): add reindex button for documents with unavailable index status
  backend/app/api/endpoints/knowledge.py
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(backend): add defensive null check for knowledge_base.json in reindex endpoint
  backend/app/api/endpoints/knowledge.py
Due: wegent-backend

fix(backend): block reindex for TABLE documents
  backend/app/api/endpoints/knowledge.py
Due: wegent-backend

feat(executor): add ANTHROPIC_CUSTOM_HEADERS support for local mode
  executor/agents/claude_code/local_mode_strategy.py
  executor/config/config.py
  executor/tests/agents/test_mode_strategy.py
Due: wegent-executor

refactor: 移除注释中的示例头信息
  executor/config/config.py
Due: wegent-executor

fix: 加入分享任务支持组和公共team (#436)
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/services/shared_task.py
Due: wegent-backend

docs: update core conecpts
  docs/en/concepts/core-concepts.md
  docs/en/developer-guide/crd-architecture.md
  docs/zh/concepts/core-concepts.md
  docs/zh/developer-guide/crd-architecture.md
Due: none
