Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): place new worktree tasks first in ordered projects
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler/collection.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

fix(executor): avoid explicit counter loop in task ordering
  executor/src/runtime_work/handler/collection.rs
Due: wegent-executor

fix(automation): persist manager activity execution identity
  .live-architecture/ledger.jsonl
  .live-architecture/transactions/tx-ea6128931d75.json
  backend/app/services/project_automation_execution.py
  backend/tests/services/test_project_automation_runtime.py
  docs/en/architecture/automation-manager-continuation.md
  docs/zh/architecture/automation-manager-continuation.md
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
Due: wegent-backend

feat(wework): add fullscreen diagram preview
  wework/src/components/chat/DiagramImageActions.tsx
  wework/src/components/chat/MarkdownDiagramPreview.test.tsx
  wework/src/components/chat/MarkdownDiagramPreview.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): show task conversation attachments in project files
  backend/app/api/endpoints/cloud_projects.py
  backend/app/api/endpoints/deliveries.py
  backend/app/schemas/delivery.py
  backend/app/schemas/runtime_work.py
  backend/app/services/execution/agents/generation_context.py
  backend/app/services/execution/agents/image/generation_service.py
  backend/app/services/loop_items/service.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_loop_item_attachments.py
  backend/tests/services/test_runtime_work_service.py
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/task-attachments.scenario.mjs
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudFilesView.test.tsx
  wework/src/features/todo/CloudFilesView.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

test(wework): align cloud e2e with redesigned ui
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
Due: none

test(wework): stabilize CI coverage
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/vite.config.ts
Due: none

feat(wework): preview shared and delivered project files
  backend/app/api/endpoints/cloud_projects.py
  backend/app/api/endpoints/deliveries.py
  backend/app/schemas/delivery.py
  backend/app/schemas/runtime_work.py
  backend/app/services/cloud_files/service.py
  backend/app/services/delivery/service.py
  backend/app/services/execution/agents/generation_context.py
  backend/app/services/execution/agents/image/generation_service.py
  backend/app/services/loop_items/service.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/test_cloud_projects_api.py
  backend/tests/services/test_loop_item_attachments.py
  backend/tests/services/test_runtime_work_service.py
  wework/e2e/desktop/scenarios/task-attachments.scenario.mjs
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudFilesView.test.tsx
  wework/src/features/todo/CloudFilesView.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

docs(wework): document project-space file sharing and preview
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
Due: none

fix(wework): place new worktree tasks first in ordered projects (#2755)
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler/collection.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

feat(wework): require explicit remote delivery selection
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  wework/src/features/delivery/DeliveryDialog.test.tsx
  wework/src/features/delivery/DeliveryDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(video): add storyboard and composition editing
  backend/app/api/endpoints/adapter/aigc_video/client.py
  backend/app/api/endpoints/adapter/aigc_video/router.py
  backend/tests/api/endpoints/adapter/aigc_video/test_client.py
  backend/tests/api/endpoints/adapter/aigc_video/test_router.py
  frontend/src/__tests__/apis/user.token-cookie.test.ts
  frontend/src/__tests__/features/video/composition-utils.test.ts
  frontend/src/apis/user.ts
  frontend/src/features/cards/components/CardPanel.tsx
  frontend/src/features/cards/registry.ts
  frontend/src/features/video/aigc_video/AigcVideoCard.tsx
  frontend/src/features/video/aigc_video/AigcVideoPanel.tsx
  frontend/src/features/video/aigc_video/VideoShortGenerationCard.tsx
  frontend/src/features/video/aigc_video/types.ts
  frontend/src/features/video/composition/CompositionEditor.tsx
  frontend/src/features/video/composition/api.ts
  frontend/src/features/video/composition/types.ts
  frontend/src/features/video/composition/utils.ts
  frontend/src/features/video/script/api.ts
  frontend/src/features/video/script/types.ts
  frontend/src/features/video/storyboard/StoryboardPanel.tsx
  frontend/src/features/video/storyboard/api.ts
  frontend/src/features/video/storyboard/types.ts
  frontend/src/i18n/locales/en/video.json
  frontend/src/i18n/locales/zh-CN/video.json
  frontend/src/i18n/setup.ts
  packages/chat-core/src/task-state/TaskStateMachine.recovery.ts
  packages/chat-core/src/task-state/TaskStateMachine.test.ts
  packages/chat-core/src/task-state/TaskStateMachine.ts
Due: wegent-backend, wegent-web

fix(wework): address issue workflow review feedback
  backend/app/services/project_automations.py
  backend/tests/services/test_project_automations.py
  wework/src/api/local/localDelivery.test.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/IssueComposer.test.tsx
  wework/src/features/todo/IssueComposer.tsx
  wework/src/features/todo/ProjectWorkflowEditor.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/cloudMyWorkModel.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(wework): add find, zoom, device toolbar and settings entries to the browser more menu
  wework/e2e/desktop/scenarios/embedded-browser-toolbar-actions.scenario.mjs
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/layout/workspace-panels/BrowserDeviceToolbar.tsx
  wework/src/components/layout/workspace-panels/BrowserZoomBanner.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/browser-find/BrowserFindBar.tsx
Due: none

feat(wework): add find, zoom, device toolbar and settings entries to the browser more menu
  .github/scripts/classify-wework-desktop-e2e.sh
  wework/e2e/desktop/scenarios/embedded-browser-toolbar-actions.scenario.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/layout/workspace-panels/BrowserDeviceToolbar.tsx
  wework/src/components/layout/workspace-panels/BrowserZoomBanner.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/browser-device-toolbar.test.ts
  wework/src/lib/browser-device-toolbar.ts
  wework/src/lib/browser-zoom.test.ts
  wework/src/lib/browser-zoom.ts
  wework/src/lib/embedded-browser.ts
Due: none

fix(wework): improve diagram fullscreen accessibility
  wework/src/components/chat/DiagramImageActions.tsx
  wework/src/components/chat/MarkdownDiagramPreview.test.tsx
  wework/src/components/chat/MarkdownDiagramPreview.tsx
Due: none

feat(wework): notify users of board task assignments
  backend/app/services/loop_items/assignment_notification.py
  backend/app/services/loop_items/external_provider.py
  backend/app/services/loop_items/service.py
  backend/tests/services/test_external_loop_item_execution.py
  backend/tests/services/test_loop_item_assignment.py
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/runtime/runtimeChatStream.test.ts
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskSystemNotifications.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/stream/chatStream.ts
Due: wegent-backend

test(wework): stabilize workspace interaction tests
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
Due: none

test(wework): address assignment notification review
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/features/workbench/runtimeTaskSystemNotifications.ts
Due: none

feat: 支持seedance2.5模型接入
  backend/.env.example
  backend/app/core/config.py
  backend/app/schemas/generation.py
  backend/app/services/execution/agents/video/materials.py
  backend/app/services/execution/agents/video/providers/__init__.py
  backend/app/services/execution/agents/video/providers/seedance.py
  backend/app/services/execution/agents/video/providers/seedance_assets.py
  backend/app/services/execution/agents/video/recovery.py
  backend/tests/schemas/test_generation.py
  backend/tests/services/execution/agents/video/test_materials.py
  backend/tests/services/execution/agents/video/test_recovery.py
  backend/tests/services/execution/agents/video/test_seedance_assets.py
  backend/tests/services/execution/agents/video/test_seedance_provider.py
  backend/wecode/task_sharding/subtask_store.py
  backend/wecode/tests/task_sharding/test_subtask_store.py
  frontend/src/__tests__/features/tasks/utils/videoDuration.test.ts
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/tasks/components/message/VideoConfigBadge.tsx
  frontend/src/features/tasks/components/selector/VideoSettingsPopover.tsx
  frontend/src/features/tasks/utils/videoDuration.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/i18n/locales/zh-CN/common.json
  packages/chat-core/src/task-state/TaskStateMachine.test.ts
  packages/chat-core/src/task-state/TaskStateMachine.ts
  wecode/docker/backend/.env.example
Due: wegent-backend, wegent-web

fix(channels): sync DingTalk runtime continuation
  backend/app/schemas/runtime_work.py
  backend/app/services/channels/dingtalk/handler.py
  backend/app/services/channels/handler.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/channels/dingtalk/test_callback.py
  backend/tests/services/channels/dingtalk/test_handler.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/test_runtime_work_service.py
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/util.rs
  wework/src/features/workbench/runtimePaneMessages.test.ts
Due: wegent-executor, wegent-backend

fix(resource-library): label team-shared skills
  backend/app/api/endpoints/kind/skills.py
  backend/app/services/skill_binding_service.py
  backend/tests/api/test_skills_api.py
  frontend/src/__tests__/features/settings/components/SkillListWithScope.default-enabled.test.tsx
  frontend/src/apis/skills.ts
  frontend/src/features/settings/components/SkillListWithScope.tsx
Due: wegent-backend, wegent-web

test(wework): stabilize reconnect recovery e2e
  wework/e2e/desktop/modules/resilience-flows.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

test(resource-library): cover team skill filtering
  backend/app/api/endpoints/kind/skills.py
  backend/app/services/skill_binding_service.py
  frontend/src/__tests__/features/settings/components/SkillListWithScope.default-enabled.test.tsx
Due: wegent-backend, wegent-web

fix(wework): allow removing offline remote projects
  docs/en/wework/developer-guide/wework-codex-sidebar.md
  docs/zh/wework/developer-guide/wework-codex-sidebar.md
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: none

fix(executor): pass Claude prompts through stdin (#2738)
  executor/src/agents/claude_code.rs
  executor/src/process/mod.rs
  executor/tests/agent_command_contract.rs
  executor/tests/agent_runtime_capabilities_contract.rs
Due: wegent-executor

fix(knowledge): 修复默认知识库名称显示为 ID
  backend/app/services/chat/selected_knowledge.py
  backend/tests/services/chat/test_selected_knowledge.py
Due: wegent-backend

test(e2e): tolerate transient runtime check disconnects
  frontend/e2e/tests/tasks/provider-native-chat.spec.ts
  frontend/e2e/utils/provider-native-test-support.ts
Due: wegent-web

feat: Implement Seedance asset-library staging for reference images
  backend/.env.example
  backend/app/core/config.py
  backend/app/schemas/generation.py
  backend/app/services/execution/agents/video/materials.py
  backend/app/services/execution/agents/video/providers/__init__.py
  backend/app/services/execution/agents/video/providers/seedance.py
  backend/app/services/execution/agents/video/providers/seedance_assets.py
  backend/app/services/execution/agents/video/recovery.py
  backend/tests/schemas/test_generation.py
  backend/tests/services/execution/agents/video/test_materials.py
  backend/tests/services/execution/agents/video/test_recovery.py
  backend/tests/services/execution/agents/video/test_seedance_assets.py
  backend/tests/services/execution/agents/video/test_seedance_provider.py
  frontend/src/__tests__/features/tasks/utils/videoDuration.test.ts
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/tasks/components/message/VideoConfigBadge.tsx
  frontend/src/features/tasks/components/selector/VideoSettingsPopover.tsx
  frontend/src/features/tasks/utils/videoDuration.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/i18n/locales/zh-CN/common.json
  packages/chat-core/src/task-state/TaskStateMachine.test.ts
  packages/chat-core/src/task-state/TaskStateMachine.ts
Due: wegent-backend, wegent-web

feat(wework): add find, zoom, device toolbar and settings entries to the browser more menu
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/browser-find/BrowserFindBar.tsx
Due: none

test(e2e): isolate runtime status polling
  frontend/e2e/tests/tasks/provider-native-chat.spec.ts
  frontend/e2e/tests/tasks/provider-native-claudecode.spec.ts
  frontend/e2e/tests/tasks/provider-native-dingtalk.spec.ts
  frontend/e2e/tests/tasks/provider-native-state-and-contract.spec.ts
  frontend/e2e/utils/provider-native-test-support.ts
Due: wegent-web

fix(knowledge): 保留全库引用合并后的知识库名称
  backend/app/services/chat/selected_knowledge.py
  backend/tests/services/chat/test_selected_knowledge.py
Due: wegent-backend

feat(wework): add find, zoom, device toolbar and settings entries to the browser more menu
  wework/src/components/layout/workspace-panels/browser-find/BrowserFindBar.tsx
Due: none

feat(code-wiki): sharpen wiki generation guidance
  backend/init_data/02-public-resources.yaml
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/tests/services/knowledge/code_wiki/test_code_wiki_ghost.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
Due: wegent-backend

fix(knowledge): 安全解析并保留知识库名称
  backend/app/services/chat/selected_knowledge.py
  backend/app/services/chat/task_default_knowledge_bases.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/tests/services/chat/test_selected_knowledge.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/knowledge/test_knowledge_service.py
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
