Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: fix heap
  frontend/package.json
Due: wegent-web

fix: fix npm
  wecode/docker/frontend/Dockerfile
  wecode/docker/frontend_ops/Dockerfile
  wecode/docker/frontend_outer/Dockerfile
  wecode/docker/wework/Dockerfile
Due: wegent-web

fix: fix ci
  frontend/scripts/download-fonts.cjs
  wecode/docker/frontend/Dockerfile
  wecode/docker/frontend_ops/Dockerfile
  wecode/docker/frontend_outer/Dockerfile
Due: wegent-web

fix: fix
  frontend/scripts/download-fonts.cjs
Due: wegent-web

fix: fix ci
  frontend/package.json
  pnpm-lock.yaml
Due: wegent-web

fix: fix docker build
  frontend/next.config.js
  wecode/docker/frontend/Dockerfile
  wecode/docker/frontend_ops/Dockerfile
  wecode/docker/frontend_outer/Dockerfile
Due: wegent-web

Fix workspace Docker builds
  .dockerignore
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  docker/standalone/Dockerfile
  executor/pyproject.toml
  executor/requirements.txt
  executor/uv.lock
  frontend/next.config.js
Due: wegent-executor, wegent-web

feat: wework 调整web 和pc app的ui (#1380)
  wework/src-tauri/tauri.conf.json
  wework/src/App.plugins.test.tsx
  wework/src/App.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopTopBar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/components/topnav/AppIframe.tsx
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/components/topnav/ChromeTitlebar.tsx
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/components/topnav/useChromeTabs.test.ts
  wework/src/components/topnav/useChromeTabs.ts
  wework/src/config/apps.ts
  wework/src/styles/globals.css
  wework/src/test/macos-window-chrome.test.ts
Due: none

Fix workspace Docker builds (#1382)
  .dockerignore
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  docker/standalone/Dockerfile
  executor/pyproject.toml
  executor/requirements.txt
  executor/uv.lock
  frontend/next.config.js
Due: wegent-executor, wegent-web

fix(wework): remove unused desktop top bar import
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): improve failed message recovery
  packages/chat-core/src/workbench-message-reducer.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/messageReducer.test.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
  wework/src/lib/chat-error.test.ts
  wework/src/lib/chat-error.ts
  wework/src/pages/WorkbenchPage.tsx
  wework/src/types/api.ts
Due: none

fix(backend): expose external kb namespace metadata
  backend/app/mcp_server/tools/knowledge_external.py
  backend/app/schemas/knowledge_external.py
  backend/app/services/knowledge/knowledge_transfer.py
  backend/app/services/knowledge/namespace_utils.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/mcp_server/test_knowledge_external.py
  docs/en/developer-guide/external-knowledge-mcp.md
  docs/zh/developer-guide/external-knowledge-mcp.md
Due: wegent-backend

fix(wework): align failed message action style
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: none

feat(knowledge): 明确知识库 RAG 配置模式
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_orchestrator.py
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/knowledge/configuring-retrievers.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/knowledge/configuring-retrievers.md
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDialogs.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat: 调整脚本，支持打包version
  executor/local.sh
Due: wegent-executor

fix(backend): stabilize websocket connect handling
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/connection_utils.py
  backend/app/api/ws/device_namespace.py
  backend/tests/api/ws/test_chat_namespace_connect.py
  backend/tests/api/ws/test_connection_utils.py
  backend/tests/api/ws/test_device_namespace_connect.py
Due: wegent-backend

fix(backend): stabilize websocket connect handling (#1383)
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/connection_utils.py
  backend/app/api/ws/device_namespace.py
  backend/tests/api/ws/test_chat_namespace_connect.py
  backend/tests/api/ws/test_connection_utils.py
  backend/tests/api/ws/test_device_namespace_connect.py
Due: wegent-backend

fix(docker): 修复前端容器启动目录
  docker-compose.yml
Due: none

feat(knowledge): support scoped knowledge open api
  backend/app/api/endpoints/knowledge_open.py
  backend/app/schemas/knowledge.py
  backend/app/schemas/knowledge_search.py
  backend/app/schemas/scope_validation.py
  backend/app/services/knowledge/folder_service.py
  backend/tests/api/test_knowledge_open_scope.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/tests/test_knowledge_base_scoped_search.py
  chat_shell/tests/test_knowledge_listing.py
  docs/en/reference/knowledge-open-api.md
  docs/en/user-guide/knowledge/document-management.md
  docs/zh/reference/knowledge-open-api.md
  docs/zh/user-guide/knowledge/document-management.md
Due: wegent-backend

refactor(knowledge): 简化 RAG 自动配置
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_orchestrator.py
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/knowledge/configuring-retrievers.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/knowledge/configuring-retrievers.md
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDialogs.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat(knowledge): 支持无 RAG 创建模式
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_orchestrator.py
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/knowledge/configuring-retrievers.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/knowledge/configuring-retrievers.md
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDialogs.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

refactor(knowledge): 统一知识库创建高级设置 UI
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
Due: wegent-web

refactor(knowledge): 优化 RAG 创建表单布局
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
Due: wegent-web

feat(openapi): support scoped knowledge responses
  backend/app/api/endpoints/internal/rag.py
  backend/app/api/endpoints/openapi_responses.py
  backend/app/schemas/kind.py
  backend/app/schemas/openapi_response.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/openapi/helpers.py
  backend/app/services/openapi/kb_context.py
  backend/app/services/openapi/kb_resolver.py
  backend/tests/api/test_internal_rag_scope.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/services/openapi/test_helpers_kb.py
  backend/tests/services/openapi/test_kb_context.py
  chat_shell/chat_shell/services/context.py
  chat_shell/chat_shell/tools/builtin/__init__.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/chat_shell/tools/builtin/knowledge_listing.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  chat_shell/tests/test_knowledge_base_scoped_search.py
  chat_shell/tests/test_knowledge_listing.py
  docs/en/reference/openapi-responses-api.md
  docs/en/reference/yaml-specification.md
  docs/zh/reference/openapi-responses-api.md
  docs/zh/reference/yaml-specification.md
  shared/models/__init__.py
  shared/models/execution.py
  shared/models/knowledge.py
  shared/models/openai_converter.py
  shared/tests/test_openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(backend): protect device websocket reconnect storms
  backend/app/api/ws/device_namespace.py
  backend/app/services/device/capability_sync_service.py
  backend/tests/api/ws/test_device_reconnect_storm.py
Due: wegent-backend

refactor(knowledge): 对齐知识库创建表单布局
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(backend): protect device websocket reconnect storms (#1384)
  backend/app/api/ws/device_namespace.py
  backend/app/services/device/capability_sync_service.py
  backend/tests/api/ws/test_device_reconnect_storm.py
Due: wegent-backend

refactor(knowledge): 对齐创建弹窗归属布局
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
Due: wegent-web

fix(knowledge): 调整 RAG 启用文案
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): 对齐RAG默认阈值和响应兼容
  backend/app/api/endpoints/rag.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/rag/runtime_resolver.py
  backend/tests/schemas/test_knowledge_response.py
  docs/discussions/260613_1542_知识库RAG创建配置模式设计.md
  docs/en/user-guide/knowledge/configuring-retrievers.md
  docs/en/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/user-guide/knowledge/configuring-retrievers.md
  docs/zh/user-guide/knowledge/knowledge-base-guide.md
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/features/knowledge/document/components/RetrievalTestDialog.tsx
Due: wegent-backend, wegent-web

docs: 从远端移除RAG讨论文档
  docs/discussions/260613_1542_知识库RAG创建配置模式设计.md
Due: none

fix(knowledge): 兼容历史RAG配置并补运维脚本
  backend/app/schemas/knowledge.py
  backend/scripts/fix_kb_retriever_and_reindex.py
  backend/tests/schemas/test_knowledge_response.py
Due: wegent-backend

fix(knowledge): 调整引导问题删除按钮触控尺寸
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
Due: wegent-web

chore(knowledge): 从仓库移除本地重建索引脚本
  backend/scripts/fix_kb_retriever_and_reindex.py
Due: wegent-backend

fix(wework): 前端样式bug
  wework/src/components/chat/MessageList.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/styles/globals.css
Due: none

test(knowledge): 避免成员初始化测试触发RAG自动配置
  backend/tests/api/test_knowledge_base_initial_members.py
Due: wegent-backend

fix(knowledge): avoid scoped document filter fallback
  backend/app/services/chat/preprocessing/contexts.py
  backend/tests/services/test_task_knowledge_base_sync.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  chat_shell/tests/test_kb_prompt_deduplication.py
  chat_shell/tests/test_knowledge_base_scoped_search.py
Due: wegent-backend

fix(backend): preserve empty knowledge scope contexts
  backend/app/services/chat/preprocessing/contexts.py
  backend/tests/services/test_task_knowledge_base_sync.py
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
