Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): show environment diff without branch (#1749)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
Due: none

fix(wework): allow code comment runtime follow-ups
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

feat(wework): bundle pinned codex binary
  .github/workflows/wework-app.yml
  docs/en/developer-guide/wework-macos-release.md
  docs/zh/developer-guide/wework-macos-release.md
  wework/codex-binaries.lock.json
  wework/package.json
  wework/scripts/build-mac-app.sh
  wework/scripts/prepare-codex-binary.mjs
  wework/scripts/release-mac-app.sh
  wework/src-tauri/build.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/tauri.conf.json
  wework/third_party/codex/NOTICE
Due: none

fix(executor-manager): clear stale k8s sandbox claims
  executor_manager/tests/wecode/executors/test_k8s_executor.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
Due: wegent-executor-manager

feat(wework): bundle pinned codex binary (#1751)
  .github/workflows/wework-app.yml
  docs/en/developer-guide/wework-macos-release.md
  docs/zh/developer-guide/wework-macos-release.md
  wework/codex-binaries.lock.json
  wework/package.json
  wework/scripts/build-mac-app.sh
  wework/scripts/prepare-codex-binary.mjs
  wework/scripts/release-mac-app.sh
  wework/src-tauri/build.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/tauri.conf.json
  wework/third_party/codex/NOTICE
Due: none

feat(wework): add embedded browser annotations
  deps/browser/relay-server/package-lock.json
  deps/browser/relay-server/package.json
  deps/browser/relay-server/src/actions.ts
  deps/browser/relay-server/src/browser-client.ts
  deps/browser/relay-server/src/mcp-server.ts
  deps/browser/relay-server/src/tool.ts
  deps/browser/relay-server/test/mcp-server.test.mjs
  docs/en/developer-guide/wework-embedded-browser.md
  docs/zh/developer-guide/wework-embedded-browser.md
  executor/scripts/local_executor_install.sh
  executor/src/agents/codex.rs
  executor/src/local/app_ipc.rs
  executor/tests/local_app_ipc_contract.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/in_app_browser.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/AttachmentBadges.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/browser-url.test.ts
  wework/src/lib/browser-url.ts
  wework/src/lib/cdp-browser-session.test.ts
  wework/src/lib/cdp-browser-session.ts
  wework/src/lib/code-comment-context.test.ts
  wework/src/lib/code-comment-context.ts
  wework/src/lib/developerCommandMenu.ts
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
  wework/src/lib/in-app-browser.test.ts
  wework/src/lib/in-app-browser.ts
  wework/src/types/workbench.ts
Due: wegent-executor

fix(backend): encode non-ASCII wegent-agent-* header values and broaden strip matching
  backend/app/services/chat/config/model_resolver.py
  backend/tests/services/chat/test_model_resolver_wegent_headers.py
Due: wegent-backend

feat(wework): add embedded browser annotations (#1752)
  deps/browser/relay-server/package-lock.json
  deps/browser/relay-server/package.json
  deps/browser/relay-server/src/actions.ts
  deps/browser/relay-server/src/browser-client.ts
  deps/browser/relay-server/src/mcp-server.ts
  deps/browser/relay-server/src/tool.ts
  deps/browser/relay-server/test/mcp-server.test.mjs
  docs/en/developer-guide/wework-embedded-browser.md
  docs/zh/developer-guide/wework-embedded-browser.md
  executor/scripts/local_executor_install.sh
  executor/src/agents/codex.rs
  executor/src/local/app_ipc.rs
  executor/tests/local_app_ipc_contract.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/in_app_browser.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/AttachmentBadges.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/browser-url.test.ts
  wework/src/lib/browser-url.ts
  wework/src/lib/cdp-browser-session.test.ts
  wework/src/lib/cdp-browser-session.ts
  wework/src/lib/code-comment-context.test.ts
  wework/src/lib/code-comment-context.ts
  wework/src/lib/developerCommandMenu.ts
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
  wework/src/lib/in-app-browser.test.ts
  wework/src/lib/in-app-browser.ts
  wework/src/types/workbench.ts
Due: wegent-executor

fix(backend): encode non-ASCII wegent-agent-* header values and broaden strip matching (#1753)
  backend/app/services/chat/config/model_resolver.py
  backend/tests/services/chat/test_model_resolver_wegent_headers.py
Due: wegent-backend

fix(executor): extend Claude Code timeout to 24h
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/src/agents/mod.rs
Due: wegent-executor

fix(backend): skip executor cleanup when workspace archive fails
  backend/app/services/adapters/executor_job.py
  backend/tests/services/test_preserve_executor.py
Due: wegent-backend

fix(executor): extend Claude Code timeout to 24h (#1754)
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/src/agents/mod.rs
Due: wegent-executor

fix(executor): buffer partial Claude stdout JSON
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  executor/tests/stream_parser_contract.rs
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor

fix(wework): publish macos dmg release assets
  .github/workflows/wework-app.yml
  docs/en/developer-guide/wework-macos-release.md
  docs/zh/developer-guide/wework-macos-release.md
Due: none

fix(wework): publish macos dmg release assets (#1757)
  .github/workflows/wework-app.yml
  docs/en/developer-guide/wework-macos-release.md
  docs/zh/developer-guide/wework-macos-release.md
Due: none

fix(wework): verify app inside generated dmg
  .github/workflows/wework-app.yml
Due: none

fix(wework): verify app inside generated dmg (#1758)
  .github/workflows/wework-app.yml
Due: none

fix(executor): buffer partial Claude stdout JSON (#1756)
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  executor/tests/stream_parser_contract.rs
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor

fix(wework): preserve bundled executor version
  .github/workflows/wework-app.yml
Due: none

fix(wework): preserve bundled executor version (#1759)
  .github/workflows/wework-app.yml
Due: none

fix(wework): set release repo for gh cli
  .github/workflows/wework-app.yml
Due: none

fix(wework): set release repo for gh cli (#1760)
  .github/workflows/wework-app.yml
Due: none

feat: 升级claude code 版本
  wecode/docker/executor/Dockerfile
Due: wegent-executor

fix(wework): bundle latest codex runtime
  backend/tests/docker/test_standalone_wework_contract.py
  docker/device/Dockerfile
  docker/executor/Dockerfile
  docker/standalone/Dockerfile
  executor/scripts/local_executor_install.ps1
  executor/scripts/local_executor_install.sh
  scripts/install-device-tools-ubuntu.sh
  wework/codex-binaries.lock.json
Due: wegent-executor, wegent-backend

fix(wework): bundle latest codex runtime (#1761)
  backend/tests/docker/test_standalone_wework_contract.py
  docker/device/Dockerfile
  docker/executor/Dockerfile
  docker/standalone/Dockerfile
  executor/scripts/local_executor_install.ps1
  executor/scripts/local_executor_install.sh
  scripts/install-device-tools-ubuntu.sh
  wework/codex-binaries.lock.json
Due: wegent-executor, wegent-backend

fix: address review feedback — 当前仓库里没有app/api/deps 这个路径吧，是不是写错了
  backend/app/api/endpoints/internal/tables.py
Due: wegent-backend

fix(wework): improve runtime search responsiveness
  executor/src/runtime_work/handler.rs
  wework/src/components/layout/WorkbenchSearchDialog.test.tsx
  wework/src/components/layout/WorkbenchSearchDialog.tsx
Due: wegent-executor

feat: executor 回调时改为队列,避免阻塞
  executor/src/callback/mod.rs
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  executor/tests/local_backend_contract.rs
  executor/tests/stream_parser_contract.rs
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor

fix(chat-shell): pass disallowed_special=() to encoding.encode in tool_output guard
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/tests/test_tool_output_adapter.py
Due: none

fix(chat-shell): pass disallowed_special=() to encoding.encode in tool_output guard (#1762)
  chat_shell/chat_shell/guard/tool_output.py
  chat_shell/tests/test_tool_output_adapter.py
Due: none

fix(wework): open search results with transcripts
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_contract.rs
  wework/src/components/layout/WorkbenchSearchDialog.test.tsx
  wework/src/components/layout/WorkbenchSearchDialog.tsx
Due: wegent-executor

test(wework): stabilize runtime terminal cache test
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

docs(wework): document runtime search addresses
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
Due: none

docs: update wework readme
  README.md
  README_zh.md
  wework/README.md
Due: none

docs: update wework readme (#1764)
  README.md
  README_zh.md
  wework/README.md
Due: none

fix(wework): show codex usage in tray
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/runtime_work/handler.rs
  wework/src-tauri/src/lib.rs
  wework/src/api/local/codexUsage.ts
  wework/src/components/layout/DesktopSettingsMenu.test.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/pages/WorkbenchPage.tsx
  wework/src/tauri/trayNavigation.test.ts
  wework/src/tauri/trayNavigation.ts
Due: wegent-executor

fix(wework): show codex usage in tray (#1765)
  docs/en/developer-guide/wework-cloud-connection.md
  docs/zh/developer-guide/wework-cloud-connection.md
  executor/src/runtime_work/handler.rs
  wework/src-tauri/src/lib.rs
  wework/src/api/local/codexUsage.ts
  wework/src/components/layout/DesktopSettingsMenu.test.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/pages/WorkbenchPage.tsx
  wework/src/tauri/trayNavigation.test.ts
  wework/src/tauri/trayNavigation.ts
Due: wegent-executor
