Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(mobile): redesign authorization experience
  wework-mobile/AGENTS.md
  wework-mobile/README.md
  wework-mobile/assets/wework-logo-transparent.png
  wework-mobile/package.json
  wework-mobile/scripts/run-mobile.sh
  wework-mobile/src/components/AuthorizationScreen.tsx
  wework-mobile/src/components/authorizationPresentationContract.test.ts
Due: none

feat(mobile): redesign authorization experience (#3180)
  wework-mobile/AGENTS.md
  wework-mobile/README.md
  wework-mobile/assets/wework-logo-transparent.png
  wework-mobile/package.json
  wework-mobile/scripts/run-mobile.sh
  wework-mobile/src/components/AuthorizationScreen.tsx
  wework-mobile/src/components/authorizationPresentationContract.test.ts
Due: none

feat(wework): 调整ci
  .gitlab-ci.yml
  wecode/docker/backend/.env.example
Due: wegent-backend

fix(wework): stabilize long code streaming (#3159)
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/notification_mapping.rs
  executor/tests/app_runtime_work_send_contract.rs
  pnpm-lock.yaml
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/package.json
  wework/src/components/chat/AssistantMarkdown.streaming.test.tsx
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MarkdownCodeBlock.test.tsx
  wework/src/components/chat/MarkdownCodeBlock.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/highlightCode.ts
  wework/src/styles/globals.css
Due: wegent-executor

feature(wework): redesign the embedded browser context menu (#3166)
  wework/electron/src/host/embedded-browser-manager.ts
  wework/electron/src/host/image-context-actions.ts
  wework/electron/src/host/image-context-menu.test.ts
  wework/electron/src/host/image-context-menu.ts
  wework/electron/src/main.ts
  wework/src/WorkspaceTabSurface.test.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

Feature/work 349 v1 responses media (#3179)
  backend/app/api/endpoints/adapter/attachments.py
  backend/app/api/endpoints/openapi_responses.py
  backend/app/schemas/openapi_response.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/agents/video/materials.py
  backend/app/services/execution/agents/video/video_agent.py
  backend/app/services/openapi/__init__.py
  backend/app/services/openapi/chat_session.py
  backend/app/services/openapi/output_builder.py
  backend/app/services/openapi/streaming.py
  backend/tests/api/endpoints/adapter/test_attachment_download_stream.py
  backend/tests/api/endpoints/test_attachment_access.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/schemas/test_openapi_response.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/execution/agents/video/test_materials.py
  backend/tests/services/openapi/test_output_builder.py
  backend/tests/services/openapi/test_streaming_reasoning.py
Due: wegent-backend

feat(team): 为 Web 请求增加提示词防护
  backend/app/api/ws/chat_namespace.py
  backend/app/core/config.py
  backend/app/schemas/kind.py
  backend/app/schemas/team.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/request_builder.py
  backend/app/services/llm_proxy_service.py
  backend/app/services/prompt_protection.py
  backend/tests/services/adapters/test_team_kinds_display_name.py
  backend/tests/services/test_llm_proxy_service.py
  backend/tests/services/test_prompt_protection.py
  frontend/e2e/tests/tasks/agent-conversation-regression.spec.ts
  frontend/src/__tests__/features/settings/components/TeamEditDialog.display-name.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/SimpleTeamEditForm.prompt-protection.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-save.test.ts
  frontend/src/apis/team.ts
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/simple-team-edit-save.ts
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/zh-CN/settings.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix(prompt-protection): 收紧拒绝生命周期与验收
  backend/app/api/endpoints/openapi_responses.py
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/storage/db.py
  backend/app/services/chat/trigger/lifecycle.py
  backend/app/services/prompt_protection_evaluation.py
  backend/evaluations/prompt_protection/README.md
  backend/tests/api/test_openapi_responses.py
  backend/tests/services/chat/storage/test_task_manager.py
  backend/tests/services/test_prompt_protection.py
  frontend/src/__tests__/features/settings/components/TeamEditDialog.display-name.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/SimpleTeamEditForm.prompt-protection.test.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
Due: wegent-backend, wegent-web

feat(prompt-protection): 增加效果评估与发布验收
  backend/app/services/prompt_protection.py
  backend/app/services/prompt_protection_evaluation.py
  backend/evaluations/prompt_protection/README.md
  backend/evaluations/prompt_protection/v1.jsonl
  backend/scripts/evaluate_prompt_protection.py
  backend/tests/services/test_prompt_protection.py
  backend/tests/services/test_prompt_protection_evaluation.py
Due: wegent-backend

feat(openapi): 为 Responses 接入提示词防护
  backend/app/api/endpoints/openapi_responses.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/prompt_protection.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/services/test_prompt_protection.py
  frontend/e2e/tests/tasks/agent-conversation-regression.spec.ts
Due: wegent-backend, wegent-web

feat(team): 让高级与 pipeline Team 遵循提示词防护
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/pipeline_advance.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/adapters/test_team_kinds_display_name.py
  backend/tests/services/test_prompt_protection.py
  frontend/e2e/tests/tasks/agent-conversation-regression.spec.ts
  frontend/src/__tests__/features/settings/components/TeamEditDialog.display-name.test.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
Due: wegent-backend, wegent-web

fix(wework): keep environment panel fixed while scrolling
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(frontend): align workflow video controls and panels (#3174)
  frontend/src/__tests__/app/shared/task/page.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/VideoSettingsPopover.test.tsx
  frontend/src/__tests__/features/tasks/utils/teamModeSpec.test.ts
  frontend/src/app/shared/task/page.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/VideoSettingsPopover.tsx
  frontend/src/features/tasks/utils/teamModeSpec.ts
Due: wegent-web

ci(wework): register environment panel scroll checkpoint
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): preserve iBar tray visibility
  docs/en/wework/developer-guide/wework-debug-instance-context.md
  docs/zh/wework/developer-guide/wework-debug-instance-context.md
  wework/e2e/desktop/scenarios/tray-lifecycle.scenario.mjs
  wework/electron/src/host/tray-guid.test.ts
  wework/electron/src/host/tray-guid.ts
  wework/electron/src/host/tray-manager.test.ts
  wework/electron/src/main.ts
Due: none

fix: fix layout
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(executor): time out stalled git clones (#3057)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/agents/git_workspace.rs
  executor/tests/agent_process_engine_contract.rs
Due: wegent-executor

chore(prompt-protection): 移除离线效果评估资产
  backend/app/services/prompt_protection_evaluation.py
  backend/evaluations/prompt_protection/README.md
  backend/evaluations/prompt_protection/v1.jsonl
  backend/scripts/evaluate_prompt_protection.py
  backend/tests/services/test_prompt_protection_evaluation.py
Due: wegent-backend

fix(prompt-protection): 修复防护配置与生命周期边界
  backend/app/api/endpoints/openapi_responses.py
  backend/app/api/ws/chat_namespace.py
  backend/app/core/config.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/chat/pipeline_advance.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/core/test_config.py
  backend/tests/services/adapters/test_team_kinds_copy.py
  backend/tests/services/test_prompt_protection.py
  frontend/e2e/tests/tasks/agent-conversation-regression.spec.ts
  frontend/src/__tests__/features/settings/components/team-edit/SimpleTeamEditForm.prompt-protection.test.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
Due: wegent-backend, wegent-web

fix(wework): keep environment panel fixed while scrolling (#3182)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): preserve iBar tray visibility (#3183)
  docs/en/wework/developer-guide/wework-debug-instance-context.md
  docs/zh/wework/developer-guide/wework-debug-instance-context.md
  wework/e2e/desktop/scenarios/tray-lifecycle.scenario.mjs
  wework/electron/src/host/tray-guid.test.ts
  wework/electron/src/host/tray-guid.ts
  wework/electron/src/host/tray-manager.test.ts
  wework/electron/src/main.ts
Due: none

fix(wework): keep browser notices above page content
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/components/common/TransientNotice.test.tsx
  wework/src/components/common/TransientNotice.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

feat(wework): add remote device startup script
  backend/app/services/device/remote_device_startup.py
  backend/tests/services/test_remote_device_startup.py
  docs/en/wegent/user-guide/ai-devices/local-device-support.md
  docs/zh/wegent/user-guide/ai-devices/local-device-support.md
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/common/RemoteDeviceStartupCommandPanel.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/projects/StandaloneProjectDialogs.tsx
  wework/src/components/settings/AddCloudDeviceDialog.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

fix(wework): hide notices for inactive browser tabs
  wework/src/components/common/TransientNotice.test.tsx
  wework/src/components/common/TransientNotice.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

fix(prompt-protection): 修复重试收口与参数边界
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/api/ws/test_chat_namespace_retry.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/test_prompt_protection.py
Due: wegent-backend

test(wework): await browser clear completion
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
Due: none

fix(wework): render local markdown images in chat
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/memory-tool-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/components/chat/blocks/ToolBlockItem.tsx
Due: none

test(wework): await initial board snapshot
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
Due: none

fix(wework): harden local image handling
  wework/e2e/desktop/modules/shared.mjs
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
Due: none

fix(wework): render local markdown images in chat (#3185)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/memory-tool-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/assistantMarkdownLinks.ts
  wework/src/components/chat/blocks/ToolBlockItem.tsx
Due: none

test(wework): isolate component updates in desktop e2e
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/component-update.scenario.mjs
  wework/electron/src/main.ts
  wework/electron/src/runtime/desktop-components.test.ts
  wework/electron/src/runtime/desktop-components.ts
Due: none

feat(code-wiki): support bounded plan amendments
  backend/app/api/endpoints/wiki.py
  backend/app/schemas/wiki.py
  backend/app/services/knowledge/code_wiki/generation.py
  backend/app/services/knowledge/code_wiki/prompts.py
  backend/app/services/knowledge/code_wiki/quality_gate.py
  backend/init_data/02-public-resources.yaml
  backend/init_data/skills/wiki_submit/REVIEW_CONTRACT.md
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/init_data/skills/wiki_submit/wiki_submit.js
  backend/tests/api/test_wiki_generation_contents.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_ghost.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
  backend/tests/services/knowledge/code_wiki/test_generation.py
  backend/tests/services/knowledge/code_wiki/test_prompts.py
  backend/tests/services/knowledge/code_wiki/test_quality_gate.py
Due: wegent-backend

fix(knowledge): remove retrieval profile fallback notice
  frontend/src/__tests__/features/knowledge/code-wiki/create-kind-selection.test.tsx
  frontend/src/__tests__/features/knowledge/document/create-knowledge-base-direct-access.test.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(code-wiki): allow stopping active generation
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/services/knowledge/code_wiki/generation.py
  backend/tests/api/test_knowledge_code_wiki.py
  frontend/src/__tests__/apis/code-wiki.test.ts
  frontend/src/__tests__/features/knowledge/code-wiki/generation-progress.test.tsx
  frontend/src/__tests__/features/knowledge/code-wiki/mobile-navigation.test.tsx
  frontend/src/apis/code-wiki.ts
  frontend/src/features/knowledge/code-wiki/CodeWikiReader.tsx
  frontend/src/features/knowledge/code-wiki/GenerationProgress.tsx
  frontend/src/features/knowledge/code-wiki/failureText.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(code-wiki): refresh published page tree
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/schemas/knowledge.py
  backend/tests/api/test_knowledge_code_wiki.py
  frontend/src/__tests__/apis/code-wiki.test.ts
  frontend/src/__tests__/features/knowledge/code-wiki/mobile-navigation.test.tsx
  frontend/src/apis/client.ts
  frontend/src/apis/code-wiki.ts
  frontend/src/features/knowledge/code-wiki/CodeWikiReader.tsx
  frontend/src/types/code-wiki.ts
Due: wegent-backend, wegent-web

fix(code-wiki): place stop action in progress header
  frontend/src/features/knowledge/code-wiki/GenerationProgress.tsx
Due: wegent-web

fix(code-wiki): refresh after stop request
  frontend/src/__tests__/features/knowledge/code-wiki/mobile-navigation.test.tsx
  frontend/src/features/knowledge/code-wiki/CodeWikiReader.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(wework): keep browser notices above page content (#3184)
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/component-update.scenario.mjs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/electron/src/main.ts
  wework/electron/src/runtime/desktop-components.test.ts
  wework/electron/src/runtime/desktop-components.ts
  wework/src/components/common/TransientNotice.test.tsx
  wework/src/components/common/TransientNotice.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
Due: none

fix(wework): handle broken Electron Node pipes
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/electron/src/runtime/electron-node-runtime.test.ts
  wework/electron/src/runtime/electron-node-runtime.ts
Due: none
