Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(executor): recover stale resumed model provider
  executor/src/agents/codex.rs
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
Due: wegent-executor

fix(executor): bypass proxies for loopback requests
  executor/src/agents/runtime_capabilities.rs
  executor/src/connector_gateway.rs
  executor/src/http_client.rs
  executor/src/lib.rs
  executor/src/local/backend/connection_controller.rs
Due: wegent-executor

fix(wegent): image reference attachments
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/execution/agents/image/image_agent.py
  backend/app/services/execution/agents/video/prompt.py
  backend/tests/services/chat/test_model_resolver_think_config.py
  backend/tests/services/chat/test_quick_launch_preset_attachment_override.py
  backend/tests/services/chat/test_quick_launch_preset_attachments.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/chat/test_vision_structure.py
  backend/tests/services/execution/agents/image/test_image_agent.py
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  shared/prompts/constants.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(wework): resolve embedded browser bridge runtime
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/electron/src/main.ts
Due: wegent-executor

fix(knowledge): 修复外部文档刷新权限与状态竞态
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/services/knowledge/index_state_machine.py
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_external_document_import_governance.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
  frontend/src/__tests__/features/knowledge/code-wiki/create-kind-selection.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
Due: wegent-backend, wegent-web

fix(wework): show desktop runtime startup errors
  wework/README.md
  wework/electron/src/dsh-preload.cts
  wework/electron/src/host/startup-shell-bridge.test.ts
  wework/electron/src/host/startup-shell-bridge.ts
  wework/electron/src/preload.cts
  wework/package.json
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-windows-app.ps1
  wework/scripts/prepare-ai-verify-electron.mjs
Due: none

fix(executor): isolate worktree deletion locks (#3064)
  executor/src/runtime_work/worktrees.rs
Due: wegent-executor

fix(wework): show desktop runtime startup errors (#3069)
  wework/README.md
  wework/electron/src/dsh-preload.cts
  wework/electron/src/host/startup-shell-bridge.test.ts
  wework/electron/src/host/startup-shell-bridge.ts
  wework/electron/src/preload.cts
  wework/package.json
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-windows-app.ps1
  wework/scripts/prepare-ai-verify-electron.mjs
Due: none

docs: 将本地上下文与钉钉缓存说明移出版本控制
  CONTEXT-MAP.md
  backend/app/services/knowledge/CONTEXT.md
  docs/adr/0001-external-document-copy-identity.md
  docs/en/wegent/developer-guide/dingtalk-node-cache.md
  docs/zh/wegent/developer-guide/dingtalk-node-cache.md
Due: wegent-backend

test(wework): restore embedded browser fixture writes
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
Due: none

fix(image): address review and vision e2e
  backend/app/services/execution/agents/image/image_agent.py
  backend/tests/services/chat/test_model_resolver_think_config.py
  backend/tests/services/chat/test_quick_launch_preset_attachments.py
  backend/tests/services/chat/test_vision_structure.py
  backend/tests/services/execution/agents/image/test_image_agent.py
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-backend, wegent-web

fix(knowledge): 修复外部文档转移与导入取证
  backend/app/services/knowledge/knowledge_transfer.py
  backend/tests/services/knowledge/test_external_document_import_governance.py
  frontend/e2e/tests/knowledge/dingtalk-import.spec.ts
  frontend/src/__tests__/e2e/external-import-lifecycle.test.ts
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(knowledge): 统一聊天与导入的钉钉节点展示
  frontend/src/__tests__/features/tasks/components/chat/DingTalkKnowledgePicker.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/components/icons/DingtalkNodeIcon.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
  frontend/src/features/tasks/components/chat/DingTalkKnowledgePicker.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

fix(wework): resolve embedded browser bridge runtime (#3070)
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/electron/src/main.ts
Due: wegent-executor

fix(wegent): image reference attachments (#3068)
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/execution/agents/image/image_agent.py
  backend/app/services/execution/agents/video/prompt.py
  backend/tests/services/chat/test_model_resolver_think_config.py
  backend/tests/services/chat/test_quick_launch_preset_attachment_override.py
  backend/tests/services/chat/test_quick_launch_preset_attachments.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/chat/test_vision_structure.py
  backend/tests/services/execution/agents/image/test_image_agent.py
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  shared/prompts/constants.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(wegent): 修复k8s无法取消的bug
  executor_manager/tests/wecode/executors/test_k8s_executor.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
Due: wegent-executor-manager

fix(executor): recover stale resumed model provider (#3066)
  executor/src/agents/codex.rs
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
Due: wegent-executor

fix(wework): unify task status synchronization (#3065)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/app/api/endpoints/deliveries.py
  backend/app/api/endpoints/runtime_work.py
  backend/app/schemas/delivery.py
  backend/app/schemas/runtime_work.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/test_deliveries_api.py
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/App.tsx
  wework/src/api/deliveries.test.ts
  wework/src/api/deliveries.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/taskStatusRecovery.test.ts
  wework/src/features/todo/taskStatusRecovery.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/projectTaskTracking.test.ts
  wework/src/features/workbench/projectTaskTracking.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

test(wework): align sites auth fixture with credential vault
  wework/src/App.plugins.test.tsx
Due: none

fix(wegent): 调整调用函数的方法避免调用不存在k8s执行器函数
  executor_manager/routers/routers.py
  executor_manager/tests/routers/test_cancel_routes.py
Due: wegent-executor-manager

fix(knowledge): 修复外部导入删除清理与来源状态
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/index_state_machine.py
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_external_document_import.py
  backend/tests/services/knowledge/test_external_document_import_execution.py
  backend/tests/services/knowledge/test_external_document_import_governance.py
  backend/tests/services/knowledge/test_index_state_machine.py
Due: wegent-backend

fix(wework): run scheduled automation in standalone workspace
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/automationRuleBackend.test.ts
  wework/src/features/todo/automationRuleBackend.ts
Due: none

fix(knowledge): 统一知识库类型图标展示
  frontend/src/__tests__/features/knowledge/document/document-list-summary.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-base-summary-card.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseSummaryCard.tsx
  frontend/src/features/tasks/components/chat/ContextSelector.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

fix(wework): extend Core DSH startup timeout
  wework/README.md
  wework/electron/src/runtime/desktop-runtime.ts
  wework/electron/src/runtime/dsh-runtime.test.ts
  wework/electron/src/runtime/dsh-runtime.ts
  wework/electron/src/shell/shell.test.ts
  wework/scripts/ai-verify-environment.mjs
  wework/scripts/ai-verify-environment.test.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/prepare-ai-verify-electron.mjs
Due: none

fix(ci): accelerate merge queue validation
  .github/scripts/classify-ci-cache-warmup.sh
  .github/scripts/classify-ci-changes.sh
  .github/scripts/resolve-executor-e2e-runtime.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/test.yml
  frontend/e2e/README.md
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
Due: wegent-web

fix(wework): extend Core DSH startup timeout (#3072)
  wework/README.md
  wework/electron/src/runtime/desktop-runtime.ts
  wework/electron/src/runtime/dsh-runtime.test.ts
  wework/electron/src/runtime/dsh-runtime.ts
  wework/electron/src/shell/shell.test.ts
  wework/scripts/ai-verify-environment.mjs
  wework/scripts/ai-verify-environment.test.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/prepare-ai-verify-electron.mjs
Due: none

fix(ci): resolve executor base manifest
  .github/scripts/resolve-executor-e2e-runtime.sh
  frontend/src/__tests__/e2e/claudecode-executor-fixture.test.ts
Due: wegent-web

fix(knowledge): 统一文档格式图标与颜色
  frontend/src/__tests__/features/knowledge/document-format-icon.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/__tests__/features/knowledge/document/folder-tree-query-separation.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-document-tree-grid.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/DingTalkKnowledgePicker.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/components/icons/DingtalkNodeIcon.tsx
  frontend/src/components/icons/DocumentFormatIcon.tsx
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/knowledge-document-tree-grid.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

fix(ci): pass executor image to e2e tests
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/e2e-tests.yml
Due: none

fix(wework): run scheduled automation in standalone workspace (#3074)
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/automationRuleBackend.test.ts
  wework/src/features/todo/automationRuleBackend.ts
Due: none

feat(wework): support dynamic DSH icons
  docs/en/wework/developer-guide/wework-dsh-ui-plugins.md
  docs/zh/wework/developer-guide/wework-dsh-ui-plugins.md
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopSidebarPrimitives.tsx
  wework/src/features/dsh-runtime/DshIcon.test.tsx
  wework/src/features/dsh-runtime/DshIcon.tsx
  wework/src/features/dsh-runtime/dshRoutes.ts
  wework/src/features/dsh-runtime/dshSidebarNavigation.ts
  wework/src/features/workspace-tabs/WorkspaceTabStrip.tsx
Due: none

fix(wework): restore board task hover conversations
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

fix(wework): stabilize headless Electron GPU runtime
  wework/e2e/desktop/modules/electron-launch-arguments.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/scripts/electron-e2e-launch-arguments.test.mjs
Due: none

docs(wework): record headless GPU failure evidence
  wework/plans/WEWORKC2FA61-351-electron-e2e-migration.md
Due: none

fix(wework): keep sidebar project order stable
  docs/en/wework/developer-guide/wework-codex-sidebar.md
  docs/zh/wework/developer-guide/wework-codex-sidebar.md
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.test.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
  wework/src/types/api.ts
Due: wegent-executor

docs(wework): document board task hover conversations
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix(ci): accelerate merge queue validation (#3073)
  .github/scripts/classify-ci-cache-warmup.sh
  .github/scripts/classify-ci-changes.sh
  .github/scripts/resolve-executor-e2e-runtime.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/test.yml
  frontend/e2e/README.md
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/src/__tests__/e2e/claudecode-executor-fixture.test.ts
  wework/e2e/desktop/modules/electron-launch-arguments.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/plans/WEWORKC2FA61-351-electron-e2e-migration.md
  wework/scripts/electron-e2e-launch-arguments.test.mjs
Due: wegent-web

fix(wework): restore board task hover conversations (#3076)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

fix(wework): keep sidebar project order stable (#3077)
  docs/en/wework/developer-guide/wework-codex-sidebar.md
  docs/zh/wework/developer-guide/wework-codex-sidebar.md
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.test.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
  wework/src/types/api.ts
Due: wegent-executor

fix(wework): stabilize dynamic DSH icons
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopSidebarPrimitives.tsx
  wework/src/features/workspace-tabs/WorkspaceTabStrip.test.tsx
  wework/src/features/workspace-tabs/WorkspaceTabStrip.tsx
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
