Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix Repository.length=0
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

定时更新仓库缓存
  backend/.env.example
  backend/app/core/config.py
  backend/wecode/api/__init__.py
  backend/wecode/api/job_patch.py
  backend/wecode/service/update_git_repositories_job.py
Due: wegent-backend

fix: 减少锁过期时间
  backend/wecode/api/job_patch.py
Due: wegent-backend

fix: 修改任务状态检查条件及错误信息
  backend/app/services/adapters/task_kinds.py
Due: wegent-backend

refactor: 优化仓库和服务中的异常处理逻辑
  backend/app/services/repository.py
Due: wegent-backend

同步github的change
  README.md
  README_zh.md
Due: none

feat: 添加 setnx 方法以确保锁的原子性
  backend/app/core/cache.py
  backend/wecode/api/job_patch.py
Due: wegent-backend

Set development team as default for new users
  wecode/docker/backend/resource.json
Due: wegent-backend

Fix team order in resource.json - remove duplicate and set development team as default
  wecode/docker/backend/resource.json
Due: wegent-backend

重命名分支名
  .gitlab-ci.yml
Due: none

refactor: 更新缓存过期时间和访问令牌过期时间
  backend/.env.example
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/app/services/repository.py
  backend/wecode/api/job_patch.py
  docker-compose.yml
  wecode/docker/backend/.env.example
Due: wegent-backend

feat: 添加请求ID以增强日志跟踪
  backend/app/main.py
Due: wegent-backend

refactor: 更新子任务状态时添加日志并优化执行器删除逻辑
  backend/app/services/adapters/executor_kinds.py
Due: wegent-backend

支持离线任务及使用apscheduler 代替 scheduler
  docker-compose.yml
  executor_manager/clients/task_api_client.py
  executor_manager/config/config.py
  executor_manager/executors/docker/utils.py
  executor_manager/requirements.txt
  executor_manager/routers/routers.py
  executor_manager/scheduler/scheduler.py
Due: wegent-executor-manager

Convert Chinese comments to English in ThinkingComponent.tsx
  frontend/src/features/tasks/components/ThinkingComponent.tsx
Due: wegent-web

chore(docker-compose): update config values and add timezone
  docker-compose.yml
Due: none

frontend github link & RepoSelect fix
  frontend/src/apis/github.ts
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/features/common/UserContext.tsx
  frontend/src/features/layout/GithubStarButton.tsx
  frontend/src/features/layout/UserMenu.tsx
  frontend/src/features/settings/components/McpConfigImportModal.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

support offline tasks & add repository cache
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/executors.py
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/kind/common.py
  backend/app/api/endpoints/kind/kinds.py
  backend/app/api/endpoints/oidc.py
  backend/app/api/endpoints/repository.py
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/schemas/task.py
  backend/app/schemas/user.py
  backend/app/services/adapters/executor_job.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/jobs.py
  backend/app/services/repository.py
  backend/app/services/repository_job.py
  backend/app/services/user.py
Due: wegent-backend

fix
  backend/app/services/repository_job.py
Due: wegent-backend

docs: add YAML configuration documentation and update README
  README.md
  README_zh.md
  docs/en/resource-definition-formats.md
  docs/zh/资源定义格式.md
Due: none

Optimize backend
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/executors.py
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/kind/common.py
  backend/app/api/endpoints/kind/kinds.py
  backend/app/api/endpoints/oidc.py
  backend/app/api/endpoints/repository.py
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/schemas/task.py
  backend/app/schemas/user.py
  backend/app/services/adapters/executor_job.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/jobs.py
  backend/app/services/repository.py
  backend/app/services/repository_job.py
  backend/app/services/user.py
Due: wegent-backend

refactor: improve offline scheduler, logging, and dependency management
  docker/frontend/Dockerfile
  executor/agents/agno/agno_agent.py
  executor/agents/agno/thinking_step_manager.py
  executor/agents/claude_code/claude_code_agent.py
  executor/requirements.txt
  executor_manager/clients/task_api_client.py
  executor_manager/config/config.py
  executor_manager/executors/docker/executor.py
  executor_manager/executors/docker/utils.py
  executor_manager/requirements.txt
  executor_manager/routers/routers.py
  executor_manager/scheduler/scheduler.py
Due: wegent-executor-manager, wegent-executor

fix: improve GitHub default branch detection
  backend/app/repository/github_provider.py
Due: wegent-backend

chore(docker): bump image version to 1.0.1
  docker-compose.yml
Due: none

Update backend/app/services/adapters/executor_job.py
  backend/app/services/adapters/executor_job.py
Due: wegent-backend

bump image version to 1.0.2
  docker-compose.yml
Due: none
