Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

test(wework): wait for goal protocol evidence
  wework/e2e/desktop/modules/goal-flows.mjs
Due: none

feat(wework): sync encrypted native transcripts
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/alembic/versions/20260908_a1c2d3e4f5b6_native_wework_transcript_segments.py
  backend/app/api/endpoints/wework_transcripts.py
  backend/app/core/wework_transcript_encryption.py
  backend/app/models/__init__.py
  backend/app/models/wework_transcript.py
  backend/app/schemas/wework_transcript.py
  backend/app/services/wework_transcript_service.py
  backend/app/services/wework_transcript_storage.py
  backend/tests/api/endpoints/test_wework_transcripts_api.py
  backend/tests/models/test_wework_transcript_schema.py
  docs/en/wework/developer-guide/wework-transcript-sync.md
  docs/zh/wework/developer-guide/wework-transcript-sync.md
  executor/src/agents/codex.rs
  executor/src/agents/mod.rs
  executor/src/runtime_work/codex_transcript_page.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/transcript_sync.rs
  executor/src/runtime_work/mod.rs
  executor/src/runtime_work/native_transcript.rs
  wework/dsh/executor-runtime/index.js
  wework/dsh/executor-runtime/index.test.mjs
  wework/dsh/executor-runtime/transcript-source.js
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/transcript-sync.scenario.mjs
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/stream/chatStream.ts
  wework/src/stream/responseApiStream.test.ts
  wework/src/stream/responseApiStream.ts
Due: wegent-executor, wegent-backend

fix(wework): retain structured transcript summaries
  backend/alembic/versions/20260908_a1c2d3e4f5b6_native_wework_transcript_segments.py
  backend/app/api/endpoints/wework_transcripts.py
  backend/app/models/__init__.py
  backend/app/models/wework_transcript.py
  backend/app/schemas/wework_transcript.py
  backend/app/services/wework_transcript_service.py
  backend/tests/api/endpoints/test_wework_transcripts_api.py
  backend/tests/models/test_wework_transcript_schema.py
  docs/en/wework/developer-guide/wework-transcript-sync.md
  docs/zh/wework/developer-guide/wework-transcript-sync.md
  wework/dsh/executor-runtime/index.js
  wework/dsh/executor-runtime/index.test.mjs
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
  wework/e2e/desktop/scenarios/transcript-sync.scenario.mjs
Due: wegent-backend

fix(wework): reuse release signing keychain
  .github/workflows/wework-app.yml
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

feat(wework): complete diff review workflow
  backend/app/services/device/command_registry.py
  backend/app/services/device/command_service.py
  backend/tests/services/test_local_device_command_service.py
  executor/src/local/app_ipc.rs
  executor/src/local/native_git.rs
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/chat/FileChangesReviewPanel.test.tsx
  wework/src/components/chat/FileChangesReviewPanel.tsx
  wework/src/components/chat/FileChangesReviewTree.tsx
  wework/src/components/chat/fileChangesReviewInteractions.test.tsx
  wework/src/components/chat/fileChangesReviewInteractions.tsx
  wework/src/components/chat/fileChangesReviewUtils.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: wegent-executor, wegent-backend

docs(wework): document diff review workflow
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix(wework): harden native transcript synchronization
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/.env.example
  backend/app/api/endpoints/wework_transcripts.py
  backend/app/core/config.py
  backend/app/core/wework_transcript_encryption.py
  backend/app/schemas/wework_transcript.py
  backend/app/services/wework_transcript_service.py
  backend/tests/api/endpoints/test_wework_transcripts_api.py
  docs/en/wework/developer-guide/wework-transcript-sync.md
  docs/zh/wework/developer-guide/wework-transcript-sync.md
  executor/src/runtime_work/codex_transcript_page.rs
  executor/src/runtime_work/handler/transcript_sync.rs
  executor/src/runtime_work/native_transcript.rs
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: wegent-executor, wegent-backend

fix(wework): skip empty default issue context
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  executor/src/task_runtime/content.rs
  executor/src/task_runtime/store.rs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.test.ts
  wework/src/api/local/localDelivery.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: wegent-executor

refactor(wework): centralize smart app operations
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/src/features/harness-apps/smartAppOperations.test.ts
  wework/src/features/harness-apps/smartAppOperations.ts
Due: none

test(wework): enforce telemetry boundaries
  wework/package.json
  wework/scripts/check-telemetry-boundary.mjs
  wework/scripts/check-telemetry-boundary.test.mjs
  wework/src/App.plugins.test.tsx
  wework/src/App.tsx
  wework/src/telemetry/events.ts
  wework/src/telemetry/routes.ts
Due: none

fix(wework): remove Tauri release compatibility
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/en/wework/developer-guide/wework-windows.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-windows.md
  wework/e2e/desktop/scenarios/release-package-startup.scenario.mjs
  wework/electron/electron-builder.config.cjs
  wework/electron/package.json
  wework/electron/pnpm-lock.yaml
  wework/electron/scripts/installer.nsh
  wework/electron/src/runtime/desktop-device-id.test.ts
  wework/electron/src/runtime/managed-executor-runtime.test.ts
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/generate-desktop-update-manifests.mjs
  wework/scripts/generate-desktop-update-manifests.test.mjs
  wework/scripts/prepare-desktop-release-assets.mjs
  wework/scripts/update-channel-manifests.mjs
  wework/scripts/update-channel-manifests.test.mjs
  wework/src/lib/app-updater.test.ts
  wework/src/lib/app-updater.ts
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

test(wework): scope release keychain assertions
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(executor): support patch actions on rust 1.77
  executor/src/local/app_ipc.rs
Due: wegent-executor

ci(wework): sync telemetry definitions
  .github/workflows/wework-telemetry-catalog.yml
  wework/package.json
  wework/scripts/sync-posthog-event-definitions.mjs
  wework/scripts/sync-posthog-event-definitions.test.mjs
Due: none

fix(wework): settle syntax highlighter loading
  wework/src/components/chat/MarkdownCodeBlock.tsx
Due: none

test(wework): cover automatic smart app telemetry
  docs/superpowers/plans/2026-09-09-wework-automatic-telemetry.md
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
Due: none

fix(wework): handle Astra deferred tool search (#3361)
  executor/src/server/local_model_proxy/chat.rs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/scenarios/claude-runtime.scenario.mjs
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
Due: wegent-executor

fix(wework): guard Issue context refresh state
  executor/src/task_runtime/store.rs
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: wegent-executor

fix(wework): reuse immutable harness runtimes
  .github/workflows/wework-app.yml
  wework/scripts/collect-harness-runtime-release-assets.mjs
  wework/scripts/collect-harness-runtime-release-assets.test.mjs
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/lib/harness-runtime-pruning.mjs
  wework/scripts/lib/harness-runtime-pruning.test.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(wework): reuse release signing keychain (#3362)
  .github/workflows/wework-app.yml
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(wework): remove Tauri release compatibility (#3364)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/en/wework/developer-guide/wework-windows.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-windows.md
  wework/e2e/desktop/scenarios/release-package-startup.scenario.mjs
  wework/electron/electron-builder.config.cjs
  wework/electron/package.json
  wework/electron/pnpm-lock.yaml
  wework/electron/scripts/installer.nsh
  wework/electron/src/runtime/desktop-device-id.test.ts
  wework/electron/src/runtime/managed-executor-runtime.test.ts
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/generate-desktop-update-manifests.mjs
  wework/scripts/generate-desktop-update-manifests.test.mjs
  wework/scripts/prepare-desktop-release-assets.mjs
  wework/scripts/update-channel-manifests.mjs
  wework/scripts/update-channel-manifests.test.mjs
  wework/src/lib/app-updater.test.ts
  wework/src/lib/app-updater.ts
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix: fix ci
  wework/electron/scripts/notarize-macos.cjs
  wework/electron/src/notarize-macos.test.ts
  wework/scripts/build-minio-mac-release.sh
  wework/scripts/generate-desktop-update-manifests.mjs
  wework/scripts/generate-desktop-update-manifests.test.mjs
  wework/scripts/lib/component-asset-reuse.mjs
  wework/scripts/lib/component-asset-reuse.test.mjs
  wework/scripts/minio_release_assets.py
  wework/scripts/prepare-desktop-release-assets.mjs
  wework/scripts/test_minio_update_channels.py
  wework/scripts/upload-mac-release-to-s3.py
Due: none

fix(wework): complete transcript sync safeguards
  backend/app/services/wework_transcript_service.py
  backend/app/services/wework_transcript_storage.py
  backend/tests/api/endpoints/test_wework_transcripts_api.py
  backend/tests/services/test_wework_transcript_storage.py
  executor/src/runtime_work/handler/transcript_sync.rs
  executor/src/runtime_work/native_transcript.rs
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
Due: wegent-executor, wegent-backend

fix(wework): reuse immutable harness runtimes (#3366)
  .github/workflows/wework-app.yml
  wework/scripts/collect-harness-runtime-release-assets.mjs
  wework/scripts/collect-harness-runtime-release-assets.test.mjs
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/lib/harness-runtime-pruning.mjs
  wework/scripts/lib/harness-runtime-pruning.test.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(frontend): 优化知识选择器搜索框聚焦边界
  frontend/src/features/tasks/components/chat/ContextSelector.tsx
Due: wegent-web

fix(wework): skip empty default Issue context (#3363)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  executor/src/task_runtime/content.rs
  executor/src/task_runtime/store.rs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.test.ts
  wework/src/api/local/localDelivery.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: wegent-executor

fix(wework): preserve diff review contracts
  backend/app/services/device/command_service.py
  backend/tests/services/test_local_device_command_service.py
  wework/src/components/chat/FileChangesReviewPanel.test.tsx
  wework/src/components/chat/FileChangesReviewPanel.tsx
  wework/src/components/chat/FileChangesReviewTree.tsx
  wework/src/components/chat/fileChangesReviewInteractions.test.tsx
  wework/src/components/chat/fileChangesReviewUtils.ts
Due: wegent-backend

feat(wework): sync PostHog property definitions
  docs/superpowers/plans/2026-09-09-wework-automatic-telemetry.md
  wework/scripts/sync-posthog-event-definitions.mjs
  wework/scripts/sync-posthog-event-definitions.test.mjs
Due: none

docs(wework): record desktop verification blocker
  docs/superpowers/plans/2026-09-09-wework-automatic-telemetry.md
Due: none

fix(wework): persist local board unread state
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  executor/src/local/app_ipc.rs
  executor/src/task_runtime/router.rs
  executor/src/task_runtime/store.rs
  executor/tests/local_app_ipc_contract.rs
  wework/e2e/desktop/modules/local-board-unread.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/api/local/localDelivery.test.ts
  wework/src/api/local/localDelivery.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: wegent-executor

fix(board): resume coordination through assignment callbacks
  backend/app/api/ws/device_namespace.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/issue_assignments.py
  backend/app/services/project_automation_execution.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_issue_assignments.py
  backend/tests/services/test_llm_proxy_service.py
  docs/en/developer-guide/board-automation-acceptance.md
  docs/zh/developer-guide/board-automation-acceptance.md
  executor/src/task_runtime/mcp.rs
  wework/e2e/desktop/modules/event-center-flows.mjs
Due: wegent-executor, wegent-backend

docs(wework): record Redis E2E prerequisite
  docs/superpowers/plans/2026-09-09-wework-automatic-telemetry.md
Due: none

fix(plugin-auth): connect local login to managed account lifecycle
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/plugin_auth_broker.py
  backend/app/schemas/plugin_account_auth.py
  backend/app/services/plugin_auth_automation.py
  backend/app/services/plugin_auth_local_lifecycle.py
  backend/app/services/plugin_auth_migrations.py
  backend/app/services/plugin_auth_source_sync.py
  backend/tests/api/ws/test_plugin_auth_broker.py
  backend/tests/services/test_plugin_auth_local_lifecycle.py
  docs/en/wework/developer-guide/plugin-account-auth.md
  docs/zh/wework/developer-guide/plugin-account-auth.md
  executor/src/plugin_account_auth/broker.rs
  executor/src/plugin_account_auth/gateway.rs
  executor/src/plugin_account_auth/local_lifecycle.rs
  executor/src/plugin_account_auth/mod.rs
  executor/src/runtime_work/local_connector_auth.rs
  executor/src/runtime_work/util.rs
  executor/src/runtime_work/worktrees.rs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/scenarios/plugin-account-auth.scenario.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/src/e2e/desktop-cloud-environment.test.ts
  wework/src/e2e/verification-control.ts
Due: wegent-executor, wegent-backend

docs(wework): record local telemetry verification
  docs/superpowers/plans/2026-09-09-wework-automatic-telemetry.md
Due: none

fix(wework): show issue title in progress hover
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(automation): streamline project webhook subscriptions
  backend/app/api/endpoints/project_incoming_hooks.py
  backend/app/core/project_event_credentials.py
  backend/app/schemas/project_incoming_hook.py
  backend/app/services/project_branch_collectors.py
  backend/app/services/project_incoming_hooks.py
  backend/tests/api/test_deliveries_api.py
  backend/tests/api/test_project_incoming_hooks_api.py
  backend/tests/services/test_project_branch_collectors.py
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/projectIncomingHooks.test.ts
  wework/src/api/projectIncomingHooks.ts
  wework/src/features/todo/AutomationRulesView.jsx
  wework/src/features/todo/EventSubscriptionManager.tsx
  wework/src/features/todo/ProjectAutomationView.test.tsx
  wework/src/features/todo/ProjectAutomationView.tsx
  wework/src/features/todo/automationStyles.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

chore(wework): complete automation view prop types
  wework/src/features/todo/AutomationRulesView.d.ts
Due: none

refactor(backend): make MCP identity userinfo endpoint async
  backend/app/api/endpoints/mcp_identity.py
Due: wegent-backend

fix(wework): validate Smart app release publishing
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/electron/src/host/smart-app-manager.test.ts
  wework/electron/src/host/smart-app-manager.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/features/harness-apps/HarnessAppAutoLauncher.tsx
  wework/src/features/harness-apps/HarnessAppInstallDialog.tsx
  wework/src/features/harness-apps/SmartAppDevelopmentDialog.tsx
  wework/src/features/harness-apps/SmartAppPluginDialog.tsx
  wework/src/features/harness-apps/useHarnessAppManagement.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/smart-app-error-message.test.ts
  wework/src/lib/smart-app-error-message.ts
Due: none

fix(wework): mark reviewed tasks unread after new executions
  executor/src/task_runtime/store.rs
Due: wegent-executor
