Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): restore issue attachment downloads
  wework/src/api/deliveries.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/cloudFileTransfer.test.ts
  wework/src/features/todo/cloudFileTransfer.ts
  wework/src/features/todo/task-detail-layout.css
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/blobDownload.test.ts
  wework/src/lib/blobDownload.ts
Due: none

docs(wework): clarify issue attachment downloads
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
Due: none

test(wework): stabilize automation visibility refresh
  wework/src/features/todo/ProjectAutomationView.test.tsx
Due: none

test(wework): use neutral paths in Windows drive-link fixtures
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/AssistantMarkdown.links.test.tsx
  wework/src/components/chat/assistantMarkdownLinks.test.ts
  wework/src/lib/workspace-paths.test.ts
  wework/src/lib/workspace-target.test.ts
Due: none

test(wework): cover Windows drive-letter roots and lowercase paths
  wework/src/components/chat/assistantMarkdownLinks.test.ts
Due: none

fix(wework): restore issue attachment downloads (#3041)
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  wework/src/api/deliveries.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/cloudFileTransfer.test.ts
  wework/src/features/todo/cloudFileTransfer.ts
  wework/src/features/todo/task-detail-layout.css
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/blobDownload.test.ts
  wework/src/lib/blobDownload.ts
Due: none

fix(wework): preserve project when opening fork
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
Due: none

fix(wework): restore persisted task pane on startup (#3037)
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/split-workbench.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchSplitGroups.test.tsx
  wework/src/components/layout/useWorkbenchSplitGroups.ts
  wework/src/features/todo/ProjectAutomationView.test.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
Due: none

feat: 修复设置本地代理导致云设备无法使用的问题
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/app/services/device/runtime_rpc_service.py
  backend/app/services/user_runtime_config.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/test_runtime_rpc_service.py
  backend/tests/services/test_user_runtime_config_service.py
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/users.ts
  wework/src/types/api.ts
Due: wegent-backend

fix(knowledge): 修复钉钉在线文档识别与正文导入
  backend/app/services/dingtalk_doc_service.py
  backend/app/services/knowledge/external_document_providers.py
  backend/tests/services/knowledge/test_dingtalk_online_import.py
  backend/tests/services/knowledge/test_external_document_provider_contract.py
  backend/tests/services/test_dingtalk_doc_service.py
  frontend/e2e/tests/knowledge/dingtalk-import.spec.ts
  frontend/e2e/utils/mock-provider-mcp.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(knowledge): 隐藏钉钉导入零值结果并明确处理中含义
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(wework): unify application layouts (#3027)
  design-qa.md
  wework/dsh/ui-applications/src/SitesPage.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src/App.plugins.test.tsx
  wework/src/components/sites/ApplicationContextToolbar.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
  wework/src/components/sites/applicationTypeDefinitions.tsx
  wework/src/components/smart-apps/SmartAppsSectionNav.test.tsx
  wework/src/components/smart-apps/SmartAppsSectionNav.tsx
  wework/src/desktop/localStoragePersistence.test.ts
  wework/src/i18n/locales/en/sites.json
  wework/src/i18n/locales/zh-CN/sites.json
Due: none

test(backend): align request builder fixtures
  backend/tests/services/execution/test_request_builder_mcp.py
  backend/tests/services/execution/test_request_builder_skill_identity.py
Due: wegent-backend

feat: 修复设置本地代理导致云设备无法使用的问题 (#3043)
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/app/services/device/runtime_rpc_service.py
  backend/app/services/user_runtime_config.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/test_runtime_rpc_service.py
  backend/tests/services/test_user_runtime_config_service.py
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/users.ts
  wework/src/types/api.ts
Due: wegent-backend

fix(knowledge): 解耦外部文档预览与索引状态
  backend/app/services/knowledge/orchestrator.py
  backend/tests/api/endpoints/test_external_document_preview.py
  backend/tests/services/knowledge/test_external_document_import_execution.py
  docs/adr/0001-external-document-copy-identity.md
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/use-document-detail.test.ts
  frontend/src/features/knowledge/document/hooks/useDocumentDetail.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

feat(backend): 修复系统智能体模型限制不生效的问题
  backend/app/services/adapters/team_kinds.py
  backend/app/services/chat/config/model_resolver.py
  backend/tests/services/adapters/test_team_kinds_model_restrictions.py
  backend/tests/services/chat/test_model_resolver_bind_model_pointer.py
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/mobile-selector-truncation.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileModelSelector.tsx
Due: wegent-backend, wegent-web

feat(knowledge): 统一添加资料对话框交互
  frontend/src/__tests__/features/knowledge/document/document-list-summary.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-upload-splitter-config.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/DocumentUploadFooter.tsx
  frontend/src/features/knowledge/document/components/FolderSelect.tsx
  frontend/src/features/knowledge/document/components/UploadFileList.tsx
  frontend/src/features/knowledge/document/hooks/useTextDocumentUpload.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): 提升钉钉文档导入列表展示密度
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/DocumentUploadFooter.tsx
  frontend/src/features/knowledge/document/components/FolderSelect.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(wecode): derive department visibility from ERP T2 results
  backend/wecode/api/dept_visibility_admin.py
  backend/wecode/service/dept_visibility.py
  backend/wecode/service/erp_client.py
  backend/wecode/tests/test_dept_visibility.py
  backend/wecode/tests/test_erp_client.py
Due: wegent-backend

fix(executor): enable git warm pool by default
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor_manager/tests/wecode/executors/test_k8s_executor.py
  executor_manager/wecode/config/config.py
Due: wegent-executor-manager

feat(knowledge): 优化添加资料布局与钉钉树形选择
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(e2e): 补齐钉钉导入 remote 检索依赖
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/tests/knowledge/dingtalk-import.spec.ts
  frontend/e2e/utils/external-import-retrieval.ts
  frontend/e2e/utils/external-import-test-support.ts
  frontend/e2e/utils/mock-embedding.ts
  frontend/e2e/utils/mock-model-server.ts
  frontend/src/__tests__/e2e/mock-embedding.test.ts
Due: wegent-web

fix(wework): settle completed chat lifecycle
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.test.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
Due: none

fix(backend): system agent model restrictions
  backend/app/services/adapters/team_kinds.py
  backend/app/services/chat/config/model_resolver.py
  backend/tests/services/adapters/test_team_kinds_model_restrictions.py
  backend/tests/services/chat/test_model_resolver_bind_model_pointer.py
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/mobile-selector-truncation.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileModelSelector.tsx
Due: wegent-backend, wegent-web

fix(e2e): 开启钉钉导入测试的分块保存
  .github/workflows/e2e-tests.yml
Due: none

fix(wework): settle completed chat lifecycle (#3044)
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.test.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
Due: none

docs: explain Wework desktop architecture
  README.md
  README_zh.md
Due: none

fix(knowledge): 修复钉钉文档下子文档缺失
  backend/app/services/dingtalk_doc_service.py
  backend/app/services/dingtalk_wikispace_service.py
  backend/tests/api/test_dingtalk_docs_api.py
  backend/tests/services/test_dingtalk_doc_service.py
  backend/tests/services/test_dingtalk_wikispace_service.py
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
Due: wegent-backend, wegent-web

docs: explain Wework desktop architecture (#3046)
  README.md
  README_zh.md
Due: none

fix(knowledge): 补齐资料校验与外部文档导入状态提示
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/external_document_import.py
  backend/tests/api/endpoints/test_knowledge_external_import.py
  frontend/eslint.config.mjs
  frontend/src/__tests__/apis/knowledge-external-import.test.ts
  frontend/src/__tests__/contexts/SocketContext.reconnect.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-upload-splitter-config.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-document-tree-grid.test.tsx
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DingtalkImportTree.tsx
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/ExternalDocumentBadge.tsx
  frontend/src/features/knowledge/document/components/knowledge-document-tree-grid.tsx
  frontend/src/features/knowledge/document/hooks/useExternalImportStatuses.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(wework): restore embedded browser popup tabs
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/electron/src/host/embedded-browser-manager.test.ts
  wework/electron/src/host/embedded-browser-manager.ts
  wework/src/components/layout/workspace-panels/ElectronEmbeddedBrowserView.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
Due: none

fix(wework): accumulate executor token usage per turn
  docs/en/wework/developer-guide/wework-dsh-executor-sessions.md
  docs/zh/wework/developer-guide/wework-dsh-executor-sessions.md
  wework/dsh/executor-runtime/session-projector.js
  wework/dsh/executor-runtime/session-projector.test.mjs
Due: none

docs: add DingTalk community group
  README.md
  README_zh.md
Due: none

docs: add DingTalk community group (#3047)
  README.md
  README_zh.md
Due: none

fix(wework): prevent issue sidebar content clipping
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/task-detail-layout.css
Due: none

fix(wework): accumulate executor token usage per turn (#3048)
  docs/en/wework/developer-guide/wework-dsh-executor-sessions.md
  docs/zh/wework/developer-guide/wework-dsh-executor-sessions.md
  wework/dsh/executor-runtime/session-projector.js
  wework/dsh/executor-runtime/session-projector.test.mjs
Due: none

fix(frontend): refresh agents before marketplace navigation
  frontend/src/__tests__/features/resource-library/DiscoverResources.test.tsx
  frontend/src/features/resource-library/components/DiscoverResources.tsx
Due: wegent-web

fix(knowledge): 补齐导入返回类型与文件夹测试标识
  backend/app/api/endpoints/knowledge.py
  frontend/src/__tests__/features/knowledge/document/folder-select.test.tsx
  frontend/src/features/knowledge/document/components/FolderSelect.tsx
Due: wegent-backend, wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
