Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): wait for executor idle after turn settlement
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

test(executor): isolate child timeout coverage
  executor/src/process_environment.rs
Due: wegent-executor

feat(wework): show task pull request status
  backend/app/schemas/cloud_project.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/device/command_registry.py
  backend/app/services/device/command_service.py
  backend/tests/api/test_cloud_projects_api.py
  backend/tests/services/test_local_device_command_service.py
  executor/src/local/app_ipc.rs
  executor/src/runtime_work/response.rs
  executor/src/task_runtime/model.rs
  executor/src/task_runtime/store.rs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src/api/changeRequests.test.ts
  wework/src/api/changeRequests.ts
  wework/src/api/deliveries.ts
  wework/src/api/environment.ts
  wework/src/api/local/localDelivery.ts
  wework/src/components/common/ChangeRequestStatusIcon.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/ProjectAutomationView.tsx
  wework/src/features/todo/PullRequestAutomationSettings.test.tsx
  wework/src/features/todo/PullRequestAutomationSettings.tsx
  wework/src/features/workbench/changeRequestMonitor.test.ts
  wework/src/features/workbench/changeRequestMonitor.ts
  wework/src/features/workbench/changeRequestStatus.test.ts
  wework/src/features/workbench/changeRequestStatus.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/environment.ts
Due: wegent-executor, wegent-backend

fix(wework): cancel settlement polling on unmount
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(executor): stabilize Rust 1.98 CI (#2881)
  executor/src/process_environment.rs
  executor/src/server/harness_context.rs
Due: wegent-executor

fix(wework): handle missing workbench services
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

docs(wework): document pull request monitoring
  docs/en/wework/projects.md
  docs/en/wework/workbench.md
  docs/zh/wework/projects.md
  docs/zh/wework/workbench.md
Due: none

fix(wework): guard change request monitoring inputs
  wework/src/api/environment.ts
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

fix(wework): preserve automation continuation model
  wework/src/pages/AutomationsPage.test.tsx
  wework/src/pages/AutomationsPage.tsx
Due: none

fix(wework): settle ephemeral runtime turns from transcript
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(wework): stabilize AI verification control startup (#2868)
  scripts/test-wework-dev-mac-port.sh
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/scripts/dev-mac-app.sh
  wework/src/main.tsx
  wework/src/pages/AutomationsPage.test.tsx
  wework/src/pages/AutomationsPage.tsx
Due: none

fix(wework): handle failed optimistic task errors (#2880)
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/features/workbench/workbenchContextTypes.ts
Due: none

fix(wework): show environment status without remote delay (#2878)
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/types/environment.ts
Due: none

fix(wework): distinguish merged pull request status (#2877)
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
Due: none

fix(wework): align My Work with runtime lifecycle (#2876)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/runtimeMyWork.test.ts
  wework/src/features/todo/runtimeMyWork.ts
Due: none

docs: clarify Wework test coverage review guidance (#2879)
  wework/AGENTS.md
Due: none

fix(wework): use violet icon for merged pull requests
  wework/src/components/common/ChangeRequestStatusIcon.test.tsx
  wework/src/components/common/ChangeRequestStatusIcon.tsx
Due: none

fix(executor): share cargo target across worktrees (#2872)
  docs/en/wegent/developer-guide/setup.md
  docs/zh/wegent/developer-guide/setup.md
  executor/src/agents/cargo_cache.rs
  executor/src/agents/codex.rs
  executor/src/agents/mod.rs
Due: wegent-executor

fix(wework): keep sidebar attachments in messages (#2873)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/modules/path-attachment-flows.mjs
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.test.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
Due: none

feat(wework): show task pull request status (#2883)
  backend/app/schemas/cloud_project.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/device/command_registry.py
  backend/app/services/device/command_service.py
  backend/tests/api/test_cloud_projects_api.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/wework/projects.md
  docs/en/wework/workbench.md
  docs/zh/wework/projects.md
  docs/zh/wework/workbench.md
  executor/src/local/app_ipc.rs
  executor/src/runtime_work/response.rs
  executor/src/task_runtime/model.rs
  executor/src/task_runtime/store.rs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src/api/changeRequests.test.ts
  wework/src/api/changeRequests.ts
  wework/src/api/deliveries.ts
  wework/src/api/environment.ts
  wework/src/api/local/localDelivery.ts
  wework/src/components/common/ChangeRequestStatusIcon.test.tsx
  wework/src/components/common/ChangeRequestStatusIcon.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/ProjectAutomationView.tsx
  wework/src/features/todo/PullRequestAutomationSettings.test.tsx
  wework/src/features/todo/PullRequestAutomationSettings.tsx
  wework/src/features/workbench/changeRequestMonitor.test.ts
  wework/src/features/workbench/changeRequestMonitor.ts
  wework/src/features/workbench/changeRequestStatus.test.ts
  wework/src/features/workbench/changeRequestStatus.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/environment.ts
Due: wegent-executor, wegent-backend

fix(wework): debounce IME draft flushes (#2882)
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
Due: none

fix(wework): select tools across MCP search results
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/scripts/response-protocol.test.mjs
Due: none

fix(project-automation): harden workflow recovery
  backend/app/services/project_chat/service.py
  backend/tests/services/test_project_chat_service.py
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
Due: wegent-backend

feat(smart-apps): add marketplace publishing and sharing
  backend/alembic/versions/20260820_f82c5d1a9e37_add_smart_app_marketplace.py
  backend/app/api/api.py
  backend/app/api/endpoints/smart_apps.py
  backend/app/models/__init__.py
  backend/app/models/share_link.py
  backend/app/models/smart_app_marketplace.py
  backend/app/schemas/smart_app.py
  backend/app/services/marketplace_artifact_storage.py
  backend/app/services/official_smart_app_publisher.py
  backend/app/services/plugin_package_storage.py
  backend/app/services/smart_app_marketplace_service.py
  backend/app/services/smart_app_package_parser.py
  backend/scripts/publish_official_smart_app.py
  backend/tests/db/test_smart_app_schema_audit.py
  backend/tests/services/test_official_smart_app_publisher.py
  backend/tests/services/test_smart_app_marketplace.py
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/harness_apps/tests.rs
  wework/src-tauri/src/lib.rs
  wework/src/App.tsx
  wework/src/api/local/harnessApps.ts
  wework/src/api/smartApps.test.ts
  wework/src/api/smartApps.ts
  wework/src/components/smart-apps/SmartAppsSectionNav.test.tsx
  wework/src/components/smart-apps/SmartAppsSectionNav.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.tsx
  wework/src/features/harness-apps/residentSmartAppsHost.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/HarnessAppsPage.test.tsx
  wework/src/pages/HarnessAppsPage.tsx
  wework/src/pages/SitesPage.tsx
  wework/src/pages/SmartAppsMarketplacePage.test.tsx
  wework/src/pages/SmartAppsMarketplacePage.tsx
Due: wegent-backend

fix(wework): harden cloud runtime E2E
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/scripts/model-option-visibility.test.mjs
  wework/scripts/response-protocol.test.mjs
Due: none

fix(wework): bundle runtimes in minio mac release
  wework/scripts/build-minio-mac-release.sh
  wework/scripts/test_minio_update_channels.py
Due: none

test(executor): consume Claude stdin in skill refresh fixture
  executor/tests/agent_process_engine_contract.rs
Due: wegent-executor

refactor(wework): remove legacy wecode executor management
  wework/README.md
  wework/src-tauri/src/wecode/local_executor.rs
  wework/src-tauri/src/wecode/mod.rs
  wework/src/App.tsx
  wework/wecode/api/local-executor.ts
  wework/wecode/extensions/titlebar.tsx
  wework/wecode/features/local-executor/DeviceOnboardingGate.tsx
  wework/wecode/features/local-executor/DeviceOnboardingPage.tsx
  wework/wecode/features/local-executor/LocalExecutorStartupIndicator.tsx
  wework/wecode/features/local-executor/LocalManagementPage.tsx
  wework/wecode/features/local-executor/LocalManagementSection.tsx
  wework/wecode/features/local-executor/StartupStepTerminal.tsx
  wework/wecode/features/local-executor/local-executor-startup.test.ts
  wework/wecode/features/local-executor/local-executor-startup.ts
  wework/wecode/features/local-executor/local-management-page.integration.test.tsx
  wework/wecode/features/local-executor/localManagementState.ts
  wework/wecode/features/local-executor/useDeviceOnboarding.test.ts
  wework/wecode/features/local-executor/useDeviceOnboarding.ts
  wework/wecode/features/local-executor/useLocalExecutorManagement.ts
  wework/wecode/hooks/useLocalManagementAdvancedSettings.ts
Due: none

feat(auth): add external oauth token provider
  backend/alembic/versions/20260820_e58ee381a7c2_add_oauth_refresh_tokens.py
  backend/app/api/api.py
  backend/app/api/endpoints/admin/oauth_clients.py
  backend/app/api/endpoints/admin/router.py
  backend/app/api/endpoints/oauth_provider.py
  backend/app/core/cache.py
  backend/app/core/security.py
  backend/app/models/__init__.py
  backend/app/models/oauth_refresh_token.py
  backend/app/schemas/oauth_provider.py
  backend/app/services/auth/oauth_provider.py
  backend/app/services/auth/outbound_token_service.py
  backend/tests/api/endpoints/test_oauth_provider_api.py
  backend/tests/core/test_cache_pop.py
  backend/tests/core/test_security.py
  docs/en/architecture/README.md
  docs/en/architecture/external-oauth-provider.md
  docs/en/wegent/user-guide/settings/README.md
  docs/zh/architecture/README.md
  docs/zh/architecture/external-oauth-provider.md
  docs/zh/wegent/user-guide/settings/README.md
  frontend/src/__tests__/apis/oauthProvider.test.ts
  frontend/src/__tests__/app/auth/oauth/authorize/page.test.tsx
  frontend/src/__tests__/features/admin/OAuthClientManagement.test.tsx
  frontend/src/apis/admin.ts
  frontend/src/apis/oauthProvider.ts
  frontend/src/app/auth/oauth/authorize/page.tsx
  frontend/src/components/common/UnifiedAddButton.tsx
  frontend/src/config/paths.ts
  frontend/src/features/admin/components/ApiKeyManagement.tsx
  frontend/src/features/admin/components/OAuthClientManagement.tsx
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(backend): avoid blocking event loop in recovery monitors
  backend/app/services/device_monitor.py
  backend/app/services/execution/agents/video/recovery.py
  backend/tests/services/execution/agents/video/test_recovery.py
  backend/tests/services/test_device_monitor.py
Due: wegent-backend

fix(wework): settle runtime before draining queued messages (#2850)
  docs/en/wegent/user-guide/coding/managing-code-tasks.md
  docs/zh/wegent/user-guide/coding/managing-code-tasks.md
  executor/tests/agent_process_engine_contract.rs
  executor_manager/main.py
  wework/src-tauri/tauri.conf.json
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/index.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
  wework/src/types/workbench.ts
Due: wegent-executor-manager, wegent-executor

fix(wework): resolve hidden vision sidecar models
  backend/app/services/model_aggregation_service.py
  backend/tests/services/test_model_aggregation_service.py
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/types/api.ts
Due: wegent-backend

fix: fix ci
  wework/scripts/lib/wework-updater-signing.sh
  wework/scripts/test_minio_update_channels.py
Due: none

fix(backend): avoid blocking event loop in recovery monitors (#2884)
  backend/app/services/device_monitor.py
  backend/app/services/execution/agents/video/recovery.py
  backend/tests/services/execution/agents/video/test_recovery.py
  backend/tests/services/test_device_monitor.py
Due: wegent-backend

fix(wework): expose IM notifications and send task titles
  backend/app/schemas/runtime_work.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_runtime_work_service.py
  wework/src/api/runtimeWork.test.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/types/api.ts
Due: wegent-backend

chore(wecode): remove legacy wiki defaults
  wecode/docker/backend/.env.example
Due: wegent-backend

docs(wework): document IM notification availability
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix: fix ci
  wework/scripts/lib/codex-code-statistics.sh
  wework/scripts/test_minio_update_channels.py
Due: none
