Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(frontend): change user menu trigger from hover to click (#892)
  frontend/src/features/layout/components/UserFloatingMenu.tsx
Due: wegent-web

feat(mobile): add iOS-style mobile components for chat input toolbar (#926)
  frontend/src/components/ui/drawer.tsx
  frontend/src/features/tasks/components/MobileCorrectionModeToggle.tsx
  frontend/src/features/tasks/components/clarification/MobileClarificationToggle.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/input/SendButton.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/selector/MobileBranchSelector.tsx
  frontend/src/features/tasks/components/selector/MobileModelSelector.tsx
  frontend/src/features/tasks/components/selector/MobileRepositorySelector.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
Due: wegent-web

feat: 修改启动脚本,修改docker-compose file (#925)
  docker-compose.yml
  start.sh
Due: none

fix(skills): 修复组级别技能无法被其他组成员访问的问题 (#904)
  backend/app/api/endpoints/kind/skills.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/skill_kinds.py
  backend/app/services/chat/config/chat_config.py
  executor/agents/claude_code/claude_code_agent.py
  frontend/src/apis/skills.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/SkillListWithScope.tsx
  frontend/src/features/settings/components/skills/SkillUploadModal.tsx
Due: wegent-executor, wegent-backend, wegent-web

fix: fix redis lock (#927)
  backend/app/main.py
Due: wegent-backend

fix(frontend): disable click interaction for knowledge base badges (#922)
  frontend/src/features/tasks/components/message/ContextBadgeList.tsx
Due: wegent-web

feat: 添加任务通知URL配置以支持钉钉移动端通知
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/adapters/executor_kinds.py
  frontend/src/app/jump/page.tsx
  wecode/docker/backend/.env.example
Due: wegent-backend, wegent-web

feat: 添加wegent-outer-web流水线配置
  .gitlab-ci.yml
Due: none

fix: 添加outer-wegent-backend-web到APP变量
  .gitlab-ci.yml
Due: none

refactor: 使用 Suspense 包裹 JumpPage 避免触发 DingTalk 认证重定向
  frontend/src/app/jump/page.tsx
  frontend/src/features/common/AuthGuard.tsx
Due: wegent-web

refactor(wegent-evaluate): optimize metrics tiered display components
  wegent-evaluate/backend/app/services/evaluation_service.py
  wegent-evaluate/frontend/src/app/results/[id]/page.tsx
  wegent-evaluate/frontend/src/components/charts/score-card.tsx
  wegent-evaluate/frontend/src/components/metrics/cross-validation-pair-card.tsx
  wegent-evaluate/frontend/src/components/metrics/difference-indicator.tsx
  wegent-evaluate/frontend/src/components/metrics/metric-card.tsx
  wegent-evaluate/frontend/src/components/metrics/total-score-card.tsx
  wegent-evaluate/frontend/src/components/tables/results-table.tsx
Due: none

refactor(shared): extract task notification URL builder to url_util.py
  backend/app/services/adapters/executor_kinds.py
  shared/utils/url_util.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(pipeline): add stage confirmation for pipeline mode teams (#878)
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/schemas/kind.py
  backend/app/schemas/subtask.py
  backend/app/schemas/task.py
  backend/app/schemas/team.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/pipeline_stage.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/adapters/team_kinds.py
  backend/tests/services/attachment/test_parser.py
  executor/agents/agno/agno_agent.py
  executor/agents/claude_code/claude_code_agent.py
  frontend/e2e/tests/api/chat-image-api.spec.ts
  frontend/public/mockServiceWorker.js
  frontend/src/apis/tasks.ts
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/TeamModeEditor.tsx
  frontend/src/features/settings/components/team-modes/BotTransfer.tsx
  frontend/src/features/settings/components/team-modes/PipelineModeEditor.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/PipelineStageIndicator.tsx
  frontend/src/features/tasks/components/message/ContextBadgeList.tsx
  frontend/src/features/tasks/components/message/FinalPromptMessage.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
  shared/models/db/enums.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

feat(backend): add custom MCP server support via API (#914)
  backend/app/schemas/openapi_response.py
  backend/app/services/chat/adapters/http.py
  backend/app/services/chat/adapters/interface.py
  backend/app/services/chat/trigger/core.py
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/helpers.py
  backend/app/services/openapi/mcp.py
  backend/tests/services/openapi/test_chat_response.py
  chat_shell/chat_shell/agent.py
  chat_shell/tests/test_agent.py
  chat_shell/tests/test_messages.py
Due: wegent-backend

feat: 暂时配置date_url
  wecode/docker/chat_shell/.env.example
Due: none

refactor(mcp): decouple chat_shell from direct database access for bot MCP config (#932)
  backend/app/api/api.py
  backend/app/api/endpoints/internal/__init__.py
  backend/app/api/endpoints/internal/bots.py
  backend/app/services/chat/adapters/http.py
  backend/app/services/chat/adapters/interface.py
  backend/app/services/openapi/chat_response.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/tools/mcp/loader.py
Due: wegent-backend

fix(frontend): restore QuoteCard in ChatInputCard for text selection quote feature (#933)
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
Due: wegent-web

refactor(chat_shell): unify MCP config format and reduce log verbosity (#934)
  backend/app/services/chat/trigger/core.py
  backend/app/services/openapi/chat_response.py
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/api/v1/response.py
  chat_shell/chat_shell/main.py
  chat_shell/chat_shell/models/factory.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/skills/registry.py
  chat_shell/chat_shell/tools/builtin/load_skill.py
  chat_shell/chat_shell/tools/events.py
  chat_shell/chat_shell/tools/mcp/client.py
  chat_shell/chat_shell/tools/skill_factory.py
Due: wegent-backend

feat: 优化启动脚本;更正uv python版本 (#931)
  backend/pyproject.toml
  chat_shell/pyproject.toml
  executor/pyproject.toml
  executor_manager/pyproject.toml
  start.sh
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(knowledge): add table URL validation for data source (#928)
  backend/app/api/api.py
  backend/app/api/endpoints/internal/__init__.py
  backend/app/api/endpoints/internal/tables.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/tables.py
  backend/app/schemas/knowledge.py
  backend/app/services/tables/__init__.py
  backend/app/services/tables/base.py
  backend/app/services/tables/models.py
  backend/app/services/tables/providers/__init__.py
  backend/app/services/tables/providers/dingtalk/__init__.py
  backend/app/services/tables/providers/dingtalk/client.py
  backend/app/services/tables/providers/dingtalk/config.py
  backend/app/services/tables/providers/dingtalk/provider.py
  backend/app/services/tables/providers/dingtalk/user_mapping.py
  backend/app/services/tables/service.py
  chat_shell/chat_shell/services/chat_service.py
  chat_shell/chat_shell/tables/__init__.py
  chat_shell/chat_shell/tables/base.py
  chat_shell/chat_shell/tables/dingtalk.py
  chat_shell/chat_shell/tables/dingtalk_user_mapping.py
  chat_shell/chat_shell/tables/service.py
  chat_shell/chat_shell/tools/builtin/data_table.py
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/EditDocumentDialog.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat: 添加缓存模块和配置
  backend/wecode/cache/__init__.py
  backend/wecode/cache/base.py
  backend/wecode/cache/kinds.py
  backend/wecode/cache/users.py
  wecode/docker/backend/.env.example
Due: wegent-backend

fix: 更新 Redis URL 配置
  wecode/docker/backend/.env.example
Due: wegent-backend

feat: 添加readers包并更新用户读取逻辑 (#935)
  backend/app/api/endpoints/openapi_responses.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/services/openapi/chat_response.py
  backend/app/services/openapi/chat_session.py
  backend/app/services/openapi/helpers.py
  backend/app/services/openapi/mcp.py
  backend/app/services/readers/__init__.py
  backend/app/services/readers/kinds.py
  backend/app/services/readers/users.py
Due: wegent-backend

更新配置文件
  wecode/docker/backend/.env.example
Due: wegent-backend

refactor: 修改TableQueryResponse字段名& fix包引用 (#936)
  backend/app/services/tables/models.py
  backend/app/services/tables/providers/dingtalk/provider.py
Due: wegent-backend

Wegent/pipeline stage confirmation (#937)
  backend/app/services/adapters/pipeline_stage.py
  backend/app/services/adapters/task_kinds.py
  executor/agents/claude_code/claude_code_agent.py
  frontend/src/features/tasks/components/chat/PipelineStageIndicator.tsx
Due: wegent-executor, wegent-backend, wegent-web

fix: update default column
  shared/models/db/subtask.py
Due: wegent-executor-manager, wegent-executor

fix: fix team groups (#939)
  backend/app/services/adapters/pipeline_stage.py
Due: wegent-backend

fix: fix ut
  backend/tests/api/test_openapi_responses.py
Due: wegent-backend

fix: 优化启动脚本 (#938)
  start.sh
Due: none

fix: fix pipeline error in groups
  backend/app/services/adapters/pipeline_stage.py
Due: wegent-backend

feat(frontend): improve pipeline connector line color logic
  frontend/src/features/tasks/components/chat/PipelineStageIndicator.tsx
Due: wegent-web

refactor(frontend): address CodeRabbit review feedback
  frontend/src/features/tasks/components/chat/PipelineStageIndicator.tsx
Due: wegent-web

feat: update pod template
  executor_manager/wecode/executors/k8s/pod_template.yaml
Due: wegent-executor-manager

feat: block github push
  frontend/.husky/pre-push
  scripts/hooks/block-github-push.sh
Due: wegent-web

feat: support chat shell publish
  .github/workflows/publish-image.yml
Due: none

feat(forms): add unified form submission system
  backend/alembic/versions/q7r8s9t0u1v2_add_form_submissions_table.py
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/forms.py
  backend/app/api/ws/events.py
  backend/app/models/__init__.py
  backend/app/models/form_submission.py
  backend/app/schemas/form.py
  backend/app/services/forms/__init__.py
  backend/app/services/forms/base_handler.py
  backend/app/services/forms/handlers/__init__.py
  backend/app/services/forms/handlers/clarification_handler.py
  backend/app/services/forms/handlers/final_prompt_handler.py
  backend/app/services/forms/handlers/pipeline_confirmation_handler.py
  backend/app/services/forms/registry.py
  backend/app/services/forms/service.py
  backend/tests/services/forms/__init__.py
  backend/tests/services/forms/test_handlers.py
  backend/tests/services/forms/test_registry.py
  backend/uv.lock
  frontend/src/__tests__/features/tasks/components/forms/GenericForm.test.tsx
  frontend/src/apis/forms.ts
  frontend/src/features/tasks/components/forms/FormFieldRenderer.tsx
  frontend/src/features/tasks/components/forms/GenericForm.tsx
  frontend/src/features/tasks/components/forms/fields/DateTimePickerField.tsx
  frontend/src/features/tasks/components/forms/fields/MultipleChoiceField.tsx
  frontend/src/features/tasks/components/forms/fields/NumberInputField.tsx
  frontend/src/features/tasks/components/forms/fields/SingleChoiceField.tsx
  frontend/src/features/tasks/components/forms/fields/TextInputField.tsx
  frontend/src/features/tasks/components/forms/fields/index.ts
  frontend/src/features/tasks/components/forms/hooks/index.ts
  frontend/src/features/tasks/components/forms/hooks/useFormSubmission.ts
  frontend/src/features/tasks/components/forms/index.ts
  frontend/src/types/form.ts
Due: wegent-backend, wegent-web

feat(frontend): auto-refresh task list on page visibility and WebSocket reconnect
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(backend): correct fixture naming in form handler tests
  backend/tests/services/forms/test_handlers.py
Due: wegent-backend
