Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

perf(ci): run full desktop coverage in one runner wave
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
Due: none

feat(wework): add notification channel preferences (#3749)
  backend/app/api/endpoints/wework_notifications.py
  backend/app/models/knowledge_artifact.py
  backend/app/models/loop_item_execution.py
  backend/app/models/marketplace_resource.py
  backend/app/models/oauth_refresh_token.py
  backend/app/models/project_chat_message.py
  backend/app/models/wework_notification.py
  backend/app/schemas/wework_notification.py
  backend/app/services/wework_notification_preferences.py
  backend/app/services/wework_notifications.py
  backend/tests/services/knowledge/test_artifact_repository.py
  backend/tests/services/test_wework_notifications.py
  docs/en/wegent/user-guide/wework-notifications.md
  docs/zh/wegent/user-guide/integrations/dingtalk-chat-cards.md
  docs/zh/wegent/user-guide/wework-notifications.md
  wework/DESIGN.md
  wework/dsh/transcript-sync/index.js
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/api/notifications.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/AppshotsSettingsPage.test.tsx
  wework/src/components/settings/BrowserSettingsPage.test.tsx
  wework/src/components/settings/ContextSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/desktop/appPreferences.test.ts
  wework/src/desktop/appPreferences.ts
  wework/src/features/notifications/NotificationCenter.test.tsx
  wework/src/features/notifications/NotificationCenter.tsx
  wework/src/features/notifications/notificationPreferences.test.ts
  wework/src/features/notifications/notificationPreferences.ts
  wework/src/features/todo/AnchorPopover.tsx
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/styles/globals.css
Due: wegent-backend

fix(wework): stabilize project AI runtime conversations
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/store.rs
  packages/collaboration/src/project-manage/ProjectAiBoardAssistant.test.tsx
  packages/collaboration/src/project-manage/ProjectAiBoardAssistant.tsx
  packages/collaboration/src/project-manage/ProjectManagerConversation.tsx
  packages/collaboration/src/project-manage/index.ts
  packages/collaboration/src/project-manage/projectManagerConversationMessages.ts
  wework/src/desktop/appPreferences.test.ts
  wework/src/desktop/appPreferences.ts
  wework/src/features/todo/ProjectAiDesktopComposer.test.tsx
  wework/src/features/todo/ProjectAiDesktopComposer.tsx
  wework/src/features/todo/ProjectAiDesktopConversation.test.ts
  wework/src/features/todo/ProjectAiDesktopConversation.tsx
  wework/src/features/todo/projectAiConversationMessages.ts
Due: wegent-executor

fix(executor): avoid reserved Codex provider overrides
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/tests/codex_app_server_contract.rs
  pnpm-lock.yaml
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/codex-invalid-launch-cwd.scenario.mjs
  wework/package.json
Due: wegent-executor

fix(wework): stop repeated board transcript preloads (#3748)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/handler/helpers/runtime.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/board-transcript-preload.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/features/plugins/PluginAutoUpdateCoordinator.test.tsx
  wework/src/features/plugins/PluginAutoUpdateCoordinator.tsx
  wework/src/features/plugins/pluginAutoUpdate.test.ts
  wework/src/features/plugins/pluginAutoUpdate.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: wegent-executor

test(wework): keep desktop websocket fixture self-contained
  pnpm-lock.yaml
  wework/e2e/desktop/scenarios/codex-invalid-launch-cwd.scenario.mjs
  wework/package.json
Due: none

fix(executor): avoid reserved Codex provider overrides
  executor/src/agents/codex.rs
  executor/tests/codex_app_server_contract.rs
Due: wegent-executor

fix(executor): avoid reserved Codex provider overrides (#3751)
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/tests/codex_app_server_contract.rs
  pnpm-lock.yaml
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/codex-invalid-launch-cwd.scenario.mjs
Due: wegent-executor

fix(backend): convert HTML to markdown before sending DingTalk notifications
  backend/app/services/channels/dingtalk/markdown.py
  backend/app/services/subscription/notification_dispatcher.py
  backend/tests/services/channels/dingtalk/test_markdown.py
Due: wegent-backend

fix(collaboration): clarify managed issue activity
  executor/src/task_runtime/local_automation.rs
  executor/src/task_runtime/store.rs
  packages/collaboration/src/issue-detail/IssueActivityPresentation.tsx
  packages/collaboration/src/issue-detail/IssueChatMessage.tsx
  packages/collaboration/src/issue-detail/activityMessages.ts
  packages/collaboration/src/issue-detail/issueTaskSummary.ts
  wework/e2e/desktop/scenarios/collaboration-local-agent-capabilities.scenario.mjs
  wework/src/features/todo/IssueManagerEvent.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
Due: wegent-executor

perf(ci): align Linux desktop Rust cache profile
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
Due: none

fix(wework): reclassify completed commentary output
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/events.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: wegent-executor

perf(ci): reuse Rust E2E runtimes
  .github/scripts/classify-ci-changes.sh
  .github/scripts/restore-oci-runtime-binary.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/scripts/test-restore-oci-runtime-binary.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/wework-e2e.yml
  docker/wework-e2e/desktop.Dockerfile
  wework/scripts/build-ai-verify-electron.mjs
  wework/scripts/desktop-resource-migration.test.mjs
Due: none

fix(executor): reuse fallback id for commentary completion
  executor/src/runtime_work/events.rs
Due: wegent-executor

perf(ci): shorten desktop e2e critical paths
  .github/scripts/restore-oci-runtime-binary.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  executor/tests/plugin_account_auth_contract.rs
  wework/e2e/desktop/checkpoint-scheduler.mjs
  wework/e2e/desktop/checkpoint-scheduler.test.mjs
  wework/e2e/desktop/scenarios/project-space-ai-manager.scenario.mjs
  wework/electron/scripts/prepare-package-assets.mjs
  wework/scripts/build-ai-verify-electron.mjs
  wework/scripts/desktop-resource-migration.test.mjs
Due: wegent-executor

fix(collaboration): preserve workflow outcomes during runtime projection
  backend/app/services/project_chat/service.py
  backend/app/services/project_workflow_projection.py
  backend/tests/services/test_project_chat_service.py
  packages/collaboration/src/SharedIssueDetailEditor.tsx
  packages/collaboration/src/platform/CollaborationPlatformApp.test.tsx
Due: wegent-backend

fix(wework): reclassify completed commentary output (#3753)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/events.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: wegent-executor

perf(ci): cache macOS desktop runtimes
  .github/scripts/build-macos-e2e-runtimes.sh
  .github/scripts/test-build-macos-e2e-runtimes.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  wework/e2e/desktop/modules/local-board-unread.mjs
Due: none

fix(ci): allow branch cache warmups
  .github/workflows/ci-cache-warmup.yml
Due: none

perf(ci): distribute macOS runtimes via OCI
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/publish-macos-e2e-runtime-oci.sh
  .github/scripts/restore-macos-e2e-runtime-oci.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/scripts/test-macos-e2e-runtime-oci.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
Due: none

fix(ci): use supported oras release
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
Due: none

perf(ci): reuse Wework desktop builds
  .github/actions/build-wework-core-e2e/action.yml
  .github/scripts/classify-ci-cache-warmup.sh
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/publish-wework-core-e2e-build-oci.sh
  .github/scripts/resolve-wework-core-e2e-build-ref.sh
  .github/scripts/restore-wework-core-e2e-build-oci.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/scripts/test-wework-core-e2e-build-oci.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/lib/workbenchComposerFocus.ts
Due: none

fix(ci): trust checked out workspace for build key
  .github/scripts/resolve-wework-core-e2e-build-ref.sh
  .github/scripts/test-wework-core-e2e-build-oci.sh
Due: none

fix(ci): stabilize desktop e2e critical path
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/e2e/desktop/scenarios/collaboration-local-agent-capabilities.scenario.mjs
  wework/e2e/desktop/scenarios/collaboration-local-executor-issue-tools.scenario.mjs
  wework/e2e/desktop/scenarios/project-space-ai-manager.scenario.mjs
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
Due: none

fix(wework): route native subagent transcripts
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: wegent-executor

test(wework): await parent subagent completion
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

perf(ci): shorten desktop e2e critical path
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/e2e/desktop/modules/path-attachment-flows.mjs
  wework/e2e/desktop/modules/plugin-upgrade-flow.mjs
  wework/src/components/plugins/workspace/marketplaceWorkspaceHelpers.test.ts
  wework/src/components/plugins/workspace/marketplaceWorkspaceHelpers.ts
Due: none

fix(e2e): export model request timeout
  wework/e2e/desktop/modules/shared.mjs
Due: none

perf(ci): cache macOS desktop e2e build
  .github/scripts/archive-wework-macos-e2e-build.sh
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/resolve-wework-macos-e2e-build-ref.sh
  .github/scripts/restore-wework-macos-e2e-build.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/scripts/test-wework-macos-e2e-build.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
Due: none

fix(ci): support macOS system bash
  .github/scripts/resolve-wework-macos-e2e-build-ref.sh
  .github/scripts/test-wework-macos-e2e-build.sh
Due: none

fix(wework): resolve remote project task bindings
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/lib/runtime-project-state.test.ts
  wework/src/lib/runtime-project-state.ts
Due: none

fix(e2e): await cloud identity probe
  .github/scripts/test-wework-macos-e2e-build.sh
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
Due: none

test(wework): verify restored subagent partial output
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

fix(wework): normalize remote project task bindings
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
Due: none

fix(e2e): await collaboration board navigation
  wework/e2e/desktop/modules/collaboration-issue-home.mjs
Due: none

test(wework): reject restored child final leakage
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

test(wework): isolate timing-sensitive checkpoints
  wework/e2e/desktop/checkpoint-scheduler.mjs
  wework/e2e/desktop/checkpoint-scheduler.test.mjs
  wework/e2e/desktop/run-checkpoints.mjs
Due: none

test(wework): bound desktop checkpoint concurrency
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/run-checkpoints.mjs
Due: none
