Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): support standard MCP plugin configs (#2854)
  backend/app/services/plugin_package_parser.py
  backend/tests/services/test_plugin_package_parser.py
  docs/en/architecture/README.md
  docs/en/architecture/agent-plugin-mcp-compatibility.md
  docs/en/architecture/embedded-browser.md
  docs/zh/architecture/README.md
  docs/zh/architecture/agent-plugin-mcp-compatibility.md
  docs/zh/architecture/embedded-browser.md
  wework/e2e/desktop/modules/plugin-flows.mjs
  wework/scripts/ai-verify.mjs
  wework/src-tauri/bundled-plugins/wework-plugin-example/.mcp.json
  wework/src-tauri/bundled-plugins/wework-plugin-example/README.md
  wework/src-tauri/src/agent_plugins.rs
  wework/src-tauri/src/agent_plugins_tests.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/plugins/PluginImportDialog.tsx
  wework/src/components/plugins/mcp-json-import.test.ts
  wework/src/components/plugins/mcp-json-import.ts
  wework/src/e2e/automation.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(wework): add embedded browser browsing history (#2853)
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/data_clearing.rs
  wework/src-tauri/src/embedded_browser/history.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/settings/BrowserHistoryPage.test.tsx
  wework/src/components/settings/BrowserHistoryPage.tsx
  wework/src/components/settings/BrowserSettingsPage.test.tsx
  wework/src/components/settings/BrowserSettingsPage.tsx
  wework/src/components/settings/ClearBrowserDataDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/embedded-browser-history.test.ts
  wework/src/lib/embedded-browser-history.ts
  wework/src/lib/embedded-browser.ts
  wework/src/plugin-runtime/core-settings-data.tsx
Due: none

fix(project-automation): harden workflow lifecycle
  backend/app/api/endpoints/deliveries.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/schemas/issue_workflow.py
  backend/app/services/issue_workflow_planning.py
  backend/app/services/issue_workflow_start.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/project_automation_execution.py
  backend/tests/services/test_issue_workflow_planning.py
  backend/tests/services/test_issue_workflow_start.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_automation_runtime.py
  backend/tests/services/test_project_chat_service.py
  backend/tests/services/test_robot_queue_tasks.py
  docs/en/architecture/issue-task-workflow.md
  docs/en/architecture/project-execution-state.md
  docs/en/architecture/project-space-agent-capability.md
  docs/zh/architecture/issue-task-workflow.md
  docs/zh/architecture/project-execution-state.md
  docs/zh/architecture/project-space-agent-capability.md
  executor/src/task_runtime/mcp_http.rs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tsx
Due: wegent-executor, wegent-backend

fix(runtime): keep large cloud transcripts online (#2823)
  backend/app/api/ws/wework_runtime_namespace.py
  backend/app/services/device/runtime_rpc_service.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  backend/tests/services/knowledge/test_orchestrator.py
  backend/tests/services/test_runtime_rpc_service.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/local/backend.rs
  executor/src/local/backend/runtime_rpc_encoding.rs
  executor/src/local/backend/socket_transport.rs
  executor/tests/local_backend_contract.rs
  executor/tests/local_backend_resilience_contract.rs
  wework/src/api/backend/runtimeIpc.test.ts
  wework/src/api/backend/runtimeIpc.ts
Due: wegent-executor, wegent-backend

fix(wework): serialize runtime task pin mutations
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
Due: none

fix(wework): default applications to smart apps (#2862)
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/src/App.plugins.test.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
Due: none

fix(wework): disable embedded browser inspector
  docs/en/architecture/embedded-browser.md
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/architecture/embedded-browser.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  wework/src-tauri/build.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
Due: none

fix(wework): handle rejected task pin mutations
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchProjectActions.ts
Due: none

chore(wework): upgrade DeepSeek Harness to rc8
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/plugins-and-skills.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/harness-runtime/package.json
  wework/harness-runtime/plugins/wework-model-context/package.json
  wework/harness-runtime/plugins/wework-user-context/package.json
  wework/harness-runtime/pnpm-lock.yaml
  wework/harness-runtime/pnpm-workspace.yaml
  wework/package.json
  wework/src-tauri/src/harness_apps/tests.rs
  wework/src/features/harness-apps/HarnessAppInstallDialog.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/pages/HarnessAppsPage.test.tsx
Due: none

feat(wework): add managed execution environments
  .github/workflows/wework-app.yml
  docs/en/architecture/README.md
  docs/en/architecture/deepseek-harness-apps.md
  docs/en/architecture/execution-environments.md
  docs/zh/architecture/README.md
  docs/zh/architecture/deepseek-harness-apps.md
  docs/zh/architecture/execution-environments.md
  wework/package.json
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-execution-runtime.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src-tauri/bundled-execution-runtimes/node.json
  wework/src-tauri/src/execution_environments.rs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src-tauri/src/process_environment.rs
  wework/src-tauri/tauri.conf.json
  wework/src/components/settings/ExecutionEnvironmentsSettingsPage.test.tsx
  wework/src/components/settings/ExecutionEnvironmentsSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/plugin-runtime/core-settings-data.tsx
  wework/src/tauri/executionEnvironments.ts
Due: none

fix(wework): preserve workflow task detail after send
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

chore(wework): upgrade DeepSeek Harness to rc8 (#2864)
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/plugins-and-skills.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/harness-runtime/package.json
  wework/harness-runtime/plugins/wework-model-context/package.json
  wework/harness-runtime/plugins/wework-user-context/package.json
  wework/harness-runtime/pnpm-lock.yaml
  wework/harness-runtime/pnpm-workspace.yaml
  wework/package.json
  wework/src-tauri/src/harness_apps/tests.rs
  wework/src/features/harness-apps/HarnessAppInstallDialog.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/pages/HarnessAppsPage.test.tsx
Due: none

feat(wework): add managed execution environments (#2863)
  .github/workflows/wework-app.yml
  docs/en/architecture/README.md
  docs/en/architecture/deepseek-harness-apps.md
  docs/en/architecture/execution-environments.md
  docs/zh/architecture/README.md
  docs/zh/architecture/deepseek-harness-apps.md
  docs/zh/architecture/execution-environments.md
  wework/package.json
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-execution-runtime.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src-tauri/bundled-execution-runtimes/node.json
  wework/src-tauri/src/execution_environments.rs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src-tauri/src/process_environment.rs
  wework/src-tauri/tauri.conf.json
  wework/src/components/settings/ExecutionEnvironmentsSettingsPage.test.tsx
  wework/src/components/settings/ExecutionEnvironmentsSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/plugin-runtime/core-settings-data.tsx
  wework/src/tauri/executionEnvironments.ts
Due: none

fix(executor): preserve completed active turns
  docs/en/architecture/project-execution-state.md
  docs/zh/architecture/project-execution-state.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/runtime_handle_messages.rs
Due: wegent-executor

fix(executor-manager): persist hourly logs
  docker-compose.yml
  executor_manager/main.py
  shared/logger.py
  shared/tests/test_logger.py
Due: wegent-executor-manager, wegent-executor

fix(logging): handle hourly archive edge cases
  docker-compose.yml
  shared/logger.py
  shared/tests/test_logger.py
Due: wegent-executor-manager, wegent-executor

feat: 支持自动下载功能
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/settings/AboutSettingsPage.test.tsx
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/features/app-update/AppUpdateProvider.test.tsx
  wework/src/features/app-update/AppUpdateProvider.tsx
  wework/src/features/app-update/app-update-context.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/app-updater.test.ts
  wework/src/lib/app-updater.ts
Due: none

fix(wework): stabilize sidebar pin updates and browser e2e
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): show PR status without diff delay (#2851)
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  executor/src/local/app_ipc.rs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
Due: wegent-executor, wegent-backend

fix(wework): align minio release runtime assets
  wework/scripts/build-minio-mac-release.sh
  wework/scripts/build-minio-windows-release.sh
  wework/scripts/collect-release-runtime-assets.mjs
  wework/scripts/collect-release-runtime-assets.test.mjs
  wework/scripts/minio_release_assets.py
  wework/scripts/test_minio_update_channels.py
  wework/scripts/upload-mac-release-to-s3.py
  wework/scripts/upload-windows-release-to-s3.py
Due: none

test(wework): synchronize browser loading assertions
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
Due: none

fix(executor-manager): persist hourly logs (#2866)
  docker-compose.yml
  executor_manager/main.py
  shared/logger.py
  shared/tests/test_logger.py
Due: wegent-executor-manager, wegent-executor

fix(wework): detach embedded browser inspector
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  docs/en/architecture/embedded-browser.md
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/architecture/embedded-browser.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  wework/e2e/desktop/scenarios/embedded-browser-toolbar-actions.scenario.mjs
  wework/scripts/ai-verify.mjs
  wework/src-tauri/build.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/embedded_browser_devtools.rs
  wework/src-tauri/src/lib.rs
  wework/src/e2e/automation.ts
Due: none

test(wework): stabilize harness version timing
  wework/src-tauri/src/local_terminal.rs
Due: none

fix(project-automation): isolate stale workflow state
  backend/app/services/issue_workflow_start.py
  backend/app/services/project_automation_execution.py
  backend/tests/mcp_server/test_wework_space.py
  backend/tests/services/test_issue_workflow_start.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_automation_runtime.py
  executor/src/hooks/command.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/runtime_handle_messages.rs
Due: wegent-executor, wegent-backend

fix(wework): rename smart apps to smart workbench
  docs/zh/wework/plugins-and-skills.md
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src-tauri/bundled-plugins/wework-personal/plugins/smart-app-builder/.codex-plugin/plugin.json
  wework/src-tauri/bundled-plugins/wework-personal/plugins/smart-app-builder/skills/create-smart-app/SKILL.md
  wework/src/App.plugins.test.tsx
  wework/src/components/settings/ExecutionEnvironmentsSettingsPage.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
  wework/src/components/smart-apps/SmartAppsSectionNav.tsx
  wework/src/features/harness-apps/HarnessAppInstallDialog.test.tsx
  wework/src/features/harness-apps/HarnessAppInstallDialog.tsx
  wework/src/features/harness-apps/HarnessAppLaunchSurface.tsx
  wework/src/features/plugins/pluginTrial.test.ts
  wework/src/features/workspace-tabs/WorkspaceTabStrip.tsx
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/i18n/locales/zh-CN/sites.json
  wework/src/main.tsx
  wework/src/pages/HarnessAppsPage.tsx
  wework/src/pages/SmartAppsMarketplacePage.test.tsx
  wework/src/pages/SmartAppsMarketplacePage.tsx
Due: none

fix(wework): restore titlebar actions after smart apps
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src/App.tsx
  wework/src/WorkspaceTabSurface.test.tsx
Due: none

fix: fix ci
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): flush issue descriptions on blur
  wework/src/features/todo/TaskDescriptionEditor.tsx
Due: none

fix(chat): 停止普通视频附件的预览下载
  frontend/src/__tests__/features/tasks/components/input/AttachmentPreview.media-cards.test.tsx
  frontend/src/apis/attachments.ts
  frontend/src/features/tasks/components/input/AttachmentPreview.tsx
Due: wegent-web

test(wework): disambiguate provider model selection
  wework/e2e/desktop/modules/shared.mjs
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
Due: none

fix(wework): close queued message races
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/types/workbench.ts
Due: none

Revert "test(wework): disambiguate provider model selection"
  wework/e2e/desktop/modules/shared.mjs
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
Due: none

test(wework): stabilize interaction tests
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
Due: none

test(wework): disambiguate desktop model selection
  wework/e2e/desktop/modules/shared.mjs
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
  wework/src/features/todo/IssueComposer.test.tsx
  wework/src/features/todo/TaskDescriptionEditor.tsx
Due: none

test(wework): stabilize git credential validation
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none
