Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: address CodeRabbit review feedback
  backend/app/api/endpoints/adapter/tasks.py
  executor/envd/api/routes.py
  frontend/src/features/tasks/components/workbench/Workbench.tsx
  frontend/src/features/tasks/components/workbench/WorkspaceFiles.tsx
Due: wegent-executor, wegent-backend, wegent-web

refactor: refactor all 2
  backend/app/api/endpoints/internal/callback.py
  backend/app/services/execution/dispatcher.py
  chat_shell/chat_shell/api/v1/__init__.py
  chat_shell/chat_shell/api/v1/response.py
  chat_shell/chat_shell/api/v1/schemas.py
  executor/agents/base.py
  executor/callback/__init__.py
  executor/callback/callback_client.py
  executor/callback/callback_handler.py
  executor/modes/local/events.py
  executor/modes/local/progress_reporter.py
  executor/tasks/status_sync.py
  executor_manager/routers/routers.py
  frontend/src/features/tasks/components/message/thinking/MixedContentView.tsx
  shared/models/__init__.py
  shared/models/emitter.py
  shared/models/responses_api.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix: fix dependency
  backend/uv.lock
  executor/callback/__init__.py
  executor/pyproject.toml
  executor/tests/agents/test_base.py
  executor/tests/agents/test_dify_agent.py
  executor/uv.lock
  executor_manager/tests/executors/test_docker_executor.py
  executor_manager/uv.lock
  shared/pyproject.toml
  shared/uv.lock
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix: fix dependency
  chat_shell/uv.lock
Due: none

fix(relay-server): improve auto-attach stability and connection wait
  deps/browser/relay-server/chrome-extension/background.js
  deps/browser/relay-server/package-lock.json
  deps/browser/relay-server/package.json
  deps/browser/relay-server/src/tool.ts
Due: none

feat(backend): add structured data query support for knowledge base
  backend/app/api/endpoints/internal/rag.py
  backend/app/core/config.py
  backend/app/schemas/kind.py
  backend/app/schemas/rag.py
  backend/app/services/knowledge/structured/__init__.py
  backend/app/services/knowledge/structured/duckdb_storage.py
  backend/app/services/knowledge/structured/engine.py
  backend/app/services/knowledge/structured/schema_extractor.py
  backend/app/services/knowledge/structured/sql_validator.py
  backend/app/services/knowledge/structured/text_to_sql.py
  backend/app/services/rag/retrieval_service.py
  backend/pyproject.toml
  backend/tests/services/knowledge/__init__.py
  backend/tests/services/knowledge/structured/__init__.py
  backend/tests/services/knowledge/structured/test_duckdb_storage.py
  backend/tests/services/knowledge/structured/test_schema_extractor.py
  backend/tests/services/knowledge/structured/test_sql_validator.py
  backend/tests/services/knowledge/structured/test_text_to_sql.py
  backend/uv.lock
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  docs/en/developer-guide/structured-data-query-design.md
Due: wegent-backend

fix(frontend): prevent repo selector auto-open when disabled
  frontend/src/features/tasks/components/selector/UnifiedRepositorySelector.tsx
Due: wegent-web

refactor: update import button text to Edit in i18n
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/tasks/components/selector/UnifiedRepositorySelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

refactor: update import button text to Edit in i18n (#534)
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/tasks/components/selector/UnifiedRepositorySelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(frontend): limit gradient width to avoid scrollbar overlap (#474)
  frontend/src/features/tasks/components/chat/ChatArea.tsx
Due: wegent-web

fix(frontend): prevent clear button click when repo selector disabled
  frontend/src/features/tasks/components/selector/UnifiedRepositorySelector.tsx
Due: wegent-web

fix(backend): address CodeRabbit review feedback for structured query
  backend/app/api/endpoints/internal/rag.py
  backend/app/services/knowledge/structured/duckdb_storage.py
  backend/app/services/knowledge/structured/engine.py
  backend/app/services/knowledge/structured/sql_validator.py
  backend/app/services/knowledge/structured/text_to_sql.py
  backend/tests/services/knowledge/structured/test_schema_extractor.py
  backend/tests/services/knowledge/structured/test_sql_validator.py
  backend/tests/services/knowledge/structured/test_text_to_sql.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  docs/zh/developer-guide/structured-data-query-design.md
Due: wegent-backend

fix(browser): add P1 interaction support and refine browser skill
  backend/init_data/skills/browser/SKILL.md
  deps/browser/relay-server/src/actions.ts
  deps/browser/relay-server/src/tool.ts
Due: wegent-backend

feat: 添加对工具参数的支持
  backend/app/services/execution/dispatcher.py
  chat_shell/chat_shell/api/v1/response.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat: 添加对工具参数的支持 (#538)
  backend/app/services/execution/dispatcher.py
  chat_shell/chat_shell/api/v1/response.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(knowledge): fix organization knowledge base display and indexing issues
  backend/alembic/versions/z6a7b8c9d0e1_add_namespace_level.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/rag.py
  backend/app/api/endpoints/web_scraper.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/app/services/share/knowledge_share_service.py
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPage.tsx
  frontend/src/features/settings/components/groups/CreateGroupDialog.tsx
  frontend/src/features/settings/components/groups/EditGroupDialog.tsx
  frontend/src/features/settings/components/groups/GroupManager.tsx
Due: wegent-backend, wegent-web

fix(backend): address additional CodeRabbit review feedback
  backend/app/services/knowledge/structured/duckdb_storage.py
  backend/app/services/knowledge/structured/sql_validator.py
  backend/tests/services/knowledge/structured/test_text_to_sql.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  docs/en/developer-guide/structured-data-query-design.md
  docs/zh/developer-guide/structured-data-query-design.md
Due: wegent-backend

fix: fix executor manager
  backend/app/core/config.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/request_builder.py
  backend/pyproject.toml
  backend/uv.lock
  docker/executor/Dockerfile
  executor/agents/claude_code/response_processor.py
  executor/app.py
  executor/build.sh
  executor/callback/callback_handler.py
  executor/executor.spec
  executor/tasks/__init__.py
  executor/tasks/task_processor.py
  executor_manager/pyproject.toml
  executor_manager/routers/routers.py
  executor_manager/uv.lock
  shared/models/openai_converter.py
  start.sh
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(frontend): preserve browser undo history in contentEditable input
  frontend/src/features/tasks/components/input/ChatInput.tsx
Due: wegent-web

fix(frontend): use execCommand for paste to preserve undo history
  frontend/src/features/tasks/components/input/ChatInput.tsx
Due: wegent-web

fix(frontend): use lastUserEditMessageRef for reliable undo history
  frontend/src/features/tasks/components/input/ChatInput.tsx
Due: wegent-web

fix(frontend): let browser handle clean text paste natively
  frontend/src/features/tasks/components/input/ChatInput.tsx
Due: wegent-web

refactor(alembic): remove organization namespace check and update collation
  backend/alembic/versions/z6a7b8c9d0e1_add_namespace_level.py
Due: wegent-backend

fix(browser): improve relay interactions and browser skill guidance (#539)
  backend/init_data/skills/browser/SKILL.md
  deps/browser/relay-server/chrome-extension/background.js
  deps/browser/relay-server/package-lock.json
  deps/browser/relay-server/package.json
  deps/browser/relay-server/src/actions.ts
  deps/browser/relay-server/src/tool.ts
Due: wegent-backend

feat(knowledge): add organization knowledge base support (#522)
  backend/alembic/versions/z6a7b8c9d0e1_add_namespace_level.py
  backend/app/api/endpoints/groups.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/rag.py
  backend/app/api/endpoints/web_scraper.py
  backend/app/models/namespace.py
  backend/app/schemas/knowledge.py
  backend/app/schemas/namespace.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/group_service.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/app/services/share/knowledge_share_service.py
  frontend/public/mockServiceWorker.js
  frontend/src/apis/knowledge.ts
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseChatPageDesktop.tsx
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseChatPageMobile.tsx
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseClassicPageDesktop.tsx
  frontend/src/app/(tasks)/knowledge/document/[knowledgeBaseId]/KnowledgeBaseClassicPageMobile.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPage.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/features/knowledge/document/hooks/useEmbeddingModels.ts
  frontend/src/features/knowledge/document/hooks/useRetrievers.ts
  frontend/src/features/settings/components/groups/CreateGroupDialog.tsx
  frontend/src/features/settings/components/groups/EditGroupDialog.tsx
  frontend/src/features/settings/components/groups/GroupManager.tsx
  frontend/src/features/tasks/components/chat/ContextSelector.tsx
  frontend/src/i18n/locales/en/groups.json
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/groups.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/group.ts
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat(knowledge): add document processing pipeline architecture for smart splitting
  backend/app/core/config.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/pipeline/__init__.py
  backend/app/services/rag/pipeline/base.py
  backend/app/services/rag/pipeline/docling.py
  backend/app/services/rag/pipeline/factory.py
  backend/app/services/rag/pipeline/llamaindex.py
  backend/app/services/rag/pipeline/pandoc.py
  backend/app/services/rag/splitter/smart.py
  backend/tests/services/rag/pipeline/__init__.py
  backend/tests/services/rag/pipeline/test_pipeline.py
Due: wegent-backend

fix(knowledge): address code review feedback for document pipeline
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/pipeline/factory.py
  backend/app/services/rag/splitter/smart.py
Due: wegent-backend

refactor: remove task_dispatcher
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/pipeline_stage.py
  backend/app/services/adapters/subtask_formatter.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/channels/handler.py
  backend/app/services/execution/__init__.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/schedule_helper.py
  backend/app/services/kind_impl.py
  backend/app/services/task_dispatcher.py
Due: wegent-backend

feat: 修复订阅任务无法执行的问题
  backend/app/api/endpoints/internal/callback.py
  backend/app/core/events.py
  backend/app/main.py
  backend/app/services/execution/__init__.py
  backend/app/services/execution/emitters/__init__.py
  backend/app/services/execution/emitters/subscription.py
  backend/app/services/subscription/task_completion_handler.py
  backend/app/services/subscription/unified_executor.py
  backend/tests/services/execution/test_emitters.py
  executor/agents/claude_code/config_manager.py
  executor/config/config.py
Due: wegent-executor, wegent-backend

feat(knowledge): optimize markdown intelligent chunking strategy
  backend/app/services/rag/pipeline/docling.py
  backend/app/services/rag/pipeline/pandoc.py
  backend/app/services/rag/splitter/__init__.py
  backend/app/services/rag/splitter/markdown_processor.py
  backend/app/services/rag/splitter/smart.py
  backend/tests/services/rag/splitter/__init__.py
  backend/tests/services/rag/splitter/test_markdown_processor.py
Due: wegent-backend

refactor: executor support openai
  backend/app/api/endpoints/internal/callback.py
  backend/app/services/execution/dispatcher.py
  executor/agents/image_validator/image_validator_agent.py
  executor/tasks/task_processor.py
  executor_manager/executors/docker/constants.py
  executor_manager/executors/docker/executor.py
  executor_manager/executors/docker/utils.py
  executor_manager/routers/routers.py
  executor_manager/services/task_queue_consumer.py
  executor_manager/tasks/task_processor.py
  executor_manager/tests/executors/test_docker_constants.py
  shared/models/__init__.py
  shared/models/execution.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

refactor(knowledge): revert docling pipeline to original split implementation
  backend/app/services/rag/pipeline/docling.py
Due: wegent-backend

feat: 修复订阅任务无法执行的问题
  backend/app/services/subscription/unified_executor.py
  executor/agents/claude_code/config_manager.py
Due: wegent-executor, wegent-backend

refactor: fix test
  executor_manager/tests/executors/test_docker_constants.py
Due: wegent-executor-manager

docs(evaluation): add technical design specification for evaluation module
  plans/evaluation-module-technical-spec.md
Due: none

refactor: fix executor
  backend/app/services/execution/dispatcher.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

Refactor/executor OpenAI (#543)
  backend/app/api/endpoints/internal/callback.py
  backend/app/services/execution/dispatcher.py
  executor/agents/image_validator/image_validator_agent.py
  executor/tasks/task_processor.py
  executor_manager/executors/docker/constants.py
  executor_manager/executors/docker/executor.py
  executor_manager/executors/docker/utils.py
  executor_manager/routers/routers.py
  executor_manager/services/task_queue_consumer.py
  executor_manager/tasks/task_processor.py
  executor_manager/tests/executors/test_docker_constants.py
  shared/models/__init__.py
  shared/models/execution.py
  shared/models/openai_converter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

docs(evaluation): update mermaid
  plans/evaluation-module-technical-spec.md
Due: none

feat: 修复订阅任务无法执行的问题 (#544)
  backend/app/api/endpoints/internal/callback.py
  backend/app/core/events.py
  backend/app/main.py
  backend/app/services/execution/__init__.py
  backend/app/services/execution/emitters/__init__.py
  backend/app/services/execution/emitters/subscription.py
  backend/app/services/subscription/task_completion_handler.py
  backend/app/services/subscription/unified_executor.py
  backend/tests/services/execution/test_emitters.py
  executor/agents/claude_code/config_manager.py
  executor/config/config.py
Due: wegent-executor, wegent-backend

refactor: remove unused code
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/executors.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/subtask_formatter.py
  executor_manager/clients/callback_client.py
  executor_manager/clients/task_api_client.py
  executor_manager/config/config.py
  executor_manager/main.py
  executor_manager/scheduler/__init__.py
  executor_manager/scheduler/scheduler.py
  executor_manager/services/task_heartbeat_manager.py
  executor_manager/services/task_queue_consumer.py
  executor_manager/tasks/task_processor.py
  executor_manager/tests/services/test_task_heartbeat_manager.py
  shared/telemetry/config.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
