Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(frontend): use local ContentDataAttachment interface for history page
  frontend/src/app/(tasks)/evaluation/respondent/history/page.tsx
Due: wegent-web

revert(backend): restore operations.py to original state
  backend/app/services/adapters/task_kinds/operations.py
Due: wegent-backend

fix(backend): restore operations.py to feat-evaluation-function state
  backend/app/services/adapters/task_kinds/operations.py
Due: wegent-backend

fix: fix bugs
  backend/app/api/ws/device_namespace.py
  backend/app/core/events.py
  backend/app/services/chat/storage/db.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/subscription/unified_executor.py
  chat_shell/chat_shell/api/v1/response.py
  executor/agents/agno/agno_agent.py
  executor/agents/base.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
  executor/agents/dify/dify_agent.py
  executor/agents/factory.py
  executor/agents/image_validator/image_validator_agent.py
  executor/modes/local/__init__.py
  executor/modes/local/progress_reporter.py
  executor/modes/local/runner.py
  executor/services/agent_service.py
  executor/services/heartbeat_service.py
  shared/models/responses_api_emitter.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix: fix tests
  .github/workflows/test.yml
  executor/tests/agents/test_base.py
  executor/tests/agents/test_claude_code_config_security.py
  executor/tests/agents/test_dify_agent.py
  executor/tests/agents/test_factory.py
  executor/tests/agents/test_mode_strategy.py
Due: wegent-executor

fix: fix tests
  shared/tests/test_emitter_factory.py
Due: wegent-executor-manager, wegent-executor

fix(evaluation): hide grading tasks from user's task list
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): change grading team shell type from ClaudeCode to Chat
  backend/wecode/api/evaluation/author.py
  backend/wecode/schemas/evaluation.py
  plans/evaluation-module-technical-spec.md
Due: wegent-backend

fix(evaluation): improve grading task status sync speed
  backend/app/core/config.py
  backend/wecode/service/evaluation/grading_monitor.py
Due: wegent-backend

feat(evaluation): enhance grader answer page with retry, markdown, and upload
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-web

fix(evaluation): correct ThemeContext import path
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
Due: wegent-web

feat(evaluation): enhance grading workflow with retry and report publishing
  backend/wecode/api/evaluation/grader.py
  backend/wecode/service/evaluation/grading_service.py
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/tasks/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-backend, wegent-web

fix(evaluation): improve Markdown preview and grading UI consistency
  frontend/src/app/(tasks)/evaluation/grader/reports/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/reports/[id]/page.tsx
Due: wegent-web

fix(evaluation): improve grading task error reporting and debugging
  backend/wecode/service/evaluation/grading_monitor.py
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-backend, wegent-web

fix(evaluation): prevent agent creation failure for grading tasks
  backend/wecode/service/evaluation/grading_service.py
  backend/wecode/tests/test_evaluation.py
Due: wegent-backend

fix(evaluation): embed file content directly instead of using presigned URLs
  backend/wecode/service/evaluation/grading_service.py
  backend/wecode/service/evaluation/storage_service.py
Due: wegent-backend

Revert "fix(evaluation): embed file content directly instead of using presigned URLs"
  backend/wecode/service/evaluation/grading_service.py
  backend/wecode/service/evaluation/storage_service.py
Due: wegent-backend

fix(evaluation): use SubtaskContext system for grading attachments
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): use chat_shell directly for AI grading instead of executor
  backend/wecode/service/evaluation/grading_service.py
  backend/wecode/tests/test_evaluation.py
Due: wegent-backend

fix(evaluation): use user_name instead of name for User model
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): add API key validation before calling chat_shell
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

feat(evaluation): enforce group Team requirement for AI grading
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

feat(evaluation): update grading config to show only group Teams
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/grading-config/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-web

fix(evaluation): fix grading config not saving due to JSON field mutation
  backend/wecode/api/evaluation/author.py
Due: wegent-backend

fix(evaluation): include presigned URLs for grading attachments
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

refactor(evaluation): create Task/Subtask for AI grading workflow
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

feat(backend): add Milvus vector database support for RAG (#549)
  backend/app/services/rag/document_service.py
  backend/app/services/rag/embedding/custom.py
  backend/app/services/rag/embedding/factory.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/storage/__init__.py
  backend/app/services/rag/storage/base.py
  backend/app/services/rag/storage/chunk_metadata.py
  backend/app/services/rag/storage/elasticsearch_backend.py
  backend/app/services/rag/storage/factory.py
  backend/app/services/rag/storage/milvus_backend.py
  backend/app/services/rag/storage/qdrant_backend.py
  backend/pyproject.toml
  backend/tests/services/rag/storage/test_milvus_backend.py
  backend/uv.lock
  frontend/src/apis/retrievers.ts
  frontend/src/features/admin/components/PublicRetrieverList.tsx
  frontend/src/features/admin/components/RetrieverFormFields.tsx
  frontend/src/features/settings/components/RetrieverEditDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(evaluation): use auto-generated task ID to avoid primary key conflicts
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): use correct field name 'task_id' instead of 'wegent_task_id'
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): get topic_id from question for S3 report storage
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): populate binary_data and extracted_text for AI grading
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): assign auto-triggered tasks to topic creator
  backend/wecode/service/evaluation/answer_service.py
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): fix Task status persistence and Group Team skills access
  backend/app/services/adapters/team_kinds.py
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

feat(evaluation): add detailed logging for attachment debugging
  backend/wecode/service/evaluation/grading_service.py
  chat_shell/chat_shell/history/loader.py
Due: wegent-backend

refactor: refactor webpage socket emitter
  backend/app/api/endpoints/adapter/chat.py
  backend/app/api/endpoints/adapter/task_members.py
  backend/app/api/endpoints/internal/services.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/events.py
  backend/app/main.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/adapters/__init__.py
  backend/app/services/chat/adapters/converter.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/trigger/group_chat.py
  backend/app/services/chat/webpage_websocket_chat_emitter.py
  backend/app/services/chat/webpage_ws_chat_emitter.py
  backend/app/services/chat/webpage_ws_extended_emitter.py
  backend/app/services/device_monitor.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/execution/schedule_helper.py
  backend/app/services/pet/event_handlers.py
  backend/app/services/pet/ws_emitter.py
  backend/app/services/websocket/emitter.py
  backend/tests/mcp_server/test_schema_extractor_special_types.py
  backend/tests/mcp_server/test_tools_decorator.py
  backend/tests/services/chat/test_adapters.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/knowledge/test_orchestrator.py
  chat_shell/chat_shell/api/v1/response.py
  chat_shell/chat_shell/services/storage/session.py
  plans/agent-code-reuse-analysis.md
Due: wegent-backend

fix(evaluation): add skills and MCP servers to grading ChatRequest
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

refactor: refactor webpage socket emitter (#555)
  backend/app/api/endpoints/adapter/chat.py
  backend/app/api/endpoints/adapter/task_members.py
  backend/app/api/endpoints/internal/services.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/events.py
  backend/app/main.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/adapters/__init__.py
  backend/app/services/chat/adapters/converter.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/trigger/group_chat.py
  backend/app/services/chat/webpage_websocket_chat_emitter.py
  backend/app/services/chat/webpage_ws_chat_emitter.py
  backend/app/services/chat/webpage_ws_extended_emitter.py
  backend/app/services/device_monitor.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/execution/schedule_helper.py
  backend/app/services/pet/event_handlers.py
  backend/app/services/pet/ws_emitter.py
  backend/app/services/websocket/emitter.py
  backend/tests/mcp_server/test_schema_extractor_special_types.py
  backend/tests/mcp_server/test_tools_decorator.py
  backend/tests/services/chat/test_adapters.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/knowledge/test_orchestrator.py
  chat_shell/chat_shell/api/v1/response.py
  chat_shell/chat_shell/services/storage/session.py
  plans/agent-code-reuse-analysis.md
Due: wegent-backend

refactor(evaluation): simplify grading prompt to only include respondent name
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix(evaluation): include answer text and url in grading prompt
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend
