Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(collaboration): redesign workspace operations overview (#3476)
  packages/collaboration/src/platform/CollaborationPlatformApp.test.tsx
  packages/collaboration/src/platform/CollaborationPlatformApp.tsx
  packages/collaboration/src/platform/platform.css
  packages/collaboration/src/platform/useCollaborationPlatformController.ts
  packages/collaboration/src/platform/workspaceOperations.test.ts
  packages/collaboration/src/platform/workspaceOperations.ts
Due: none

fix(executor): serialize Codex skill config as TOML
  .github/workflows/e2e-tests.yml
  docs/en/wegent/user-guide/settings/configuring-shells.md
  docs/zh/wegent/user-guide/settings/configuring-shells.md
  executor/Cargo.lock
  executor/Cargo.toml
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

test(wework): allow queued follow-up delivery
  wework/e2e/desktop/modules/task-flow-main.mjs
Due: none

fix(wework): report code statistics from the Codex rollout feed
  wework/resources/bundled-hooks/codex-code-statistics/plugin.json
  wework/resources/hook-plugins/codex-code-statistics/Cargo.lock
  wework/resources/hook-plugins/codex-code-statistics/Cargo.toml
  wework/resources/hook-plugins/codex-code-statistics/src/main.rs
Due: none

test(executor): allow Windows auth adapter startup
  executor/tests/plugin_account_auth_contract.rs
Due: wegent-executor

fix(frontend): track team load errors and add refresh fallback
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/app/(tasks)/chat/ChatPageMobile.tsx
  frontend/src/app/(tasks)/devices/chat/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/contexts/TeamContext.tsx
  frontend/src/features/knowledge/code-wiki/CodeWikiReader.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDetailPanel.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/features/tasks/service/teamService.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat(backend-rs): extract hybrid startup and select project directory
  backend-rs/Cargo.lock
  backend-rs/Cargo.toml
  backend-rs/README.md
  backend-rs/scripts/start-hybrid-backend.sh
  backend-rs/src/application.rs
  backend-rs/src/hybrid.rs
  backend-rs/src/lib.rs
  backend-rs/src/main.rs
  start.sh
Due: none

fix(skills): preserve selected identity and enforce group access
  backend/app/services/skill_binding_service.py
  backend/app/services/task_skill_selection.py
  backend/tests/services/test_shared_skill_chat.py
  backend/tests/services/test_task_skill_selection.py
  frontend/e2e/tests/capability-center.spec.ts
  frontend/src/__tests__/features/resource-library/InstalledResources.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/SkillSelectorPopover.skill-availability.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/skill-selectors.group-sharing.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useSkillSelector.group-sharing.test.tsx
  frontend/src/features/resource-library/components/InstalledResources.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/SkillAutocomplete.tsx
  frontend/src/features/tasks/components/input/ChatInput.tsx
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/InputMoreActionsMenu.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileSkillSelector.tsx
  frontend/src/features/tasks/components/selector/SkillSelectorPopover.tsx
  frontend/src/features/tasks/hooks/useSkillSelector.ts
Due: wegent-backend, wegent-web

feat(backend-rs): extract hybrid startup and select project directory (#3484)
  backend-rs/Cargo.lock
  backend-rs/Cargo.toml
  backend-rs/README.md
  backend-rs/scripts/start-hybrid-backend.sh
  backend-rs/src/application.rs
  backend-rs/src/hybrid.rs
  backend-rs/src/lib.rs
  backend-rs/src/main.rs
  start.sh
Due: none

test(wework): bound model request waits
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
Due: none

fix(skills): show system skills bound to a group
  frontend/src/__tests__/features/settings/components/SkillListWithScope.default-enabled.test.tsx
  frontend/src/features/settings/components/SkillListWithScope.tsx
Due: wegent-web

fix(collaboration): reuse host design system
  docs/en/wegent/developer-guide/cloud-project-collaboration.md
  docs/zh/wegent/developer-guide/cloud-project-collaboration.md
  frontend/src/__tests__/features/collaboration/CollaborationApp.board.test.tsx
  frontend/src/__tests__/features/collaboration/CollaborationPage.test.tsx
  frontend/src/__tests__/features/collaboration/ProjectAgentConfigurationHost.test.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/features/collaboration/CollaborationPage.tsx
  frontend/src/features/collaboration/ProjectAgentConfigurationHost.tsx
  packages/collaboration/src/CollaborationApp.tsx
  packages/collaboration/src/CollaborationSettings.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/src/platform/CollaborationPlatformApp.tsx
  packages/collaboration/src/platform/base.css
  packages/collaboration/src/platform/types.ts
  packages/collaboration/src/primary-action-theme.test.ts
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.module.css
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.tsx
  packages/collaboration/src/project-agent-config/index.ts
  packages/collaboration/src/project-agent-config/types.ts
  packages/collaboration/src/types.ts
  packages/collaboration/src/web-adapter/ProjectBoardAdapter.tsx
Due: wegent-web

fix(collaboration): refine agent dialog hierarchy
  frontend/src/__tests__/features/collaboration/ProjectAgentConfigurationHost.test.tsx
  frontend/src/features/collaboration/ProjectAgentConfigurationHost.tsx
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.module.css
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.tsx
Due: wegent-web

fix(collaboration): use agent choice cards
  frontend/src/__tests__/features/collaboration/ProjectAgentConfigurationHost.test.tsx
  frontend/src/components/common/simple-choice-card-styles.ts
  frontend/src/features/collaboration/ProjectAgentConfigurationHost.tsx
  frontend/src/features/settings/components/team-edit/ExecutorModeSelector.tsx
  frontend/src/features/settings/components/team-edit/TeamBindModeCards.tsx
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.module.css
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.tsx
  packages/collaboration/src/project-agent-config/types.ts
Due: wegent-web

fix(executor): persist Codex thread sessions
  executor/src/agent_session.rs
  executor/src/agents/claude_code.rs
  executor/src/agents/codex.rs
  executor/src/envd/archive.rs
  executor/src/lib.rs
  executor/src/local/backend/tasks.rs
  executor/src/process/mod.rs
  executor/src/runner/mod.rs
  executor/tests/envd_archive_contract.rs
Due: wegent-executor

test(wework): wait for workspace settings navigation
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

fix(wework): keep the reader's anchor through a clamped layout change
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(wework): keep saved automation targets editable
  wework/src/features/automations/AutomationDetailWorkspace.test.tsx
  wework/src/features/automations/AutomationDetailWorkspace.tsx
Due: none

feat(skill-selection): enhance shared skill handling and grouping (#3481)
  backend/app/api/endpoints/kind/skills.py
  backend/app/api/ws/events.py
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds/task_detail_helpers.py
  backend/app/services/adapters/task_kinds/task_skills_resolver.py
  backend/app/services/execution/request_builder.py
  backend/app/services/skill_binding_service.py
  backend/app/services/skill_resolution.py
  backend/app/services/task_skill_selection.py
  backend/tests/services/test_shared_skill_chat.py
  backend/tests/services/test_task_skill_selection.py
  backend/tests/services/test_task_skills_batch_resolution.py
  frontend/e2e/tests/capability-center.spec.ts
  frontend/src/__tests__/features/resource-library/InstalledResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/settings/components/SkillListWithScope.default-enabled.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/SkillSelectorPopover.skill-availability.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/skill-selectors.group-sharing.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useSkillSelector.group-sharing.test.tsx
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/InstalledResources.tsx
  frontend/src/features/settings/components/SkillListWithScope.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/SkillAutocomplete.tsx
  frontend/src/features/tasks/components/input/ChatInput.tsx
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/InputMoreActionsMenu.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileSkillSelector.tsx
  frontend/src/features/tasks/components/selector/SkillSelectorPopover.tsx
  frontend/src/features/tasks/hooks/useSkillSelector.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
  frontend/src/types/socket.ts
  frontend/src/utils/skillGrouping.ts
Due: wegent-backend, wegent-web

fix(collaboration): align project agents with host design system (#3479)
  docs/en/wegent/developer-guide/cloud-project-collaboration.md
  docs/zh/wegent/developer-guide/cloud-project-collaboration.md
  frontend/src/__tests__/features/collaboration/CollaborationApp.board.test.tsx
  frontend/src/__tests__/features/collaboration/CollaborationPage.test.tsx
  frontend/src/__tests__/features/collaboration/ProjectAgentConfigurationHost.test.tsx
  frontend/src/components/common/simple-choice-card-styles.ts
  frontend/src/components/ui/dialog.tsx
  frontend/src/features/collaboration/CollaborationPage.tsx
  frontend/src/features/collaboration/ProjectAgentConfigurationHost.tsx
  frontend/src/features/settings/components/team-edit/ExecutorModeSelector.tsx
  frontend/src/features/settings/components/team-edit/TeamBindModeCards.tsx
  packages/collaboration/src/CollaborationApp.tsx
  packages/collaboration/src/CollaborationSettings.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/src/platform/CollaborationPlatformApp.tsx
  packages/collaboration/src/platform/base.css
  packages/collaboration/src/platform/types.ts
  packages/collaboration/src/primary-action-theme.test.ts
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.module.css
  packages/collaboration/src/project-agent-config/ProjectAgentConfiguration.tsx
  packages/collaboration/src/project-agent-config/index.ts
  packages/collaboration/src/project-agent-config/types.ts
  packages/collaboration/src/types.ts
  packages/collaboration/src/web-adapter/ProjectBoardAdapter.tsx
Due: wegent-web

fix(executor): clear Codex threads for new sessions
  executor/src/agent_session.rs
Due: wegent-executor

test(wework): tolerate workspace route remounts
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

fix(wework): stabilize collaboration navigation
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/features/todo/WeworkCollaborationPlatform.test.ts
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
Due: none

test(wework): wait for workspace navigation readiness
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

test(dingtalk): cover selection cards end to end
  .github/workflows/e2e-tests.yml
  backend/tests/e2e/dingtalk_ai_card_conversation.py
Due: wegent-backend

feat(dingtalk): add interactive session selection cards
  backend/app/schemas/im_channel.py
  backend/app/services/channels/commands.py
  backend/app/services/channels/dingtalk/callback.py
  backend/app/services/channels/dingtalk/card.py
  backend/app/services/channels/dingtalk/card_transport.py
  backend/app/services/channels/dingtalk/conversation_card.py
  backend/app/services/channels/dingtalk/emitter.py
  backend/app/services/channels/dingtalk/handler.py
  backend/app/services/channels/dingtalk/selection_cards.py
  backend/app/services/channels/dingtalk/service.py
  backend/app/services/channels/handler.py
  backend/app/services/channels/selection_service.py
  backend/tests/services/channels/dingtalk/test_callback.py
  backend/tests/services/channels/dingtalk/test_commands.py
  backend/tests/services/channels/dingtalk/test_emitter.py
  backend/tests/services/channels/dingtalk/test_handler.py
  backend/tests/services/channels/dingtalk/test_selection_cards.py
  backend/tests/services/channels/dingtalk/test_service.py
  backend/tests/services/channels/test_selection_service.py
  docs/en/wegent/user-guide/integrations/dingtalk-integration.md
  docs/examples/dingtalk-conversation-card-contract.json
  docs/examples/dingtalk-session-settings-card-contract.json
  docs/zh/wegent/user-guide/integrations/dingtalk-integration.md
  frontend/src/__tests__/features/admin/components/IMChannelList.test.tsx
  frontend/src/features/admin/components/IMChannelList.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

fix(dingtalk): distinguish default agent selection
  backend/app/services/channels/dingtalk/selection_cards.py
  backend/app/services/channels/selection_service.py
  backend/tests/e2e/dingtalk_ai_card_conversation.py
  backend/tests/services/channels/dingtalk/test_selection_cards.py
  backend/tests/services/channels/test_selection_service.py
Due: wegent-backend

fix(dingtalk): apply agent selection to new tasks
  backend/app/schemas/im_channel.py
  backend/app/services/channels/commands.py
  backend/app/services/channels/dingtalk/handler.py
  backend/app/services/channels/dingtalk/selection_cards.py
  backend/app/services/channels/dingtalk/service.py
  backend/app/services/channels/handler.py
  backend/app/services/channels/selection_service.py
  backend/app/services/channels/team_selection.py
  backend/tests/e2e/dingtalk_ai_card_conversation.py
  backend/tests/services/channels/dingtalk/test_commands.py
  backend/tests/services/channels/dingtalk/test_handler.py
  backend/tests/services/channels/dingtalk/test_selection_cards.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/channels/test_selection_service.py
  backend/tests/services/channels/test_team_selection.py
  docs/en/wegent/user-guide/integrations/dingtalk-integration.md
  docs/examples/dingtalk-session-settings-card-contract.json
  docs/zh/wegent/user-guide/integrations/dingtalk-integration.md
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

fix(wework): narrow synchronized project id
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
Due: none

fix(dingtalk): separate chat and task agent routing
  backend/app/api/endpoints/admin/im_channels.py
  backend/app/schemas/im_channel.py
  backend/app/services/channels/base.py
  backend/app/services/channels/device_selection.py
  backend/app/services/channels/dingtalk/handler.py
  backend/app/services/channels/dingtalk/selection_cards.py
  backend/app/services/channels/dingtalk/service.py
  backend/app/services/channels/handler.py
  backend/app/services/channels/manager.py
  backend/app/services/channels/messager_config.py
  backend/app/services/channels/model_selection.py
  backend/app/services/channels/selection_scope.py
  backend/app/services/channels/selection_service.py
  backend/app/services/channels/team_selection.py
  backend/app/services/im/interaction_service.py
  backend/tests/api/endpoints/test_admin_im_channels.py
  backend/tests/e2e/dingtalk_ai_card_conversation.py
  backend/tests/services/channels/dingtalk/test_handler.py
  backend/tests/services/channels/dingtalk/test_selection_cards.py
  backend/tests/services/channels/test_messager_config.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/channels/test_selection_service.py
  backend/tests/services/channels/test_team_selection.py
  backend/tests/services/im/test_interaction_service.py
  docs/en/wegent/user-guide/integrations/dingtalk-integration.md
  docs/examples/dingtalk-session-settings-card-contract.json
  docs/zh/wegent/user-guide/integrations/dingtalk-integration.md
  frontend/src/__tests__/features/admin/components/IMChannelList.test.tsx
  frontend/src/apis/admin.ts
  frontend/src/features/admin/components/IMChannelList.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-backend, wegent-web

test(wework): scope offline project isolation
  wework/e2e/desktop/scenarios/offline-local-project-space.scenario.mjs
Due: none

docs(wework): describe the clamped layout correction
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
Due: none

test(wework): tolerate workspace content remounts
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

fix(collaboration): enforce member authority boundaries
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/app/services/cloud_projects/access.py
  backend/app/services/loop_items/external_provider.py
  backend/app/services/loop_items/service.py
  backend/app/services/workspaces/members.py
  backend/tests/services/test_cloud_project_issue_access.py
  backend/tests/services/test_external_loop_item_execution.py
  backend/tests/services/test_loop_item_status_history.py
  frontend/src/__tests__/features/collaboration/IssueDetail.shared.test.tsx
  packages/collaboration/src/SharedIssueDetailEditor.tsx
  packages/collaboration/src/i18n.ts
  packages/collaboration/src/permissions.test.ts
  packages/collaboration/src/permissions.ts
  packages/collaboration/src/platform/CollaborationPlatformApp.test.tsx
  packages/collaboration/src/platform/WorkspaceResourceConfiguration.tsx
  packages/collaboration/src/platform/useCollaborationPlatformController.ts
  packages/collaboration/src/web-adapter/ProjectBoardAdapter.tsx
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/collaboration-authority.scenario.mjs
  wework/src/features/collaboration/weworkSharedWorkspaceApi.test.ts
  wework/src/features/collaboration/weworkSharedWorkspaceApi.ts
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
Due: wegent-backend, wegent-web

fix(collaboration): preserve local workspace navigation
  packages/collaboration/src/platform/CollaborationPlatformApp.test.tsx
  packages/collaboration/src/platform/useCollaborationPlatformController.ts
  wework/src/features/todo/WeworkCollaborationPlatform.test.ts
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
Due: none

fix(video): preserve OpenCut media types and editing render behavior
  backend/wecode/tests/video/api/test_opencut.py
  backend/wecode/video/api/opencut.py
  frontend/wecode/__tests__/features/video/aigc_video/panel-layout.test.tsx
  frontend/wecode/features/video/aigc_video/AigcVideoPanel.tsx
Due: wegent-backend, wegent-web

test(executor): isolate Codex attachment sessions
  executor/tests/codex_attachment_input_contract.rs
Due: wegent-executor

fix(wework): route local workspace snapshots
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/features/todo/WeworkCollaborationPlatform.test.ts
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
Due: none

perf(wework): reduce warm startup below three seconds
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/process_environment.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  wework/electron/src/main.ts
  wework/electron/src/runtime/core-dsh-runtime.test.ts
  wework/electron/src/runtime/core-dsh-runtime.ts
  wework/electron/src/runtime/desktop-runtime.test.ts
  wework/electron/src/runtime/desktop-runtime.ts
  wework/electron/src/runtime/dsh-runtime.ts
  wework/electron/src/shell/index.html
  wework/electron/src/shell/shell.js
  wework/electron/src/shell/shell.test.ts
  wework/electron/src/shell/styles.css
  wework/src/api/executorAccess.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: wegent-executor

fix(wework): route managed plugin uninstall through cloud
  executor/src/local/plugin_catalog.rs
  wework/src/api/local/codexPlugins.ts
  wework/src/api/local/listWegentStoreFromDisk.test.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/installedPluginMerge.ts
  wework/src/components/plugins/marketplaceInstallError.test.ts
  wework/src/components/plugins/marketplaceInstallError.ts
  wework/src/components/plugins/pluginUninstall.test.ts
  wework/src/components/plugins/pluginUninstall.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
