Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: master
stages:
  - package

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/runtime
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

支持内网token通过secret传递
  .gitlab-ci.yml
  executor_manager/utils/executor_name.py
  executor_manager/wecode/executors/k8s/build_pod.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
  executor_manager/wecode/executors/k8s/pod_template.yaml
  shared/utils/git_util.py
Due: wegent-executor-manager

refactor(frontend): 优化布局和交互体验
  frontend/src/app/demo/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/login/oidc/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/components/I18nProvider.tsx
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/features/common/LoadingState.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskMenu.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/hooks/useMediaQuery.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

优先取git_email
  executor/agents/base.py
Due: wegent-executor

executor适配统一模型配置
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

将团队聊天按钮放在首位
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/TeamList.tsx
Due: wegent-web

add redis cache
  backend/.env.example
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/wecode/OPEN_SOURCE_TODO.md
  docker-compose.yml
  wecode/docker/backend/.env.example
Due: wegent-backend

tmp
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/__init__.py
  backend/app/api/endpoints/adapter/agents.py
  backend/app/api/endpoints/adapter/bots.py
  backend/app/api/endpoints/adapter/models.py
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/endpoints/adapter/teams.py
  backend/app/main.py
  backend/app/models/kind.py
  backend/app/models/public_model.py
  backend/app/models/public_shell.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/__init__.py
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/adapters/public_model.py
  backend/app/services/adapters/public_shell.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/kind_impl.py
  backend/app/services/subtask.py
  backend/app/services/team.py
  backend/init.sql
  backend/kind.md
  backend/migrations/version/v1.0/update.sql
  backend/wecode/init_data.sql
Due: wegent-backend

线上环境前端登录只支持cas登录
  wecode/docker/frontend/.env.local
Due: wegent-web

add log
  backend/app/main.py
  backend/app/services/subtask.py
  backend/wecode/init_data.sql
Due: wegent-backend

模型 WECODE_USER_API_KEY
  backend/wecode/api/__init__.py
  backend/wecode/api/executors_endpoint_patch.py
  backend/wecode/init_data.sql
Due: wegent-backend

tmp
  backend/app/schemas/kind.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/adapters/team_kinds.py
Due: wegent-backend

update data
  backend/wecode/init_data.sql
Due: wegent-backend

tmp
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/executors.py
  backend/app/services/adapters/executor_kinds.py
Due: wegent-backend

fix: 修复团队构建逻辑错误
  executor/agents/agno/model_factory.py
  executor/agents/agno/team_builder.py
Due: wegent-executor

refactor: 添加用户名称到模型配置中
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

claude code 更新 20251013 v1
  .gitignore
  docker/executor/Dockerfile
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
  executor/requirements.txt
  wecode/docker/executor/Dockerfile
Due: wegent-executor

修复 claude agent sdk append_system_prompt 报错问题；修复 wecode_model_id 取值异常问题
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

修复 claude code 2.0 版本需要 login 的问题
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

修复 claude code 2.0 需要显式声明加载 setting_sources 的问题
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

backend support copilot proxy
  backend/app/api/api.py
  backend/wecode/api/copilot_proxy.py
Due: wegent-backend

change default login
  frontend/src/features/login/components/LoginForm.tsx
Due: wegent-web

fix copilot proxy
  backend/wecode/api/users_endpoint_patch.py
Due: wegent-backend

基础环境增加 java8 与 maven 配置
  .gitlab-ci.yml
  wecode/docker/base/Dockerfile
  wecode/docker/base/build.sh
  wecode/docker/base/maven-settings.xml
  wecode/docker/executor/Dockerfile
Due: wegent-executor

fix: 修正删除执行器时的验证逻辑
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
Due: wegent-backend

fix: 设置Docker容器时区为上海并更新数据库URL
  wecode/docker/backend/.env.example
  wecode/docker/backend/Dockerfile
Due: wegent-backend

add weibo deploy & quota
  frontend/.env.local
  frontend/src/apis/copilot.ts
  frontend/src/apis/quota.ts
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/QuotaUsage.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  wecode/docker/frontend/.env.local
Due: wegent-web

claude code agent 调整：header 加入 git_url; env 加入 git 信息; 内网模型设置 CLAUDE_CODE_MAX_OUTPUT_TOKENS 为 96k
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

调整 claude code 环境变量设置，支持通过环境变量控制非必要流量和共同作者选项
  executor/agents/claude_code/claude_code_agent.py
  wecode/docker/executor/Dockerfile
Due: wegent-executor

保持项目Select组件统一 && quota 背景色
  frontend/src/app/AntdProvider.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/QuotaUsage.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
Due: wegent-web

db改造
  backend/app/models/subtask.py
  backend/app/schemas/subtask.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/job.py
  backend/app/services/adapters/public_model.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/adapters/team_kinds.py
  backend/init.sql
  backend/migrations/version/v1.0/update.sql
  backend/wecode/init_data.sql
Due: wegent-backend

fix: 更新数据库URL密码
  wecode/docker/backend/.env.example
Due: wegent-backend

refactor: 移除冗余日志记录
  backend/wecode/api/copilot_proxy.py
Due: wegent-backend

fix: 使用 timezone.utc 替换 utcnow 以确保时区一致性
  backend/app/services/adapters/job.py
Due: wegent-backend

修复 response_processor.py 中成功结果消息的处理逻辑，确保在没有错误时才发送回调
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

fix teamselect unable choose
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
Due: wegent-web

refactor: 使用 datetime.now 替换 datetime.utcnow
  backend/app/core/security.py
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/job.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/kind_base.py
Due: wegent-backend

feat(executor/agents): 提取MCP服务器配置功能重构
  executor/agents/agno/mcp_manager.py
  executor/agents/claude_code/claude_code_agent.py
  executor/utils/__init__.py
  executor/utils/mcp_utils.py
Due: wegent-executor

fix: 修改时间戳默认值使用datetime now
  backend/app/models/kind.py
Due: wegent-backend
