Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(cli): fail kind batch errors locally
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/commands/kind.py
Due: none

fix(cli): normalize parser usage exit code
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/cli.py
  wegent-cli/wegent/commands/kind.py
Due: none

feat(cli): add response and ask commands
  wegent-cli/tests/test_response_and_ask_commands.py
  wegent-cli/wegent/commands/ask.py
  wegent-cli/wegent/commands/response.py
Due: none

fix(cli): print JSON ask fallback
  wegent-cli/tests/test_response_and_ask_commands.py
  wegent-cli/wegent/commands/ask.py
Due: none

fix(cli): harden ask response command edges
  wegent-cli/tests/test_response_and_ask_commands.py
  wegent-cli/wegent/commands/ask.py
  wegent-cli/wegent/commands/response.py
Due: none

feat(cli): add task command group
  wegent-cli/tests/test_task_commands.py
  wegent-cli/wegent/commands/task.py
Due: none

fix(cli): support backend task result shape
  wegent-cli/tests/test_task_commands.py
  wegent-cli/wegent/commands/task.py
Due: none

fix(cli): preserve task result field precedence
  wegent-cli/tests/test_task_commands.py
  wegent-cli/wegent/commands/task.py
Due: none

docs(cli): document AI-operated CLI
  wegent-cli/README.md
  wegent-cli/tests/test_integration.py
  wegent-cli/tests/test_output.py
  wegent-cli/wegent/output.py
Due: none

fix(cli): tighten integration smoke outcomes
  wegent-cli/README.md
  wegent-cli/tests/test_integration.py
Due: none

fix(cli): clarify streaming and api key ask
  docs/superpowers/specs/2026-06-04-ai-operated-cli-design.md
  wegent-cli/README.md
  wegent-cli/tests/test_response_and_ask_commands.py
  wegent-cli/wegent/commands/ask.py
  wegent-cli/wegent/commands/response.py
Due: none

fix(cli): reject coerced streaming payloads
  wegent-cli/tests/test_response_and_ask_commands.py
  wegent-cli/wegent/commands/response.py
Due: none

fix(cli): reject float streaming payloads
  wegent-cli/tests/test_response_and_ask_commands.py
  wegent-cli/wegent/commands/response.py
Due: none

test(e2e): cover wegent cli workflows
  .github/workflows/e2e-tests.yml
  docs/en/developer-guide/testing.md
  docs/zh/developer-guide/testing.md
  frontend/e2e/README.md
  frontend/e2e/tests/api/cli.spec.ts
  frontend/e2e/tests/cli/cli-page.spec.ts
  frontend/e2e/utils/cli.ts
  frontend/e2e/utils/index.ts
Due: wegent-web

ci(cli): start backend for integration smoke
  .github/workflows/test.yml
Due: none

feat(media): 优先使用绑定微博 uid 处理视频
  backend/app/api/endpoints/adapter/attachments.py
  backend/app/api/endpoints/internal/chat_storage.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/context/context_service.py
  backend/app/services/media/weibo_media_service.py
  backend/tests/services/test_context_service.py
  backend/tests/services/test_weibo_media_service.py
  frontend/src/__tests__/hooks/useMultiAttachment.weibo-video.test.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatAreaState.ts
  frontend/src/hooks/WeiboVideoBindingPrompt.tsx
  frontend/src/hooks/useMultiAttachment.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

fix(wework): respect base path for vnc page
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/lib/vnc.test.ts
  wework/src/lib/vnc.ts
Due: none

fix(wework): respect base path for vnc page (#1283)
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/lib/vnc.test.ts
  wework/src/lib/vnc.ts
Due: none

Add resource metadata and sorting support
  backend/app/api/endpoints/adapter/shells.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/model_aggregation_service.py
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/__tests__/features/resource-library/resourceSorting.test.ts
  frontend/src/apis/models.ts
  frontend/src/apis/retrievers.ts
  frontend/src/apis/shells.ts
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/resource-library/resourceSorting.ts
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/ModelListWithScope.tsx
  frontend/src/features/settings/components/RetrieverList.tsx
  frontend/src/features/settings/components/RetrieverListWithScope.tsx
  frontend/src/features/settings/components/ShellList.tsx
  frontend/src/features/settings/components/ShellListWithScope.tsx
  frontend/src/features/settings/components/SkillListWithScope.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/TeamListWithScope.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
  start.sh
Due: wegent-backend, wegent-web

feat(wework): improve codex stream rendering
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/status_updating.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/execution/inprocess_executor.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/execution/test_responses_api_event_parser.py
  executor/agents/codex/event_mapper.py
  executor/pyproject.toml
  executor/tests/agents/test_codex_event_mapper.py
  executor/uv.lock
  shared/models/execution.py
  shared/models/responses_api.py
  shared/models/responses_api_emitter.py
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(frontend): prevent isStopping stuck when cancel ack is lost during disconnect
  frontend/src/__tests__/contexts/SocketContext.reconnect.test.tsx
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/tasks/session/messageSyncer.tsx
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

test(frontend): add e2e test asserting getChatSendState unblocks after recovery
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
Due: wegent-web

feat(wework): add cloud device scaling wiki link
  docs/en/getting-started/installation.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/getting-started/installation.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  wecode/docker/wework/Dockerfile
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/config/runtime.test.ts
  wework/src/config/runtime.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): add cloud device scaling wiki link
  docs/en/getting-started/installation.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/getting-started/installation.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/config/runtime.test.ts
  wework/src/config/runtime.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

Add resource metadata and sorting support (#1284)
  backend/app/api/endpoints/adapter/shells.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/model_aggregation_service.py
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/__tests__/features/resource-library/resourceSorting.test.ts
  frontend/src/apis/models.ts
  frontend/src/apis/retrievers.ts
  frontend/src/apis/shells.ts
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/resource-library/resourceSorting.ts
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/ModelListWithScope.tsx
  frontend/src/features/settings/components/RetrieverList.tsx
  frontend/src/features/settings/components/RetrieverListWithScope.tsx
  frontend/src/features/settings/components/ShellList.tsx
  frontend/src/features/settings/components/ShellListWithScope.tsx
  frontend/src/features/settings/components/SkillListWithScope.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/TeamListWithScope.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
  start.sh
Due: wegent-backend, wegent-web

Fix forwarded-message selection reset
  frontend/src/__tests__/features/inbox/ForwardMessageDialog.test.tsx
  frontend/src/features/inbox/components/ForwardMessageDialog.tsx
Due: wegent-web

Fix forwarded-message selection reset (#1289)
  frontend/src/__tests__/features/inbox/ForwardMessageDialog.test.tsx
  frontend/src/features/inbox/components/ForwardMessageDialog.tsx
Due: wegent-web

feat(chat): 并行上传视频分片
  frontend/src/__tests__/apis/attachments.test.ts
  frontend/src/apis/attachments.ts
Due: wegent-web

fix(frontend): enable claude code preload skills (#1276)
  docs/en/user-guide/settings/agent-settings.md
  docs/zh/user-guide/settings/agent-settings.md
  frontend/src/__tests__/features/settings/components/BotEdit.default-knowledge-bases.test.tsx
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/simple-team-edit-utils.ts
Due: wegent-web

fix(admin): preserve public bot preload skills (#1277)
  backend/app/api/endpoints/admin/public_bots.py
  backend/app/schemas/admin.py
  backend/tests/api/test_admin_public_bots.py
  frontend/src/__tests__/apis/publicResources.test.ts
  frontend/src/__tests__/features/admin/components/PublicBotList.test.tsx
  frontend/src/__tests__/features/settings/utils/skill-ref-resolver.test.ts
  frontend/src/apis/admin.ts
  frontend/src/apis/publicResources.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/utils/skillRefResolver.ts
Due: wegent-backend, wegent-web

Refactor/use group permissions hook (#1213)
  frontend/src/__tests__/hooks/useGroupPermissions.test.ts
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/RetrieverList.tsx
  frontend/src/features/settings/components/ShellList.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/hooks/useGroupPermissions.ts
Due: wegent-web

feat: support quick launch attachments
  backend/app/api/endpoints/users.py
  backend/app/schemas/quick_launch.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/context/context_service.py
  backend/tests/api/endpoints/test_user_quick_launch.py
  backend/tests/schemas/test_quick_launch.py
  backend/tests/services/chat/test_quick_launch_preset_attachment_override.py
  backend/tests/services/test_context_service.py
  frontend/src/__tests__/features/admin/SystemConfigPanel.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/apis/admin-quick-launch.ts
  frontend/src/apis/user.ts
  frontend/src/features/admin/components/SystemConfigPanel.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/quick-launch/types.ts
  frontend/src/features/tasks/components/chat/quick-launch/useQuickLaunchers.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

docs(quick-launch): document preset attachments
  docs/en/developer-guide/quick-launch-input-presets.md
  docs/en/user-guide/chat/managing-tasks.md
  docs/zh/developer-guide/quick-launch-input-presets.md
  docs/zh/user-guide/chat/managing-tasks.md
Due: none

feat: support quick launch preset attachments (#1290)
  backend/app/api/endpoints/users.py
  backend/app/schemas/quick_launch.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/context/context_service.py
  backend/tests/api/endpoints/test_user_quick_launch.py
  backend/tests/schemas/test_quick_launch.py
  backend/tests/services/chat/test_quick_launch_preset_attachment_override.py
  backend/tests/services/test_context_service.py
  docs/en/developer-guide/quick-launch-input-presets.md
  docs/en/user-guide/chat/managing-tasks.md
  docs/zh/developer-guide/quick-launch-input-presets.md
  docs/zh/user-guide/chat/managing-tasks.md
  frontend/src/__tests__/features/admin/SystemConfigPanel.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/apis/admin-quick-launch.ts
  frontend/src/apis/user.ts
  frontend/src/features/admin/components/SystemConfigPanel.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/quick-launch/types.ts
  frontend/src/features/tasks/components/chat/quick-launch/useQuickLaunchers.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

Revert "feat(codex): persist runtime session in task status"
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/schemas/kind.py
  backend/app/schemas/task.py
  backend/app/services/execution/request_builder.py
  backend/app/services/model_aggregation_service.py
  backend/app/services/task_runtime_session.py
  backend/tests/services/execution/test_request_builder_codex_runtime_session.py
  backend/tests/services/test_task_runtime_session.py
  executor/agents/codex/codex_agent.py
  executor/agents/codex/config_builder.py
  executor/agents/codex/session_store.py
  executor/services/api_client.py
  executor/tests/agents/test_codex_runtime_session.py
  shared/models/codex_routing.py
  shared/models/execution.py
  shared/models/openai_converter.py
  shared/tests/test_codex_routing.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(frontend): show attachment icon on quick presets
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/QuickPhraseList.tsx
Due: wegent-web

fix(shared): preserve stream event ordering
  shared/models/throttled_transport.py
  shared/tests/test_emitter_factory.py
Due: wegent-executor-manager, wegent-executor

feat(wework): add cloud device scaling wiki link (#1288)
  docs/en/getting-started/installation.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/getting-started/installation.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/config/runtime.test.ts
  wework/src/config/runtime.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(shared): preserve stream event ordering (#1292)
  shared/models/throttled_transport.py
  shared/tests/test_emitter_factory.py
Due: wegent-executor-manager, wegent-executor

fix(frontend): show attachment icon on quick presets (#1291)
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/QuickPhraseList.tsx
Due: wegent-web
