Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(device): add local project interactive sessions
  .dockerignore
  .github/workflows/publish-image.yml
  backend/app/api/endpoints/projects.py
  backend/app/schemas/project.py
  backend/app/services/device/session_service.py
  backend/app/services/project_device_session_service.py
  backend/tests/services/test_project_device_session_service.py
  docker/device/Dockerfile
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/modes/local/events.py
  executor/modes/local/runner.py
  executor/modes/local/session_handler.py
  executor/scripts/build_local.py
  executor/tests/scripts/test_build_local.py
  executor/tests/test_local_session_handler.py
  frontend/src/__tests__/features/projects/components/ProjectCreateDialog.test.tsx
  frontend/src/features/projects/components/ProjectCreateDialog.tsx
  shared/logger.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

feat(device): add local project interactive sessions (#1163)
  .dockerignore
  .github/workflows/publish-image.yml
  backend/app/api/endpoints/projects.py
  backend/app/schemas/project.py
  backend/app/services/device/session_service.py
  backend/app/services/project_device_session_service.py
  backend/tests/services/test_project_device_session_service.py
  docker/device/Dockerfile
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/modes/local/events.py
  executor/modes/local/runner.py
  executor/modes/local/session_handler.py
  executor/scripts/build_local.py
  executor/tests/scripts/test_build_local.py
  executor/tests/test_local_session_handler.py
  frontend/src/__tests__/features/projects/components/ProjectCreateDialog.test.tsx
  frontend/src/features/projects/components/ProjectCreateDialog.tsx
  shared/logger.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

feat(backend): add configurable timeout for RAG remote gateway requests
  backend/app/services/rag/remote_gateway.py
Due: wegent-backend

fix(knowledge): 修复摘要组件移动端触控目标与测试覆盖
  backend/tests/schemas/test_summary_schema.py
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseSummaryDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseSummaryCard.tsx
  scripts/hooks/ai-push-gate.sh
Due: wegent-backend, wegent-web

fix(groups): 传递 onCancel 和 userRole 给扩展组件 (#1161)
  frontend/src/apis/groups.ts
  frontend/src/features/groups/extension-loader.ts
  frontend/src/features/settings/components/groups/AddMemberPanel.tsx
Due: wegent-web

feat(knowledge-doc-converter): add doc-converter prefix to S3 path (#1165)
  knowledge_doc_converter/knowledge_doc_converter/tasks/conversion_task.py
Due: none

refactor(knowledge): 移除无用的 has_manual_override 清理逻辑
  backend/app/services/knowledge/summary_service.py
Due: wegent-backend

feat(frontend): select project directory from device
  backend/alembic/versions/20260506_d1e2f3a4b5c6_extend_resource_members_for_entity.py
  backend/app/services/device/command_post_processor.py
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/developer-guide/local-device-command-rpc.md
  docs/zh/developer-guide/local-device-command-rpc.md
  frontend/src/__tests__/features/projects/components/ProjectCreateDialog.test.tsx
  frontend/src/apis/devices.ts
  frontend/src/features/projects/components/DeviceDirectoryPicker.tsx
  frontend/src/features/projects/components/ProjectCreateDialog.tsx
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
Due: wegent-backend, wegent-web

feat(frontend): update sidebar new style
  frontend/src/__tests__/features/projects/components/project-sidebar-behavior.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskContext.group-loading.test.tsx
  frontend/src/__tests__/i18n/missing-console-keys.test.ts
  frontend/src/features/projects/components/ProjectSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/i18n/locales/zh-CN/feed.json
Due: wegent-web

feat(tasks): group personal history by agent and device
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds/helpers.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/tests/services/test_task_lite_batch_loading.py
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/apis/tasks.ts
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

feat(frontend): compact chat input toolbar
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-context-visibility.test.tsx
  frontend/src/features/tasks/components/CorrectionModeToggle.tsx
  frontend/src/features/tasks/components/chat/AddContextButton.tsx
  frontend/src/features/tasks/components/chat/ChatContextInput.tsx
  frontend/src/features/tasks/components/clarification/ClarificationToggle.tsx
  frontend/src/features/tasks/components/input/AgentSkillSelectorMenu.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/CodeModeButton.tsx
  frontend/src/features/tasks/components/input/InputMoreActionsMenu.tsx
  frontend/src/features/tasks/components/selector/TeamSelectorButton.tsx
Due: wegent-web

feat(projects): select workspace directory from device
  backend/app/services/device/command_post_processor.py
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/developer-guide/local-device-command-rpc.md
  docs/zh/developer-guide/local-device-command-rpc.md
  frontend/src/__tests__/features/projects/components/ProjectCreateDialog.test.tsx
  frontend/src/apis/devices.ts
  frontend/src/features/projects/components/ProjectCreateDialog.tsx
  frontend/src/features/projects/components/ProjectDirectoryPickerDialog.tsx
  frontend/src/features/projects/components/index.ts
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
Due: wegent-backend, wegent-web

feat(knowledge): 知识库支持手动编辑摘要 (#1162)
  backend/app/api/endpoints/knowledge.py
  backend/app/core/exceptions.py
  backend/app/schemas/summary.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/knowledge/summary_service.py
  backend/tests/api/endpoints/test_knowledge_summary_endpoints.py
  backend/tests/schemas/test_summary_schema.py
  backend/tests/services/test_kb_meta_prompt.py
  backend/tests/services/test_summary_service.py
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/knowledge/knowledge-base-guide.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/knowledge/knowledge-base-guide.md
  frontend/src/__tests__/features/knowledge/document/document-list-summary.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-base-summary-card.test.tsx
  frontend/src/__tests__/features/knowledge/document/namespace-permissions.test.ts
  frontend/src/__tests__/features/knowledge/document/summary-selectors.test.ts
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseSummaryDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseCard.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseSummaryCard.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDetailPanel.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageDesktop.tsx
  frontend/src/features/knowledge/document/components/index.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseSummaryActions.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseSummaryEditor.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeSidebar.ts
  frontend/src/features/knowledge/document/pages/KnowledgeBaseChatPageDesktop.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseChatPageMobile.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseClassicPageDesktop.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseClassicPageMobile.tsx
  frontend/src/features/knowledge/document/utils/summarySelectors.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
  frontend/src/utils/namespace-permissions.ts
  scripts/hooks/ai-push-gate.sh
Due: wegent-backend, wegent-web

feat(tasks): improve history and code controls
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds/helpers.py
  backend/tests/services/test_task_lite_batch_loading.py
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskListSection.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/CodeModeButton.tsx
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

docs(resource-library): add resource library design
  docs/superpowers/specs/2026-05-27-resource-library-design.md
Due: none

feat(knowledge): redesign KB permission UI with unified collaborator management
  backend/wecode/api/__init__.py
  backend/wecode/api/share_service_patch.py
  backend/wecode/api/user_search_with_erp.py
  frontend/e2e/tests/knowledge-permission-ui.spec.ts
  frontend/src/features/knowledge/document/components/DocumentPanel.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseAuthSection.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDetailPanel.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseClassicPageDesktop.tsx
  frontend/src/features/knowledge/document/pages/KnowledgeBaseClassicPageMobile.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/wecode/features/knowledge-permission-ui/api.ts
  frontend/wecode/features/knowledge-permission-ui/components/AddCollaboratorDialog.tsx
  frontend/wecode/features/knowledge-permission-ui/components/CollaboratorItem.tsx
  frontend/wecode/features/knowledge-permission-ui/components/CollaboratorList.tsx
  frontend/wecode/features/knowledge-permission-ui/components/CollaboratorSearchInput.tsx
  frontend/wecode/features/knowledge-permission-ui/components/KnowledgePermissionDialog.tsx
  frontend/wecode/features/knowledge-permission-ui/components/RoleDropdown.tsx
  frontend/wecode/features/knowledge-permission-ui/hooks/useCollaborators.ts
  frontend/wecode/features/knowledge-permission-ui/index.ts
  frontend/wecode/features/knowledge-permission-ui/types.ts
  frontend/wecode/features/knowledge-permission-ui/utils.ts
  frontend/wecode/i18n/locales/en/knowledge.json
  frontend/wecode/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

feat(projects): select workspace directory from device (#1173)
  backend/app/services/device/command_post_processor.py
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/developer-guide/local-device-command-rpc.md
  docs/zh/developer-guide/local-device-command-rpc.md
  frontend/src/__tests__/features/projects/components/ProjectCreateDialog.test.tsx
  frontend/src/apis/devices.ts
  frontend/src/features/projects/components/ProjectCreateDialog.tsx
  frontend/src/features/projects/components/ProjectDirectoryPickerDialog.tsx
  frontend/src/features/projects/components/index.ts
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
Due: wegent-backend, wegent-web

docs(resource-library): add implementation plan
  docs/superpowers/plans/2026-05-27-resource-library-implementation.md
Due: none

feat(resource-library): add backend models and schemas
  backend/alembic/versions/20260527_e1f2a3b4c5d6_add_resource_library_tables.py
  backend/app/models/__init__.py
  backend/app/models/resource_library.py
  backend/app/schemas/resource_library.py
  backend/tests/models/test_resource_library_models.py
  backend/tests/schemas/test_resource_library_schema.py
Due: wegent-backend

fix(resource-library): align model indexes with migration
  backend/alembic/versions/20260527_e1f2a3b4c5d6_add_resource_library_tables.py
  backend/app/models/resource_library.py
  backend/tests/models/test_resource_library_models.py
Due: wegent-backend

feat(resource-library): add listing discovery api
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/resource_library.py
  backend/app/services/resource_library/__init__.py
  backend/app/services/resource_library/service.py
  backend/tests/api/endpoints/test_resource_library.py
  backend/tests/services/resource_library/test_resource_library_service.py
Due: wegent-backend

fix(resource-library): harden listing publish api
  backend/app/api/endpoints/adapter/resource_library.py
  backend/app/services/resource_library/service.py
  backend/tests/api/endpoints/test_resource_library.py
  backend/tests/services/resource_library/test_resource_library_service.py
Due: wegent-backend

feat(resource-library): build publish manifests
  backend/app/services/resource_library/manifest_builders.py
  backend/app/services/resource_library/service.py
  backend/tests/api/endpoints/test_resource_library.py
  backend/tests/services/resource_library/test_manifest_builders.py
  backend/tests/services/resource_library/test_resource_library_service.py
Due: wegent-backend

feat(resource-library): add skill and mcp installers
  backend/app/services/resource_library/installers.py
  backend/app/services/resource_library/service.py
  backend/tests/services/resource_library/test_resource_installers.py
Due: wegent-backend

fix(resource-library): enforce skill install snapshot integrity
  backend/app/services/resource_library/installers.py
  backend/tests/services/resource_library/test_resource_installers.py
Due: wegent-backend

feat(resource-library): install resources
  backend/app/api/endpoints/adapter/resource_library.py
  backend/app/services/resource_library/installers.py
  backend/app/services/resource_library/service.py
  backend/tests/api/endpoints/test_resource_library_install.py
  backend/tests/services/resource_library/test_agent_installer.py
Due: wegent-backend

fix(resource-library): harden install retry and mcp configuration
  backend/app/api/endpoints/users.py
  backend/app/services/resource_library/installers.py
  backend/app/services/resource_library/service.py
  backend/app/services/user_mcp_service.py
  backend/tests/api/endpoints/test_resource_library_install.py
Due: wegent-backend

fix(frontend): show agent display name in message bubble
  frontend/src/__tests__/features/tasks/components/message/MessageBubble.test.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
Due: wegent-web

docs: add agent simple edit design
  docs/superpowers/specs/2026-05-27-agent-simple-edit-design.md
Due: none

feat(frontend): add resource library api client
  frontend/src/__tests__/apis/resourceLibrary.test.ts
  frontend/src/__tests__/i18n/resource-library-namespace.test.ts
  frontend/src/apis/resourceLibrary.ts
  frontend/src/features/resource-library/types.ts
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
  frontend/src/i18n/setup.ts
Due: wegent-web

fix(frontend): align resource library api types
  frontend/src/__tests__/apis/resourceLibrary.test.ts
  frontend/src/apis/resourceLibrary.ts
  frontend/src/features/resource-library/types.ts
Due: wegent-web

fix(frontend): complete resource library api defaults
  frontend/src/__tests__/apis/resourceLibrary.test.ts
  frontend/src/apis/resourceLibrary.ts
  frontend/src/features/resource-library/types.ts
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
Due: wegent-web

feat(frontend): add resource library page shell
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/app/(tasks)/resource-library/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/ResourceLibraryTabs.tsx
  frontend/src/features/resource-library/components/ResourceTypeFilter.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

fix(frontend): integrate resource library sidebar layout
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/app/(tasks)/resource-library/page.tsx
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/ResourceLibraryTabs.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

style: update input style
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskContext.group-loading.test.tsx
  frontend/src/features/tasks/components/chat/ContextSelector.tsx
  frontend/src/features/tasks/components/input/AgentSkillSelectorMenu.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/InputMoreActionsMenu.tsx
  frontend/src/features/tasks/components/selector/TeamSelectorButton.tsx
Due: wegent-web

feat(settings): add simple agent edit helpers
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-utils.test.ts
  frontend/src/features/settings/components/team-edit/simple-team-edit-utils.ts
Due: wegent-web

feat(settings): add simple agent save payload helpers
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-save.test.ts
  frontend/src/features/settings/components/team-edit/simple-team-edit-save.ts
Due: wegent-web

feat(settings): add simple agent selection controls
  frontend/src/__tests__/features/settings/components/team-edit/ExecutorModeSelector.test.tsx
  frontend/src/__tests__/features/settings/components/team-edit/TeamBindModeCards.test.tsx
  frontend/src/features/settings/components/team-edit/ExecutorModeSelector.tsx
  frontend/src/features/settings/components/team-edit/TeamBindModeCards.tsx
Due: wegent-web

feat(settings): add simple bot core config form
  frontend/src/__tests__/features/settings/components/team-edit/SimpleBotCoreConfigForm.test.tsx
  frontend/src/features/settings/components/team-edit/SimpleBotCoreConfigForm.tsx
Due: wegent-web
