Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(backend): preserve user state after private IM session refresh
  backend/app/services/channels/handler.py
  backend/tests/services/channels/test_private_im_session_integration.py
Due: wegent-backend

feat(wework): add IM session API client
  wework/src/api/imSessions.test.ts
  wework/src/api/imSessions.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/types/api.ts
Due: none

fix(wework): refine local Codex takeover flow
  backend/app/api/endpoints/local_codex.py
  backend/app/services/device/command_registry.py
  backend/tests/api/endpoints/test_local_codex_threads_api.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/user-guide/ai-coding/local-codex-thread-binding.md
  docs/zh/user-guide/ai-coding/local-codex-thread-binding.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/LocalCodexThreadImportDialog.test.tsx
  wework/src/components/layout/LocalCodexThreadImportDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

fix(wework): align IM session channel id type
  wework/src/types/api.ts
Due: none

feat(wework): add continue in IM dialog
  wework/src/components/chat/ContinueInImDialog.test.tsx
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/common/TransientNotice.test.tsx
  wework/src/components/common/TransientNotice.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/WorkbenchPage.tsx
Due: none

fix(wework): harden continue in IM dialog
  wework/src/components/chat/ContinueInImDialog.test.tsx
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
Due: none

feat(wework): show IM source labels
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds/helpers.py
  backend/tests/services/test_task_lite_batch_loading.py
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/common/ImSourceBadge.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-backend

fix(backend): normalize task source labels
  backend/app/services/adapters/task_kinds/helpers.py
  backend/tests/services/test_task_lite_batch_loading.py
Due: wegent-backend

fix(wework): keep IM message source visible
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
Due: none

fix(wework): avoid empty message source rows
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/common/ImSourceBadge.tsx
  wework/src/lib/im-source.ts
Due: none

fix(wework): hide IM continuation for group tasks
  wework/src/components/chat/ContinueInImDialog.test.tsx
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
Due: none

feat(wework): show local Codex sessions by device
  docs/en/user-guide/ai-coding/local-codex-thread-binding.md
  docs/zh/user-guide/ai-coding/local-codex-thread-binding.md
  wework/src/components/layout/LocalCodexThreadImportDialog.test.tsx
  wework/src/components/layout/LocalCodexThreadImportDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

Recover local executor websocket connections
  executor/modes/local/heartbeat.py
  executor/modes/local/websocket_client.py
  executor/tests/test_local_heartbeat.py
  executor/tests/test_local_websocket_client.py
Due: wegent-executor

fix(ci): stabilize local Codex tests
  backend/app/services/local_codex_thread_service.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_task_store.py
  executor/agents/codex/codex_agent.py
  executor/tests/agents/test_codex_thread_binding.py
Due: wegent-executor, wegent-backend

Recover local executor websocket connections (#1499)
  executor/modes/local/heartbeat.py
  executor/modes/local/websocket_client.py
  executor/tests/test_local_heartbeat.py
  executor/tests/test_local_websocket_client.py
Due: wegent-executor

Avoid generic task status errors in workbench
  executor/modes/local/runner.py
  executor/tests/test_local_task_dispatch_handler.py
  packages/chat-core/src/index.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: wegent-executor

fix: fix review
  backend/app/api/endpoints/internal/callback.py
  backend/app/api/ws/device_namespace.py
  backend/app/services/channels/__init__.py
  backend/app/services/channels/callback.py
  backend/app/services/channels/dingtalk/service.py
  backend/app/services/channels/discord/handler.py
  backend/app/services/channels/discord/service.py
  backend/app/services/channels/manager.py
  backend/app/services/channels/telegram/emitter.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/im/command_router.py
  backend/app/services/im/interaction_service.py
  backend/app/services/im/session_service.py
  backend/app/services/im/task_continuation_service.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_task_store.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/services/channels/telegram_channel/test_emitter.py
  executor/services/updater/github_version_checker.py
  executor/version.py
  frontend/src/__tests__/features/admin/components/IMChannelList.test.tsx
Due: wegent-executor, wegent-backend, wegent-web

docs(wework): add runtime work item design
  docs/superpowers/specs/2026-06-20-runtime-session-workitems-design.md
Due: none

fix(wework): show retry card for failed messages
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: none

Preserve specific task failure errors in workbench messages (#1500)
  executor/modes/local/runner.py
  executor/tests/test_local_task_dispatch_handler.py
  packages/chat-core/src/index.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: wegent-executor

fix: address im continuation review feedback
  backend/alembic/versions/20260620_e7f8a9b0c1d2_add_im_private_sessions.py
  backend/app/api/endpoints/im_sessions.py
  backend/app/models/im_session.py
  backend/app/schemas/user.py
  backend/app/services/channels/discord/service.py
  backend/app/services/channels/discord/user_resolver.py
  backend/app/services/channels/handler.py
  backend/app/services/channels/messager_config.py
  backend/app/services/channels/telegram/emitter.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/im/task_continuation_service.py
  backend/tests/services/channels/discord_channel/test_service.py
  backend/tests/services/channels/telegram_channel/test_emitter.py
  docs/en/user-guide/integrations/README.md
  docs/en/user-guide/integrations/im-channel-integration.md
  docs/zh/user-guide/integrations/README.md
  docs/zh/user-guide/integrations/im-channel-integration.md
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/types/api.ts
Due: wegent-backend

refactor(im): store private sessions in redis
  backend/alembic/versions/20260620_e7f8a9b0c1d2_add_im_private_sessions.py
  backend/app/api/endpoints/im_sessions.py
  backend/app/models/im_session.py
  backend/app/schemas/im_session.py
  backend/app/services/channels/handler.py
  backend/app/services/im/command_router.py
  backend/app/services/im/interaction_service.py
  backend/app/services/im/notification_dispatcher.py
  backend/app/services/im/session_service.py
  backend/app/services/im/task_continuation_service.py
  backend/tests/api/endpoints/test_im_sessions_api.py
  backend/tests/conftest.py
  backend/tests/docker/test_frontend_dockerfile_contract.py
  backend/tests/models/test_im_private_session_model.py
  backend/tests/services/channels/conftest.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/im/conftest.py
  backend/tests/services/im/test_command_router.py
  backend/tests/services/im/test_interaction_service.py
  backend/tests/services/im/test_notification_dispatcher.py
  backend/tests/services/im/test_session_service.py
  backend/tests/services/im/test_task_continuation_service.py
  wework/src/api/imSessions.test.ts
  wework/src/api/imSessions.ts
  wework/src/components/chat/ContinueInImDialog.test.tsx
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/types/api.ts
Due: wegent-backend

fix: update doc
  docs/superpowers/specs/2026-06-20-runtime-session-workitems-design.md
Due: none

fix(backend): avoid db task coupling in runtime work
  backend/alembic/versions/20260620_f1a2b3c4d5e6_add_device_workspaces.py
  backend/app/models/device_workspace.py
  backend/app/services/runtime_work_service.py
Due: wegent-backend

fix(wework): keep runtime worklists device-sourced
  backend/app/schemas/runtime_work.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_runtime_work_service.py
  docs/superpowers/specs/2026-06-20-runtime-session-workitems-design.md
  executor/runtime_work/agent_adapter.py
  executor/runtime_work/local_task_store.py
  executor/runtime_work/rpc_handler.py
  executor/tests/runtime_work/test_local_task_store.py
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

test(wework): address runtime sidebar review notes
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/features/workbench/workbenchReducer.test.ts
Due: none

test(executor): speed up default pytest runs
  executor/pyproject.toml
  executor/pytest.ini
  executor/tests/config/test_pytest_config.py
Due: wegent-executor

test(executor): support pytest config test on python 3.10
  executor/tests/config/test_pytest_config.py
Due: wegent-executor

[codex] Speed up executor pytest defaults (#1505)
  executor/pyproject.toml
  executor/pytest.ini
  executor/tests/config/test_pytest_config.py
Due: wegent-executor

feat(task): support fork runtime migration
  backend/app/api/endpoints/internal/workspace_archives.py
  backend/app/schemas/kind.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/request_builder.py
  backend/app/services/task_fork.py
  backend/tests/api/internal/test_workspace_archive_download_url.py
  backend/tests/schemas/test_task_fork_schema.py
  backend/tests/services/execution/test_dispatcher_recovery.py
  backend/tests/services/execution/test_extract_completed_result.py
  backend/tests/services/execution/test_request_builder_fork_runtime.py
  backend/tests/services/test_task_fork_service.py
  executor/agents/base.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
  executor/agents/codex/codex_agent.py
  executor/agents/codex/event_mapper.py
  executor/services/workspace_archive_restore.py
  executor/tests/agents/test_claude_response_processor.py
  executor/tests/agents/test_codex_event_mapper.py
  executor/tests/agents/test_fork_session_inheritance.py
  executor/tests/services/test_workspace_archive_restore.py
  shared/models/execution.py
  shared/models/openai_converter.py
  shared/tests/test_openai_converter.py
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/TaskForkDialog.tsx
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(runtime-work): address PR review and CI failures
  backend/app/api/endpoints/runtime_work.py
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/local_task_responses.py
  backend/app/services/channels/handler.py
  backend/app/services/channels/telegram/emitter.py
  backend/app/services/device/command_registry.py
  backend/app/services/runtime_work_kind_store.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/services/channels/telegram_channel/test_emitter.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/test_local_device_command_service.py
  backend/tests/services/test_runtime_work_service.py
  executor/runtime_work/codex_discovery.py
  executor/runtime_work/rpc_handler.py
  executor/tests/runtime_work/test_local_task_store.py
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
Due: wegent-executor, wegent-backend

feat(runtime): support wework task transfer
  backend/app/api/endpoints/runtime_work.py
  backend/app/schemas/runtime_work.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_runtime_work_service.py
  executor/runtime_work/agent_adapter.py
  executor/runtime_work/fork_transfer.py
  executor/runtime_work/rpc_handler.py
  executor/services/workspace_archive_restore.py
  executor/tests/runtime_work/test_local_task_store.py
  wework/src/api/runtimeWork.test.ts
  wework/src/api/runtimeWork.ts
  wework/src/api/tasks.test.ts
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/TaskForkDialog.test.tsx
  wework/src/components/layout/TaskForkDialog.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/pages/WorkbenchPage.tsx
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

fix(runtime): notify native tasks and resolve workspace tools
  backend/app/api/ws/device_namespace.py
  backend/app/services/channels/commands.py
  backend/app/services/im/command_router.py
  backend/app/services/im/notification_dispatcher.py
  backend/app/services/im/session_service.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/services/im/test_command_router.py
  backend/tests/services/im/test_notification_dispatcher.py
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/config/config.py
  executor/modes/local/runner.py
  executor/runtime_work/rpc_handler.py
  executor/tests/runtime_work/test_local_task_store.py
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/TaskForkDialog.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/lib/workspace-target.test.ts
  wework/src/lib/workspace-target.ts
  wework/src/types/workspace-files.ts
Due: wegent-executor, wegent-backend

feat(runtime): refine local work project setup
  backend/app/api/endpoints/runtime_work.py
  backend/app/schemas/project.py
  backend/app/schemas/runtime_work.py
  backend/app/services/device/command_registry.py
  backend/app/services/im/session_service.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/endpoints/test_runtime_work_api.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/schemas/test_project_config_schema.py
  backend/tests/services/im/test_notification_dispatcher.py
  backend/tests/services/test_runtime_work_service.py
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/runtime_work/rpc_handler.py
  executor/tests/runtime_work/test_local_task_store.py
  wework/src/api/runtimeWork.ts
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/navigation.ts
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/pages/WorkbenchPage.tsx
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
