Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(openapi): route device follow-ups to their runtime (#3781)
  backend/app/api/endpoints/internal/callback.py
  backend/app/api/endpoints/openapi_responses.py
  backend/app/api/ws/device_namespace.py
  backend/app/services/chat/storage/session.py
  backend/app/services/chat/task_device_resolution.py
  backend/tests/api/endpoints/test_internal_callback_batch.py
  backend/tests/api/test_openapi_responses.py
  backend/tests/api/ws/test_device_callback_stream.py
  backend/tests/services/chat/test_task_device_resolution.py
  docs/en/wegent/reference/openapi-responses-api.md
  docs/zh/wegent/reference/openapi-responses-api.md
Due: wegent-backend

fix(wework): preserve bound agent model in issue task conversations
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
  wework/src/features/todo/runtimeTaskBindingAddress.test.ts
  wework/src/features/todo/runtimeTaskBindingAddress.ts
  wework/src/features/workbench/useRuntimeTaskModelSelection.test.tsx
Due: none

fix(wework): repair issue tags, popover dismissal and execution time
  backend/app/api/endpoints/deliveries.py
  backend/app/api/endpoints/loop_item_executions.py
  backend/app/db/timezone.py
  backend/app/services/collaboration_manager_decisions.py
  backend/app/services/delivery/service.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_automation_completion.py
  backend/app/services/project_automation_execution.py
  backend/app/services/project_chat/comment_execution.py
  backend/app/services/project_chat/execution_snapshot.py
  backend/app/services/project_chat/service.py
  backend/tests/services/test_loop_item_assignment.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_chat_timestamps.py
  packages/collaboration/src/SharedIssueDetailEditor.tsx
  packages/collaboration/src/i18n.test.tsx
  packages/collaboration/src/i18n.ts
  packages/collaboration/src/issue-detail/IssueHistoryLists.tsx
  packages/collaboration/src/issue-detail/IssuePropertiesPopover.tsx
  packages/collaboration/src/issue-detail/TagEditor.tsx
  packages/collaboration/src/issue-detail/index.ts
  packages/collaboration/src/issue-detail/issueTimestamp.test.ts
  packages/collaboration/src/issue-detail/issueTimestamp.ts
  packages/collaboration/src/issue-detail/task-detail-layout.css
  packages/collaboration/src/types.ts
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tags.test.tsx
  wework/src/features/todo/TodoEditor.time.test.tsx
Due: wegent-backend

feat(backend): enable autoLayout for DingTalk AI card notifications (#3790)
  backend/app/services/channels/dingtalk/sender.py
Due: wegent-backend

fix(wework): recover idle-thread context compaction and desktop token refresh (#3774)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/agents/mod.rs
  executor/src/local/app_ipc.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/mod.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/scenarios/context-compaction.scenario.mjs
  wework/electron/src/host/cloud-credential-service.test.ts
  wework/electron/src/host/cloud-credential-service.ts
  wework/src/features/cloud-connection/CloudConnectionProvider.tsx
  wework/src/features/cloud-connection/cloudConnectionRefreshRecovery.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

docs(wework): document shared inventory and per-app authorization
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/plugins-and-skills.md
Due: none

test(wework): await GitHub CLI error state before retry assertions
  wework/src/components/chat/ConnectorAuthCard.test.tsx
Due: none

test(wework): replay all stale composer acknowledgements deterministically
  wework/src/components/layout/BufferedChatInput.test.tsx
Due: none

fix(wework): retain sync lease ownership across stale completions
  wework/src/features/plugins/pluginDeviceAutoSync.test.ts
  wework/src/features/plugins/pluginDeviceAutoSync.ts
Due: none

fix(wework): preserve pending actions during transcript reconciliation
  frontend/src/__tests__/features/collaboration/IssueDetail.shared.test.tsx
  wework/e2e/desktop/scenarios/collaboration-group-onboarding.scenario.mjs
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.tsx
Due: wegent-web

fix(wework): retain models across shared runtime task bindings
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/workbench/projectTaskTracking.test.ts
  wework/src/features/workbench/projectTaskTracking.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
Due: none

fix(wework): normalize shared Issue task model bindings
  backend/tests/api/test_deliveries_api.py
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/collaboration-local-agent-dispatch.scenario.mjs
  wework/src/features/collaboration/weworkSharedWorkspaceApi.ts
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
  wework/src/features/todo/WeworkIssueDrawers.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/index.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
  wework/src/lib/debugPanel.test.ts
  wework/src/lib/debugPanel.ts
Due: wegent-backend

fix(wework): reject unchanged active snapshots after completion
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
Due: none

feat(wework): show the answered question on async question replies
  packages/chat-core/src/runtime-user-input.test.ts
  packages/chat-core/src/runtime-user-input.ts
  packages/collaboration/src/conversation/MessageList.tsx
  packages/collaboration/src/conversation/UserMessage.tsx
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/src/components/chat/SharedMessageList.test.tsx
Due: none

fix(wework): preserve line breaks in async question replies
  packages/chat-core/src/runtime-user-input.ts
  packages/collaboration/src/conversation/UserMessage.tsx
Due: none

fix(wework): answer non-blocking Codex questions while the model runs
  executor/src/runtime_work/codex_user_input.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/mod.rs
  executor/src/runtime_work/transcript.rs
  executor/src/runtime_work/transcript/tests_core.rs
  executor/src/runtime_work/transcript/tool_projection.rs
  packages/chat-core/src/runtime-user-input.test.ts
  packages/chat-core/src/runtime-user-input.ts
  packages/chat-core/src/runtime.ts
  packages/collaboration/src/conversation/MessageList.tsx
  packages/collaboration/src/issue-detail/useBrowserConversationActions.test.tsx
  packages/collaboration/src/issue-detail/useBrowserConversationActions.ts
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
Due: wegent-executor

test(wework): fix Markdown scroll CI fixtures
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.test.tsx
Due: none

fix(plugins): bound reconciliation and repair CI dependencies
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/plugin-auth-sdk.yml
  .github/workflows/wework-e2e.yml
  backend/app/services/device/plugin_removal_sync.py
  backend/tests/services/test_plugin_marketplace_v2.py
  backend/tests/services/test_plugin_removal_sync.py
  docker/wework-e2e/desktop.Dockerfile
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/plugin_account_auth/process.rs
  wework/src/api/local/codexPluginInstallation.ts
  wework/src/api/local/codexPlugins.install.test.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/plugins/pluginMarketplaceCache.test.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
Due: wegent-executor, wegent-backend

fix(wework): emphasize sidebar tasks awaiting input
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/styles/globals.css
Due: none

fix(wework): soften waiting input indicator to match status badges
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/appearance/applyAppearance.ts
  wework/src/styles/globals.css
Due: none

fix(wework): use accent color for waiting input indicator
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/features/appearance/applyAppearance.ts
  wework/src/styles/globals.css
Due: none

fix(wework): refresh disk inventory and preserve E2E plugin references
  wework/e2e/desktop/modules/plugin-conversation-auth.mjs
  wework/e2e/desktop/modules/plugin-flows.mjs
  wework/e2e/desktop/modules/plugin-regression-fixture.mjs
  wework/src/features/plugins/pluginInventory.test.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(collaboration): calculate execution duration from UTC timestamps
  docs/en/engineering/collaboration-shared-ui-test-plan.md
  docs/zh/engineering/collaboration-shared-ui-test-plan.md
  packages/collaboration/src/SharedIssueDetailEditor.tsx
  packages/collaboration/src/issue-detail/index.ts
  packages/collaboration/src/issue-detail/issueTimestamp.test.ts
  packages/collaboration/src/issue-detail/issueTimestamp.ts
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
Due: none

feat(wework): create personal tasks from assigned issues
  packages/collaboration/src/SharedIssueDetailEditor.tsx
  packages/collaboration/src/issue-detail/task-detail-layout.css
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
  wework/src/features/todo/WeworkIssueDrawers.test.tsx
  wework/src/features/todo/workItemTaskInput.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(collaboration): separate private task lifecycle
  backend/app/services/delivery/service.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_chat/service.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/test_deliveries_api.py
  backend/tests/services/test_loop_item_assignment.py
  backend/tests/services/test_project_chat_execution_snapshot.py
  backend/tests/services/test_project_chat_service.py
  backend/tests/services/test_runtime_work_service.py
  docs/en/engineering/collaboration-execution-e2e-test-plan.md
  docs/zh/engineering/collaboration-execution-e2e-test-plan.md
  packages/chat-core/src/project-space-context.ts
  packages/collaboration/src/conversation/UserMessage.tsx
  packages/collaboration/src/markdown/AssistantMarkdown.tsx
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/projectProviderConfig.ts
  wework/src/features/todo/workItemRuntimeContext.test.ts
  wework/src/features/todo/workItemRuntimeContext.ts
  wework/src/features/todo/workItemTaskInput.ts
Due: wegent-backend

fix(wework): recognize gh authentication exit status in CI
  executor/src/runtime_work/local_connector_auth/github_cli.rs
  wework/e2e/desktop/scenarios/plugin-account-auth.scenario.mjs
Due: wegent-executor

test(wework): await terminal activity projection in agent dispatch
  wework/e2e/desktop/scenarios/collaboration-local-agent-dispatch.scenario.mjs
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
Due: none

fix(ci): invalidate desktop builds for shared collaboration changes
  .github/scripts/resolve-wework-core-e2e-build-ref.sh
  .github/scripts/resolve-wework-macos-e2e-build-ref.sh
  .github/scripts/test-wework-core-e2e-build-oci.sh
  .github/scripts/test-wework-macos-e2e-build.sh
  docs/en/engineering/collaboration-shared-ui-test-plan.md
  docs/zh/engineering/collaboration-shared-ui-test-plan.md
Due: none

test(backend): expect project space tools in runtime payload
  backend/tests/services/test_loop_item_executions.py
Due: wegent-backend

fix(ci): warm desktop builds for collaboration changes
  .github/scripts/classify-ci-cache-warmup.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/ci-cache-warmup.yml
Due: none

fix(wework): start notification tasks in progress
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
  wework/src/features/todo/workItemTaskInput.ts
Due: none

fix(wework): refine issue activity timeline layout
  packages/collaboration/src/issue-detail/IssueActivityPresentation.tsx
  packages/collaboration/src/issue-detail/IssueChatMessage.tsx
  packages/collaboration/src/issue-detail/IssueProjectChatThread.test.tsx
  packages/collaboration/src/issue-detail/task-detail-layout.css
  wework/src/features/todo/TaskActivityView.tsx
Due: none

test(wework): enter GitHub consent flow from marketplace
  wework/e2e/desktop/modules/github-manage-connection.mjs
Due: none

docs(wework): define issue activity timeline layout
  docs/en/wegent/user-guide/coding/issue-comment-interaction.md
  docs/zh/wegent/user-guide/coding/issue-comment-interaction.md
Due: none

fix(wework): show executed model in issue conversation
  wework/e2e/desktop/modules/board-reply-model.mjs
  wework/src/features/todo/WeworkCollaborationPlatform.test.ts
  wework/src/features/todo/WeworkCollaborationPlatform.tsx
Due: none

docs(wework): document executed model display
  docs/en/wegent/user-guide/coding/board-progress-interaction.md
  docs/zh/wegent/user-guide/coding/board-progress-interaction.md
Due: none

fix(collaboration): type task model selections
  packages/collaboration/src/dto-mappers/workspaceDtoMappers.test.ts
  packages/collaboration/src/dto-mappers/workspaceDtoMappers.ts
  packages/collaboration/src/issue-detail/createSharedIssueDetailPort.ts
  packages/collaboration/src/ports/SharedWorkspaceApi.ts
Due: none

fix(runtime): preserve settled snapshots and goal execution state
  docs/en/engineering/collaboration-shared-ui-test-plan.md
  docs/zh/engineering/collaboration-shared-ui-test-plan.md
  executor/src/runtime_work/response.rs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
Due: wegent-executor
