Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

refactor: 移除错误类型更新逻辑 (#351)
  chat_shell/chat_shell/services/streaming/core.py
Due: none

fix: fix bug
  chat_shell/chat_shell/services/context.py
Due: none

fix: fix whitelist
  chat_shell/chat_shell/core/config.py
Due: none

fix: fix auth token
  backend/init_data/skills/sandbox/provider.py
Due: wegent-backend

fix: fix emitter arg
  backend/app/services/channels/dingtalk/emitter.py
Due: wegent-backend

fix: fix emitter arg (#352)
  backend/app/services/channels/dingtalk/emitter.py
Due: wegent-backend

feat: Install Claude Code CLI in the executor Dockerfile and update public shell base images to `wegent-executor:latest`.
  backend/init_data/01-public-shells.yaml
  docker/executor/Dockerfile
  executor/pyproject.toml
Due: wegent-executor, wegent-backend

fix: update uv.lock
  executor/uv.lock
Due: wegent-executor

feat: Wegent CLI supports installing local executors.
  frontend/.env.local
  wegent-cli/README.md
  wegent-cli/install-cli.sh
  wegent-cli/pyproject.toml
  wegent-cli/setup.py
  wegent-cli/wegent/__init__.py
  wegent-cli/wegent/cli.py
  wegent-cli/wegent/commands/executor.py
  wegent-cli/wegent/commands/upgrade.py
Due: wegent-web

feat: Optimize log output
  executor/agents/claude_code/claude_code_agent.py
  executor/modes/local/progress_reporter.py
  executor/modes/local/runner.py
Due: wegent-executor

feat(skill): add batch loading and dependency resolution for skills
  backend/app/schemas/kind.py
  backend/app/services/adapters/skill_kinds.py
  backend/app/services/chat/config/chat_config.py
  backend/app/services/skill_service.py
  backend/tests/services/test_skill_dependency_validator.py
  chat_shell/chat_shell/tools/builtin/load_skill.py
  chat_shell/chat_shell/tools/skill_factory.py
  chat_shell/tests/test_load_skill_batch.py
  docs/en/concepts/skill-system.md
  docs/zh/concepts/skill-system.md
Due: wegent-backend

fix: address code review feedback - add type hints
  backend/app/services/skill_service.py
  chat_shell/chat_shell/tools/builtin/load_skill.py
Due: wegent-backend

fix(chat_shell): fix KB tool call count limit not enforced correctly
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/summary_service.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/tests/test_knowledge_base_call_limits.py
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
Due: wegent-backend, wegent-web

Optimize kb tool call limits (#342)
  backend/app/api/endpoints/internal/rag.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/background_chat_executor.py
  backend/app/services/chat/adapters/http.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/summary_service.py
  chat_shell/chat_shell/services/context.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  chat_shell/tests/test_knowledge_base_call_limits.py
  chat_shell/tests/test_knowledge_injection_strategy.py
  chat_shell/tests/test_knowledge_injection_strategy_clean.py
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat: Optimize log output (#355)
  executor/agents/claude_code/claude_code_agent.py
  executor/modes/local/progress_reporter.py
  executor/modes/local/runner.py
Due: wegent-executor

Chore/upgrade executor deps (#353)
  backend/init_data/01-public-shells.yaml
  docker/executor/Dockerfile
  executor/pyproject.toml
  executor/uv.lock
Due: wegent-executor, wegent-backend

Update prepare_build.sh
  wecode/docker/executor/prepare_build.sh
Due: wegent-executor

Update Dockerfile
  wecode/docker/executor/Dockerfile
Due: wegent-executor

feat(chat_shell): add kb_ls and kb_head tools for knowledge base exploration
  backend/app/api/endpoints/internal/rag.py
  chat_shell/chat_shell/tools/builtin/__init__.py
  chat_shell/chat_shell/tools/builtin/knowledge_listing.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  chat_shell/tests/test_kb_prompt_deduplication.py
  shared/prompts/knowledge_base.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

refactor(frontend): implement state machine pattern for task message state management
  frontend/public/mockServiceWorker.js
  frontend/src/app/(tasks)/code/CodePageDesktop.tsx
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useStreamingVisibilityRecovery.ts
  frontend/src/features/tasks/hooks/useTaskStateMachine.ts
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/TaskStateManager.ts
  frontend/src/features/tasks/state/index.ts
Due: wegent-web

fix(frontend): address CodeRabbit review feedback
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/state/TaskStateManager.ts
Due: wegent-web

fix(frontend): add getSyncOptions getter and simplify migrateState
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/TaskStateManager.ts
Due: wegent-web

feat(chat_shell): integrate RAG call limit warnings with exploration tools
  shared/prompts/knowledge_base.py
Due: wegent-executor-manager, wegent-executor

refactor(frontend): cleanup legacy streaming recovery code
  frontend/src/apis/chat.ts
  frontend/src/features/tasks/components/group-chat/GroupChatSyncManager.tsx
  frontend/src/hooks/useStreamingRecovery.ts
Due: wegent-web

fix(chat_shell): use clamped start for has_more calculation in kb_head
  chat_shell/chat_shell/tools/builtin/knowledge_listing.py
Due: none

feat: add wework prompt
  backend/init_data/02-public-resources.yaml
Due: wegent-backend

feat: add wework prompt (#359)
  backend/init_data/02-public-resources.yaml
Due: wegent-backend

feat(knowledge): make RAG configuration optional for knowledge bases
  backend/app/api/endpoints/internal/rag.py
  chat_shell/chat_shell/prompts/knowledge_base.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  docs/en/guides/user/configuring-retrievers.md
  docs/en/guides/user/managing-knowledge-bases.md
  docs/zh/guides/user/configuring-retrievers.md
  docs/zh/guides/user/managing-knowledge-bases.md
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  shared/prompts/__init__.py
  shared/prompts/knowledge_base.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

refactor(frontend): migrate streaming message recovery to state machine
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useChatEventRouter.ts
  frontend/src/features/tasks/hooks/useStreamingVisibilityRecovery.ts
  frontend/src/features/tasks/hooks/useTaskStateMachine.ts
  frontend/src/features/tasks/hooks/useTaskStateManagerInit.ts
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/TaskStateManager.ts
  frontend/src/features/tasks/state/index.ts
Due: wegent-web

fix(ci): use cross-compilation for Intel macOS binary
  .github/workflows/publish-image.yml
  executor/scripts/build_local.py
Due: wegent-executor

chore: 添加虚拟环境目录到 .gitignore
  .gitignore
Due: none

feat(chat_shell): add call limit enforcement for kb_ls and kb_head tools
  chat_shell/chat_shell/tools/builtin/__init__.py
  chat_shell/chat_shell/tools/builtin/knowledge_listing.py
  chat_shell/chat_shell/tools/knowledge_factory.py
Due: none

Fix/macos intel cross compile (#362)
  .github/workflows/publish-image.yml
  .gitignore
  executor/scripts/build_local.py
Due: wegent-executor

fix(ci): use Rosetta 2 for Intel macOS binary build
  .github/workflows/publish-image.yml
Due: none

feat: 订阅支持知识库
  backend/app/core/circuit_breaker.py
  backend/app/core/dead_letter_queue.py
  backend/app/schemas/subscription.py
  backend/app/services/chat/trigger/core.py
  backend/app/services/chat/trigger/emitter.py
  backend/app/services/pet/ws_emitter.py
  backend/app/services/subscription/helpers.py
  backend/app/services/subscription/service.py
  backend/app/tasks/subscription_tasks.py
  chat_shell/chat_shell/services/context.py
  chat_shell/chat_shell/tools/knowledge_factory.py
  frontend/src/features/feed/components/SubscriptionForm.tsx
  frontend/src/i18n/locales/en/feed.json
  frontend/src/i18n/locales/zh-CN/feed.json
  frontend/src/types/subscription.ts
Due: wegent-backend, wegent-web

refactor: rewrite all
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/chat/trigger/core.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/streaming/core.py
  frontend/src/apis/subtasks.ts
  frontend/src/app/(tasks)/code/CodePageDesktop.tsx
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/feed/components/SubscriptionConversationDialog.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/clarification/ClarificationForm.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/message/RegenerateModelPopover.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/features/tasks/hooks/useTaskStateMachine.ts
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/features/tasks/service/messageService.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/TaskStateManager.ts
  frontend/src/types/api.ts
  frontend/src/types/socket.ts
  frontend/src/utils/openLinks.ts
  plans/remove-taskdetail-dependency.md
Due: wegent-backend, wegent-web

fix: fix review issues
  backend/app/api/ws/chat_namespace.py
  frontend/src/app/(tasks)/code/CodePageDesktop.tsx
  frontend/src/features/feed/components/SubscriptionConversationDialog.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/clarification/ClarificationForm.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/TaskStateManager.ts
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

refactor(frontend): implement state machine pattern for task message state management (#358)
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/chat/trigger/core.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/streaming/core.py
  frontend/public/mockServiceWorker.js
  frontend/src/apis/chat.ts
  frontend/src/apis/subtasks.ts
  frontend/src/app/(tasks)/code/CodePageDesktop.tsx
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/feed/components/SubscriptionConversationDialog.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/clarification/ClarificationForm.tsx
  frontend/src/features/tasks/components/group-chat/GroupChatSyncManager.tsx
  frontend/src/features/tasks/components/message/MessageBubble.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/message/RegenerateModelPopover.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/features/tasks/hooks/useStreamingVisibilityRecovery.ts
  frontend/src/features/tasks/hooks/useTaskStateMachine.ts
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/features/tasks/service/messageService.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/TaskStateManager.ts
  frontend/src/features/tasks/state/index.ts
  frontend/src/hooks/useStreamingRecovery.ts
  frontend/src/types/api.ts
  frontend/src/types/socket.ts
  frontend/src/utils/openLinks.ts
  plans/remove-taskdetail-dependency.md
Due: wegent-backend, wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
