Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: update mcp tool protect wrapper with inspect
  backend/app/services/chat_v2/tools/mcp/client.py
Due: wegent-backend

refactor(frontend): extract wizard namespace from common i18n
  frontend/src/features/settings/components/RetrieverEditDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/wizard/TeamCreationWizard.tsx
  frontend/src/features/settings/components/wizard/WizardStepIndicator.tsx
  frontend/src/features/settings/components/wizard/steps/AiFollowUpStep.tsx
  frontend/src/features/settings/components/wizard/steps/CoreQuestionsStep.tsx
  frontend/src/features/settings/components/wizard/steps/GeneratingLoader.tsx
  frontend/src/features/settings/components/wizard/steps/PreviewAdjustStep.tsx
  frontend/src/features/settings/components/wizard/steps/PromptPreviewStep.tsx
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/wizard.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/i18n/locales/zh-CN/wizard.json
  frontend/src/i18n/setup.ts
Due: wegent-web

fix: synchronous DB queries in async method block the event loop
  backend/app/services/chat_v2/service.py
Due: wegent-backend

fix(frontend): support array namespace in useTranslation hook
  frontend/src/hooks/useTranslation.ts
Due: wegent-web

refactor: use ThreadPoolExecutor and time constraint
  backend/app/services/chat_v2/tools/mcp/client.py
Due: wegent-backend

feat: add grey (beta) test join/leave feature
  backend/app/api/api.py
  backend/app/api/endpoints/grey.py
  frontend/src/apis/grey.ts
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/(tasks)/knowledge/[projectId]/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/features/layout/components/GreyTestButton.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(backend): fix chat_v2 deep thinking mode cancel streaming issue
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

feat: Added the parameter to the method to support display in the thinking process and workbench.
  backend/app/services/chat_v2/agents/graph_builder.py
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/config/chat_config.py
  backend/app/services/chat_v2/service.py
  backend/app/services/chat_v2/streaming/base.py
  backend/app/services/chat_v2/streaming/emitters.py
  backend/app/services/chat_v2/utils/prompts.py
  frontend/src/features/tasks/components/InlineToolStatus.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/ThinkingComponent.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

feat: Added the parameter to the method to support display in the thinking process and workbench. (#633)
  backend/app/services/chat_v2/agents/graph_builder.py
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/config/chat_config.py
  backend/app/services/chat_v2/service.py
  backend/app/services/chat_v2/streaming/base.py
  backend/app/services/chat_v2/streaming/emitters.py
  backend/app/services/chat_v2/utils/prompts.py
  frontend/src/features/tasks/components/InlineToolStatus.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/ThinkingComponent.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

feat(chat_v2): merge backend and bot MCP tools configuration (#622)
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/service.py
  backend/app/services/chat_v2/tools/mcp/client.py
Due: wegent-backend

feat: enable deepthing
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

feat: enable deepthing (#635)
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

refactor(frontend): unify button heights and alignment for navigation and sidebar
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/features/layout/DocsButton.tsx
  frontend/src/features/layout/FeedbackButton.tsx
  frontend/src/features/layout/GithubStarButton.tsx
  frontend/src/features/layout/TaskTitleDropdown.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/layout/WorkbenchToggle.tsx
  frontend/src/features/tasks/components/CollapsedSidebarButtons.tsx
  frontend/src/features/tasks/components/PublicTaskSidebar.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/theme/ThemeToggle.tsx
Due: wegent-web

fix(frontend): update settings page to use isSidebarCollapsed prop
  frontend/src/app/(tasks)/settings/page.tsx
Due: wegent-web

fix(frontend): eliminate layout shift in task list and unify visual system (#619)
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskMenu.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

feat: add stream version in chat namespace
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/ai_trigger.py
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/service.py
Due: wegent-backend

fix: fix admin update user
  backend/app/api/endpoints/admin.py
Due: wegent-backend

fix(backend): v2版本也搞一下
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/service.py
  backend/app/services/chat_v2/streaming/emitters.py
Due: wegent-backend

feat: update admin page style
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/admin/components/UserList.tsx
Due: wegent-web

feat(i18n): add tool status translations and update DeepThinkingToggle styles
  backend/app/services/chat_v2/service.py
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/DeepThinkingToggle.tsx
  frontend/src/features/tasks/components/InlineToolStatus.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

fix: TypeScript type errors in InlineToolStatus
  frontend/src/features/tasks/components/InlineToolStatus.tsx
Due: wegent-web

fix: fix admin update user (#636)
  backend/app/api/endpoints/admin.py
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/admin/components/UserList.tsx
Due: wegent-backend, wegent-web

fix(backend): fix chat_v2 deep thinking mode cancel streaming issue (#634)
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/ai_trigger.py
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/service.py
Due: wegent-backend

fix: ensure string types in InlineToolStatus to resolve TypeScript errors
  frontend/src/features/tasks/components/InlineToolStatus.tsx
Due: wegent-web

Feat/i18n deep thinking toggle (#637)
  backend/app/services/chat_v2/service.py
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/DeepThinkingToggle.tsx
  frontend/src/features/tasks/components/InlineToolStatus.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

feat: 允许搜索20条数据
  wecode/docker/backend/.env.example
Due: wegent-backend

feat: 修改quota展示样式
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

feat(backend): 添加http-socket
  backend/pyproject.toml
  backend/uv.lock
Due: wegent-backend

fix(backend): initialize chat_v2 WebSocket emitter to fix task completion status sync
  backend/app/main.py
Due: wegent-backend

fix(backend): 添加httpx[socks]
  backend/app/services/chat_v2/ai_trigger.py
  backend/pyproject.toml
  backend/uv.lock
Due: wegent-backend

feat: update quota style
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

fix(backend): initialize chat_v2 WebSocket emitter to fix task completion status sync (#638)
  backend/app/main.py
Due: wegent-backend

feat: update quota style (#639)
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

feat: 添加网页抓取服务器配置
  wecode/docker/backend/.env.example
Due: wegent-backend

feat(backend): extend openapi responses endpoint with streaming and trusted source auth
  backend/app/api/endpoints/openapi_responses.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/schemas/openapi_response.py
  backend/app/services/openapi/__init__.py
  backend/app/services/openapi/streaming.py
Due: wegent-backend

fix: fix markdown strong
  frontend/src/features/tasks/components/MessageBubble.tsx
Due: wegent-web

feat: CHAT_TOOL_MAX_REQUESTS=5
  wecode/docker/backend/.env.example
Due: wegent-backend

fix: fix markdown strong (#640)
  frontend/src/features/tasks/components/MessageBubble.tsx
Due: wegent-web

feat(backend): 修复chunk无法跨进程广播的问题 (#620)
  backend/app/services/chat/ai_trigger.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/chat_v2/ai_trigger.py
  backend/app/services/chat_v2/service.py
  backend/app/services/chat_v2/streaming/emitters.py
  backend/pyproject.toml
  backend/uv.lock
Due: wegent-backend

fix(backend): allow web search max_results to be overridden by engine config
  backend/app/services/chat_v2/service.py
  backend/app/services/chat_v2/tools/builtin/web_search.py
  backend/app/services/search/__init__.py
  backend/app/services/search/factory.py
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
