Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat: support aidesk
  backend/app/core/config.py
  backend/wecode/api/auth.py
  backend/wecode/config/aidesk_config.py
  backend/wecode/service/aidesk_auth_service.py
  backend/wecode/tests/test_aidesk_auth.py
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/features/login/components/AideskTokenHandler.tsx
  plans/aidesk-auth.md
Due: wegent-backend, wegent-web

fix: fix page error
  frontend/src/features/inbox/components/ForwardMessageDialog.tsx
  frontend/src/features/inbox/components/MessageList.tsx
  frontend/src/features/tasks/components/chat/GeminiAnnotations.tsx
  frontend/src/features/tasks/components/message/MessagesArea.tsx
Due: wegent-web

fix: data-roleid="api-key-create-button" not in html attr
  frontend/src/components/common/UnifiedAddButton.tsx
Due: wegent-web

feat: add auth
  backend/wecode/api/auth.py
Due: wegent-backend

fix(knowledge): tighten reindex review followups
  backend/app/services/knowledge/orchestrator.py
  backend/tests/services/knowledge/test_orchestrator.py
  backend/tests/tasks/test_knowledge_tasks.py
Due: wegent-backend

fix(rag): KNOWLEDGE_INDEX_LOCK_MAX_RETRIES=1
  backend/app/core/config.py
Due: wegent-backend

Hide email integration section from settings
  backend/init_data/skills/wegent-knowledge.zip
  frontend/jest.config.ts
  frontend/src/__tests__/features/settings/IntegrationsPage.test.tsx
  frontend/src/features/settings/components/IntegrationsPage.tsx
Due: wegent-backend, wegent-web

chore(executor): upgrade claude-code from 2.1.33 to 2.1.85
  wecode/docker/executor/Dockerfile
Due: wegent-executor

fix(knowledge): store index status without db enum
  backend/alembic/versions/20260326_b1c2d3e4f607_add_knowledge_document_index_state.py
  backend/app/models/knowledge.py
Due: wegent-backend

fix(alembic): correct migration revision metadata
  backend/alembic/versions/20260326_b1c2d3e4f607_add_knowledge_document_index_state.py
Due: wegent-backend

feat(wecode): rename himalaya mail flow to sina mail
  backend/wecode/api/__init__.py
  backend/wecode/api/sina_mail_devices.py
  frontend/wecode/apis/index.ts
  frontend/wecode/apis/sina-mail.ts
  frontend/wecode/components/devices/HimalayaMailConfigDialog.tsx
  frontend/wecode/modals/index.ts
Due: wegent-backend, wegent-web

refactor(web-scraper): Add site-specific crawling configurations in .env.example
  backend/.env.example
Due: wegent-backend

docs(backend): add knowledge document read spec and plan
  docs/superpowers/plans/2026-03-30-wegent-knowledge-document-read-implementation.md
  docs/superpowers/specs/2026-03-30-wegent-knowledge-document-read-design.md
Due: none

refactor(wecode): rename sina mail entrypoints to mail
  backend/wecode/api/__init__.py
  backend/wecode/api/mail_devices.py
  backend/wecode/schemas/mail.py
  frontend/wecode/apis/index.ts
  frontend/wecode/apis/mail.ts
  frontend/wecode/apis/sina-mail.ts
  frontend/wecode/components/devices/MailAccessGuideDialog.tsx
  frontend/wecode/components/devices/MailConfigDialog.tsx
  frontend/wecode/i18n/locales/en/devices.json
  frontend/wecode/i18n/locales/zh-CN/devices.json
  frontend/wecode/modals/index.ts
Due: wegent-backend, wegent-web

feat(backend): add orchestrated knowledge document reads
  .gitignore
  backend/app/api/endpoints/knowledge.py
  backend/app/mcp_server/tools/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/orchestrator.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/api/endpoints/test_knowledge_document_detail_endpoints.py
  backend/tests/mcp_server/test_tools.py
  backend/tests/services/knowledge/test_orchestrator.py
Due: wegent-backend

fix(backend): tighten knowledge document read handling
  backend/app/api/endpoints/internal/rag.py
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/services/rag/document_read_service.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/api/endpoints/test_knowledge_document_detail_endpoints.py
  backend/tests/mcp_server/test_tools.py
  backend/tests/services/knowledge/test_orchestrator.py
  backend/tests/services/rag/test_document_read_service.py
  docs/specs/knowledge/2026-03-30-wegent-knowledge-document-read-design.md
  docs/superpowers/plans/2026-03-30-wegent-knowledge-document-read-implementation.md
Due: wegent-backend

fix(mcp): change mcp tool registry to async
  backend/app/mcp_server/tool_registry.py
  backend/tests/mcp_server/test_tool_registry.py
Due: wegent-backend

chore: remove unused wegent-knowledge skill zip and @wecode path alias
  backend/init_data/skills/wegent-knowledge.zip
  frontend/jest.config.ts
Due: wegent-backend, wegent-web

fix(knowledge): sanitize inline base64 before indexing
  backend/app/schemas/kind.py
  backend/app/services/rag/embedding/capabilities.py
  backend/app/services/rag/embedding/factory.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/preprocess/__init__.py
  backend/app/services/rag/preprocess/text_sanitizer.py
  backend/tests/services/rag/test_embedding_capabilities.py
  backend/tests/services/rag/test_text_sanitizer.py
  frontend/src/__tests__/features/settings/utils/embedding-model-config.test.ts
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/utils/embedding-model-config.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(test): update
  backend/tests/services/rag/test_text_sanitizer.py
Due: wegent-backend

feat(executor): add Claude Code environment variables
  wecode/docker/executor/Dockerfile
Due: wegent-executor

test(frontend): add @wecode path alias to jest config
  frontend/jest.config.ts
Due: wegent-web

fix: fix bug
  backend/app/core/config.py
  backend/wecode/service/aidesk_auth_service.py
  frontend/src/__tests__/features/common/AuthGuard.test.tsx
  frontend/src/apis/client.ts
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/features/common/UserContext.tsx
  frontend/src/features/login/components/AideskTokenHandler.tsx
Due: wegent-backend, wegent-web

fix(knowledge): align document editing behavior
  backend/app/api/endpoints/knowledge.py
  backend/app/mcp_server/tools/knowledge.py
  backend/app/services/knowledge/knowledge_service.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/mcp_server/test_tools.py
  backend/tests/services/knowledge/test_knowledge_service.py
Due: wegent-backend

fix: fix homepage aidesk login
  frontend/src/app/page.tsx
Due: wegent-web

feat: auto redirect
  frontend/src/app/page.tsx
Due: wegent-web

fix: fix sidebar style
  frontend/src/__tests__/app/(tasks)/chat/ChatPageDesktop.remote-workspace.test.tsx
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
Due: wegent-web

feat: hide login
  frontend/src/app/page.tsx
  frontend/src/features/login/components/AideskTokenHandler.tsx
Due: wegent-web

fix(mcp): support dingtalk table provider
  backend/app/services/mcp_provider_registry.py
  backend/tests/api/test_user_mcps_api.py
  backend/tests/services/execution/test_request_builder_user_mcp.py
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/lib/scheme/modals.ts
Due: wegent-backend, wegent-web

fix: update download zip label
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/ExamTopicDetail.tsx
Due: wegent-web

fix(chat_shell): preserve dynamic skill tools for gemini
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_dynamic_skill_tools.py
Due: none

feat: 添加云设备文件配置接口及国际化支持
  backend/wecode/api/cloud_devices.py
  backend/wecode/schemas/__init__.py
  backend/wecode/schemas/cloud_device.py
  frontend/src/__tests__/wecode/components/cloud-device/DeviceVncPanel.test.tsx
  frontend/wecode/apis/cloud-devices.ts
  frontend/wecode/components/cloud-device/CloudDeviceFilesViewer.tsx
  frontend/wecode/components/cloud-device/DeviceVncPanel.tsx
  frontend/wecode/components/cloud-device/index.ts
  frontend/wecode/i18n/locales/en/devices.json
  frontend/wecode/i18n/locales/zh-CN/devices.json
Due: wegent-backend, wegent-web

fix: fix text
  frontend/src/lib/runtime-config.ts
Due: wegent-web

feat: 添加文件服务登录凭证和标签页测试
  frontend/src/__tests__/components/ui/Tabs.test.tsx
  frontend/src/__tests__/wecode/components/cloud-device/DeviceVncPanel.test.tsx
  frontend/src/app/(tasks)/devices/chat/page.tsx
  frontend/wecode/components/cloud-device/DeviceRemotePanel.tsx
  frontend/wecode/components/cloud-device/DeviceVncPanel.tsx
  frontend/wecode/i18n/locales/en/devices.json
  frontend/wecode/i18n/locales/zh-CN/devices.json
Due: wegent-web

fix: remove invalid Tabs component test
  frontend/src/__tests__/components/ui/Tabs.test.tsx
Due: wegent-web

refactor: 优化组件导入和样式类
  frontend/src/__tests__/wecode/components/cloud-device/DeviceVncPanel.test.tsx
  frontend/src/app/(tasks)/devices/chat/page.tsx
  frontend/wecode/components/cloud-device/CloudDeviceFilesViewer.tsx
  frontend/wecode/components/cloud-device/DeviceVncPanel.tsx
  frontend/wecode/components/cloud-device/VncViewer.tsx
Due: wegent-web

i18n: 添加邮箱账号和密码必填提示并修复拼写错误
  backend/wecode/service/cloud_device_script.py
  frontend/wecode/components/devices/CloudDeviceCreateSection.tsx
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

test(backend): fix reindex orchestrator mocks
  backend/tests/services/knowledge/test_orchestrator.py
Due: wegent-backend

fix(knowledge): honor kb-level manager permissions
  backend/app/services/knowledge/knowledge_service.py
  backend/tests/services/knowledge/test_namespace_knowledge_permissions.py
Due: wegent-backend

fix(knowledge): tolerate default namespace mock kb owners
  backend/app/services/knowledge/knowledge_service.py
Due: wegent-backend
