Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

chore: update text
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat: 优化harness交互
  .github/workflows/wework-app.yml
  .gitignore
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/harness-runtime/package.json
  wework/package.json
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src-tauri/bundled-harness-runtime/.resource-placeholder
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/tauri.conf.json
  wework/src/App.tsx
  wework/src/WorkspaceTabSurface.test.tsx
  wework/src/api/local/harnessApps.ts
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/components/topnav/AppIframe.tsx
  wework/src/features/harness-apps/HarnessAppLaunchSurface.module.css
  wework/src/features/harness-apps/HarnessAppLaunchSurface.test.tsx
  wework/src/features/harness-apps/HarnessAppLaunchSurface.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/features/harness-apps/harnessAppLaunchState.test.ts
  wework/src/features/harness-apps/harnessAppLaunchState.ts
  wework/src/features/harness-apps/residentSmartAppsHost.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/HarnessAppsPage.test.tsx
  wework/src/pages/HarnessAppsPage.tsx
Due: none

fix(wework): stabilize harness app reopening
  wework/src-tauri/src/harness_apps.rs
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/components/topnav/AppIframe.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.tsx
Due: none

fix(wework): prevent stale settlement poll revival
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/index.ts
Due: none

feat: 添加executor日志
  executor/src/local/backend.rs
Due: wegent-executor

feat: 添加executor日志
  executor/src/local/backend/socket_transport.rs
Due: wegent-executor

fix(wework): preserve sidebar scroll during task refresh
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/e2e/automation.ts
Due: none

feat(channels): show compact DingTalk progress (#2849)
  backend/app/services/channels/dingtalk/emitter.py
  backend/app/services/channels/handler.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  backend/tests/services/channels/dingtalk/test_emitter.py
  docs/en/architecture/README.md
  docs/en/architecture/im-runtime-streaming.md
  docs/zh/architecture/README.md
  docs/zh/architecture/im-runtime-streaming.md
Due: wegent-backend

docs(wework): clarify runtime lifecycle boundaries
  docs/en/architecture/runtime-task-lifecycle-reconciliation.md
  docs/zh/architecture/runtime-task-lifecycle-reconciliation.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

fix(wework): stabilize runtime task pinning
  executor/src/runtime_work/handler/sidebar.rs
  executor/src/runtime_work/handler/tests.rs
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: wegent-executor

feat(wework): 优化智能应用启动体验 (#2858)
  .github/workflows/wework-app.yml
  .gitignore
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/harness-runtime/package.json
  wework/package.json
  wework/scripts/dev-mac-app.sh
  wework/scripts/dev-windows-app.mjs
  wework/scripts/prepare-harness-runtime.mjs
  wework/src-tauri/bundled-harness-runtime/.resource-placeholder
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/tauri.conf.json
  wework/src/App.tsx
  wework/src/WorkspaceTabSurface.test.tsx
  wework/src/api/local/harnessApps.ts
  wework/src/components/settings/AboutSettingsPage.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/components/topnav/AppIframe.tsx
  wework/src/features/harness-apps/HarnessAppLaunchSurface.module.css
  wework/src/features/harness-apps/HarnessAppLaunchSurface.test.tsx
  wework/src/features/harness-apps/HarnessAppLaunchSurface.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.tsx
  wework/src/features/harness-apps/harnessAppLaunchState.test.ts
  wework/src/features/harness-apps/harnessAppLaunchState.ts
  wework/src/features/harness-apps/residentSmartAppsHost.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/HarnessAppsPage.test.tsx
  wework/src/pages/HarnessAppsPage.tsx
Due: none

fix(wework): lazy-load plugin E2E zip dependency
  wework/e2e/desktop/modules/plugin-flows.mjs
Due: none

fix(runtime): deliver away notifications to IM
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/local_task_responses.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  docs/en/architecture/README.md
  docs/en/architecture/runtime-im-notifications.md
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/architecture/README.md
  docs/zh/architecture/runtime-im-notifications.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/claude_turns.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/util.rs
  executor/tests/app_runtime_work_send_contract.rs
Due: wegent-executor, wegent-backend

fix(wework): preserve partial sidebar metadata
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

fix(wework): auto-continue single IM session
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/chat/ContinueInImDialog.test.tsx
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/useRuntimeTaskContinueInIm.ts
Due: none

fix(knowledge): validate wiki submit content input
  backend/init_data/skills/wiki_submit/wiki_submit.js
Due: wegent-backend

feat: 修复E2E
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/task-detail-layout.css
Due: none

fix(project-automation): stabilize managed issue workflows
  backend/app/api/endpoints/deliveries.py
  backend/app/api/ws/device_namespace.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/schemas/issue_workflow.py
  backend/app/services/board_team_execution.py
  backend/app/services/issue_workflow_planning.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/project_automation_execution.py
  backend/app/services/project_automations.py
  backend/app/tasks/robot_queue_tasks.py
  backend/tests/api/test_deliveries_api.py
  backend/tests/mcp_server/test_wework_space.py
  backend/tests/services/test_issue_workflow_planning.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_chat_service.py
  backend/tests/services/test_robot_queue_tasks.py
  docs/en/architecture/issue-task-workflow.md
  docs/en/architecture/project-execution-state.md
  docs/zh/architecture/issue-task-workflow.md
  docs/zh/architecture/project-execution-state.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/task_runtime/mcp.rs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/backend/runtimeIpc.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/RuntimeTaskExecutionOverlay.test.tsx
  wework/src/features/todo/RuntimeTaskExecutionOverlay.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

fix(wework): isolate task transcript hydration
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/workbench/runtimeConversationCache.test.ts
Due: none

fix(wework): show live task activity on board cards
  docs/en/architecture/issue-task-workflow.md
  docs/zh/architecture/issue-task-workflow.md
  wework/src/components/chat/AssistantThinkingIndicator.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/workItemTaskInput.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
  wework/src/features/workbench/runtimeThinking.ts
Due: none

fix(wework): synchronize pinned task state
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/workItemTaskInput.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

fix(wework): keep task pin state optimistic
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

test(wework): strengthen sidebar scroll regression
  wework/e2e/desktop/modules/task-flow-main.mjs
Due: none

fix(wework): stop polling runtime transcripts (#2833)
  docs/en/architecture/README.md
  docs/en/architecture/runtime-task-lifecycle-reconciliation.md
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/architecture/README.md
  docs/zh/architecture/runtime-task-lifecycle-reconciliation.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/runtime_work/response.rs
  scripts/hooks/ai-push-gate.sh
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/App.tsx
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtime/runtimeChatStream.test.ts
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
  wework/src/stream/chatStream.ts
Due: wegent-executor

fix(wework): preserve cloud IPC request arity
  wework/src/api/hybrid/hybridServices.ts
Due: none

fix(wework): auto-continue single IM session (#2861)
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/chat/ContinueInImDialog.test.tsx
  wework/src/components/chat/ContinueInImDialog.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/useRuntimeTaskContinueInIm.ts
Due: none

fix(wework): preserve pending task pin state
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
Due: none

fix(wework): show loading immediately on browser reload
  docs/en/architecture/embedded-browser.md
  docs/zh/architecture/embedded-browser.md
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

fix(wework): show live task activity on board cards (#2857)
  docs/en/architecture/issue-task-workflow.md
  docs/zh/architecture/issue-task-workflow.md
  wework/src/components/chat/AssistantThinkingIndicator.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/projection.ts
  wework/src/features/workbench/runtimeThinking.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

fix(wework): stabilize long code block rendering (#2855)
  executor/src/runtime_work/handler/sidebar.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MarkdownCodeBlock.test.tsx
  wework/src/components/chat/MarkdownCodeBlock.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: wegent-executor

fix(project-automation): isolate activity publishing from db sessions
  backend/app/services/project_automation_execution.py
  backend/tests/api/ws/test_device_runtime_features_flow.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_automation_runtime.py
Due: wegent-backend

fix(runtime): compress cloud transcript responses end to end
  backend/app/api/ws/wework_runtime_namespace.py
  backend/app/services/device/runtime_rpc_service.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  backend/tests/services/test_runtime_rpc_service.py
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/local/backend/runtime_rpc_encoding.rs
  wework/src/api/backend/runtimeIpc.test.ts
  wework/src/api/backend/runtimeIpc.ts
Due: wegent-executor, wegent-backend

fix(wework): retain optimistic task pin state
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): ignore stale model catalog reloads
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
Due: none

fix(chat): 恢复普通视频微博上传与绑定引导
  backend/app/api/endpoints/adapter/attachments.py
  backend/tests/api/endpoints/adapter/test_attachment_download_stream.py
  frontend/src/__tests__/apis/attachments.test.ts
  frontend/src/__tests__/hooks/useMultiAttachment.video.test.tsx
  frontend/src/__tests__/hooks/useMultiAttachment.weibo-video.test.tsx
  frontend/src/apis/attachments.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatAreaState.ts
  frontend/src/hooks/WeiboVideoBindingPrompt.tsx
  frontend/src/hooks/useMultiAttachment.ts
Due: wegent-backend, wegent-web

fix(im): use session-scoped DingTalk recipients
  backend/app/models/im_session.py
  backend/app/services/channels/dingtalk/handler.py
  backend/app/services/channels/handler.py
  backend/app/services/im/notification_dispatcher.py
  backend/app/services/im/session_service.py
  backend/tests/services/channels/dingtalk/test_handler.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/im/test_notification_dispatcher.py
  backend/tests/services/im/test_session_service.py
  docs/en/architecture/runtime-im-notifications.md
  docs/zh/architecture/runtime-im-notifications.md
Due: wegent-backend

fix(wework): default applications to smart apps
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/src/App.plugins.test.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
Due: none

fix(im): honor notification switch for bound tasks
  backend/app/services/im/notification_dispatcher.py
  backend/tests/services/im/test_notification_dispatcher.py
  docs/en/architecture/runtime-im-notifications.md
  docs/zh/architecture/runtime-im-notifications.md
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
