Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

ci(executor): cover complete rust validation
  .github/workflows/test.yml
Due: none

fix(ci): restore main e2e checks (#2209)
  .github/workflows/e2e-tests.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  executor/src/hooks/command.rs
  executor/tests/app_runtime_work_contract.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: wegent-executor

fix(runtime): harden multi-root lifecycle
  executor/src/protocol/openai.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/turns.rs
  executor/tests/app_runtime_work_send_contract.rs
  executor/tests/protocol_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/desktop_capture.rs
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: wegent-executor

fix(wework): close refresh review gaps
  wework/src-tauri/src/desktop_capture.rs
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
Due: none

fix(chat_shell): truncation retry seeds a fresh thread; instruction is ephemeral
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/tests/test_graph_builder_persistence.py
  chat_shell/tests/test_summary_compactor.py
Due: none

fix(wework): stabilize remote task execution
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

docs(wework): define runtime task status semantics
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
Due: none

test(wework): align memory stability sampling
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): simplify runtime task status
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/types/workbench.ts
Due: none

ci: allow executor contract tests to finish
  .github/workflows/test.yml
Due: none

fix(wework): address runtime status review feedback
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

test(wework): stabilize cloud task selection
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): keep active goals visibly running
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/features/workbench/runtimeTaskStatus.ts
  wework/src/lib/developerCommandMenu.test.ts
  wework/src/tauri/runtimeTaskCloseGuard.test.ts
  wework/src/tauri/runtimeTaskCloseGuard.ts
  wework/src/tauri/trayMenuState.test.ts
  wework/src/tauri/trayMenuState.ts
Due: none

test(executor): complete fake app server protocol
  .github/workflows/test.yml
  executor/tests/app_runtime_work_contract.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

feat(chat_shell): finalize on truncation-exhausted + per-level thread teardown
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_graph_builder_persistence.py
Due: none

fix(chat_shell): align non-streaming recovery with current state + thread teardown
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_graph_builder_persistence.py
  chat_shell/tests/test_new_messages_from_state.py
Due: none

test(chat_shell): recovery-path checkpoint reloads with marker + tool pairing
  chat_shell/tests/test_history_loader.py
Due: none

fix(wework): preserve multi-root project sessions (#2212)
  .github/workflows/test.yml
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/protocol/execution.rs
  executor/src/protocol/openai.rs
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/util.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_send_contract.rs
  executor/tests/protocol_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/scripts/ai-verify-environment.mjs
  wework/scripts/ai-verify-environment.test.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/dev-mac-app.sh
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/desktop_capture.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
  wework/src/types/api.ts
  wework/src/types/environment.ts
Due: wegent-executor

feat(wework): fork Codex tasks from messages (#2183)
  docs/en/wework/tasks.md
  docs/zh/wework/tasks.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/transcript.rs
  executor/tests/app_runtime_work_send_contract.rs
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/src/api/local/localServices.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: wegent-executor

fix(wework): unify message virtualization
  pnpm-lock.yaml
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/AssistantMarkdown.windowing.test.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/assistantMarkdownWindowing.ts
  wework/src/components/chat/messageVirtualization.test.ts
  wework/src/components/chat/messageVirtualization.ts
  wework/src/components/chat/useMessageVirtualizer.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
Due: none

docs(wework): document message virtualization
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/en/wework/workbench.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/workbench.md
Due: none

docs(chat_shell): document Phase 2a authoritative-state persistence
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: none

fix(backend): drop removed enable_checkpointing arg from correction_service
  backend/app/services/correction_service.py
  chat_shell/.env.example
Due: wegent-backend

fix(wework): adopt TanStack message virtualization
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  pnpm-lock.yaml
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/package.json
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/AssistantMarkdown.windowing.test.ts
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/assistantMarkdownWindowing.ts
  wework/src/components/chat/messageVirtualization.test.ts
  wework/src/components/chat/messageVirtualization.ts
  wework/src/components/chat/useMessageVirtualizer.ts
  wework/src/e2e/automation.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
Due: none

fix(wework): restore desktop project creation e2e flow
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): unify message virtualization (#2210)
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/en/wework/workbench.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/e2e/automation.ts
Due: none

fix(wework): restore desktop project creation e2e flow (#2214)
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): make runtime execution state authoritative
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/run_state.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/response.rs
  wework/e2e/desktop/process-lifecycle.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/e2e/desktop-process-lifecycle.test.ts
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/runtimeTaskReminders.test.ts
  wework/src/features/workbench/runtimeTaskReminders.ts
  wework/src/features/workbench/runtimeTaskStatus.ts
  wework/src/lib/developerCommandMenu.test.ts
  wework/src/tauri/runtimeTaskCloseGuard.test.ts
  wework/src/tauri/trayMenuState.test.ts
Due: wegent-executor

fix(wework): preserve protocol tool lifecycle state
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/transcript.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/styles/globals.css
Due: wegent-executor

fix(wework): isolate repeated file edit status
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/styles/globals.css
Due: none

fix(wework): preserve protocol tool lifecycle state (#2213)
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/transcript.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/styles/globals.css
Due: wegent-executor

test(wework): read shared runtime index in desktop e2e
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(executor): restore interactive input from transcripts
  executor/src/runtime_work/transcript.rs
Due: wegent-executor

fix(wework): harden unified runtime lifecycle state
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/scripts/check-runtime-task-lifecycle.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

fix(wework): align composer with task lifecycle state
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
Due: none

fix(chat_shell): route truncation retry guidance through attempt control plane
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/compression/summary_compactor.py
  chat_shell/chat_shell/guard/composition.py
  chat_shell/tests/services/test_guidance.py
  chat_shell/tests/test_graph_builder_persistence.py
  chat_shell/tests/test_guard_composition.py
  chat_shell/tests/test_summary_compactor.py
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: none

fix(chat_shell): restore build_agent tracing span and correct non-streaming docs
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_graph_builder_persistence.py
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: none

docs(chat_shell): clarify non-streaming and UnifiedContextGuard coverage boundary
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: none

fix(chat_shell): strip unmatched tool_use content blocks; doc clarifications
  chat_shell/chat_shell/compression/tool_sanitizer.py
  chat_shell/tests/test_tool_sanitizer.py
  docs/en/wegent/developer-guide/chat-shell-context-governance.md
  docs/zh/wegent/developer-guide/chat-shell-context-governance.md
Due: none
