Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

feat(frontend): allow unbinding shared teams from team list (#444)
  backend/app/api/endpoints/adapter/bots.py
  backend/app/api/endpoints/adapter/teams.py
  backend/app/api/endpoints/admin.py
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/ShellList.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/skills/SkillManagementModal.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ModelSelector.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/SearchEngineSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat(frontend): show user message copy button on hover only
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

feat(frontend): show user message copy button on hover only (#454)
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

fix(e2e): e2e
  frontend/e2e/E2E_TEST_FIXES.md
  frontend/e2e/pages/admin/admin.page.ts
  frontend/e2e/pages/base.page.ts
  frontend/e2e/pages/settings/bots.page.ts
  frontend/e2e/tests/__snapshots__/visual/settings-visual.spec.ts/chat-page.png
  frontend/e2e/tests/__snapshots__/visual/settings-visual.spec.ts/login-form.png
  frontend/e2e/tests/__snapshots__/visual/settings-visual.spec.ts/settings-bots.png
  frontend/e2e/tests/__snapshots__/visual/settings-visual.spec.ts/settings-models.png
  frontend/e2e/tests/__snapshots__/visual/settings-visual.spec.ts/settings-teams.png
  frontend/e2e/tests/admin/admin-public-models.spec.ts
  frontend/e2e/tests/admin/admin-users.spec.ts
  frontend/e2e/tests/api/admin-public-models-api.spec.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/auth/login.spec.ts
  frontend/e2e/tests/chat-task.spec.ts
  frontend/e2e/tests/code-task.spec.ts
  frontend/e2e/tests/examples/coverage-example.spec.ts
  frontend/e2e/tests/integration/settings-chat-integration.spec.ts
  frontend/e2e/tests/knowledge/knowledge.spec.ts
  frontend/e2e/tests/performance/page-load.spec.ts
  frontend/e2e/tests/settings-bot.spec.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/tests/settings-model.spec.ts
  frontend/e2e/tests/settings-team.spec.ts
  frontend/e2e/tests/settings/bots-crud.spec.ts
  frontend/e2e/tests/settings/settings-groups.spec.ts
  frontend/e2e/tests/settings/settings-shell.spec.ts
  frontend/e2e/tests/shared/shared-task.spec.ts
  frontend/e2e/tests/tasks/code-page-enhanced.spec.ts
  frontend/e2e/tests/tasks/file-upload.spec.ts
  frontend/e2e/tests/tasks/task-sharing.spec.ts
  frontend/e2e/tests/tasks/tasks-page.spec.ts
  frontend/e2e/tests/visual/settings-visual.spec.ts
  frontend/e2e/utils/performance.ts
  frontend/playwright.config.ts
Due: wegent-web

refactor: Initializes the sidebar width using localStorage and adds an initialization state. (#449)
  frontend/src/features/tasks/components/ResizableSidebar.tsx
Due: wegent-web

refactor: Optimize the ChatArea component to prevent layout jitter and random index generation. (#450)
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

fix(e2e): e2e
  frontend/e2e/tests/api/admin-public-models-api.spec.ts
Due: wegent-web

fix: 修复chat模式下追问错误的问题
  backend/app/api/endpoints/adapter/chat.py
  backend/app/services/adapters/task_kinds.py
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ClarificationAnswerSummary.tsx
  frontend/src/features/tasks/components/ClarificationForm.tsx
  frontend/src/features/tasks/components/ClarificationQuestion.tsx
  frontend/src/features/tasks/components/ClarificationToggle.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/service/messageService.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

feat(chat): migrate clarification from separate mode to universal toggle (#446)
  backend/app/api/endpoints/adapter/chat.py
  backend/init_data/01-default-resources.yaml
  frontend/src/apis/chat.ts
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ClarificationToggle.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

docs: update frontend design system documentation (#441)
  AGENTS.md
Due: none

feat: implement global search functionality
  backend/app/api/api.py
  backend/app/api/endpoints/unified_search.py
  backend/app/schemas/unified_search.py
  backend/app/services/unified_search.py
  frontend/src/apis/search.ts
  frontend/src/app/(tasks)/layout.tsx
  frontend/src/app/search/page.tsx
  frontend/src/features/search/components/EmptyState.tsx
  frontend/src/features/search/components/GlobalSearchShortcut.tsx
  frontend/src/features/search/components/SearchFilters.tsx
  frontend/src/features/search/components/SearchInput.tsx
  frontend/src/features/search/components/SearchResults.tsx
  frontend/src/features/search/components/TypeTabs.tsx
  frontend/src/features/search/components/index.ts
  frontend/src/features/search/hooks/index.ts
  frontend/src/features/search/hooks/useGlobalSearchShortcut.ts
  frontend/src/features/search/hooks/useSearch.ts
  frontend/src/features/search/index.ts
  frontend/src/features/search/types.ts
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix: fix clarification mode
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
Due: wegent-web

fix: revert default spec resource
  backend/init_data/01-default-resources.yaml
Due: wegent-backend

Fix spec clarification mode (#456)
  backend/app/api/endpoints/adapter/chat.py
  backend/app/services/adapters/task_kinds.py
  frontend/e2e/config/environment.ts
  frontend/e2e/config/index.ts
  frontend/e2e/config/test-users.ts
  frontend/e2e/fixtures/data-builders.ts
  frontend/e2e/fixtures/index.ts
  frontend/e2e/pages/admin/users.page.ts
  frontend/e2e/pages/groups/group-list.page.ts
  frontend/e2e/pages/index.ts
  frontend/e2e/pages/settings/models.page.ts
  frontend/e2e/pages/settings/settings-base.page.ts
  frontend/e2e/pages/settings/teams.page.ts
  frontend/e2e/pages/tasks/chat-task.page.ts
  frontend/e2e/utils/cleanup.ts
  frontend/e2e/utils/helpers.ts
  frontend/e2e/utils/index.ts
  frontend/e2e/utils/visual-regression.ts
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ClarificationAnswerSummary.tsx
  frontend/src/features/tasks/components/ClarificationForm.tsx
  frontend/src/features/tasks/components/ClarificationQuestion.tsx
  frontend/src/features/tasks/components/ClarificationToggle.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/service/messageService.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

fix: fix bugs
  backend/app/services/unified_search.py
  frontend/src/app/(tasks)/search/page.tsx
  frontend/src/app/search/page.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/search/components/SearchResults.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-backend, wegent-web

style: fix quota display
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/QuotaUsage.tsx
Due: wegent-web

style: fix quota display (#457)
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/QuotaUsage.tsx
Due: wegent-web

style: update search button
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

refactor: Optimize search session interaction logic (#451)
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(frontend): change unbind button icon from trash to unlink style
  frontend/src/features/settings/components/TeamList.tsx
Due: wegent-web

fix(frontend): change unbind button icon from trash to unlink style (#461)
  frontend/src/features/settings/components/TeamList.tsx
Due: wegent-web

chore: update docker-compose.yml to version 1.0.24
  docker-compose.yml
Due: none

fix(frontend): make badge scroll with text in chat input
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

feat: 自动初始化翻译team
  wecode/docker/backend/resource.json
Due: wegent-backend

fix: fix focus text position
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix(frontend): make badge scroll with text in chat input (#463)
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

feat(frontend): add custom icon selection for Team/Agent (#464)
  backend/app/schemas/kind.py
  backend/app/schemas/team.py
  backend/app/services/adapters/team_kinds.py
  frontend/src/apis/team.ts
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/team-edit/TeamBasicInfoForm.tsx
  frontend/src/features/settings/components/teams/TeamIconDisplay.tsx
  frontend/src/features/settings/components/teams/TeamIconPicker.tsx
  frontend/src/features/settings/constants/team-icons.ts
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/SelectedTeamBadge.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix(frontend): use TeamIconDisplay in dropdown team list
  frontend/src/features/tasks/components/QuickAccessCards.tsx
Due: wegent-web

fix(frontend): use TeamIconDisplay in dropdown team list (#465)
  frontend/src/features/tasks/components/QuickAccessCards.tsx
Due: wegent-web

style: update quickaccesscard tooltip
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/SelectedTeamBadge.tsx
Due: wegent-web

style: update quickaccesscard tooltip (#466)
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/SelectedTeamBadge.tsx
Due: wegent-web

fix(e2e): use data-tour attribute to select team selector
  frontend/e2e/tests/tasks/code-page-enhanced.spec.ts
  frontend/e2e/tests/tasks/tasks-page.spec.ts
Due: wegent-web

feat: update init resource
  wecode/docker/backend/resource.json
Due: wegent-backend

fix(e2e): use data-tour attribute to select team selector (#467)
  frontend/e2e/tests/tasks/code-page-enhanced.spec.ts
  frontend/e2e/tests/tasks/tasks-page.spec.ts
Due: wegent-web

fix: fix chatinput paste html
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix: fix chatinput paste html (#468)
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix: fix line wrap in chatinput
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix: fix empty line
  frontend/src/features/tasks/components/MessageBubble.tsx
Due: wegent-web

Fix chatinput paste html (#469)
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
