Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

refactor: 移除异步调用以简化代码
  backend/wecode/api/auth.py
  backend/wecode/api/gitlab_provider_patch.py
  backend/wecode/api/oidc_endpoint_patch.py
  backend/wecode/api/user_service_patch.py
  backend/wecode/api/users_endpoint_patch.py
  backend/wecode/service/get_user_gitinfo.py
  backend/wecode/service/token_resolver.py
Due: wegent-backend

fix: 移除异步调用以匹配用户服务更改
  backend/app/services/repository_job.py
Due: wegent-backend

feat: 添加通知 Webhook配置
  wecode/docker/backend/.env.example
Due: wegent-backend

fix: unified encryption and decryption logic (#85)
  backend/app/core/security.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/services/repository_job.py
  backend/app/services/user.py
Due: wegent-backend

fix: fix tests
  .github/workflows/test.yml
  .gitignore
  backend/app/core/security.py
  backend/app/repository/github_provider.py
  backend/app/services/user.py
  backend/tests/core/test_security.py
  backend/tests/repository/test_github_provider.py
  backend/tests/services/test_user_service.py
  executor_manager/tests/conftest.py
  executor_manager/tests/executors/test_base.py
  executor_manager/tests/executors/test_dispatcher.py
  executor_manager/tests/executors/test_docker_constants.py
  executor_manager/tests/executors/test_docker_executor.py
  executor_manager/tests/executors/test_docker_utils.py
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: wegent-executor-manager, wegent-backend, wegent-web

fix: fix test bugs
  executor_manager/executors/dispatcher.py
  shared/tests/utils/test_crypto.py
Due: wegent-executor-manager, wegent-executor

fix: fix tests
  backend/app/repository/github_provider.py
  backend/tests/core/test_config.py
  backend/tests/core/test_security.py
  backend/tests/repository/test_github_provider.py
Due: wegent-backend

fix: update subtask status logic to handle failures correctly
  backend/app/services/adapters/executor_kinds.py
Due: wegent-backend

fix: fix test bug
  backend/app/core/config.py
  executor/tests/agents/test_base.py
  executor/tests/agents/test_factory.py
Due: wegent-executor, wegent-backend

fix: fix workflow bug
  .github/workflows/test.yml
Due: none

fix: add git_info validation in decrypt_user_git_info method
  backend/app/services/user.py
Due: wegent-backend

fix: fix 500 when user gitinfo is empty
  backend/app/services/user.py
Due: wegent-backend

fix: fix 500 when user gitinfo is empty (#95)
  backend/app/services/user.py
Due: wegent-backend

fix: fix unit test
  .github/workflows/test.yml
  executor_manager/pytest.ini
Due: wegent-executor-manager

fix: fix bug
  executor/tests/conftest.py
Due: wegent-executor

fix: update subtask status logic to handle failures correctly (#93)
  backend/app/services/adapters/executor_kinds.py
Due: wegent-backend

优化工作台加载状态动画 (#87)
  frontend/src/features/tasks/components/Workbench.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
Due: wegent-web

Add task completion notification with visual unread indicators (#76)
  frontend/src/app/globals.css
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
  frontend/src/utils/taskViewStatus.ts
Due: wegent-web

fix: fix mcp_utils import path and Dockerfile
  docker/executor/Dockerfile
  executor/agents/agno/mcp_manager.py
  executor/agents/claude_code/claude_code_agent.py
  executor/executor.spec
  shared/__init__.py
Due: wegent-executor-manager, wegent-executor

docs: update TESTING.md with latest test infrastructure details
  docs/TESTING.md
Due: none

feat: Add driver.js based onboarding tour
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/layout/components/DesktopNavLinks.tsx
  frontend/src/features/layout/components/MobileNavTabs.tsx
  frontend/src/features/onboarding/OnboardingTour.tsx
  frontend/src/features/onboarding/tourSteps.ts
  frontend/src/features/onboarding/useOnboarding.ts
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/components/BeginnerGuideModal.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

test: fix test
  .github/workflows/test.yml
Due: none

docs: add bilingual testing guides and update references
  CONTRIBUTING.md
  docs/en/guides/developer/setup.md
  docs/en/guides/developer/testing.md
  docs/zh/guides/developer/setup.md
  docs/zh/guides/developer/testing.md
Due: none

docs: remove duplicate TESTING.md and update references
  CONTRIBUTING.md
  docs/TESTING.md
Due: none

fix: fix compile error
  frontend/src/app/tasks/page.tsx
Due: wegent-web

fix: udpate base image
  docker/backend/Dockerfile
Due: none

fix: auto scroll to bottom when appending new messages in task chat
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

fix: added automatic scrolling functionality to subtasks after the update.
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

fix: restore repository selector memory after recent layout changes
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

fix: ignore extra environment variables in config
  backend/app/core/config.py
Due: wegent-backend

fix: ignore extra environment variables in config (#101)
  backend/app/core/config.py
Due: wegent-backend

feat: Add driver.js based onboarding tour (#97)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/features/layout/components/DesktopNavLinks.tsx
  frontend/src/features/layout/components/MobileNavTabs.tsx
  frontend/src/features/onboarding/OnboardingTour.tsx
  frontend/src/features/onboarding/tourSteps.ts
  frontend/src/features/onboarding/useOnboarding.ts
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/components/BeginnerGuideModal.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

Update testing documentation with latest infrastructure details (#96)
  CONTRIBUTING.md
  docs/TESTING.md
  docs/en/guides/developer/setup.md
  docs/en/guides/developer/testing.md
  docs/zh/guides/developer/setup.md
  docs/zh/guides/developer/testing.md
Due: none

Author: WeCode Cloud Agent - Build executor as standalone binary (#91)
  .github/workflows/test.yml
  docker/backend/Dockerfile
  docker/executor/Dockerfile
  executor/BUILD.md
  executor/agents/agno/mcp_manager.py
  executor/agents/claude_code/claude_code_agent.py
  executor/build.sh
  executor/executor.spec
  executor/main.py
  frontend/jest.setup.js
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/i18n/locales/zh-CN/tasks.json
  frontend/src/utils/taskViewStatus.ts
  shared/__init__.py
Due: wegent-executor-manager, wegent-executor, wegent-web

fix: added automatic scrolling functionality to subtasks after the update. (#99)
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

feat: add workflow dispatch and release notes after build image (#66)
  .github/workflows/publish-image.yml
  .github/workflows/release.yml
Due: none

fix: resolve TypeScript type error for hasGitToken
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
Due: wegent-web

fix: resolve AllowedButtons type error in driver.js config
  frontend/src/features/onboarding/useOnboarding.ts
Due: wegent-web

refactor: Optimizes the useOnboarding configuration type and ChatArea task title length.
  frontend/src/features/onboarding/useOnboarding.ts
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
