Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

refactor(backend): 简化 retrieval_service 控制流并提取辅助方法
  backend/app/services/rag/retrieval_service.py
Due: wegent-backend

feat: 修改前端样式
  .playwright-mcp/page-2026-04-23T14-35-38-697Z.yml
  .playwright-mcp/page-2026-04-23T14-35-44-474Z.png
  .playwright-mcp/page-2026-04-23T14-35-50-384Z.yml
  .playwright-mcp/page-2026-04-23T14-37-45-540Z.yml
  .playwright-mcp/page-2026-04-23T14-37-51-718Z.png
  frontend/wecode/features/transition-pages/pages/AdminTransitionPageEdit.tsx
  frontend/wecode/features/transition-pages/ui-demo.html
Due: wegent-web

feat: 支持点击冻结
  .playwright-mcp/page-2026-04-23T14-35-38-697Z.yml
  .playwright-mcp/page-2026-04-23T14-35-44-474Z.png
  .playwright-mcp/page-2026-04-23T14-35-50-384Z.yml
  .playwright-mcp/page-2026-04-23T14-37-45-540Z.yml
  .playwright-mcp/page-2026-04-23T14-37-51-718Z.png
  frontend/wecode/features/transition-pages/ui-demo.html
Due: wegent-web

feat(evaluation): auto-select single question and hide selection UI
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-web

fix(evaluation): fix exam_duration_seconds null issue and add live timer display
  backend/wecode/service/evaluation/exam_session_service.py
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/exam-sessions/[userId]/page.tsx
  frontend/wecode/components/evaluation/author/ExamSessionsTab.tsx
  frontend/wecode/components/evaluation/common/ExamTimerDisplay.tsx
Due: wegent-backend, wegent-web

refactor(backend): 简化 direct injection 逻辑并统一方法签名
  backend/app/services/rag/retrieval_service.py
  backend/tests/services/rag/test_retrieval_service.py
Due: wegent-backend

fix(evaluation): lock exam page to light theme
  frontend/wecode/components/evaluation/exam/DynamicSlotInput.tsx
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
  frontend/wecode/components/evaluation/exam/ParticipantInfoSection.tsx
  frontend/wecode/components/evaluation/exam/SubmitHintMarkdown.tsx
Due: wegent-web

fix(evaluation): add question_count to author topic list API
  backend/wecode/api/evaluation/author.py
Due: wegent-backend

style(backend): 使用 SQLAlchemy 布尔列谓词写法
  backend/app/services/rag/retrieval_service.py
Due: wegent-backend

eval(author): fix total_respondents to count exam session users
  backend/wecode/service/evaluation/topic_service.py
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/author/TopicStats.tsx
Due: wegent-backend, wegent-web

test(backend): 拆分 direct injection 测试到独立文件
  backend/tests/services/rag/test_direct_injection.py
  backend/tests/services/rag/test_retrieval_service.py
Due: wegent-backend

feat(backend): auto-delete old index before re-indexing
  backend/app/services/knowledge/indexing.py
Due: wegent-backend

fix(evaluation): allow clearing topic description
  backend/wecode/service/evaluation/topic_service.py
  backend/wecode/tests/test_evaluation.py
  frontend/wecode/components/evaluation/author/ConfigDrawer.tsx
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-backend, wegent-web

fix(evaluation): fully lock exam page to light theme
  frontend/wecode/components/evaluation/exam/DynamicSlotInput.tsx
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
  frontend/wecode/components/evaluation/exam/exam-theme-lock.css
Due: wegent-web

fix(evaluation): handle timezone for not_visible_until config
  backend/wecode/api/evaluation/respondent.py
  frontend/wecode/components/evaluation/author/ConfigDrawer.tsx
Due: wegent-backend, wegent-web

fix(evaluation): force light theme on exam page with color-scheme
  .gitignore
  frontend/wecode/components/evaluation/exam/DynamicSlotInput.tsx
  frontend/wecode/components/evaluation/exam/exam-theme-lock.css
Due: wegent-web

feat(attachment): temporarily hide share button in file preview
  frontend/src/components/common/FilePreview/FilePreviewDialog.tsx
  frontend/src/components/common/FilePreview/FilePreviewPage.tsx
Due: wegent-web

fix(evaluation): reduce slot markdown font size
  frontend/wecode/components/evaluation/exam/slot-markdown.css
Due: wegent-web

fix(evaluation): fix i18n duplicate keys and slot markdown styles
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/SlotMarkdownContent.tsx
Due: wegent-web

fix(evaluation): convert ISO datetime to datetime-local format
  frontend/wecode/components/evaluation/author/ConfigDrawer.tsx
Due: wegent-web

feat: 添加水印和禁止复制
  frontend/src/app/transition-pages/t/[slug]/page.tsx
  frontend/wecode/features/transition-pages/pages/TransitionPageView.tsx
Due: wegent-web

feat(evaluation): add username watermark and anti-copy protection to exam page
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
  frontend/wecode/components/evaluation/exam/UsernameWatermark.tsx
  frontend/wecode/components/evaluation/exam/exam-theme-lock.css
  frontend/wecode/components/evaluation/exam/index.ts
Due: wegent-web

fix(test): mock remark-frontmatter for Jest
  frontend/jest.config.ts
Due: wegent-web

fix(test): mock ThemeProvider for Jest tests
  frontend/jest.setup.js
Due: wegent-web

feat: update label
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/CompletedState.tsx
Due: wegent-web

fix(evaluation): use const for notFoundUsers, remove unused import, fix i18n keys
  backend/namelist.txt
  backend/scripts/batch_import_eval_permissions.py
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/author/PermissionsTab.tsx
Due: wegent-backend, wegent-web

fix(evaluation): add answer content validation before submission
  backend/wecode/api/evaluation/respondent.py
Due: wegent-backend

fix(evaluation): add file type validation for exam attachments
  backend/wecode/api/evaluation/shared.py
Due: wegent-backend

fix(frontend): fix exam autosave rollback and race condition bugs
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
  frontend/wecode/components/evaluation/exam/hooks/useAutoSave.ts
Due: wegent-web

fix(backend): add backend validation for exam submit and file upload
  %1
  backend/wecode/api/evaluation/respondent.py
  backend/wecode/api/evaluation/shared.py
Due: wegent-backend

chore: remove accidental file
  %1
Due: none

fix(frontend): fix text rollback bug and add force save on preview
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-web

fix(frontend): fix S3 auto-load rollback and force save on preview button
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/DynamicSlotInput.tsx
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-web

fix(frontend): fix exam autosave data flow and text rollback bugs
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/components/evaluation/exam/DynamicAnswerUploadZone.tsx
  frontend/wecode/components/evaluation/exam/DynamicSlotInput.tsx
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-web

fix(frontend): disable preview button when not ready
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-web

fix(frontend): reduce auto-save delay from 2s to 1s
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
Due: wegent-web

fix(frontend): use saved data for validation after flush
  frontend/wecode/components/evaluation/exam/ExamPage.tsx
  frontend/wecode/components/evaluation/exam/hooks/useAutoSave.ts
Due: wegent-web

fix(backend): fix text slot conversion to update S3 on each review
  backend/wecode/service/evaluation/exam_session_service.py
Due: wegent-backend

fix(backend): preserve old S3 files instead of deleting them
  backend/wecode/service/evaluation/exam_session_service.py
Due: wegent-backend

feat(knowledge): add creator and updated time columns to document list
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/orchestrator.py
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web
