Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(evaluation): fix 401 auth error and improve code quality
  backend/wecode/api/evaluation/grading.py
  backend/wecode/api/evaluation/questions.py
  backend/wecode/api/evaluation/topics.py
  backend/wecode/models/evaluation.py
  backend/wecode/schemas/evaluation.py
  backend/wecode/service/evaluation/answer_service.py
  backend/wecode/service/evaluation/grading_service.py
  backend/wecode/service/evaluation/permission_service.py
  backend/wecode/service/evaluation/question_service.py
  backend/wecode/service/evaluation/topic_service.py
  backend/wecode/tests/test_evaluation.py
  frontend/src/components/ui/card.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/src/i18n/setup.ts
  frontend/wecode/api/evaluation.ts
  frontend/wecode/i18n/index.ts
Due: wegent-backend, wegent-web

fix(evaluation): fix 404 routes, i18n, and permission filtering
  backend/wecode/service/evaluation/topic_service.py
  frontend/src/app/(tasks)/evaluation/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-backend, wegent-web

fix(evaluation): improve database model compliance with DBA standards
  backend/wecode/models/evaluation.py
  backend/wecode/service/evaluation/utils.py
Due: wegent-backend

feat(evaluation): implement full evaluation module pages
  frontend/src/app/(tasks)/evaluation/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/edit/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/grading/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/permissions/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/questions/[qid]/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/questions/new/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/page.tsx
Due: wegent-web

feat(ui): add Table component for evaluation module
  frontend/src/components/ui/table.tsx
Due: wegent-web

docs(plans): refactor evaluation module frontend routing from CRUD to role-based workflow
  plans/evaluation-module-technical-spec.md
Due: none

fix(evaluation): fix Badge variant type in grading page
  frontend/src/app/(tasks)/evaluation/topics/[id]/grading/page.tsx
Due: wegent-web

fix(evaluation): fix type errors in question detail page
  frontend/src/app/(tasks)/evaluation/topics/[id]/questions/[qid]/page.tsx
Due: wegent-web

docs(evaluation): 完善评分系统技术规格 - 智能体绑定与并发控制
  plans/evaluation-module-technical-spec.md
Due: none

fix(backend): add missing __init__.py files in test directories
  backend/tests/services/channels/__init__.py
  backend/tests/services/chat/access/__init__.py
  backend/tests/services/memory/__init__.py
Due: wegent-backend

feat(evaluation): add role-based frontend routes for evaluation module
  frontend/src/app/(tasks)/evaluation/author/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/edit/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/permissions/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/questions/new/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/versions/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/new/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/reports/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/tasks/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/topics/page.tsx
  frontend/src/app/(tasks)/evaluation/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/history/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/questions/[qid]/page.tsx
  frontend/wecode/api/evaluation-author.ts
  frontend/wecode/api/evaluation.ts
Due: wegent-web

feat(evaluation): add role-based API structure for evaluation module
  backend/wecode/api/evaluation/__init__.py
  backend/wecode/api/evaluation/author.py
  backend/wecode/api/evaluation/grader.py
  backend/wecode/api/evaluation/respondent.py
  backend/wecode/api/evaluation/shared.py
  backend/wecode/service/evaluation/storage_service.py
  plans/evaluation-refactor-plan.md
Due: wegent-backend

refactor(backend): unify MCP tools and REST API via KnowledgeOrchestrator
  backend/app/api/endpoints/internal/chat_storage.py
  backend/app/api/endpoints/internal/rag.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/web_scraper.py
  backend/app/core/celery_app.py
  backend/app/mcp_server/__init__.py
  backend/app/mcp_server/context.py
  backend/app/mcp_server/schema_extractor.py
  backend/app/mcp_server/server.py
  backend/app/mcp_server/tool_registry.py
  backend/app/mcp_server/tools/__init__.py
  backend/app/mcp_server/tools/decorator.py
  backend/app/mcp_server/tools/knowledge.py
  backend/app/schemas/namespace.py
  backend/app/services/group_service.py
  backend/app/services/knowledge/__init__.py
  backend/app/services/knowledge/indexing.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/knowledge_tasks.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/mcp_server/test_knowledge_create_document.py
  backend/tests/mcp_server/test_knowledge_kb_and_delete.py
  backend/tests/mcp_server/test_schema_extractor_special_types.py
  backend/tests/mcp_server/test_tool_registry.py
  backend/tests/mcp_server/test_tools_decorator.py
  backend/tests/services/knowledge/test_orchestrator.py
  docs/en/developer-guide/README.md
  docs/en/developer-guide/mcp-refactoring-guide.md
  docs/zh/developer-guide/mcp-refactoring-guide.md
Due: wegent-backend

feat(cloud-device): implement cloud device feature via Nevis Sandbox API
  backend/wecode/api/__init__.py
  backend/wecode/api/cloud_devices.py
  backend/wecode/config/__init__.py
  backend/wecode/config/nevis_config.py
  backend/wecode/schemas/__init__.py
  backend/wecode/schemas/cloud_device.py
  backend/wecode/service/cloud_device_patch.py
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
  backend/wecode/service/device_service_patch.py
  backend/wecode/service/nevis_client.py
  frontend/src/app/(tasks)/devices/page.tsx
  frontend/wecode/apis/cloud-devices.ts
  frontend/wecode/apis/index.ts
  frontend/wecode/components/devices/CloudDeviceSection.tsx
  frontend/wecode/i18n/index.ts
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

refactor(backend): unify MCP tools and REST API via KnowledgeOrchestrator (#473)
  backend/app/api/endpoints/internal/chat_storage.py
  backend/app/api/endpoints/internal/rag.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/web_scraper.py
  backend/app/core/celery_app.py
  backend/app/mcp_server/__init__.py
  backend/app/mcp_server/context.py
  backend/app/mcp_server/schema_extractor.py
  backend/app/mcp_server/server.py
  backend/app/mcp_server/tool_registry.py
  backend/app/mcp_server/tools/__init__.py
  backend/app/mcp_server/tools/decorator.py
  backend/app/mcp_server/tools/knowledge.py
  backend/app/services/knowledge/__init__.py
  backend/app/services/knowledge/indexing.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/knowledge_tasks.py
  backend/init_data/skills/wegent-knowledge/SKILL.md
  backend/tests/mcp_server/test_knowledge_create_document.py
  backend/tests/mcp_server/test_knowledge_kb_and_delete.py
  backend/tests/mcp_server/test_schema_extractor_special_types.py
  backend/tests/mcp_server/test_tool_registry.py
  backend/tests/mcp_server/test_tools_decorator.py
  backend/tests/services/knowledge/test_orchestrator.py
  docs/en/developer-guide/README.md
  docs/en/developer-guide/mcp-refactoring-guide.md
  docs/zh/developer-guide/mcp-refactoring-guide.md
Due: wegent-backend

fix(cloud-device): fix device service patch to correctly wrap static methods
  backend/wecode/service/device_service_patch.py
Due: wegent-backend

fix: fix streaming state
  backend/app/api/endpoints/internal/rag.py
  backend/app/services/chat/storage/session.py
  backend/app/services/execution/blocks_collector.py
  backend/app/services/execution/emitters/status_updating.py
Due: wegent-backend

fix(cloud-device): fix device provider initialization and cloud device creation
  backend/app/core/config.py
  backend/app/services/api_key_service.py
  backend/app/services/device/provider_factory.py
  backend/uv.lock
  backend/wecode/api/cloud_devices.py
  backend/wecode/service/cloud_device_script.py
Due: wegent-backend

feat(frontend): add reusable evaluation components
  frontend/src/features/evaluation/components/author/TopicCard.tsx
  frontend/src/features/evaluation/components/author/index.ts
  frontend/src/features/evaluation/components/common/EvaluationPageLayout.tsx
  frontend/src/features/evaluation/components/common/StatusBadge.tsx
  frontend/src/features/evaluation/components/common/VersionBadge.tsx
  frontend/src/features/evaluation/components/common/VisibilityBadge.tsx
  frontend/src/features/evaluation/components/common/index.ts
  frontend/src/features/evaluation/components/grader/DashboardStats.tsx
  frontend/src/features/evaluation/components/grader/GradingTaskCard.tsx
  frontend/src/features/evaluation/components/grader/index.ts
  frontend/src/features/evaluation/components/index.ts
  frontend/src/features/evaluation/components/respondent/RespondentTopicCard.tsx
  frontend/src/features/evaluation/components/respondent/index.ts
  frontend/src/features/evaluation/index.ts
Due: wegent-web

chore(cloud-device): add debug logging for device status check
  backend/wecode/service/cloud_device_provider.py
Due: wegent-backend

refactor(frontend): reorganize evaluation API client by role
  frontend/wecode/api/evaluation-author.ts
  frontend/wecode/api/evaluation-client.ts
  frontend/wecode/api/evaluation-grader.ts
  frontend/wecode/api/evaluation-respondent.ts
  frontend/wecode/api/evaluation.ts
Due: wegent-web

fix(frontend): use export type for interface re-export
  frontend/wecode/api/evaluation.ts
Due: wegent-web

fix: fix executor_manager build
  executor_manager/pyproject.toml
Due: wegent-executor-manager

chore: remove plans
  plans/builder_merge_plan.md
  plans/legacy_code_cleanup_plan.md
  plans/result-emitter-design.md
  plans/task_dispatch_refactor_v8.md
  plans/task_execution_architecture_refactor.md
Due: none

docs: update architecture documentation with latest features
  docs/en/developer-guide/architecture.md
  docs/en/developer-guide/crd-architecture.md
  docs/zh/developer-guide/architecture.md
  docs/zh/developer-guide/crd-architecture.md
Due: none

docs: update architecture documentation with latest features (#550)
  docs/en/developer-guide/architecture.md
  docs/en/developer-guide/crd-architecture.md
  docs/zh/developer-guide/architecture.md
  docs/zh/developer-guide/crd-architecture.md
Due: none

fix(backend): add total_topics field to GraderDashboardStats
  backend/wecode/api/evaluation/grader.py
Due: wegent-backend

refactor(evaluation): improve UX and complete i18n coverage
  backend/tests/services/channels/__init__.py
  backend/tests/services/chat/access/__init__.py
  backend/tests/services/memory/__init__.py
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/permissions/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/reports/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/tasks/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/topics/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/new/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
  frontend/wecode/i18n/locales/en/evaluation.json
  frontend/wecode/i18n/locales/zh-CN/evaluation.json
  plans/evaluation-refactor-plan.md
Due: wegent-backend, wegent-web

refactor(evaluation): remove legacy CRUD-style routes
  backend/wecode/api/evaluation/__init__.py
  backend/wecode/api/evaluation/answers.py
  backend/wecode/api/evaluation/grading.py
  backend/wecode/api/evaluation/permissions.py
  backend/wecode/api/evaluation/questions.py
  backend/wecode/api/evaluation/topics.py
  frontend/src/app/(tasks)/evaluation/topics/[id]/edit/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/grading/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/permissions/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/questions/[qid]/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/[id]/questions/new/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/new/page.tsx
  frontend/src/app/(tasks)/evaluation/topics/page.tsx
Due: wegent-backend, wegent-web

refactor(evaluation): use shared EvaluationPageLayout across all pages
  frontend/src/app/(tasks)/evaluation/author/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/edit/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/permissions/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/questions/new/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/versions/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/new/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/reports/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/tasks/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/grader/topics/page.tsx
  frontend/src/app/(tasks)/evaluation/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/history/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/questions/[qid]/page.tsx
Due: wegent-web

fix(evaluation): resolve multiple issues in evaluation module
  backend/wecode/api/evaluation/author.py
  backend/wecode/api/evaluation/respondent.py
  backend/wecode/schemas/evaluation.py
  backend/wecode/service/evaluation/permission_service.py
  backend/wecode/service/evaluation/question_service.py
Due: wegent-backend

feat(evaluation): update frontend types and API client
  frontend/wecode/api/evaluation-author.ts
  frontend/wecode/types/evaluation.ts
Due: wegent-web

fix(evaluation): fix i18n and remove topic deletion
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-web

fix(evaluation): add missing no_versions i18n key
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-web

feat(evaluation): add question detail page and improve question forms
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/questions/[questionId]/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/questions/new/page.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-web

fix: fix ut
  backend/uv.lock
  backend/wecode/api/user_service_patch.py
  executor_manager/tests/services/test_sandbox_scheduler.py
Due: wegent-executor-manager, wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
