Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): isolate sidebar task drag from split pane drops (#2659)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/process-lifecycle.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/SidebarSortableList.test.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/components/layout/sidebarSortableAutoScroll.ts
  wework/src/components/layout/useSidebarPaneDragScrollLock.ts
  wework/src/e2e/desktop-process-lifecycle.test.ts
Due: none

test(backend): annotate executor_alive tests with None return type
  backend/tests/services/test_remote_workspace_service_status.py
Due: wegent-backend

feat(code-wiki): improve generation quality and safety
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/code_wiki/generation.py
  backend/app/services/knowledge/code_wiki/prompts.py
  backend/app/services/knowledge/code_wiki/run_mode.py
  backend/app/services/knowledge/code_wiki/runner.py
  backend/init_data/02-public-resources.yaml
  backend/init_data/skills/code-wiki-mermaid/SKILL.md
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/tests/api/test_knowledge_code_wiki.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_ghost.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
  backend/tests/services/knowledge/code_wiki/test_generation.py
  backend/tests/services/knowledge/code_wiki/test_prompts.py
  backend/tests/services/knowledge/code_wiki/test_run_mode.py
  backend/tests/services/knowledge/code_wiki/test_runner.py
  docs/plans/knowledge/2026-08-12-code-wiki-generation-quality-plan.md
  docs/plans/knowledge/2026-08-13-code-wiki-generation-quality-scorecard.md
  docs/specs/knowledge/2026-08-12-code-wiki-generation-quality-design.md
  frontend/src/__tests__/apis/code-wiki.test.ts
  frontend/src/apis/code-wiki.ts
Due: wegent-backend, wegent-web

fix(composer): update caret behavior and value handling in chat composers (#2670)
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
Due: none

feat(plugins): add automatic marketplace updates
  backend/alembic/versions/20260812_8a4c1f2d9e70_enable_plugin_auto_update.py
  backend/app/api/endpoints/installed_plugins.py
  backend/app/schemas/installed_plugin.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/models/test_plugin_marketplace_migrations.py
  backend/tests/services/test_plugin_marketplace_v2.py
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/src/api/plugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/plugins/pluginAutoUpdate.test.ts
  wework/src/features/plugins/pluginAutoUpdate.ts
  wework/src/features/plugins/pluginDeviceAutoSync.test.ts
  wework/src/features/plugins/pluginDeviceAutoSync.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/telemetry/events.ts
  wework/src/types/api.ts
Due: wegent-backend

fix(ci): install zip for plugin auto-update e2e
  docker/wework-e2e/desktop.Dockerfile
Due: none

docs(plugins): document automatic update safeguards
  docs/en/wework/developer-guide/plugin-marketplace-v2.md
  docs/zh/wework/developer-guide/plugin-marketplace-v2.md
Due: none

fix(ci): package plugin e2e fixtures with python
  docker/wework-e2e/desktop.Dockerfile
  wework/e2e/desktop/modules/cloud-environment.mjs
Due: none

fix(plugins): address PR review and E2E coverage
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/app/services/device/capability_sync_service.py
  docs/zh/wework/developer-guide/plugin-marketplace-v2.md
  wework/src/components/plugins/PluginDetailView.test.tsx
  wework/src/components/plugins/PluginDetailView.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/i18n/locales/en/common.json
Due: wegent-backend

fix(plugins): address automatic update review issues
  backend/alembic/versions/20260812_8a4c1f2d9e70_enable_plugin_auto_update.py
  backend/app/services/installed_plugin_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
Due: wegent-backend

feat(plugins): enable resilient automatic updates
  backend/alembic/versions/20260813_b7c6d5e4f3a2_reset_plugin_device_failure_counts.py
  backend/app/api/endpoints/installed_plugins.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/constants.py
  backend/app/schemas/installed_plugin.py
  backend/app/services/device/capability_sync_service.py
  backend/app/services/installed_plugin_service.py
  backend/app/services/plugin_device_installation_service.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/models/test_plugin_marketplace_migrations.py
  backend/tests/services/test_plugin_marketplace_v2.py
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/src/components/plugins/PluginDetailView.test.tsx
  wework/src/components/plugins/PluginDetailView.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/plugins/pluginAutoUpdate.test.ts
  wework/src/features/plugins/pluginAutoUpdate.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-backend

fix(wework): contain popout composer growth
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/pages/PopoutWorkbenchPage.css
Due: none

fix(wework): preserve model selection for IM continuation (#2631)
  backend/app/schemas/runtime_work.py
  backend/app/services/channels/handler.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/im/interaction_service.py
  backend/app/services/im/session_service.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/im/test_interaction_service.py
  backend/tests/services/test_runtime_work_service.py
  shared/models/execution.py
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/api/runtimeWork.test.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/types/api.ts
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(wework): contain popout composer growth (#2672)
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/pages/PopoutWorkbenchPage.css
Due: none

fix(sandbox): sync request-scoped skills
  chat_shell/chat_shell/tools/skill_factory.py
  chat_shell/tests/test_skill_mcp_loader.py
  executor_manager/services/sandbox/manager.py
  executor_manager/services/sandbox/skill_sync.py
  executor_manager/tests/services/test_sandbox_manager.py
  executor_manager/tests/services/test_sandbox_skill_sync.py
Due: wegent-executor-manager

fix(sandbox): sync request-scoped skills (#2673)
  chat_shell/chat_shell/tools/skill_factory.py
  chat_shell/tests/test_skill_mcp_loader.py
  executor_manager/services/sandbox/manager.py
  executor_manager/services/sandbox/skill_sync.py
  executor_manager/tests/services/test_sandbox_manager.py
  executor_manager/tests/services/test_sandbox_skill_sync.py
Due: wegent-executor-manager

fix(wework): support dark theme in browser annotation editor
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/browser-annotation-injection.test.ts
  wework/src/components/layout/workspace-panels/browser-annotation/injection-script.ts
Due: none

feat(plugins): enable resilient automatic updates (#2664)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/alembic/versions/20260812_8a4c1f2d9e70_enable_plugin_auto_update.py
  backend/alembic/versions/20260813_b7c6d5e4f3a2_reset_plugin_device_failure_counts.py
  backend/app/api/endpoints/installed_plugins.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/constants.py
  backend/app/schemas/installed_plugin.py
  backend/app/services/device/capability_sync_service.py
  backend/app/services/installed_plugin_service.py
  backend/app/services/plugin_device_installation_service.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/models/test_plugin_marketplace_migrations.py
  backend/tests/services/test_plugin_marketplace_v2.py
  docs/en/wework/developer-guide/plugin-marketplace-v2.md
  docs/zh/wework/developer-guide/plugin-marketplace-v2.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/src/api/plugins.ts
  wework/src/components/plugins/PluginDetailView.test.tsx
  wework/src/components/plugins/PluginDetailView.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/features/plugins/pluginAutoUpdate.test.ts
  wework/src/features/plugins/pluginAutoUpdate.ts
  wework/src/features/plugins/pluginDeviceAutoSync.test.ts
  wework/src/features/plugins/pluginDeviceAutoSync.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/telemetry/events.ts
  wework/src/types/api.ts
Due: wegent-backend

fix(wework): stabilize multiline composer caret
  docs/en/wegent/user-guide/chat/managing-tasks.md
  docs/zh/wegent/user-guide/chat/managing-tasks.md
  wework/e2e/desktop/scenarios/split-workbench.scenario.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/composerProseMirrorModel.ts
  wework/src/styles/globals.css
Due: none

fix(wework): preserve leading newline caret offset
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/styles/globals.css
Due: none

fix(wework): restore multiline composer deletion
  wework/e2e/desktop/scenarios/split-workbench.scenario.mjs
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
Due: none

fix(wework): keep guidance above composer
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
Due: none

docs(wework): document virtual guidance layout
  wework/DESIGN.md
Due: none

test(wework): assert caret after empty-line deletion
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
Due: none

fix(wework): keep guidance above composer (#2676)
  wework/DESIGN.md
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/MessageList.virtualization.test.tsx
Due: none

fix(wework): allow disconnecting failed cloud connections
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/src/features/cloud-connection/CloudConnectionDialog.test.tsx
  wework/src/features/cloud-connection/CloudConnectionDialog.tsx
Due: none

fix(wework): stabilize multiline composer caret (#2675)
  docs/en/wegent/user-guide/chat/managing-tasks.md
  docs/zh/wegent/user-guide/chat/managing-tasks.md
  wework/e2e/desktop/scenarios/split-workbench.scenario.mjs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/composerProseMirrorModel.ts
  wework/src/styles/globals.css
Due: none

docs(wework): document ChatGPT proxy recovery
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
Due: none

fix(wework): guide ChatGPT reconnects to proxy settings
  executor/src/runtime_work/events.rs
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: wegent-executor

fix(wework): allow one-row terminal panel
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.ts
Due: none

docs(wework): define terminal panel minimum
  wework/DESIGN.md
Due: none

fix(wework): serialize browser approval retries
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/agent_control.rs
  wework/src-tauri/src/embedded_browser/tests.rs
Due: none

test(wework): strengthen terminal height coverage
  wework/DESIGN.md
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.ts
Due: none

fix(wework): guide ChatGPT reconnects to proxy settings (#2678)
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
  executor/src/runtime_work/events.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/agent_control.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: wegent-executor

fix(wework): preserve stopped pending turns
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeConversationTurns.ts
Due: none

fix(wework): avoid duplicate model preparation
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

fix(wework): allow one-row terminal panel (#2679)
  wework/DESIGN.md
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: none

docs(wework): document managed board automation
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
Due: none

fix(wework): support dark theme in browser annotation editor (#2674)
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/browser-annotation-injection.test.ts
  wework/src/components/layout/workspace-panels/browser-annotation/injection-script.ts
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
