Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat: 调整字号
  frontend/src/__tests__/features/projects/components/project-sidebar-behavior.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/projects/components/ProjectSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/AddContextMenu.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/chat/composer/SkillSelector.tsx
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/common/TextInputDialog.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
Due: wegent-web

style: 更新模型选择框样式
  frontend/src/__tests__/components/model-select/model-cascade-content.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat: 调整按钮
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
Due: none

style: 边栏文本对齐
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

style: 更新模型选择框样式 (#1228)
  frontend/src/__tests__/components/model-select/model-cascade-content.test.tsx
  frontend/src/__tests__/features/tasks/components/selector/ModelSelector.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/components/model-select/ModelCascadeSelect.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat: force password login
  frontend/src/__tests__/app/login.page.test.tsx
  frontend/src/__tests__/features/login/LoginForm.mode.test.tsx
  frontend/src/__tests__/features/login/constants.test.ts
  frontend/src/app/login/page.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/login/constants.ts
Due: wegent-web

feat: support CodeX agent
  backend/.env.example
  backend/app/api/endpoints/adapter/models.py
  backend/app/api/endpoints/adapter/teams.py
  backend/app/api/endpoints/users.py
  backend/app/core/config.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/model_aggregation_service.py
  backend/tests/api/endpoints/test_adapter_teams_defaults.py
  backend/tests/services/chat/test_reasoning_config.py
  backend/tests/services/test_model_aggregation_service.py
  docker/executor/Dockerfile
  executor/agents/__init__.py
  executor/agents/base.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/config_manager.py
  executor/agents/codex/__init__.py
  executor/agents/codex/codex_agent.py
  executor/agents/codex/config_builder.py
  executor/agents/codex/event_mapper.py
  executor/agents/codex/session_store.py
  executor/agents/env_value.py
  executor/agents/factory.py
  executor/config/config.py
  executor/executor.spec
  executor/modes/local/runner.py
  executor/modes/local/websocket_client.py
  executor/pyproject.toml
  executor/services/agent_service.py
  executor/tests/agents/test_codex_config_builder.py
  executor/tests/agents/test_codex_event_mapper.py
  executor/tests/agents/test_factory.py
  executor/tests/agents/test_project_workspace_paths.py
  executor/tests/modes/local/test_global_capabilities.py
  executor/uv.lock
  wework/src/api/adapters.test.ts
  wework/src/api/teams.ts
  wework/src/lib/model-ui.test.ts
  wework/src/lib/model-ui.ts
Due: wegent-executor, wegent-backend

feat: support CodeX agent (#1226)
  backend/.env.example
  backend/app/api/endpoints/adapter/models.py
  backend/app/api/endpoints/adapter/teams.py
  backend/app/api/endpoints/users.py
  backend/app/core/config.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/model_aggregation_service.py
  backend/tests/api/endpoints/test_adapter_teams_defaults.py
  backend/tests/services/chat/test_reasoning_config.py
  backend/tests/services/test_model_aggregation_service.py
  docker/executor/Dockerfile
  executor/agents/__init__.py
  executor/agents/base.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/config_manager.py
  executor/agents/codex/__init__.py
  executor/agents/codex/codex_agent.py
  executor/agents/codex/config_builder.py
  executor/agents/codex/event_mapper.py
  executor/agents/codex/session_store.py
  executor/agents/env_value.py
  executor/agents/factory.py
  executor/config/config.py
  executor/executor.spec
  executor/modes/local/runner.py
  executor/modes/local/websocket_client.py
  executor/pyproject.toml
  executor/services/agent_service.py
  executor/tests/agents/test_codex_config_builder.py
  executor/tests/agents/test_codex_event_mapper.py
  executor/tests/agents/test_factory.py
  executor/tests/agents/test_project_workspace_paths.py
  executor/tests/modes/local/test_global_capabilities.py
  executor/uv.lock
  wework/src/api/adapters.test.ts
  wework/src/api/teams.ts
  wework/src/lib/model-ui.test.ts
  wework/src/lib/model-ui.ts
Due: wegent-executor, wegent-backend

style(wework): polish workbench chrome (#1223)
  executor/agents/claude_code/claude_code_agent.py
  frontend/src/__tests__/apis/skills.test.ts
  frontend/src/__tests__/features/projects/components/project-sidebar-behavior.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/projects/components/ProjectSection.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/AddContextMenu.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/chat/composer/SkillSelector.tsx
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/common/TextInputDialog.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
Due: wegent-executor, wegent-web

fix(models): 透传公共模型视频能力
  backend/app/services/adapters/public_model.py
  backend/tests/services/adapters/test_public_model.py
Due: wegent-backend

fix: 优化stream state机制
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.pipeline-next-step.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputCard.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-context-visibility.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-send-state.test.tsx
  frontend/src/__tests__/features/tasks/components/message/MessagesArea.memo.test.tsx
  frontend/src/__tests__/features/tasks/components/message/TaskRuntimeGlyph.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskSessionContext.test.tsx
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatAreaState.ts
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/chat/useChatTransientState.ts
  frontend/src/features/tasks/components/chat/useQueuedRuntimeHealthCheck.ts
  frontend/src/features/tasks/components/chat/useStreamingJoinWarning.ts
  frontend/src/features/tasks/components/hooks/useAttachmentUpload.ts
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/input/chatSendState.ts
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/message/TaskRuntimeGlyph.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/session/TaskSession.tsx
  frontend/src/features/tasks/session/consistencyWatcher.ts
  frontend/src/features/tasks/session/messageSyncer.tsx
  frontend/src/features/tasks/session/taskPuller.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/index.ts
Due: wegent-web

refactor: use UUID to generate temporary task names
  backend/app/services/adapters/task_kinds/operations.py
  backend/tests/services/adapters/test_task_id_allocation.py
Due: wegent-backend

fix: 优化stream state机制 (#1231)
  executor/agents/codex/session_store.py
  executor/agents/factory.py
  executor/modes/local/runner.py
  executor/modes/local/websocket_client.py
  executor/services/agent_service.py
  executor/tests/agents/test_codex_event_mapper.py
  executor/tests/agents/test_factory.py
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.pipeline-next-step.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/ChatArea.queue-message-handler.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputCard.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/input/ChatInputControls.toolbar.test.tsx
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-context-visibility.test.tsx
  frontend/src/__tests__/features/tasks/components/input/chat-send-state.test.tsx
  frontend/src/__tests__/features/tasks/components/message/MessagesArea.memo.test.tsx
  frontend/src/__tests__/features/tasks/components/message/TaskRuntimeGlyph.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskSessionContext.test.tsx
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/useChatAreaState.ts
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/chat/useChatTransientState.ts
  frontend/src/features/tasks/components/chat/useQueuedRuntimeHealthCheck.ts
  frontend/src/features/tasks/components/chat/useStreamingJoinWarning.ts
  frontend/src/features/tasks/components/hooks/useAttachmentUpload.ts
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/input/chatSendState.ts
  frontend/src/features/tasks/components/message/MessagesArea.tsx
  frontend/src/features/tasks/components/message/TaskRuntimeGlyph.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/session/TaskSession.tsx
  frontend/src/features/tasks/session/consistencyWatcher.ts
  frontend/src/features/tasks/session/messageSyncer.tsx
  frontend/src/features/tasks/session/taskPuller.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
  frontend/src/features/tasks/state/index.ts
Due: wegent-executor, wegent-web

fix(frontend): preserve device chat task id
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
Due: wegent-web

feat: 支持扫描
  backend/wecode/service/weibo_qrcode_auth_service.py
  backend/wecode/tests/test_weibo_qrcode_auth.py
  wecode/docker/wework/Dockerfile
  wework/.env.production
  wework/src/stream/socketClient.ts
Due: wegent-backend

fix(frontend): preserve device chat task id (#1230)
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
Due: wegent-web

fix: revert sidebar
  frontend/src/__tests__/features/projects/components/project-sidebar-behavior.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/projects/components/ProjectSection.tsx
  frontend/src/features/tasks/components/sidebar/FixedGroupChatsSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
Due: wegent-web

fix: revert sidebar (#1233)
  frontend/src/__tests__/features/projects/components/project-sidebar-behavior.test.tsx
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/projects/components/ProjectSection.tsx
  frontend/src/features/tasks/components/sidebar/FixedGroupChatsSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/projects.json
  frontend/src/i18n/locales/zh-CN/projects.json
Due: wegent-web

feat: 支持差劲啊
  backend/app/api/api.py
  backend/app/api/endpoints/installed_plugins.py
  backend/app/schemas/installed_plugin.py
  backend/app/services/claude_plugin_parser.py
  backend/app/services/device/capability_sync_service.py
  backend/app/services/installed_plugin_service.py
  executor/modes/local/capabilities.py
  start.sh
  tests/test_start_sh.sh
  wework/src/api/plugins.ts
  wework/src/components/plugins/PluginCreateMenu.tsx
  wework/src/components/plugins/PluginDetailView.tsx
  wework/src/components/plugins/PluginManagementRows.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginUploadDialog.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor, wegent-backend

refactor: use UUID to generate temporary task names (#1232)
  backend/app/services/adapters/task_kinds/operations.py
  backend/tests/services/adapters/test_task_id_allocation.py
Due: wegent-backend

fix(frontend): 修复视频分片上传域名
  frontend/src/apis/attachments.ts
Due: wegent-web

fix(frontend): keep socket recovery pending for task detail race
  docs/en/developer-guide/task-runtime-state-machine.md
  docs/zh/developer-guide/task-runtime-state-machine.md
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

fix(executor-manager): force redis resp2 protocol
  .env.example
  docker-compose.yml
  docs/en/getting-started/installation.md
  docs/zh/getting-started/installation.md
  executor_manager/common/config.py
  executor_manager/common/redis_factory.py
  executor_manager/tests/common/test_redis_factory.py
  shared/logger.py
  shared/tests/test_logger.py
Due: wegent-executor-manager, wegent-executor

fix(executor-manager): force redis resp2 protocol (#1237)
  .env.example
  docker-compose.yml
  docs/en/getting-started/installation.md
  docs/zh/getting-started/installation.md
  executor_manager/common/config.py
  executor_manager/common/redis_factory.py
  executor_manager/tests/common/test_redis_factory.py
  shared/logger.py
  shared/tests/test_logger.py
Due: wegent-executor-manager, wegent-executor

feat: fix chatshell api
  chat_shell/chat_shell/api/health.py
  chat_shell/chat_shell/api/v1/response.py
  chat_shell/chat_shell/core/shutdown.py
  chat_shell/chat_shell/main.py
  chat_shell/chat_shell/prompts/builder.py
  chat_shell/chat_shell/services/guidance.py
  chat_shell/chat_shell/tools/builtin/knowledge_listing.py
  chat_shell/tests/test_agent.py
  chat_shell/tests/test_api.py
  docs/en/developer-guide/chat-shell-graceful-shutdown.md
  docs/zh/developer-guide/chat-shell-graceful-shutdown.md
Due: none

feat: fix chatshell api (#1238)
  chat_shell/chat_shell/api/health.py
  chat_shell/chat_shell/api/v1/response.py
  chat_shell/chat_shell/core/shutdown.py
  chat_shell/chat_shell/main.py
  chat_shell/chat_shell/prompts/builder.py
  chat_shell/chat_shell/services/guidance.py
  chat_shell/chat_shell/tools/builtin/knowledge_listing.py
  chat_shell/tests/test_agent.py
  chat_shell/tests/test_api.py
  docs/en/developer-guide/chat-shell-graceful-shutdown.md
  docs/zh/developer-guide/chat-shell-graceful-shutdown.md
Due: none

Revert "fix(frontend): preserve device chat task id (#1230)"
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
Due: wegent-web

Revert "fix(frontend): preserve device chat task id (#1230)" (#1239)
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
Due: wegent-web

fix(executor): preserve standalone chat session
  executor/agents/claude_code/standalone_chat_workspace.py
  executor/tests/agents/test_standalone_chat_workspace.py
Due: wegent-executor

fix: fix task id
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/useChatTransientState.test.ts
  frontend/src/__tests__/features/tasks/presentation/useMessagePresenter.test.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/presentation/useMessagePresenter.ts
  frontend/src/features/tasks/session/TaskSession.tsx
Due: wegent-web

fix: fix task id (#1240)
  frontend/src/__tests__/features/tasks/components/chat/useChatStreamHandlers.queue.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/useChatTransientState.test.ts
  frontend/src/__tests__/features/tasks/presentation/useMessagePresenter.test.tsx
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/presentation/useMessagePresenter.ts
  frontend/src/features/tasks/session/TaskSession.tsx
Due: wegent-web

test(frontend): allow null task id in transient state test
  frontend/src/__tests__/features/tasks/components/chat/useChatTransientState.test.ts
Due: wegent-web

fix(executor): preserve standalone chat session (#1241)
  executor/agents/claude_code/standalone_chat_workspace.py
  executor/tests/agents/test_standalone_chat_workspace.py
  frontend/src/__tests__/features/tasks/components/chat/useChatTransientState.test.ts
Due: wegent-executor, wegent-web

fix(frontend): improve wework mobile ui
  wework/src/App.plugins.test.tsx
  wework/src/components/chat/composer/AddContextMenu.tsx
  wework/src/components/chat/composer/AttachmentBadges.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/chat/composer/SkillSelector.tsx
  wework/src/components/layout/AppLayout.tsx
  wework/src/components/layout/DesktopSettingsMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/Header.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/plugins/McpManagementSections.tsx
  wework/src/components/plugins/PluginCatalogSections.tsx
  wework/src/components/plugins/PluginDetailView.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginUploadDialog.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/SkillUploadDialog.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/LoginPage.tsx
  wework/src/pages/OidcCallbackPage.tsx
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/tailwind.config.js
Due: none

docs: add superpowers plan frontmatter
  docs/superpowers/plans/2026-05-28-claude-code-model-switch.md
  docs/superpowers/plans/2026-05-28-skill-creator-agent-implementation.md
Due: none

feat(frontend): animate quick phrase panel transitions
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/QuickPhraseList.tsx
  frontend/src/features/tasks/components/chat/quick-launch/quick-launch-panel.tsx
Due: wegent-web

fix(executor): add local Claude request headers
  docs/en/developer-guide/local-device-architecture.md
  docs/zh/developer-guide/local-device-architecture.md
  executor/agents/claude_code/local_mode_strategy.py
  executor/tests/agents/test_mode_strategy.py
Due: wegent-executor

feat: 修复review的问题
  backend/app/api/endpoints/installed_plugins.py
  backend/app/services/installed_plugin_service.py
  backend/tests/services/test_installed_plugin_upload.py
  executor/modes/local/capabilities.py
  executor/tests/test_local_capability_sync_handler.py
  wework/eslint.config.js
  wework/package.json
  wework/scripts/build-mac-app.sh
  wework/src/api/adapters.test.ts
  wework/src/api/http.test.ts
  wework/src/api/http.ts
  wework/src/api/plugins.ts
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/plugins/PluginDetailView.tsx
  wework/src/components/plugins/PluginUploadDialog.test.tsx
  wework/src/components/plugins/PluginUploadDialog.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

feat(frontend): stagger quick phrase entrance
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/QuickPhraseList.tsx
Due: wegent-web
