Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): save single-node automations inside the assignment contract
  backend/tests/schemas/test_project_automation_schema.py
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/automationRuleBackend.test.ts
  wework/src/features/todo/automationRuleBackend.ts
Due: wegent-backend

test(wework): cover single-node automation save and edit
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
Due: none

test(wework): restore upstream telemetry bridge test
  wework/src/telemetry/TelemetryBridge.test.tsx
Due: none

chore(wework): pin public telemetry distribution for internal builds
  wework/.env.production
Due: none

test(ci): assert plugin capabilities desktop routing
  .github/scripts/test-classify-ci-changes.sh
Due: none

feat(wework): permit configured private HTTP telemetry host
  wework/dsh/internal-telemetry/config.js
  wework/dsh/internal-telemetry/config.test.mjs
  wework/dsh/internal-telemetry/internal-telemetry.env.example
Due: none

test(wework): use English attachment fixture text
  wework/e2e/desktop/scenarios/temporary-chat.scenario.mjs
Due: none

test(ci): cover plugin capabilities desktop routing
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(executor): exclude ignored files from transcript snapshots
  executor/src/runtime_work/native_transcript.rs
Due: wegent-executor

fix(executor): harden transcript workspace discovery
  executor/src/runtime_work/handler/transcript_sync.rs
  executor/src/runtime_work/native_transcript.rs
Due: wegent-executor

fix(executor): trust detected transcript repository
  executor/src/runtime_work/native_transcript.rs
Due: wegent-executor

fix(frontend): load static brand logo directly
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/login/components/LogoHeader.tsx
  frontend/src/features/tasks/components/sidebar/PublicTaskSidebar.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

fix(wework): show full goal on hover
  wework/src/components/chat/composer/GoalStatusBar.test.tsx
  wework/src/components/chat/composer/GoalStatusBar.tsx
Due: none

fix(wework): show full goal on hover (#3441)
  wework/src/components/chat/composer/GoalStatusBar.test.tsx
  wework/src/components/chat/composer/GoalStatusBar.tsx
Due: none

fix(executor): exclude ignored files from transcript snapshots (#3439)
  executor/src/runtime_work/handler/transcript_sync.rs
  executor/src/runtime_work/native_transcript.rs
  frontend/src/__tests__/features/tasks/components/sidebar/TaskSidebar.test.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/login/components/LogoHeader.tsx
  frontend/src/features/tasks/components/sidebar/PublicTaskSidebar.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-executor, wegent-web

fix(wework): reuse task conversations for board previews
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/runtimeTaskResponsePreview.test.ts
  wework/src/features/todo/runtimeTaskResponsePreview.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeThinking.test.ts
  wework/src/features/workbench/runtimeThinking.ts
Due: none

fix(wework): preserve native Responses tools by default
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_llm_proxy_service.py
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/CustomModelCapabilitiesForm.tsx
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

test(wework): update Responses automation options
  wework/src/features/automations/automationDraft.test.ts
Due: none

fix(wework): preserve board conversation integrity
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/runtimeTaskResponsePreview.test.ts
  wework/src/features/todo/runtimeTaskResponsePreview.ts
Due: none

test(wework): update runtime model selection options
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

fix(wework): reuse task conversations for board previews (#3442)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/runtimeTaskResponsePreview.test.ts
  wework/src/features/todo/runtimeTaskResponsePreview.ts
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeThinking.test.ts
  wework/src/features/workbench/runtimeThinking.ts
Due: none

fix(knowledge): default Milvus hybrid retrieval to RRFRanker
  knowledge_engine/knowledge_engine/storage/milvus_backend.py
  knowledge_engine/tests/storage/test_milvus_backend.py
Due: none

feat(knowledge): disable hybrid weights for Milvus retrievers
  frontend/src/__tests__/features/knowledge/document/retrieval-settings-section.test.tsx
  frontend/src/features/knowledge/document/components/RetrievalSettingsSection.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

test(wework): recognize native tool search outputs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
Due: none

fix(executor): share the per-attempt skill timeout across policies
  executor/src/agents/runtime_capabilities.rs
Due: wegent-executor

test(wework): cover native Responses namespace tools
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
Due: none

fix(wework): contain sent text attachments in narrow chats (#3436)
  wework/e2e/desktop/scenarios/temporary-chat.scenario.mjs
  wework/src/components/chat/MessageList.tsx
Due: none

fix(wework): preserve native Responses tools by default (#3443)
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_llm_proxy_service.py
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/CustomModelCapabilitiesForm.tsx
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

fix(wework): align collaboration board binding types
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

fix(admin): sync model grouping inputs with JSON config
  frontend/src/__tests__/features/admin/PublicModelList.grouping.test.tsx
  frontend/src/features/admin/components/PublicModelList.tsx
Due: wegent-web

fix(wework): restore the reader from the measured layout instead of fabricating height
  docs/en/wegent/developer-guide/wework-message-scroll.md
  docs/zh/wegent/developer-guide/wework-message-scroll.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.virtualization.test.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/bottomOriginScroll.ts
  wework/src/components/chat/scrollDiagnostics.ts
  wework/src/components/chat/useBottomOriginVirtualizer.ts
Due: none

test(wework): align shared collaboration contracts
  wework/src/features/collaboration/weworkSharedWorkspaceApi.test.ts
  wework/src/features/todo/AutomationWorkflowCanvas.test.tsx
  wework/src/test/theme-token-guard.test.ts
Due: none

test(wework): align workbench collaboration fixtures
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

fix(executor): harden task token MCP lifecycle
  docs/en/wework/developer-guide/plugin-task-token.md
  docs/zh/wework/developer-guide/plugin-task-token.md
  executor/src/plugin_task_token/issuer.rs
  executor/src/plugin_task_token/mod.rs
  executor/src/plugin_task_token/tests.rs
  executor/tests/agent_process_engine_contract.rs
  executor/tests/agent_runtime_capabilities_contract.rs
Due: wegent-executor

fix(admin): sync model grouping inputs with JSON config (#3445)
  frontend/src/__tests__/features/admin/PublicModelList.grouping.test.tsx
  frontend/src/features/admin/components/PublicModelList.tsx
Due: wegent-web

fix(frontend): raise production build heap limit
  frontend/package.json
Due: wegent-web

test(wework): handle direct plugin namespaces
  wework/e2e/desktop/scenarios/plugin-task-token.scenario.mjs
Due: none

fix(backend): deduplicate runtime IM notifications per terminal turn
  backend/app/api/ws/device_namespace.py
  backend/app/services/im/notification_dispatcher.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  backend/tests/conftest.py
  backend/tests/services/im/test_notification_dispatcher.py
Due: wegent-backend

feat(executor): deliver Codex hook events from a durable rollout feed
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/hooks/host.rs
  executor/src/hooks/mod.rs
  executor/src/hooks/model.rs
  executor/src/hooks/registry.rs
  executor/src/hooks/rollout/mod.rs
  executor/src/hooks/rollout/parser.rs
  executor/src/hooks/rollout/scan.rs
  executor/src/hooks/rollout/store.rs
  executor/src/hooks/rollout/tests.rs
  executor/src/runtime_work/handler/turns.rs
  wework/e2e/desktop/modules/codex-rollout-recovery.mjs
  wework/e2e/desktop/scenarios/codex-notification-isolation.scenario.mjs
Due: wegent-executor
