Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

feat(knowledge): let a code wiki name the model it generates with
  backend/app/api/endpoints/knowledge_code_wiki.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/code_wiki/runner.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
  backend/tests/api/test_knowledge_code_wiki.py
  backend/tests/services/knowledge/code_wiki/test_runner.py
  frontend/src/__tests__/features/knowledge/code-wiki/create-kind-selection.test.tsx
  frontend/src/components/model-select/ModelRefSelector.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/code-wiki.ts
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

feat(knowledge): confirm the two code wiki actions that overwrite pages
  frontend/src/__tests__/features/knowledge/code-wiki/regenerate-button-state.test.tsx
  frontend/src/__tests__/features/knowledge/code-wiki/republish-confirmation.test.tsx
  frontend/src/features/knowledge/code-wiki/CodeWikiReader.tsx
  frontend/src/features/knowledge/code-wiki/RunHistory.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): remember a model as soon as it is picked
  frontend/src/__tests__/components/model-select/model-ref-selector-preference.test.tsx
  frontend/src/components/model-select/ModelRefSelector.tsx
Due: wegent-web

test(wework): wait for final processing toggle
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

docs(knowledge): note that the share-link entry is unreachable
  docs/specs/knowledge/2026-07-30-code-wiki-phase2-code-index-design.md
Due: none

fix(knowledge): remember the summary and wiki models separately
  frontend/src/__tests__/components/model-select/model-ref-selector-preference.test.tsx
  frontend/src/components/model-select/ModelRefSelector.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseForm.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageDesktop.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeBaseDialogs.ts
  frontend/src/utils/modelPreferences.ts
Due: wegent-web

test(frontend): cover the two axes now sharing the preference key
  frontend/src/__tests__/utils/modelPreferences.test.ts
Due: wegent-web

feat: 普通“新建任务”（侧边栏的独立会话）现在只会选择本地设备，不会再从云设备/本地设备里挑。 (#2550)
  wework/src/components/chat/composer/project-work-bar-utils.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/lib/device-selection.test.ts
  wework/src/lib/device-selection.ts
Due: none

fix(plugins): accelerate marketplace loading and harden install state (#2549)
  backend/app/services/plugin_marketplace_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/api/local/listPersonalMarketplaceFromDisk.test.ts
  wework/src/components/chat/composer/ComposerToolbar.test.tsx
  wework/src/components/chat/composer/PluginPickerMenu.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/findMarketplaceItemForInstalled.test.ts
  wework/src/components/plugins/findMarketplaceItemForInstalled.ts
  wework/src/components/plugins/holdBackInFlightMarketplaceInstalls.test.ts
  wework/src/components/plugins/holdBackInFlightMarketplaceInstalls.ts
  wework/src/components/plugins/marketplaceCatalogMerge.test.ts
  wework/src/components/plugins/marketplaceCatalogMerge.ts
  wework/src/features/plugins/loadComposerPluginApps.ts
  wework/src/features/plugins/marketplaceIdentity.test.ts
  wework/src/features/plugins/marketplaceIdentity.ts
  wework/src/features/plugins/marketplaceSearch.test.ts
  wework/src/features/plugins/marketplaceSearch.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: wegent-backend

fix(wework): remove hidden Apps page reachable via /apps (#2546)
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/components/topnav/useChromeTabs.test.ts
  wework/src/config/apps.ts
  wework/src/extensions/apps.tsx
  wework/src/features/workspace-tabs/WorkspaceTabStrip.test.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.test.tsx
  wework/src/features/workspace-tabs/workspaceTabs.test.ts
  wework/src/features/workspace-tabs/workspaceTabs.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/navigation.test.ts
  wework/src/lib/navigation.ts
  wework/src/pages/AppsPage.tsx
Due: none

fix(wework): attribute release note contributors (#2562)
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/scripts/generate-release-notes.mjs
  wework/scripts/generate-release-notes.test.mjs
Due: none

fix(backend): inject executionRequest into runtime send for IM continuation (#2556)
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_runtime_work_service.py
Due: wegent-backend

fix: frontend share link
  frontend/src/__tests__/features/common/AuthGuard.test.tsx
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/features/tasks/components/share/TeamShareHandler.tsx
Due: wegent-web

test(e2e): 完善知识访问场景覆盖
  frontend/e2e/fixtures/provider-native-knowledge.ts
  frontend/e2e/pages/tasks/provider-native-knowledge.page.ts
  frontend/e2e/tests/tasks/provider-native-chat.spec.ts
Due: wegent-web

test(frontend): 修正外部知识来源测试数据
  frontend/src/__tests__/features/tasks/components/group-chat/task-knowledge-binding-panel.test.tsx
Due: wegent-web

fix(wework): stabilize harness browser integration
  wework/src-tauri/src/agent_plugins.rs
  wework/src-tauri/src/agent_plugins_tests.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/bridge_server.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/WorkbenchHarnessSelector.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

fix(knowledge): harden video segment playback
  backend/tests/api/test_knowledge_video_play.py
  backend/wecode/api/knowledge_video_download.py
  backend/wecode/api/knowledge_video_play.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/tests/test_knowledge_injection_strategy.py
  frontend/src/features/knowledge/document/components/DocumentContentViewer.tsx
  frontend/src/features/knowledge/document/components/DocumentPreviewExtension.tsx
  frontend/src/features/knowledge/document/document-preview-registry.ts
  frontend/src/features/knowledge/multimodal/components/InlineVideoViewer.tsx
  frontend/wecode/__tests__/features/knowledge/useVideoPlayUrl.test.tsx
  frontend/wecode/__tests__/features/knowledge/video-segment-source-opener.test.tsx
  frontend/wecode/extensions/knowledge.ts
  frontend/wecode/features/knowledge/document-video-preview.tsx
  frontend/wecode/features/knowledge/video-segment-source-opener.tsx
Due: wegent-backend, wegent-web

fix: frontend share link (#2566)
  frontend/src/__tests__/features/common/AuthGuard.test.tsx
  frontend/src/features/common/AuthGuard.tsx
  frontend/src/features/tasks/components/share/TeamShareHandler.tsx
Due: wegent-web

test(e2e): 修正对话完成状态等待
  frontend/e2e/tests/tasks/provider-native-chat.spec.ts
Due: wegent-web

fix(wework): preserve native Responses tool search
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/server/local_model_proxy/chat.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
Due: wegent-executor

docs(wework): document focused Vitest invocation
  wework/AGENTS.md
Due: none

fix: 解决wework测试不过的问题
  wework/src-tauri/tauri.conf.json
  wework/wecode/features/local-executor/local-management-page.integration.test.tsx
Due: none

fix(wework): make harness session switching exclusive
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

fix(frontend): 统一外部知识库选择与卡片
  frontend/src/__tests__/features/tasks/components/chat/selectedKnowledge.test.ts
  frontend/src/__tests__/features/tasks/components/message/ContextBadgeList.knowledge.test.tsx
  frontend/src/features/tasks/components/chat/selectedKnowledge.ts
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/features/tasks/components/message/ContextBadgeList.tsx
Due: wegent-web

test(wework): split slow desktop e2e checkpoints
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

docs(wework): document focused Vitest invocation (#2568)
  wework/AGENTS.md
Due: none

fix(ci): harden flaky workflow setup
  .github/workflows/e2e-tests.yml
  .github/workflows/repository-policy.yml
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  scripts/test-repository-policy-workflow.sh
Due: none

test(ci): guard repository policy checkout
  scripts/test-repository-policy-workflow.sh
Due: none

fix(frontend): keep model selector open
  frontend/src/features/settings/components/ModelEditDialog.tsx
Due: wegent-web

fix(wework): show worktree creation status
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/WorktreeCreationStatus.test.tsx
  wework/src/components/layout/WorktreeCreationStatus.tsx
  wework/src/components/layout/worktreeCreationState.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): reopen active task across routes
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
Due: none

test(wework): address desktop e2e review feedback
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

docs(wework): document worktree creation status
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
Due: none

fix(ci): harden flaky workflow setup (#2565)
  .github/workflows/e2e-tests.yml
  .github/workflows/repository-policy.yml
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  frontend/src/features/settings/components/ModelEditDialog.tsx
  scripts/test-repository-policy-workflow.sh
Due: wegent-web

test(wework): cover native tool overrides
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  wework/src/features/workbench/runtimeModelSelection.test.ts
Due: none

test(wework): split slow desktop e2e checkpoints (#2569)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): show worktree creation status (#2570)
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/WorktreeCreationStatus.test.tsx
  wework/src/components/layout/WorktreeCreationStatus.tsx
  wework/src/components/layout/worktreeCreationState.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

refactor(wework): split desktop e2e task flow
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/conversation-layout.mjs
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/e2e/desktop/modules/memory-tool-flows.mjs
  wework/e2e/desktop/modules/path-attachment-flows.mjs
  wework/e2e/desktop/modules/plugin-flows.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/e2e/desktop/modules/resilience-flows.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/task-state-flows.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): preserve local management after apps removal
  wework/src/App.tsx
  wework/vite.config.ts
  wework/wecode/extensions/apps.tsx
  wework/wecode/features/local-executor/LocalExecutorStartupIndicator.tsx
  wework/wecode/features/local-executor/LocalManagementPage.tsx
  wework/wecode/features/local-executor/LocalManagementSection.tsx
  wework/wecode/features/local-executor/local-management-page.integration.test.tsx
Due: none

fix(knowledge): check a model reference, and stop guessing one into a saved wiki
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/code_wiki/runner.py
  backend/tests/services/knowledge/code_wiki/test_runner.py
  docs/specs/knowledge/2026-07-30-code-wiki-phase2-code-index-design.md
  frontend/src/__tests__/components/model-select/model-ref-selector-preference.test.tsx
  frontend/src/__tests__/features/knowledge/code-wiki/run-history-panel.test.tsx
  frontend/src/__tests__/features/knowledge/document/edit-code-wiki-execution-model.test.tsx
  frontend/src/components/model-select/ModelRefSelector.tsx
  frontend/src/features/knowledge/code-wiki/RunHistory.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
Due: wegent-backend, wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
