Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(wework): add text selection conversation actions (#1975)
  executor/src/agents/codex.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/scripts/ai-verify.mjs
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/BufferedChatInput.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/TemporaryChatPanel.tsx
  wework/src/e2e/automation.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

fix(wework): link Codex auth for local executor (#1981)
  wework/scripts/ai-verify.mjs
  wework/src-tauri/src/local_executor.rs
Due: none

feat(wework): implement TODO workspace interactions
  wework/src/features/todo/TodoCreateDialog.tsx
  wework/src/features/todo/TodoDetailPanel.tsx
  wework/src/features/todo/TodoNavigation.tsx
  wework/src/features/todo/TodoOverview.tsx
  wework/src/features/todo/TodoWorkItems.tsx
  wework/src/features/todo/TodoWorkspace.test.tsx
  wework/src/features/todo/TodoWorkspace.tsx
  wework/src/features/todo/todoProject.ts
  wework/src/features/todo/todoViewSettings.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/clipboard.ts
Due: none

feat(wework): add internal desktop release workflows
  wework/scripts/build-mac-app.sh
  wework/scripts/build-minio-mac-release.sh
  wework/scripts/build-minio-windows-release.sh
  wework/scripts/build-windows-app.sh
  wework/scripts/dev-mac-app.sh
  wework/scripts/lib/wework-macos-sidecar.sh
  wework/scripts/lib/wework-updater-signing.sh
  wework/scripts/release-mac-app.sh
  wework/scripts/upload-windows-release-to-s3.py
  wework/src/lib/app-updater.ts
Due: none

fix(wework): prefer Codex Sites plugin for site creation
  wework/src/App.plugins.test.tsx
  wework/src/features/plugins/pluginTrial.test.ts
  wework/src/features/plugins/pluginTrial.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/sites.json
  wework/src/i18n/locales/zh-CN/sites.json
  wework/src/pages/SitesPage.tsx
Due: none

fix(wework): use authenticated backend for sites
  wework/src/App.plugins.test.tsx
  wework/src/api/sites.test.ts
  wework/src/api/sites.ts
  wework/src/pages/SitesPage.tsx
Due: none

fix(subscription): preserve device execution context
  backend/app/services/subscription/unified_executor.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/services/subscription/test_unified_executor.py
  backend/tests/tasks/test_subscription_tasks_device_target.py
Due: wegent-backend

fix(hooks): refresh Next route types before TypeScript
  scripts/hooks/ai-push-gate.sh
  scripts/hooks/test-ai-push-gate.sh
Due: none

fix(knowledge): 兼容原始文件预览扩展名为空
  frontend/src/__tests__/features/knowledge/document/source-preview.test.ts
  frontend/src/features/knowledge/document/utils/sourcePreview.ts
Due: wegent-web

feat: 修复问题
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

fix(wework): hide plugin mentions from task titles
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
Due: none

fix(wework): preserve sites icon after main merge
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): anchor IM notification menu to sidebar account area
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(subscription): preserve device execution context (#1982)
  backend/app/services/subscription/unified_executor.py
  backend/app/tasks/subscription_tasks.py
  backend/tests/services/subscription/test_unified_executor.py
  backend/tests/tasks/test_subscription_tasks_device_target.py
Due: wegent-backend

feat(wework): add project todo workspace (#1983)
  scripts/hooks/ai-push-gate.sh
  scripts/hooks/test-ai-push-gate.sh
  wework/AGENTS.md
  wework/DESIGN.md
  wework/src-tauri/tauri.conf.json
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWindowControls.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/components/topnav/ChromeTitlebar.tsx
  wework/src/features/todo/TodoCreateDialog.tsx
  wework/src/features/todo/TodoDetailPanel.tsx
  wework/src/features/todo/TodoNavigation.tsx
  wework/src/features/todo/TodoOverview.tsx
  wework/src/features/todo/TodoWorkItems.tsx
  wework/src/features/todo/TodoWorkspace.test.tsx
  wework/src/features/todo/TodoWorkspace.tsx
  wework/src/features/todo/todoProject.ts
  wework/src/features/todo/todoViewSettings.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/clipboard.ts
  wework/src/pages/AppsPage.tsx
Due: none

feat(knowledge): 优化文档详情视图与摘要展示
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-source-preview.test.tsx
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentSummarySection.tsx
  frontend/src/features/knowledge/document/components/KnowledgeSourcePreview.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

test(executor): isolate runtime goal state
  executor/src/runtime_work/handler.rs
Due: wegent-executor

fix(knowledge): 稳定文档视图切换并复用原始文件
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-source-preview.test.tsx
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
Due: wegent-web

fix(wework): anchor IM notification menu to sidebar account area (#1984)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(frontend): harden office file previews
  frontend/package.json
  frontend/scripts/file-viewer-version.mjs
  frontend/scripts/file-viewer-version.test.mjs
  frontend/scripts/prepare-file-viewer-assets.mjs
  frontend/src/__tests__/components/common/FlyfishOfficePreview.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-source-preview.test.tsx
  frontend/src/components/common/FilePreview/hooks/index.ts
  frontend/src/components/common/FilePreview/hooks/useExcelParser.ts
  frontend/src/components/common/FilePreview/index.ts
  frontend/src/components/common/FilePreview/preview-renderers/ExcelPreview.tsx
  frontend/src/components/common/FilePreview/preview-renderers/FlyfishOfficePreview.tsx
  frontend/src/components/common/FilePreview/preview-renderers/WordPreview.tsx
  frontend/src/components/common/FilePreview/preview-renderers/index.ts
  frontend/src/components/common/FilePreview/utils.ts
  frontend/src/features/knowledge/document/components/KnowledgeSourcePreview.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  pnpm-lock.yaml
Due: wegent-web

fix(frontend): harden Office preview support
  .github/workflows/e2e-tests.yml
  frontend/src/__tests__/components/common/FlyfishOfficePreview.test.tsx
  frontend/src/__tests__/features/knowledge/document/source-preview.test.ts
  frontend/src/components/common/FilePreview/preview-renderers/FlyfishOfficePreview.tsx
  frontend/src/components/common/FilePreview/utils.ts
  frontend/src/features/knowledge/document/utils/sourcePreview.ts
Due: wegent-web

fix(frontend): allow word previews to scroll immediately
  frontend/src/__tests__/components/common/FlyfishOfficePreview.test.tsx
  frontend/src/components/common/FilePreview/preview-renderers/FlyfishOfficePreview.tsx
Due: wegent-web

feat(knowledge): 知识库支持在线预览PDF和Office文档 (#1978)
  .github/workflows/e2e-tests.yml
  frontend/.gitignore
  frontend/next.config.js
  frontend/package.json
  frontend/scripts/file-viewer-version.mjs
  frontend/scripts/file-viewer-version.test.mjs
  frontend/scripts/prepare-file-viewer-assets.mjs
  frontend/src/__tests__/apis/attachments.test.ts
  frontend/src/__tests__/components/common/FlyfishOfficePreview.test.tsx
  frontend/src/__tests__/features/knowledge/document/document-detail-dialog.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-source-preview.test.tsx
  frontend/src/__tests__/features/knowledge/document/source-preview.test.ts
  frontend/src/apis/attachments.ts
  frontend/src/components/common/FilePreview/FilePreview.tsx
  frontend/src/components/common/FilePreview/hooks/index.ts
  frontend/src/components/common/FilePreview/hooks/useExcelParser.ts
  frontend/src/components/common/FilePreview/index.ts
  frontend/src/components/common/FilePreview/preview-renderers/ExcelPreview.tsx
  frontend/src/components/common/FilePreview/preview-renderers/FlyfishOfficePreview.tsx
  frontend/src/components/common/FilePreview/preview-renderers/WordPreview.tsx
  frontend/src/components/common/FilePreview/preview-renderers/index.ts
  frontend/src/components/common/FilePreview/utils.ts
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentSummarySection.tsx
  frontend/src/features/knowledge/document/components/KnowledgeSourcePreview.tsx
  frontend/src/features/knowledge/document/utils/sourcePreview.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  pnpm-lock.yaml
Due: wegent-web

fix(wework): downgrade bundled Codex to 0.144.2
  wework/codex-binaries.lock.json
Due: none

fix(wework): downgrade bundled Codex to 0.144.2 (#1985)
  wework/codex-binaries.lock.json
Due: none

fix(wework): recover stalled Codex turns
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/local_executor.rs
  wework/src/App.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/cloud-connection/LocalExecutorCloudBridge.test.tsx
  wework/src/features/cloud-connection/LocalExecutorCloudBridge.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
Due: wegent-executor

feat(frontend): fix
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/FolderTree.tsx
  frontend/src/features/knowledge/document/components/knowledge-folder-breadcrumb.tsx
  frontend/src/features/knowledge/document/components/knowledge-folder-nav-view.tsx
Due: wegent-web

feat: sandbox 孤儿 pod 清理补 K8s 直删 fallback
  backend/wecode/service/executor_job_patch.py
  backend/wecode/tests/test_runtime_cleanup.py
Due: wegent-backend

fix(wework): recover stalled Codex turns (#1986)
  docs/en/developer-guide/runtime-local-work.md
  docs/zh/developer-guide/runtime-local-work.md
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/local_executor.rs
  wework/src/App.tsx
  wework/src/components/chat/MessageList.test.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/cloud-connection/LocalExecutorCloudBridge.test.tsx
  wework/src/features/cloud-connection/LocalExecutorCloudBridge.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneStatus.test.ts
  wework/src/features/workbench/runtimePaneStatus.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
Due: wegent-executor

chore: 孤儿 pod 清理间隔默认值改为 30s 方便灰度
  backend/wecode/config/orphan_pod_config.py
Due: wegent-backend

feat: 关闭openai struct模式
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_dynamic_skill_tools.py
Due: none

chore(wework): upgrade bundled Codex CLI to 0.144.5
  wework/codex-binaries.lock.json
Due: none

feat: support todo workspace
  build_image.sh
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/todo_store.rs
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/features/todo/TodoDetailPanel.tsx
  wework/src/features/todo/TodoMyWork.tsx
  wework/src/features/todo/TodoNavigation.tsx
  wework/src/features/todo/TodoWorkItems.tsx
  wework/src/features/todo/TodoWorkflowDialog.tsx
  wework/src/features/todo/TodoWorkspace.test.tsx
  wework/src/features/todo/TodoWorkspace.tsx
  wework/src/features/todo/todoModel.test.ts
  wework/src/features/todo/todoModel.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

docs(auth): design device chat API key support
  docs/superpowers/specs/2026-07-16-device-chat-api-key-auth-design.md
Due: none

test(wework): synchronize retry waiting assertion
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

docs(auth): plan device chat API key support
  docs/superpowers/plans/2026-07-16-device-chat-api-key-auth.md
Due: none

fix(auth): support API keys for device chat tasks
  backend/app/api/endpoints/device_chat_tasks.py
  backend/tests/api/endpoints/test_device_chat_tasks_api.py
Due: wegent-backend

test(wework): assert retry thinking state
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

chore(wework): upgrade bundled Codex CLI to 0.144.5 (#1988)
  wework/codex-binaries.lock.json
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(auth): preserve flexible credential compatibility
  backend/app/api/endpoints/device_chat_tasks.py
  backend/app/core/security.py
  backend/tests/api/endpoints/test_device_chat_tasks_api.py
  docs/superpowers/plans/2026-07-16-device-chat-api-key-auth.md
  docs/superpowers/specs/2026-07-16-device-chat-api-key-auth-design.md
Due: wegent-backend
