Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): widen post-restart reconcile timeout in cloud e2e
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
Due: none

fix(wework): improve plugin marketplace search performance (#2641)
  wework/src/components/plugins/MarketplaceSearchInput.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
Due: none

feat: add team identity confirmation dialog and enhance team edit functionality
  backend/app/api/endpoints/adapter/teams.py
  backend/app/schemas/generation.py
  backend/app/schemas/resource_library.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/resource_library_service.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_task_store.py
  backend/tests/api/endpoints/test_resource_library_api.py
  backend/tests/services/adapters/test_team_kinds_display_name.py
  backend/tests/services/adapters/test_team_kinds_running_tasks.py
  backend/tests/services/test_resource_library_service.py
  frontend/src/__tests__/apis/team.identity-confirmation.test.ts
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/__tests__/features/settings/components/TeamList.mode-filter.test.tsx
  frontend/src/apis/team.ts
  frontend/src/features/resource-library/components/PublishResourceDialog.tsx
  frontend/src/features/resource-library/types.ts
  frontend/src/features/resource-library/useCapabilityPublicationScope.ts
  frontend/src/features/settings/components/SkillListWithScope.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/TeamIdentityConfirmDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/TeamBasicInfoForm.tsx
  frontend/src/features/settings/services/teams.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(wework): preserve cloud model identity in automations
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/features/automations/AutomationDetailWorkspace.test.tsx
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/automations/automationDraft.ts
  wework/src/pages/AutomationsPage.tsx
Due: none

fix(wework): prevent removed runtime project restoration
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

docs(wework): document removed project filtering
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
Due: none

feat(wework): add Git hosting CLI settings
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  executor/src/local/app_ipc.rs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src-tauri/src/lib.rs
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/api/gitHostingCli.test.ts
  wework/src/api/gitHostingCli.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/GitHostingSettingsPage.test.tsx
  wework/src/components/settings/GitHostingSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: wegent-executor, wegent-backend

fix(wework): isolate sidebar task drag targets
  wework/src/components/layout/SidebarSortableList.test.tsx
  wework/src/components/layout/SidebarSortableList.tsx
Due: none

fix(wework): defer queued worktree creation
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/scenarios/runtime-task-queue.scenario.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
Due: wegent-executor

fix(wework): prefer real exe over PATH sh-script when opening VS Code
  wework/src-tauri/src/local_workspace_openers.rs
Due: none

fix(wework): support automations in worktrees
  docs/en/user-guide/wework-automations.md
  docs/zh/user-guide/wework-automations.md
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/automations/automationDraft.ts
  wework/src/pages/AutomationsPage.test.tsx
  wework/src/pages/AutomationsPage.tsx
Due: none

docs(wework): document queued worktree lifecycle
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
Due: none

feat(quick-access): add search functionality for all agents in favorites view
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(wework): stop sidebar autoscroll during pane drag
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/SidebarSortableList.test.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/components/layout/sidebarSortableAutoScroll.ts
Due: none

fix(wework): invalidate stale project synchronization
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
Due: none

feat(wework): redesign embedded browser annotation (#2644)
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src-tauri/tauri.conf.json
  wework/src/components/chat/CodeCommentPreview.tsx
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/composer/AttachmentBadges.tsx
  wework/src/components/common/ConfirmDialog.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/browser-annotation-injection.test.ts
  wework/src/components/layout/workspace-panels/browser-annotation/injection-script.ts
  wework/src/features/appearance/typography.test.ts
  wework/src/features/appearance/typography.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/browser-annotation-context.ts
  wework/src/lib/code-comment-context.test.ts
  wework/src/lib/code-comment-context.ts
  wework/src/types/browser-annotation.ts
  wework/src/types/workspace-files.ts
Due: none

fix(wework): handle Git CLI detection failures
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  executor/src/local/app_ipc.rs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src/api/gitHostingCli.test.ts
  wework/src/api/gitHostingCli.ts
  wework/src/components/settings/GitHostingSettingsPage.test.tsx
  wework/src/components/settings/GitHostingSettingsPage.tsx
Due: wegent-executor, wegent-backend

feat(skill): add endpoint and functionality to update skills from Git repository (#2642)
  backend/app/api/endpoints/kind/skills.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_skill.py
  backend/app/services/git_skill/service.py
  backend/tests/services/test_git_skill_update_repository.py
  backend/tests/services/test_public_skill_adapter.py
  frontend/src/__tests__/features/settings/components/SkillUploadModal.partial-success.test.tsx
  frontend/src/apis/skills.ts
  frontend/src/features/settings/components/skills/SkillUploadModal.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

test(wework): run Claude harness in auto mode
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
Due: none

docs(wework): clarify Claude tool result ordering
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
Due: none

fix(wework): preserve parallel Claude tool results
  .github/claude-code-cli/package-lock.json
  .github/claude-code-cli/package.json
  .github/scripts/verify-local-harness-clis.sh
  executor/src/server/local_model_proxy/harness_protocol.rs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
Due: wegent-executor

fix(wework): clean up sidebar pane drag lifecycle
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/SidebarSortableList.test.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/components/layout/useSidebarPaneDragScrollLock.ts
Due: none

fix(executor): preserve synchronous queued turns
  executor/src/runtime_work/handler/turns.rs
Due: wegent-executor

feat: add team identity confirmation dialog and enhance team edit functionality (#2653)
  backend/app/api/endpoints/adapter/teams.py
  backend/app/schemas/resource_library.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/resource_library_service.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_task_store.py
  backend/tests/api/endpoints/test_resource_library_api.py
  backend/tests/services/adapters/test_team_kinds_display_name.py
  backend/tests/services/adapters/test_team_kinds_running_tasks.py
  backend/tests/services/test_resource_library_service.py
  frontend/src/__tests__/apis/team.identity-confirmation.test.ts
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/__tests__/features/settings/components/TeamList.mode-filter.test.tsx
  frontend/src/apis/team.ts
  frontend/src/features/resource-library/components/PublishResourceDialog.tsx
  frontend/src/features/resource-library/types.ts
  frontend/src/features/resource-library/useCapabilityPublicationScope.ts
  frontend/src/features/settings/components/SkillListWithScope.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/TeamIdentityConfirmDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/team-edit/SimpleTeamEditForm.tsx
  frontend/src/features/settings/components/team-edit/TeamBasicInfoForm.tsx
  frontend/src/features/settings/services/teams.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(wework): prevent removed runtime project restoration (#2654)
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
Due: none

fix(frontend): stabilize platform e2e flows
  frontend/e2e/tests/tasks/provider-native-dingtalk.spec.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
Due: wegent-web

test(backend): make Git CLI timeout fixture portable
  backend/tests/services/test_local_device_command_service.py
Due: wegent-backend

Revert "fix(wework): widen post-restart reconcile timeout in cloud e2e"
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
Due: none

test(wework): await Git CLI detection state
  wework/src/components/settings/GitHostingSettingsPage.test.tsx
Due: none

feat(quick-access): add search functionality for all agents in favorites view (#2660)
  frontend/src/__tests__/features/tasks/components/chat/QuickAccessCards.test.tsx
  frontend/src/features/tasks/components/chat/QuickAccessCards.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

test(wework): mark desktop e2e as sandboxed
  .github/scripts/test-ci-cache-policy.sh
  docker/wework-e2e/desktop.Dockerfile
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
Due: none

test(wework): stabilize desktop e2e checkpoints
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
Due: none

fix(wework): promote supervisor controls
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/TaskSupervisorControl.test.tsx
  wework/src/components/layout/TaskSupervisorControl.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: none

docs(wework): update supervisor guidance
  docs/en/wework/settings.md
  docs/en/wework/tasks.md
  docs/zh/wework/settings.md
  docs/zh/wework/tasks.md
Due: none

feat: 修复单测失败的问题
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

fix(wework): restore supervisor model identity
  docs/en/wework/tasks.md
  docs/zh/wework/tasks.md
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/src/components/layout/TaskSupervisorControl.test.tsx
  wework/src/components/layout/TaskSupervisorControl.tsx
Due: none

test(frontend): allow parallel provider call ordering
  frontend/e2e/tests/tasks/provider-native-dingtalk.spec.ts
Due: wegent-web

feat: add daily agent usage tracking and reporting
  backend/wecode/api/agent_usage.py
  backend/wecode/schemas/agent_usage.py
  backend/wecode/tests/test_agent_usage.py
  frontend/wecode/api/agent-usage.ts
  frontend/wecode/features/agent-usage/AgentUsagePage.tsx
  frontend/wecode/features/agent-usage/DailyUsageChart.tsx
  frontend/wecode/features/agent-usage/__tests__/DailyUsageChart.test.tsx
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

fix(executor): converge remote project sync
  docs/en/wework/developer-guide/wework-codex-sidebar.md
  docs/zh/wework/developer-guide/wework-codex-sidebar.md
  executor/src/runtime_work/codex_global_state.rs
Due: wegent-executor
