Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): preserve running state after goal completion
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/automation.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/automation.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

feat(wework): manage standalone skills and MCP under plugins
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  executor/src/local/app_ipc.rs
  executor/src/local/codex_home.rs
  executor/src/local/local_skills.rs
  executor/src/local/mod.rs
  executor/src/local/plugin_import.rs
  executor/src/local/skill_install.rs
  executor/src/local/skill_install/tests.rs
  executor/src/runtime_work/handler/runtime_rpc.rs
  executor/src/runtime_work/handler/tests.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/plugin-capabilities.scenario.mjs
  wework/plans/plugin-skills-mcp-qa.en.md
  wework/plans/plugin-skills-mcp-qa.md
  wework/src/api/local/capabilities.test.ts
  wework/src/api/local/capabilities.ts
  wework/src/components/plugins/PluginImportDialog.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/capabilities/Capabilities.test.tsx
  wework/src/components/plugins/capabilities/CapabilityDialog.tsx
  wework/src/components/plugins/capabilities/CapabilityWorkspace.tsx
  wework/src/components/plugins/capabilities/McpPanel.tsx
  wework/src/components/plugins/capabilities/McpServerDialog.tsx
  wework/src/components/plugins/capabilities/SkillInstallDialog.tsx
  wework/src/components/plugins/capabilities/SkillsPanel.tsx
  wework/src/i18n/index.ts
  wework/src/i18n/locales/en/capabilities.json
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/capabilities.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

fix(wework): retain explicit goal pause settlement
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

fix(wework): align plugin route headings and tab assertions
  wework/src/App.plugins.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
Due: none

test(wework): align demo summary contribution id
  wework/e2e/desktop/modules/core-dsh-ui-plugin-flows.mjs
Due: none

feat(wework): reuse TaskToken for plugin remote MCP identity
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  backend/app/api/endpoints/mcp_identity.py
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/plugin_auth_broker.py
  backend/app/services/auth/runtime_task_token.py
  backend/app/services/auth/task_token.py
  backend/tests/api/test_mcp_identity_api.py
  backend/tests/api/test_runtime_task_token.py
  backend/tests/api/ws/test_plugin_auth_broker.py
  docs/en/wework/developer-guide/plugin-task-token.md
  docs/zh/wework/developer-guide/plugin-task-token.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/agents/mod.rs
  executor/src/agents/runtime_capabilities.rs
  executor/src/lib.rs
  executor/src/local/capabilities.rs
  executor/src/local/capabilities/support.rs
  executor/src/plugin_account_auth/broker.rs
  executor/src/plugin_task_token/issuer.rs
  executor/src/plugin_task_token/mod.rs
  executor/src/plugin_task_token/package.rs
  executor/src/plugin_task_token/sse.rs
  executor/src/plugin_task_token/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/tests/capability_sync/task_token.rs
  executor/tests/local_capability_sync_contract.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/claude-runtime.scenario.mjs
  wework/e2e/desktop/scenarios/plugin-task-token.scenario.mjs
Due: wegent-executor, wegent-backend

test(wework): keep hover stop pointer gesture atomic
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/e2e/automation.ts
Due: none

fix(wework): use generic Git examples in capability setup
  executor/src/local/skill_install/tests.rs
  wework/src/components/plugins/capabilities/Capabilities.test.tsx
  wework/src/components/plugins/capabilities/SkillInstallDialog.tsx
Due: wegent-executor

fix(wework): bind browser bridge to desktop instance (#3424)
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/e2e/desktop/scenarios/embedded-browser-annotation.scenario.mjs
  wework/electron/src/host/browser-annotation-controller.test.ts
  wework/electron/src/host/browser-annotation-controller.ts
  wework/electron/src/host/e2e-keyboard.test.ts
  wework/electron/src/host/e2e-keyboard.ts
  wework/electron/src/host/electron-capabilities.ts
  wework/electron/src/host/embedded-browser-bridge.test.ts
  wework/electron/src/host/embedded-browser-bridge.ts
  wework/electron/src/main.ts
  wework/src/e2e/automation.ts
Due: none

fix(wework): isolate telemetry classification failures
  wework/src/features/plugins/pluginAutoUpdate.test.ts
  wework/src/features/plugins/pluginAutoUpdate.ts
  wework/src/telemetry/observeOperation.test.ts
  wework/src/telemetry/observeOperation.ts
Due: none

fix(wework): preserve running state after goal completion (#3430)
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/automation.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/automation.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

fix(wework): preserve summary command availability
  wework/dsh/ui-git/src/environment-section.test.tsx
  wework/dsh/ui-git/src/environment-section.tsx
  wework/dsh/ui-outputs/src/conversation-summary.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/features/dsh-runtime/conversationSummarySurface.ts
Due: none

fix(wework): show subagent streaming conversations
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/notifications.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/transcript.rs
  executor/src/runtime_work/transcript/tests_core.rs
  packages/chat-core/src/index.ts
  packages/chat-core/src/workbench-message-reducer.test.ts
  packages/chat-core/src/workbench-message-reducer.ts
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/SubagentConversationPanel.test.tsx
  wework/src/components/chat/SubagentConversationPanel.tsx
  wework/src/components/chat/blocks/SubagentBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/subagentPresentation.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
  wework/src/stream/responseApiStream.test.ts
  wework/src/stream/responseApiStream.ts
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: wegent-executor

fix(wework): allow disabling failed startup plugins
  wework/electron/src/host/core-dsh-startup-failure.test.ts
  wework/electron/src/host/core-dsh-startup-failure.ts
  wework/electron/src/host/startup-recovery.test.ts
  wework/electron/src/host/startup-recovery.ts
  wework/electron/src/host/startup-splash.test.ts
  wework/electron/src/host/startup-splash.ts
  wework/electron/src/main.ts
  wework/electron/src/shell/startup-splash/index.html
  wework/electron/src/shell/startup-splash/splash.js
  wework/electron/src/startup-splash-preload.cts
  wework/electron/src/startup-splash-preload.test.ts
Due: none

fix(wework): narrow subagent processing blocks
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/transcript.rs
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/messagePretextLayout.ts
  wework/src/features/dsh-runtime/dshConversationTranscript.test.ts
  wework/src/features/dsh-runtime/dshConversationTranscript.ts
Due: wegent-executor

feat(wework): project private smart app telemetry
  wework/dsh/internal-telemetry/identity.js
  wework/dsh/internal-telemetry/identity.test.mjs
  wework/dsh/internal-telemetry/projection.js
  wework/dsh/internal-telemetry/projection.test.mjs
Due: none

feat(wework): send telemetry directly to posthog
  wework/dsh/internal-telemetry/posthog-client.js
  wework/dsh/internal-telemetry/posthog-client.test.mjs
Due: none

feat(wework): queue internal telemetry in memory
  wework/dsh/internal-telemetry/batch-queue.js
  wework/dsh/internal-telemetry/batch-queue.test.mjs
Due: none

feat(wework): register internal telemetry sink
  wework/dsh/internal-telemetry/client.js
  wework/dsh/internal-telemetry/client.test.mjs
Due: none

fix(wework): align telemetry environment variables
  wework/dsh/internal-telemetry/config.js
  wework/dsh/internal-telemetry/config.test.mjs
Due: none

feat(wework): compose internal telemetry plugin
  wework/dsh/internal-telemetry/index.js
  wework/dsh/internal-telemetry/index.test.mjs
Due: none

feat(wework): register internal telemetry host bundle
  wework/electron/src/runtime/core-dsh-runtime.ts
Due: none

fix(wework): stabilize desktop regression flows
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
Due: none

test(frontend): wait for chat socket readiness
  frontend/e2e/pages/tasks/provider-native-knowledge.page.ts
  frontend/src/__tests__/features/tasks/components/input/ConnectionStatusBanner.test.tsx
  frontend/src/features/tasks/components/input/ConnectionStatusBanner.tsx
Due: wegent-web

fix(wework): wait for update settings readiness
  wework/e2e/desktop/scenarios/app-update-differential.scenario.mjs
Due: none

fix(wework): wait for update settings readiness (#3435)
  wework/e2e/desktop/scenarios/app-update-differential.scenario.mjs
Due: none

fix(dingtalk): distinguish default agent selection
  backend/app/services/channels/dingtalk/selection_cards.py
  backend/app/services/channels/selection_service.py
  backend/tests/e2e/dingtalk_ai_card_conversation.py
  backend/tests/services/channels/dingtalk/test_selection_cards.py
  backend/tests/services/channels/test_selection_service.py
Due: wegent-backend

fix(wework): contain sent text attachments in narrow chats
  wework/e2e/desktop/scenarios/temporary-chat.scenario.mjs
  wework/src/components/chat/MessageList.tsx
Due: none

fix(ci): target plugin capabilities desktop e2e
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

feat(wework): add cloud device lifecycle actions
  docs/en/wework/devices.md
  docs/zh/wework/devices.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/e2e/desktop/modules/cloud-device-lifecycle-flow.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/src/components/common/ConfirmDialog.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/features/cloud-devices/useDeviceOfflineLifecycleAction.test.ts
  wework/src/features/cloud-devices/useDeviceOfflineLifecycleAction.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

chore(wework): point internal telemetry at self-hosted PostHog
  wework/.env.production
Due: none

fix(ci): register cloud device lifecycle checkpoint
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): preserve pending cloud model refresh on failure
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
Due: none

chore(ci): deploy api services with backend releases
  .gitlab-ci.yml
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
