Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(wework): address tooltip review feedback
  wework/src/components/ui/tooltip.test.tsx
  wework/src/components/ui/tooltip.tsx
  wework/src/features/todo/CloudFilesView.tsx
  wework/src/features/todo/CloudProjectManageView.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): clean archived task worktrees (#2609)
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler/archives.rs
  executor/src/runtime_work/handler/helpers/cleanup.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/worktrees.rs
  wework/e2e/desktop/modules/conversation-layout.mjs
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
Due: wegent-executor

test(wework): continue local harness flow after sidebar close
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
Due: none

test(wework): model cloud goal restart continuity
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
Due: none

fix(wework): add runtime conversation diagnostics (#2613)
  wework/src/features/workbench/runtimeConversationCache.ts
Due: none

feat: 解决合并导致测试不通过的问题
  frontend/src/features/resource-library/components/ResourceTypeFilter.tsx
Due: wegent-web

fix(wework): stabilize sidebar session creation feedback
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/HarnessSessionPickerDialog.test.tsx
  wework/src/components/layout/HarnessSessionPickerDialog.tsx
Due: none

feat(wework): add runtime permission modes
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/RequestUserInputCard.test.tsx
  wework/src/components/chat/RequestUserInputCard.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/PermissionModeSelector.test.tsx
  wework/src/components/chat/composer/PermissionModeSelector.tsx
  wework/src/features/workbench/runtimePermissionMode.test.ts
  wework/src/features/workbench/runtimePermissionMode.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/chat.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/model-ui.ts
Due: wegent-executor

fix(wework): address permission mode review feedback
  .github/scripts/classify-wework-desktop-e2e.sh
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/agents/mod.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/components/chat/composer/PermissionModeSelector.test.tsx
  wework/src/components/chat/composer/PermissionModeSelector.tsx
Due: wegent-executor

fix(executor): reject unknown permission decisions
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

feat(wework): support structured Codex approvals
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/events.rs
  wework/src/components/chat/RequestUserInputCard.test.tsx
  wework/src/components/chat/RequestUserInputCard.tsx
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/zh-CN/chat.json
Due: wegent-executor

test(ci): update desktop checkpoint matrix expectation
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): default runtime permissions to full access
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/features/workbench/runtimePermissionMode.test.ts
  wework/src/features/workbench/runtimePermissionMode.ts
Due: wegent-executor

feat(wework): add default workspace tab setting (#2610)
  docs/en/wework/settings.md
  docs/zh/wework/settings.md
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src-tauri/src/lib.rs
  wework/src/App.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.test.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: none

fix(wework): unify project space tooltips (#2607)
  wework/DESIGN.md
  wework/src/components/layout/DesktopWindowControls.tsx
  wework/src/components/ui/tooltip.test.tsx
  wework/src/components/ui/tooltip.tsx
  wework/src/features/todo/CloudFilesView.tsx
  wework/src/features/todo/CloudProjectManageView.tsx
  wework/src/features/todo/CloudProjectsHome.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/ProjectSpaceChatSidebar.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

test(executor): expect full access by default
  executor/tests/codex_app_server_contract.rs
Due: wegent-executor

fix(wework): validate cloud device goal workflows (#2601)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  backend/app/services/device/version_checker.py
  backend/app/services/device/version_service.py
  backend/tests/services/device/test_version_service.py
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/e2e/desktop/modules/memory-tool-flows.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/e2e/desktop/modules/response-protocol.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/package.json
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/pages/AutomationsPage.tsx
Due: wegent-backend

fix(wework): create coding sessions in the right sidebar (#2612)
  docs/en/wework/settings.md
  docs/zh/wework/settings.md
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/HarnessSessionPickerDialog.test.tsx
  wework/src/components/layout/HarnessSessionPickerDialog.tsx
  wework/src/components/layout/WorkbenchHarnessModelSelector.tsx
  wework/src/components/layout/localHarnessWorkbench.ts
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): add runtime permission modes (#2600)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/agents/mod.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/RequestUserInputCard.test.tsx
  wework/src/components/chat/RequestUserInputCard.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/PermissionModeSelector.test.tsx
  wework/src/components/chat/composer/PermissionModeSelector.tsx
  wework/src/features/workbench/runtimePermissionMode.test.ts
  wework/src/features/workbench/runtimePermissionMode.ts
  wework/src/i18n/locales/en/chat.json
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/chat.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/model-ui.ts
Due: wegent-executor

fix(knowledge): 恢复选择器提示与 Code Wiki 文案
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(knowledge): 修正钉钉知识库配置提示
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(wework): align browser annotation editor with Codex
  wework/src/components/chat/CodeCommentPreview.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/browser-annotation-injection.test.ts
  wework/src/components/layout/workspace-panels/browser-annotation/injection-script.ts
  wework/src/features/appearance/typography.test.ts
  wework/src/features/appearance/typography.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

test(knowledge): 恢复外部知识选择器测试契约
  frontend/src/__tests__/features/knowledge/external-knowledge-source-registry.test.tsx
Due: wegent-web

feat(wework): support goals in scheduled tasks
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/features/automations/AutomationDetailWorkspace.test.tsx
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/automations/automationDraft.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/AutomationsPage.tsx
Due: none

docs(wework): document scheduled task goals
  docs/en/user-guide/wework-automations.md
  docs/zh/user-guide/wework-automations.md
Due: none

feat(backend): support API key auth for task share endpoint
  backend/app/api/endpoints/adapter/tasks.py
Due: wegent-backend

fix(wework): streamline workspace opener picker on Windows
  wework/src-tauri/src/local_workspace_openers.rs
  wework/src/components/layout/workspace-panels/LocalWorkspaceOpenerMenu.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/local-terminal.ts
  wework/src/lib/local-workspace-openers.ts
Due: none

feat(wework): support goals in scheduled tasks (#2615)
  docs/en/user-guide/wework-automations.md
  docs/zh/user-guide/wework-automations.md
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/features/automations/AutomationDetailWorkspace.test.tsx
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/automations/automationDraft.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/AutomationsPage.tsx
Due: none

feat(backend): support API key auth for task share endpoint (#2614)
  backend/app/api/endpoints/adapter/tasks.py
Due: wegent-backend

fix(wework): preserve markdown table layout in code blocks
  wework/src/components/chat/MarkdownCodeBlock.test.tsx
  wework/src/components/chat/MarkdownCodeBlock.tsx
  wework/src/styles/globals.css
Due: none

fix(code-wiki): align document management navigation
  frontend/src/__tests__/features/knowledge/code-wiki/code-wiki-workspace.test.tsx
  frontend/src/__tests__/features/knowledge/document/knowledge-document-page-mobile.test.tsx
  frontend/src/app/(tasks)/knowledge/[namespace]/[kbName]/[[...docPath]]/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/features/knowledge/code-wiki/CodeWikiWorkspace.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPage.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageDesktop.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPageMobile.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-web

fix(code-wiki): order top-level views
  frontend/src/app/(tasks)/knowledge/[namespace]/[kbName]/[[...docPath]]/page.tsx
  frontend/src/app/(tasks)/knowledge/page.tsx
Due: wegent-web

fix(code-wiki): default document management to wiki
  frontend/src/__tests__/features/knowledge/code-wiki/code-wiki-workspace.test.tsx
  frontend/src/features/knowledge/code-wiki/CodeWikiWorkspace.tsx
Due: wegent-web

fix(wework): prevent deleted cloud projects from returning
  backend/app/schemas/runtime_work.py
  backend/app/services/runtime_work_service.py
  backend/tests/api/endpoints/test_runtime_work_api.py
  backend/tests/services/test_runtime_work_service.py
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/mod.rs
  executor/src/runtime_work/remote_projects.rs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: wegent-executor, wegent-backend

fix(wework): preserve markdown table layout in code blocks (#2616)
  wework/src/components/chat/MarkdownCodeBlock.test.tsx
  wework/src/components/chat/MarkdownCodeBlock.tsx
  wework/src/styles/globals.css
Due: none

fix(plugins): stabilize marketplace sync and cleanup
  backend/app/services/plugin_device_installation_service.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  executor/src/local/capabilities.rs
  executor/src/local/capabilities/support.rs
  executor/tests/local_capability_sync_contract.rs
  pnpm-lock.yaml
  wework/package.json
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/TaskPlanProgress.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/installedPluginMerge.test.ts
  wework/src/components/plugins/installedPluginMerge.ts
  wework/src/components/plugins/marketplaceCategorySections.test.ts
  wework/src/components/plugins/marketplaceCategorySections.ts
  wework/src/features/plugins/pluginDeviceAutoSync.test.ts
  wework/src/features/plugins/pluginDeviceAutoSync.ts
  wework/src/features/plugins/pluginMarketplaceCache.test.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
Due: wegent-executor, wegent-backend

fix(wework): align site editing with current types
  wework/src/components/sites/EditSiteDialog.tsx
  wework/src/telemetry/events.ts
Due: none

fix(knowledge): enforce content origin boundaries
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/code_wiki/projection.py
  backend/app/services/knowledge/knowledge_transfer.py
  backend/tests/services/knowledge/code_wiki/test_projection.py
  backend/tests/services/knowledge/test_document_transfer.py
Due: wegent-backend

docs(knowledge): 补充知识库访问流程改造方案
  docs/plans/2026-08-12-知识库访问流程改造.md
Due: none
