Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: master
stages:
  - package

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/runtime
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

支持自动更新gitops
  .gitlab-ci.yml
Due: none

内部cas登录
  backend/app/api/api.py
  backend/app/api/endpoints/auth.py
  backend/app/internal/api/__init__.py
  backend/app/internal/api/auth.py
  backend/app/schemas/user.py
Due: wegent-backend

change BranchSelect
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

change RepoSelect
  frontend/src/app/globals.css
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/types/api.ts
Due: wegent-web

teamList bots show
  frontend/src/features/dashboard/components/TeamEdit.tsx
  frontend/src/features/dashboard/components/TeamList.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

BotList white
  frontend/src/app/globals.css
  frontend/src/app/tasks/page.tsx
  frontend/src/app/tasks/tasks.css
  frontend/src/features/common/scrollbar.css
  frontend/src/features/dashboard/components/BotList.tsx
  frontend/src/features/dashboard/components/GitHubIntegration.tsx
  frontend/src/features/dashboard/components/TeamList.tsx
Due: wegent-web

修复env删除接口配置
  wecode/docker/backend/.env.example
Due: wegent-backend

feat: 添加team system prompt字段
  backend/app/schemas/team.py
  backend/app/services/executor.py
  backend/app/services/team.py
  backend/init.sql
  executor/agents/agno/agno_agent.py
  frontend/src/features/dashboard/components/TeamEdit.tsx
  frontend/src/types/api.ts
Due: wegent-executor, wegent-backend, wegent-web

keep old password login
  frontend/src/config/paths.ts
  frontend/src/features/common/AuthGuard.tsx
Due: wegent-web

use antd error
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/features/common/UserContext.tsx
  frontend/src/features/dashboard/components/BotList.tsx
  frontend/src/features/dashboard/components/GitHubIntegration.tsx
  frontend/src/features/dashboard/components/TeamEdit.tsx
  frontend/src/features/dashboard/components/TeamList.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TaskParamSync.tsx
Due: wegent-web

fe support internal cas
  frontend/src/apis/internal/user.ts
  frontend/src/apis/user.ts
  frontend/src/app/login/internal/cas/page.tsx
  frontend/src/config/paths.ts
  frontend/src/features/common/AuthGuard.tsx
Due: wegent-web

dashboard more compact
  frontend/src/features/dashboard/components/BotList.tsx
  frontend/src/features/dashboard/components/GitHubIntegration.tsx
  frontend/src/features/dashboard/components/TeamList.tsx
Due: wegent-web

global login check
  frontend/src/apis/client.ts
  frontend/src/app/layout.tsx
  frontend/src/features/common/AuthGuard.tsx
Due: wegent-web

fix: 添加输入法组合状态处理以防止误触发送消息
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

refactor: 添加 useState 导入
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

refactor: 优化任务执行和刷新逻辑
  executor/agents/agno/agno_agent.py
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/TaskParamSync.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-executor, wegent-web

feat: 添加Markdown内容复制功能
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

refactor: 更新 agno_agent 参数配置
  executor/agents/agno/agno_agent.py
Due: wegent-executor

fix: 修复复制功能以支持非浏览器环境并添加降级方案
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

fix: 更新任务状态检查和子任务停止逻辑
  backend/app/services/task.py
Due: wegent-backend

修复k8s执行器引入问题
  executor/agents/agno/agno_agent.py
  executor_manager/config/config.py
  executor_manager/executors/dispatcher.py
Due: wegent-executor-manager, wegent-executor

修改错误日志
  executor_manager/wecode/executors/k8s/k8s_executor.py
Due: wegent-executor-manager

NEXT_PUBLIC_ENV_INTERNAL_DEPLOYMENT
  frontend/.env.local
Due: wegent-web

删除中文注释
  executor_manager/executors/dispatcher.py
Due: wegent-executor-manager

NEXT_PUBLIC_ENV_INTERNAL_DEPLOYMENT change
  frontend/.env.local
  wecode/docker/frontend/.env.local
Due: wegent-web

feat: 使用 @uiw/react-markdown-editor 替换 ReactMarkdown 并更新相关依赖
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

支持gitlab
  backend/app/api/endpoints/repository.py
  backend/app/repository/gitlab_provider.py
  backend/app/services/github.py
  backend/app/services/repository_service.py
  backend/app/services/user.py
Due: wegent-backend

修改pod resource 为2c4g
  executor_manager/wecode/executors/k8s/build_job.py
Due: wegent-executor-manager

update repo
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/factory.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/services/user.py
Due: wegent-backend

refactor 修正导入路径以匹配项目结构
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/repository/interfaces/repository_provider.py
Due: wegent-backend

fix: 修复 MarkdownEditor 样式问题
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

refactor: 添加EXECUTOR_ENV解析和占位符替换功能
  executor/agents/agno/agno_agent.py
  executor/config/config.py
  executor_manager/config/config.py
  executor_manager/executors/docker/executor.py
  executor_manager/wecode/executors/k8s/build_job.py
Due: wegent-executor-manager, wegent-executor

revert system prompt
  backend/app/schemas/team.py
  backend/app/services/executor.py
  backend/app/services/team.py
  backend/init.sql
  executor/agents/agno/agno_agent.py
  frontend/src/features/dashboard/components/TeamEdit.tsx
  frontend/src/types/api.ts
Due: wegent-executor, wegent-backend, wegent-web

fix: 修改description为system_prompt
  executor/agents/agno/agno_agent.py
Due: wegent-executor

feat: 引入配置管理、MCP管理、模型工厂和团队构建模块
  build_image_mac.sh
  executor/agents/agno/__init__.py
  executor/agents/agno/agno_agent.py
  executor/agents/agno/config_utils.py
  executor/agents/agno/mcp_manager.py
  executor/agents/agno/model_factory.py
  executor/agents/agno/team_builder.py
Due: wegent-executor

限制并发拉取子任务数量
  executor_manager/executors/docker/executor.py
  executor_manager/scheduler/scheduler.py
  executor_manager/wecode/executors/k8s/build_job.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
Due: wegent-executor-manager

修复未设置team leader的情况
  executor/agents/agno/team_builder.py
Due: wegent-executor

feat: 引入 MemberBuilder 类并重构团队成员创建逻辑
  executor/agents/agno/member_builder.py
  executor/agents/agno/team_builder.py
Due: wegent-executor

支持leader
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/schemas/team.py
  backend/app/services/executor.py
  backend/app/services/team.py
  backend/app/services/user.py
Due: wegent-backend

refactor: 内部API路由迁移至wecode模块
  backend/app/api/api.py
  backend/wecode/api/__init__.py
  backend/wecode/api/auth.py
Due: wegent-backend
