Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): keep task composer above backdrop
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

test(e2e): cover claude code executor follow-ups
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/e2e/tests/tasks/agent-conversation-regression.spec.ts
  frontend/e2e/utils/mock-model-server.ts
Due: wegent-web

fix(chat-shell): handle special tokens in tiktoken encode calls (#1266)
  chat_shell/chat_shell/compression/token_counter.py
  chat_shell/tests/test_compression.py
Due: none

feat(wework): 解决评论报错
  backend/app/services/device/command_post_processor.py
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/useDesktopSidebarCollapsed.ts
  wework/src/components/plugins/PluginCatalogSections.tsx
  wework/src/components/plugins/PluginCreateMenu.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/test/theme-token-guard.test.ts
Due: wegent-backend

fix(backend): offload external knowledge mcp sync work
  backend/app/core/rate_limit.py
  backend/app/mcp_server/external_knowledge_app.py
  backend/app/mcp_server/tools/knowledge_external.py
  backend/tests/core/test_rate_limit.py
  backend/tests/mcp_server/test_knowledge_external.py
  backend/tests/mcp_server/test_server_routes.py
  docs/en/developer-guide/external-knowledge-mcp.md
  docs/zh/developer-guide/external-knowledge-mcp.md
Due: wegent-backend

test(e2e): cover claude code executor follow-ups (#1259)
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/e2e/tests/tasks/agent-conversation-regression.spec.ts
  frontend/e2e/utils/mock-model-server.ts
Due: wegent-web

fix: remove unreachable statements (#1264)
  backend/app/services/chat/webpage_websocket_chat_emitter.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/kind_impl.py
  backend/app/services/openapi/helpers.py
  frontend/src/features/settings/components/wizard/TeamCreationWizard.tsx
Due: wegent-backend, wegent-web

fix(groups): log batch entity member addition results (#1265)
  backend/app/api/endpoints/groups.py
Due: wegent-backend

Sync resource library tabs with URL
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/app/(tasks)/resource-library/page.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
Due: wegent-web

feat(frontend): filter resource library teams
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
Due: wegent-web

test(e2e): isolate sharded test users
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/config/test-users.ts
  frontend/e2e/tests/global-setup.ts
  frontend/e2e/utils/api-client.ts
  frontend/e2e/utils/auth-state.ts
  frontend/playwright.config.ts
  frontend/src/__tests__/e2e/auth-state.test.ts
Due: wegent-web

docs(cli): add AI-operated CLI design
  docs/superpowers/specs/2026-06-04-ai-operated-cli-design.md
Due: none

feat(codex): persist runtime session in task status
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/schemas/kind.py
  backend/app/schemas/task.py
  backend/app/services/execution/request_builder.py
  backend/app/services/model_aggregation_service.py
  backend/app/services/task_runtime_session.py
  backend/tests/services/execution/test_request_builder_codex_runtime_session.py
  backend/tests/services/test_task_runtime_session.py
  executor/agents/codex/codex_agent.py
  executor/agents/codex/config_builder.py
  executor/agents/codex/session_store.py
  executor/services/api_client.py
  executor/tests/agents/test_codex_runtime_session.py
  shared/models/codex_routing.py
  shared/models/execution.py
  shared/models/openai_converter.py
  shared/tests/test_codex_routing.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

Sync resource library tabs with URL (#1270)
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/app/(tasks)/resource-library/page.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
Due: wegent-web

fix(backend): rate limit external knowledge downloads
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/mcp_server/external_knowledge_app.py
  backend/tests/mcp_server/test_server_routes.py
  docs/en/developer-guide/external-knowledge-mcp.md
  docs/zh/developer-guide/external-knowledge-mcp.md
Due: wegent-backend

feat(frontend): filter resource library teams (#1271)
  frontend/src/__tests__/features/resource-library/MyResources.test.tsx
  frontend/src/features/resource-library/components/MyResources.tsx
Due: wegent-web

ci(e2e): split executor regression from shards
  .github/workflows/e2e-tests.yml
  .github/workflows/test.yml
  frontend/e2e/README.md
  frontend/e2e/config/test-users.ts
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/e2e/tests/global-setup.ts
  frontend/e2e/utils/api-client.ts
  frontend/e2e/utils/auth-state.ts
  frontend/playwright.config.ts
  frontend/src/__tests__/e2e/auth-state.test.ts
Due: wegent-web

test(e2e): harden sharded auth setup
  frontend/e2e/README.md
  frontend/e2e/tests/global-setup.ts
Due: wegent-web

feat(cli): add machine-oriented CLI foundations
  wegent-cli/tests/test_config.py
  wegent-cli/tests/test_errors_output_io.py
  wegent-cli/wegent/config.py
  wegent-cli/wegent/errors.py
  wegent-cli/wegent/io.py
  wegent-cli/wegent/output.py
Due: none

fix(cli): ignore invalid config yaml
  wegent-cli/tests/test_config.py
  wegent-cli/wegent/config.py
Due: none

feat: update skill
  backend/init_data/skills/wegent-skill-creator/LICENSE.txt
  backend/init_data/skills/wegent-skill-creator/SKILL.md
  backend/init_data/skills/wegent-skill-creator/agents/analyzer.md
  backend/init_data/skills/wegent-skill-creator/agents/comparator.md
  backend/init_data/skills/wegent-skill-creator/agents/grader.md
  backend/init_data/skills/wegent-skill-creator/assets/eval_review.html
  backend/init_data/skills/wegent-skill-creator/eval-viewer/generate_review.py
  backend/init_data/skills/wegent-skill-creator/eval-viewer/viewer.html
  backend/init_data/skills/wegent-skill-creator/references/schemas.md
  backend/init_data/skills/wegent-skill-creator/scripts/__init__.py
  backend/init_data/skills/wegent-skill-creator/scripts/aggregate_benchmark.py
  backend/init_data/skills/wegent-skill-creator/scripts/common.sh
  backend/init_data/skills/wegent-skill-creator/scripts/generate_report.py
  backend/init_data/skills/wegent-skill-creator/scripts/improve_description.py
  backend/init_data/skills/wegent-skill-creator/scripts/list_publish_targets.sh
  backend/init_data/skills/wegent-skill-creator/scripts/package_skill.py
  backend/init_data/skills/wegent-skill-creator/scripts/publish_skill.sh
  backend/init_data/skills/wegent-skill-creator/scripts/quick_validate.py
  backend/init_data/skills/wegent-skill-creator/scripts/run_eval.py
  backend/init_data/skills/wegent-skill-creator/scripts/run_loop.py
  backend/init_data/skills/wegent-skill-creator/scripts/utils.py
Due: wegent-backend

test(cli): cover non-dict config yaml
  wegent-cli/tests/test_config.py
Due: none

fix(cli): preserve legacy output helpers
  wegent-cli/wegent/output.py
Due: none

ci(e2e): run frontend dev server in e2e
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
Due: wegent-web

feat(wework): support local devices in projects
  backend/app/services/project_device_session_service.py
  backend/tests/services/test_project_device_session_service.py
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  wework/src/App.plugins.test.tsx
  wework/src/api/devices.test.ts
  wework/src/api/devices.ts
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/components/settings/AddCloudDeviceDialog.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.ts
  wework/src/lib/navigation.ts
Due: wegent-backend

fix(cli): handle decode errors in CLI foundations
  wegent-cli/tests/test_config.py
  wegent-cli/tests/test_errors_output_io.py
  wegent-cli/wegent/config.py
  wegent-cli/wegent/io.py
Due: none

ci(e2e): cache dependency install outputs
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
Due: wegent-web

test(cli): cover output helper serialization
  wegent-cli/tests/test_errors_output_io.py
Due: none

feat(backend): store installed plugin packages in database and deduplicate personal skills
  backend/alembic/versions/20260604_c4d5e6f7a8b9_add_installed_plugin_packages.py
  backend/app/api/endpoints/installed_plugins.py
  backend/app/models/__init__.py
  backend/app/models/installed_plugin_package.py
  backend/app/services/installed_plugin_service.py
  backend/app/services/system_skill_providers/service.py
  backend/tests/models/test_installed_plugin_package_model.py
  backend/tests/services/test_installed_plugin_upload.py
  backend/tests/services/test_system_skill_provider_service.py
  executor/modes/local/capabilities.py
  shared/models/db/__init__.py
  shared/models/db/installed_plugin_package.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(mcp): include items in array parameter schema to satisfy Gemini API
  backend/app/mcp_server/tool_registry.py
  backend/app/mcp_server/tools/decorator.py
Due: wegent-backend

feat(cli): add Wegent API client
  wegent-cli/tests/test_client.py
  wegent-cli/wegent/client.py
Due: none

test(mcp): add unit tests for array parameter items preservation
  backend/tests/mcp_server/test_tool_registry.py
  backend/tests/mcp_server/test_tools_decorator.py
Due: wegent-backend

feat(wework): support local devices in projects (#1268)
  backend/app/services/project_device_session_service.py
  backend/tests/services/test_project_device_session_service.py
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  wework/src/App.plugins.test.tsx
  wework/src/api/devices.test.ts
  wework/src/api/devices.ts
  wework/src/components/common/ActionMenu.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/components/settings/AddCloudDeviceDialog.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/device-capabilities.ts
  wework/src/lib/navigation.ts
Due: wegent-backend

fix(cli): preserve client compatibility during replacement
  wegent-cli/tests/test_client.py
  wegent-cli/wegent/client.py
Due: none

fix(mcp): recurse into items for nested array type reconstruction
  backend/app/mcp_server/tool_registry.py
  backend/tests/mcp_server/test_tool_registry.py
Due: wegent-backend

fix(e2e): keep executor fixture source outside app mount
  frontend/e2e/README.md
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/src/__tests__/e2e/claudecode-executor-fixture.test.ts
Due: wegent-web

fix(frontend): load task detail after chat task creation
  frontend/src/__tests__/features/tasks/contexts/taskSessionContext.test.tsx
  frontend/src/features/tasks/session/TaskSession.tsx
Due: wegent-web

fix(cli): distinguish omitted token from explicit API key auth
  wegent-cli/tests/test_client.py
  wegent-cli/wegent/client.py
Due: none

test(e2e): expose mock model request logs
  .github/workflows/e2e-tests.yml
  frontend/e2e/utils/mock-model-server.ts
  frontend/src/__tests__/e2e/mock-model-observability.test.ts
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
