Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

test(wework): verify popout window identity
  wework/e2e/desktop/modules/window-attachment-flows.mjs
  wework/electron/src/host/electron-capabilities.ts
  wework/electron/src/main.ts
Due: none

test(collaboration): align automation runtime contracts
  backend/tests/schemas/test_project_automation_schema.py
  backend/tests/services/test_ai_workflow_agent_sequence.py
  backend/tests/services/test_issue_workflow_planning.py
Due: wegent-backend

test(wework): wait for event database writes
  wework/e2e/desktop/scenarios/project-event-sources.scenario.mjs
Due: none

fix(collaboration): isolate attachment mutations by item load
  frontend/src/__tests__/features/collaboration/IssueDetail.shared.test.tsx
  packages/collaboration/src/SharedIssueDetailEditor.tsx
Due: wegent-web

fix(wework): preserve side chat workspace (#3495)
  backend/app/schemas/issue_workflow.py
  backend/app/services/project_automation_execution.py
  backend/app/services/project_branch_collectors.py
  backend/app/services/workflow_loop_runtime.py
  backend/tests/schemas/test_workflow_loop_schema.py
  backend/tests/services/test_project_branch_collectors.py
  backend/tests/services/test_workflow_loop_runtime.py
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/helpers/runtime.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/tests/app_runtime_work_send_contract.rs
  frontend/src/__tests__/features/collaboration/IssueDetail.shared.test.tsx
  packages/collaboration/src/SharedIssueDetailEditor.tsx
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
  wework/e2e/desktop/scenarios/board-focus-view.scenario.mjs
  wework/e2e/desktop/scenarios/project-event-sources.scenario.mjs
  wework/electron/src/host/electron-capabilities.ts
  wework/electron/src/main.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
Due: wegent-executor, wegent-backend, wegent-web

fix(collaboration): align runtime and e2e contracts
  backend/app/api/endpoints/kind/skills.py
  backend/tests/api/test_executor_api_key_auth.py
  backend/tests/api/test_skills_api.py
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/src/agents/runtime_capabilities.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/mcp_http.rs
  frontend/e2e/tests/collaboration/collaboration-agent-execution.spec.ts
  frontend/e2e/tests/collaboration/collaboration-cloud-capabilities.spec.ts
  frontend/e2e/tests/collaboration/collaboration.spec.ts
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/collaboration-agent-automation-chain.scenario.mjs
  wework/e2e/desktop/scenarios/collaboration-shared-core.scenario.mjs
  wework/e2e/desktop/scenarios/local-project-automation-chain.scenario.mjs
  wework/e2e/desktop/scenarios/offline-local-project-space.scenario.mjs
  wework/e2e/desktop/scenarios/project-assignment-notification.scenario.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/e2e/desktop/scenarios/task-attachments.scenario.mjs
  wework/resources/bundled-plugins/wework-personal/plugins/wework-space/skills/wework-notifications/SKILL.md
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/features/todo/projectSpaceRoute.test.ts
  wework/src/features/todo/projectSpaceRoute.ts
Due: wegent-executor, wegent-backend, wegent-web

fix(executor): start managed mcp for claude runs
  executor/src/agents/runtime_capabilities.rs
Due: wegent-executor

test(wework): remove obsolete automation checkpoint
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

test(collaboration): follow current settings flows
  frontend/e2e/tests/collaboration/collaboration-cloud-capabilities.spec.ts
  frontend/e2e/tests/collaboration/collaboration.spec.ts
Due: wegent-web

fix(collaboration): preserve workspace participant routes
  frontend/e2e/tests/collaboration/collaboration-cloud-capabilities.spec.ts
  frontend/src/__tests__/features/collaboration/CollaborationPage.test.tsx
  frontend/src/features/collaboration/CollaborationPage.tsx
Due: wegent-web

fix(collaboration): canonicalize obsolete project views
  frontend/e2e/tests/collaboration/collaboration-cloud-capabilities.spec.ts
  frontend/src/__tests__/features/collaboration/CollaborationPage.test.tsx
  frontend/src/features/collaboration/CollaborationPage.tsx
Due: wegent-web

test(wework): distinguish collaboration and my tasks tabs
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

feat(frontend): hide department member count in add-collaborator search
  frontend/wecode/features/knowledge-permission-ui/api.ts
  frontend/wecode/features/knowledge-permission-ui/components/CollaboratorSearchInput.tsx
  frontend/wecode/features/knowledge-permission-ui/types.ts
  frontend/wecode/i18n/locales/en/knowledge.json
  frontend/wecode/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

fix(channels): honor agent model restrictions for IM model overrides
  backend/app/services/channels/handler.py
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/channels/telegram_channel/test_handler.py
  backend/tests/services/channels/test_private_im_session_integration.py
  backend/tests/services/chat/test_model_resolver_allowed_models.py
Due: wegent-backend

fix(wework): reconcile shared plugin remnants
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/plugins-and-skills.md
  executor/src/local/capabilities.rs
  executor/tests/local_capability_sync_contract.rs
  wework/e2e/desktop/modules/plugin-upgrade-flow.mjs
Due: wegent-executor

Update plugin.json
  wework/resources/bundled-hooks/codex-code-statistics/plugin.json
Due: none

fix(executor): preserve shared codex process environment
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(executor): retain standalone codex proxy
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(wework): reconcile shared plugin remnants (#3499)
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/plugins-and-skills.md
  executor/src/local/capabilities.rs
  executor/tests/local_capability_sync_contract.rs
  wework/e2e/desktop/modules/plugin-upgrade-flow.mjs
Due: wegent-executor

fix(channels): resolve model restrictions from the bound model
  backend/app/services/chat/config/model_resolver.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/chat/test_model_resolver_allowed_models.py
  backend/tests/services/chat/test_trigger_unified.py
Due: wegent-backend

fix(wework): stabilize desktop lifecycle updates
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/features/harness-apps/HarnessAppAutoLauncher.test.tsx
  wework/src/features/harness-apps/HarnessAppAutoLauncher.tsx
  wework/src/features/harness-apps/harnessAppInstallationsChanged.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
Due: none

refactor(wework): remove the WORK-447 scroll diagnostics
  wework/src/components/chat/bottomOriginScroll.ts
  wework/src/components/chat/scrollDiagnostics.ts
  wework/src/components/chat/useBottomOriginVirtualizer.ts
Due: none

fix(wework): keep the jump-to-bottom release alive across growth
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

chore(channels): record user and task context in model restriction logs
  backend/app/services/channels/handler.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/channels/telegram_channel/test_handler.py
  backend/tests/services/chat/test_trigger_unified.py
Due: wegent-backend

chore(channels): keep model restriction logs concise
  backend/app/services/channels/handler.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/channels/telegram_channel/test_handler.py
  backend/tests/services/chat/test_trigger_unified.py
Due: wegent-backend

fix(backend): persist block content deltas once
  backend/app/services/chat/storage/session.py
  backend/app/services/execution/emitters/websocket.py
  backend/tests/services/chat/storage/test_session_blocks.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/execution/test_status_updating_emitter.py
Due: wegent-backend

test(wework): require the upward sweep to make progress
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

fix(wework): reject Windows reserved device names in Smart app profiles
  wework/electron/src/host/smart-app-package-validator.test.ts
  wework/electron/src/host/smart-app-package-validator.ts
Due: none

fix(executor): preserve Claude content block order
  executor/src/emitter/mod.rs
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  executor/tests/claude_stream_event_contract.rs
  executor/tests/local_backend_contract.rs
Due: wegent-executor

fix(executor): restore Claude attachment downloads
  executor/src/agents/runtime_capabilities.rs
Due: wegent-executor

fix(wework): stabilize collaboration runtime flows
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/supervisor.rs
  executor/src/runtime_work/handler/tasks.rs
  wework/e2e/desktop/scenarios/collaboration-agent-automation-chain.scenario.mjs
  wework/e2e/desktop/scenarios/offline-local-project-space.scenario.mjs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchRuntimeTasks.ts
  wework/src/types/api.ts
Due: wegent-executor

docs(wework): document runtime recovery guarantees
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
Due: none

feat(wework): add configurable send shortcut
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/send-key-preference.scenario.mjs
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/ComposerToolbar.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/composerTextareaTypes.ts
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

test(wework): register send shortcut e2e in CI
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

test(frontend): update team editor invalidation mock
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
Due: wegent-web

test(wework): enable agent selector before catalog verification
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
Due: none

fix(wework): decouple composer context import
  wework/src/components/chat/ChatInput.tsx
Due: none

test(frontend): anchor pagination scrolling to loaded cards
  frontend/e2e/tests/team-catalog-pagination.spec.ts
Due: wegent-web
