Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

test(wework): stabilize desktop runtime fixtures
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
Due: none

feat(automation): manage event webhook lifecycle
  backend/app/api/endpoints/project_automations.py
  backend/app/services/project_automations.py
  backend/tests/api/test_cloud_projects_api.py
  wework/src/api/projectAutomations.ts
  wework/src/features/todo/ProjectAutomationRulesSection.test.tsx
  wework/src/features/todo/ProjectAutomationRulesSection.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

test(wework): wait for cloud project picker to close
  wework/e2e/desktop/modules/desktop-build-flows.mjs
Due: none

fix(wework): reuse dependency images in e2e (#2635)
  .github/actions/setup-node-workspace/action.yml
  .github/actions/setup-python-uv-cache/action.yml
  .github/scripts/classify-ci-changes.sh
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  docker/wework-e2e/browser.Dockerfile
  docker/wework-e2e/desktop.Dockerfile
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
Due: none

fix(wework): keep runtime event transport stable
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(executor): prevent Claude Code permission failures
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/agents/claude_code.rs
  executor/src/server/local_model_proxy/harness_protocol.rs
Due: wegent-executor

fix(wework): prevent rename input drag
  wework/e2e/desktop/modules/conversation-layout.mjs
  wework/scripts/ai-verify.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/e2e/automation.ts
  wework/src/e2e/desktop-control-keyboard.test.ts
  wework/src/e2e/desktop-control-keyboard.ts
Due: none

fix(executor): prevent Claude Code permission failures (#2648)
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/agents/claude_code.rs
  executor/src/server/local_model_proxy/harness_protocol.rs
Due: wegent-executor

fix(ci): continue when sccache is unavailable
  .github/actions/setup-sccache/action.yml
  .github/scripts/test-ci-cache-policy.sh
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
Due: none

fix(wework): prevent rename input drag (#2646)
  wework/e2e/desktop/modules/conversation-layout.mjs
  wework/scripts/ai-verify.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/e2e/automation.ts
  wework/src/e2e/desktop-control-keyboard.test.ts
  wework/src/e2e/desktop-control-keyboard.ts
Due: none

fix(wework): address change request review feedback
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): show pull request and merge request status
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  executor/src/local/app_ipc.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/environment.ts
Due: wegent-executor, wegent-backend

fix(wework): balance cloud e2e shards
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): keep removed projects filtered by workspace
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

fix(wework): avoid duplicate browser navigation
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
Due: none

fix(wework): settle completed local harness turns
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

test(wework): run local harness e2e with real CLIs
  .github/claude-code-cli/package-lock.json
  .github/claude-code-cli/package.json
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  docs/en/wegent/developer-guide/testing.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wegent/developer-guide/testing.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/src-tauri/src/local_terminal.rs
Due: none

fix(ci): install local harness CLIs for desktop e2e
  .github/scripts/test-ci-cache-policy.sh
  .github/workflows/wework-e2e.yml
Due: none

fix(wework): stabilize cloud e2e shards (#2643)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

fix(wework): improve supervisor controls
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/supervisor.rs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/src/api/executorAccess.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.test.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/TaskSupervisorControl.test.tsx
  wework/src/components/layout/TaskSupervisorControl.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor

test(wework): seed supervisor model in cloud e2e
  wework/e2e/desktop/modules/cloud-environment.mjs
Due: none

test(wework): select supervisor model by stable value
  wework/e2e/desktop/modules/goal-flows.mjs
Due: none

fix(wework): synchronize embedded browser close
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
Due: none

fix(wework): apply supervisor updates directly
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: none

fix(ci): verify local harness CLI installs
  .github/claude-code-cli/package.json
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/verify-local-harness-clis.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/wework-e2e.yml
Due: none

fix(wework): improve supervisor controls (#2649)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/supervisor.rs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src/api/executorAccess.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.test.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/TaskSupervisorControl.test.tsx
  wework/src/components/layout/TaskSupervisorControl.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/types/api.ts
Due: wegent-executor

test(wework): run local harness e2e with real CLIs (#2651)
  .github/claude-code-cli/package-lock.json
  .github/claude-code-cli/package.json
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/verify-local-harness-clis.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/wework-e2e.yml
  docs/en/wegent/developer-guide/testing.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wegent/developer-guide/testing.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/src-tauri/src/local_terminal.rs
Due: none

feat(wework): redesign split task workbench
  pnpm-lock.yaml
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/e2e/desktop/scenarios/split-workbench.scenario.mjs
  wework/package.json
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workbenchPaneDrag.ts
  wework/src/components/layout/workbenchPaneIdentity.ts
  wework/src/components/layout/workbenchPanePresentation.tsx
  wework/src/components/layout/workbenchPaneStack.module.css
  wework/src/components/layout/workbenchPaneStack.test.tsx
  wework/src/components/layout/workbenchPaneStack.tsx
  wework/src/components/layout/workbenchSplitLayout.test.ts
  wework/src/components/layout/workbenchSplitLayout.ts
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.ts
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(executor): preserve active provider turns
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(wework): stabilize desktop lifecycle checks
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tests.rs
  wework/src-tauri/src/local_terminal.rs
Due: wegent-executor

fix(wework): accept autonomous running snapshots
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
Due: none

feat(wework): redesign split task workbench (#2611)
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/tests.rs
  pnpm-lock.yaml
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/e2e/desktop/scenarios/split-workbench.scenario.mjs
  wework/package.json
  wework/src-tauri/src/local_terminal.rs
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/SidebarSortableList.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workbenchPaneDrag.ts
  wework/src/components/layout/workbenchPaneIdentity.ts
  wework/src/components/layout/workbenchPanePresentation.tsx
  wework/src/components/layout/workbenchPaneStack.module.css
  wework/src/components/layout/workbenchPaneStack.test.tsx
  wework/src/components/layout/workbenchPaneStack.tsx
  wework/src/components/layout/workbenchSplitLayout.test.ts
  wework/src/components/layout/workbenchSplitLayout.ts
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/layout/workspace-panels/useResizableWorkspacePanel.ts
  wework/src/components/topnav/TitlebarActionsPortal.tsx
  wework/src/e2e/automation.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/reducer.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor

feat(automation): describe and select project assignees
  backend/alembic/versions/20260813_b7c8d9e0f1a2_add_project_member_description.py
  backend/app/models/resource_member.py
  backend/app/schemas/cloud_project.py
  backend/app/schemas/project_chat.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/project_automations.py
  backend/app/services/project_chat/service.py
  backend/tests/api/test_cloud_projects_api.py
  wework/src/api/deliveries.ts
  wework/src/api/local/localDelivery.ts
  wework/src/api/projectChatAgents.ts
  wework/src/features/todo/CloudProjectManageView.tsx
  wework/src/features/todo/ProjectChatAgentsSection.test.tsx
  wework/src/features/todo/ProjectChatAgentsSection.tsx
  wework/src/features/todo/taskAiExecution.test.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(wework): embedded browser annotation
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

feat: 添加生成图片智能体背景图
  frontend/public/marketplace-covers/system/image-generation.webp
Due: wegent-web

fix(knowledge): bound document transfer size
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/knowledge_transfer.py
  backend/tests/services/knowledge/test_document_transfer.py
  frontend/src/__tests__/features/knowledge/document/use-knowledge-resource-selection.test.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/hooks/useKnowledgeResourceSelection.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
