Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix: fix public model display name not shown (#419)
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
Due: wegent-backend

chore(backend): remove OpenTelemetry dependencies and pin python-dotenv version
  backend/requirements.txt
Due: wegent-backend

feat: 添加OpenTelemetry依赖并修正yaml格式 (#418)
  backend/init_data/01-default-resources.yaml
Due: wegent-backend

style: modify model display text
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/tasks/components/ModelSelector.tsx
Due: wegent-web

style: modify model display text (#420)
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/tasks/components/ModelSelector.tsx
Due: wegent-web

fix: URL encode credentials in git clone for Gerrit special characters
  executor/start.sh
  shared/tests/utils/test_git_util.py
  shared/utils/git_util.py
Due: wegent-executor-manager, wegent-executor

style: unify dialog button styles for better visual consistency
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/admin/components/UserList.tsx
  frontend/src/features/knowledge/CancelConfirmDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/ShellList.tsx
  frontend/src/features/settings/components/groups/CreateGroupDialog.tsx
  frontend/src/features/settings/components/groups/DeleteGroupConfirmDialog.tsx
  frontend/src/features/settings/components/groups/EditGroupDialog.tsx
  frontend/src/features/settings/components/groups/GroupMembersDialog.tsx
  frontend/src/features/tasks/components/TaskShareHandler.tsx
  frontend/src/features/tasks/components/TeamShareHandler.tsx
Due: wegent-web

fix: URL encode credentials in git clone for Gerrit special characters (#416)
  executor/start.sh
  shared/tests/utils/test_git_util.py
  shared/utils/git_util.py
Due: wegent-executor-manager, wegent-executor

fix(frontend): move toast notifications to top center
  frontend/src/components/ui/toast.tsx
Due: wegent-web

fix(frontend): move toast notifications to top center (#422)
  frontend/src/components/ui/toast.tsx
Due: wegent-web

refactor(frontend): unify settings page layout with chat page
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/features/settings/components/SettingsTabNav.tsx
Due: wegent-web

feat(frontend): enhance PDF export with chat bubble layout
  frontend/src/utils/pdf-generator.ts
Due: wegent-web

feat(frontend): enhance PDF export with chat bubble layout (#423)
  frontend/src/utils/pdf-generator.ts
Due: wegent-web

feat(frontend): split share/export dropdown into separate buttons
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat(frontend): optimize sidebar layout and navigation
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/app/page.tsx
  frontend/src/features/tasks/components/CollapsedSidebarButtons.tsx
  frontend/src/features/tasks/components/ResizableSidebar.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

style: update toast style
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/use-toast.ts
Due: wegent-web

style: update toast style (#428)
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/use-toast.ts
Due: wegent-web

style: update layout
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

style: update frontend layout
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/users.py
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/ModelSelector.tsx
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/SelectedTeamBadge.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

style: update settings
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/settings/components/ModelListWithScope.tsx
  frontend/src/features/settings/components/SettingsTabNav.tsx
  frontend/src/features/settings/components/ShellListWithScope.tsx
  frontend/src/features/settings/components/TeamListWithScope.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat(frontend): refactor knowledge page with task sidebar and tabs
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/features/knowledge/KnowledgeTabs.tsx
  frontend/src/features/knowledge/index.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(frontend): remove duplicate user info from floating menu header
  frontend/src/features/layout/components/UserFloatingMenu.tsx
Due: wegent-web

fix(frontend): remove duplicate user info from floating menu header (#430)
  frontend/src/features/layout/components/UserFloatingMenu.tsx
Due: wegent-web

style: update settings layout
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/GitHubEdit.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/ShellEditDialog.tsx
  frontend/src/features/settings/components/ShellList.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/team-edit/TeamBasicInfoForm.tsx
  frontend/src/features/settings/components/team-edit/TeamModeChangeDialog.tsx
  frontend/src/features/settings/components/team-edit/TeamModeEditor.tsx
  frontend/src/features/settings/components/team-edit/TeamModeSelector.tsx
  frontend/src/features/settings/components/team-edit/index.ts
  frontend/src/features/settings/components/team-modes/SoloModeEditor.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

style: update styles
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/users.py
  backend/app/schemas/admin.py
  frontend/src/apis/admin.ts
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/features/admin/components/SystemConfigPanel.tsx
  frontend/src/features/knowledge/KnowledgeTabs.tsx
  frontend/src/features/knowledge/WikiProjectList.tsx
  frontend/src/features/settings/components/BotListWithScope.tsx
  frontend/src/features/settings/components/ModelEdit.tsx
  frontend/src/features/settings/components/ShellEdit.tsx
  frontend/src/features/settings/components/TabParamSync.tsx
  frontend/src/features/settings/components/TeamEdit.module.css
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/skills/SkillList.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/WelcomeMessage.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

feat(frontend): move mark all read button below history title
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

feat(frontend): move mark all read button below history title (#432)
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

fix(frontend): prevent text wrapping in searchable select dropdown
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix(frontend): prevent text wrapping in searchable select dropdown (#431)
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix(admin): increase public model list page limit to display all models
  frontend/src/features/admin/components/PublicModelList.tsx
Due: wegent-web

fix(admin): increase public model list page limit to display all models (#433)
  frontend/src/features/admin/components/PublicModelList.tsx
Due: wegent-web

refactor(frontend): redesign admin page layout to match settings page
  frontend/src/app/admin/page.tsx
  frontend/src/features/admin/components/AdminTabNav.tsx
Due: wegent-web

feat(frontend): add mode filter tabs for agent list
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

refactor(frontend): redesign admin page layout to match settings page (#434)
  frontend/src/app/admin/page.tsx
  frontend/src/features/admin/components/AdminTabNav.tsx
Due: wegent-web

feat(bot): add confirmation dialog when deleting bot with running tasks
  backend/app/api/endpoints/adapter/bots.py
  backend/app/services/adapters/bot_kinds.py
  frontend/src/apis/bots.ts
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/services/bots.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat(frontend): add mode filter tabs for agent list (#435)
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

fix(frontend): hide search engine text in task creation input
  frontend/src/features/tasks/components/SearchEngineSelector.tsx
Due: wegent-web

refactor(frontend): use unified Tooltip component for SearchEngineSelector
  frontend/src/features/tasks/components/SearchEngineSelector.tsx
Due: wegent-web

fix(frontend): hide search engine text in task creation input (#437)
  frontend/src/features/tasks/components/SearchEngineSelector.tsx
Due: wegent-web
