Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(frontend): enable claude code preload skills
  docs/en/user-guide/settings/agent-settings.md
  docs/zh/user-guide/settings/agent-settings.md
  frontend/src/__tests__/features/settings/components/BotEdit.default-knowledge-bases.test.tsx
  frontend/src/__tests__/features/settings/components/SimpleTeamEditDialog.test.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/TeamEditDialog.tsx
  frontend/src/features/settings/components/team-edit/simple-team-edit-utils.ts
Due: wegent-web

fix(cli): normalize client compatibility errors
  wegent-cli/tests/test_cli.py
  wegent-cli/tests/test_client.py
  wegent-cli/wegent/client.py
Due: none

fix(frontend): load task detail after chat task creation (#1275)
  frontend/src/__tests__/features/tasks/contexts/taskSessionContext.test.tsx
  frontend/src/features/tasks/session/TaskSession.tsx
Due: wegent-web

fix(admin): preserve public bot preload skills
  backend/app/api/endpoints/admin/public_bots.py
  backend/app/schemas/admin.py
  backend/tests/api/test_admin_public_bots.py
  frontend/src/__tests__/apis/publicResources.test.ts
  frontend/src/__tests__/features/admin/components/PublicBotList.test.tsx
  frontend/src/__tests__/features/settings/utils/skill-ref-resolver.test.ts
  frontend/src/apis/admin.ts
  frontend/src/apis/publicResources.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/utils/skillRefResolver.ts
Due: wegent-backend, wegent-web

test(cli): clean up client compatibility tests
  wegent-cli/tests/test_cli.py
  wegent-cli/tests/test_client.py
Due: none

test(e2e): upload service logs only on failure
  .github/workflows/e2e-tests.yml
  frontend/src/__tests__/e2e/mock-model-observability.test.ts
Due: wegent-web

feat(resource-library): add discovery config and assistant
  backend/app/api/endpoints/adapter/resource_library.py
  backend/app/core/config.py
  backend/app/core/yaml_init.py
  backend/app/mcp_server/tools/knowledge.py
  backend/app/schemas/resource_library.py
  backend/app/services/resource_library/discovery.py
  backend/app/services/resource_library/service.py
  backend/init_data/02-public-resources.yaml
  backend/tests/services/resource_library/test_resource_library_discovery.py
  docs/en/developer-guide/architecture.md
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/README.md
  docs/en/user-guide/resource-library/README.md
  docs/en/user-guide/resource-library/_category_.json
  docs/zh/developer-guide/architecture.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/README.md
  docs/zh/user-guide/resource-library/README.md
  docs/zh/user-guide/resource-library/_category_.json
  frontend/src/__tests__/features/resource-library/DiscoverResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/apis/resourceLibrary.ts
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/DiscoverAssistantDrawer.tsx
  frontend/src/features/resource-library/components/DiscoverResources.tsx
  frontend/src/features/resource-library/components/ResourceListingCard.tsx
  frontend/src/features/resource-library/types.ts
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
Due: wegent-backend, wegent-web

test(e2e): wait for admin users page readiness
  frontend/e2e/tests/admin/admin-users.spec.ts
Due: wegent-web

feat(cli): add new command root
  wegent-cli/tests/test_cli_root.py
  wegent-cli/wegent/cli.py
  wegent-cli/wegent/commands/__init__.py
  wegent-cli/wegent/commands/ask.py
  wegent-cli/wegent/commands/config.py
  wegent-cli/wegent/commands/kind.py
  wegent-cli/wegent/commands/login.py
  wegent-cli/wegent/commands/response.py
  wegent-cli/wegent/commands/task.py
Due: none

refactor: 移除未使用的组件和函数
  wework/src/components/settings/ConnectionsSettingsPage.tsx
Due: none

fix(capabilities): store plugin packages in skill binaries
  backend/alembic/versions/20260604_d5e6f7a8b9c0_reuse_skill_binaries_for_plugin_packages.py
  backend/app/models/__init__.py
  backend/app/models/installed_plugin_package.py
  backend/app/services/adapters/skill_kinds.py
  backend/app/services/installed_plugin_service.py
  backend/scripts/update_skill_binary.py
  backend/tests/models/test_installed_plugin_package_model.py
  backend/tests/models/test_skill_binary_model.py
  backend/tests/services/test_installed_plugin_upload.py
  executor/modes/local/capabilities.py
  executor/tests/test_local_capability_sync_handler.py
  shared/models/db/__init__.py
  shared/models/db/installed_plugin_package.py
  shared/models/db/skill_binary.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(db): make skill binary metadata non-null
  backend/alembic/versions/20260604_c4d5e6f7a8b9_add_installed_plugin_packages.py
  backend/alembic/versions/20260604_d5e6f7a8b9c0_reuse_skill_binaries_for_plugin_packages.py
  backend/tests/models/test_skill_binary_model.py
  shared/models/db/skill_binary.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(db): simplify skill binary metadata migration
  backend/alembic/versions/20260604_c4d5e6f7a8b9_add_installed_plugin_packages.py
  backend/alembic/versions/20260604_c4d5e6f7a8b9_add_skill_binary_metadata_columns.py
  backend/alembic/versions/20260604_d5e6f7a8b9c0_reuse_skill_binaries_for_plugin_packages.py
Due: wegent-backend

fix(security): block unspecified IPs in URL metadata validation
  backend/app/services/url_metadata.py
  backend/tests/services/test_url_metadata_ssrf.py
Due: wegent-backend

feat(wework): 修复单测
  backend/app/services/adapters/skill_kinds.py
  backend/app/services/system_skill_providers/service.py
  backend/tests/services/test_system_skill_provider_service.py
Due: wegent-backend

fix(wework): restrict project tools to ClaudeCode devices
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/lib/device-capabilities.ts
  wework/src/lib/device-selection.ts
Due: none

fix(wework): hide OpenClaw project devices
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
Due: none

fix(wework): restrict project tools to ClaudeCode devices (#1280)
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/lib/device-capabilities.ts
  wework/src/lib/device-selection.ts
Due: none

fix(cli): align config masking helper with spec
  wegent-cli/tests/test_cli_root.py
  wegent-cli/wegent/commands/config.py
Due: none

test(e2e): wait for git settings readiness
  frontend/e2e/tests/settings-github.spec.ts
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/components/IntegrationsPage.tsx
Due: wegent-web

feat(wework): render codex processing stream blocks
  backend/app/services/chat/storage/session.py
  backend/tests/services/chat/storage/test_session_blocks.py
  executor/agents/codex/event_mapper.py
  executor/tests/agents/test_codex_event_mapper.py
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/messageReducer.test.ts
  wework/src/features/workbench/messageReducer.ts
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: wegent-executor, wegent-backend

test(e2e): assert git token dialog content
  frontend/e2e/tests/settings-github.spec.ts
  frontend/src/features/settings/components/GitHubEdit.tsx
Due: wegent-web

fix(mcp): include items in array parameter schema to satisfy Gemini API (#1274)
  backend/app/mcp_server/tool_registry.py
  backend/app/mcp_server/tools/decorator.py
  backend/tests/mcp_server/test_tool_registry.py
  backend/tests/mcp_server/test_tools_decorator.py
Due: wegent-backend

fix(cli): avoid persisting env credentials
  wegent-cli/tests/test_cli.py
  wegent-cli/tests/test_cli_root.py
  wegent-cli/tests/test_login_commands.py
  wegent-cli/wegent/commands/config.py
  wegent-cli/wegent/commands/login.py
  wegent-cli/wegent/config.py
Due: none

fix(security): block unspecified IPs in URL metadata validation (#1279)
  backend/app/services/url_metadata.py
  backend/tests/services/test_url_metadata_ssrf.py
Due: wegent-backend

Remove quick launch descriptions
  frontend/src/__tests__/features/tasks/components/chat/quick-launch/QuickLauncherCards.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/quick-launcher-cards.tsx
Due: wegent-web

Remove quick launch descriptions (#1281)
  frontend/src/__tests__/features/tasks/components/chat/quick-launch/QuickLauncherCards.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/quick-launcher-cards.tsx
Due: wegent-web

ci(e2e): split executor regression from shards (#1272)
  .github/workflows/e2e-tests.yml
  .github/workflows/test.yml
  frontend/e2e/README.md
  frontend/e2e/config/test-users.ts
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/e2e/tests/admin/admin-users.spec.ts
  frontend/e2e/tests/global-setup.ts
  frontend/e2e/tests/settings-github.spec.ts
  frontend/e2e/utils/api-client.ts
  frontend/e2e/utils/auth-state.ts
  frontend/e2e/utils/mock-model-server.ts
  frontend/playwright.config.ts
  frontend/src/__tests__/e2e/auth-state.test.ts
  frontend/src/__tests__/e2e/claudecode-executor-fixture.test.ts
  frontend/src/__tests__/e2e/mock-model-observability.test.ts
  frontend/src/features/settings/components/GitHubEdit.tsx
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/components/IntegrationsPage.tsx
Due: wegent-web

test(cli): align integration smoke with new root
  wegent-cli/tests/test_integration.py
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update README.md
  backend/README.md
Due: wegent-backend

feat(cli): replace resource commands with kind group
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/commands/apply.py
  wegent-cli/wegent/commands/create.py
  wegent-cli/wegent/commands/delete.py
  wegent-cli/wegent/commands/describe.py
  wegent-cli/wegent/commands/get.py
  wegent-cli/wegent/commands/kind.py
Due: none

fix(cli): harden kind command input handling
  wegent-cli/tests/test_client.py
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/client.py
  wegent-cli/wegent/commands/kind.py
Due: none

fix(backend): 微博绑定解析改用 tauth 认证
  backend/app/services/weibo_account_binding.py
  backend/tests/api/test_weibo_binding_api.py
Due: wegent-backend

fix(cli): reject conflicting kind delete inputs
  wegent-cli/README.md
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/commands/kind.py
Due: none

fix(cli): return JSON errors for kind argument validation
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/commands/kind.py
Due: none

fix(cli): render JSON envelopes for parser errors
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/cli.py
Due: none

fix(cli): validate kind resource input entries
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/commands/kind.py
Due: none

fix(cli): normalize empty kind resource input errors
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/commands/kind.py
Due: none

refactor(cli): remove legacy resource client shims
  wegent-cli/tests/test_client.py
  wegent-cli/tests/test_kind_commands.py
  wegent-cli/wegent/client.py
  wegent-cli/wegent/commands/kind.py
  wegent-cli/wegent/io.py
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
