Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix team分页查询逻辑
  backend/app/services/adapters/team_kinds.py
Due: wegent-backend

feat: enhance task status icons with colors and animations
  frontend/src/features/tasks/components/TaskListSection.tsx
Due: wegent-web

feat: enhance task status icons with colors and animations
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

feat: add browser notification for task completion and failure
  frontend/src/app/settings/page.tsx
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/utils/notification.ts
Due: wegent-web

fix: handle negative time difference in task list time display (#40)
  frontend/src/features/tasks/components/TaskListSection.tsx
Due: wegent-web

docs: update readme
  README.md
  README_zh.md
Due: none

优化查询
  backend/app/services/adapters/team_kinds.py
Due: wegent-backend

refactor: 删除重复的资源格式化代码
  backend/app/services/kind_base.py
  backend/app/services/kind_impl.py
Due: wegent-backend

fix team分页查询逻辑 (#39)
  backend/app/services/adapters/team_kinds.py
  backend/app/services/kind_base.py
  backend/app/services/kind_impl.py
Due: wegent-backend

Add GitHub CLI proxy configuration support
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

Add Gitee repository provider support
  backend/app/repository/gitee_provider.py
  backend/app/services/repository.py
  backend/app/services/repository_job.py
  backend/app/services/user.py
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

docs: add comprehensive development guide in Chinese and English
  README.md
  README_zh.md
  docs/en/develop-guide.md
  docs/zh/develop-guide.md
Due: none

docs: update readme (#43)
  README.md
  README_zh.md
Due: none

feat: enhance task status icons with colors and animations (#41)
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

feat: add browser notification for task completion and failure (#42)
  frontend/src/app/settings/page.tsx
  frontend/src/features/settings/components/NotificationSettings.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/utils/notification.ts
Due: wegent-web

Add Gitee repository provider support (#45)
  backend/app/repository/gitee_provider.py
  backend/app/services/repository.py
  backend/app/services/repository_job.py
  backend/app/services/user.py
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix: correct typo from weagent to wegent in branch naming convention (#30)
  backend/init.sql
  docs/backend/example.yaml
Due: wegent-backend

fix: 调整一下代码
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

fix: fix front package failed
  frontend/src/features/settings/components/GitHubEdit.tsx
Due: wegent-web

fix: fix front package failed (#47)
  frontend/src/features/settings/components/GitHubEdit.tsx
Due: wegent-web

fix: fix base docker
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

fix team分页查询逻辑 (#39)
  README.md
  README_zh.md
  backend/app/services/adapters/team_kinds.py
  backend/app/services/kind_base.py
  backend/app/services/kind_impl.py
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor, wegent-backend

feat: support github proxy
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

feat: support github proxy (#48)
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

只有github配置代理
  executor_manager/wecode/config/config.py
  executor_manager/wecode/executors/k8s/build_pod.py
  executor_manager/wecode/executors/k8s/pod_template.yaml
Due: wegent-executor-manager

docs: add comprehensive development guide in Chinese and English (#46)
  README.md
  README_zh.md
  docs/en/develop-guide.md
  docs/zh/develop-guide.md
Due: none

update oidc secret
  wecode/docker/backend/.env.example
Due: wegent-backend

Add open menu in code page with VSCode and Git links
  backend/app/services/adapters/task_kinds.py
  frontend/.env.local
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/OpenMenu.tsx
  frontend/src/features/tasks/components/Workbench.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/i18n/locales/zh-CN/tasks.json
  frontend/src/types/api.ts
  frontend/src/utils/openLinks.ts
Due: wegent-backend, wegent-web

feat: bump image version to 1.0.3
  docker-compose.yml
Due: none

feat: bump image version to 1.0.3 (#52)
  docker-compose.yml
Due: none

Add open menu in code page with VSCode and Git links (#53)
  backend/app/services/adapters/task_kinds.py
  frontend/.env.local
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/OpenMenu.tsx
  frontend/src/features/tasks/components/Workbench.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/i18n/locales/zh-CN/tasks.json
  frontend/src/types/api.ts
  frontend/src/utils/openLinks.ts
Due: wegent-backend, wegent-web

fix(openLinks): rm unused
  frontend/src/utils/openLinks.ts
Due: wegent-web

fix(openLinks): rm unused (#54)
  frontend/src/utils/openLinks.ts
Due: wegent-web

feat(env.local): add NEXT_PUBLIC_VSCODE_LINK_TEMPLATE config
  wecode/docker/frontend/.env.local
Due: wegent-web

feat: add auto-create MR from develop to main
  .gitlab-ci.yml
Due: none

fix: use wecoder token
  .gitlab-ci.yml
Due: none

Add sensitive data masking for logs and API responses (#32)
  backend/app/schemas/subtask.py
  executor/agents/claude_code/response_processor.py
  executor/callback/callback_client.py
  shared/utils/sensitive_data_masker.py
  shared/utils/test_sensitive_data_masker.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

docs: Optimize README documentation with enhanced core capabilities
  README.md
  README_zh.md
Due: none

docs: Optimize README documentation with enhanced core capabilities (#51)
  README.md
  README_zh.md
Due: none
