Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

style: 优化新建任务按钮的高度与间距
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

style: 优化新建任务按钮的高度与间距 (#124)
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

Implement notification tab matching with Service Worker (#122)
  frontend/public/sw.js
  frontend/src/app/layout.tsx
  frontend/src/components/ServiceWorkerRegistration.tsx
  frontend/src/utils/notification.ts
Due: wegent-web

Fix mobile task list touch interaction issues (#119)
  frontend/src/features/tasks/components/TaskListSection.tsx
Due: wegent-web

优化项目文档结构和链接 (#125)
  README.md
  README_zh.md
  docs/README.md
  docs/en/README.md
  docs/en/concepts/architecture.md
  docs/en/concepts/collaboration-models.md
  docs/en/faq.md
  docs/en/getting-started/quick-start.md
  docs/en/guides/developer/setup.md
  docs/en/guides/user/creating-bots.md
  docs/en/guides/user/creating-ghosts.md
  docs/en/guides/user/creating-teams.md
  docs/en/guides/user/managing-tasks.md
  docs/en/reference/yaml-specification.md
  docs/examples/team-example.yaml
  docs/zh/README.md
  docs/zh/concepts/architecture.md
  docs/zh/concepts/collaboration-models.md
  docs/zh/faq.md
  docs/zh/getting-started/quick-start.md
  docs/zh/guides/developer/setup.md
  docs/zh/guides/user/creating-bots.md
  docs/zh/guides/user/creating-ghosts.md
  docs/zh/guides/user/creating-teams.md
  docs/zh/guides/user/managing-tasks.md
  docs/zh/guides/user/pm-battle-guide.md
  docs/zh/reference/yaml-specification.md
Due: none

feat: 修改聊天输入框快捷键交互行为 (#126)
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tag.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/lib/utils.ts
Due: wegent-web

Refactor initialization from SQL to YAML configuration (#112)
  backend/.env.example
  backend/README.md
  backend/app/core/config.py
  backend/app/core/yaml_init.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/base.py.unused
  backend/app/services/base.py
  backend/init.sql
  backend/init_data/01-default-resources.yaml
  backend/init_data/02-public-shells.yaml
  backend/init_data/README.md
  backend/requirements.txt
  docker-compose.yml
  docs/en/getting-started/installation.md
  docs/en/guides/developer/setup.md
  docs/en/guides/user/pm-battle-guide.md
  docs/en/troubleshooting.md
  docs/zh/getting-started/installation.md
  docs/zh/guides/developer/setup.md
  docs/zh/guides/user/pm-battle-guide.md
  docs/zh/troubleshooting.md
Due: wegent-backend

style: rewrite searchable-select
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/tailwind.config.js
Due: wegent-web

style: rewrite searchable-select (#127)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/BranchSelector.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/tailwind.config.js
Due: wegent-web

feat: add ARIA attributes for searchable select accessibility and migrate ChatInput tooltip to custom UI component.
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix: remove useless antd
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix: remove useless antd (#129)
  frontend/src/features/tasks/components/ChatInput.tsx
Due: wegent-web

fix: remove antd
  frontend/src/features/tasks/components/DiscountNotification.tsx
  frontend/src/features/tasks/components/WeCodeGettingStarted.tsx
Due: wegent-web

feat: add env config for auto create tables
  backend/.env.example
  backend/app/core/config.py
  backend/app/main.py
Due: wegent-backend

feat: add env config for auto create tables (#130)
  backend/.env.example
  backend/app/core/config.py
  backend/app/main.py
Due: wegent-backend

feat: update env
  wecode/docker/backend/.env.example
Due: wegent-backend

perf: add database index
  backend/app/models/kind.py
  backend/app/models/shared_team.py
  backend/app/models/subtask.py
  backend/scripts/verify_indexes.py
Due: wegent-backend

style: always show send button
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

style: update chatarea style
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

style: always show send button (#132)
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

style: update quota style
  frontend/src/features/tasks/components/QuotaUsage.tsx
Due: wegent-web

style: update getstart style
  frontend/src/features/tasks/components/WeCodeGettingStarted.tsx
Due: wegent-web

style: update chatarea layout
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

style: update chatarea layout (#133)
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

style: update getstart styles
  frontend/src/features/tasks/components/ChatArea.tsx
Due: wegent-web

style: update style
  frontend/src/features/tasks/components/DiscountNotification.tsx
Due: wegent-web

feat: repo selector will search remote repositories
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

feat: repo selector will search remote repositories (#135)
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

fix: fix repo select remote load error
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

fix: fix repo select remote load error (#136)
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

chore: update docker-compose.yml to version 1.0.7
  docker-compose.yml
Due: none

feat: add check for auto create tables
  backend/app/main.py
Due: wegent-backend

feat: add check for auto create tables (#138)
  backend/app/main.py
Due: wegent-backend

fix: 修复"全部已读"按钮点击后未立即生效的问题
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

Add comprehensive Shell and Model configuration documentation
  docs/FRONTEND_UI_IMPROVEMENTS.md
  docs/en/getting-started/quick-start.md
  docs/en/guides/user/configuring-models.md
  docs/en/guides/user/configuring-shells.md
  docs/en/guides/user/creating-bots.md
  docs/zh/getting-started/quick-start.md
  docs/zh/guides/user/configuring-models.md
  docs/zh/guides/user/configuring-shells.md
  docs/zh/guides/user/creating-bots.md
Due: none

Delete docs/FRONTEND_UI_IMPROVEMENTS.md
  docs/FRONTEND_UI_IMPROVEMENTS.md
Due: none

Add template buttons and help icons for Model and Shell configuration
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
