Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat: 支持 agent 使用情况
  frontend/wecode/features/agent-usage/AgentUsagePage.tsx
Due: wegent-web

fix(wework): restore offline remote task summaries
  docs/en/developer-guide/wework-codex-sidebar.md
  docs/zh/developer-guide/wework-codex-sidebar.md
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/remoteRuntimeWorkCache.test.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.ts
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

feat: add sleep 10,900s python script
  sleep_10900.py
Due: none

fix(wework): remove startup loading delays
  docs/en/developer-guide/wework-performance-diagnostics.md
  docs/zh/developer-guide/wework-performance-diagnostics.md
  wework/src-tauri/src/local_executor.rs
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.tsx
Due: none

fix(subscription): improve market search and whitelist user lookup
  backend/app/api/endpoints/users.py
  backend/app/services/subscription/market_service.py
  backend/tests/api/test_user_lookup_api.py
  backend/tests/services/subscription/test_market_service_whitelist.py
  frontend/src/__tests__/features/feed/MarketPageInline.test.tsx
  frontend/src/apis/user.ts
  frontend/src/features/feed/components/MarketPageInline.tsx
  frontend/src/features/feed/components/SubscriptionForm.tsx
Due: wegent-backend, wegent-web

fix(subscription): fix ci
  backend/tests/api/test_user_lookup_api.py
  backend/tests/services/subscription/test_market_service_whitelist.py
  frontend/e2e/tests/tasks/code-page-enhanced.spec.ts
Due: wegent-backend, wegent-web

fix(executor): retain Codex thread subscriptions until archive
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/tests/app_runtime_work_send_contract.rs
Due: wegent-executor

fix(wework): remove startup loading delays (#2008)
  docs/en/developer-guide/wework-performance-diagnostics.md
  docs/zh/developer-guide/wework-performance-diagnostics.md
  wework/src-tauri/src/local_executor.rs
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
  wework/src/features/local-runtime/LocalRuntimeInitializer.tsx
Due: none

fix(executor): retain Codex thread subscriptions until archive (#2010)
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/tests/app_runtime_work_send_contract.rs
Due: wegent-executor

fix(wework): remove Appshots permission dialog
  docs/en/user-guide/settings/desktop-app-preferences.md
  docs/zh/user-guide/settings/desktop-app-preferences.md
  wework/src-tauri/src/appshots.rs
  wework/src-tauri/src/lib.rs
  wework/src/features/appshots/AppshotBridge.test.tsx
  wework/src/features/appshots/AppshotBridge.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appshots.test.ts
  wework/src/tauri/appshots.ts
Due: none

fix(wework): preserve remote IP when disconnected
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: none

feat: 支持设置identifier id
  wework/branding/demo.json
  wework/scripts/build-mac-app.sh
  wework/scripts/build-windows-app.sh
  wework/scripts/lib/wework-branding.sh
  wework/scripts/lib/wework-macos-signing.sh
  wework/scripts/release-mac-app.sh
  wework/src-tauri/build.rs
  wework/src-tauri/src/local_executor.rs
Due: none

fix(wework): reorder background appearance controls
  wework/src/features/appearance/AppearanceSettingsPage.test.tsx
  wework/src/features/appearance/AppearanceSettingsPage.tsx
Due: none

fix(subscription): improve market search and whitelist user lookup (#2009)
  backend/app/api/endpoints/users.py
  backend/app/services/subscription/market_service.py
  backend/tests/api/test_user_lookup_api.py
  backend/tests/services/subscription/test_market_service_whitelist.py
  frontend/e2e/tests/tasks/code-page-enhanced.spec.ts
  frontend/src/__tests__/features/feed/MarketPageInline.test.tsx
  frontend/src/apis/user.ts
  frontend/src/features/feed/components/MarketPageInline.tsx
  frontend/src/features/feed/components/SubscriptionForm.tsx
Due: wegent-backend, wegent-web

fix(wework): remove Appshots permission dialog (#2011)
  docs/en/user-guide/settings/desktop-app-preferences.md
  docs/zh/user-guide/settings/desktop-app-preferences.md
  wework/src-tauri/src/appshots.rs
  wework/src-tauri/src/lib.rs
  wework/src/features/appshots/AppshotBridge.test.tsx
  wework/src/features/appshots/AppshotBridge.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appshots.test.ts
  wework/src/tauri/appshots.ts
Due: none

fix(wework): remove composer gradient over backgrounds
  docs/en/user-guide/settings/desktop-app-preferences.md
  docs/zh/user-guide/settings/desktop-app-preferences.md
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): reorder background appearance controls (#2013)
  wework/src/features/appearance/AppearanceSettingsPage.test.tsx
  wework/src/features/appearance/AppearanceSettingsPage.tsx
Due: none

fix(wework): restore offline remote projects and task summaries (#2006)
  docs/en/developer-guide/wework-codex-sidebar.md
  docs/zh/developer-guide/wework-codex-sidebar.md
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/remoteRuntimeWorkCache.test.ts
  wework/src/features/workbench/remoteRuntimeWorkCache.ts
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: none

fix(wework): remove composer gradient over backgrounds (#2014)
  docs/en/user-guide/settings/desktop-app-preferences.md
  docs/zh/user-guide/settings/desktop-app-preferences.md
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

feat: 支持设置identifier id (#2012)
  wework/branding/demo.json
  wework/scripts/build-mac-app.sh
  wework/scripts/build-windows-app.sh
  wework/scripts/lib/wework-branding.sh
  wework/scripts/lib/wework-macos-signing.sh
  wework/scripts/release-mac-app.sh
  wework/src-tauri/build.rs
  wework/src-tauri/src/local_executor.rs
Due: none

fix(wework): align remote connection states
  docs/en/developer-guide/wework-codex-sidebar.md
  docs/zh/developer-guide/wework-codex-sidebar.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/features/cloud-connection/CloudConnectionSidebarButton.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
  wework/src/features/workbench/workbenchCloudStatus.test.ts
  wework/src/features/workbench/workbenchCloudStatus.ts
Due: none

feat(wework): add experimental features toggle
  docs/en/user-guide/settings/experimental-features.md
  docs/zh/user-guide/settings/experimental-features.md
  wework/src-tauri/src/lib.rs
  wework/src/App.apps.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/AppshotsSettingsPage.test.tsx
  wework/src/components/settings/ContextSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/features/experimental-features/ExperimentalFeature.test.tsx
  wework/src/features/experimental-features/ExperimentalFeature.tsx
  wework/src/features/experimental-features/useExperimentalFeaturesEnabled.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: none

fix(wework): stabilize runtime task visibility and ordering
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/types/api.ts
Due: wegent-executor

feat(frontend): Optimize the display of knowledge base documents (#1990)
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/FolderTree.tsx
  frontend/src/features/knowledge/document/components/knowledge-document-tree-grid.tsx
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(wework): gate sites as experimental
  docs/en/user-guide/settings/experimental-features.md
  docs/zh/user-guide/settings/experimental-features.md
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

feat(wework): add experimental features toggle (#2015)
  docs/en/user-guide/settings/experimental-features.md
  docs/zh/user-guide/settings/experimental-features.md
  wework/src-tauri/src/lib.rs
  wework/src/App.apps.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/settings/AppshotsSettingsPage.test.tsx
  wework/src/components/settings/ContextSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/components/topnav/ChromeTitlebar.test.tsx
  wework/src/features/experimental-features/ExperimentalFeature.test.tsx
  wework/src/features/experimental-features/ExperimentalFeature.tsx
  wework/src/features/experimental-features/useExperimentalFeaturesEnabled.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: none

fix(wework): stabilize runtime task visibility and ordering (#2017)
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
  wework/src/types/api.ts
Due: wegent-executor

feat: 修复会话被截断的问题
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
Due: wegent-executor

feat: 修复导航条滚动的问题
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

feat(settings): persist git token ordering
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/app/services/user.py
  backend/tests/services/test_user_service.py
  frontend/src/apis/user.ts
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/services/github.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix(frontend): recover from stale webpack chunks
  frontend/src/__tests__/features/common/ErrorBoundary.test.tsx
  frontend/src/features/common/ErrorBoundary.tsx
Due: wegent-web

docs(wework): design cloud device VNC browser flow
  docs/superpowers/specs/2026-07-17-wework-cloud-device-vnc-browser-design.md
Due: none

feat(backend): force-delete stale executors past max_inactive_hours
  backend/app/services/adapters/executor_job.py
Due: wegent-backend

docs(wework): plan cloud VNC browser implementation
  docs/superpowers/plans/2026-07-17-wework-cloud-device-vnc-browser.md
  docs/superpowers/specs/2026-07-17-wework-cloud-device-vnc-browser-design.md
Due: none

fix(wework): build cloud VNC proxy URL
  wework/public/vnc.html
  wework/src/lib/vnc.test.ts
  wework/src/lib/vnc.ts
  wework/wecode/components/DeviceMetrics.test.tsx
  wework/wecode/components/VncDesktopButton.tsx
Due: none

refactor(backend): clamp max_inactive_hours instead of rejecting
  backend/app/services/adapters/executor_job.py
Due: wegent-backend

fix(wework): show background in workspace panels
  docs/en/user-guide/settings/desktop-app-preferences.md
  docs/zh/user-guide/settings/desktop-app-preferences.md
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
Due: none

feat(wework): open cloud desktop in built-in browser
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): avoid stacked panel backgrounds
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
Due: none

Feature/git token ordering (#2019)
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/app/services/user.py
  backend/tests/services/test_user_service.py
  frontend/src/__tests__/features/common/ErrorBoundary.test.tsx
  frontend/src/apis/user.ts
  frontend/src/features/common/ErrorBoundary.tsx
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/services/github.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web
