Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

feat(knowledge): 支持 WeiboAP 知识库 Provider 原生访问
  backend/app/main.py
  backend/app/mcp_server/server.py
  backend/app/services/adapters/task_kinds/task_skills_resolver.py
  backend/app/services/chat/selected_knowledge.py
  backend/init_data/skills/ap-knowledge/SKILL.md
  backend/tests/mcp_server/test_server_routes.py
  backend/tests/services/chat/test_selected_knowledge.py
  backend/tests/services/test_task_skills_batch_resolution.py
  backend/wecode/mcp_server/ap_knowledge.py
  backend/wecode/mcp_server/installer.py
  backend/wecode/service/external_knowledge/providers/ap.py
  backend/wecode/tests/test_ap_knowledge_mcp.py
  backend/wecode/tests/test_external_knowledge_provider.py
Due: wegent-backend

fix(wework): preserve active turn lifecycle
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/local/backend.rs
  executor/src/local/backend/connection_controller.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/tests.rs
  executor/tests/local_backend_contract.rs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
Due: wegent-executor

docs: update agents.md
  AGENTS.md
Due: none

fix(ci): reuse Wework desktop Cargo cache
  .github/scripts/classify-ci-cache-warmup.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
Due: none

fix(wework): drop a deleted parent when creating a task
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
Due: none

feat: record kanban status transition history for cloud projects
  backend/app/schemas/delivery.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/delivery/service.py
  backend/app/services/loop_item_status_history.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_chat/service.py
  backend/tests/services/test_loop_item_status_history.py
  wework/src/api/deliveries.ts
  wework/src/features/todo/StatusHistoryPopover.tsx
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

refactor: consolidate status history recording and popover shell
  backend/app/services/cloud_projects/service.py
  backend/app/services/delivery/service.py
  backend/app/services/loop_item_status_history.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_chat/service.py
  wework/src/features/todo/AnchorPopover.tsx
  wework/src/features/todo/AssignmentChainPopover.tsx
  wework/src/features/todo/StatusHistoryPopover.tsx
Due: wegent-backend

feat(wework): special-case create and accept entries in status history
  wework/src/features/todo/StatusHistoryPopover.tsx
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(executor): converge remote project sync (#2663)
  docs/en/wework/developer-guide/wework-codex-sidebar.md
  docs/zh/wework/developer-guide/wework-codex-sidebar.md
  executor/src/runtime_work/codex_global_state.rs
Due: wegent-executor

fix(wework): prevent stale remote project resync
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchProjectActions.ts
Due: none

fix(wework): stabilize queued task transitions
  wework/e2e/desktop/modules/shared.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

fix(ci): reuse Wework desktop Cargo cache (#2665)
  .github/scripts/classify-ci-cache-warmup.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
Due: none

fix(wework): preserve active turn lifecycle (#2661)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/local/backend.rs
  executor/src/local/backend/connection_controller.rs
  executor/src/runtime_work/handler/collection.rs
  executor/src/runtime_work/handler/helpers/routing.rs
  executor/src/runtime_work/handler/tests.rs
  executor/tests/local_backend_contract.rs
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
Due: wegent-executor

fix(backend): archive workspace before executor cleanup for all task types
  backend/app/services/adapters/executor_job.py
  backend/tests/services/test_preserve_executor.py
  backend/tests/services/test_runtime_cleanup.py
Due: wegent-backend

fix(wework): support automations in worktrees (#2656)
  docs/en/user-guide/wework-automations.md
  docs/zh/user-guide/wework-automations.md
  frontend/e2e/tests/tasks/provider-native-dingtalk.spec.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/automations/automationDraft.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/pages/AutomationsPage.test.tsx
  wework/src/pages/AutomationsPage.tsx
Due: wegent-web

fix(executor): retry supervisor after task settles
  executor/src/runtime_work/handler/supervisor.rs
Due: wegent-executor

fix(backend): recover executor when pod disappears outside cleanup path
  backend/app/services/execution/schedule_helper.py
  backend/app/services/remote_workspace_service.py
  backend/tests/services/execution/test_schedule_helper_recovery.py
  backend/tests/services/test_remote_workspace_service_status.py
Due: wegent-backend

fix(ci): rebalance Wework cloud E2E shards
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): ignore zombie-only process groups
  wework/e2e/desktop/process-lifecycle.mjs
  wework/src/e2e/desktop-process-lifecycle.test.ts
Due: none

fix(loop_items): keep UTC offset in status history timestamps
  backend/app/services/loop_item_status_history.py
Due: wegent-backend

fix(cloud_projects): keep project metadata when removing board statuses
  backend/app/services/cloud_projects/service.py
Due: wegent-backend

test(feedback): assert status and assignment history on created board item
  backend/tests/api/test_feedback_api.py
Due: wegent-backend

fix(ci): rebalance Wework cloud E2E shards (#2669)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): serialize busy goal handoff
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
Due: none

fix(executor): avoid overlapping supervisor turns
  executor/src/runtime_work/handler/supervisor.rs
Due: wegent-executor

feat(wework): show pull request and merge request status (#2647)
  backend/app/services/device/command_registry.py
  backend/tests/services/test_local_device_command_service.py
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  executor/src/local/app_ipc.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/change-request-status.scenario.mjs
  wework/src-tauri/src/lib.rs
  wework/src/api/environment.test.ts
  wework/src/api/environment.ts
  wework/src/api/gitHostingCli.test.ts
  wework/src/api/gitHostingCli.ts
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/GitHostingSettingsPage.test.tsx
  wework/src/components/settings/GitHostingSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
  wework/src/types/environment.ts
Due: wegent-executor, wegent-backend

fix(executor): harden deferred worktree startup
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/worktrees.rs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/scenarios/runtime-task-queue.scenario.mjs
Due: wegent-executor

feat(sandbox): add distributed lifecycle lease and runtime heartbeat … (#2640)
  backend/app/services/sandbox_file_syncer.py
  backend/init_data/skills/sandbox/SKILL.md
  backend/init_data/skills/sandbox/download_attachment_tool.py
  backend/tests/init_data/skills/sandbox/test_download_attachment_tool.py
  backend/tests/services/test_sandbox_file_syncer.py
  chat_shell/chat_shell/services/sandbox_attachment_sync.py
  chat_shell/tests/test_sandbox_attachment_sync.py
  executor/src/heartbeat.rs
  executor/src/server/mod.rs
  executor/tests/http_contract.rs
  executor_manager/common/config.py
  executor_manager/common/distributed_lock.py
  executor_manager/services/sandbox/manager.py
  executor_manager/services/sandbox/repository.py
  executor_manager/services/sandbox/runtime_binding.py
  executor_manager/services/sandbox/skill_sync.py
  executor_manager/tests/common/test_distributed_lock.py
  executor_manager/tests/services/test_sandbox_manager.py
  executor_manager/tests/services/test_sandbox_repository.py
  executor_manager/tests/services/test_sandbox_runtime_binding.py
  executor_manager/tests/services/test_sandbox_skill_sync.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(backend): archive every task sharing an executor before cleanup
  backend/app/services/adapters/executor_job.py
  backend/tests/services/test_preserve_executor.py
  backend/tests/services/test_runtime_cleanup.py
Due: wegent-backend

chore(backend): trace executor pod liveness check
  backend/app/services/execution/schedule_helper.py
Due: wegent-backend

fix(wework): promote supervisor controls (#2662)
  docs/en/wework/settings.md
  docs/en/wework/tasks.md
  docs/zh/wework/settings.md
  docs/zh/wework/tasks.md
  executor/src/runtime_work/handler/supervisor.rs
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/e2e/desktop/modules/shared.mjs
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/TaskSupervisorControl.test.tsx
  wework/src/components/layout/TaskSupervisorControl.tsx
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: wegent-executor

fix(wework): defer queued worktree creation (#2658)
  docs/en/wegent/user-guide/coding/git-workspace-projects.md
  docs/zh/wegent/user-guide/coding/git-workspace-projects.md
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/tasks.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/worktrees.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/runtime-task-queue.scenario.mjs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
Due: wegent-executor

test(backend): mock workspace archive in lookback cleanup test
  backend/tests/services/test_executor_cleanup_progress.py
Due: wegent-backend

fix(wework): preserve cloud model identity in automations (#2652)
  wework/e2e/desktop/modules/desktop-server.mjs
  wework/e2e/desktop/modules/preferences-automation-flows.mjs
  wework/src/components/layout/useWorkbenchPaneSession.ts
  wework/src/features/automations/AutomationDetailWorkspace.test.tsx
  wework/src/features/automations/AutomationDetailWorkspace.tsx
  wework/src/features/automations/automationDraft.test.ts
  wework/src/features/automations/automationDraft.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/pages/AutomationsPage.tsx
Due: none

fix(composer): update caret behavior and value handling in chat composers
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/CompactChatComposer.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.test.tsx
  wework/src/components/chat/composer/ComposerProseMirrorEditor.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
Due: none

fix(wework): preserve focused vitest filters
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  wework/AGENTS.md
  wework/package.json
  wework/scripts/run-vitest.mjs
Due: none

fix(wework): isolate global runtime coordination
  wework/src/App.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/workbenchContextTypes.ts
Due: none

fix(wework): preserve parallel Claude tool results (#2657)
  .github/claude-code-cli/package-lock.json
  .github/claude-code-cli/package.json
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/verify-local-harness-clis.sh
  docker/wework-e2e/desktop.Dockerfile
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  executor/src/server/local_model_proxy/harness_protocol.rs
  wework/e2e/desktop/scenarios/local-terminal.scenario.mjs
  wework/src/App.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/features/workbench/workbenchContextTypes.ts
Due: wegent-executor

fix(wework): preserve focused vitest filters (#2671)
  docs/en/wegent/developer-guide/testing.md
  docs/zh/wegent/developer-guide/testing.md
  wework/AGENTS.md
  wework/package.json
  wework/scripts/run-vitest.mjs
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
