Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix: fix upload video
  frontend/src/__tests__/features/admin/SystemConfigPanel.test.tsx
  frontend/src/features/admin/components/SystemConfigPanel.tsx
Due: wegent-web

fix(backend): defer external knowledge local rag configs
  backend/app/mcp_server/tools/knowledge_external.py
  backend/tests/mcp_server/test_knowledge_external.py
Due: wegent-backend

fix(frontend): trigger runtime check on socket reconnect
  frontend/src/__tests__/features/tasks/contexts/taskContext.runtime-state-machine.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskSessionContext.test.tsx
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/session/consistencyWatcher.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

docs(backend): clarify external knowledge mcp flows
  docs/en/developer-guide/external-knowledge-mcp.md
  docs/zh/developer-guide/external-knowledge-mcp.md
Due: none

fix: fix copy video
  backend/app/services/context/context_service.py
  backend/tests/services/test_context_service.py
Due: wegent-backend

test(e2e): disable playwright retries
  frontend/e2e/config/environment.ts
  frontend/playwright.config.ts
Due: wegent-web

feat(backend): support git token clone on cloud devices
  backend/wecode/api/cloud_devices.py
  backend/wecode/docs/en/cloud-device-git-token-clone.md
  backend/wecode/docs/zh/cloud-device-git-token-clone.md
  backend/wecode/service/cloud_device_git_tokens.py
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
  backend/wecode/tests/test_cloud_device_provider.py
  backend/wecode/tests/test_cloud_device_script.py
  backend/wecode/tests/test_cloud_devices_api.py
Due: wegent-backend

feat(backend): add web runtime guidance prompt
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/request_builder.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/execution/test_web_runtime_guidance.py
  docs/en/developer-guide/dynamic-context.md
  docs/zh/developer-guide/dynamic-context.md
Due: wegent-backend

refactor(frontend): require pull runtime for socket recovery
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

fix(frontend): respect configured default model refs
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
Due: wegent-web

test(e2e): wait for streamed image response
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

test(e2e): wait for auth redirect completion
  frontend/e2e/tests/auth.spec.ts
Due: wegent-web

test(e2e): isolate image browser team state
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
Due: wegent-web

feat: Deduplicate quick-access requests
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
Due: wegent-web

feat: Deduplicate quick-access requests (#1298)
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
Due: wegent-web

fix(frontend): trigger runtime check on socket reconnect (#1293)
  frontend/e2e/config/environment.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/playwright.config.ts
  frontend/src/__tests__/features/tasks/contexts/taskContext.runtime-state-machine.test.tsx
  frontend/src/__tests__/features/tasks/contexts/taskSessionContext.test.tsx
  frontend/src/__tests__/features/tasks/state/TaskStateMachine.test.ts
  frontend/src/features/tasks/session/consistencyWatcher.ts
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-web

fix(ci): restore wework web automatic build
  .gitlab-ci.yml
Due: none

fix(frontend): repair quick access CI failures
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
Due: wegent-web

fix(frontend): repair quick access CI failures (#1299)
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
Due: wegent-web

feat(projects): add git workspace project creation
  backend/app/api/endpoints/projects.py
  backend/app/schemas/project.py
  backend/app/services/device/command_registry.py
  backend/app/services/project_service.py
  backend/tests/schemas/test_project_config_schema.py
  backend/tests/services/test_local_device_command_service.py
  backend/tests/services/test_project_git_workspace_service.py
  docs/en/user-guide/coding/git-workspace-projects.md
  docs/zh/user-guide/coding/git-workspace-projects.md
  shared/tests/utils/test_git_util.py
  shared/utils/git_util.py
  wework/src/api/adapters.test.ts
  wework/src/api/git.ts
  wework/src/api/projects.ts
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/components/projects/ProjectFolderIcon.test.tsx
  wework/src/components/projects/ProjectFolderIcon.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/projectClassification.ts
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/pages/WorkbenchPage.tsx
  wework/src/types/api.ts
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(projects): add git workspace project creation (#1297)
  backend/app/api/endpoints/projects.py
  backend/app/schemas/project.py
  backend/app/services/device/command_registry.py
  backend/app/services/project_service.py
  backend/tests/schemas/test_project_config_schema.py
  backend/tests/services/test_local_device_command_service.py
  backend/tests/services/test_project_git_workspace_service.py
  docs/en/user-guide/coding/git-workspace-projects.md
  docs/zh/user-guide/coding/git-workspace-projects.md
  shared/tests/utils/test_git_util.py
  shared/utils/git_util.py
  wework/src/api/adapters.test.ts
  wework/src/api/git.ts
  wework/src/api/projects.ts
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/MobileDrawer.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/projects/ProjectCreateDialog.test.tsx
  wework/src/components/projects/ProjectCreateDialog.tsx
  wework/src/components/projects/ProjectFolderIcon.test.tsx
  wework/src/components/projects/ProjectFolderIcon.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/projectClassification.ts
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/pages/WorkbenchPage.tsx
  wework/src/types/api.ts
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(executor): pass dynamic system prompt to Claude
  executor/agents/claude_code/config_manager.py
  executor/tests/agents/test_skill_mcp_extraction.py
Due: wegent-executor

feat(wework): improve codex stream rendering (#1285)
  backend/app/services/chat/storage/session.py
  backend/app/services/execution/dispatcher.py
  backend/app/services/execution/emitters/status_updating.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/execution/inprocess_executor.py
  backend/tests/services/chat/storage/test_session_blocks.py
  backend/tests/services/execution/test_emitters.py
  backend/tests/services/execution/test_responses_api_event_parser.py
  executor/agents/codex/event_mapper.py
  executor/pyproject.toml
  executor/tests/agents/test_codex_event_mapper.py
  executor/uv.lock
  shared/models/execution.py
  shared/models/responses_api.py
  shared/models/responses_api_emitter.py
  wework/src/components/chat/MessageList.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/messageReducer.test.ts
  wework/src/features/workbench/messageReducer.ts
  wework/src/types/api.ts
  wework/src/types/workbench.ts
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(backend): add web runtime guidance prompt (#1295)
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/request_builder.py
  backend/tests/services/chat/test_trigger_unified.py
  backend/tests/services/execution/test_web_runtime_guidance.py
  docs/en/developer-guide/dynamic-context.md
  docs/zh/developer-guide/dynamic-context.md
  executor/agents/claude_code/config_manager.py
  executor/tests/agents/test_skill_mcp_extraction.py
Due: wegent-executor, wegent-backend

fix(frontend): open advanced mode for restored models
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
Due: wegent-web

fix(workspace): prepend projects/ prefix for git workspace checkout path
  backend/app/services/execution/request_builder.py
  backend/app/services/project_device_session_service.py
  wework/src/api/environment.ts
Due: wegent-backend

fix(frontend): respect configured default model refs (#1296)
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
Due: wegent-web

fix(workspace): prepend projects/ prefix for git workspace checkout path (#1300)
  backend/app/services/execution/request_builder.py
  backend/app/services/project_device_session_service.py
  wework/src/api/environment.ts
Due: wegent-backend

feat(wework): refine project work menu
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): refine project work menu (#1301)
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

docs(frontend): define page zoom policy
  docs/en/developer-guide/page-zoom-policy.md
  docs/zh/developer-guide/page-zoom-policy.md
Due: none

Show launcher descriptions and hide preset prompts
  frontend/src/__tests__/features/tasks/components/chat/quick-launch/QuickLauncherCards.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/quick-launch/QuickPhraseList.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/QuickPhraseList.tsx
  frontend/src/features/tasks/components/chat/quick-launch/quick-launcher-cards.tsx
Due: wegent-web

Show launcher descriptions and hide preset prompts (#1305)
  frontend/src/__tests__/features/tasks/components/chat/quick-launch/QuickLauncherCards.test.tsx
  frontend/src/__tests__/features/tasks/components/chat/quick-launch/QuickPhraseList.test.tsx
  frontend/src/features/tasks/components/chat/quick-launch/QuickPhraseList.tsx
  frontend/src/features/tasks/components/chat/quick-launch/quick-launcher-cards.tsx
Due: wegent-web

feat(resource-library): present discover as solution market
  docs/en/user-guide/resource-library/README.md
  docs/zh/user-guide/resource-library/README.md
  frontend/src/__tests__/features/resource-library/DiscoverResources.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryPage.test.tsx
  frontend/src/__tests__/features/resource-library/ResourceLibraryRoute.test.tsx
  frontend/src/features/resource-library/ResourceLibraryPage.tsx
  frontend/src/features/resource-library/components/DiscoverResources.tsx
  frontend/src/features/resource-library/components/ResourceDetailDrawer.tsx
  frontend/src/features/resource-library/components/ResourceListingCard.tsx
  frontend/src/i18n/locales/en/resource-library.json
  frontend/src/i18n/locales/zh-CN/resource-library.json
Due: wegent-web

fix(wework): align project task names in sidebar
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

feat(wework): support git worktree execution and management
  backend/app/api/endpoints/projects.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/schemas/kind.py
  backend/app/schemas/project.py
  backend/app/schemas/user.py
  backend/app/services/chat/storage/__init__.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/device/command_registry.py
  backend/app/services/execution/request_builder.py
  backend/app/services/project_service.py
  backend/tests/api/test_user_preferences_api.py
  backend/tests/services/chat/storage/test_task_manager.py
  backend/tests/services/execution/test_request_builder_standalone_workspace.py
  backend/tests/services/test_local_device_command_service.py
  backend/tests/services/test_project_git_workspace_service.py
  docs/en/user-guide/coding/git-workspace-projects.md
  docs/zh/user-guide/coding/git-workspace-projects.md
  wework/src/App.plugins.test.tsx
  wework/src/api/adapters.test.ts
  wework/src/api/projects.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/settings/MobileSettingsPage.test.tsx
  wework/src/components/settings/MobileSettingsPage.tsx
  wework/src/components/settings/WorktreesSettingsPage.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/projectClassification.ts
  wework/src/pages/WorkbenchPage.tsx
  wework/src/types/api.ts
Due: wegent-backend

fix(wework): align desktop title bar controls
  wework/index.html
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/tauri.conf.json
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopTopBar.test.tsx
  wework/src/components/layout/DesktopTopBar.tsx
  wework/src/components/layout/DesktopWindowControls.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/MacOSTitleBarDragRegion.test.tsx
  wework/src/components/layout/MacOSTitleBarDragRegion.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/plugins/PluginCreateMenu.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/lib/pageZoomGuard.test.ts
  wework/src/lib/pageZoomGuard.ts
  wework/src/lib/runtime-environment.ts
  wework/src/main.tsx
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/test/macos-window-chrome.test.ts
Due: none

feat(wework): 删除无用的提交
  docs/en/developer-guide/page-zoom-policy.md
  docs/zh/developer-guide/page-zoom-policy.md
Due: none

fix：折叠侧边栏模式下的 macOS 关闭按钮之间的间距以及其他ui问题 (#1307)
  wework/index.html
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/tauri.conf.json
  wework/src/App.plugins.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopTopBar.test.tsx
  wework/src/components/layout/DesktopTopBar.tsx
  wework/src/components/layout/DesktopWindowControls.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/MacOSTitleBarDragRegion.test.tsx
  wework/src/components/layout/MacOSTitleBarDragRegion.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/plugins/PluginCreateMenu.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/lib/pageZoomGuard.test.ts
  wework/src/lib/pageZoomGuard.ts
  wework/src/lib/runtime-environment.ts
  wework/src/main.tsx
  wework/src/pages/PluginManagementPage.tsx
  wework/src/pages/PluginsPage.tsx
  wework/src/test/macos-window-chrome.test.ts
Due: none

feat(executor_manager): k8s的沙箱加入加 WEGENT_SKILL_IDENTITY_TOKEN 和 WEGENT_SKILL_USER_NAME
  executor_manager/wecode/executors/k8s/build_pod.py
  executor_manager/wecode/executors/k8s/pod_template.yaml
  executor_manager/wecode/executors/warmpool/template_builder.py
Due: wegent-executor-manager

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
