Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(wework): provide mode-specific home plugins
  wework/dsh/app-wework/README.en.md
  wework/dsh/app-wework/README.md
  wework/dsh/app-wework/client.d.ts
  wework/dsh/app-wework/client.js
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/references/extension-points.md
  wework/dsh/ui-home-developer/client.js
  wework/dsh/ui-home-developer/cordis.patch.yml
  wework/dsh/ui-home-developer/index.js
  wework/dsh/ui-home-developer/package.json
  wework/dsh/ui-home-developer/src/home.tsx
  wework/dsh/ui-home-focus/client.js
  wework/dsh/ui-home-focus/cordis.patch.yml
  wework/dsh/ui-home-focus/index.js
  wework/dsh/ui-home-focus/package.json
  wework/dsh/ui-home-focus/src/home.tsx
  wework/dsh/ui-plugins.test.mjs
  wework/e2e/desktop/scenarios/workbench-mode.scenario.mjs
  wework/electron/src/runtime/core-dsh-runtime.test.ts
  wework/electron/src/runtime/core-dsh-runtime.ts
  wework/electron/src/runtime/workbench-mode.test.ts
  wework/electron/src/runtime/workbench-mode.ts
  wework/scripts/lib/core-plugin-resources.mjs
  wework/src/components/layout/DesktopEmptyTaskLauncher.module.css
  wework/src/components/layout/DesktopEmptyTaskLauncher.test.tsx
  wework/src/components/layout/DesktopEmptyTaskLauncher.tsx
  wework/src/components/plugins/CoreDshPluginManagementSection.tsx
  wework/src/features/dsh-runtime/dshUiSlots.ts
  wework/src/features/dsh-runtime/hostExtensionBoundary.test.ts
  wework/src/features/workbench-mode/workbenchMode.ts
  wework/src/test/setup.ts
  wework/vite.config.ts
Due: none

test(wework): await plugin home rendering
  wework/src/components/plugins/PluginCreateWorkspace.test.tsx
Due: none

fix(wework): sync bound work item status (#3345)
  wework/src/api/deliveries.test.ts
  wework/src/api/deliveries.ts
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.test.tsx
  wework/src/components/layout/useWorkbenchCloudProjectContext.ts
Due: none

fix(executor): recover from stale Claude session and surface real error
  executor/src/claude_session.rs
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
Due: wegent-executor

test(wework): wait for mode home contribution
  wework/e2e/desktop/scenarios/workbench-mode.scenario.mjs
Due: none

fix(executor): address review feedback on stale-session recovery
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
Due: wegent-executor

test: tighten shared-team credential boundary assertions
  backend/tests/security/test_team_read_credential_state.py
Due: wegent-backend

fix(wework): disable browser toolbar navigation actions without history or while loading
  wework/e2e/desktop/scenarios/embedded-browser-toolbar-actions.scenario.mjs
  wework/electron/src/host/embedded-browser-manager.test.ts
  wework/electron/src/host/embedded-browser-manager.ts
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/lib/embedded-browser.ts
Due: none

test(executor): move stale-session recovery tests to contract suites
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  executor/tests/stream_parser_contract.rs
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor

test(executor): trigger stale-session branch in contract test
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor

docs(executor): add docstrings for stale-session recovery helpers
  executor/src/claude_session.rs
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
Due: wegent-executor

fix(image): support attachment references for image edits
  backend/app/mcp_server/tools/image_generation.py
  backend/app/services/execution/agents/image/generation_service.py
  backend/init_data/skills/wegent-image-generation/SKILL.md
  backend/tests/services/execution/agents/image/test_generation_service.py
Due: wegent-backend

fix(executor): disable shared codex code mode host
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

chore(image): address review feedback
  backend/init_data/skills/wegent-image-generation/SKILL.md
  backend/tests/services/execution/agents/image/test_generation_service.py
Due: wegent-backend

fix(executor): recover from stale Claude session and surface real error (#3348)
  executor/src/claude_session.rs
  executor/src/process/mod.rs
  executor/src/stream/mod.rs
  executor/tests/stream_parser_contract.rs
  executor/tests/stream_process_engine_contract.rs
Due: wegent-executor

fix(frontend): simplify mobile image generation controls
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/ImageSizeSelector.tsx
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

fix(frontend): keep mobile image size controls tappable
  frontend/src/features/tasks/components/selector/ImageSizeSelector.tsx
Due: wegent-web

feat(wework): enrich focus mode home
  wework/dsh/ui-home-focus/src/home.tsx
  wework/src/components/layout/DesktopEmptyTaskLauncher.test.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

test(wework): wait for browser reload button to enable in multi-tabs e2e
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
Due: none

fix(wework): restore pre-push test concurrency
  .github/workflows/lint.yml
  scripts/hooks/ai-push-gate.sh
  scripts/hooks/test-ai-push-gate.sh
Due: none

docs(wework): document home plugin extension
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/SKILL.md
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/assets/ui-extension-demo/client.js
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/assets/ui-extension-demo/client.test.mjs
Due: none

fix(wework): preserve Codex signing entitlements
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/electron/scripts/prepare-signed-components.mjs
  wework/electron/scripts/prepare-signed-components.test.mjs
  wework/electron/vitest.config.ts
Due: none

fix(execution): preserve cloud model gateway routing
  executor/src/server/local_model_proxy/mod.rs
  frontend/e2e/tests/tasks/provider-native-codex.spec.ts
  frontend/e2e/utils/provider-native-test-support.ts
Due: wegent-executor, wegent-web

fix(wework): restore pre-push test concurrency (#3353)
  .github/workflows/lint.yml
  scripts/hooks/ai-push-gate.sh
  scripts/hooks/test-ai-push-gate.sh
Due: none

test(frontend): wait for code wiki models to load
  frontend/src/__tests__/features/knowledge/document/edit-code-wiki-execution-model.test.tsx
Due: wegent-web

feat(wework): show active goals in task sidebar
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

refactor(wework): share component signing flags
  wework/electron/scripts/prepare-signed-components.mjs
Due: none

fix(wework): preserve Codex signing entitlements (#3354)
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/electron/scripts/prepare-signed-components.mjs
  wework/electron/scripts/prepare-signed-components.test.mjs
  wework/electron/vitest.config.ts
Due: none

feat(wework): show active goals in task sidebar (#3355)
  wework/e2e/desktop/modules/goal-flows.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

test(wework): await browser annotation style rendering
  wework/e2e/desktop/scenarios/embedded-browser-annotation.scenario.mjs
Due: none

fix(execution): harden Codex runtime routing
  .github/workflows/e2e-tests.yml
  backend/app/services/execution/request_builder.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/execution/test_request_builder_mcp.py
  backend/tests/services/test_model_aggregation_service.py
  executor/src/server/local_model_proxy/mod.rs
  frontend/e2e/tests/tasks/provider-native-codex.spec.ts
  frontend/src/__tests__/features/settings/components/team-edit/simple-team-edit-utils.test.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/team-edit/simple-team-edit-utils.ts
  wework/e2e/desktop/scenarios/agent-runtime.scenario.mjs
Due: wegent-executor, wegent-backend, wegent-web

fix(executor): retain codex threads across turns
  docs/en/wework/developer-guide/wework-codex-plugins.md
  docs/zh/wework/developer-guide/wework-codex-plugins.md
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/e2e/desktop/scenarios/runtime-terminal-convergence.scenario.mjs
Due: wegent-executor

feat(wework): provide mode-specific home plugins (#3347)
  wework/dsh/app-wework/README.en.md
  wework/dsh/app-wework/README.md
  wework/dsh/app-wework/client.d.ts
  wework/dsh/app-wework/client.js
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/SKILL.md
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/assets/ui-extension-demo/client.js
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/assets/ui-extension-demo/client.test.mjs
  wework/dsh/plugin-developer/codex-plugin/skills/develop-wework-plugin/references/extension-points.md
  wework/dsh/ui-home-developer/client.js
  wework/dsh/ui-home-developer/cordis.patch.yml
  wework/dsh/ui-home-developer/index.js
  wework/dsh/ui-home-developer/package.json
  wework/dsh/ui-home-developer/src/home.tsx
  wework/dsh/ui-home-focus/client.js
  wework/dsh/ui-home-focus/cordis.patch.yml
  wework/dsh/ui-home-focus/index.js
  wework/dsh/ui-home-focus/package.json
  wework/dsh/ui-home-focus/src/home.tsx
  wework/dsh/ui-plugins.test.mjs
  wework/e2e/desktop/scenarios/embedded-browser-annotation.scenario.mjs
  wework/e2e/desktop/scenarios/workbench-mode.scenario.mjs
  wework/electron/src/runtime/core-dsh-runtime.test.ts
  wework/electron/src/runtime/core-dsh-runtime.ts
  wework/electron/src/runtime/workbench-mode.test.ts
  wework/electron/src/runtime/workbench-mode.ts
  wework/scripts/lib/core-plugin-resources.mjs
  wework/src/components/layout/DesktopEmptyTaskLauncher.module.css
  wework/src/components/layout/DesktopEmptyTaskLauncher.test.tsx
  wework/src/components/layout/DesktopEmptyTaskLauncher.tsx
  wework/src/components/plugins/CoreDshPluginManagementSection.tsx
  wework/src/components/plugins/PluginCreateWorkspace.test.tsx
  wework/src/features/dsh-runtime/dshUiSlots.ts
  wework/src/features/dsh-runtime/hostExtensionBoundary.test.ts
  wework/src/features/workbench-mode/workbenchMode.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/test/setup.ts
  wework/vite.config.ts
Due: none

test(wework): await original view style updates
  wework/e2e/desktop/scenarios/embedded-browser-annotation.scenario.mjs
Due: none

fix(executor): bound idle thread unsubscribe retries
  executor/src/agents/codex.rs
  executor/src/agents/codex/tests.rs
Due: wegent-executor

fix(execution): preserve Wegent gateway endpoint
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_runtime_work_service.py
  executor/src/server/local_model_proxy/mod.rs
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
Due: wegent-executor, wegent-backend

test(e2e): serialize shared executor scenarios
  .github/workflows/e2e-tests.yml
Due: none
