Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(e2e): improve local E2E test runner and fix flaky test (#621)
  frontend/e2e/tests/integration/settings-chat-integration.spec.ts
  scripts/run-e2e-local.sh
Due: wegent-web

fix: chat聊天无法选择技能的问题修复
  frontend/src/features/settings/components/BotEdit.tsx
Due: wegent-web

feat: remove device 5-slot limit, auto-close CC session after each message
  backend/app/schemas/device.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/session_manager.py
  executor/modes/local/runner.py
  frontend/src/app/(tasks)/devices/page.tsx
  frontend/src/contexts/DeviceContext.tsx
  frontend/src/features/devices/components/SlotIndicator.tsx
  frontend/src/features/tasks/components/input/DeviceSelector.tsx
  frontend/src/i18n/locales/en/devices.json
  frontend/src/i18n/locales/zh-CN/devices.json
Due: wegent-executor, wegent-backend, wegent-web

fix(backend): fix langchain embeddings error
  backend/app/api/endpoints/adapter/models.py
Due: wegent-backend

refactor(backend): migrate namespace_members to resource_members
  backend/alembic/versions/a7b8c9d0e1f2_add_role_to_resource_members.py
  backend/app/api/endpoints/groups.py
  backend/app/models/namespace.py
  backend/app/models/namespace_member.py
  backend/app/models/resource_member.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/group_member_helper.py
  backend/app/services/group_permission.py
  backend/app/services/group_service.py
  backend/app/services/readers/group_members.py
  backend/app/services/subscription/follow_service.py
Due: wegent-backend

fix: 修改前端ui展示
  current-page
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/skills/RichSkillSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  settings-page
Due: wegent-web

fix: 删除无用代码
  current-page
  settings-page
Due: none

fix: chat聊天无法选择技能的问题修复 + 修改ui样式 (#632)
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/skills/RichSkillSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat: remove device 5-slot limit, auto-close CC session after each message (#633)
  backend/app/schemas/device.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/session_manager.py
  executor/modes/local/runner.py
  frontend/src/app/(tasks)/devices/page.tsx
  frontend/src/contexts/DeviceContext.tsx
  frontend/src/features/devices/components/SlotIndicator.tsx
  frontend/src/features/tasks/components/input/DeviceSelector.tsx
  frontend/src/i18n/locales/en/devices.json
  frontend/src/i18n/locales/zh-CN/devices.json
Due: wegent-executor, wegent-backend, wegent-web

refactor(backend): migrate namespace_members to resource_members (#634)
  backend/alembic/versions/a7b8c9d0e1f2_add_role_to_resource_members.py
  backend/app/api/endpoints/groups.py
  backend/app/models/namespace.py
  backend/app/models/namespace_member.py
  backend/app/models/resource_member.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/group_member_helper.py
  backend/app/services/group_permission.py
  backend/app/services/group_service.py
  backend/app/services/readers/group_members.py
  backend/app/services/subscription/follow_service.py
Due: wegent-backend

fix(device): prevent device selection reset on new task creation (#614)
  backend/app/api/ws/chat_namespace.py
  backend/app/services/chat/storage/task_manager.py
  frontend/src/features/tasks/components/params/DeviceTaskSync.tsx
Due: wegent-backend, wegent-web

fix: resolve migration and ORM relationship issues
  backend/alembic/versions/a7b8c9d0e1f2_add_role_to_resource_members.py
  backend/app/models/namespace_member.py
  backend/app/services/subscription/follow_service.py
Due: wegent-backend

feat: add support for advanced models in model configuration and selection
  backend/app/api/endpoints/admin/public_models.py
  backend/app/schemas/admin.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  frontend/src/apis/admin.ts
  frontend/src/apis/models.ts
  frontend/src/apis/publicResources.ts
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat: add advanced and standard status options in admin configuration
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
Due: wegent-web

feat(executor): support parallel task execution in local mode
  executor/modes/local/runner.py
Due: wegent-executor

Feat/local runner parallel execution (#636)
  executor/modes/local/runner.py
Due: wegent-executor

refactor(executor): centralize device config sync in config.py
  executor/config/config.py
  executor/main.py
  executor/modes/local/runner.py
Due: wegent-executor

Fix/executor local config sync (#570)
  executor/config/config.py
  executor/main.py
Due: wegent-executor

fix: correct invalid field name in create_group_member
  backend/app/services/group_member_helper.py
Due: wegent-backend

feat: support source code installation (#593)
  README.md
  README_zh.md
  docker-compose.build.yml
  install.sh
Due: none

fix(cloud-device): refactor startup script to reuse shared install script and fix i18n
  backend/wecode/config/nevis_config.py
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
  frontend/wecode/i18n/locales/en/devices.json
  frontend/wecode/i18n/locales/zh-CN/devices.json
Due: wegent-backend, wegent-web

style(backend): fix black formatting in task_manager.py
  backend/app/services/chat/storage/task_manager.py
Due: wegent-backend

fix(cloud-device): fix slots_full shown when slot_max is 0 (unlimited)
  frontend/wecode/components/devices/CloudDeviceSection.tsx
Due: wegent-web

fix(backend): fix GroupRole enum attribute names and add missing requested_at field
  backend/app/api/endpoints/groups.py
  backend/app/services/group_member_helper.py
  backend/app/services/group_service.py
  backend/app/services/share/base_service.py
Due: wegent-backend

feat: add support for advanced models in model configuration and selection (#635)
  backend/app/api/endpoints/admin/public_models.py
  backend/app/schemas/admin.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/model_aggregation_service.py
  frontend/src/apis/admin.ts
  frontend/src/apis/models.ts
  frontend/src/apis/publicResources.ts
  frontend/src/features/admin/components/PublicModelList.tsx
  frontend/src/features/tasks/components/selector/ModelSelector.tsx
  frontend/src/features/tasks/hooks/useModelSelection.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat(cloud-device): add optional mail skill support to cloud device creation
  backend/wecode/api/cloud_devices.py
  backend/wecode/schemas/cloud_device.py
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
  frontend/wecode/apis/cloud-devices.ts
  frontend/wecode/components/devices/CloudDeviceCreateButton.tsx
  frontend/wecode/components/devices/CloudDeviceSection.tsx
  frontend/wecode/i18n/locales/en/wecode.json
  frontend/wecode/i18n/locales/zh-CN/wecode.json
Due: wegent-backend, wegent-web

fix: 更新后端环境变量白名单用户列表
  wecode/docker/backend/.env.example
Due: wegent-backend

fix: 更新云设备创建白名单用户列表
  wecode/docker/backend/.env.example
Due: wegent-backend

fix(backend): fix langchain embeddings error (#631)
  backend/app/api/endpoints/adapter/models.py
Due: wegent-backend

fix: 订阅任务内部不允许创建订阅任务
  backend/tests/api/test_internal_subscription_guard.py
  chat_shell/tests/test_subscription_tool_guard.py
Due: wegent-backend

fix(knowledge): include bound KBs in list_knowledge_bases for group chat members
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/task_knowledge_base_service.py
  backend/app/services/share/knowledge_share_service.py
Due: wegent-backend

fix: 订阅任务执行间隔不允许小于30分钟
  backend/app/api/endpoints/internal/subscriptions.py
  backend/app/services/subscription/helpers.py
  backend/app/services/subscription/market_service.py
  backend/app/services/subscription/service.py
  backend/tests/services/subscription/test_helpers.py
  backend/tests/services/subscription/test_market_service_whitelist.py
  backend/tests/services/subscription/test_subscription_service_market_whitelist.py
  chat_shell/chat_shell/services/context.py
  chat_shell/chat_shell/tools/builtin/create_subscription.py
  chat_shell/tests/test_create_subscription_tool.py
Due: wegent-backend

fix: 自动创建的订阅任务不会自动启用
  backend/app/api/endpoints/internal/subscriptions.py
  backend/tests/api/test_internal_subscription_guard.py
  chat_shell/chat_shell/tools/builtin/create_subscription.py
  chat_shell/tests/test_create_subscription_tool.py
Due: wegent-backend

feat(backend): add video generation mode support
  backend/app/api/ws/events.py
  backend/app/schemas/kind.py
  backend/app/services/execution/agents/__init__.py
  backend/app/services/execution/agents/base.py
  backend/app/services/execution/agents/research_agent.py
  backend/app/services/execution/agents/video/__init__.py
  backend/app/services/execution/agents/video/attachment_uploader.py
  backend/app/services/execution/agents/video/intent_analyzer.py
  backend/app/services/execution/agents/video/providers/__init__.py
  backend/app/services/execution/agents/video/providers/base.py
  backend/app/services/execution/agents/video/providers/seedance.py
  backend/app/services/execution/agents/video/video_agent.py
  backend/app/services/execution/polling_dispatcher.py
  backend/app/services/execution/request_builder.py
  backend/app/services/execution/router.py
Due: wegent-backend

feat(git): implement saving git token to SSH for secure access
  executor/agents/claude_code/claude_code_agent.py
  shared/utils/git_util.py
Due: wegent-executor-manager, wegent-executor

feat(video): enhance video generation settings with capabilities and unified controls
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/agents/video/intent_analyzer.py
  backend/app/services/execution/agents/video/providers/seedance.py
  backend/app/services/execution/agents/video/video_agent.py
  backend/app/services/model_aggregation_service.py
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/VideoInputControls.tsx
  frontend/src/features/tasks/components/selector/VideoSettingsPopover.tsx
  frontend/src/features/tasks/components/selector/index.ts
  frontend/src/features/tasks/hooks/useVideoModelSelection.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

feat(video): enhance video generation settings with capabilities and unified controls (#643)
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/public_model.py
  backend/app/services/adapters/task_kinds/queries.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/execution/agents/video/intent_analyzer.py
  backend/app/services/execution/agents/video/providers/seedance.py
  backend/app/services/execution/agents/video/video_agent.py
  backend/app/services/model_aggregation_service.py
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/input/ChatInputCard.tsx
  frontend/src/features/tasks/components/input/ChatInputControls.tsx
  frontend/src/features/tasks/components/input/VideoInputControls.tsx
  frontend/src/features/tasks/components/selector/VideoSettingsPopover.tsx
  frontend/src/features/tasks/components/selector/index.ts
  frontend/src/features/tasks/hooks/useVideoModelSelection.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web
