Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

Fix task sidebar time grouping to use natural week
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

Add Gerrit Repository Provider Support (#163)
  backend/app/repository/gerrit_provider.py
  backend/app/repository/gitee_provider.py
  backend/app/repository/github_provider.py
  backend/app/repository/gitlab_provider.py
  backend/app/schemas/user.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/repository.py
  backend/app/services/user.py
  docker/executor/Dockerfile
  executor/agents/base.py
  executor/tasks/__init__.py
  frontend/src/features/settings/components/GitHubEdit.tsx
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/services/github.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
  shared/utils/git_util.py
  shared/utils/url_util.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix: 更新镜像版本并修复依赖项
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/searchable-select.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/tasks/components/DifyAppSelector.tsx
  frontend/src/features/tasks/components/DifyParamsForm.tsx
  frontend/src/features/tasks/components/FinalPromptMessage.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/types/api.ts
Due: wegent-web

fix(response_processor): update retry message for clarity in error handling
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

fix(response_processor): update retry message for clarity in response
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

fix(k8s_executor): implement task cancellation functionality in K8sExecutor
  executor_manager/wecode/executors/k8s/k8s_executor.py
Due: wegent-executor-manager

fix: support markdown code block parsing in PM Battle clarification questions (#158)
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

Refactor shell type classification architecture
  backend/app/schemas/kind.py
  backend/app/services/adapters/shell_utils.py
  backend/app/services/adapters/team_kinds.py
  backend/init_data/02-public-shells.yaml
  executor/agents/dify/dify_agent.py
  executor/agents/factory.py
  frontend/src/types/api.ts
Due: wegent-executor, wegent-backend, wegent-web

feat(response_processor): implement API error retry mechanism with session tracking (#169)
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

Fix task sidebar time grouping to use natural week (#171)
  frontend/src/features/tasks/components/TaskSidebar.tsx
Due: wegent-web

refactor: refactor delete git token api
  backend/app/api/endpoints/users.py
  backend/app/services/user.py
  frontend/src/apis/user.ts
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/services/github.ts
Due: wegent-backend, wegent-web

refactor: refactor delete git token api (#172)
  backend/app/api/endpoints/users.py
  backend/app/services/user.py
  frontend/src/apis/user.ts
  frontend/src/features/settings/components/GitHubIntegration.tsx
  frontend/src/features/settings/services/github.ts
Due: wegent-backend, wegent-web

chore: update docker-compose.yml to version 1.0.8
  docker-compose.yml
Due: none

Implement Dify-specific bot configuration UI
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/DifyBotConfig.tsx
Due: wegent-web

Fix TypeScript lint errors in DifyBotConfig
  frontend/src/features/settings/components/DifyBotConfig.tsx
Due: wegent-web

Improve Dify app loading UX with manual trigger
  frontend/src/features/settings/components/DifyBotConfig.tsx
Due: wegent-web

Refactor Dify integration to use official API endpoints
  backend/app/api/endpoints/adapter/dify.py
  frontend/src/features/settings/components/DifyBotConfig.tsx
Due: wegent-backend, wegent-web

Add i18n translations for Dify bot configuration
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

Fix DifyAgent configuration extraction from task_data
  executor/agents/dify/dify_agent.py
Due: wegent-executor

Support multiple Dify application modes (Chat, Chatflow, Workflow)
  executor/agents/dify/dify_agent.py
Due: wegent-executor

feat: add collapsible parameter form and auto-save app mode for Dify
  executor/agents/dify/dify_agent.py
  frontend/src/features/settings/components/DifyBotConfig.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-web

feat: fetch Dify app parameters in real-time during validation
  frontend/src/features/settings/components/DifyBotConfig.tsx
Due: wegent-web

feat(backend): integrate Alembic database migration system
  backend/.env.example
  backend/README.md
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/0c086b93f8b9_initial_migration.py
  backend/app/core/config.py
  backend/app/main.py
  docker-compose.yml
Due: wegent-backend

feat: add task-level external API parameter configuration
  backend/app/api/endpoints/adapter/teams.py
  backend/app/services/adapters/team_kinds.py
  executor/agents/dify/dify_agent.py
  frontend/src/apis/team.ts
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ExternalApiParamsInput.tsx
Due: wegent-executor, wegent-backend, wegent-web

feat: add encryption support for Dify API keys in agent_config
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/adapters/team_kinds.py
  executor/agents/dify/dify_agent.py
  shared/utils/crypto.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

feat(frontend): add collapsible mode for task sidebar
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/ResizableSidebar.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/task-list-scrollbar.css
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat(frontend): add collapsible mode for task sidebar (#176)
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/ResizableSidebar.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/task-list-scrollbar.css
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat(backend): integrate Alembic database migration system (#177)
  AGENTS.md
  backend/.env.example
  backend/README.md
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/0c086b93f8b9_initial_migration.py
  backend/app/core/config.py
  backend/app/core/yaml_init.py
  backend/app/main.py
  docker-compose.yml
  docs/en/README.md
  docs/en/guides/developer/database-migrations.md
  docs/zh/README.md
  docs/zh/guides/developer/database-migrations.md
Due: wegent-backend

chore: update docker-compose.yml to version 1.0.9
  docker-compose.yml
Due: none

chore: add production config for wecode
  wecode/docker/backend/.env.example
Due: wegent-backend

fix(backend): prevent notification when subtasks are still running
  backend/app/services/adapters/executor_kinds.py
Due: wegent-backend

feat(response_processor): enhance API error handling with retry logic in response processing
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

feat(response_processor): enhance API error handling with retry logic in response processing (#180)
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

feat: remove unused data models
  backend/app/models/__init__.py
  backend/app/models/kind.py
Due: wegent-backend

fix: remove unused data models
  backend/alembic/versions/0c086b93f8b9_initial_migration.py
Due: wegent-backend

Update data models (#181)
  backend/alembic/versions/0c086b93f8b9_initial_migration.py
  backend/app/models/__init__.py
  backend/app/models/kind.py
Due: wegent-backend

fix(backend): prevent notification when subtasks are still running (#179)
  backend/app/services/adapters/executor_kinds.py
Due: wegent-backend

feat(backend): implement Skill management for Claude Code Skills
  backend/alembic/versions/1a2b3c4d5e6f_add_skill_binaries_table.py
  backend/app/api/endpoints/kind/__init__.py
  backend/app/api/endpoints/kind/skills.py
  backend/app/models/__init__.py
  backend/app/models/skill_binary.py
  backend/app/schemas/bot.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/adapters/skill_kinds.py
  backend/app/services/skill_service.py
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor, wegent-backend

feat(backend): implement Skill management system for Claude Code
  backend/alembic/versions/a1b2c3d4e5f6_add_skill_binaries_table.py
  backend/app/api/endpoints/kind/__init__.py
  backend/app/api/endpoints/kind/skills.py
  backend/app/models/__init__.py
  backend/app/models/skill_binary.py
  backend/app/schemas/bot.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/bot_kinds.py
  backend/app/services/skill_service.py
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor, wegent-backend

fix: fix bug of session resume
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
