Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

feat(backend): 添加服务启动检测脚本
  backend/app/api/endpoints/health.py
Due: wegent-backend

feat(backend): 移除接口请求限制中间件 (#547)
  backend/app/api/endpoints/health.py
  backend/app/main.py
Due: wegent-backend

fix: fix chat
  backend/app/api/endpoints/adapter/chat.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/services/chat/chat_service.py
  frontend/src/app/admin/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/group-chat/CreateGroupChatDialog.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

fix: fix groupchat
  backend/app/api/ws/chat_namespace.py
  frontend/src/contexts/SocketContext.tsx
  frontend/src/features/tasks/components/TaskParamSync.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
Due: wegent-backend, wegent-web

fix: support groupchat attachments
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

fix: fix ws
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  frontend/src/features/layout/TaskTitleDropdown.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

fix: allow group chat members to share and export tasks
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/services/shared_task.py
Due: wegent-backend

fix: fixed the logic for shared task checking and message sending.
  backend/app/api/ws/chat_namespace.py
  backend/app/services/export/docx_generator.py
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-backend, wegent-web

feat: added group chat fields to preserve sender information.
  backend/app/schemas/shared_task.py
  backend/app/services/shared_task.py
Due: wegent-backend

fix: fix unread status
  backend/app/api/endpoints/adapter/chat.py
  backend/app/api/ws/chat_namespace.py
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/utils/taskViewStatus.ts
Due: wegent-backend, wegent-web

fix: allow group chat members to share and export tasks (#548)
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/ws/chat_namespace.py
  backend/app/schemas/shared_task.py
  backend/app/services/export/docx_generator.py
  backend/app/services/shared_task.py
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-backend, wegent-web

fix: fix groupchat
  backend/app/api/endpoints/subtasks.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/chat/ai_trigger.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/subtask.py
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/TaskListSection.tsx
  frontend/src/features/tasks/components/TaskMenu.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/ThinkingComponent.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/contexts/taskContext.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

fix: support ws proxy
  frontend/package-lock.json
  frontend/package.json
  frontend/server.cjs
  frontend/src/contexts/SocketContext.tsx
  wecode/docker/frontend/Dockerfile
  wecode/docker/frontend_preview/.env.local
  wecode/docker/frontend_preview/Dockerfile
Due: wegent-web

fix(frontend): enable mention feature immediately after converting single chat to group chat
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/group-chat/TaskMembersPanel.tsx
Due: wegent-web

feat(backend): add LangGraph Chat Service module
  backend/app/api/endpoints/v2/__init__.py
  backend/app/api/endpoints/v2/chat.py
  backend/app/services/langgraph_chat/README.md
  backend/app/services/langgraph_chat/__init__.py
  backend/app/services/langgraph_chat/agents/__init__.py
  backend/app/services/langgraph_chat/config.py
  backend/app/services/langgraph_chat/isolation/__init__.py
  backend/app/services/langgraph_chat/multimodal/__init__.py
  backend/app/services/langgraph_chat/providers/__init__.py
  backend/app/services/langgraph_chat/providers/anthropic_provider.py
  backend/app/services/langgraph_chat/providers/base.py
  backend/app/services/langgraph_chat/providers/factory.py
  backend/app/services/langgraph_chat/providers/gemini_provider.py
  backend/app/services/langgraph_chat/providers/openai_provider.py
  backend/app/services/langgraph_chat/service.py
  backend/app/services/langgraph_chat/state/__init__.py
  backend/app/services/langgraph_chat/storage/__init__.py
  backend/app/services/langgraph_chat/streaming/__init__.py
  backend/app/services/langgraph_chat/telemetry/__init__.py
  backend/app/services/langgraph_chat/tools/__init__.py
  backend/app/services/langgraph_chat/tools/base.py
  backend/app/services/langgraph_chat/tools/builtin/__init__.py
  backend/app/services/langgraph_chat/tools/builtin/web_search.py
  backend/app/services/langgraph_chat/tools/mcp/__init__.py
  backend/app/services/langgraph_chat/tools/mcp/adapter.py
  backend/app/services/langgraph_chat/tools/mcp/client.py
  backend/app/services/langgraph_chat/tools/mcp/session.py
  backend/app/services/langgraph_chat/tools/skills/__init__.py
  backend/app/services/langgraph_chat/tools/skills/file_reader.py
  backend/app/services/langgraph_chat/tools/skills/registry.py
  backend/pyproject.toml
Due: wegent-backend

fix(frontend): resolve double-click message blank issue in task list (#549)
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
Due: wegent-web

fix(frontend): resolve TypeScript errors in Socket.IO integration
  frontend/src/app/api/chat/stream/route.ts
  frontend/src/contexts/SocketContext.tsx
Due: wegent-web

fix(rag): address CodeRabbit review issues for RAG functionality
  backend/app/api/rag.py
  backend/app/schemas/kind.py
  backend/app/schemas/rag.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/rag/document_service.py
  backend/app/services/rag/embedding/custom.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/splitter/splitter.py
  backend/app/services/rag/storage/base.py
  backend/app/services/rag/storage/elasticsearch_backend.py
  backend/app/services/rag/storage/qdrant_backend.py
Due: wegent-backend

fix(frontend): resolve TypeScript errors in Socket.IO integration (#552)
  frontend/src/app/api/chat/stream/route.ts
  frontend/src/contexts/SocketContext.tsx
Due: wegent-web

fix(frontend): ensure task list and detail refresh after converting to group chat
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/group-chat/AddMembersDialog.tsx
Due: wegent-web

fix(backend): restore web search tool support in chat mode
  backend/app/services/chat/ai_trigger.py
Due: wegent-backend

fix(frontend): prevent infinite loop in member list refresh
  frontend/src/features/tasks/components/group-chat/TaskMembersPanel.tsx
Due: wegent-web

refactor: 修改域名
  wecode/docker/frontend/.env.local
  wecode/docker/frontend_preview/.env.local
Due: wegent-web

fix(rag): address CodeRabbit review issues for RAG functionality
  backend/app/schemas/kind.py
  backend/app/services/adapters/retriever_kinds.py
  backend/app/services/rag/document_service.py
  backend/app/services/rag/embedding/custom.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/splitter/splitter.py
  backend/app/services/rag/storage/elasticsearch_backend.py
Due: wegent-backend

fix(backend): restore web search tool support in chat mode (#553)
  backend/app/services/chat/ai_trigger.py
Due: wegent-backend

fix(frontend): resolve ChatInput issues with newline indentation, team badge display, and add tooltip (#528)
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/components/ChatInput.tsx
  frontend/src/features/tasks/components/SendButton.tsx
  frontend/src/features/tasks/components/TaskParamSync.tsx
  frontend/src/features/tasks/hooks/useUnifiedMessages.ts
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-web

refactor: 回退前端dockerfile本地代理变更
  wecode/docker/frontend/Dockerfile
  wecode/docker/frontend_preview/Dockerfile
Due: wegent-web

feat(ui): add model category type selector and filter to model management
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
Due: wegent-web

feat: add multi-type model support (LLM, TTS, STT, Embedding, Rerank)
  backend/app/api/endpoints/adapter/models.py
  backend/app/schemas/kind.py
  backend/app/services/model_aggregation_service.py
  frontend/src/apis/models.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat(knowledge): 支持配置Embedding模型
  backend/app/api/endpoints/adapter/models.py
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/wizard/steps/PreviewAdjustStep.tsx
  frontend/src/features/tasks/components/ModelSelector.tsx
Due: wegent-backend, wegent-web

feat(knowledge): 支持配置Embedding模型
  backend/app/api/endpoints/adapter/models.py
  backend/app/schemas/kind.py
  backend/app/services/model_aggregation_service.py
Due: wegent-backend

feat(knowledge): 支持配置Embedding模型
  backend/app/api/endpoints/adapter/models.py
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
Due: wegent-backend, wegent-web

feat: adapt new embedding model
  AGENTS.md
  README.md
  README_zh.md
  backend/app/api/rag.py
  backend/app/main.py
  backend/app/schemas/kind.py
  backend/app/schemas/rag.py
  backend/app/services/rag/__init__.py
  backend/app/services/rag/document_service.py
  backend/app/services/rag/embedding/__init__.py
  backend/app/services/rag/embedding/custom.py
  backend/app/services/rag/embedding/factory.py
  backend/app/services/rag/index/__init__.py
  backend/app/services/rag/index/chunker.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/retrieval/__init__.py
  backend/app/services/rag/retrieval/filters.py
  backend/app/services/rag/retrieval/retriever.py
  backend/app/services/rag/retrieval_service.py
  backend/app/services/rag/splitter/__init__.py
  backend/app/services/rag/splitter/splitter.py
  backend/app/services/rag/storage/__init__.py
  backend/app/services/rag/storage/base.py
  backend/app/services/rag/storage/elasticsearch_backend.py
  backend/app/services/rag/storage/factory.py
  backend/app/services/rag/storage/qdrant_backend.py
  backend/app/services/rag/utils.py
  docker-compose.yml
  docs/en/guides/user/configuring-retrievers.md
  docs/zh/guides/user/configuring-retrievers.md
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/RetrieverEditDialog.tsx
Due: wegent-backend, wegent-web

feat: update rag doc_id to doc_ref
  AGENTS.md
  backend/app/api/rag.py
  backend/app/schemas/rag.py
  backend/app/services/rag/README.md
  backend/app/services/rag/document_service.py
  backend/app/services/rag/index/indexer.py
  backend/app/services/rag/storage/base.py
  backend/app/services/rag/storage/elasticsearch_backend.py
  backend/app/services/rag/storage/qdrant_backend.py
  docs/en/guides/user/configuring-retrievers.md
  docs/zh/guides/user/configuring-retrievers.md
Due: wegent-backend

fix(frontend): resolve race condition and ensure proper callback timing
  frontend/src/features/tasks/components/group-chat/AddMembersDialog.tsx
  frontend/src/features/tasks/components/group-chat/TaskMembersPanel.tsx
Due: wegent-web

fix: onMembersChanged with useCallback
  frontend/src/features/tasks/components/MessagesArea.tsx
Due: wegent-web

feat(frontend): rename history title to my chats and add search/mark-read to group chats
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web
