Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix cr
  backend/app/api/endpoints/oidc.py
  backend/app/services/k_batch.py
Due: wegent-backend

fix ci yaml
  .gitlab-ci.yml
Due: none

修复team分享yem
  .gitlab-ci.yml
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/settings/components/TeamList.tsx
  frontend/src/features/settings/components/TeamShareModal.tsx
  frontend/src/features/tasks/components/TeamSelector.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/utils/styles.ts
  wecode/docker/frontend_preview/.env.local
  wecode/docker/frontend_preview/Dockerfile
  wecode/docker/frontend_preview/prepare_build.sh
Due: wegent-web

修复语言切换 && 任务页面点击链接以新标签页面打开网页
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/i18n/setup.ts
Due: wegent-web

对其分享team文案
  frontend/src/features/tasks/components/TeamSelector.tsx
Due: wegent-web

调整思考页面尺寸，使其居中显示
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/ThinkingComponent.tsx
Due: wegent-web

前端请求后端时token进行url encode
  frontend/src/features/tasks/components/TeamShareHandler.tsx
Due: wegent-web

feat(claude_code_agent): add hook loading mechanism and WeCode-specific post-creation hook
  backend/wecode/api/claude_hooks.py
  executor/agents/claude_code/claude_code_agent.py
  wecode/docker/executor/Dockerfile
  wecode/docker/executor/claude_hooks.json
Due: wegent-executor, wegent-backend

fix(Dockerfile): update path for claude_hooks.json to reflect new directory structure
  wecode/docker/executor/Dockerfile
Due: wegent-executor

fix(Dockerfile, prepare_build.sh): update paths for wecode and claude_hooks.json to align with new directory structure
  wecode/docker/executor/Dockerfile
  wecode/docker/executor/prepare_build.sh
Due: wegent-executor

feat(claude_hooks): implement WeCode-specific hooks and configuration for Claude Code Agent
  executor/wecode/__init__.py
  executor/wecode/api/__init__.py
  executor/wecode/api/claude_hooks.py
  wecode/docker/executor/Dockerfile
  wecode/docker/executor/claude_hooks.json
Due: wegent-executor

feat(Dockerfile): configure DNF to use Aliyun mirror for faster package installation
  wecode/docker/executor/Dockerfile
Due: wegent-executor

fix(Dockerfile): remove Aliyun mirror configuration for DNF
  wecode/docker/executor/Dockerfile
Due: wegent-executor

feat: 添加配额管理端点并更新管理员密码
  backend/app/api/api.py
  backend/app/api/endpoints/quota.py
  backend/init.sql
  backend/wecode/api/__init__.py
  backend/wecode/api/copilot_proxy.py
  backend/wecode/api/quota_endpoint_patch.py
  backend/wecode/init_data.sql
Due: wegent-backend

Translate Chinese comments and logs to English
  backend/app/services/k_batch.py
  docker/base/build.sh
  docker/executor/Dockerfile
  executor/agents/agno/team_builder.py
  executor/agents/base.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
  frontend/scripts/generate-locales.js
  frontend/src/features/layout/DocsButton.tsx
  frontend/src/features/settings/components/BotList.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/features/tasks/components/TeamShareHandler.tsx
  frontend/src/features/tasks/service/teamService.ts
  frontend/src/i18n/setup.ts
  frontend/src/utils/styles.ts
  shared/models/task.py
  wecode/docker/executor/Dockerfile
  wecode/docker/frontend/Dockerfile
  wecode/docker/frontend_preview/Dockerfile
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

支持指定用户设置最大执行任务上限
  executor_manager/config/config.py
  executor_manager/wecode/config/config.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
Due: wegent-executor-manager

feat: 添加新的公共shell记录
  backend/init.sql
  backend/wecode/init_data.sql
Due: wegent-backend

tmp: 开源版本
  backend/app/api/api.py
Due: wegent-backend

fix: 添加wecode api导入以加载内部路由
  backend/app/api/api.py
Due: wegent-backend

quota & model support empty
  frontend/src/apis/copilot.ts
  frontend/src/apis/quota.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/tasks/components/QuotaUsage.tsx
Due: wegent-web

fix quota
  frontend/src/features/tasks/components/QuotaUsage.tsx
Due: wegent-web

调整前端样式
  frontend/.env.local
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/TeamEdit.tsx
  frontend/src/features/tasks/components/QuotaUsage.tsx
  wecode/docker/frontend/.env.local
  wecode/docker/frontend_preview/.env.local
Due: wegent-web

style(frontend): 调整消息区域和思考组件的样式
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/ThinkingComponent.tsx
Due: wegent-web

修改quota显示
  backend/wecode/api/quota_endpoint_patch.py
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

reduce front image size
  docker-compose.yml
  docker/frontend/Dockerfile
  frontend/.dockerignore
  frontend/.env.local
Due: wegent-web

修复claude setting透传的问题
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

add readme_zh.md
  README.md
  README_zh.md
Due: none

fix(response_processor): improve error logging and return FAILED status on error, update claude_agent_sdk to version 0.1.4
  executor/agents/claude_code/response_processor.py
  executor/requirements.txt
Due: wegent-executor

修复setup日志报错的问题
  executor/agents/agno/agno_agent.py
  executor/agents/agno/thinking_step_manager.py
Due: wegent-executor

update contributors
  README.md
  README_zh.md
Due: none

添加任务类型label
  executor_manager/executors/docker/executor.py
  executor_manager/wecode/executors/k8s/build_pod.py
  executor_manager/wecode/executors/k8s/pod_template.yaml
Due: wegent-executor-manager

feat(claude_code): claude code 生成代码接入 AI 代码生成占比；claude code 升级到 2.0.25
  docker/base/Dockerfile
  executor/agents/claude_code/claude_code_agent.py
  executor/requirements.txt
  executor/wecode/api/claude_hooks.py
  wecode/docker/base/Dockerfile
  wecode/docker/base/build.sh
  wecode/docker/executor/Dockerfile
  wecode/docker/executor/file_change_sender.py
Due: wegent-executor

支持离线任务
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/executors.py
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/kind/common.py
  backend/app/api/endpoints/kind/kinds.py
  backend/app/core/security.py
  backend/app/schemas/task.py
  backend/app/schemas/user.py
  backend/app/services/adapters/executor_kinds.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/user.py
Due: wegent-backend

feat: 添加任务类型字段并限制用户同时运行任务数量
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds.py
Due: wegent-backend

添加github star展示
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/features/layout/GithubStarButton.tsx
  frontend/src/features/layout/UserMenu.tsx
Due: wegent-web

优化查询task列表方法
  backend/app/services/adapters/task_kinds.py
Due: wegent-backend

fix Repository.length=0
  frontend/src/features/tasks/components/RepositorySelector.tsx
Due: wegent-web

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
