Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(backend): preserve executor handoff atomically
  backend/app/services/subtask.py
  backend/app/stores/tasks/__init__.py
  backend/app/stores/tasks/interfaces.py
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/services/test_subtask_store_integration.py
  backend/wecode/task_sharding/subtask_store.py
  backend/wecode/tests/task_sharding/test_subtask_store.py
Due: wegent-backend

fix(ci): preserve E2E results on diagnostics upload failure
  .github/workflows/wework-e2e.yml
Due: none

fix(executor): re-key persisted worktree records on load
  executor/src/runtime_work/worktrees.rs
Due: wegent-executor

fix(wework): preserve real exit status from the Windows sidecar
  wework/scripts/dev-executor-sidecar.cmd
Due: none

chore: enforce CRLF for Windows batch scripts
  .gitattributes
Due: none

fix(wework): stabilize detached inspector verification
  wework/electron/src/host/embedded-browser-manager.test.ts
  wework/electron/src/host/embedded-browser-manager.ts
Due: none

test(wework): assert pending issue board placement
  wework/e2e/desktop/modules/workspace-flows.mjs
Due: none

fix(backend): prioritize regenerated executor handoff
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/services/test_subtask_store_integration.py
  backend/wecode/task_sharding/subtask_store.py
  backend/wecode/task_sharding/task_store.py
  backend/wecode/tests/task_sharding/test_subtask_store.py
  backend/wecode/tests/task_sharding/test_task_store.py
Due: wegent-backend

fix(wework): bypass execution policy in prepare subprocesses
  wework/scripts/dev-windows-app.ps1
Due: none

fix(executor): keep the newest record when re-keying collides
  executor/src/runtime_work/worktrees.rs
Due: wegent-executor

fix(wework): return child exit status without delayed expansion
  wework/scripts/dev-executor-sidecar.cmd
Due: none

fix(wework): restore issue task composer and attachments (#3018)
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/task-detail-layout.css
Due: none

fix(wework): expose release signing keychain (#3017)
  .github/workflows/wework-app.yml
  wework/electron/scripts/build-release.mjs
  wework/electron/src/host/embedded-browser-manager.test.ts
  wework/electron/src/host/embedded-browser-manager.ts
  wework/scripts/deepseek-harness-signing.test.mjs
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/lib/deepseek-harness-signing.mjs
  wework/scripts/prepare-execution-runtime.mjs
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

chore: use pwsh instead of Windows PowerShell
  executor/src/runtime_work/local_connector_auth.rs
  wework/dsh/terminal-runtime/terminal-runtime.js
  wework/electron/src/host/local-workspace-openers.ts
  wework/package.json
  wework/scripts/dev-windows-app.ps1
Due: wegent-executor

fix(wework): prevent duplicate streaming message updates
  executor/src/runtime_work/events.rs
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/desktop/localExecutor.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationStreamCoordinator.test.ts
  wework/src/features/workbench/runtimeConversationStreamCoordinator.ts
  wework/src/features/workbench/runtimePaneMessages.ts
Due: wegent-executor

fix(wework): launch legacy signer on Windows
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/prepare-desktop-release-assets.mjs
Due: none

fix(wework): persist renderer storage across restarts
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/renderer-storage.scenario.mjs
  wework/electron/src/host/capability-router.ts
  wework/electron/src/host/electron-capabilities.test.ts
  wework/electron/src/host/electron-capabilities.ts
  wework/electron/src/host/renderer-storage-store.test.ts
  wework/electron/src/host/renderer-storage-store.ts
  wework/electron/src/host/startup-splash.test.ts
  wework/electron/src/host/startup-splash.ts
  wework/electron/src/main.ts
  wework/electron/src/runtime/desktop-runtime.ts
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/src/desktop/localStoragePersistence.test.ts
  wework/src/desktop/localStoragePersistence.ts
  wework/src/e2e/automation.ts
  wework/src/main.tsx
Due: none

docs(wework): document renderer storage persistence
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

feat(knowledge): 添加单篇钉钉文档导入当前知识库
  backend/alembic/versions/20260826_c5d6e7f8a9b0_add_knowledge_document_external_identity.py
  backend/app/api/endpoints/knowledge.py
  backend/app/models/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/external_document_import.py
  backend/app/services/knowledge/external_document_providers.py
  backend/app/services/knowledge/knowledge_service.py
  backend/app/services/knowledge/orchestrator.py
  backend/app/tasks/knowledge_tasks.py
  backend/tests/api/endpoints/test_knowledge_external_import.py
  backend/tests/models/test_knowledge_document_external_identity_migration.py
  backend/tests/services/knowledge/test_external_document_import.py
  backend/tests/tasks/test_external_import_task.py
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/src/types/knowledge.ts
Due: wegent-backend, wegent-web

fix(wework): launch legacy signer on Windows (#3020)
  wework/scripts/desktop-resource-migration.test.mjs
  wework/scripts/prepare-desktop-release-assets.mjs
Due: none

fix(wework): wait for retained workspace in streaming e2e
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

revert(executor): drop the persisted record re-key migration
  executor/src/runtime_work/worktrees.rs
Due: wegent-executor

feat(video): support dark mode in video panels
  frontend/wecode/features/video/components/CarouselView.tsx
  frontend/wecode/features/video/components/ImageLightbox.tsx
  frontend/wecode/features/video/components/PanelCloseButton.tsx
  frontend/wecode/features/video/components/SingleDescriptionInput.tsx
  frontend/wecode/features/video/components/videoTheme.module.css
  frontend/wecode/features/video/composition/ClipInspector.tsx
  frontend/wecode/features/video/composition/ClipTimeline.tsx
  frontend/wecode/features/video/composition/CompositionEditor.tsx
  frontend/wecode/features/video/composition/CompositionPreview.tsx
  frontend/wecode/features/video/composition/FinalCoverPickerDialog.tsx
  frontend/wecode/features/video/entity/EntityDescriptionEditor.tsx
  frontend/wecode/features/video/entity/EntityThumbnailStrip.tsx
  frontend/wecode/features/video/script/ScriptPanel.tsx
  frontend/wecode/features/video/storyboard/StoryboardPanel.tsx
  frontend/wecode/features/video/storyboard/StoryboardVersionSelector.tsx
  frontend/wecode/features/video/storyboard/StoryboardVideoPreview.tsx
Due: wegent-web

feat: 修复市场智能体调整积分之后 智智能体显示加载失败的问题
  backend/app/services/resource_library_service.py
  backend/tests/api/endpoints/test_admin_marketplace.py
  backend/tests/services/test_resource_library_service.py
  frontend/public/marketplace-covers/system/one-minute-creative-video.webp
  frontend/public/marketplace-covers/system/video-generation.webp
  frontend/public/marketplace-icons/agents/one-minute-creative-video.png
Due: wegent-backend, wegent-web

test(wework): assert retained streaming surface
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

fix(wework): persist renderer storage across restarts (#3021)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/renderer-storage.scenario.mjs
  wework/electron/src/host/capability-router.ts
  wework/electron/src/host/electron-capabilities.test.ts
  wework/electron/src/host/electron-capabilities.ts
  wework/electron/src/host/renderer-storage-store.test.ts
  wework/electron/src/host/renderer-storage-store.ts
  wework/electron/src/host/startup-splash.test.ts
  wework/electron/src/host/startup-splash.ts
  wework/electron/src/main.ts
  wework/electron/src/runtime/desktop-runtime.ts
  wework/scripts/ai-verify.mjs
  wework/scripts/ai-verify.test.mjs
  wework/src/desktop/localStoragePersistence.test.ts
  wework/src/desktop/localStoragePersistence.ts
  wework/src/e2e/automation.ts
  wework/src/main.tsx
Due: none

feat: 调整日志输出 避免有大量噪声日志
  backend/app/core/socketio.py
Due: wegent-backend

fix(execution): preserve Claude sessions across recovery (#3016)
  .github/workflows/wework-e2e.yml
  backend/app/api/endpoints/internal/workspace_archives.py
  backend/app/services/execution/recovery_service.py
  backend/app/services/execution/request_builder.py
  backend/app/services/workspace_archive/archive_service.py
  backend/tests/api/endpoints/internal/test_workspace_archives_api.py
  backend/tests/services/execution/test_recovery_service.py
  backend/tests/services/execution/test_request_builder_fork_runtime.py
  backend/tests/services/workspace_archive/test_archive_service.py
  executor/src/claude_session.rs
  executor/src/emitter/mod.rs
  executor/src/envd/archive.rs
  executor/src/local/backend/tasks.rs
  executor/src/runner/mod.rs
  executor/src/server/mod.rs
  executor/tests/emitter_contract.rs
  executor/tests/envd_archive_contract.rs
Due: wegent-executor, wegent-backend

fix(wework): ignore stale running transcripts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: none

fix(wework): harden renderer storage persistence
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/scenarios/renderer-storage.scenario.mjs
  wework/electron/src/host/renderer-storage-store.test.ts
  wework/electron/src/host/renderer-storage-store.ts
  wework/electron/src/host/startup-splash.test.ts
  wework/electron/src/host/startup-splash.ts
  wework/src/desktop/localStoragePersistence.test.ts
  wework/src/desktop/localStoragePersistence.ts
  wework/src/main.tsx
Due: none

test(wework): normalize rendered streaming text
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

test(wework): ignore rendered paragraph whitespace
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
Due: none

fix(wework): run Windows hooks through PowerShell
  executor/src/hooks/command.rs
Due: wegent-executor

fix(wework): ignore stale running transcripts (#3022)
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.test.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
Due: none

fix(wework): harden renderer storage persistence (#3023)
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/scenarios/renderer-storage.scenario.mjs
  wework/electron/src/host/renderer-storage-store.test.ts
  wework/electron/src/host/renderer-storage-store.ts
  wework/electron/src/host/startup-splash.test.ts
  wework/electron/src/host/startup-splash.ts
  wework/src/desktop/localStoragePersistence.test.ts
  wework/src/desktop/localStoragePersistence.ts
  wework/src/main.tsx
Due: none

fix(wework): centralize runtime conversation stream
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeConversationStreamCoordinator.test.ts
  wework/src/features/workbench/runtimeConversationStreamCoordinator.ts
Due: none

feat(knowledge): 支持钉钉目录浏览与批量导入
  backend/app/api/endpoints/knowledge.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge/external_document_import.py
  backend/tests/api/endpoints/test_knowledge_external_import.py
  backend/tests/services/knowledge/test_external_document_import.py
  frontend/src/__tests__/features/knowledge/document/document-upload-dingtalk.test.tsx
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DingtalkDocumentImport.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/FolderSelect.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

feat(wework): unify application layouts
  design-qa.md
  wework/src/App.plugins.test.tsx
  wework/src/components/sites/ApplicationContextToolbar.tsx
  wework/src/components/sites/SitesWorkspace.test.tsx
  wework/src/components/sites/SitesWorkspace.tsx
  wework/src/components/sites/applicationTypeDefinitions.tsx
  wework/src/components/smart-apps/SmartAppsSectionNav.test.tsx
  wework/src/components/smart-apps/SmartAppsSectionNav.tsx
  wework/src/i18n/locales/en/sites.json
  wework/src/i18n/locales/zh-CN/sites.json
  wework/src/pages/SitesPage.tsx
  wework/src/pages/SmartAppsMarketplacePage.test.tsx
  wework/src/pages/SmartAppsMarketplacePage.tsx
Due: none
