Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): reclaim stale runtime storage (#2535)
  docs/en/wework/developer-guide/wework-local-data-directory.md
  docs/zh/wework/developer-guide/wework-local-data-directory.md
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/storage_maintenance.rs
Due: none

fix(wework): clear diff copy timer on unmount
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
Due: none

fix(wework): deduplicate resumed streaming messages (#2536)
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/e2e/desktop/scenarios/streaming-text.scenario.mjs
  wework/src/e2e/automation.ts
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
Due: none

test(wework): cover diff copy timer lifecycle
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
Due: none

fix(wework): remove leaking plugin prefetch
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): show sidebar scroll affordances (#2533)
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

fix(wework): restore filtered user questions
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(wework): preserve restored question order
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

feat(wework): embedded browser multi-tab
  plans/wework-browser-multi-tabs.md
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/browser-tabs/browserTabs.test.ts
  wework/src/features/browser-tabs/browserTabs.ts
Due: none

fix(wework): restore filtered user questions (#2537)
  docs/en/wework/developer-guide/wework-chat-state-sources.md
  docs/zh/wework/developer-guide/wework-chat-state-sources.md
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(executor): harden warm pool task lifecycle (#2497)
  backend/app/services/chat/trigger/unified.py
  backend/init_data/skills/sandbox/claude_tool.py
  backend/tests/init_data/skills/sandbox/test_claude_tool.py
  backend/tests/services/chat/test_trigger_unified.py
  executor/src/heartbeat.rs
  executor/src/server/mod.rs
  executor_manager/executors/docker/executor.py
  executor_manager/routers/routers.py
  executor_manager/services/sandbox/manager.py
  executor_manager/services/sandbox/repository.py
  executor_manager/tests/routers/test_delete_executor_routes.py
  executor_manager/tests/services/test_sandbox_manager.py
  executor_manager/utils/executor_info.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(wework): lower transient notice to avoid browser toolbar clip
  wework/src/components/common/TransientNotice.tsx
Due: none

feat(wework): embedded browser multi-tab
  plans/wework-browser-multi-tabs.md
Due: none

fix(wework): support MiniMax Token Plan regions
  docs/en/wework/settings.md
  docs/zh/wework/settings.md
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/model-settings/localModelProviders.test.ts
  wework/src/features/model-settings/localModelProviders.ts
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

style: 移除多余的空行
  docs/README.md
Due: none

docs: 添加快速开始说明中的空行
  executor_manager/README.md
Due: wegent-executor-manager

docs: 修正README中的格式问题
  executor_manager/README.md
Due: wegent-executor-manager

feat(knowledge): add video segment playback
  backend/app/services/media/weibo_media_service.py
  backend/tests/api/test_knowledge_video_play.py
  backend/wecode/api/knowledge_video_play.py
  chat_shell/chat_shell/tools/builtin/knowledge_base.py
  chat_shell/tests/test_knowledge_injection_strategy.py
  frontend/src/__tests__/features/knowledge/multimodal/useVideoPlayUrl.test.tsx
  frontend/src/__tests__/features/knowledge/multimodal/videoTimestampPromptGuard.test.ts
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/multimodal/components/MultimodalPromptEditor.tsx
  frontend/src/features/knowledge/multimodal/components/MultimodalVideoPreview.tsx
  frontend/src/features/knowledge/multimodal/components/ReanalyzeMultimodalDialog.tsx
  frontend/src/features/knowledge/multimodal/components/VideoTimestampPromptWarningDialog.tsx
  frontend/src/features/knowledge/multimodal/hooks/useVideoTimestampPromptGuard.tsx
  frontend/src/features/knowledge/multimodal/utils/videoTimestampPromptGuard.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
  frontend/wecode/__tests__/features/knowledge/video-segment-source-opener.test.tsx
  frontend/wecode/features/knowledge/video-segment-source-opener.tsx
  knowledge_doc_converter/knowledge_doc_converter/tasks/multimodal_task.py
  knowledge_engine/knowledge_engine/ingestion/pipeline.py
  knowledge_engine/knowledge_engine/ingestion/video_segment.py
  knowledge_engine/tests/test_ingestion_pipeline.py
  knowledge_engine/tests/test_video_segment.py
Due: wegent-backend, wegent-web

style: 修正README_zhmd中的格式问题
  executor_manager/README_zh.md
Due: wegent-executor-manager

fix(wework): fix continue-to-private-chat for local runtime tasks
  backend/app/services/runtime_work_service.py
  wework/src/api/hybrid/hybridServices.ts
Due: wegent-backend

feat(wework): embedded browser multi-tab
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/lib/embedded-browser.ts
Due: none

feat(wework): embedded browser multi-tab
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

fix(wework): support MiniMax Token Plan regions (#2538)
  docs/en/wework/settings.md
  docs/zh/wework/settings.md
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ModelSettingsPage.tsx
  wework/src/features/model-settings/localModelProviders.test.ts
  wework/src/features/model-settings/localModelProviders.ts
  wework/src/features/model-settings/localModelSettings.test.ts
  wework/src/features/model-settings/localModelSettings.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): embedded browser multi-tab
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

feat(backend): 升级视频理解默认模型为qwen3.7-plus
  backend/app/core/config.py
Due: wegent-backend

feat(wework): embedded browser multi-tab
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
Due: none

feat(robot-queue): resilient device dispatch with visible execution failures
  backend/app/api/endpoints/internal/robot_queue.py
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/delivery.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/loop_items/service.py
  backend/app/tasks/robot_queue_tasks.py
  backend/tests/services/test_robot_queue_tasks.py
  design-demos/task-comment-project-picker.html
  wework/src/api/deliveries.ts
  wework/src/features/todo/ExecutionProjectPicker.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/task-detail-layout.css
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat: 调整ui
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/features/todo/ExecutionProjectPicker.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): fix continue-to-private-chat for local runtime tasks (#2539)
  backend/app/services/runtime_work_service.py
  wework/src/api/hybrid/hybridServices.ts
Due: wegent-backend

feat(wework): embedded browser multi-tab
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): deduplicate personal marketplace aliases
  wework/src/components/plugins/marketplaceCatalogMerge.test.ts
  wework/src/components/plugins/marketplaceCatalogMerge.ts
Due: none

fix(wework): let fullscreen shell follow viewport
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/App.apps.test.tsx
  wework/src/App.plugins.test.tsx
  wework/src/App.tsx
Due: none

修复看板无法自动化执行的问题 (#2542)
  backend/app/api/endpoints/internal/robot_queue.py
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/delivery.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/loop_items/service.py
  backend/app/tasks/robot_queue_tasks.py
  backend/tests/services/test_robot_queue_tasks.py
  design-demos/task-comment-project-picker.html
  wework/src/api/deliveries.ts
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/task-detail-layout.css
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

feat(wework): embedded browser multi-tab
  wework/src/components/layout/DesktopAppSwitcher.tsx
Due: none

fix(wework): serialize native viewport updates
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/src/App.apps.test.tsx
  wework/src/App.plugins.test.tsx
  wework/src/App.tsx
  wework/src/App.viewport.test.tsx
  wework/src/hooks/useTauriViewportSize.ts
Due: none

feat(knowledge): warn when uploading long videos
  frontend/src/__tests__/features/knowledge/multimodal/video-duration.test.ts
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/multimodal/utils/video-duration.ts
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

feat(wework): support multi-tab built-in browser (#2540)
  executor/src/browser_mcp.rs
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/embedded-browser-agent.scenario.mjs
  wework/e2e/desktop/scenarios/embedded-browser-multi-tabs.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/bridge_server.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/embedded_browser_diagnostics.js
  wework/src-tauri/src/lib.rs
  wework/src/components/layout/BufferedChatInput.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanelContainer.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanelContainer.tsx
  wework/src/features/browser-tabs/browserPopupRouting.test.ts
  wework/src/features/browser-tabs/browserPopupRouting.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/embedded-browser-diagnostics.test.ts
  wework/src/lib/embedded-browser.test.ts
  wework/src/lib/embedded-browser.ts
Due: wegent-executor

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
