Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): retry composer plugin picker after empty install race
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/composer/PluginPickerMenu.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(wework): clear trial plugin name when dismissing recommendation strip
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

fix(wework): support legacy macOS WebKit
  docs/en/wegent/getting-started/installation.md
  docs/zh/wegent/getting-started/installation.md
  patches/@pierre__diffs@1.2.11.patch
  patches/mdast-util-gfm-autolink-literal@2.0.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wework/package.json
  wework/scripts/check-entry-webkit-compatibility.mjs
  wework/vite.config.ts
Due: none

fix: recent team usage
  backend/app/api/endpoints/users.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/group_permission.py
  backend/tests/api/endpoints/test_user_quick_access.py
  backend/wecode/task_sharding/task_store.py
  backend/wecode/tests/task_sharding/test_task_store.py
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileTeamSelector.tsx
  frontend/src/features/tasks/components/selector/TeamSelector.tsx
  frontend/src/features/tasks/components/selector/TeamSelectorButton.tsx
  frontend/src/features/tasks/components/selector/useRecentTeams.ts
Due: wegent-backend, wegent-web

fix: clear agent selection on close
  frontend/src/__tests__/features/tasks/utils/task-query-params.test.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/utils/task-query-params.ts
Due: wegent-web

fix: fix dingtalk channel
  backend/app/services/im/notification_dispatcher.py
  backend/tests/services/im/test_notification_dispatcher.py
Due: wegent-backend

fix(plugins): harden marketplace sync and composer plugin inventory
  backend/app/api/endpoints/installed_plugins.py
  backend/app/services/plugin_device_installation_service.py
  backend/app/services/plugin_marketplace_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/local/codexPlugins.ts
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/PluginPickerMenu.test.tsx
  wework/src/components/chat/composer/PluginPickerMenu.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
  wework/src/components/chat/composer/composerAppsSnapshot.test.ts
  wework/src/components/chat/composer/composerAppsSnapshot.ts
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/installedPluginMerge.test.ts
  wework/src/components/plugins/installedPluginMerge.ts
  wework/src/features/plugins/composerPluginMetadata.test.ts
  wework/src/features/plugins/composerPluginMetadata.ts
  wework/src/features/plugins/loadComposerPluginApps.test.ts
  wework/src/features/plugins/loadComposerPluginApps.ts
  wework/src/features/plugins/pluginTrial.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

fix(wework): align plugin trial mocks with marketplace refresh
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
Due: none

fix(wework): keep marketplace mention path without relabeling source
  wework/src/components/plugins/PluginsWorkspace.tsx
Due: none

fix(wework): adapt sites create path after miniapp merge
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/pages/SitesPage.tsx
Due: none

fix(wework): force-refresh composer apps after plugin changes
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
Due: none

fix(wework): wait for marketplace reinstall state after uninstall
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

feat(wework): confirm composer autocomplete selection with Tab
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
Due: none

feat(wework): support local file browser URLs
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
Due: none

fix: declare root uv project python requirement to >=3.10
  pyproject.toml
  uv.lock
Due: none

fix: clear agent selection on close (#2443)
  frontend/src/__tests__/features/tasks/utils/task-query-params.test.ts
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/utils/task-query-params.ts
Due: wegent-web

fix(wework): remove hardcoded model pricing table from telemetry
  wework/src/features/workbench/useAiGenerationTelemetry.test.ts
  wework/src/features/workbench/useAiGenerationTelemetry.ts
Due: none

feat(backend): project robot queue dispatch with cloud model gateway
  backend/alembic/versions/20260804_a1f4c8d9e2b7_add_loop_item_ai_assignee.py
  backend/alembic/versions/20260805_d2e3f4a5b6c7_add_loop_item_executions.py
  backend/app/api/api.py
  backend/app/api/endpoints/cloud_projects.py
  backend/app/api/endpoints/deliveries.py
  backend/app/api/endpoints/internal/robot_queue.py
  backend/app/api/endpoints/loop_item_executions.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/celery_app.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/delivery.py
  backend/app/models/loop_item_execution.py
  backend/app/models/project_chat_message.py
  backend/app/schemas/cloud_project.py
  backend/app/schemas/delivery.py
  backend/app/schemas/project_chat.py
  backend/app/services/chat/trigger/unified.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/loop_item_executions/wake.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_chat/service.py
  backend/app/tasks/robot_queue_tasks.py
  backend/tests/api/test_cloud_projects_api.py
  backend/tests/services/test_loop_item_assignment.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_chat_service.py
  backend/tests/services/test_robot_queue_tasks.py
Due: wegent-backend

feat(executor): robot queue runtime RPC and model proxy gateway routing
  executor/src/local/app_ipc.rs
  executor/src/local/backend.rs
  executor/src/local/backend/socket_transport.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/robot_queue_rpc.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/server/local_model_proxy/mod.rs
  executor/src/task_runtime/aitable_provider.rs
  executor/src/task_runtime/issue_provider.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/mod.rs
  executor/src/task_runtime/model.rs
  executor/src/task_runtime/router.rs
  executor/src/task_runtime/store.rs
  executor/tests/space_mcp_contract.rs
Due: wegent-executor

feat(wework): project space robot queue and AI task execution UI
  wework/e2e/desktop/scenarios/cloud-space-mention.scenario.mjs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/backend/projectChatSocket.ts
  wework/src/api/deliveries.test.ts
  wework/src/api/deliveries.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localDelivery.ts
  wework/src/api/local/localServices.ts
  wework/src/api/projectChatAgents.test.ts
  wework/src/api/projectChatAgents.ts
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/features/todo/CloudProjectManageView.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/ProjectQueueView.test.tsx
  wework/src/features/todo/ProjectQueueView.tsx
  wework/src/features/todo/ProjectSpaceChatSidebar.test.tsx
  wework/src/features/todo/RuntimeTaskExecutionOverlay.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.test.ts
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/task-detail-layout.css
  wework/src/features/todo/taskAiExecution.test.ts
  wework/src/features/todo/taskAiExecution.ts
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeModelOverride.test.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/features/workbench/workbenchServices.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(executor): preserve Kimi K3 root tool schema
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
Due: wegent-executor

feat(wework): support local file browser URLs
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
Due: none

fix(executor): normalize untyped Kimi anyOf branches
  executor/src/server/local_model_proxy/chat.rs
Due: wegent-executor

fix(executor): share warm pool for non-git tasks
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor_manager/tests/wecode/executors/test_k8s_executor.py
  executor_manager/wecode/config/config.py
  executor_manager/wecode/executors/k8s/k8s_executor.py
  executor_manager/wecode/executors/warmpool/constants.py
Due: wegent-executor-manager

feat(wework): restore external mention support in composer
  wework/src/components/chat/ChatInput.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/chat/composer/ProjectChatComposer.tsx
Due: none

feat(wework): support local file browser URLs
  wework/src-tauri/src/embedded_browser/data_clearing.rs
Due: none

fix(executor): satisfy cargo fmt and clippy checks
  executor/src/local/app_ipc.rs
  executor/src/local/backend.rs
  executor/src/local/backend/socket_transport.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/robot_queue_rpc.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/server/local_model_proxy/mod.rs
  executor/src/task_runtime/mcp.rs
  executor/src/task_runtime/router.rs
  executor/src/task_runtime/store.rs
  executor/tests/space_mcp_contract.rs
Due: wegent-executor

fix(executor): preserve Kimi K3 root tool schema (#2445)
  docs/en/wework/developer-guide/wework-cloud-model-proxy.md
  docs/zh/wework/developer-guide/wework-cloud-model-proxy.md
  executor/src/server/local_model_proxy/chat.rs
  executor/src/server/local_model_proxy/mod.rs
Due: wegent-executor

fix(wework): guard Tab menu confirm during IME composition
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
  wework/src/components/chat/composer/ComposerTextarea.tsx
  wework/src/components/plugins/plugin-dialogs/PluginUseCaseGuideDialog.test.tsx
Due: none

feat: enhance recent teams functionality to distinguish between code and non-code tasks
  backend/app/api/endpoints/users.py
  backend/app/services/adapters/team_kinds.py
  backend/app/services/group_permission.py
  backend/tests/api/endpoints/test_user_quick_access.py
  frontend/src/__tests__/apis/user.quick-access.test.ts
  frontend/src/apis/user.ts
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
  frontend/src/features/tasks/components/selector/MobileTeamSelector.tsx
  frontend/src/features/tasks/components/selector/TeamSelector.tsx
  frontend/src/features/tasks/components/selector/TeamSelectorButton.tsx
  frontend/src/features/tasks/components/selector/useRecentTeams.ts
Due: wegent-backend, wegent-web

fix(backend): require docs MCP for wikispace sync and drop raw response logs
  backend/app/services/dingtalk_wikispace_service.py
  backend/tests/services/test_dingtalk_wikispace_service.py
Due: wegent-backend

feat(admin): scale task run metrics with redis
  backend/alembic/versions/20260805_c0d1e2f3a4b5_add_subtask_run_stats_index.py
  backend/alembic/versions/20260806_e1f2a3b4c5d6_add_subtask_status_changed_at.py
  backend/app/api/endpoints/admin/task_run_monitor.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/schemas/admin_task_runs.py
  backend/app/services/admin_task_run_stats.py
  backend/app/services/jobs.py
  backend/app/services/task_run_metric_hooks.py
  backend/app/services/task_run_metrics.py
  backend/app/services/task_run_metrics_reconciler.py
  backend/app/stores/tasks/sqlalchemy_subtask_store.py
  backend/tests/services/test_admin_task_run_stats.py
  backend/tests/services/test_task_run_metrics.py
  frontend/src/__tests__/features/admin/TaskRunMonitorPanel.test.tsx
  frontend/src/apis/admin.ts
  frontend/src/features/admin/components/TaskRunMonitorPanel.tsx
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/zh-CN/admin.json
  shared/models/db/subtask.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

chore(db): merge migration heads
  backend/alembic/versions/20260806_f1a2b3c4d5e6_merge_task_metrics_and_marketplace_heads.py
Due: wegent-backend

fix(frontend): restore dingtalk sync entry with three-state CTAs
  frontend/src/__tests__/features/tasks/components/chat/DingTalkKnowledgePicker.test.tsx
  frontend/src/features/tasks/components/chat/DingTalkKnowledgePicker.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-web

test(wework): cover Tab during IME composition
  wework/src/components/chat/composer/ComposerTextarea.test.tsx
Due: none

feat(wework): support local file browser URLs
  wework/src/components/chat/AssistantMarkdown.tsx
  wework/src/components/chat/MessageList.test.tsx
Due: none

fix(wework): handle inaccessible e2e process groups
  wework/e2e/desktop/process-lifecycle.mjs
  wework/src/e2e/desktop-process-lifecycle.test.ts
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
