Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(executor): keep attachment types disjoint
  executor/src/attachments/prompt_processor.rs
  executor/tests/attachment_prompt_processor_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-executor

fix(wework): remove large backdrop blur surfaces
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

docs(wework): document large surface memory guidance
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
Due: none

fix(export): 隐藏消息关联的知识库信息并统一 DOCX 中英文字体 (#2187)
  backend/app/services/export/docx_generator.py
  backend/app/services/shared_task.py
  backend/tests/services/test_docx_generator_fonts.py
  backend/tests/services/test_docx_generator_prompt_sanitization.py
  frontend/src/features/tasks/components/message/MessagesArea.tsx
Due: wegent-backend, wegent-web

fix(backend): route loop item task validation through store
  backend/app/services/loop_items/service.py
  backend/tests/services/test_loop_items_service.py
Due: wegent-backend

fix(wework): prevent cached titlebar overlap
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): keep cloud authorization window visible
  wework/src/lib/cloud-authorization-window.test.ts
  wework/src/lib/cloud-authorization-window.ts
Due: none

docs(wework): document cloud authorization window behavior
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
Due: none

fix(wework): keep cloud authorization window visible (#2195)
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  wework/src/lib/cloud-authorization-window.test.ts
  wework/src/lib/cloud-authorization-window.ts
Due: none

fix: recognize pasted ZIP attachments in Codex (#2191)
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/agents/codex.rs
  executor/src/attachments/prompt_processor.rs
  executor/tests/attachment_prompt_processor_contract.rs
  executor/tests/codex_attachment_input_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/e2e/automation.ts
Due: wegent-executor

perf(wework): remove large backdrop blur surfaces (#2192)
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): prevent cached titlebar overlap (#2194)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

test(wework): target shared titlebar controls in desktop e2e
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

test(wework): target shared titlebar controls in desktop e2e (#2196)
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

refactor(export): 清理 PDF 知识库导出死代码
  frontend/src/features/tasks/components/share/ExportSelectModal.tsx
  frontend/src/utils/pdf/index.ts
  frontend/src/utils/pdf/renderers/message.ts
  frontend/src/utils/pdf/types.ts
Due: wegent-web

fix(export): 完善公开分享知识库上下文过滤
  backend/app/services/shared_task.py
  backend/tests/services/test_shared_task_prompt_sanitization.py
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

refactor(export): 优化公开分享上下文查询
  backend/app/services/export/docx_generator.py
  backend/app/services/shared_task.py
  backend/tests/services/test_docx_generator_fonts.py
  backend/tests/services/test_docx_generator_prompt_sanitization.py
  backend/tests/services/test_shared_task_prompt_sanitization.py
Due: wegent-backend

fix(export): 修复公开分享上下文类型注解
  backend/app/services/shared_task.py
Due: wegent-backend

test(wework): stabilize desktop workspace state e2e
  backend/app/services/loop_items/service.py
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-backend

fix(wework): unify executor model catalog
  backend/app/services/loop_items/service.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/test_model_aggregation_service.py
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  executor/src/runtime_work/handler/tests.rs
  executor/src/server/codex_model_catalog.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/features/cloud-connection/modelExecution.test.ts
  wework/src/features/cloud-connection/modelExecution.ts
  wework/src/features/model-settings/codexOfficialModels.test.ts
  wework/src/features/model-settings/codexOfficialModels.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
  wework/src/features/workbench/workbenchProviderHelpers.ts
Due: wegent-executor, wegent-backend

test(wework): stabilize desktop workspace state e2e (#2197)
  backend/app/services/loop_items/service.py
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-backend

feat: 修复由于sql调整导致的代码调整
  backend/app/models/delivery.py
  backend/app/schemas/cloud_file.py
  backend/app/schemas/cloud_project.py
  backend/app/schemas/delivery.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/delivery/service.py
  backend/app/services/loop_items/service.py
  backend/tests/schemas/test_delivery.py
  wework/e2e/desktop/task-flow.e2e.mjs
Due: wegent-backend

fix(wework): unify executor model catalog (#2199)
  backend/app/services/loop_items/service.py
  backend/app/services/model_aggregation_service.py
  backend/tests/services/test_model_aggregation_service.py
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/en/wework/developer-guide/wework-cloud-connection.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  docs/zh/wework/developer-guide/wework-cloud-connection.md
  executor/src/runtime_work/handler/tests.rs
  executor/src/server/codex_model_catalog.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelector.tsx
  wework/src/features/cloud-connection/modelExecution.test.ts
  wework/src/features/cloud-connection/modelExecution.ts
  wework/src/features/model-settings/codexOfficialModels.test.ts
  wework/src/features/model-settings/codexOfficialModels.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/runtimeModelSelection.test.ts
  wework/src/features/workbench/runtimeModelSelection.ts
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
  wework/src/features/workbench/workbenchProviderHelpers.ts
Due: wegent-executor, wegent-backend

fix(backend): validate loop item tasks through store
  backend/app/services/loop_items/service.py
  backend/tests/api/test_deliveries_api.py
Due: wegent-backend

fix(wework): gate experimental workspace features
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(backend): validate loop item tasks through store (#2201)
  backend/app/services/loop_items/service.py
  backend/tests/api/test_deliveries_api.py
Due: wegent-backend

fix(wework): gate experimental workspace features (#2202)
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

feat(wework): support local multi-directory projects (#2177)
  design-qa.md
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  executor/src/runtime_work/codex_global_state.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/workspaces.rs
  executor/tests/app_runtime_work_workspace_contract.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/api/executorAccess.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.ts
  wework/src/api/runtimeWork.ts
  wework/src/components/chat/composer/ProjectWorkBar.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/projects/LocalProjectCreateDialog.test.tsx
  wework/src/components/projects/LocalProjectCreateDialog.tsx
  wework/src/components/projects/LocalProjectEditDialog.test.tsx
  wework/src/components/projects/LocalProjectEditDialog.tsx
  wework/src/components/projects/StandaloneProjectDialogs.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/useWorkbenchProjectActions.ts
  wework/src/features/workbench/useWorkbenchRuntimeMessaging.ts
  wework/src/features/workbench/workbenchContextTypes.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/native-directory-picker.test.ts
  wework/src/lib/native-directory-picker.ts
  wework/src/types/api.ts
Due: wegent-executor

feat: 不修改e2e
  wework/e2e/desktop/task-flow.e2e.mjs
Due: none

fix(wework): stop transcript gap scroll jumping
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(wework): stop transcript gap scroll jumping (#2203)
  docs/en/wegent/developer-guide/runtime-local-work.md
  docs/zh/wegent/developer-guide/runtime-local-work.md
  wework/src/components/chat/ScrollableMessageArea.test.tsx
  wework/src/components/chat/ScrollableMessageArea.tsx
Due: none

fix(wework): align selector typography
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
  wework/src/components/chat/composer/ProjectWorkBar.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/chat/composer/WorktreeBranchSelector.tsx
  wework/src/components/common/BranchSelector.tsx
Due: none

docs(wework): document selector typography
  wework/DESIGN.md
Due: none

fix(wework): restore navigation after cached pane activation
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(wework): collapse dev instance badge by default
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
Due: none

docs(wework): document compact dev diagnostics
  wework/DESIGN.md
Due: none

fix(wework): align selector typography (#2204)
  wework/DESIGN.md
  wework/src/components/chat/composer/ModelSelector.test.tsx
  wework/src/components/chat/composer/ModelSelectorTrigger.tsx
  wework/src/components/chat/composer/ProjectWorkBar.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/chat/composer/WorktreeBranchSelector.tsx
  wework/src/components/common/BranchSelector.tsx
Due: none

fix(wework): collapse dev instance badge by default (#2205)
  wework/DESIGN.md
  wework/src/App.apps.test.tsx
  wework/src/App.tsx
Due: none

feat: 修复由于sql调整导致的代码调整 (#2200)
  backend/app/models/delivery.py
  backend/app/schemas/cloud_file.py
  backend/app/schemas/cloud_project.py
  backend/app/schemas/delivery.py
  backend/app/services/cloud_projects/service.py
  backend/app/services/delivery/service.py
  backend/app/services/loop_items/service.py
  backend/tests/schemas/test_delivery.py
Due: wegent-backend

fix(wework): restore Codex failed turns
  docs/en/wegent/developer-guide/architecture.md
  docs/zh/wegent/developer-guide/architecture.md
  executor/src/runtime_work/handler/helpers/transcript.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/turns.rs
  executor/src/runtime_work/transcript.rs
  wework/e2e/desktop/task-flow.e2e.mjs
  wework/src/features/workbench/runtimePaneMessages.test.ts
  wework/src/features/workbench/runtimePaneMessages.ts
  wework/src/types/api.ts
Due: wegent-executor
