Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix: add task data (#497)
  backend/app/api/endpoints/wizard.py
  backend/app/services/chat/model_resolver.py
Due: wegent-backend

feat: add multi-type model support (LLM, TTS, STT, Embedding, Rerank)
  backend/app/api/endpoints/adapter/models.py
  backend/app/schemas/kind.py
  backend/app/services/model_aggregation_service.py
  frontend/src/apis/models.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

refactor: refactor pdf-generator
  frontend/src/features/tasks/components/ExportPdfButton.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/utils/pdf-generator.ts
  frontend/src/utils/pdf/constants.ts
  frontend/src/utils/pdf/emoji.ts
  frontend/src/utils/pdf/font.ts
  frontend/src/utils/pdf/generator.ts
  frontend/src/utils/pdf/index.ts
  frontend/src/utils/pdf/markdown.ts
  frontend/src/utils/pdf/renderers/base.ts
  frontend/src/utils/pdf/renderers/index.ts
  frontend/src/utils/pdf/renderers/message.ts
  frontend/src/utils/pdf/types.ts
  frontend/src/utils/pdf/utils.ts
Due: wegent-web

refactor: refactor pdf-generator (#501)
  frontend/src/features/tasks/components/ExportPdfButton.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/utils/pdf-generator.ts
  frontend/src/utils/pdf/constants.ts
  frontend/src/utils/pdf/emoji.ts
  frontend/src/utils/pdf/font.ts
  frontend/src/utils/pdf/generator.ts
  frontend/src/utils/pdf/index.ts
  frontend/src/utils/pdf/markdown.ts
  frontend/src/utils/pdf/renderers/base.ts
  frontend/src/utils/pdf/renderers/index.ts
  frontend/src/utils/pdf/renderers/message.ts
  frontend/src/utils/pdf/types.ts
  frontend/src/utils/pdf/utils.ts
Due: wegent-web

fix(opentelemetry): 修复问题
  backend/app/api/dependencies.py
  backend/app/api/endpoints/adapter/chat.py
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/core/logging.py
  backend/app/main.py
  executor/agents/agno/agno_agent.py
  executor/agents/claude_code/claude_code_agent.py
  executor/main.py
  executor_manager/executors/docker/executor.py
  executor_manager/routers/routers.py
  shared/logger.py
  shared/telemetry/context/__init__.py
  shared/telemetry/context/span.py
  shared/telemetry/providers.py
Due: wegent-executor-manager, wegent-executor, wegent-backend

fix(black): 格式化
  backend/app/api/dependencies.py
  backend/app/api/endpoints/adapter/chat.py
  backend/app/core/logging.py
  backend/app/main.py
Due: wegent-backend

feat(ui): add model category type selector and filter to model management
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
Due: wegent-web

feat: add thudm search
  wecode/docker/backend/.env.example
Due: wegent-backend

fix(black): 修复requestId
  executor/main.py
  executor/tasks/task_processor.py
  executor_manager/tasks/task_processor.py
Due: wegent-executor-manager, wegent-executor

feat(knowledge): 支持配置Embedding模型
  backend/app/api/endpoints/adapter/models.py
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/BotEdit.tsx
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
  frontend/src/features/settings/components/wizard/steps/PreviewAdjustStep.tsx
  frontend/src/features/tasks/components/ModelSelector.tsx
Due: wegent-backend, wegent-web

feat(knowledge): 支持配置Embedding模型
  backend/app/api/endpoints/adapter/models.py
  frontend/src/apis/models.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/components/ModelList.tsx
Due: wegent-backend, wegent-web

feat(knowledge): 支持配置Embedding模型
  backend/app/api/endpoints/adapter/models.py
  backend/app/schemas/kind.py
  backend/app/services/model_aggregation_service.py
Due: wegent-backend

add knowledge (#503)
  .github/workflows/test.yml
  README.md
  backend/alembic/versions/j0k1l2m3n4o5_add_knowledge_tables.py
  backend/app/api/api.py
  backend/app/api/endpoints/knowledge.py
  backend/app/models/__init__.py
  backend/app/models/knowledge.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/kind_factory.py
  backend/app/services/kind_impl.py
  backend/app/services/knowledge_service.py
  frontend/src/apis/knowledge.ts
  frontend/src/app/(tasks)/knowledge/page.tsx
  frontend/src/features/knowledge/KnowledgeTabs.tsx
  frontend/src/features/knowledge/document/components/CreateKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/DeleteDocumentDialog.tsx
  frontend/src/features/knowledge/document/components/DeleteKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentItem.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/features/knowledge/document/components/EditDocumentDialog.tsx
  frontend/src/features/knowledge/document/components/EditKnowledgeBaseDialog.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseCard.tsx
  frontend/src/features/knowledge/document/components/KnowledgeBaseList.tsx
  frontend/src/features/knowledge/document/components/KnowledgeDocumentPage.tsx
  frontend/src/features/knowledge/document/components/index.ts
  frontend/src/features/knowledge/document/hooks/index.ts
  frontend/src/features/knowledge/document/hooks/useDocuments.ts
  frontend/src/features/knowledge/document/hooks/useKnowledgeBases.ts
  frontend/src/features/knowledge/document/index.ts
  frontend/src/features/knowledge/index.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/knowledge.ts
  shared/.coveragerc
  shared/pytest.ini
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

feat(fix): fix
  backend/app/api/endpoints/health.py
  backend/app/core/graceful_shutdown.py
  backend/app/main.py
Due: wegent-backend

feat(fix): fix
  backend/app/main.py
Due: wegent-backend

fix: update max file size limit 100M
  backend/app/core/config.py
  frontend/src/apis/attachments.ts
Due: wegent-backend, wegent-web

fix: update max file size limit 100M (#493)
  backend/app/core/config.py
  frontend/src/apis/attachments.ts
Due: wegent-backend, wegent-web

feat: add user_id to jwt payload
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/auth.py
  backend/app/api/endpoints/oidc.py
Due: wegent-backend

chore: format code
  backend/app/api/endpoints/knowledge.py
  backend/app/models/knowledge.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge_service.py
Due: wegent-backend

fix(frontend): sync onboarding tour with current UI and add skip functionality
  frontend/src/app/globals.css
  frontend/src/features/onboarding/tourSteps.ts
  frontend/src/features/onboarding/useOnboarding.ts
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

Update jwt payload (#505)
  backend/app/api/endpoints/admin.py
  backend/app/api/endpoints/auth.py
  backend/app/api/endpoints/knowledge.py
  backend/app/api/endpoints/oidc.py
  backend/app/models/knowledge.py
  backend/app/schemas/kind.py
  backend/app/schemas/knowledge.py
  backend/app/services/knowledge_service.py
Due: wegent-backend

fix(frontend): sync onboarding tour with current UI and add skip functionality (#504)
  frontend/src/app/globals.css
  frontend/src/features/onboarding/tourSteps.ts
  frontend/src/features/onboarding/useOnboarding.ts
  frontend/src/features/tasks/components/QuickAccessCards.tsx
  frontend/src/features/tasks/components/TaskSidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-web

feat: add feedback button to chat page
  frontend/src/components/common/PoweredByFooter.tsx
Due: wegent-web

feat: add user search
  backend/app/api/endpoints/adapter/task_members.py
  backend/app/api/endpoints/users.py
  backend/app/services/task_invite_service.py
  frontend/src/apis/task-member.ts
  frontend/src/apis/user.ts
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/group-chat/AddMembersDialog.tsx
  frontend/src/features/tasks/components/group-chat/InviteJoinHandler.tsx
  frontend/src/features/tasks/components/group-chat/InviteLinkDialog.tsx
  frontend/src/features/tasks/components/group-chat/TaskMembersPanel.tsx
  frontend/src/features/tasks/components/group-chat/index.ts
  frontend/src/i18n/locales/en/admin.json
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/admin.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

fix: group chat attachment download failed
  backend/app/api/endpoints/adapter/attachments.py
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
Due: wegent-backend, wegent-web

fix: share-task and support deleting group chat task
  backend/app/schemas/task.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/shared_task.py
Due: wegent-backend

feat: add Tool Kind for unified tool management
  backend/app/api/api.py
  backend/app/api/endpoints/adapter/tools.py
  backend/app/schemas/kind.py
  backend/app/services/kind_factory.py
  backend/app/services/kind_impl.py
  backend/init_data/02-public-shells.yaml
  backend/init_data/03-public-tools.yaml
  frontend/src/apis/tools.ts
  frontend/src/app/(tasks)/settings/page.tsx
  frontend/src/features/settings/components/SettingsTabNav.tsx
  frontend/src/features/settings/components/ToolEditDialog.tsx
  frontend/src/features/settings/components/ToolList.tsx
  frontend/src/features/settings/components/ToolListWithScope.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix: support new group chat
  backend/app/api/endpoints/adapter/chat.py
  frontend/src/apis/chat.ts
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/features/tasks/components/group-chat/CreateGroupChatDialog.tsx
  frontend/src/features/tasks/components/group-chat/index.ts
  frontend/src/features/tasks/service/messageService.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
Due: wegent-backend, wegent-web

feat: update footer
  frontend/src/app/(tasks)/code/page.tsx
  wecode/docker/frontend/Dockerfile
Due: wegent-web

fix: update dockerfile
  wecode/docker/frontend/Dockerfile
Due: wegent-web

feat: added group chat message sender type and user information fields.
  backend/app/schemas/subtask.py
  backend/app/services/adapters/task_kinds.py
  backend/app/services/subtask.py
  frontend/src/features/tasks/components/MessageBubble.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/types/api.ts
Due: wegent-backend, wegent-web

fix(e2e): 加入针对聊天发送图片的测试
  .github/workflows/e2e-tests.yml
  frontend/e2e/fixtures/test-image.png
  frontend/e2e/tests/api/chat-image-api.spec.ts
  frontend/e2e/tests/api/chat-image-e2e.spec.ts
  frontend/e2e/tests/tasks/CHAT_IMAGE_UPLOAD_TEST_PLAN.md
  frontend/e2e/tests/tasks/chat-image-browser-e2e.spec.ts
  frontend/e2e/tests/tasks/chat-image-upload.spec.ts
  frontend/e2e/utils/api-mock.ts
  frontend/e2e/utils/mock-model-server.ts
  frontend/package-lock.json
  frontend/package.json
Due: wegent-web

feat(backend): add Kubernetes graceful shutdown support
  backend/.env.example
  backend/app/api/endpoints/health.py
  backend/app/core/config.py
  backend/app/core/shutdown.py
  backend/app/main.py
  backend/app/services/chat/stream_manager.py
  backend/tests/core/test_shutdown.py
  docker/backend/Dockerfile
  docs/en/guides/developer/k8s-graceful-shutdown.md
Due: wegent-backend

feat: 前、后端支持仿真环境及更新仿真环境的前端请求域名
  .gitlab-ci.yml
  wecode/docker/frontend_ops/.env.local
  wecode/docker/frontend_ops/Dockerfile
  wecode/docker/frontend_ops/prepare_build.sh
Due: none

fix(e2e): 修改测试
  frontend/e2e/tests/tasks/chat-image-upload.spec.ts
Due: wegent-web

feat: add task detail fields and navbar functionality
  frontend/src/app/(tasks)/chat/page.tsx
  frontend/src/app/(tasks)/code/page.tsx
  frontend/src/features/layout/TaskTitleDropdown.tsx
  frontend/src/features/layout/TopNavigation.tsx
  frontend/src/features/tasks/components/MessagesArea.tsx
  frontend/src/features/tasks/components/group-chat/CreateGroupChatDialog.tsx
  frontend/src/features/tasks/components/group-chat/InviteLinkDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  frontend/src/types/api.ts
Due: wegent-web

fix(e2e): 测试发消息
  frontend/e2e/tests/tasks/chat-image-upload.spec.ts
Due: wegent-web

fix(frontend): prevent flash of empty state when AI first reply ends
  frontend/src/features/tasks/components/ChatArea.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
Due: wegent-web

feat: add user behavior analytics tracking system
  backend/alembic/versions/k1l2m3n4o5p6_add_analytics_events_table.py
  backend/app/api/api.py
  backend/app/api/endpoints/analytics.py
  backend/app/models/__init__.py
  backend/app/models/analytics_event.py
  backend/app/schemas/analytics.py
  backend/app/services/analytics_service.py
  frontend/src/apis/analytics.ts
  frontend/src/app/(tasks)/layout.tsx
  frontend/src/features/analytics/AnalyticsProvider.tsx
  frontend/src/features/analytics/index.ts
  frontend/src/services/analytics/events/click-tracker.ts
  frontend/src/services/analytics/events/error-tracker.ts
  frontend/src/services/analytics/events/page-tracker.ts
  frontend/src/services/analytics/index.ts
  frontend/src/services/analytics/tracker.ts
  frontend/src/services/analytics/types.ts
  frontend/src/services/analytics/utils/element-info.ts
Due: wegent-backend, wegent-web
