Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(executor): write MCP config to file on Windows to avoid command line length limit
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

fix(executor): handle system_prompt in Windows command line length workaround
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

refactor(executor): simplify Windows command line workaround code
  executor/agents/claude_code/claude_code_agent.py
Due: wegent-executor

fix(executor): use Windows-safe directory names for attachments
  executor/agents/claude_code/claude_code_agent.py
  executor/services/attachment_downloader.py
Due: wegent-executor

refactor(executor): clean up Windows support code
  executor/agents/claude_code/claude_code_agent.py
  executor/scripts/build_local.py
Due: wegent-executor

refactor(executor): extract Windows cmdline utils to platform_compat module
  executor/agents/claude_code/claude_code_agent.py
  executor/platform_compat/__init__.py
  executor/platform_compat/cmdline.py
  executor/services/attachment_downloader.py
Due: wegent-executor

refactor(executor): split claude_code_agent.py into smaller modules
  executor/agents/claude_code/attachment_handler.py
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/config_manager.py
  executor/agents/claude_code/git_operations.py
  executor/agents/claude_code/session_manager.py
  executor/agents/claude_code/skill_deployer.py
Due: wegent-executor

fix: 取消任务无法继续聊天问题
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

feat(skills): add browser and knowledge skills with relay-server improvements
  deps/browser/relay-server/src/actions.ts
  deps/browser/relay-server/src/browser-client.ts
  deps/browser/relay-server/src/relay-server.ts
  deps/browser/relay-server/src/snapshot.ts
  deps/browser/relay-server/src/tool.ts
  skills/browser/SKILL.md
  skills/knowledge/SKILL.md
  skills/knowledge/scripts/knowledge-tool
Due: none

chore(deps): bump relay-server version to 0.1.8
  deps/browser/relay-server/package.json
Due: none

fix(models): add type annotation to user relationship in ResourceMember
  backend/app/models/resource_member.py
Due: wegent-backend

refactor(backend): replace sharedTeamReader with direct ResourceMember queries
  backend/app/services/adapters/team_kinds.py
Due: wegent-backend

chore(deps): update relay-server package and connection flow (#451)
  deps/browser/relay-server/package-lock.json
  deps/browser/relay-server/package.json
  deps/browser/relay-server/src/actions.ts
  deps/browser/relay-server/src/browser-client.ts
  deps/browser/relay-server/src/relay-server.ts
  deps/browser/relay-server/src/snapshot.ts
  deps/browser/relay-server/src/tool.ts
  skills/browser/SKILL.md
  skills/knowledge/SKILL.md
  skills/knowledge/scripts/knowledge-tool
Due: none

fix: 取消任务无法继续聊天问题 (#460)
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

fix(executor): correct SessionManager method calls after refactor
  executor/agents/claude_code/claude_code_agent.py
  executor/agents/claude_code/response_processor.py
Due: wegent-executor

feat(chat_shell): add max_token truncation detection and handling
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/services/streaming/core.py
  chat_shell/tests/test_truncation_detection.py
Due: none

fix(chat_shell): address CodeRabbit review comments
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/chat_shell/services/streaming/core.py
  chat_shell/tests/test_truncation_detection.py
Due: none

fix: 修复设备任务删除不掉问题
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

fix(deps): reduce browser extension wait timeout from 8s to 3s
  deps/browser/relay-server/src/tool.ts
Due: none

fix(frontend): sync device selector when selecting a task
  frontend/src/features/tasks/contexts/taskContext.tsx
Due: wegent-web

fix(deps): reduce browser extension wait timeout from 8s to 3s (#463)
  deps/browser/relay-server/src/tool.ts
Due: none

docs: update docs
  docs/README.md
  docs/en/README.md
  docs/en/developer-guide/database-migrations.md
  docs/en/developer-guide/local-device-architecture.md
  docs/en/developer-guide/setup.md
  docs/en/getting-started/installation.md
  docs/en/getting-started/quick-start.md
  docs/en/reference/yaml-specification.md
  docs/en/user-guide/coding/spec-clarification-guide.md
  docs/en/user-guide/settings/agent-settings.md
  docs/en/user-guide/settings/managing-skills.md
  docs/zh/README.md
  docs/zh/developer-guide/setup.md
  docs/zh/getting-started/installation.md
  docs/zh/getting-started/quick-start.md
  docs/zh/reference/yaml-specification.md
  docs/zh/user-guide/coding/spec-clarification-guide.md
  docs/zh/user-guide/settings/agent-settings.md
  docs/zh/user-guide/settings/managing-skills.md
Due: none

fix: fix share team skill
  backend/app/api/endpoints/kind/skills.py
  executor/agents/claude_code/claude_code_agent.py
  executor/app.py
  executor/services/api_client.py
Due: wegent-executor, wegent-backend

fix(backend): remove namespace from room emit for task:close-session
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

chore: remove plans
  plans/chat_v2_refactoring_plan.md
  plans/remove-taskdetail-dependency.md
Due: none

fix: fix share team skill (#464)
  backend/app/api/endpoints/kind/skills.py
  executor/agents/claude_code/claude_code_agent.py
  executor/app.py
  executor/services/api_client.py
Due: wegent-executor, wegent-backend

fix(timezone): ensure consistent UTC timezone handling across backend and frontend
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/background_chat_executor.py
  backend/app/services/chat/operations/retry.py
  backend/app/services/chat/storage/session.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/device_service.py
  backend/app/services/knowledge/summary_service.py
  backend/app/services/openapi/chat_session.py
  frontend/src/app/shared/task/page.tsx
  frontend/src/features/devices/components/RunningTasksList.tsx
  frontend/src/features/feed/components/SubscriptionConversationDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/useWikiProjects.ts
  frontend/src/features/settings/components/groups/GroupMembersDialog.tsx
  frontend/src/features/tasks/components/sidebar/HistoryManageDialog.tsx
  frontend/src/features/tasks/components/sidebar/SearchDialog.tsx
  frontend/src/features/tasks/components/sidebar/TaskListSection.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/features/tasks/components/workbench/Workbench.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/features/tasks/state/TaskStateMachine.ts
Due: wegent-backend, wegent-web

fix: fix share skill query
  backend/app/api/endpoints/kind/skills.py
  executor/services/api_client.py
Due: wegent-executor, wegent-backend

fix(timezone): address review comments - fix remaining naive datetime and invalid date handling
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/device_service.py
  frontend/src/app/shared/task/page.tsx
  frontend/src/features/feed/components/SubscriptionConversationDialog.tsx
  frontend/src/features/knowledge/document/components/DocumentDetailDialog.tsx
  frontend/src/features/tasks/components/sidebar/SearchDialog.tsx
  frontend/src/features/tasks/components/workbench/Workbench.tsx
Due: wegent-backend, wegent-web

fix: fix skill download
  AGENTS.md
  backend/app/api/endpoints/kind/skills.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/openapi/chat_session.py
  executor/app.py
Due: wegent-executor, wegent-backend

fix: fix skill download (#466)
  AGENTS.md
  backend/app/api/endpoints/kind/skills.py
  backend/app/schemas/kind.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/openapi/chat_session.py
  executor/app.py
Due: wegent-executor, wegent-backend

fix(ci): use --allow-existing flag for uv venv to handle cached .venv
  .github/workflows/e2e-tests.yml
Due: none

fix(frontend): show projects when all tasks are in projects (#458)
  .github/workflows/e2e-tests.yml
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

fix: 修复设备任务删除不掉问题 (#462)
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

fix: 推送模式替换api_key占位符
  backend/wecode/api/__init__.py
  backend/wecode/api/device_router_patch.py
  backend/wecode/api/executors_endpoint_patch.py
  backend/wecode/service/dispatch_tasks_patch.py
Due: wegent-backend

fix: 添加工具调用截断错误处理和重试机制
  chat_shell/chat_shell/agents/graph_builder.py
  chat_shell/tests/test_tool_call_truncation_recovery.py
Due: none

docs: update docs
  docs/en/user-guide/chat/README.md
  docs/en/user-guide/chat/clarification-mode-guide.md
  docs/en/user-guide/chat/correction-mode-guide.md
  docs/en/user-guide/chat/managing-tasks.md
  docs/zh/concepts/core-concepts.md
  docs/zh/user-guide/chat/README.md
  docs/zh/user-guide/chat/clarification-mode-guide.md
  docs/zh/user-guide/chat/correction-mode-guide.md
  docs/zh/user-guide/chat/managing-tasks.md
Due: none

fix: fix default null config
  backend/app/services/subscription/follow_service.py
Due: wegent-backend

fix: fix default null config (#468)
  backend/app/services/subscription/follow_service.py
Due: wegent-backend

fix(backend): restore task:close-session emit to /local-executor namespace
  backend/app/api/ws/chat_namespace.py
Due: wegent-backend

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
