Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(wework): keep harness apps inside workbench (#2895)
  docs/en/wework/plugins-and-skills.md
  docs/zh/wework/plugins-and-skills.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/harness_apps/tests.rs
  wework/src/e2e/automation.ts
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.tsx
Due: none

fix(ci): align device tag with executor image
  .gitlab-ci.yml
  backend/wecode/config/remote_device_config.py
  backend/wecode/tests/test_remote_device_startup_provider.py
  executor/tests/wecode/device_image_contract.rs
  wecode/docker/backend/.env.example
  wecode/docker/device/build-and-publish.sh
  wecode/docker/executor/build-and-export-image-tag.sh
Due: wegent-executor, wegent-backend

fix(wework): preserve completed turns over stale snapshots
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
Due: none

fix(wework): atomically update Codex config
  wework/src-tauri/src/local_executor.rs
Due: none

fix(wework): recover local tasks after executor IPC failure
  docs/en/wegent/developer-guide/local-device-architecture.md
  docs/zh/wegent/developer-guide/local-device-architecture.md
  executor/src/local/app_ipc.rs
  executor/src/local/command.rs
  executor/tests/local_command_contract.rs
  wework/src/features/workbench/runtimeConversationCache.test.ts
  wework/src/features/workbench/runtimeConversationCache.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStore.ts
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.test.tsx
  wework/src/features/workbench/runtimeTaskLifecycle/RuntimeTaskLifecycleStreamCoordinator.tsx
Due: wegent-executor

fix(ci): restore pre-push test contracts
  frontend/src/__tests__/apis/attachments.test.ts
  wework/scripts/build-minio-windows-release.sh
  wework/scripts/collect-release-runtime-assets.test.mjs
Due: wegent-web

fix(wework): include atomic write dependency
  wework/src-tauri/Cargo.toml
Due: none

test(wework): use viewport-aware model visibility
  wework/e2e/desktop/modules/shared.mjs
  wework/scripts/model-option-visibility.test.mjs
Due: none

fix(models): make every vision sidecar protocol configurable (#2893)
  backend/tests/services/test_llm_proxy_service.py
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
  executor/src/server/local_model_proxy/vision.rs
  frontend/e2e/tests/settings-model.spec.ts
  frontend/src/__tests__/features/settings/utils/vision-sidecar-model.test.ts
  frontend/src/features/settings/components/ModelEditDialog.tsx
  frontend/src/features/settings/utils/vision-sidecar-model.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/zh-CN/common.json
  wework/src/api/hybrid/hybridServices.test.ts
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/features/cloud-connection/modelExecution.ts
  wework/src/features/workbench/runtimeModelSelection.ts
Due: wegent-executor, wegent-backend, wegent-web

fix(wework): detach embedded browser inspector on macOS (#2789)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/wework-e2e.yml
  backend/tests/services/execution/agents/video/test_recovery.py
  docs/en/wework/developer-guide/wework-embedded-browser.md
  docs/en/wework/developer-guide/wework-performance-diagnostics.md
  docs/zh/wework/developer-guide/wework-embedded-browser.md
  docs/zh/wework/developer-guide/wework-performance-diagnostics.md
  wework/e2e/desktop/modules/cloud-checkpoint-flows.mjs
  wework/e2e/desktop/modules/conversation-navigation.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/window-attachment-flows.mjs
  wework/e2e/desktop/scenarios/embedded-browser-toolbar-actions.scenario.mjs
  wework/scripts/ai-verify.mjs
  wework/src-tauri/build.rs
  wework/src-tauri/src/embedded_browser.rs
  wework/src-tauri/src/embedded_browser/linux_host.rs
  wework/src-tauri/src/embedded_browser/tests.rs
  wework/src-tauri/src/embedded_browser_devtools.rs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src-tauri/src/system_sleep.rs
  wework/src-tauri/tauri.conf.json
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/e2e/automation.ts
  wework/src/features/workbench/runtimeConversationTurns.test.ts
  wework/src/features/workbench/runtimeConversationTurns.ts
  wework/src/features/workbench/useWorkbenchModels.ts
  wework/src/features/workbench/workbenchProjectChatHooks.test.tsx
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
Due: wegent-backend

fix(wework): serialize Codex catalog restarts
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
Due: none

fix(backend): protect committed deliveries from reference binding failures
  backend/app/services/delivery/service.py
  backend/tests/api/test_deliveries_api.py
Due: wegent-backend

fix(backend): validate automation runs for external reference registration
  backend/app/api/endpoints/cloud_projects.py
  backend/app/mcp_server/tools/wework_space.py
  backend/app/schemas/external_event.py
  backend/app/services/external_events/registration.py
  backend/tests/api/test_external_references_api.py
  backend/tests/mcp_server/test_register_external_reference.py
  backend/tests/services/external_events/test_registration.py
Due: wegent-backend

fix(backend): bind delivered references to the declaring wait node
  backend/app/services/external_events/reference.py
  backend/tests/services/external_events/test_reference.py
Due: wegent-backend

fix(wework): share pull request status (#2899)
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  wework/e2e/desktop/modules/shared.mjs
  wework/scripts/model-option-visibility.test.mjs
  wework/src/components/common/ChangeRequestStatusIcon.tsx
  wework/src/components/layout/EnvironmentInfoPopover.test.tsx
  wework/src/components/layout/EnvironmentInfoPopover.tsx
  wework/src/components/layout/useWorkbenchPaneEnvironment.test.ts
  wework/src/components/layout/useWorkbenchPaneEnvironment.ts
  wework/src/features/workbench/changeRequestStatus.test.ts
  wework/src/features/workbench/changeRequestStatus.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/workspace-target.ts
Due: none

fix(chat): update hovered marker handling and add test for duplicate message IDs
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/chat/ScrollableMessageArea.test.tsx
Due: none

fix(wework): keep personal plugin lifecycle offline
  executor/src/agents/codex.rs
  executor/src/agents/codex/home.rs
  executor/src/agents/mod.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/plugin_install.rs
  executor/tests/local_app_ipc_contract.rs
  wework/e2e/desktop/modules/plugin-flows.mjs
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/e2e/automation.ts
Due: wegent-executor

fix(backend): harden event adapters, routing status, and payload storage
  backend/app/services/external_events/adapters.py
  backend/app/services/external_events/service.py
  backend/app/services/project_incoming_hooks.py
  backend/tests/services/test_project_incoming_hooks.py
Due: wegent-backend

fix(backend): make event buffering and binding atomic
  backend/alembic/versions/20260821_b7c8d9e0f1a2_enforce_unique_active_external_bindings.py
  backend/app/models/delivery.py
  backend/app/services/external_events/binding.py
  backend/app/services/external_events/buffer.py
  backend/tests/conftest.py
  backend/tests/services/test_external_events.py
  backend/tests/utils/fake_redis.py
Due: wegent-backend

fix(backend): make settle and rerun event handling transactional
  backend/app/services/external_events/evaluate.py
Due: wegent-backend

feat(backend): carry wait node robot model into continue rounds
  backend/app/services/external_events/evaluate.py
  backend/tests/services/test_external_events.py
Due: wegent-backend

fix(backend): validate workflow definitions before mutating board state
  backend/app/services/cloud_projects/service.py
Due: wegent-backend

fix(backend): publish execution activity after the transaction commits
  backend/app/services/loop_item_executions/service.py
Due: wegent-backend

test(backend): assert stored webhook payload is not duplicated
  backend/tests/api/test_project_incoming_hooks_api.py
Due: wegent-backend

fix(backend): tighten wait node schema contract and root state
  backend/app/schemas/issue_workflow.py
  backend/tests/schemas/test_issue_workflow.py
Due: wegent-backend

fix(executor): expose optional wait node target in external reference tool
  executor/src/task_runtime/mcp.rs
Due: wegent-executor

fix(ci): classify backend external event paths for cloud desktop e2e
  .github/scripts/classify-wework-desktop-e2e.sh
Due: none

fix(wework): tighten wait rule editing and API types
  wework/src/api/deliveries.ts
  wework/src/api/issueWorkflow.ts
  wework/src/features/todo/ProjectWorkflowEditor.test.tsx
  wework/src/features/todo/ProjectWorkflowEditor.tsx
Due: none

fix(wework): stop automatic repair retry loops after failure
  wework/src/features/todo/CloudTodoWorkspace.tsx
Due: none

fix(wework): show cancelled repair rounds and harden repository URLs
  wework/src/features/todo/IssueWorkflowDag.test.tsx
  wework/src/features/todo/IssueWorkflowDag.tsx
  wework/src/features/todo/projectProviderConfig.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

chore(wework): bump bundled node runtime to 24.18
  wework/src-tauri/bundled-execution-runtimes/node.json
Due: none

style(executor): format external reference tool test
  executor/src/task_runtime/mcp.rs
Due: wegent-executor

docs: document optional wait node target in external reference tool
  docs/en/architecture/external-event-subscription.md
  docs/zh/architecture/external-event-subscription.md
Due: none

feat(wework): add fixed workspace tabs
  docs/en/wegent/user-guide/settings/README.md
  docs/en/wegent/user-guide/settings/workspace-tabs.md
  docs/zh/wegent/user-guide/settings/README.md
  docs/zh/wegent/user-guide/settings/workspace-tabs.md
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/src-tauri/src/lib.rs
  wework/src/App.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/features/harness-apps/HarnessAppAutoLauncher.test.tsx
  wework/src/features/harness-apps/HarnessAppAutoLauncher.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.test.tsx
  wework/src/features/harness-apps/ResidentSmartAppsManager.tsx
  wework/src/features/harness-apps/residentSmartAppsHost.ts
  wework/src/features/workspace-tabs/WorkspaceTabStrip.test.tsx
  wework/src/features/workspace-tabs/WorkspaceTabStrip.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.test.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.tsx
  wework/src/features/workspace-tabs/workspaceTabs.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/HarnessAppsPage.test.tsx
  wework/src/pages/HarnessAppsPage.tsx
  wework/src/tauri/appPreferences.test.ts
  wework/src/tauri/appPreferences.ts
Due: none

fix(wework): align desktop flows with fixed tabs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/e2e/desktop/scenarios/offline-local-project-space.scenario.mjs
  wework/src/features/todo/task-detail-layout.css
Due: none

fix(wework): address fixed tab review findings
  wework/src/App.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
  wework/src/features/harness-apps/HarnessAppAutoLauncher.tsx
  wework/src/features/workspace-tabs/WorkspaceTabStrip.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.test.tsx
  wework/src/features/workspace-tabs/WorkspaceTabsContext.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

test(wework): fix harness app escape action
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
Due: none

fix(executor): serialize Codex app server restarts
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/system.rs
  executor/src/runtime_work/handler/tests.rs
Due: wegent-executor

fix(wework): avoid duplicate smart app startup
  wework/src/pages/HarnessAppsPage.test.tsx
  wework/src/pages/HarnessAppsPage.tsx
Due: none

chore(wework): log smart app launch failures
  wework/src/features/harness-apps/HarnessAppAutoLauncher.tsx
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
