Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(evaluation): add GradingService.get_by_answer method
  backend/wecode/service/evaluation/grading_service.py
Due: wegent-backend

fix: fix import path
  backend/app/api/endpoints/internal/callback.py
  backend/app/api/ws/device_namespace.py
  backend/app/services/chat/trigger/group_chat.py
  backend/app/services/chat/webpage_websocket_chat_emitter.py
  backend/app/services/chat/webpage_ws_chat_emitter.py
  backend/app/services/chat/ws_emitter.py
  backend/app/services/execution/emitters/websocket.py
  backend/app/services/pet/event_handlers.py
Due: wegent-backend

fix(evaluation): remove unused 'Send' import in grader page
  frontend/public/mockServiceWorker.js
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
Due: wegent-web

fix(evaluation): add debug logging and fix status badge translation
  chat_shell/chat_shell/history/loader.py
  frontend/wecode/components/evaluation/common/StatusBadge.tsx
Due: wegent-web

feat(cloud-device): add executor binary download and DEVICE_ID in startup script
  backend/tests/services/channels/__init__.py
  backend/wecode/config/nevis_config.py
  backend/wecode/service/cloud_device_provider.py
  backend/wecode/service/cloud_device_script.py
Due: wegent-backend

feat(skills): add himalaya-mail skill
  backend/init_data/skills/browser/SKILL.md
  backend/init_data/skills/himalaya-mail/SKILL.md
Due: wegent-backend

feat: update env
  wecode/docker/backend/.env.example
  wecode/docker/chat_shell/.env.example
  wecode/docker/executor_manager/Dockerfile
Due: wegent-executor-manager, wegent-backend

feat(evaluation): implement UI improvements per requirements
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/questions/[questionId]/page.tsx
  frontend/src/app/(tasks)/evaluation/author/topics/[id]/questions/new/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/questions/[qid]/page.tsx
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
  frontend/src/i18n/locales/en/evaluation.json
  frontend/src/i18n/locales/zh-CN/evaluation.json
Due: wegent-web

fix(evaluation): correct UserContext import path
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

fix(evaluation): use correct useUser hook from UserContext
  frontend/src/features/tasks/components/sidebar/TaskSidebar.tsx
Due: wegent-web

feat(evaluation): improve Markdown rendering and file upload limits
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/questions/[qid]/page.tsx
Due: wegent-web

fix(cloud-device): add URL decode and debug logging for executor download
  backend/wecode/service/cloud_device_script.py
Due: wegent-backend

fix(evaluation): add i18n support to getVisibilityLabel function
  frontend/src/app/(tasks)/evaluation/author/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/topics/[id]/page.tsx
  frontend/wecode/types/evaluation.ts
Due: wegent-web

fix(frontend): correct i18n keys in getStatusLabel function
  frontend/wecode/types/evaluation.ts
Due: wegent-web

feat(skills): add himalaya-mail skill (#556)
  backend/init_data/skills/browser/SKILL.md
  backend/init_data/skills/himalaya-mail/SKILL.md
Due: wegent-backend

feat(knowledge): improve knowledge base functionality
  backend/app/api/endpoints/knowledge.py
  backend/app/core/config.py
  frontend/src/apis/knowledge.ts
  frontend/src/features/knowledge/document/components/DocumentList.tsx
  frontend/src/features/knowledge/document/components/DocumentUpload.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

fix(knowledge): fix Excel file extension validation and add CSV to supported types
  backend/app/api/endpoints/knowledge.py
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-backend, wegent-web

docs: add task submission and dispatch architecture documentation
  docs/en/developer-guide/task-dispatch-architecture.md
  docs/zh/developer-guide/task-dispatch-architecture.md
Due: none

feat(rag): opt kb prompts with Intent Routing
  shared/prompts/knowledge_base.py
Due: wegent-executor-manager, wegent-executor

refactor(evaluation): use backend proxy for file upload/download
  backend/wecode/api/evaluation/grader.py
  backend/wecode/api/evaluation/shared.py
  backend/wecode/service/evaluation/storage_service.py
  frontend/wecode/api/evaluation-grader.ts
  frontend/wecode/api/evaluation-shared.ts
  frontend/wecode/api/evaluation.ts
Due: wegent-backend, wegent-web

fix: fix shell type
  backend/app/services/execution/request_builder.py
Due: wegent-backend

fix(evaluation): fix frontend build error and optimize download performance
  backend/wecode/api/evaluation/grader.py
  backend/wecode/api/evaluation/shared.py
  backend/wecode/service/evaluation/storage_service.py
  frontend/src/app/(tasks)/evaluation/grader/answers/[id]/page.tsx
Due: wegent-backend, wegent-web

fix(evaluation): fix more frontend build errors for file download
  frontend/src/app/(tasks)/evaluation/grader/reports/page.tsx
  frontend/src/app/(tasks)/evaluation/respondent/history/page.tsx
Due: wegent-web

fix: fix pipeline stage
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/services/adapters/collaboration_strategy.py
  backend/app/services/adapters/pipeline_stage.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/storage/db.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/execution/emitters/status_updating.py
  backend/app/services/execution/request_builder.py
  backend/app/services/execution/schedule_helper.py
  frontend/src/features/tasks/components/message/FinalPromptMessage.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

fix: fix pipeline stage (#560)
  backend/app/api/endpoints/adapter/tasks.py
  backend/app/api/ws/chat_namespace.py
  backend/app/api/ws/events.py
  backend/app/services/adapters/collaboration_strategy.py
  backend/app/services/adapters/pipeline_stage.py
  backend/app/services/adapters/task_kinds/operations.py
  backend/app/services/chat/storage/db.py
  backend/app/services/chat/storage/task_manager.py
  backend/app/services/execution/emitters/status_updating.py
  backend/app/services/execution/request_builder.py
  backend/app/services/execution/schedule_helper.py
  frontend/src/features/tasks/components/message/FinalPromptMessage.tsx
  frontend/src/features/tasks/contexts/chatStreamContext.tsx
  frontend/src/types/socket.ts
Due: wegent-backend, wegent-web

feat(executor): add client_ip to device registration
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/app/services/device/base_provider.py
  backend/app/services/device/local_provider.py
  backend/app/services/device_service.py
  executor/modes/local/websocket_client.py
Due: wegent-executor, wegent-backend

refactor(executor): add debug logging for IP detection failures
  executor/modes/local/websocket_client.py
Due: wegent-executor

feat(cloud-device): add VNC iframe panel to chat interface
  backend/wecode/schemas/cloud_device.py
  backend/wecode/service/cloud_device_provider.py
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/i18n/locales/en/tasks.json
  frontend/src/i18n/locales/zh-CN/tasks.json
  frontend/wecode/apis/cloud-devices.ts
  frontend/wecode/components/cloud-device/CloudDeviceVncPanel.tsx
  frontend/wecode/components/cloud-device/index.ts
Due: wegent-backend, wegent-web

style: fix isort and remove unused import
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/wecode/api/agents_endpoint_patch.py
  backend/wecode/api/auth.py
  backend/wecode/api/gitlab_provider_patch.py
  backend/wecode/api/models_endpoint_patch.py
  backend/wecode/api/quota_endpoint_patch.py
  backend/wecode/api/users_endpoint_patch.py
  backend/wecode/service/cloud_device_script.py
  backend/wecode/service/get_user_gitinfo.py
  backend/wecode/service/save_git_token.py
  backend/wecode/service/token_resolver.py
  backend/wecode/tests/test_minio_storage.py
  executor/modes/local/websocket_client.py
  frontend/src/app/(tasks)/devices/page.tsx
Due: wegent-executor, wegent-backend, wegent-web

fix(device): separate DeviceHeartbeatPayload from DeviceRegisterPayload
  backend/app/schemas/device.py
Due: wegent-backend

feat(executor): add client_ip to device registration (#561)
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/app/services/device/base_provider.py
  backend/app/services/device/local_provider.py
  backend/app/services/device_service.py
  executor/modes/local/websocket_client.py
Due: wegent-executor, wegent-backend

feat(device): fallback to user-based config when IP matching fails
  backend/app/api/ws/device_namespace.py
Due: wegent-backend

fix: fix mcp servers
  backend/app/services/execution/request_builder.py
Due: wegent-backend

update
  chat_shell/chat_shell/services/chat_service.py
Due: none

fix(shared): fix curly apostrophe and update KB prompt tests
  shared/prompts/knowledge_base.py
  shared/tests/test_prompts.py
Due: wegent-executor-manager, wegent-executor

try fix
  wecode/docker/backend/.env.example
Due: wegent-backend

test(shared): improve KB prompt test coverage per CodeRabbit review
  shared/tests/test_prompts.py
Due: wegent-executor-manager, wegent-executor

try fix
  chat_shell/chat_shell/api/v1/response.py
Due: none

fix: fix chat shell
  chat_shell/chat_shell/api/v1/response.py
  wecode/docker/backend/.env.example
Due: wegent-backend

feat(cloud-device): add VNC panel to device chat page and fix cloud device ID persistence
  backend/app/api/ws/device_namespace.py
  backend/app/schemas/device.py
  backend/wecode/api/cloud_devices.py
  frontend/src/apis/devices.ts
  frontend/src/app/(tasks)/chat/ChatPageDesktop.tsx
  frontend/src/app/(tasks)/devices/chat/page.tsx
Due: wegent-backend, wegent-web
