Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
  - build_image

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
  - build_image

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
  - build_image

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
  - build_image

fix(executor): preserve failed Codex runtime state (#1611)
  executor/src/agents/codex.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  executor/tests/codex_app_server_contract.rs
Due: wegent-executor

fix(wework): persist project work preferences
  wework/src/api/local/localServices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/types/api.ts
Due: none

fix(wework): bundle release executor sidecar
  docs/en/developer-guide/wework-macos-release.md
  docs/zh/developer-guide/wework-macos-release.md
  executor/local.sh
  executor/tests/build_entrypoint_contract.rs
  wework/scripts/release-mac-app.sh
  wework/src-tauri/src/local_executor.rs
  wework/src/api/local/localServices.ts
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
Due: wegent-executor

fix(wework): narrow sidebar resize handle
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

fix(wework): narrow sidebar resize handle (#1616)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: none

fix(wework): persist project work preferences (#1613)
  wework/src/api/local/localServices.ts
  wework/src/components/chat/ChatInput.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.test.tsx
  wework/src/components/chat/composer/ProjectWorkBar.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/types/api.ts
Due: none

fix(wework): bundle release executor sidecar (#1615)
  wework/src/api/local/localServices.ts
Due: none

fix(wework): launch bundled executor sidecar by basename
  wework/src-tauri/src/local_executor.rs
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
Due: none

fix(runtime): preserve codex session ids (#1614)
  executor/src/agents/codex.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/runtime_handle_messages.rs
  executor/tests/app_runtime_work_send_contract.rs
  wework/src/api/local/localServices.test.ts
  wework/src/features/workbench/workbenchReducer.test.ts
  wework/src/features/workbench/workbenchReducer.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.test.ts
  wework/src/features/workbench/workbenchRuntimeHelpers.ts
Due: wegent-executor

fix(executor): remove codex turn timeout
  executor/src/agents/codex.rs
  executor/tests/codex_app_server_contract.rs
Due: wegent-executor

fix(wework): launch bundled executor sidecar by basename (#1617)
  wework/src-tauri/src/local_executor.rs
  wework/src/features/local-runtime/LocalRuntimeInitializer.test.tsx
Due: none

fix(executor): remove codex turn timeout (#1618)
  executor/src/agents/codex.rs
  executor/tests/codex_app_server_contract.rs
Due: wegent-executor

fix(executor): hide stale unmapped runtime tasks
  executor/src/runtime_work/handler.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

fix: fix stale runtime tasks
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

[codex] Hide stale unmapped runtime tasks (#1619)
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/response.rs
  executor/tests/app_runtime_work_native_update_contract.rs
  executor/tests/app_runtime_work_workspace_contract.rs
Due: wegent-executor

fix(wework): preserve runtime task timestamps
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/types/api.ts
Due: none

fix(wework): refine workspace tab hover styling
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
Due: none

fix(wework): refine workspace tab hover styling (#1621)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/BottomWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelCards.tsx
Due: none

fix(wework): preserve runtime task timestamps (#1620)
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/types/api.ts
Due: none

fix(wework): show unread dot for completed sidebar tasks
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): show unread dot for completed sidebar tasks (#1622)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
Due: none

fix(wework): open http links externally
  wework/src-tauri/capabilities/default.json
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/components/topnav/AppIframe.tsx
Due: none

fix(wework): confirm exit with running tasks
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/lib.rs
  wework/src/features/workbench/RuntimeTaskCloseGuard.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/runtimeTaskCloseGuard.test.ts
  wework/src/tauri/runtimeTaskCloseGuard.ts
Due: none

feat: add wework pane title
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

feat: add wework pane title (#1625)
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
Due: none

fix(wework): confirm exit with running tasks (#1624)
  wework/src-tauri/capabilities/default.json
  wework/src-tauri/src/lib.rs
  wework/src/features/workbench/RuntimeTaskCloseGuard.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/tauri/runtimeTaskCloseGuard.test.ts
  wework/src/tauri/runtimeTaskCloseGuard.ts
Due: none

fix(wework): open http links externally (#1623)
  wework/src-tauri/capabilities/default.json
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.test.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/components/topnav/AppIframe.tsx
Due: none

fix(wework): normalize Codex tool PATH
  executor/src/agents/codex.rs
  executor/src/lib.rs
  executor/src/local/command.rs
  executor/src/process_environment.rs
  executor/tests/codex_app_server_contract.rs
  executor/tests/process_environment_contract.rs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src-tauri/src/process_environment.rs
Due: wegent-executor

fix(wework): normalize Codex tool PATH (#1626)
  executor/src/agents/codex.rs
  executor/src/lib.rs
  executor/src/local/command.rs
  executor/src/process_environment.rs
  executor/tests/codex_app_server_contract.rs
  executor/tests/process_environment_contract.rs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/src/local_executor.rs
  wework/src-tauri/src/local_terminal.rs
  wework/src-tauri/src/process_environment.rs
Due: wegent-executor

fix: fix tsc
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/MobileDrawer.tsx
Due: none

fix(wework): stabilize sidebar content width
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

fix(wework): stabilize sidebar content width (#1610)
  wework/src/components/chat/MessageTurnNavigation.tsx
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/useWorkbenchDataRefresh.ts
Due: none

Refine executor build and Git auth handling
  docker/executor/Dockerfile
  executor/src/agents/claude_options.rs
  executor/src/agents/git_auth.rs
  executor/src/agents/interactive_mcp.rs
  executor/src/agents/mod.rs
  executor/src/agents/runtime_capabilities.rs
  executor/src/server/mod.rs
  executor/tests/agent_runtime_capabilities_contract.rs
  executor/tests/claude_options_contract.rs
  executor/tests/interactive_mcp_contract.rs
Due: wegent-executor

fix(executor): simplify startup modes
  .github/workflows/e2e-tests.yml
  backend/app/api/endpoints/remote_devices.py
  backend/tests/api/endpoints/test_remote_devices_api.py
  backend/tests/docker/test_executor_docker_contract.py
  backend/tests/docker/test_standalone_wework_contract.py
  docker/device/Dockerfile
  docker/executor/Dockerfile
  docker/standalone/start.sh
  docs/en/developer-guide/local-device-architecture.md
  docs/en/user-guide/ai-devices/local-device-support.md
  docs/zh/developer-guide/local-device-architecture.md
  docs/zh/user-guide/ai-devices/local-device-support.md
  executor/scripts/local_executor_install.ps1
  executor/scripts/local_executor_install.sh
  executor/src/app/mod.rs
  executor/src/config/device.rs
  executor/tests/app_runtime_work_send_contract.rs
  executor/tests/app_startup_contract.rs
  executor/tests/build_entrypoint_contract.rs
  executor/tests/config_contract.rs
  frontend/e2e/fixtures/claudecode-executor/Dockerfile
  frontend/src/features/devices/components/LocalExecutorGuide.tsx
  wework/src-tauri/src/local_executor.rs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/settings/ConnectionsSettingsPage.test.tsx
Due: wegent-executor, wegent-backend, wegent-web

fix(wework): persist local worktree preferences
  wework/src/api/local/localServices.test.ts
  wework/src/api/local/localServices.ts
  wework/src/api/local/localSession.ts
Due: none

fix(wework): theme vscode titlebar button
  wework/src/components/layout/workspace-panels/LocalWorkspaceOpenerMenu.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
Due: none

fix(wework): sort project conversations newest first
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
Due: none

fix(wework): sort project conversations newest first (#1629)
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/MobileWorkbenchLayout.test.tsx
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
Due: none

fix(wework): theme vscode titlebar button (#1630)
  wework/src/components/layout/workspace-panels/LocalWorkspaceOpenerMenu.tsx
  wework/src/components/layout/workspace-panels/WorkspacePanelActions.tsx
Due: none

Path conditions:
  wegent-executor-manager: any of: executor_manager/**/*, wecode/docker/executor_manager/**/*, shared/**/*
  wegent-executor: any of: executor/**/*, wecode/docker/executor/**/*, shared/**/*
  wegent-backend: any of: backend/**/*, wecode/docker/backend/**/*
  wegent-web: any of: frontend/**/*, wecode/docker/frontend/**/*
