Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(frontend): dismiss mobile input actions menu (#2818)
  frontend/src/__tests__/features/tasks/components/input/MobileChatInputControls.layout.test.tsx
  frontend/src/__tests__/features/tasks/hooks/useModelSelection.test.tsx
  frontend/src/features/tasks/components/input/MobileChatInputControls.tsx
Due: wegent-web

test(wework): cover relative path copy feedback and root cases
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.test.tsx
Due: none

fix(chat): bound history retry attempts
  chat_shell/.env.example
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/history/loader.py
  chat_shell/tests/test_history_loader.py
  chat_shell/tests/test_internal_service_token_config.py
Due: none

fix(chat): fail closed on history restore errors
  backend/app/api/endpoints/internal/chat_storage.py
  chat_shell/.env.example
  chat_shell/chat_shell/core/config.py
  chat_shell/chat_shell/history/loader.py
  chat_shell/chat_shell/storage/remote.py
  chat_shell/tests/test_history_loader.py
  chat_shell/tests/test_internal_service_token_config.py
  frontend/src/__tests__/utils/errorParser.test.ts
  frontend/src/i18n/locales/en/chat.json
  frontend/src/i18n/locales/zh-CN/chat.json
  frontend/src/utils/errorParser.ts
  shared/tests/utils/test_error_classifier.py
  shared/utils/error_classifier.py
Due: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

fix(ci): layer desktop build caches
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

fix(workflow): surface and resume AI child tasks
  backend/app/api/endpoints/deliveries.py
  backend/app/schemas/issue_workflow.py
  backend/app/services/loop_items/service.py
  backend/app/services/project_automation_execution.py
  backend/app/services/project_chat/service.py
  backend/app/services/project_workflow_orchestration.py
  backend/tests/api/test_deliveries_api.py
  backend/tests/services/test_loop_item_assignment.py
  backend/tests/services/test_loop_item_executions.py
  backend/tests/services/test_project_chat_service.py
  docs/en/architecture/issue-task-workflow.md
  docs/en/architecture/project-execution-state.md
  docs/en/architecture/project-space-agent-capability.md
  docs/zh/architecture/issue-task-workflow.md
  docs/zh/architecture/project-execution-state.md
  docs/zh/architecture/project-space-agent-capability.md
  executor/src/task_runtime/mcp.rs
  executor/tests/space_mcp_contract.rs
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/api/deliveries.ts
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/IssueWorkflowPlan.test.tsx
  wework/src/features/todo/IssueWorkflowPlan.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-executor, wegent-backend

fix(wework): render Mermaid HTML line breaks
  patches/@file-viewer__renderer-drawing@2.1.26.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wework/src/components/chat/MarkdownDiagramRenderer.integration.test.tsx
  wework/vite.config.ts
Due: none

docs(wework): document Mermaid SVG parsing
  docs/en/wework/developer-guide/wework-file-preview.md
  docs/zh/wework/developer-guide/wework-file-preview.md
Due: none

fix(wework): repair synced plugin discovery and chat trial
  wework/e2e/desktop/modules/plugin-flows.mjs
  wework/src-tauri/src/local_executor.rs
  wework/src/App.tsx
  wework/src/api/local/codexPlugins.ts
  wework/src/api/local/listWegentStoreFromDisk.test.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/installedPluginMerge.test.ts
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/features/workbench/workbenchContextTypes.ts
Due: none

fix(ci): shrink desktop e2e artifact
  .github/scripts/archive-wework-core-e2e-build.sh
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
Due: none

refactor(wework): keep workbench plugins local
  backend/app/schemas/installed_plugin.py
  backend/app/services/plugin_package_parser.py
  backend/tests/services/test_installed_plugin_upload.py
  docs/en/architecture/workbench-plugin-runtime.md
  docs/zh/architecture/workbench-plugin-runtime.md
  wework/src-tauri/bundled-plugins/wework-plugin-example/.codex-plugin/plugin.json
  wework/src-tauri/bundled-plugins/wework-plugin-example/.wework-plugin/plugin.json
  wework/src-tauri/bundled-plugins/wework-plugin-example/README.md
  wework/src-tauri/bundled-plugins/wework-plugin-example/workbench/frontend.js
  wework/src-tauri/src/workbench_plugins.rs
  wework/src-tauri/tauri.conf.json
  wework/src/plugin-runtime/DynamicWorkbenchPluginHost.test.tsx
  wework/src/plugin-runtime/DynamicWorkbenchPluginHost.tsx
  wework/src/plugin-runtime/external.test.ts
  wework/src/plugin-runtime/external.ts
  wework/src/test/bundled-plugin-resources.test.ts
  wework/src/types/api.ts
Due: wegent-backend

fix(chat): normalize history store setup failures
  chat_shell/chat_shell/history/loader.py
  chat_shell/tests/test_history_loader.py
Due: none

feat: 修复e2e测试
  backend/tests/mcp_server/test_lifecycle.py
  wework/e2e/desktop/scenarios/project-automation.scenario.mjs
  wework/src/features/todo/ProjectWorkflowEditor.tsx
Due: wegent-backend

fix(wework): debounce transient reconnect warnings (#2796)
  docs/en/wework/troubleshooting.md
  docs/zh/wework/troubleshooting.md
  wework/e2e/desktop/modules/resilience-flows.mjs
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/ToolBlocksDisplay.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
Due: none

fix(wework): place new tasks first in sidebar (#2802)
  docs/en/wework/developer-guide/wework-codex-sidebar.md
  docs/en/wework/workbench.md
  docs/zh/wework/developer-guide/wework-codex-sidebar.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/modules/conversation-layout.mjs
  wework/src/components/layout/runtimeTaskSidebarHelpers.test.ts
  wework/src/components/layout/runtimeTaskSidebarHelpers.ts
Due: none

fix(backend): stream native runtime replies back to IM cards (#2815)
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/local_task_responses.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  docs/en/architecture/README.md
  docs/en/architecture/im-runtime-streaming.md
  docs/zh/architecture/README.md
  docs/zh/architecture/im-runtime-streaming.md
Due: wegent-backend

fix(wework): harden diagram SVG sanitization
  docs/en/wework/developer-guide/wework-file-preview.md
  docs/zh/wework/developer-guide/wework-file-preview.md
  patches/@file-viewer__renderer-drawing@2.1.26.patch
  pnpm-lock.yaml
  wework/src/components/chat/MarkdownDiagramRenderer.integration.test.tsx
Due: none

fix(executor): ignore Claude events after cancellation
  executor/src/runtime_work/handler/claude_turns.rs
Due: wegent-executor

perf(ci): shorten desktop e2e critical path
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  wework/e2e/desktop/modules/desktop-build-flows.mjs
Due: none

fix(ci): stabilize merge queue runtime flows (#2801)
  docs/en/architecture/git-worktree-execution.md
  docs/en/architecture/project-execution-state.md
  docs/zh/architecture/git-worktree-execution.md
  docs/zh/architecture/project-execution-state.md
  executor/src/local/backend/tasks.rs
  executor/src/runtime_work/util.rs
  executor/tests/app_runtime_work_send_contract.rs
  executor/tests/local_backend_contract.rs
  frontend/e2e/utils/provider-native-test-support.ts
  frontend/src/__tests__/features/tasks/components/chat/context-selector.test.tsx
  frontend/src/features/tasks/components/chat/KnowledgeSourcePicker.tsx
Due: wegent-executor, wegent-web

test(wework): resolve embedded browser zoom mock
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
Due: none

fix(wework): render Mermaid HTML line breaks (#2820)
  docs/en/wework/developer-guide/wework-file-preview.md
  docs/zh/wework/developer-guide/wework-file-preview.md
  patches/@file-viewer__renderer-drawing@2.1.26.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  wework/src/components/chat/MarkdownDiagramRenderer.integration.test.tsx
  wework/vite.config.ts
Due: none

fix(plugins): harden device inventory reconciliation
  backend/app/api/endpoints/installed_plugins.py
  backend/app/schemas/installed_plugin.py
  backend/app/services/plugin_device_installation_service.py
  backend/tests/services/test_plugin_marketplace_v2.py
  wework/src/api/adapters.test.ts
  wework/src/api/local/codexPlugins.readStateCache.test.ts
  wework/src/api/local/codexPlugins.ts
  wework/src/api/plugins.ts
  wework/src/components/plugins/PluginsWorkspace.test.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/installedPluginMerge.test.ts
  wework/src/components/plugins/installedPluginMerge.ts
  wework/src/components/plugins/marketplaceCatalogMerge.test.ts
  wework/src/components/plugins/marketplaceCatalogMerge.ts
  wework/src/features/plugins/pluginDeviceAutoSync.test.ts
  wework/src/features/plugins/pluginDeviceAutoSync.ts
  wework/src/features/plugins/pluginMarketplaceCache.test.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
  wework/src/features/plugins/retainOpenAiOfficialLocalInstalls.test.ts
  wework/src/features/plugins/retainOpenAiOfficialLocalInstalls.ts
  wework/src/types/api.ts
Due: wegent-backend

fix(wework): expose project creation in empty sidebar (#2777)
  docs/en/wework/projects.md
  docs/zh/wework/projects.md
  scripts/hooks/check-alembic-heads.sh
  wework/e2e/desktop/modules/shared.mjs
  wework/src/components/layout/DesktopSidebar.test.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/workspace-panels/WorkspaceBrowserPanel.test.tsx
Due: none

feat(wework): add plugin right panel contributions
  docs/en/architecture/workbench-plugin-runtime.md
  docs/zh/architecture/workbench-plugin-runtime.md
  scripts/acceptance/executor-home-persistence-probe.sh
  scripts/acceptance/executor-persistence-json.py
  scripts/acceptance/executor-rpc-probe.py
  wework/scripts/dev-mac-app.sh
  wework/src-tauri/bundled-plugins/wework-plugin-example/.wework-plugin/plugin.json
  wework/src-tauri/bundled-plugins/wework-plugin-example/README.md
  wework/src-tauri/bundled-plugins/wework-plugin-example/workbench/frontend.js
  wework/src-tauri/src/workbench_plugins.rs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/components/settings/ConnectionsSettingsPage.tsx
  wework/src/components/topnav/AppIframe.test.tsx
  wework/src/main.tsx
  wework/src/plugin-runtime/DynamicWorkbenchPluginHost.test.tsx
  wework/src/plugin-runtime/DynamicWorkbenchPluginHost.tsx
  wework/src/plugin-runtime/apps.test.tsx
  wework/src/plugin-runtime/external.test.ts
  wework/src/plugin-runtime/external.ts
  wework/src/plugin-runtime/right-panels.test.tsx
  wework/src/plugin-runtime/right-panels.tsx
  wework/src/plugin-runtime/runtime.ts
  wework/src/plugin-runtime/settings.test.tsx
  wework/src/plugin-runtime/settings.tsx
Due: none

fix(executor): emit Claude terminal events before cleanup
  executor/src/runtime_work/handler/claude_turns.rs
Due: wegent-executor

perf(ci): rebalance Wework Core checkpoints
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(knowledge): 收紧 Provider 原生路由边界
  backend/app/services/chat/selected_knowledge.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/chat/test_selected_knowledge.py
  backend/tests/services/chat/test_trigger_unified.py
Due: wegent-backend

perf(ci): rebalance Wework Cloud checkpoints
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

feat(wework): copy workspace file relative path
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.test.tsx
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFileTree.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/workspace-relative-path.test.ts
  wework/src/lib/workspace-relative-path.ts
Due: none

feat: 修复测试用例
  executor/tests/codex_app_server_contract.rs
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/src/App.tsx
  wework/src/components/layout/DesktopAppSwitcher.test.tsx
  wework/src/components/layout/DesktopAppSwitcher.tsx
  wework/src/components/settings/GeneralSettingsPage.test.tsx
  wework/src/components/settings/GeneralSettingsPage.tsx
Due: wegent-executor

docs(wework): document relative path copy action
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none

fix(knowledge): 完善默认来源与显式校验
  backend/app/services/chat/selected_knowledge.py
  backend/app/services/chat/trigger/unified.py
  backend/tests/services/chat/test_selected_knowledge.py
Due: wegent-backend

fix(wework): preserve lifecycle reconciliation ownership
  wework/src/features/workbench/WorkbenchProvider.test.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
Due: none

test(wework): poll for task ID in plugin E2E flows
  wework/e2e/desktop/modules/plugin-flows.mjs
Due: none

feat: 修复测试用例
  executor/tests/codex_attachment_input_contract.rs
Due: wegent-executor

perf(ci): reduce Wework CI below ten minutes (#2821)
  .github/scripts/archive-wework-core-e2e-build.sh
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-ci-cache-policy.sh
  .github/scripts/test-classify-ci-changes.sh
  .github/workflows/ci-cache-warmup.yml
  .github/workflows/wework-e2e.yml
  docs/en/wework/developer-guide/wework-e2e-automation.md
  docs/zh/wework/developer-guide/wework-e2e-automation.md
  executor/src/runtime_work/handler/claude_turns.rs
  pnpm-lock.yaml
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/package.json
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
Due: wegent-executor

feat(wework): run DeepSeek Harness apps as plugins
  .gitignore
  docs/en/architecture/README.md
  docs/en/architecture/deepseek-harness-apps.md
  docs/zh/architecture/README.md
  docs/zh/architecture/deepseek-harness-apps.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/harness-runtime/.npmrc
  wework/harness-runtime/package.json
  wework/harness-runtime/pnpm-lock.yaml
  wework/harness-runtime/pnpm-workspace.yaml
  wework/package.json
  wework/scripts/ai-verify.mjs
  wework/scripts/prepare-deepseek-harness-runtime.mjs
  wework/src-tauri/Cargo.lock
  wework/src-tauri/Cargo.toml
  wework/src-tauri/bundled-deepseek-harness/.resource-placeholder
  wework/src-tauri/src/harness_apps.rs
  wework/src-tauri/src/harness_apps/tests.rs
  wework/src-tauri/src/lib.rs
  wework/src-tauri/tauri.conf.json
  wework/src/api/local/harnessApps.ts
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/e2e/automation.ts
  wework/src/features/harness-apps/harnessAppTabs.ts
  wework/src/features/local-harness/localHarnessModels.test.ts
  wework/src/features/local-harness/localHarnessModels.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/pages/HarnessAppsPage.test.tsx
  wework/src/pages/HarnessAppsPage.tsx
  wework/src/plugins/base-profile.ts
  wework/src/plugins/harness-apps.tsx
Due: none

fix(plugins): keep shared recipient plugins out of owner flows
  wework/src/components/plugins/PluginManagementRows.test.tsx
  wework/src/components/plugins/PluginManagementWorkspace.tsx
  wework/src/components/plugins/PluginsWorkspace.tsx
  wework/src/components/plugins/hooks/usePluginDetailSelection.test.ts
  wework/src/components/plugins/hooks/usePluginDetailSelection.ts
  wework/src/components/plugins/pluginManagementSubtitle.ts
  wework/src/components/plugins/pluginOwnerLocalPackage.test.ts
  wework/src/components/plugins/pluginOwnerLocalPackage.ts
  wework/src/components/plugins/workspace/PluginMarketplaceRow.test.tsx
  wework/src/components/plugins/workspace/PluginMarketplaceRow.tsx
  wework/src/components/plugins/workspace/marketplaceWorkspaceHelpers.ts
  wework/src/components/plugins/workspace/pluginMarketplaceRowEquality.ts
  wework/src/features/plugins/pluginMarketplaceCache.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(knowledge): 隔离受限 Provider 范围
  backend/app/schemas/context_display.py
  backend/app/schemas/external_knowledge.py
  backend/app/schemas/shared_task.py
  backend/app/schemas/subtask.py
  backend/app/schemas/subtask_context.py
  backend/app/services/chat/external_knowledge_refs.py
  backend/app/services/chat/preprocessing/contexts.py
  backend/app/services/chat/selected_knowledge.py
  backend/tests/services/chat/test_external_knowledge_refs.py
  backend/tests/services/chat/test_selected_knowledge.py
  frontend/src/apis/tasks.ts
  frontend/src/app/shared/task/page.tsx
  frontend/src/features/tasks/components/chat/ChatArea.tsx
  frontend/src/features/tasks/components/chat/pipelineNextStep.ts
  frontend/src/features/tasks/components/chat/selectedKnowledge.ts
  frontend/src/features/tasks/components/chat/useChatStreamHandlers.tsx
  frontend/src/types/api.ts
  frontend/src/types/context.ts
Due: wegent-backend, wegent-web
