Repository wecode-ai/Wegent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wegent-executor-manager, wegent-executor, wegent-backend, wegent-web

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2025 Weibo, Inc.
#
# SPDX-License-Identifier: Apache-2.0

image: registry.api.weibo.com/ci/ci-runner:extend

variables:
  K8S_NAMESPACE: ci-deploy-video
  MAIL_TO: weibo_rd_video@staff.sina.com.cn
  PAAS_NAMESPACE: wb-plat-ide
  MASTER_BRANCH: wecode
stages:
  - package
  - production

wegent-runtime:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-runtime
    DOCKERFILE_PATH: wecode/docker/base
  script:
    - build_image
  when: manual
  rules:
    - when: manual

wegent-executor-manager:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor-manager
    DOCKERFILE_PATH: wecode/docker/executor_manager
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor_manager/**/*
      - wecode/docker/executor_manager/**/*
      - shared/**/*

trigger_update_executor_manager:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor-manager
        IMAGE_NAME: wegent-executor-manager-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-executor:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-executor
    DOCKERFILE_PATH: wecode/docker/executor
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - executor/**/*
      - wecode/docker/executor/**/*
      - shared/**/*

trigger_update_executor:
    stage: production
    variables:
        APP: wegent-executor-manager-web
        SERVICE: wegent-executor
        IMAGE_NAME: wegent-executor
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-backend:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-backend-web
    DOCKERFILE_PATH: wecode/docker/backend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - backend/**/*
      - wecode/docker/backend/**/*

trigger_update_backend_web:
    stage: production
    variables:
        APP: wegent-backend-web
        SERVICE: wegent-backend-web
        IMAGE_NAME: wegent-backend-web
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
        MASTER_BRANCH: master
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

wegent-web:
  stage: package
  retry: 1
  variables:
    SERVICE: wegent-web
    DOCKERFILE_PATH: wecode/docker/frontend
  script:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "wecode"'
    - changes:
      - frontend/**/*
      - wecode/docker/frontend/**/*

trigger_update_front_web:
    stage: production
    variables:
        APP: wegent-web
        SERVICE: wegent-web
        IMAGE_NAME: wegent-web
        MASTER_BRANCH: master
        UPSTREAM_CI_PROJECT_ID: $CI_PROJECT_ID
        UPSTREAM_CI_PIPELINE_ID: $CI_PIPELINE_ID
        UPSTREAM_CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
        UPSTREAM_CI_COMMIT_SHA: $CI_COMMIT_SHA
    trigger:
        project: weibo_rd/cloudnative/aigc_gitops_manifest
        branch: master
        strategy: depend
    only:
    - wecode

fix(backend): publish runtime events with device id
  backend/app/api/ws/device_namespace.py
Due: wegent-backend

fix(wework): remove release script package dependency (#3380)
  backend/app/api/ws/device_namespace.py
  wework/scripts/collect-harness-runtime-release-assets.mjs
Due: wegent-backend

fix(wework): open writable text files in editor
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/modules/path-attachment-flows.mjs
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.tsx
  wework/src/components/layout/workspace-panels/WorkspaceFilePreview.tsx
  wework/src/components/layout/workspace-panels/WorkspaceTextFileEditor.test.tsx
  wework/src/components/layout/workspace-panels/WorkspaceTextFileEditor.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(backend): resolve MCP caller user from task token
  backend/app/api/endpoints/mcp_identity.py
  backend/app/core/config.py
  backend/app/services/auth/__init__.py
  backend/app/services/auth/mcp_identity_token.py
  backend/app/services/execution/request_builder.py
  backend/tests/api/test_mcp_identity_api.py
  backend/tests/core/test_config.py
  backend/tests/services/auth/test_mcp_identity_token.py
  backend/tests/services/execution/test_request_builder_mcp.py
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
  wework/scripts/collect-harness-runtime-release-assets.mjs
Due: wegent-backend

fix(wework): match marketplace installations by app ID
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/e2e/desktop/modules/smart-app-marketplace-identity.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
Due: none

fix(channels): show DingTalk card errors and reject non-Claude cloud models
  backend/app/services/channels/dingtalk/emitter.py
  backend/app/services/channels/handler.py
  backend/tests/services/channels/dingtalk/test_emitter.py
  backend/tests/services/channels/telegram_channel/test_handler.py
Due: wegent-backend

fix(executor): stream safe plugin auth diagnostics to existing logs
  docs/en/wework/developer-guide/plugin-account-auth.md
  docs/zh/wework/developer-guide/plugin-account-auth.md
  executor/src/runtime_work/local_connector_auth.rs
  executor/src/runtime_work/local_connector_auth/diagnostics.rs
Due: wegent-executor

fix(terminal): harden delivery recovery
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/terminal_namespace.py
  backend/app/services/device/terminal_protocol.py
  backend/app/services/device/terminal_session_service.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/api/ws/test_terminal_namespace.py
  backend/tests/api/ws/test_terminal_protocol_compatibility.py
  backend/tests/services/device/test_terminal_session_service.py
  executor/src/local/backend/client.rs
  executor/src/local/backend/handlers.rs
  executor/src/local/backend/terminal_relay.rs
  executor/src/local/pty.rs
  executor/src/local/session.rs
  executor/src/local/session/terminal.rs
  executor/tests/support/terminal_protocol_compatibility.rs
  executor/tests/unix_pty_manager_contract.rs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/terminal-compatibility-flows.mjs
  wework/src/components/layout/workspace-panels/RemoteTerminal.test.tsx
  wework/src/components/layout/workspace-panels/RemoteTerminal.tsx
  wework/src/lib/remote-terminal-socket.test.ts
  wework/src/lib/remote-terminal-socket.ts
Due: wegent-executor, wegent-backend

test(backend): align runtime event route identity
  backend/tests/api/ws/test_wework_runtime_namespace.py
Due: wegent-backend

feat(backend): resolve MCP caller user from task token (#3277)
  backend/app/api/api.py
  backend/app/api/endpoints/mcp_identity.py
  backend/app/core/config.py
  backend/tests/api/test_mcp_identity_api.py
  docs/en/wegent/reference/yaml-specification.md
  docs/zh/wegent/reference/yaml-specification.md
Due: wegent-backend

feat(code-wiki): record source file counts from checkout
  backend/init_data/skills/wiki_submit/SKILL.md
  backend/init_data/skills/wiki_submit/wiki_submit.js
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
Due: wegent-backend

fix(code-wiki): compact generation history metadata
  frontend/src/__tests__/features/knowledge/code-wiki/run-history-panel.test.tsx
  frontend/src/__tests__/features/knowledge/code-wiki/run-history.test.tsx
  frontend/src/features/knowledge/code-wiki/RunHistory.tsx
  frontend/src/i18n/locales/en/knowledge.json
  frontend/src/i18n/locales/zh-CN/knowledge.json
Due: wegent-web

test(knowledge): scope category reset to disabled rollout
  frontend/src/__tests__/features/knowledge/document/knowledge-tree.test.tsx
Due: wegent-web

fix(wework): build macOS x64 releases on Intel runners
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
Due: none

fix(terminal): prevent delivery reconnect storms (#3372)
  backend/app/api/ws/device_namespace.py
  backend/app/api/ws/terminal_namespace.py
  backend/app/services/device/session_service.py
  backend/app/services/device/terminal_protocol.py
  backend/app/services/device/terminal_session_service.py
  backend/tests/api/ws/test_device_capabilities_state.py
  backend/tests/api/ws/test_terminal_namespace.py
  backend/tests/api/ws/test_terminal_protocol_compatibility.py
  backend/tests/services/device/test_terminal_session_service.py
  backend/tests/services/test_project_device_session_service.py
  executor/src/local/backend.rs
  executor/src/local/backend/client.rs
  executor/src/local/backend/handlers.rs
  executor/src/local/backend/terminal_relay.rs
  executor/src/local/pty.rs
  executor/src/local/session.rs
  executor/src/local/session/terminal.rs
  executor/tests/local_backend_device_migration_contract.rs
  executor/tests/local_backend_resilience_contract.rs
  executor/tests/support/terminal_protocol_compatibility.rs
  executor/tests/unix_pty_manager_contract.rs
  wework/e2e/desktop/modules/cloud-environment.mjs
  wework/e2e/desktop/modules/desktop-build-flows.mjs
  wework/e2e/desktop/modules/terminal-compatibility-flows.mjs
  wework/src/components/layout/workspace-panels/RemoteTerminal.test.tsx
  wework/src/components/layout/workspace-panels/RemoteTerminal.tsx
  wework/src/lib/remote-terminal-socket.test.ts
  wework/src/lib/remote-terminal-socket.ts
Due: wegent-executor, wegent-backend

fix(wework): match marketplace installations by app ID (#3381)
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/e2e/desktop/modules/smart-app-marketplace-identity.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
Due: none

fix(channels): show DingTalk card errors and reject non-Claude cloud models (#3379)
  backend/app/services/channels/dingtalk/emitter.py
  backend/app/services/channels/handler.py
  backend/tests/services/channels/dingtalk/test_emitter.py
  backend/tests/services/channels/telegram_channel/test_handler.py
Due: wegent-backend

test(wework): enforce native release runner architectures
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(wework): autosave workspace text files
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
  wework/e2e/desktop/modules/cloud-worktree-flows.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/FileWorkspacePanel.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

feat(wework): sync encrypted native transcripts across devices (#3360)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  backend/.env.example
  backend/app/api/endpoints/wework_transcripts.py
  backend/app/api/ws/device_namespace.py
  backend/app/core/config.py
  backend/app/core/wework_transcript_encryption.py
  backend/app/schemas/wework_transcript.py
  backend/app/services/wework_transcript_service.py
  backend/app/services/wework_transcript_storage.py
  backend/tests/api/endpoints/test_wework_transcripts_api.py
  backend/tests/api/ws/test_wework_runtime_namespace.py
  backend/tests/services/test_wework_transcript_storage.py
  docs/en/wework/developer-guide/wework-transcript-sync.md
  docs/zh/wework/developer-guide/wework-transcript-sync.md
  executor/src/agents/codex.rs
  executor/src/agents/mod.rs
  executor/src/runtime_work/codex_transcript_page.rs
  executor/src/runtime_work/events.rs
  executor/src/runtime_work/handler.rs
  executor/src/runtime_work/handler/queries.rs
  executor/src/runtime_work/handler/tests.rs
  executor/src/runtime_work/handler/transcript_sync.rs
  executor/src/runtime_work/mod.rs
  executor/src/runtime_work/native_transcript.rs
  wework/dsh/executor-runtime/index.js
  wework/dsh/executor-runtime/index.test.mjs
  wework/dsh/executor-runtime/transcript-source.js
  wework/dsh/transcript-sync/index.js
  wework/dsh/transcript-sync/index.test.mjs
  wework/e2e/desktop/modules/task-flow-main.mjs
  wework/e2e/desktop/scenarios/transcript-sync.scenario.mjs
  wework/src/api/hybrid/hybridServices.ts
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/components/chat/MarkdownCodeBlock.tsx
  wework/src/features/workbench/WorkbenchProvider.tsx
  wework/src/stream/chatStream.ts
  wework/src/stream/responseApiStream.test.ts
  wework/src/stream/responseApiStream.ts
Due: wegent-executor, wegent-backend

fix(board): persist conversation stop before runtime cancellation
  backend/app/api/ws/wework_runtime_namespace.py
  backend/app/services/loop_item_executions/service.py
  backend/app/services/runtime_task_stop.py
  backend/app/services/runtime_work_service.py
  backend/tests/services/test_issue_assignments.py
  docs/en/developer-guide/board-automation-acceptance.md
  docs/zh/developer-guide/board-automation-acceptance.md
  wework/e2e/desktop/modules/event-center-flows.mjs
Due: wegent-backend

test(wework): wait for selected file before editing
  wework/e2e/desktop/scenarios/local-file-preview.scenario.mjs
Due: none

fix(wework): focus execution-stage board columns
  wework/README.md
  wework/e2e/desktop/scenarios/board-focus-view.scenario.mjs
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): build macOS x64 releases on Intel runners (#3383)
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(code-wiki): bound repository metadata reads
  backend/app/repository/gitea_provider.py
  backend/app/repository/gitlab_provider.py
  backend/tests/repository/test_repository_state_reads.py
  backend/tests/services/knowledge/code_wiki/test_code_wiki_skills.py
  frontend/src/__tests__/components/model-select/model-ref-selector-preference.test.tsx
  frontend/src/components/model-select/ModelRefSelector.tsx
Due: wegent-backend, wegent-web

fix(board): make human replies and handoff notifications actionable
  backend/app/api/endpoints/deliveries.py
  backend/app/schemas/wework_navigation.py
  backend/app/services/issue_assignments.py
  backend/app/services/loop_items/assignment_notification.py
  backend/tests/services/test_issue_assignments.py
  backend/tests/services/test_issue_human_replies.py
  docs/en/developer-guide/board-automation-acceptance.md
  docs/zh/developer-guide/board-automation-acceptance.md
  wework/e2e/desktop/modules/event-center-flows.mjs
  wework/electron/src/host/electron-capabilities.ts
  wework/src/api/deliveries.ts
  wework/src/api/runtime/runtimeChatStream.ts
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/features/notifications/NotificationCenter.tsx
  wework/src/features/notifications/NotificationEventsBridge.tsx
  wework/src/features/notifications/scheme.test.ts
  wework/src/features/notifications/scheme.ts
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/IssueAssignmentPanel.test.tsx
  wework/src/features/todo/IssueAssignmentPanel.tsx
  wework/src/features/todo/IssueHumanReplyPanel.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/workbench/runtimeTaskSystemNotifications.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/stream/chatStream.ts
Due: wegent-backend

fix(wework): validate Smart App release publishing (#3371)
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.test.tsx
  wework/dsh/ui-applications/src/SmartAppsMarketplacePage.tsx
  wework/e2e/desktop/modules/workspace-flows.mjs
  wework/e2e/desktop/scenarios/harness-apps.scenario.mjs
  wework/electron/src/host/smart-app-manager.test.ts
  wework/electron/src/host/smart-app-manager.ts
  wework/src/components/layout/DesktopWorkbenchLayout.test.tsx
  wework/src/components/layout/workspace-panels/RightWorkspacePanel.tsx
  wework/src/e2e/automation.ts
  wework/src/features/harness-apps/HarnessAppAutoLauncher.tsx
  wework/src/features/harness-apps/HarnessAppInstallDialog.tsx
  wework/src/features/harness-apps/SmartAppDevelopmentDialog.tsx
  wework/src/features/harness-apps/SmartAppPluginDialog.tsx
  wework/src/features/harness-apps/useHarnessAppManagement.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
  wework/src/lib/smart-app-error-message.test.ts
  wework/src/lib/smart-app-error-message.ts
Due: none

fix(executor): generalize diagnostics for all local auth plugins
  docs/en/wework/developer-guide/plugin-account-auth.md
  docs/zh/wework/developer-guide/plugin-account-auth.md
  executor/src/runtime_work/local_connector_auth.rs
  executor/src/runtime_work/local_connector_auth/diagnostics.rs
Due: wegent-executor

feat(wework): export conversations as markdown or html
  wework/dsh/app-wework/client.d.ts
  wework/dsh/app-wework/client.js
  wework/dsh/app-wework/client.test.mjs
  wework/dsh/conversation-export/client.js
  wework/dsh/conversation-export/client.test.mjs
  wework/dsh/conversation-export/cordis.patch.yml
  wework/dsh/conversation-export/index.js
  wework/dsh/conversation-export/index.test.mjs
  wework/dsh/conversation-export/package.json
  wework/dsh/conversation-export/src/dialog.test.tsx
  wework/dsh/conversation-export/src/dialog.tsx
  wework/dsh/conversation-export/src/formatConversation.test.ts
  wework/dsh/conversation-export/src/formatConversation.ts
  wework/dsh/conversation-export/src/prepareConversationExport.test.ts
  wework/dsh/conversation-export/src/prepareConversationExport.ts
  wework/dsh/conversation-export/src/renderMarkdown.tsx
  wework/dsh/ui-plugins.test.mjs
  wework/e2e/desktop/modules/core-dsh-ui-plugin-flows.mjs
  wework/electron/src/runtime/core-dsh-runtime.test.ts
  wework/electron/src/runtime/core-dsh-runtime.ts
  wework/scripts/lib/core-plugin-resources.mjs
  wework/src/App.tsx
  wework/src/components/layout/DesktopSidebar.tsx
  wework/src/components/layout/DesktopWorkbenchLayout.tsx
  wework/src/components/layout/DesktopWorkbenchMain.tsx
  wework/src/features/dsh-runtime/DshMenuActions.test.tsx
  wework/src/features/dsh-runtime/DshMenuActions.tsx
  wework/src/features/dsh-runtime/dshConversationTranscript.test.ts
  wework/src/features/dsh-runtime/dshConversationTranscript.ts
  wework/src/features/dsh-runtime/dshExtensions.ts
  wework/vite.config.ts
Due: none

fix(board): keep human clarification replies in the original comment thread
  backend/app/services/issue_assignment_comments.py
  backend/app/services/issue_assignments.py
  backend/app/services/loop_items/assignment_notification.py
  backend/app/services/project_chat/service.py
  backend/app/services/project_chat/thread_context.py
  backend/tests/services/test_issue_assignments.py
  backend/tests/services/test_issue_human_replies.py
  docs/en/developer-guide/board-automation-acceptance.md
  docs/en/user-guide/board-automation.md
  docs/zh/developer-guide/board-automation-acceptance.md
  docs/zh/user-guide/board-automation.md
  wework/e2e/desktop/modules/event-center-flows.mjs
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/todo/IssueAssignmentPanel.test.tsx
  wework/src/features/todo/IssueHumanReplyPanel.tsx
  wework/src/features/todo/TaskActivityView.test.tsx
  wework/src/features/todo/TaskActivityView.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/assignmentReplyThread.test.ts
  wework/src/features/todo/assignmentReplyThread.ts
  wework/src/features/todo/task-detail-layout.css
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: wegent-backend

fix(wework): deduplicate merge queue click command
  wework/src/e2e/automation.ts
Due: none

docs(wework): document conversation export
  docs/en/wework/tasks.md
  docs/zh/wework/tasks.md
Due: none

fix(ci): rebalance Wework cloud E2E shards
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
Due: none

fix(wework): stabilize macOS release builds
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/electron/scripts/notarize-macos.cjs
  wework/electron/src/notarize-macos.test.ts
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(wework): improve running board card progress (#3375)
  .github/scripts/classify-wework-desktop-e2e.sh
  .github/scripts/test-classify-ci-changes.sh
  wework/README.md
  wework/e2e/desktop/checkpoints.mjs
  wework/e2e/desktop/run-checkpoints.mjs
  wework/e2e/desktop/scenarios/board-focus-view.scenario.mjs
  wework/src/components/chat/blocks/ToolBlockItem.test.tsx
  wework/src/components/chat/blocks/ToolBlockItem.tsx
  wework/src/components/chat/blocks/toolBlockActivity.test.ts
  wework/src/components/chat/blocks/toolBlockActivity.ts
  wework/src/features/todo/CloudTodoBoardCard.test.tsx
  wework/src/features/todo/CloudTodoBoardCard.tsx
  wework/src/features/todo/CloudTodoWorkspace.test.tsx
  wework/src/features/todo/CloudTodoWorkspace.tsx
  wework/src/features/workbench/runtimeThinking.test.ts
  wework/src/features/workbench/runtimeThinking.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): stabilize macOS release builds (#3386)
  .github/workflows/wework-app.yml
  docs/en/wework/developer-guide/wework-macos-release.md
  docs/zh/wework/developer-guide/wework-macos-release.md
  wework/electron/scripts/notarize-macos.cjs
  wework/electron/src/notarize-macos.test.ts
  wework/src/test/bundled-plugin-resources.test.ts
Due: none

fix(board): preserve AI stage authority and expose explicit resume
  docs/en/developer-guide/board-automation-acceptance.md
  docs/zh/developer-guide/board-automation-acceptance.md
  wework/e2e/desktop/modules/event-center-flows.mjs
  wework/src/api/issueWorkflow.ts
  wework/src/features/todo/IssueWorkflowControls.tsx
  wework/src/features/todo/IssueWorkflowDag.test.tsx
  wework/src/features/todo/IssueWorkflowDag.tsx
  wework/src/features/todo/TodoEditor.test.tsx
  wework/src/features/todo/TodoEditor.tsx
  wework/src/features/todo/issueWorkflow.test.ts
  wework/src/i18n/locales/en/common.json
  wework/src/i18n/locales/zh-CN/common.json
Due: none

fix(wework): bound fixed hover previews
  wework/src/components/ui/hover-card.test.tsx
  wework/src/components/ui/hover-card.tsx
Due: none

docs(wework): document board hover preview
  docs/en/wework/workbench.md
  docs/zh/wework/workbench.md
Due: none
